.p-globalping {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 28px;

	@media (min-width: @screen-sm-min) {
		padding-bottom: 88px;
	}

	.gp {
		&_main-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			row-gap: 32px;
			margin: 40px 24px;
			max-width: 808px;

			@media (min-width: @screen-sm-min) {
				margin: 100px 24px 64px;
			}

			&_descr {
				color: #fff;
				font-weight: 600;
				font-size: 26px;
				line-height: 36px;

				@media (min-width: @screen-md-min) {
					display: flex;
					flex-direction: column;
					font-size: 40px;
					line-height: 60px;
				}

				&_green {
					color: #17d4a7;
				}
			}

			&_stats {
				display: flex;

				@media (min-width: @screen-sm-min) {
					column-gap: 48px;
				}

				&_item {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					flex-grow: 1;
					flex-basis: 0;
					color: #fff;
					row-gap: 8px;

					@media (min-width: @screen-sm-min) {
						row-gap: 0;
						flex-grow: 0;
					}

					&:nth-child(1) {
						.gp_main-info_stats_item_number {
							padding-left: 2px;

							>span {
								left: -2px;
								width: 65px;

								@media (min-width: @screen-sm-min) {
									width: 89px;
								}
							}
						}
					}

					&:nth-child(2) {
						.gp_main-info_stats_item_number {
							padding-left: 1.3px;

							>span {
								left: -1.3px;
								width: 61px;

								@media (min-width: @screen-sm-min) {
									width: 85px;
								}
							}
						}
					}

					&:nth-child(3) {
						.gp_main-info_stats_item_number {
							padding-left: .67px;

							>span {
								left: .67px;
								width: 45px;

								@media (min-width: @screen-sm-min) {
									width: 60px;
								}
							}
						}
					}

					&_number {
						position: relative;
						font-weight: 600;
						font-size: 26px;
						line-height: 36px;

						@media (min-width: @screen-sm-min) {
							font-weight: 600;
							font-size: 40px;
							line-height: 60px;
						}

						>span {
							position: absolute;
							bottom: 4px;
							left: 0;
							z-index: -1;
							display: inline-block;
							// width: 125%;
							height: 8px;
							background: #17d4a7;

							@media (min-width: @screen-sm-min) {
								bottom: 11px;
							}
						}
					}

					&_text {
						font-weight: 400;
						font-size: 16px;
						line-height: 20px;

						@media (min-width: @screen-sm-min) {
							white-space: nowrap;
						}
					}
				}
			}
		}

		&_map-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #fff;
			width: 100%;
			z-index: 1;

			@media (min-width: @screen-sm-min) {
				max-width: 1224px;
				margin: 0 auto;
				width: calc(100% - 48px);
				border: 1.5px solid #e7e7ee;
				filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .04));
				border-radius: 8px;
			}

			&_header {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					column-gap: 9px;
					width: 100%;
					height: 40px;
					padding: 0 13.5px;
					background: linear-gradient(180deg, #fff 0, #fafafa 100%);
					border-radius: 8px 8px 0 0;
				}

				>span:nth-child(1), >span:nth-child(2), >span:nth-child(3) {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: #e7e7ee;
					border: 1px solid #e7e7ee;
				}

				&_share-res-msg {
					width: auto;
					margin-left: auto;
				}
			}

			&_map-wrapper {
				position: relative;
				width: 100%;
				height: 360px;
				transition: height .25s ease-out;
				overflow: hidden;

				@media (min-width: @screen-sm-min) {
					height: 524px;
				}

				&_hidden {
					height: 0;
				}

				&_map {
					width: 100%;
					height: 100%;
					background: #ededee;// temp
				}

				&_timings-scale {
					position: absolute;
					right: 16px;
					top: 16px;
					display: flex;
					flex-direction: column;
					row-gap: 16px;
					align-items: center;

					@media (min-width: @screen-sm-min) {
						right: 32px;
						top: 32px;
					}

					.number {
						font-weight: 600;
						font-size: 12px;
						line-height: 100%;
						color: #17233a;
					}

					.gradient {
						width: 10px;
						height: 120px;
						background: linear-gradient(180deg, #e64e3d .01%, #ffb800 49.48%, #17d4a7 100%);
						border-radius: 19px;
					}
				}
			}

			&_line {
				width: 100%;
				height: 1px;
				background: #e7e7ee;
			}

			&_settings-wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 24px;

				@media (min-width: @screen-sm-min) {
					padding: 32px 32px 24px;
				}

				&_settings {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						flex-direction: row;
						justify-content: space-between;
						align-items: flex-end;
						column-gap: 8px;
					}

					.gp_dropdown_reg {
						@media (min-width: @screen-sm-min) {
							width: 140px;
						}

						.btn-group {
							@media (min-width: @screen-sm-min) {
								width: 140px;
							}

							.dropdown-menu {
								width: 100%;
							}
						}
					}

					&_target, &_location {
						width: 100%;
					}

					&_location {
						&:not(:nth-child(1)) {
							margin-top: 10px;

							@media (min-width: @screen-sm-min) {
								margin-top: 0;
							}
						}

						@media (min-width: @screen-sm-min) and (max-width: @screen-md-min) {
							max-width: 80px;
						}

						@media (min-width: @screen-md-min) {
							max-width: 160px;
						}
					}

					&_limit {
						width: 72px;
					}

					&_target, &_limit {
						&:not(:nth-child(1)) {
							margin-top: 16px;

							@media (min-width: @screen-sm-min) {
								margin-top: 0;
							}
						}
					}

					&_grouped {
						position: relative;
						display: flex;
						align-items: flex-end;
						justify-content: flex-start;
						margin-top: 16px;
						column-gap: 16px;

						@media (max-width: @screen-sm-min) {
							width: 100%;
						}

						@media (min-width: @screen-sm-min) {
							column-gap: 8px;
							position: static;
							margin-top: 0;
						}

						&_options-block {
							@media (min-width: @screen-sm-min) {
								position: relative;
							}

							>button {
								position: relative;
								display: flex;
								align-items: center;
								justify-content: center;
								width: 40px;
								height: 40px;
								background: #fff;
								border: 1.5px solid #e1e1e1;
								box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
								border-radius: 8px;

								&:focus-visible {
									box-shadow: 0 2px 2px rgba(0, 0, 0, .04), 0 0 0 1px #fff, 0 0 0 4px rgba(23, 212, 167, .48);
									border: 1.5px solid #e7e7ee;
									outline: none;
								}

								&.active {
									background: #cfd6dd;
									border: 1px solid #cfd6dd;
								}

								& > .additional-opts-total {
									position: absolute;
									display: flex;
									align-items: center;
									justify-content: center;
									width: 20px;
									height: 20px;
									left: 30px;
									top: -10px;
									background: #17233a;
									border-radius: 8px;
									font-weight: 600;
									font-size: 12px;
									line-height: 100%;
									color: #fff;
								}
							}

							.active + div {
								display: flex;
							}

							&_specific-set {
								position: absolute;
								z-index: 1;
								left: 0;
								top: 68px;
								display: none;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								row-gap: 16px;
								width: 100%;
								max-width: 510px;
								padding: 24px;
								background: #fff;
								border: 1.5px solid #e7e7ee;
								box-shadow: 0 7px 36px rgba(0, 0, 0, .05);
								border-radius: 8px;

								@media (min-width: @screen-sm-min) {
									top: 44px;
									right: 0;
									left: auto;
									width: 510px;
								}

								.gp_btn_green {
									width: 100%;
									margin-top: 16px;
								}

								.typePing, .typeTraceroute, .typeDNS, .typeMTR, .typeHTTP {
									width: 100%;
								}

								.typePing {
									.gp_input {
										width: 100%;
									}
								}

								.typeTraceroute {
									.pair {
										display: flex;
										align-items: flex-end;
										justify-content: space-between;
										column-gap: 16px;
										width: 100%;

										@media (min-width: @screen-sm-min) {
											column-gap: 8px;
										}
									}
								}

								.typeDNS {
									.rows {
										display: flex;
										flex-direction: column;
										align-items: center;
										justify-content: space-between;
										row-gap: 16px;
										width: 100%;

										@media (min-width: @screen-sm-min) {
											flex-direction: row;
											column-gap: 8px;
										}

										&_row-one, &_row-two {
											display: flex;
											align-items: flex-end;
											justify-content: space-between;
											column-gap: 16px;
											width: 100%;
										}

										&_row-one {
											@media (min-width: @screen-sm-min) {
												column-gap: 8px;
											}
										}

										&_row-two {
											&_switch-block {
												display: flex;
												align-items: center;
												height: 40px;
												column-gap: 8px;
											}
										}
									}

									.resolver-input {
										width: 100%;
										margin-top: 16px;
									}

									.port-input {
										width: 79px;
									}
								}

								.typeMTR {
									display: flex;
									flex-direction: column;
									row-gap: 16px;

									.pair {
										display: flex;
										align-items: flex-end;
										justify-content: space-between;
										column-gap: 16px;
										width: 100%;

										@media (min-width: @screen-sm-min) {
											column-gap: 8px;
										}
									}
								}

								.typeHTTP {
									display: flex;
									flex-direction: column;
									row-gap: 16px;

									.pair {
										display: flex;
										align-items: flex-end;
										justify-content: space-between;
										column-gap: 16px;
										width: 100%;

										@media (min-width: @screen-sm-min) {
											column-gap: 8px;
										}
									}
								}
							}
						}

						&_switch-block {
							display: flex;
							height: 40px;
							align-items: center;
							column-gap: 8px;

							&:focus-within {
								.gp_switch .slider {
									transition: none;
									box-shadow: 0 2px 2px rgba(0, 0, 0, .04), 0 0 0 1px #fff, 0 0 0 4px rgba(23, 212, 167, .48);
									border: 1.5px solid #e7e7ee;
								}
							}

							>span {
								white-space: nowrap;
							}

							&.disabled {
								opacity: .5;

								> label > span:before {
									background: #808080;
								}

								>span {
									opacity: .4;
								}
							}
						}
					}

					&_btn {
						margin-top: 16px;
						width: 100%;
						white-space: nowrap;

						@media (min-width: @screen-sm-min) {
							width: auto;
							min-width: 98px;
							margin-top: 0;
						}
					}
				}
			}

			&_test-output {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;

				&.with-padding {
					padding: 24px;

					@media (min-width: @screen-sm-min) {
						padding: 32px;
					}
				}

				&_info, &_fail-msg {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					row-gap: 24px;
					padding: 24px;
					border-radius: 8px;
					width: 100%;
					background: #fbfbfb;

					@media (min-width: @screen-sm-min) {
						flex-direction: row;
						align-items: center;
						column-gap: 24px;
						padding: 32px;
					}

					>p {
						margin: 0;
						padding: 0;
						font-size: 16px;
						line-height: 32px;
						color: #17233a;
					}
				}

				&_raw-output, &_table-output {
					width: 100%;
					visibility: visible;

					&.output-hidden {
						position: absolute;
						left: -100%;
						visibility: hidden;
					}
				}

				&_raw-output {
					padding: 24px;

					@media (min-width: @screen-sm-min) {
						padding: 0 32px 32px 4px;
					}
				}
			}

			.gp_map-block_map-wrapper_hidden + .gp_map-block_test-output {
				margin-top: -24px;

				@media (min-width: @screen-sm-min) {
					margin-top: -32px;
				}
			}
		}

		&_detalization {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 1064px;
			padding: 0 24px;
			row-gap: 48px;
			margin-top: 40px;

			@media (min-width: @screen-sm-min) {
				margin-top: 100px;
			}

			@media (min-width: @screen-md-min) {
				row-gap: 0;
			}

			&_platform, &_magic {
				position: relative;
				display: flex;
				flex-direction: column;
				row-gap: 16px;
				width: 100%;

				&_title, &_descr {
					width: 100%;

					@media (min-width: @screen-md-min) {
						max-width: 484px;
					}
				}

				&_title {
					font-size: 32px;
					line-height: 50px;
					font-weight: 600;
					letter-spacing: .2px;
					color: #17233a;
				}

				&_descr {
					font-size: 16px;
					line-height: 32px;
					color: #17233a;
				}

				&_img {
					display: none;
					position: absolute;

					@media (min-width: @screen-md-min) {
						display: inline;
					}
				}
			}

			&_platform {
				align-items: flex-start;

				&_img {
					top: -75px;
					right: 37px;
				}
			}

			&_magic {
				align-items: flex-end;

				@media (min-width: @screen-lg-min) {
					top: -50px;
				}

				&_img {
					bottom: -36px;
					left: -58px;
				}

				a {
					color: #17d4a7;
					font-weight: 600;
				}
			}

			.text-magic-color {
				background: linear-gradient(to right, #17d4a7, #507bfd);
				background-clip: text;
				-webkit-background-clip: text;
				-moz-background-clip: text;
				-webkit-text-fill-color: transparent;
				-moz-text-fill-color: transparent;
				color: transparent;
			}
		}

		&_features {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 32px;
			padding: 40px 24px 0;

			@media (min-width: @screen-sm-min) {
				margin-top: 40px;
				max-width: 1016px;
				flex-flow: row wrap;
				align-items: flex-start;
				gap: 64px 24px;
			}

			&_item {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				row-gap: 16px;

				@media (min-width: @screen-sm-min) {
					max-width: calc(50% - 12px);
				}

				&_name {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					width: 100%;
					font-weight: 600;
					font-size: 20px;
					line-height: 32px;
					color: #17233a;
					padding-bottom: 5px;
					border-image-slice: 1;
					border-style: solid;
					border-image-source: linear-gradient(to left, #fff, #17d4a7);
					border-image-width: 0 0 1.5px;
					border-left: 0;
					border-right: 0;
					border-top: 0;
				}

				&_descr {
					font-weight: 400;
					font-size: 16px;
					line-height: 32px;
					color: #17233a;
				}
			}
		}

		&_installation {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 24px;
			padding: 0 24px;
			margin-top: 40px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				column-gap: 24px;
				max-width: 1016px;
				margin-top: 100px;
			}

			&_item {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				row-gap: 24px;
				background: #fff;
				border: 1.5px solid #e7e7ee;
				box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
				border-radius: 8px;
				padding: 32px 32px 27px;
				height: 100%;
				text-decoration: none;

				@media (min-width: @screen-sm-min) {
					flex-grow: 1;
					flex-basis: 0;
				}

				&:hover {
					cursor: pointer;
					background: linear-gradient(180deg, rgba(232, 255, 249, 0) 0, #e8fff9 100%);
					border: 1.5px solid #17d4a7;
					box-shadow: inset 0 0 0 4px rgba(255, 255, 255, .25);
					filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .05));
					border-radius: 8px;

					.gp_installation_item_title {
						color: #17d4a7;
					}
				}

				&_title {
					font-weight: 600;
					font-size: 20px;
					line-height: 32px;
					text-decoration: underline;
					color: #17233a;
				}

				&_descr {
					font-size: 16px;
					line-height: 32px;
					color: #17233a;
				}
			}
		}

		&_join-network {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 40px;
			padding: 40px 24px;
			background: linear-gradient(180.44deg, #17233a .39%, #172863 99.63%);
			width: 100%;

			@media (min-width: @screen-sm-min) {
				padding: 100px 24px;
			}

			@media (min-width: @screen-lg-min) {
				max-width: 1224px;
				border-radius: 8px;
			}

			&_title, &_subtitle, &_cmd-block, &_descr {
				width: 100%;
			}

			&_title, &_subtitle, &_cmd-block, &_descr, &_btn {
				max-width: 1016px;
				color: #fff;
			}

			&_title {
				font-weight: 600;
				font-size: 26px;
				line-height: 36px;

				@media (min-width: @screen-sm-min) {
					font-size: 40px;
					line-height: 60px;
				}
			}

			&_subtitle {
				font-size: 20px;
				line-height: 32px;
				margin-top: 16px;

				@media (min-width: @screen-sm-min) {
					font-size: 20px;
					line-height: 32px;
				}
			}

			&_switch {
				display: flex;
				align-items: center;
				align-self: flex-start;
				border: 1px solid #17d4a7;
				border-radius: 8px;
				margin-top: 32px;
				overflow: hidden;

				&-wrapper {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
					max-width: 1016px;
				}

				>span {
					display: flex;
					align-items: center;
					height: 36px;
					padding: 0 12px;
					color: #17d4a7;
					cursor: pointer;

					&.active {
						background: #17d4a7;
						color: #fff;
						border-radius: 0;
					}
				}
			}

			&_cmd-block {
				position: relative;
				display: flex;
				align-items: center;
				margin-top: 32px;
				background: rgba(33, 55, 98, .5);
				box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
				border-radius: 8px;
				border: 1.5px solid rgba(54, 90, 159, .5);

				&_command {
					font-family: "Source Code Pro", monospace;
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
					background: transparent;
					border: none;
					margin: 0;
					padding: 16px 56px 16px 16px;
					white-space: nowrap;
					overflow: hidden;
					transition: height .3s ease-in;
					height: auto;

					&.opened {
						padding-right: 70px;
						white-space: normal;
					}

					&_oneliner {
						font-weight: 400;
						font-size: 16px;
						line-height: 24px;
						white-space: nowrap;
						overflow: hidden;
						height: auto;
					}

					&_row {
						>span {
							&:nth-child(2) {
								color: #fff;
							}

							&:nth-child(1), &:nth-child(3) {
								color: rgba(255, 255, 255, .48);
							}
						}
					}
				}

				&_btn {
					position: absolute;
					right: 8px;
					bottom: 8px;
					width: 40px;
				}

				&_open-btn {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 24px;
					height: 24px;
					bottom: -24px;
					left: 50%;
					transform: translateX(-50%);
					right: auto;
					border: 1px solid #29447d;
					box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
					border-radius: 0 0 8px 8px;
					cursor: pointer;

					&.active > img {
						transform: rotate(180deg);
					}
				}
			}

			&_descr {
				margin-top: 55px;
				font-size: 16px;
				line-height: 32px;

				@media (min-width: @screen-sm-min) {
					font-size: 16px;
					line-height: 32px;
				}
			}

			&_btn {
				align-self: center;
				margin-top: 32px;
				text-decoration: none;
			}
		}

		&_join-community {
			display: flex;
			justify-content: center;
			width: 100%;
			overflow: hidden;

			&_content {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				width: 100%;
				max-width: 1016px;
				padding: 0 24px 32px;
				margin-top: 40px;

				@media (min-width: @screen-sm-min) {
					margin-top: 100px;
					padding: 0 24px 40px;
				}

				&_title, &_list {
					max-width: 808px;
				}

				&_title, &_list > li {
					color: #17233a;
				}

				&_title {
					max-width: 808px;
					font-weight: 600;
					font-size: 24px;
					line-height: 36px;

					@media (min-width: @screen-sm-min) {
						font-size: 32px;
						line-height: 50px;
						letter-spacing: .2px;
					}
				}

				&_list {
					display: flex;
					flex-direction: column;
					row-gap: 8px;
					max-width: 808px;
					margin: 16px 0 0;
					padding-left: 22px;

					>li {
						font-size: 16px;
						line-height: 32px;
					}
				}
			}

			&_img {
				display: none;
				position: absolute;
				top: -93px;
				right: -125px;

				@media (min-width: @screen-md-min) {
					display: inline;
				}
			}
		}

		&_gh-links {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0 24px;

			@media (min-width: @screen-sm-min) {
				max-width: 1064px;
			}

			&_header {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: space-between;
				gap: 8px 32px;
				width: 100%;
				max-width: 1016px;
				margin-bottom: 32px;

				@media (min-width: @screen-sm-min) {
					margin-bottom: 40px;
				}

				&_title {
					font-weight: 600;
					font-size: 24px;
					line-height: 36px;
					color: #17233a;

					@media (min-width: @screen-sm-min) {
						font-size: 32px;
						line-height: 50px;
						letter-spacing: .2px;
					}
				}
			}

			&_content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				row-gap: 24px;

				@media (min-width: @screen-sm-min) {
					flex-flow: row wrap;
					column-gap: 24px;
				}

				&_item {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					row-gap: 8px;
					background: #fff;
					border: 1.5px solid #e7e7ee;
					box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
					border-radius: 8px;
					padding: 32px;
					height: 100%;
					width: 100%;
					text-decoration: none;

					@media (min-width: @screen-sm-min) {
						flex-grow: 1;
						flex-basis: 0;
						width: auto;
					}

					&:hover {
						cursor: pointer;
						background: linear-gradient(180deg, rgba(232, 255, 249, 0) 0, #e8fff9 100%);
						border: 1.5px solid #17d4a7;
						box-shadow: inset 0 0 0 4px rgba(255, 255, 255, .25);
						filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .05));
						border-radius: 8px;

						.gp_gh-links_content_item_title {
							color: #17d4a7;
						}
					}

					&_title {
						font-weight: 600;
						font-size: 20px;
						line-height: 32px;
						text-decoration: underline;
						color: #17233a;
					}

					&_descr {
						font-size: 16px;
						line-height: 32px;
						color: #17233a;
					}
				}
			}
		}

		&_probe {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 40px;
			background: #fbfbfb;
			padding: 40px 24px;
			width: 100%;

			@media (min-width: @screen-sm-min) {
				max-width: 1272px;
				padding: 100px 24px;
				border-radius: 8px;
			}

			&_promo {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				row-gap: 24px;
				max-width: 1016px;

				@media (min-width: @screen-sm-min) {
					flex-direction: row;
					column-gap: 48px;
				}

				&_content {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					row-gap: 16px;

					&_title {
						font-weight: 600;
						font-size: 24px;
						line-height: 36px;
						color: #17233a;

						@media (min-width: @screen-sm-min) {
							font-size: 40px;
							line-height: 60px;
						}
					}

					&_descr {
						font-size: 20px;
						line-height: 32px;
						color: #17233a;
					}

					&_btn {
						column-gap: 8px;
						width: 100%;
						align-self: center;
						text-decoration: none;

						@media (min-width: @screen-sm-min) {
							max-width: 265px;
							align-self: auto;
						}
					}
				}
			}

			&_get-probe {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				row-gap: 32px;
				background: linear-gradient(180.44deg, #17233a .39%, #172863 99.63%);
				border-radius: 8px;
				padding: 40px 0;
				margin-top: 32px;
				width: 100%;
				max-width: 1016px;

				@media (min-width: @screen-sm-min) {
					padding: 100px 0;
					margin-top: 80px;
					row-gap: 64px;
				}

				&_header {
					font-weight: 600;
					font-size: 24px;
					line-height: 36px;
					color: #fff;

					@media (min-width: @screen-sm-min) {
						font-size: 40px;
						line-height: 60px;
					}
				}

				&_list {
					display: flex;
					flex-direction: column;
					row-gap: 24px;
					padding: 0 48px;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						padding: 0 32px;
						flex-direction: row;
						justify-content: space-between;
						column-gap: 24px;
					}

					&_item {
						position: relative;
						display: flex;
						flex-grow: 1;
						flex-basis: 0;
						padding-left: 48px;

						@media (min-width: @screen-sm-min) {
							padding: 48px 0 0;
							max-width: 301px;
						}

						&_progress {
							position: absolute;
							display: flex;
							justify-content: flex-start;
							top: 0;
							left: 0;
							width: 24px;
							height: 100%;

							@media (min-width: @screen-sm-min) {
								justify-content: center;
								height: 24px;
								width: 100%;
							}

							>span {
								position: absolute;
								bottom: -8px;
								left: 50%;
								right: 50%;
								height: calc(100% - 40px + 8px);
								width: 2px;
								background: linear-gradient(rgba(23, 212, 167, 0), rgba(23, 212, 167, 1));
								border-radius: 8px;

								@media (min-width: @screen-sm-min) {
									background: linear-gradient(90deg, rgba(23, 212, 167, 0), rgba(23, 212, 167, 1));
									top: 50%;
									bottom: 50%;
									height: 2px;
									width: 84%;
									left: auto;
									right: -45%;
								}
							}
						}

						&_content {
							display: flex;
							flex-direction: column;
							row-gap: 8px;
							width: 100%;

							@media (min-width: @screen-sm-min) {
								align-items: center;
							}

							>span {
								color: #fff;

								&.green-text {
									color: #17d4a7;
								}

								&:nth-child(1) {
									font-weight: 600;
									font-size: 20px;
									line-height: 32px;

									>a {
										color: #17d4a7;
										text-decoration: underline;
									}
								}

								&:nth-child(2) {
									font-size: 16px;
									line-height: 32px;

									@media (min-width: @screen-sm-min) {
										text-align: center;
									}
								}
							}
						}
					}
				}
			}

			&_how-it-works {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin-top: 32px;

				@media (min-width: @screen-sm-min) {
					margin-top: 80px;
					max-width: 812px;
				}

				&_header {
					font-weight: 600;
					font-size: 26px;
					line-height: 36px;
					color: #17233a;

					@media (min-width: @screen-sm-min) {
						font-size: 32px;
						line-height: 50px;
						letter-spacing: .2px;
					}
				}

				&_text {
					display: flex;
					flex-direction: column;
					align-items: center;
					row-gap: 24px;
					font-size: 16px;
					line-height: 32px;
					color: #17233a;
					margin-top: 24px;

					@media (min-width: @screen-sm-min) {
						margin-top: 32px;
						flex-direction: row;
						column-gap: 24px;
					}
				}

				&_btns {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					row-gap: 8px;
					margin-top: 48px;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						flex-direction: row;
						column-gap: 16px;
					}

					&_learn-more, &_sponsor {
						width: 100%;
						text-decoration: none;
					}

					&_learn-more {
						@media (min-width: @screen-sm-min) {
							max-width: 122px;
						}
					}

					&_sponsor {
						column-gap: 8px;

						@media (min-width: @screen-sm-min) {
							max-width: 265px;
						}
					}
				}
			}
		}

		&_sponsors {
			display: flex;
			justify-content: center;
			width: 100%;
			overflow: hidden;

			&_content {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 0 24px;
				width: 100%;
				max-width: 1016px;
				margin-top: 40px;

				@media (min-width: @screen-sm-min) {
					margin-top: 100px;
				}

				&_info {
					display: flex;
					flex-direction: column;
					align-items: center;
					row-gap: 16px;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						align-items: flex-start;
					}

					&_title, &_descr {
						max-width: 808px;
						text-align: start;
					}

					&_title {
						font-weight: 600;
						font-size: 24px;
						line-height: 36px;
						color: #17233a;

						@media (min-width: @screen-sm-min) {
							font-weight: 600;
							font-size: 40px;
							line-height: 60px;
						}
					}

					&_descr {
						font-size: 16px;
						line-height: 32px;
						color: #17233a;

						@media (min-width: @screen-sm-min) {
							font-size: 20px;
							line-height: 32px;
						}
					}
				}

				&_list {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					row-gap: 32px;
					margin-top: 32px;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						margin-top: 88px;
					}

					&_tier-one {
						display: flex;
						flex-direction: column;
						justify-content: center;
						width: 100%;
						row-gap: 24px;

						@media (min-width: @screen-sm-min) {
							flex-flow: row wrap;
							align-items: center;
							column-gap: 24px;
						}

						&_row {
							display: flex;
							align-self: center;
							min-height: 34px;
							align-items: center;
							column-gap: 16px;

							@media (min-width: 576px) {
								column-gap: 24px;
							}

							&:nth-child(1), &:nth-child(2) {
								justify-content: space-between;
							}
						}
					}

					// &_tier-two {
					// 	row-gap: 48px;

					// 	&_row {
					// 		display: flex;
					// 		align-items: center;

					// 		&:nth-child(1) {
					// 			justify-content: center;
					// 			column-gap: 48px;
					// 		}

					// 		&:nth-child(2), &:nth-child(3) {
					// 			justify-content: space-between;
					// 		}
					// 	}
					// }

					img {
						align-self: center;
					}
				}

				&_btn {
					width: 144px;
					margin-top: 32px;
					text-decoration: none;

					@media (min-width: @screen-sm-min) {
						margin-top: 88px;
					}
				}

				&_img {
					position: absolute;
					display: none;
					top: -78px;
					right: -56px;

					@media (min-width: @screen-md-min) {
						display: inline;
					}
				}
			}
		}
	}
}
