.p-globalping {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 28px;

	@media (min-width: @screen-sm-min) {
		padding-bottom: 88px;
	}

	.gp {
		&_main-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			row-gap: 32px;
			margin: 40px 24px;
			max-width: 808px;

			@media (min-width: @screen-sm-min) {
				margin: 100px 24px 64px;
			}

			&_descr {
				color: #fff;
				font-weight: 600;
				font-size: 26px;
				line-height: 36px;

				@media (min-width: @screen-md-min) {
					font-size: 40px;
					line-height: 60px;
				}

				&_green {
					color: #17d4a7;
				}
			}

			&_stats {
				display: flex;

				@media (min-width: @screen-sm-min) {
					column-gap: 48px;
				}

				&_item {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					flex-grow: 1;
					flex-basis: 0;
					color: #fff;
					row-gap: 8px;

					@media (min-width: @screen-sm-min) {
						row-gap: 0;
						flex-grow: 0;
					}

					&:nth-child(1) {
						.gp_main-info_stats_item_number {
							padding-left: 2px;

							>span {
								left: -2px;
								width: 65px;

								@media (min-width: @screen-sm-min) {
									width: 89px;
								}
							}
						}
					}

					&:nth-child(2) {
						.gp_main-info_stats_item_number {
							padding-left: 1.3px;

							>span {
								left: -1.3px;
								width: 61px;

								@media (min-width: @screen-sm-min) {
									width: 85px;
								}
							}
						}
					}

					&:nth-child(3) {
						.gp_main-info_stats_item_number {
							padding-left: .67px;

							>span {
								left: .67px;
								width: 45px;

								@media (min-width: @screen-sm-min) {
									width: 60px;
								}
							}
						}
					}

					&_number {
						position: relative;
						font-weight: 600;
						font-size: 26px;
						line-height: 36px;

						@media (min-width: @screen-sm-min) {
							font-weight: 600;
							font-size: 40px;
							line-height: 60px;
						}

						>span {
							position: absolute;
							bottom: 4px;
							left: 0;
							z-index: -1;
							display: inline-block;
							// width: 125%;
							height: 8px;
							background: #17d4a7;

							@media (min-width: @screen-sm-min) {
								bottom: 11px;
							}
						}
					}

					&_text {
						font-weight: 400;
						font-size: 16px;
						line-height: 20px;

						@media (min-width: @screen-sm-min) {
							white-space: nowrap;
						}
					}
				}
			}
		}

		&_map-block {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #fff;
			width: 100%;

			@media (min-width: @screen-sm-min) {
				max-width: 1016px;
				margin: 0 auto;
				width: calc(100% - 48px);
				border: 1.5px solid #e7e7ee;
				filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .04));
				border-radius: 8px;
			}

			&_header {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					column-gap: 9px;
					width: 100%;
					height: 40px;
					padding-left: 13.5px;
					background: linear-gradient(180deg, #fff 0, #fafafa 100%);
					border-radius: 8px 8px 0 0;
				}

				>span {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: #e7e7ee;
					border: 1px solid #e7e7ee;
				}
			}

			&_map {
				width: 100%;
				height: 360px;
				background-color: #cfd6dd;// TODO: temp

				@media (min-width: @screen-sm-min) {
					height: 524px;
				}
			}

			&_demo-tools {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 24px;

				@media (min-width: @screen-sm-min) {
					padding: 32px;
				}

				&_settings {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						flex-direction: row;
						justify-content: space-between;
						align-items: flex-end;
						column-gap: 8px;
					}

					.btn-group {
						.dropdown-menu {
							width: 100%;
						}
					}

					&_target, &_location {
						width: 100%;
					}

					&_limit {
						width: 52px;
					}

					&_target, &_location, &_limit {
						&:not(:nth-child(1)) {
							margin-top: 16px;
						}
					}

					&_grouped {
						position: relative;
						display: flex;
						align-items: flex-end;
						justify-content: flex-start;
						width: 100%;
						margin-top: 16px;
						column-gap: 16px;

						@media (min-width: @screen-sm-min) {
							column-gap: 8px;
							position: static;
						}

						&_options-block {
							@media (min-width: @screen-sm-min) {
								position: relative;
							}

							>button {
								position: relative;
								display: flex;
								align-items: center;
								justify-content: center;
								width: 40px;
								height: 40px;
								background: #fff;
								border: 1.5px solid #e1e1e1;
								box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
								border-radius: 8px;

								&.active {
									background: #cfd6dd;
									border: 1px solid #cfd6dd;
								}

								& > .additional-opts-total {
									position: absolute;
									display: flex;
									align-items: center;
									justify-content: center;
									width: 20px;
									height: 20px;
									left: 30px;
									top: -10px;
									background: #17233a;
									border-radius: 8px;
									font-weight: 600;
									font-size: 12px;
									line-height: 100%;
									color: #fff;
								}
							}

							.active + div {
								display: flex;
							}

							&_specific-set {
								position: absolute;
								z-index: 1;
								left: 0;
								top: 68px;
								display: none;
								flex-direction: column;
								align-items: center;
								justify-content: center;
								row-gap: 16px;
								width: 100%;
								max-width: 510px;
								padding: 24px;
								background: #fff;
								border: 1.5px solid #e7e7ee;
								box-shadow: 0 7px 36px rgba(0, 0, 0, .05);
								border-radius: 8px;

								@media (min-width: @screen-sm-min) {
									top: 44px;
									right: 0;
									left: auto;
									width: 510px;
								}

								.gp_btn_green {
									width: 100%;
								}

								.typePing, .typeTraceroute, .typeDNS, .typeMTR, .typeHTTP {
									width: 100%;
								}

								.typePing {
									.gp_input {
										width: 100%;
									}
								}

								.typeTraceroute {
									.pair {
										display: flex;
										align-items: flex-end;
										justify-content: space-between;
										column-gap: 16px;
										width: 100%;

										@media (min-width: @screen-sm-min) {
											column-gap: 8px;
										}
									}
								}

								.typeDNS {
									.rows {
										display: flex;
										flex-direction: column;
										align-items: center;
										justify-content: space-between;
										row-gap: 16px;
										width: 100%;

										@media (min-width: @screen-sm-min) {
											flex-direction: row;
											column-gap: 8px;
										}

										&_row-one, &_row-two {
											display: flex;
											align-items: flex-end;
											justify-content: space-between;
											column-gap: 16px;
											width: 100%;
										}

										&_row-one {
											@media (min-width: @screen-sm-min) {
												column-gap: 8px;
											}
										}

										&_row-two {
											&_switch-block {
												display: flex;
												align-items: center;
												height: 40px;
												column-gap: 8px;
											}
										}
									}

									.resolver-input {
										width: 100%;
										margin-top: 16px;
									}

									.port-input {
										width: 79px;
									}
								}

								.typeMTR {
									display: flex;
									flex-direction: column;
									row-gap: 16px;

									.pair {
										display: flex;
										align-items: flex-end;
										justify-content: space-between;
										column-gap: 16px;
										width: 100%;

										@media (min-width: @screen-sm-min) {
											column-gap: 8px;
										}
									}
								}

								.typeHTTP {
									display: flex;
									flex-direction: column;
									row-gap: 16px;

									.pair {
										display: flex;
										align-items: flex-end;
										justify-content: space-between;
										column-gap: 16px;
										width: 100%;

										@media (min-width: @screen-sm-min) {
											column-gap: 8px;
										}
									}
								}
							}
						}

						&_switch-block {
							display: flex;
							height: 40px;
							align-items: center;
							column-gap: 8px;
						}
					}

					&_btn {
						margin-top: 16px;
						width: 100%;
						white-space: nowrap;

						@media (min-width: @screen-sm-min) {
							width: auto;
							min-width: 96px;
						}
					}
				}

				&_info, &_fail-msg {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					row-gap: 24px;
					margin-top: 24px;
					padding: 24px;
					border-radius: 8px;
					width: 100%;
					background: #fbfbfb;

					@media (min-width: @screen-sm-min) {
						flex-direction: row;
						align-items: center;
						column-gap: 24px;
						padding: 32px;
					}

					>p {
						margin: 0;
						padding: 0;
						font-size: 16px;
						line-height: 32px;
						color: #17233a;
					}
				}
			}
		}

		&_features {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 32px;
			padding: 40px 24px 0;

			@media (min-width: @screen-sm-min) {
				margin-top: 100px;
				max-width: 1016px;
				flex-flow: row wrap;
				align-items: flex-start;
				gap: 64px 24px;
			}

			&_item {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				row-gap: 16px;

				@media (min-width: @screen-sm-min) {
					max-width: calc(50% - 12px);
				}

				&_name {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					width: 100%;
					font-weight: 600;
					font-size: 20px;
					line-height: 32px;
					color: #17233a;
					padding-bottom: 5px;
					border-image-slice: 1;
					border-style: solid;
					border-image-source: linear-gradient(to left, #fff, #17d4a7);
					border-image-width: 0 0 1.5px;
					border-left: 0;
					border-right: 0;
					border-top: 0;
				}

				&_descr {
					font-weight: 400;
					font-size: 16px;
					line-height: 32px;
					color: #17233a;
				}
			}
		}

		&_installation {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			row-gap: 24px;
			padding: 0 24px;
			margin-top: 40px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				column-gap: 24px;
				max-width: 1016px;
				margin-top: 100px;
			}

			&_item {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				row-gap: 24px;
				background: #fff;
				border: 1.5px solid #e7e7ee;
				box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
				border-radius: 8px;
				padding: 32px 32px 27px;
				height: 100%;
				text-decoration: none;

				@media (min-width: @screen-sm-min) {
					flex-grow: 1;
					flex-basis: 0;
				}

				&:hover {
					cursor: pointer;
					background: linear-gradient(180deg, rgba(232, 255, 249, 0) 0, #e8fff9 100%);
					border: 1.5px solid #17d4a7;
					box-shadow: inset 0 0 0 4px rgba(255, 255, 255, .25);
					filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .05));
					border-radius: 8px;

					.gp_installation_item_title {
						color: #17d4a7;
					}
				}

				&_title {
					font-weight: 600;
					font-size: 20px;
					line-height: 32px;
					text-decoration: underline;
					color: #17233a;
				}

				&_descr {
					font-size: 16px;
					line-height: 32px;
					color: #17233a;
				}
			}
		}

		&_join-network {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 40px;
			padding: 40px 24px;
			background: linear-gradient(180.44deg, #17233a .39%, #172863 99.63%);
			width: 100%;

			@media (min-width: @screen-sm-min) {
				padding: 100px 24px;
			}

			@media (min-width: @screen-lg-min) {
				max-width: 1224px;
				border-radius: 8px;
			}

			&_title, &_subtitle, &_docker, &_descr {
				width: 100%;
			}

			&_title, &_subtitle, &_docker, &_descr, &_btn {
				max-width: 1016px;
				color: #fff;
			}

			&_title {
				font-weight: 600;
				font-size: 26px;
				line-height: 36px;

				@media (min-width: @screen-sm-min) {
					font-size: 40px;
					line-height: 60px;
				}
			}

			&_subtitle {
				font-size: 20px;
				line-height: 32px;
				margin-top: 16px;

				@media (min-width: @screen-sm-min) {
					font-size: 20px;
					line-height: 32px;
				}
			}

			&_docker {
				position: relative;
				display: flex;
				align-items: center;
				margin-top: 32px;
				height: 56px;
				background: rgba(33, 55, 98, .5);
				box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
				border-radius: 8px;

				@media (min-width: @screen-sm-min) {
					border: 1.5px solid rgba(54, 90, 159, .5);
				}

				&_command {
					padding: 0 16px;
					font-size: 16px;
					line-height: 24px;
					overflow: hidden;
					white-space: nowrap;
				}

				&_btn {
					position: absolute;
					right: 8px;
					bottom: 8px;
					width: 40px;
				}
			}

			&_descr {
				margin-top: 32px;
				font-size: 16px;
				line-height: 32px;

				@media (min-width: @screen-sm-min) {
					font-size: 16px;
					line-height: 32px;
				}
			}

			&_btn {
				align-self: center;
				margin-top: 32px;
				text-decoration: none;
			}
		}

		&_join-community {
			margin-top: 40px;
			width: 100%;
			max-width: 1064px;
			padding: 0 24px;

			&_content {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				&_title, &_list > li {
					color: #17233a;
				}

				&_title {
					max-width: 808px;
					font-weight: 600;
					font-size: 24px;
					line-height: 36px;

					@media (min-width: @screen-sm-min) {
						font-size: 32px;
						line-height: 50px;
						letter-spacing: .2px;
					}
				}

				&_list {
					display: flex;
					flex-direction: column;
					row-gap: 8px;
					max-width: 808px;
					margin: 16px 0 0;
					padding-left: 22px;

					>li {
						font-size: 16px;
						line-height: 32px;
					}
				}
			}
		}

		&_gh-links {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0 24px;
			margin-top: 32px;

			@media (min-width: @screen-sm-min) {
				max-width: 1064px;
				margin-top: 40px;
			}

			&_header {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				justify-content: space-between;
				gap: 8px 32px;
				width: 100%;
				max-width: 1016px;
				margin-bottom: 32px;

				@media (min-width: @screen-sm-min) {
					margin-bottom: 40px;
				}

				&_title {
					font-weight: 600;
					font-size: 24px;
					line-height: 36px;
					color: #17233a;

					@media (min-width: @screen-sm-min) {
						font-size: 32px;
						line-height: 50px;
						letter-spacing: .2px;
					}
				}
			}

			&_content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				row-gap: 24px;

				@media (min-width: @screen-sm-min) {
					flex-flow: row wrap;
					column-gap: 24px;
				}

				&_item {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					row-gap: 8px;
					background: #fff;
					border: 1.5px solid #e7e7ee;
					box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
					border-radius: 8px;
					padding: 32px;
					height: 100%;
					width: 100%;
					text-decoration: none;

					@media (min-width: @screen-sm-min) {
						flex-grow: 1;
						flex-basis: 0;
						width: auto;
					}

					&:hover {
						cursor: pointer;
						background: linear-gradient(180deg, rgba(232, 255, 249, 0) 0, #e8fff9 100%);
						border: 1.5px solid #17d4a7;
						box-shadow: inset 0 0 0 4px rgba(255, 255, 255, .25);
						filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .05));
						border-radius: 8px;

						.gp_gh-links_content_item_title {
							color: #17d4a7;
						}
					}

					&_title {
						font-weight: 600;
						font-size: 20px;
						line-height: 32px;
						text-decoration: underline;
						color: #17233a;
					}

					&_descr {
						font-size: 16px;
						line-height: 32px;
						color: #17233a;
					}
				}
			}
		}

		&_probe {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: 40px;
			background: #fbfbfb;
			padding: 40px 24px;
			width: 100%;

			@media (min-width: @screen-sm-min) {
				margin-top: 100px;
				max-width: 1272px;
				padding: 100px 24px;
				border-radius: 8px;
			}

			&_promo {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				row-gap: 24px;
				max-width: 1016px;

				@media (min-width: @screen-sm-min) {
					flex-direction: row;
					column-gap: 48px;
				}

				&_content {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					row-gap: 16px;

					&_title {
						font-weight: 600;
						font-size: 24px;
						line-height: 36px;
						color: #17233a;
					}

					&_descr {
						font-size: 20px;
						line-height: 32px;
						color: #17233a;
					}

					&_btn {
						column-gap: 8px;
						width: 100%;
						align-self: center;
						text-decoration: none;

						@media (min-width: @screen-sm-min) {
							max-width: 265px;
							align-self: auto;
						}
					}
				}
			}

			&_get-probe {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				row-gap: 32px;
				background: linear-gradient(180.44deg, #17233a .39%, #172863 99.63%);
				border-radius: 8px;
				padding: 40px 0;
				margin-top: 32px;
				width: 100%;
				max-width: 1016px;

				@media (min-width: @screen-sm-min) {
					padding: 100px 0;
					margin-top: 80px;
					row-gap: 64px;
				}

				&_header {
					font-weight: 600;
					font-size: 24px;
					line-height: 36px;
					color: #fff;

					@media (min-width: @screen-sm-min) {
						font-size: 40px;
						line-height: 60px;
					}
				}

				&_list {
					display: flex;
					flex-direction: column;
					row-gap: 24px;
					padding: 0 48px;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						padding: 0 32px;
						flex-direction: row;
						justify-content: space-between;
						column-gap: 24px;
					}

					&_item {
						position: relative;
						display: flex;
						flex-grow: 1;
						flex-basis: 0;
						padding-left: 48px;

						@media (min-width: @screen-sm-min) {
							padding: 48px 0 0;
							max-width: 301px;
						}

						&_progress {
							position: absolute;
							display: flex;
							justify-content: flex-start;
							top: 0;
							left: 0;
							width: 24px;
							height: 100%;

							@media (min-width: @screen-sm-min) {
								justify-content: center;
								height: 24px;
								width: 100%;
							}

							>span {
								position: absolute;
								bottom: -8px;
								left: 50%;
								right: 50%;
								height: calc(100% - 40px + 8px);
								width: 2px;
								background: linear-gradient(rgba(23, 212, 167, 0), rgba(23, 212, 167, 1));
								border-radius: 8px;

								@media (min-width: @screen-sm-min) {
									background: linear-gradient(90deg, rgba(23, 212, 167, 0), rgba(23, 212, 167, 1));
									top: 50%;
									bottom: 50%;
									height: 2px;
									width: 84%;
									left: auto;
									right: -45%;
								}
							}
						}

						&_content {
							display: flex;
							flex-direction: column;
							row-gap: 8px;
							width: 100%;

							@media (min-width: @screen-sm-min) {
								align-items: center;
							}

							>span {
								color: #fff;

								&.green-text {
									color: #17d4a7;
								}

								&:nth-child(1) {
									font-weight: 600;
									font-size: 20px;
									line-height: 32px;
								}

								&:nth-child(2) {
									font-size: 16px;
									line-height: 32px;

									@media (min-width: @screen-sm-min) {
										text-align: center;
									}
								}
							}
						}
					}
				}
			}

			&_how-it-works {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin-top: 32px;

				@media (min-width: @screen-sm-min) {
					margin-top: 80px;
					max-width: 812px;
				}

				&_header {
					font-weight: 600;
					font-size: 26px;
					line-height: 36px;
					color: #17233a;

					@media (min-width: @screen-sm-min) {
						font-size: 32px;
						line-height: 50px;
						letter-spacing: .2px;
					}
				}

				&_text {
					display: flex;
					flex-direction: column;
					align-items: center;
					row-gap: 24px;
					font-size: 16px;
					line-height: 32px;
					color: #17233a;
					margin-top: 24px;

					@media (min-width: @screen-sm-min) {
						margin-top: 32px;
						flex-direction: row;
						column-gap: 24px;
					}
				}

				&_btns {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					row-gap: 8px;
					margin-top: 48px;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						flex-direction: row;
						column-gap: 16px;
					}

					&_learn-more, &_sponsor {
						width: 100%;
						text-decoration: none;
					}

					&_learn-more {
						@media (min-width: @screen-sm-min) {
							max-width: 122px;
						}
					}

					&_sponsor {
						column-gap: 8px;

						@media (min-width: @screen-sm-min) {
							max-width: 265px;
						}
					}
				}
			}
		}

		&_sponsors {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0 24px;
			margin-top: 40px;

			@media (min-width: @screen-sm-min) {
				margin-top: 100px;
			}

			&_title {
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				color: #17233a;

				@media (min-width: @screen-sm-min) {
					font-weight: 600;
					font-size: 40px;
					line-height: 60px;
				}
			}

			&_descr {
				font-size: 16px;
				line-height: 32px;
				color: #17233a;
				margin-top: 16px;
				max-width: 808px;
				text-align: center;

				@media (min-width: @screen-sm-min) {
					font-size: 20px;
					line-height: 32px;
				}
			}

			&_list {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				row-gap: 32px;
				margin-top: 32px;
				width: 100%;

				@media (min-width: @screen-sm-min) {
					margin-top: 64px;
				}

				&_tier-one, &_tier-two {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;

					@media (min-width: @screen-sm-min) {
						flex-flow: row wrap;
						align-items: center;
						column-gap: 24px;

						&_row {
							column-gap: 24px;
						}
					}
				}

				&_tier-one {
					row-gap: 24px;

					&_row {
						display: flex;
						align-self: center;

						&:nth-child(1), &:nth-child(2) {
							justify-content: space-between;
						}
					}
				}

				&_tier-two {
					row-gap: 48px;

					&_row {
						display: flex;
						align-items: center;

						&:nth-child(1) {
							justify-content: center;
							column-gap: 48px;
						}

						&:nth-child(2), &:nth-child(3) {
							justify-content: space-between;
						}
					}
				}

				img {
					align-self: center;
				}
			}

			&_btn {
				width: 144px;
				margin-top: 32px;
				text-decoration: none;

				@media (min-width: @screen-sm-min) {
					margin-top: 64px;
				}
			}
		}
	}
}
