.p-gsap {
	font-family: Inter, Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin-bottom: -80px;

	header {
		position: relative;
		z-index: 1;
		margin-right: auto;
		margin-left: auto;
		background: #222;

		@media (min-width: @screen-sm-min) {
			height: 484px;
		}

		.menu-main {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			padding: 24px 20px 32px;
			max-width: 1440px;
			margin: 0 auto;

			@media (min-width: @screen-sm-min) {
				align-items: center;
			}

			@media (min-width: @screen-md-min) {
				padding: 24px 24px 64px;
			}

			&_left {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				row-gap: 12px;

				@media (min-width: 576px) {
					flex-direction: row;
					align-items: center;
					column-gap: 16px;
				}

				.main-logo {
					display: flex;

					img {
						height: 28px;
						width: auto;

						@media (min-width: @screen-sm-min) {
							height: 34px;
						}
					}
				}

				.header-btn {
					display: flex;
					align-items: center;
					justify-content: space-between;
					column-gap: 8px;
					height: 28px;
					background: rgba(255, 255, 255, .24);
					border-radius: 6px;
					padding: 0 6px 0 4px;
					text-decoration: none;

					@media (min-width: @screen-sm-min) {
						height: 32px;
						padding: 0 8px 0 6px;
					}

					> span {
						font-size: 14px;
						line-height: 24px;
						font-weight: 600;
						color: #fff;
					}

					> img {
						border-radius: 4px;
					}
				}
			}

			&_right {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: flex;
					align-items: center;
					column-gap: 24px;
					z-index: 2;
				}

				a {
					display: inline-flex;
					font-weight: 500;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: -.2px;
					color: #fff;
				}
			}

			&_hamburger {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 8px;
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: -.2px;
				color: #fff;
				padding: 0;
				margin: 0;

				@media (min-width: @screen-sm-min) {
					display: none;
				}

				&_icon {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					row-gap: 4px;
					width: 24px;
					height: 24px;
					cursor: pointer;

					div {
						width: 16px;
						height: 2px;
						border-radius: 1px;
						background-color: #fff;
					}
				}
			}

			&_dropdown-menu {
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				opacity: 0;
				max-height: 0;
				height: 0%;
				transition: all .3s ease-out;

				@media (min-width: @screen-sm-min) {
					display: none;
				}

				.menu-main_hamburger {
					display: none;
				}

				&_list {
					display: flex;
					flex-direction: column;
					row-gap: 32px;
					padding: 72px 16px 24px 24px;

					a {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						font-weight: 500;
						font-size: 16px;
						line-height: 24px;
						letter-spacing: -.2px;
						color: #111;
						text-decoration: none;
					}
				}

				&_open {
					display: flex;
					max-height: 288px;
					height: 288px;
					background: #fff;
					box-shadow: 0 12px 20px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .04), 0 6px 12px rgba(0, 0, 0, .06);
					z-index: 2;
					opacity: 1;
					transition: max-height .3s ease-in, opacity .3s ease-in;

					.menu-main_hamburger {
						display: flex;
						position: absolute;
						top: 24px;
						right: 20px;
						color: #111;

						&_icon {
							div {
								background: #111;
							}

							.bar1 {
								-webkit-transform: rotate(-45deg) translate(-5px, 4px);
								transform: rotate(-45deg) translate(-5px, 4px);
							}

							.bar2 {
								opacity: 0;
							}

							.bar3 {
								-webkit-transform: rotate(45deg) translate(-4px, -4px);
								transform: rotate(45deg) translate(-4px, -4px);
							}
						}
					}
				}
			}
		}

		.jumbotron {
			position: relative;
			max-width: 1150px;
			padding-left: 20px;
			padding-right: 20px;
			margin-right: auto;
			margin-left: auto;
			overflow: visible;

			@media (min-width: @screen-sm-min) {
				padding-right: 279px;
			}

			.title {
				font-size: 38px;
				line-height: 54px;
				text-align: center;
				font-weight: 600;
				letter-spacing: -.8px;
				color: #fff;
				margin: 0 0 16px;

				@media (min-width: @screen-sm-min) {
					font-size: 48px;
					line-height: 64px;
					text-align: left;
				}
			}

			.description-box {
				display: flex;
				flex-direction: column;
				row-gap: 32px;

				@media (min-width: @screen-sm-min) {
					flex-direction: row;
					max-width: 730px;
				}

				.description {
					font-weight: 500;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: -.4px;
					color: #a6a6a6;

					@media (min-width: @screen-sm-min) {
						font-size: 16px;
						line-height: 26px;
					}

					p {
						margin: 0 0 12px;

						&:nth-last-child(1) {
							margin: 0;
						}
					}

					.links {
						color: #57c224;
					}

					.text-italic {
						font-style: italic;
					}

					.text-bold {
						font-weight: 600;
					}
				}

				.boxes-bottom {
					display: flex;
					justify-content: space-between;
					align-self: center;
					width: 255px;
					height: 128px;
					overflow: hidden;

					@media (min-width: @screen-sm-min) {
						display: none;
					}

					> img {
						border-radius: 24px;
						box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .55), 0 6px 12px rgba(0, 0, 0, .28);
					}

					> img:nth-child(2) {
						position: relative;
						top: 32px;
					}
				}
			}

			.boxes {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: flex;
					position: absolute;
					top: -90px;
					right: 0;
					z-index: 1;
				}

				@media (min-width: @screen-md-min) {
					top: -122px;
				}
			}
		}
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 1150px;
		padding: 40px 20px;
		margin-right: auto;
		margin-left: auto;

		@media (min-width: @screen-sm-min) {
			flex-direction: row;
			column-gap: 24px;
			padding: 64px 20px;
		}

		.main-content {
			display: flex;
			flex-direction: column;
			max-width: 730px;

			&_title {
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: -.4px;
				color: #222;
				margin-bottom: 8px;

				@media (min-width: @screen-sm-min) {
					font-size: 32px;
					line-height: 48px;
					letter-spacing: -.6px;
					margin-bottom: 16px;
				}
			}

			&_description {
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: -.4px;
				color: #787878;

				@media (min-width: @screen-sm-min) {
					font-size: 18px;
					line-height: 28px;
				}
			}

			.files-table-wrapper {
				margin-top: 40px;

				@media (min-width: @screen-sm-min) {
					margin-top: 64px;
				}

				.ctrls {
					display: flex;
					align-items: center;
					flex-direction: column;
					row-gap: 8px;

					@media (min-width: @screen-sm-min) {
						flex-direction: row;
						column-gap: 24px;
					}

					.ctrl {
						display: flex;
						align-items: center;
						border: 1px solid #e1e1e1;
						border-radius: 4px;
						width: 100%;
						height: 48px;
						padding: 0 12px;
						column-gap: 12px;

						@media (min-width: @screen-sm-min) {
							border: none;
							width: auto;
							height: auto;
							padding: 0;
						}

						> span {
							font-weight: 500;
							font-size: 16px;
							line-height: 24px;
							letter-spacing: -.2px;
							color: #222;
						}

						.btn-group {
							width: 100%;

							> button {
								border: none;
							}

							&.open {
								.btn.dropdown-toggle > i {
									background: #dfedd3;
									transform: rotate(180deg) scaleX(-1);
								}
							}

							.btn.dropdown-toggle {
								display: flex;
								align-items: center;
								justify-content: space-between;
								background: #fff;
								padding: 0;
								box-shadow: none;
								width: 100%;

								> span {
									font-weight: 600;
									font-size: 16px;
									line-height: 24px;
									letter-spacing: -.2px;
									color: #222;
								}

								> i {
									display: flex;
									align-items: center;
									justify-content: center;
									margin-left: 12px;
									color: #111a2c;
									padding: 0;
									background: #f2f2f2;
									border-radius: 6px;
									height: 24px;
									width: 24px;
								}
							}

							.menu-versions-web {
								visibility: visible;
								max-height: 332px;
								overflow-y: scroll;
							}

							.menu-versions-mobile {
								visibility: hidden;
								height: 368px;
								inset: auto 0 0 0 !important;
								position: fixed !important;
								border-radius: 16px 16px 0 0 !important;

								&::-webkit-scrollbar-track-piece:start {
									background: transparent !important;
									margin-top: 40px;
								}

								&::-webkit-scrollbar-track-piece:end {
									background: transparent;
									margin-top: 40px !important;
								}

								p {
									font-style: normal;
									font-weight: 500;
									font-size: 16px;
									line-height: 24px;
									letter-spacing: -.2px;
									color: #222;
								}
							}

							.menu-aliasing-web {
								visibility: visible;
								max-height: 332px;
								overflow-y: scroll;
							}

							.menu-aliasing-mobile {
								visibility: hidden;
								height: 368px;
								inset: auto 0 0 0 !important;
								position: fixed !important;
								border-radius: 16px 16px 0 0 !important;

								&::-webkit-scrollbar-track-piece:start {
									background: transparent !important;
									margin-top: 40px;
								}

								&::-webkit-scrollbar-track-piece:end {
									background: transparent;
									margin-top: 40px !important;
								}

								p {
									font-style: normal;
									font-weight: 500;
									font-size: 16px;
									line-height: 24px;
									letter-spacing: -.2px;
									color: #222;
								}
							}

							@media (max-width: @screen-xs-max) {
								&.open .menu-mobile-bg {
									display: block;
									background: #000;
									opacity: .3;
									position: fixed;
									inset: 0;
									z-index: 5;
								}

								.menu-versions-mobile {
									visibility: visible;
								}

								.menu-versions-web {
									visibility: hidden;
								}

								.menu-aliasing-mobile {
									visibility: visible;
								}

								.menu-aliasing-web {
									visibility: hidden;
								}
							}

							.menu-mobile-bg {
								display: none;
							}

							.select-cdn-btn {
								width: 100%;
								border: 1px solid #6fb936;
								height: 40px;
								margin-top: 8px;
								border-radius: 6px;

								&.apply {
									color: #fff;
									background: #6fb936;
								}

								&.cancel {
									color: #6fb936 !important;
									background: transparent;
								}
							}

							[type="radio"]:checked,
							[type="radio"]:not(:checked) {
								position: absolute;
								width: 0;
								height: 0;
								visibility: hidden;
							}

							.select-cdn {
								display: flex;
								flex-direction: column;
								height: 200px;
								overflow-y: visible;
								overflow-x: hidden;
								margin-bottom: 8px;

								& > div {
									height: 48px;
								}
							}

							.select-cdn-tools + label {
								padding: 14px 8px;
								border-radius: 8px;
								width: 100%;
								margin: 0;
								font-style: normal;
								font-weight: 500;
								font-size: 14px;
								line-height: 20px;
							}

							.select-cdn-tools:checked + label {
								font-weight: 600;
								color: #222;
							}

							.select-cdn-tools:checked + label,
							.select-cdn-tools:not(:checked) + label {
								overflow: hidden;
								cursor: pointer;
								background-color: #dfedd3;
								box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
								transition: all 300ms linear;
							}

							.select-cdn-tools:not(:checked) + label {
								background-color: #fff;
								box-shadow: none;
							}

							.dropdown-menu {
								position: absolute;
								right: 0;
								left: auto;
								background: #fff;
								border: 1px solid #e1e1e1;
								box-sizing: border-box;
								box-shadow: 0 12px 20px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .04), 0 6px 12px rgba(0, 0, 0, .06);
								border-radius: 8px;
								padding: 16px;

								> li > a {
									display: flex;
									align-items: center;
									justify-content: flex-start;
									height: 36px;
									font-weight: 500;
									font-size: 14px;
									line-height: 20px;
									letter-spacing: -.2px;
									color: #787878;
									padding: 8px;
									min-width: 140px;

									&.current {
										background: #f2f2f2;
										font-weight: 600;
										color: #222;
									}

									&:hover {
										background: #dfedd3;
										border-radius: 4px;
										font-weight: 600;
										color: #222;
									}
								}
							}
						}
					}
				}

				.divider {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: flex;
						background: #e1e1e1;
						border-radius: 6px;
						height: 1px;
						margin: 15px 0 32px;
					}
				}

				.files-table {
					margin-top: 24px;
					font-size: 14px;
					line-height: 20px;
					letter-spacing: -.2px;
					color: #222;

					> .files-item {
						margin-bottom: 24px;

						@media (min-width: @screen-sm-min) {
							margin-bottom: 32px;
						}
					}

					.files-item {
						.title {
							font-weight: 600;
							margin-bottom: 12px;
						}

						.block-core {
							display: grid;
							grid-gap: 16px;
							grid-template-columns: 1fr 20px;
							padding: 12px 16px 20px;
							background: #deedd3;
							border-radius: 6px;

							@media (min-width: @screen-md-min) {
								padding: 12px 16px;
								grid-template-columns: 1fr 136px 20px;
								align-items: center;
							}

							&_switch {
								grid-column: 1 / -1;
								width: 100%;
								font-weight: 600;

								@media (min-width: @screen-md-min) {
									order: 2;
									grid-column: auto;
								}

								.data-type-switch {
									display: none;

									& + label {
										display: flex;
										width: 100%;
										align-items: center;
										padding: 0 4px;
										height: 36px;
										cursor: pointer;
										transition: background-color 400ms ease, border-color 400ms ease;
										background-color: #fff;
										border-radius: 6px;
										position: relative;
										margin-bottom: 0;

										> span {
											display: flex;
											align-items: center;
											justify-content: center;
											width: 50%;
											user-select: none;
											z-index: 2;
											font-weight: 600;
										}

										&:before {
											display: flex;
											position: absolute;
											top: 4px;
											margin-right: calc(50% - 4px);
											width: calc(50% - 4px);
											height: 28px;
											content: "";
											vertical-align: top;
											background-color: #dfedd3;
											border-radius: 4px;
											z-index: 1;
											transition: margin .3s linear;
										}
									}

									&.checked + label {
										background-color: #fff;

										&:before {
											margin-left: calc(50% - 4px);
											background-color: #dfedd3;
											content: "";
										}
									}
								}
							}

							&_url {
								display: flex;
								flex-flow: row wrap;
								font-weight: 500;

								@media (min-width: @screen-md-min) {
									order: 1;
									align-items: center;
								}
							}

							> a {
								display: flex;
								align-items: center;

								@media (min-width: @screen-md-min) {
									order: 3;
								}
							}
						}

						.block {
							display: flex;
							align-items: center;
							justify-content: space-between;
							column-gap: 12px;
							padding: 12px 16px;
							background: #f2f2f2;
							border-radius: 6px;

							.ex-url {
								display: flex;
								flex-flow: row wrap;
								font-weight: 500;
							}
						}
					}

					.extra-file-items {
						max-height: 0;
						visibility: hidden;
						opacity: 0;
						overflow: hidden;
						transition: all .5s ease-out;

						@media (min-width: @screen-sm-min) {
							height: 100%;
							visibility: visible;
							opacity: 1;
							max-height: none;
						}

						&.expanded {
							max-height: 2000px;
							visibility: visible;
							opacity: 1;

							@media (min-width: @screen-sm-min) {
								max-height: none;
							}
						}

						.files-item {
							margin-bottom: 16px;

							@media (min-width: @screen-sm-min) {
								margin-bottom: 32px;
							}

							&:nth-last-child(1) {
								margin-bottom: 24px;

								@media (min-width: @screen-sm-min) {
									margin-bottom: 0;
								}
							}
						}
					}

					.btn-more {
						width: 100%;
						height: 40px;
						color: #6fb936;
						background: transparent;
						border: 1px solid #6fb936;
						border-radius: 6px;
						font-weight: 700;
						line-height: 24px;
						letter-spacing: -.2px;

						@media (min-width: @screen-sm-min) {
							display: none;
						}
					}
				}
			}

			.plugins {
				display: flex;
				flex-direction: column;
				row-gap: 16px;
				margin-top: 40px;
				font-size: 16px;
				line-height: 26px;
				font-weight: 500;
				letter-spacing: -.4px;
				color: #787878;

				@media (min-width: @screen-sm-min) {
					margin-top: 64px;
					font-size: 18px;
					line-height: 28px;
				}

				.plugins-descr {
					margin: 0;

					.plugin-badge {
						font-family: "Source Code Pro", monospace;
						display: inline-flex;
						align-items: center;
						height: 20px;
						font-weight: 600;
						font-size: 14px;
						line-height: 16px;
						color: #e84f3c;
						padding: 0 8px;
						background: #fdefed;
						border-radius: 4px;
						letter-spacing: normal;

						@media (min-width: @screen-sm-min) {
							height: 24px;
							line-height: 20px;
						}
					}

					.plugin-link {
						color: #6fb936;
					}
				}
			}
		}

		.side-content {
			margin-top: 40px;

			@media (min-width: @screen-sm-min) {
				margin-top: 0;
			}
		}
	}

	.footer-wrapper {
		padding: 0 20px;

		@media (min-width: @screen-md-min) {
			border-top: 1px solid #d8dfee;
		}

		.footer {
			display: flex;
			flex-direction: column;
			align-items: center;
			border-top: 1px solid #d8dfee;
			row-gap: 32px;
			padding: 32px 0 52px;

			@media (min-width: @screen-md-min) {
				border: none;
				flex-direction: row;
				padding: 40px 0 64px;
				max-width: 1110px;
			}

			&_link {
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: -.2px;
				color: #6fb936;
			}

			&_powered {
				display: flex;
				flex-direction: column;
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: -.2px;
				color: #222;

				@media (min-width: @screen-md-min) {
					margin-left: 50px;
				}

				> span {
					text-align: center;

					@media (min-width: @screen-md-min) {
						text-align: left;
					}
				}
			}

			&_nav {
				display: flex;
				justify-content: center;
				column-gap: 32px;

				@media (min-width: @screen-md-min) {
					margin-left: auto;
				}
			}
		}
	}
}
