@import "../variables.less";

.p-sponsors {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.container {
		padding: 40px 24px 0;
		padding-left: 24px;
		position: relative;

		@media (min-width: @screen-sm-min) {
			width: 100%;
			max-width: 1272px;
			padding: 80px 24px 116px;
		}
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 44px;
		background: #fff;
		box-shadow: 0 2px 2px -2px rgba(23, 35, 59, .04), 0 2px 8px rgba(23, 35, 59, .04);

		@media (min-width: @screen-sm-min) {
			justify-content: center;
			column-gap: 32px;
		}

		> a {
			text-align: center;
			width: 164px;
			font-size: 14px;
			line-height: 20px;
			color: #111a2c;
			text-decoration: none;

			@media (min-width: @screen-sm-min) {
				width: auto;
			}

			&.active {
				color: #f65128;
			}
		}
	}

	.head-wrapper {
		&_map-wrapper {
			display: flex;
			justify-content: center;
			position: absolute;
			top: 0;
			width: 100%;
			margin: 0 -24px;
			height: 214px;
			overflow: hidden;
			z-index: -1;

			@media (min-width: @screen-sm-min) {
				top: 12px;
				height: 428px;
			}

			.head-map-bg {
				width: 454px;
				height: 214px;

				@media (min-width: @screen-sm-min) {
					width: 908px;
					height: 428px;
				}
			}
		}

		.head-title, .head-subtitle, .head-descr, .head-ctrls {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.head-title {
			font-size: 32px;
			line-height: 44px;
			font-weight: 600;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 40px;

			@media (min-width: @screen-sm-min) {
				font-size: 48px;
				line-height: 68px;
				margin-bottom: 56px;
			}
		}

		.head-subtitle {
			font-weight: 600;
			font-size: 20px;
			line-height: 32px;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 16px;
		}

		.head-descr {
			flex-direction: column;
			font-size: 14px;
			line-height: 24px;
			color: #5c667a;
			margin-bottom: 24px;
			text-align: center;

			@media (min-width: @screen-sm-min) {
				max-width: 806px;
				margin-right: auto;
				margin-left: auto;
			}
		}

		.head-ctrls {
			flex-direction: column;
			row-gap: 16px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				column-gap: 16px;
			}

			> a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 48px;
				padding: 0 24px;
				background: #fff;
				border: 1px solid #cfd6dd;
				box-sizing: border-box;
				box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #17233b;
				cursor: pointer;
				text-decoration: none;
				width: 100%;

				@media (min-width: @screen-sm-min) {
					width: auto;
				}

				> img {
					margin-right: 12px;
				}
			}
		}
	}

	.sp-header {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 40px 0 24px;
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: .2px;
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		color: transparent;

		@media (min-width: @screen-sm-min) {
			font-size: 40px;
			line-height: 56px;
			margin: 80px 0 40px;
		}

		&.platinum-header {
			background-image: linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
			background-image: -webkit-linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
			background-image: -moz-linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
		}

		&.gold-header {
			background-image: linear-gradient(rgba(255, 130, 0, 1), rgba(155, 103, 49, .16));
			background-image: -webkit-linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
			background-image: -moz-linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
		}

		&.bronze-header {
			background-image: linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
			background-image: -webkit-linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
			background-image: -moz-linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
		}
	}

	.sp-row {
		display: flex;
		align-items: center;
		flex-direction: column;
		row-gap: 16px;
		width: 100%;

		@media (min-width: @screen-sm-min) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
			gap: 24px 24px;
		}

		@media (min-width: @screen-md-min) {
			grid-template-columns: repeat(3, 1fr);
		}

		.sp-item {
			display: flex;
			width: 100%;
			height: 100%;

			@media (min-width: @screen-sm-min) {
				width: auto;
			}

			@media (min-width: @screen-md-min) {
				width: auto;
				max-width: 392px;
			}

			@media (min-width: @screen-lg-min) {
				height: 320px;
			}

			.sp {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				padding: 32px 24px;
				background: #fff;
				border: 1px solid #dfe3e7;
				box-sizing: border-box;
				border-radius: 8px;

				@media (min-width: @screen-sm-min) {
					padding: 32px 24px;
				}

				.sp-img {
					height: 40px;
					width: auto;
					margin-bottom: 24px;

					@media (min-width: 576px) {
						height: 60px;
						margin-bottom: 34px;
					}

					&.packagecloud {
						height: 30px;

						@media (min-width: 576px) {
							height: 40px;
						}
					}

					&.dotcom-monitor {
						height: 25px;

						@media (min-width: 576px) {
							height: 30px;
						}
					}
				}

				.sp-text {
					text-align: center;
					font-size: 14px;
					line-height: 24px;
					color: #5c667a;
					margin-bottom: 24px;
				}

				.sp-link {
					font-weight: 600;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: .2px;
					color: #f65128;
					margin-top: auto;

					> img {
						margin-right: 12px;
					}
				}
			}
		}

		&.row-gold .sp-item {
			&.auto-height {
				min-height: 272px;
				height: auto;
			}

			@media (min-width: @screen-lg-min) {
				height: 272px;
			}
		}

		&.row-bronze {
			@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {
				grid-template-columns: repeat(3, calc((100% - 48px)/3));
			}

			.sp-item {
				height: 104px;

				@media (min-width: @screen-lg-min) {
					height: 128px;
				}

				.sp {
					justify-content: center;

					.sp-img {
						&.packagecloud {
							height: 30px;

							@media (min-width: 576px) and (max-width: @screen-sm-max) {
								height: 40px;
							}

							@media (min-width: @screen-lg-min) {
								height: 40px;
							}
						}
					}
				}

				.sp-img {
					margin-bottom: 0;
				}
			}
		}
	}

	.be-a-sp {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		row-gap: 16px;
		margin-top: 40px;

		@media (min-width: @screen-sm-min) {
			flex-direction: row;
			column-gap: 24px;
			margin-top: 128px;
		}

		> span {
			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			letter-spacing: .2px;
			color: #17233b;
			text-align: center;

			@media (min-width: @screen-sm-min) {
				text-align: left;
			}
		}

		.be-a-sp-btn {
			font-size: 14px;
			line-height: 20px;
			width: 100%;

			@media (min-width: @screen-sm-min) {
				width: auto;
			}
		}
	}
}
