@import "../variables.less";

.c-footer {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	padding-top: 40px;

	@media (min-width: @screen-sm-min) {
		padding-top: 12px;
	}

	.text-footer-14 {
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
	}

	.text-footer-12 {
		color: #fff;
		font-size: 12px;
		line-height: 16px;
		font-weight: 400;
	}

	.wrapper {
		background-color: #17233b;
		width: 100%;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.container-fluid {
		padding-left: 0;
		padding-right: 0;
		max-width: 1272px;

		.op-64 {
			opacity: .64;
		}

		.block-main {
			padding: 0 24px;
			margin: 0;

			.main-left {
				padding: 0;

				.maintain-content {
					display: flex;

					& > span {
						margin-left: 8px;
						margin-right: 8px;
					}
				}
			}

			.main-right {
				display: flex;
				justify-content: flex-end;
				padding: 0 0 24px;
				border-bottom: 1px solid #394355;

				@media (min-width: @screen-sm-min) {
					border-bottom: none;
					padding: 0;
				}

				&-container {
					display: flex;
					width: 100%;
					margin-top: 32px;
					justify-content: center;
					flex-direction: column;

					@media (min-width: @screen-sm-min) {
						margin-top: 0;
						width: auto;
					}
				}

				.subscribe-header {
					margin-bottom: 16px;
				}

				.subscribe-content {
					display: flex;

					@media (max-width: @screen-xs-max) {
						flex-direction: column;
					}

					input {
						color: #fff;
						background: #394356;
						height: 40px;
						padding: 10px 12px;
						border: none;
						width: 100%;
						border-radius: 6px;

						@media (min-width: @screen-sm-min) {
							width: 250px;
							border-radius: 6px 0 0 6px;
						}

						@media (min-width: @screen-md-min) {
							width: 297px;
							border-radius: 6px 0 0 6px;
						}

						&::placeholder {
							color: #cfd6dd;
							font-size: 14px;
							line-height: 20px;
						}
					}

					> button {
						font-size: 14px;
						font-weight: 600;
						letter-spacing: .2px;
						line-height: 20px;
						color: #fff;
						background: #5c667a;
						height: 40px;
						padding: 10px 12px;
						width: 100%;
						border-radius: 6px;

						@media (min-width: @screen-sm-min) {
							width: auto;
							border-radius: 0 6px 6px 0;
						}
					}
				}
			}
		}

		.footer-separator {
			display: none;
			background: #3c465a;
			height: 1px;

			@media (min-width: @screen-sm-min) {
				display: block;
				margin: 40px auto;
				width: calc(100% - 48px);
			}
		}

		.block-list {
			margin-top: 24px;
			font-size: 12px;
			line-height: 16px;
			font-weight: 400;
			color: #fff;
			padding: 0 24px;

			@media (max-width: @screen-sm-max) {
				font-size: 14px;
				line-height: 20px;
			}

			ul {
				list-style: none;
				justify-items: left;
				padding: 0;
				margin: 0;
				display: flex;
				grid-gap: 0;

				@media (max-width: @screen-sm-max) {
					display: grid;
					grid-auto-flow: column;
					grid-gap: 20px 0;
				}

				li {
					margin-right: 16px;

					@media (max-width: @screen-sm-max) {
						margin-right: 0;
					}

					a {
						color: #fff;

						@media (min-width: @screen-md-min) {
							font-weight: 600;
							letter-spacing: .2px;
						}
					}
				}
			}

			.list-primary, .list-second {
				margin-left: 0;
				margin-right: 0;

				.col-sm-12 {
					padding: 0;
				}
			}

			.list-primary {
				> div {
					display: flex;

					@media (max-width: @screen-sm-max) {
						flex-direction: column;
					}
				}

				ul {
					@media (max-width: @screen-sm-max) {
						grid-template-columns: repeat(2, 1fr);
						grid-template-rows: repeat(4, 1fr);
					}
				}

				.title-copy {
					margin-right: 16px;

					@media (max-width: @screen-sm-max) {
						display: none;
					}
				}
			}

			.list-second {
				margin-top: 24px;

				@media (max-width: @screen-sm-max) {
					margin-top: 40px;
				}

				> div {
					display: flex;

					@media (max-width: @screen-sm-max) {
						flex-direction: column;
					}
				}

				ul {
					@media (max-width: @screen-sm-max) {
						grid-template-columns: repeat(2, minmax(auto, 50%));
						grid-template-rows: repeat(2, auto);
					}
				}

				.title-convert {
					margin-right: 16px;

					@media (max-width: @screen-sm-max) {
						margin-bottom: 16px;
						margin-right: 0;
					}
				}
			}

			.title-copy-bottom {
				display: none;
				margin-bottom: 16px;

				@media (max-width: @screen-sm-max) {
					display: block;
				}
			}
		}

		.footer-blog-links {
			display: flex;
			flex-direction: column;
			width: 100%;
			padding: 24px 24px 0;
			row-gap: 16px;

			@media (min-width: @screen-sm-min) {
				padding: 0 24px;
			}

			&_title {
				padding-top: 24px;
				border-top: 1px solid #394355;
				color: rgb(255, 255, 255);

				@media (min-width: @screen-sm-min) {
					padding-top: 0;
					border-top: none;
				}
			}

			&_block {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				row-gap: 12px;

				@media (min-width: @screen-sm-min) {
					display: grid;
					grid-template-columns: repeat(2, minmax(auto, 50%));
					grid-gap: 16px 32px;
				}

				>a {
					color: rgb(255, 255, 255);
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;

					@media (min-width: @screen-sm-min) {
						font-size: 12px;
					}
				}
			}
		}

		.footer-gp-links {
			display: flex;
			flex-direction: column;
			row-gap: 24px;
			width: 100%;
			padding: 24px 24px 0;
			justify-content: center;

			@media (min-width: @screen-sm-min) {
				padding: 0 24px;
				flex-direction: row;
			}

			&_block {
				display: flex;
				flex-direction: column;

				@media (min-width: @screen-sm-min) {
					flex-grow: 1;
				}

				&:nth-child(1) {
					padding-top: 24px;
					border-top: 1px solid #394355;

					@media (min-width: @screen-sm-min) {
						padding-top: 0;
						border-top: none;
					}
				}

				>a {
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16px;
					color: rgba(255, 255, 255, .64);
				}
			}
		}
	}
}
