.c-gp-credits {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	width: 100%;

	&.over-the-map {

	}

	.credits {
		&-wrapper {
			display: flex;
			padding: 8px 38px;
			row-gap: 8px;
			flex-wrap: wrap;

			@media (min-width: 576px) {
				align-items: center;
				justify-content: flex-end;
			}
		}

		&_data {
			display: flex;
			align-items: center;
			width: 100%;
			height: 14px;

			@media (min-width: 576px) {
				width: auto;
			}

			&_rate, &_credits {
				display: inline-flex;
				flex-grow: 1;
				align-items: center;
				justify-content: center;
				height: 100%;

				@media (min-width: 576px) {
					flex-grow: unset;
				}

				&_header {
					color: #9b9ba6;
					font-size: 12px;
					font-weight: 600;
					line-height: 12px;
					margin-right: 4px;
					white-space: nowrap;
				}

				&_details {
					display: inline-flex;
					align-items: center;
					font-size: 12px;
					font-weight: 600;
					line-height: 12px;
					white-space: nowrap;

					>img {
						margin: 0 4px;
					}

					&_numbers {
						display: inline-flex;
						align-items: center;

						&_credits-count {
							margin-right: 8px;
						}

						&_probes-count {
							color: #e64f3d;
						}
					}
				}
			}

			&_rate {
				margin-right: 16px;
			}

			// &_credits {

			// }
		}

		&_add {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			color: #17d4a7;
			text-decoration: underline;
			font-size: 12px;
			font-weight: 600;
			line-height: 20px;
			cursor: pointer;

			@media (min-width: 576px) {
				width: auto;
				margin-left: 16px;
			}
		}
	}
}
