.c-gp-results-share {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	width: 100%;

	@media (min-width: @screen-sm-min) {
		flex-direction: row;
		column-gap: 16px;
	}

	&_switch {
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		font-size: 14px;
		line-height: 20px;
		color: #17233a;

		.share-type-switch {
			display: none;

			& + label {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;
				padding-left: 4px;
				padding-right: 4px;
				width: 100%;
				min-width: 314px;
				height: 40px;
				cursor: pointer;
				font-weight: 400;
				background: transparent;
				border: 1px solid #17d4a7;
				box-sizing: border-box;
				border-radius: 8px;
				position: relative;
				margin-top: 12px;
				margin-bottom: 0;

				@media (min-width: @screen-sm-min) {
					margin: 0;
					width: auto;
				}

				> span:nth-child(1),
				> span:nth-child(2) {
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 8px;
					width: 100%;
					text-align: center;
					user-select: none;
					background: transparent;
					z-index: 2;
					padding: 0 8px;
					white-space: nowrap;
					transition: color 200ms ease-in-out;

					> i {
						font-size: 16px;
						font-weight: 600;
					}
				}

				> span:nth-child(1) {
					color: #fff;
					font-weight: 600;
				}

				.slide-select {
					position: absolute;
					left: 0;
					width: 100%;
					padding: 0 3px;

					.selected {
						width: 50%;
						height: 32px;
						content: "";
						vertical-align: top;
						background: #17d4a7;
						box-shadow: 0 4px 2px -2px rgb(23 35 59 / 6%), 0 2px 8px rgb(23 35 59 / 4%);
						border-radius: 6px;
						font-size: 14px;
						line-height: 20px;
						z-index: 1;
						transition: background-color 400ms ease, border-color 400ms ease, margin-left 400ms ease;
					}
				}
			}

			&.checked + label {
				> span:nth-child(1) {
					color: #17233a;
					font-weight: 400;
				}

				> span:nth-child(2) {
					color: #fff;
					font-weight: 600;
				}

				.slide-select {
					.selected {
						margin-left: 50%;
					}
				}
			}
		}
	}

	&_content {
		display: grid;
		position: relative;
		align-items: center;
		gap: 16px 16px;
		font-size: 16px;
		line-height: 20px;
		width: 100%;

		@media (min-width: @screen-sm-min) {
			grid-template-columns: 1fr;
		}

		&_text {
			padding: 10px 40px 10px 16px;
			background: #fff;
			border: 1.5px solid #e7e7ee;
			box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
			border-radius: 8px;
			color: #17233a;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&_msg {
			position: absolute;
			display: inline-flex;
			justify-content: center;
			width: 100%;
			top: 46px;
			left: 0;
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			color: #17233a;

			@media (min-width: @screen-sm-min) {
				justify-content: flex-start;
			}
		}

		> button {
			position: absolute;
			right: 10px;
			bottom: 10px;
			border: none;
			background: transparent;
			padding: 0;
			margin: 0;
		}
	}
}

.c-gp-results-raw-output {
	.c-gp-results-share {
		&_switch {
			>label {
				margin: 0;
			}
		}

		@media (min-width: @screen-sm-min) {
			padding-left: 28px;
		}
	}
}

.c-gp-results-table-output {
	.c-gp-results-share {
		padding: 24px 24px 0;

		&_switch {
			>label {
				margin: 0;
			}
		}

		@media (min-width: @screen-sm-min) {
			padding: 24px 32px 0;
		}
	}
}
