.c-gp-results-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	height: 48px;
	width: 100%;
	padding: 0 24px;
	border-bottom: 1px solid #e7e7ee;
	background: #fff;
}
