.c-gp-results-controls {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 100%;
	padding: 0 24px;
	border-bottom: 1px solid #e7e7ee;
	background: #fff;

	.content-wrapper {
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 1158px;
		padding: 0 24px;

		&_tabs {
			&_tab {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				color: #17233a;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				padding: 0 16px;
				border-bottom: 2px solid #17d4a7;
			}
		}

		&_ctrls {
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 16px;

			&_display-settings {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 8px;

				&_switch {
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 9.5px;
					height: 32px;
					width: 67px;
					border-radius: 8px;
					border: 1.5px solid #e7e7ee;
					cursor: pointer;

					&_line {
						width: 1.5px;
						height: 16px;
						background: #e7e7ee;
					}
				}
			}

			&_map-switch {
				display: flex;
				align-items: center;
				justify-content: center;
				column-gap: 8px;

				&_switch {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 32px;
					width: 32px;
					border-radius: 8px;
					border: 1.5px solid #e7e7ee;
					cursor: pointer;
				}
			}
		}
	}
}
