@import "../variables.less";

.c-header {
	--link-highlight-color: #f65128;
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	position: relative;
	z-index: 3;

	&.header-with-orange-bg {
		.icon-bar {
			background-color: #fff;
		}

		.nav.navbar-nav > li > a:focus {
			@media (min-width: @screen-md-min) {
				color: #fff;
			}
		}
	}

	&.header-with-globalping-bg, &.header-with-gp-translucent-bg {
		--link-highlight-color: @gp-green;

		.navbar {
			background: #17233a;
			border-bottom: 1.5px solid #202f4a;
		}

		.icon-bar {
			background-color: #fff;
		}

		.nav.navbar-nav > li > a, .nav.navbar-nav > li > a:focus {
			color: #17233a;

			@media (min-width: @screen-md-min) {
				color: #fff;
			}
		}

		.dropdown-menu {
			width: auto;
		}
	}

	&.header-with-gp-translucent-bg {
		.navbar {
			position: relative;
			background-image: url("../../img/globalping/header-grid.svg");
			background-blend-mode: overlay;
			background-size: cover;
			background-position: 0 0;
			overflow: hidden;
		}
	}

	&.header-with-dark-bg {
		.navbar {
			background-color: #323334;
			border: 1px solid #232425;
		}
	}

	&.gp-about-us-header {
		position: absolute;
		width: 100%;

		.navbar {
			background-color: transparent;
			border: none;

			.main-logo_text.globalping {
				color: #fff;
				opacity: .8;
			}
		}

		.dropdown-menu {
			width: auto;
		}

		.dashboard-section {
			@media (min-width: @screen-md-min) {
				a.btn {
					border-color: #fff;
					transition: background-color 200ms, border-color 200ms;

					&:hover {
						color: @gp-green;
						background-color: #fff;
					}
				}

				button.btn {
					border-color: #fff;
					border-left-color: transparent;

					&:hover {
						color: @gp-green;
						background-color: #fff;
					}
				}
			}
		}
	}

	&.header-fw-docs {
		.container-fluid {
			max-width: 100%;

			@media (min-width: 1024px) {
				padding: 0 92px 0 14px;
			}
		}
	}

	.navbar-default {
		position: relative;
		box-shadow: 0 2px 2px -2px rgba(23, 35, 59, .04), 0 2px 8px rgba(23, 35, 59, .04);
		border: none;
		border-bottom: 1px solid #dfe3e7;
	}

	.container-fluid {
		height: 100%;

		@media (min-width: @screen-md-min) {
			display: flex;
			align-items: center;
		}

		.navbar-collapse {
			border-color: transparent;

			@media (max-width: @screen-sm-max) {
				position: absolute;
				left: 0;
				right: 0;
				box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
				z-index: 1001;

				> ul {
					> li {
						> .dropdown-menu {
							margin-top: -7px;
						}

						> a {
							padding: 14px 16px;

							&:hover {
								color: var(--link-highlight-color);
								background: #fff;
							}
						}
					}
				}
			}

			@media (min-width: @screen-md-min) {
				margin-left: auto;
				background: transparent;

				> ul {
					display: flex;
					align-items: center;

					> li {
						margin-right: 0;
						white-space: nowrap;

						& + li {
							margin-left: 22px;
						}
					}
				}
			}

			> ul {
				@media (min-width: @screen-lg-min) {
					> li + li {
						margin-left: 32px;
					}
				}
			}

			&.collapsing {
				position: absolute;
			}
		}
	}

	a {
		font-size: 14px;
		line-height: 20px;
	}

	.navbar-header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;

		@media (min-width: @screen-md-min) {
			margin-right: 0;
			margin-left: 0;
		}

		> .main-logo {
			margin: 12px 16px 12px 0;

			@media (min-width: @screen-sm-min) {
				margin: 15px 24px 15px 0;
			}

			&:hover {
				cursor: pointer;
			}
		}

		.navbar-toggle {
			> .icon-bar {
				transition: .3s;

				@media (max-width: @screen-sm-max) {
					&:nth-child(2) {
						transform: translate(0, 5.2px) rotate(48deg);
					}

					&:nth-child(3) {
						opacity: 0;
					}

					&:nth-child(4) {
						transform: translate(0, -4.5px) rotate(-48deg);
					}
				}
			}

			&.collapsed > .icon-bar {
				opacity: 1;
				transform: none;
			}
		}
	}

	.navbar {
		border-top: 0;
		margin-bottom: 0;
	}

	.about-navbar-right {
		> li > a {
			color: #fff;

			&:hover {
				color: #fff;
			}

			@media (max-width: @screen-sm-max) {
				color: #17233b;

				&:hover {
					color: #fff;
					background: #808080;
				}
			}
		}

		li.dropdown.open > a.dropdown-toggle {
			background: transparent;
			color: var(--link-highlight-color);

			@media (min-width: @screen-md-min) {
				color: #fff;
			}
		}
	}

	.default-navbar-right {
		> li > a {
			color: #17233b;

			&:hover {
				@media (max-width: @screen-sm-max) {
					color: #fff;
					background: #808080;
				}
			}
		}

		li.dropdown.open > a.dropdown-toggle {
			color: var(--link-highlight-color);
		}
	}

	.navbar-filled {
		background: transparent;
		border-bottom: none;
		border-left: none;
		box-shadow: none;

		.navbar-toggle > span {
			background-color: #fff;
		}
	}

	.navbar-hidden {
		visibility: hidden;
	}

	.navbar-nav {
		& > li {
			& > a, button {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				padding: 0;

				.icon-label-mobile {
					display: none;
				}
			}
		}

		& > li > .dropdown-menu {
			border-top-right-radius: 6px;
			border-top-left-radius: 6px;
		}

		@media (max-width: @screen-sm-max) {
			margin: 0;

			& > li {
				border-bottom: 1px solid #dfe3e7;

				& > a {
					justify-content: flex-start;
					height: auto;
					padding: 14px 0 16px;

					> i.fa-angle-down {
						margin-left: auto;
					}

					> .icon-label-mobile {
						display: block;
						margin-left: 10px;
					}
				}
			}
		}
	}

	.dropdown-menu {
		padding-top: 8px;
		padding-bottom: 8px;
		width: 240px;
		border: 1px solid #dfe3e7;
		box-sizing: border-box;
		box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
		border-radius: 6px;

		> li {
			padding-left: 8px;
			padding-right: 8px;

			> a {
				display: flex;
				align-items: center;
				height: 40px;
				width: 100%;
				padding: 10px;
				font-size: 14px;
				line-height: 20px;
				color: #111a2c;

				&:hover {
					background: #f3f5f7 !important;
					border-radius: 4px;
				}

				&:focus {
					background: transparent;
				}
			}
		}
	}

	.dropdown-header {
		> div {
			line-height: 16px;
			color: #79849a;
			padding: 6px 10px;
			font-size: 12px;
		}
	}

	li.dropdown > a {
		display: flex;

		> i {
			font-size: 14px;
			margin-left: 4px;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.c-search-compact {
		margin-right: auto;
		margin-top: 12px;
		margin-bottom: 12px;
		width: 340px;

		@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
			width: 190px;
		}
	}

	&.disabled, &.disabled * {
		pointer-events: none;
	}

	.fa-external-link {
		font-size: 80%;
		margin-left: 6px;
	}

	.nav-badge-new {
		padding: 0 4px;
		margin-left: 8px;
		background: #17d4a7;
		border-radius: 4px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 10px;
		line-height: 20px;
	}

	.main-logo {
		display: flex;
		align-items: center;

		&_text {
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;

			&.globalping {
				color: rgba(255, 255, 255, .3);
				margin-left: -8px;
				margin-right: auto;
				white-space: nowrap;

				@media (min-width: @screen-sm-min) {
					margin-left: -16px;
				}
			}
		}
	}

	.dashboard-section {
		display: flex;

		&.open {
			> a, > a:hover {
				background-color: transparent;
			}
		}

		.btn {
			&:active {
				box-shadow: none;
			}

			@media (max-width: @screen-sm-max) {
				border: none;
			}
		}

		@media (min-width: @screen-md-min) {
			min-width: 166px;
			text-align: right;
			justify-content: center;

			a.btn {
				display: inline-flex;
				padding: 12px;
				border: 1px solid @gp-green;
				border-radius: 8px;
				transition: background-color 200ms, border-color 200ms;

				&.btn-dash {
					border-radius: 8px 0 0 8px;
				}

				&.btn-sign-in {
					padding: 12px 24px;
				}

				&:hover {
					background-color: @gp-green;
				}
			}

			button.btn {
				color: #fff;
				border-radius: 0 8px 8px 0;
				padding: 6px 8px 6px 6px;
				background-color: transparent;
				display: inline-flex;
				border: 1px solid @gp-green;
				border-left: 1px solid transparent;
				transition: background-color 200ms, border-color 200ms;

				&:hover {
					background-color: @gp-green;
				}
			}

			.dropdown {
				margin-left: -1px;

				.dropdown-menu {
					margin-top: -1px;
					border-top-width: 2px;
					border-color: transparent;
					text-align: right;

					.current-user {
						padding: 4px 18px;
						color: #79849a;
					}

					a {
						justify-content: flex-end;
					}
				}
			}
		}
	}
}
