.c-package-install-block {
	margin: 24px -24px 0;

	@media (min-width: @screen-sm-min) {
		margin: 40px 0;
	}

	&.block-empty {
		display: none;

		@media (min-width: @screen-sm-min) {
			display: block;
			margin: 20px 0;
			border-bottom: 1px solid #dfe3e7;
		}
	}

	.package-install-wrapper {
		padding: 24px;
		background: #17233b;

		@media (min-width: @screen-sm-min) {
			padding: 20px;
			border-radius: 8px;
		}

		.switch-wrapper {
			align-items: center;

			> span {
				margin-right: 16px;
			}

			.switch-input {
				display: none;

				& + label {
					display: flex;
					align-items: center;
					padding-left: 4px;
					padding-right: 4px;
					width: 152px;
					height: 32px;
					cursor: pointer;
					font-weight: 400;
					transition: background-color 400ms ease, padding-left 400ms ease;
					background: #394356;
					border: none;
					box-sizing: border-box;
					border-radius: 6px;
					position: relative;
					margin-bottom: 0;

					&.disabled {
						cursor: default;
					}

					> span:nth-child(1),
					> span:nth-child(2) {
						user-select: none;
						position: absolute;
						top: 6px;
						background: transparent;
						z-index: 2;
					}

					> span.disabled {
						opacity: .2;
					}

					> span:nth-child(1) {
						color: #fff;
						left: 23px;
					}

					> span:nth-child(2) {
						color: #cfd6dd;
						right: 14px;
					}

					&:before {
						display: flex;
						width: 74px;
						height: 28px;
						content: "";
						text-align: center;
						vertical-align: top;
						background: #5c667a;
						box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
						border-radius: 4px;
						font-size: 14px;
						line-height: 20px;
						z-index: 1;
					}
				}

				&.checked + label {
					padding-left: 76px;

					> span:nth-child(1) {
						color: #cfd6dd;
					}

					> span:nth-child(2) {
						color: #fff;
					}

					&:before {
						background: #5c667a;
						content: "";
					}
				}
			}
		}

		.versions-wrapper {
			display: flex;
			align-items: center;
			column-gap: 8px;

			>span {
				color: #fff;
				font-size: 14px;
				line-height: 20px;
			}
		}

		.install-settings {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: .2px;
			color: #fff;

			& > .switch-wrapper {
				display: none;
				margin-right: 0;

				@media (min-width: @screen-sm-min) {
					display: flex;
				}

				@media (min-width: @screen-lg-min) {
					margin-right: 32px;
				}
			}

			& > .versions-wrapper {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: flex;
				}
			}

			> div:nth-child(1) {
				font-weight: 600;
				margin-right: auto;
				display: flex;
				align-items: center;
			}

			> div:nth-child(3) {
				margin-left: 24px;
			}

			.settings-btn {
				background: none;
				border: none;

				@media (min-width: @screen-sm-min) {
					display: none;
				}
			}

			.overlay {
				@media (min-width: @screen-sm-min) {
					display: none;
				}
				position: fixed;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 10;
				background-color: #17233b;
				opacity: .24;
			}

			.settings-mobile {
				color: #5c667a;
				padding: 24px;
				box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
				background-color: #fff;
				border-radius: 8px 8px 0 0;
				margin-left: 0;
				display: flex;
				flex-direction: column;
				position: fixed;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 20;

				@media (min-width: @screen-sm-min) {
					display: none;
				}

				.switch-wrapper {
					width: 100%;

					.switch-input {
						& + label {
							margin-top: 8px;
							background: #f3f5f7;
							width: 100%;
							height: 40px;
							border: 1px solid #cfd6dd;

							&:before {
								background: #fff;
								height: 32px;
								width: 50%;
							}

							> span:nth-child(1), > span:nth-child(2) {
								display: inline-block;
								text-align: center;
								width: 50%;
								top: 0;
								transform: translateY(50%);
							}

							> span:nth-child(1) {
								color: #111a2c;
								left: 0;
							}

							> span:nth-child(2) {
								color: #5c667a;
								right: 0;
							}
						}

						&.checked + label {
							padding-left: 50%;

							&:before {
								width: 100%;
							}

							> span:nth-child(1) {
								color: #5c667a;
							}

							> span:nth-child(2) {
								color: #111a2c;
							}
						}
					}
				}

				.versions-wrapper {
					display: flex;
					flex-direction: column;
					row-gap: 8px;
					margin-top: 24px;
					width: 100%;
					align-items: flex-start;

					>span {
						color: #5c667a;
						font-weight: 400;
					}
				}

				.btn-primary {
					margin-top: 24px;
				}

				.btn-secondary {
					margin-top: 12px;
					border: none;
				}
			}
		}

		.install-script {
			min-height: 60px;

			&.install-script-2 {
				min-height: 140px;
			}

			.code-wrapper {
				display: flex;
				flex-flow: row wrap;
				flex-direction: column;
				max-width: 100%;
				overflow: auto;

				// Nice scrollbars in Webkit.
				&::-webkit-scrollbar-track {
					background-color: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background: #394356;
				}

				&::-webkit-scrollbar-thumb:hover {
					background: #5c667a;
				}
			}

			.script-wrapper-default {
				&:not(:nth-child(1)) {
					margin-top: 20px;
				}
			}

			.script-wrapper-esm {
				flex-direction: column;
			}

			.script-wrapper-esm, .script-wrapper-default {
				position: relative;

				.script-tag, .script-text {
					font-family: "Source Code Pro", monospace;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 20px;
					white-space: nowrap;
				}

				.script-tag {
					color: #c6cddc;
				}

				.script-text {
					color: #fa8f76;
					padding-left: 2em;

					> span > a, > a {
						color: #fa8f76;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.btn-group {
					position: absolute;
					top: 0;
					right: 0;
					cursor: pointer;

					&_copy-dropdown {
						display: none;

						@media (min-width: @screen-sm-min) {
							display: block;
						}
					}

					> .btn.dropdown-toggle {
						padding: 0;
						background: transparent;
					}
				}
			}
		}

		.horizontal-divider-19 {
			background: #394356;
			height: 1px;
			margin: 19px 0;

			&:nth-child(4) {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: block;
				}
			}
		}

		.install-esm-ctrls {
			display: none;

			@media (min-width: @screen-sm-min) {
				display: flex;
				align-items: center;
			}

			.esm-ctrl {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 10px;
				height: 32px;
				padding: 0 12px;
				background: #394356;
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				text-align: center;
				color: #fff;
				text-decoration: none;
				cursor: pointer;
			}

			.jsfiddle-form {
				display: inline-flex;
				margin-right: 10px;

				.esm-ctrl {
					border: none;
					margin-right: 0;
				}
			}
		}

		.install-default-warning {
			font-size: 12px;
			line-height: 16px;
			padding: 8px 0;
			color: #c6cddc;

			> a {
				color: #fff;
			}
		}
	}

	.dropdown-menu {
		max-height: 282px;
		overflow-y: auto;
	}
}
