.c-periods-dropdown {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	position: relative;
	z-index: 11;
	display: flex;
	flex-grow: 1;

	.dropdown {
		&_head {
			display: flex;
			flex-grow: 1;

			>span {
				font-size: 14px;
				line-height: 20px;
				letter-spacing: 0;
				background: #5c667a;
				margin-right: 16px;
			}

			&_selected {
				all: unset;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-grow: 1;
				height: 40px;
				cursor: pointer;
				padding: 10px 8px 10px 16px;
				gap: 4px;
				border-radius: 6px;
				border: 1px solid #cfd6dd;
				background: #fff;

				&_text {
					color: #17233b;
					font-size: 14px;
					line-height: 20px;
					text-decoration: none;
					white-space: nowrap;
				}

				&.opened {
					.dropdown_head_selected_text {
						color: #f65128;
					}
				}
			}
		}

		&_body {
			position: absolute;
			top: 49px;
			right: 0;
			z-index: 1;
			display: none;
			flex-direction: column;
			row-gap: 16px;
			background: #fff;
			padding: 8px 0 0 8px;
			border-radius: 6px;
			border: 1px solid #dfe3e7;
			box-shadow: 0 10px 22px -2px rgba(23, 35, 59, .08), 0 0 1px 1px rgba(23, 35, 59, .11), 0 4px 4px 0 rgba(23, 35, 59, .06);
			min-width: 160px;

			&.opened {
				display: flex;
			}

			&_filter {
				position: relative;
				padding-right: 8px;

				> img {
					position: absolute;
					top: 10px;
					left: 16px;
					pointer-events: none;
				}

				> input {
					height: 40px;
					padding: 10px 8px 10px 42px;
					border-radius: 6px;
					border: 1px solid #cfd6dd;
					background: #fff;
					width: 100%;

					&:focus {
						border: 1px solid #f65128;
					}

					&:focus-visible {
						outline: none;
					}
				}
			}

			&_list {
				list-style-type: none;
				overflow-y: auto;
				padding: 0 8px 0 0;
				margin: 0;
				max-height: 234px;

				&_separator {
					height: 1px;
					background: #dfe3e7;
					margin: 10px 0;
				}

				&_item {
					height: 40px;

					>a {
						display: inline-block;
						text-align: start;
						height: 100%;
						padding: 10px;
						color: #111a2c;
						white-space: nowrap;
						cursor: pointer;
						width: 100%;
						text-overflow: ellipsis;
						overflow: hidden;
						text-decoration: none;
					}

					&:hover {
						border-radius: 4px;
						background: #f3f5f7;
					}

					&.selected {
						border-radius: 4px;
						background: #eee;
					}
				}
			}

			&_nothing-found-msg {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 8px;
			}
		}
	}
}

.c-gsap-package-sidemenu {
	.c-periods-dropdown {
		font-family: Inter, Lexend, sans-serif;

		.dropdown {
			&_head {
				justify-content: flex-end;

				&_selected {
					margin-left: 12px;
					border: none;
					flex-grow: 0;
					column-gap: 16px;
					padding: 0;
					height: auto;

					&_text {
						color: #222;
						font-weight: 500;
						letter-spacing: -.2px;
					}

					&_img-wrapper {
						display: flex;
						align-items: center;
						justify-content: center;
						color: #111a2c;
						padding: 0;
						background: #f2f2f2;
						border-radius: 6px;
						height: 24px;
						width: 24px;

						>img {
							opacity: .7;
						}
					}

					&.opened {
						.dropdown_head_selected {
							&_text {
								color: #222;
							}

							&_img-wrapper {
								background: #dfedd3;
								transform: rotate(180deg) scaleX(-1);
							}
						}
					}
				}
			}

			&_body {
				max-width: 160px;
				top: 33px;

				&_list {
					&_item {
						&:hover {
							font-weight: 600;
						}

						&.current {
							background: #f2f2f2;
							border-radius: 0;
							font-weight: 600;
							color: #222;
						}
					}
				}
			}
		}
	}
}

.c-package-sidemenu {
	.c-periods-dropdown {
		.dropdown {
			&_head {
				justify-content: flex-end;

				&_selected {
					border: none;
					flex-grow: 0;
					height: auto;
					padding: 0;
					align-items: flex-end;
					column-gap: 0;
					margin-right: -4px;

					&_text {
						color: #111a2c;
					}
				}
			}

			&_body {
				top: 29px;

				@media (min-width: @screen-sm-min) {
					max-width: 160px;
				}
			}
		}
	}
}

.p-proxy-project {
	.c-periods-dropdown {
		margin-top: 12px;

		@media (min-width: @screen-sm-min) {
			margin-top: 0;
		}

		.dropdown {
			&_body {
				width: 100%;
				max-width: 320px;

				@media (min-width: @screen-sm-min) {
					width: auto;
				}
			}
		}
	}
}

.p-statistics {
	.c-periods-dropdown {
		.dropdown {
			&_body {
				width: 100%;
				max-width: 320px;

				@media (min-width: @screen-xs-max) {
					width: auto;
				}
			}
		}
	}
}
