.probe-single-card {
	border: 1px solid #e7e7ee;
	border-radius: 12px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	padding: 8px 12px;

	@media (min-width: @screen-sm-min) {
		grid-template-columns: minmax(200px, auto) minmax(auto, 300px);
	}

	&_details {
		display: flex;
		align-items: center;
		gap: 12px;

		&_icon {
			flex-shrink: 0;
			border: 1px solid #e0e0e0;
			border-radius: 100%;
			width: 32px;
			height: 32px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&_info {
			&_city {
				display: flex;
				align-items: center;
				gap: 8px;
				font-size: 14px;
				font-weight: 600;
			}

			&_location {
				font-size: 14px;
			}
		}
	}

	&_tag {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		margin: auto 0;

		@media (min-width: @screen-sm-min) {
			justify-content: flex-end;

			// force two tags in a column
			&:has(> :last-child:nth-child(2)) {
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;
			}
		}

		&_pair {
			display: flex;
			gap: inherit;
		}

		&_item {
			border-radius: 6px;
			border: 1px solid #e0e0e0;
			height: 24px;
			padding: 3px 8px;
			font-size: 14px;
			line-height: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 200px;
		}
	}
}
