.c-tags-input {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 12px;
	margin: 0;
	position: relative;

	&_info {
		display: flex;
		white-space: nowrap;

		&_label, &_errorMsg {
			font-weight: 400;
			font-size: 12px;
			line-height: 100%;
			color: #17233a;
		}

		&_label {
			display: flex;
			align-items: center;
			column-gap: 8px;
		}

		&_errorMsg {
			position: absolute;
			bottom: -16px;
			left: 0;
			white-space: nowrap;

			&:first-letter {
				text-transform: capitalize;
			}
		}
	}

	&_err-icon {
		position: absolute;
		right: 16px;
		bottom: 10px;
		background: #fff;
	}

	&.with-input-icon {
		&.no-values {
			.c-tags-input_input-icon {
				display: flex;
			}

			.choices {
				&__inner {
					padding: 0 16px 0 36px !important;
				}
			}
		}

		.c-tags-input_input-icon {
			display: none;
			position: absolute;
			left: 16px;
			bottom: 10px;
			z-index: 1;
		}
	}

	.choices {
		display: flex;
		width: 100%;
		height: 40px;
		min-height: 40px;

		&.is-focused {
			box-shadow: 0 2px 2px rgba(0, 0, 0, .04), 0 0 0 1px #fff, 0 0 0 4px rgba(23, 212, 167, .48);
			border: 1.5px solid #e7e7ee;
			border-radius: 8px;

			.choices__inner {
				width: 100%;
				border: 1.5px solid #e7e7ee;
				box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
			}
		}

		&__inner {
			display: flex;
			align-items: center;
			height: 100%;
			min-height: auto;
			padding: 0 4px !important;
			border-radius: 8px;
			background: #fff;
			border: 1.5px solid #e7e7ee;
			box-shadow: 0 2px 2px rgba(0, 0, 0, .04);
		}

		&__list {
			display: flex;
			column-gap: 4px;
		}

		&__item {
			margin: 0 !important;
			display: flex !important;
			align-items: center !important;
			column-gap: 8px;
			height: 32px !important;
			padding: 4px 8px !important;
			border-radius: 6px !important;
			border: none !important;
			background: #f3f5f6 !important;
			color: #17233a !important;
			font-size: 14px !important;
			font-weight: 400 !important;
			line-height: 20px !important;
			white-space: nowrap;

			.choices__button {
				margin: 0 !important;
				padding: 0 !important;
				border: none !important;
				height: 16px !important;
				width: 16px !important;
				background: url("../../img/globalping/tag-input-close-icon.svg") no-repeat !important;
				background-size: cover !important;
				opacity: 1 !important;
			}
		}

		&__input {
			display: flex;
			flex-shrink: 0;
			flex-grow: 1;
			max-width: 100% !important;
			width: auto !important;
			margin: 0 0 0 8px !important;
			padding: 0 !important;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			background: transparent;
		}
	}
}
