<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FreeOpenSourceCdnSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FreeOpenSourceCdnSidebar></FreeOpenSourceCdnSidebar>

<div class="custom-cdn-for-open-source free-open-source-cdn">
	<div class="container">
		<div class="row">
			<div class="col-md-14 col-md-offset-6 col-sm-18 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					Free Open Source CDN
				</div>

				<h1>Custom CDN Hosting</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
				<p>
					If your project does not qualify to be hosted in GitHub or you need direct access to your files, it's not a problem! We can work together and set up
					a custom configuration for your project. This way, you can have full control over your files, without the restrictions of GitHub, and the ability to
					utilize the full power of jsDelivr.
				</p>

				<h3>Suitable for:</h3>

				<ul class="ul">
					<li>Binary hosting. Windows executable files and zips</li>
					<li>Frequently updated files</li>
					<li>Projects that can't follow jsDelivr file structure</li>
				</ul>

				<p>
					<strong>jsDelivr is here to help and not to limit.</strong> Even if what you need is not listed above, feel free to contact us.
				</p>

				<div class="contact-form-wrapper">
					<h3 class="text-center">Contact us</h3>

					<form class="text-center">
						<div class="row">
							<div class="col-xs-8 col-xs-offset-4">
								<input class="input" type="text" value="{{name}}" placeholder="Your name">
							</div>

							<div class="col-xs-8">
								<input class="input" type="email" value="{{email}}" placeholder="Your e-mail">
							</div>
						</div>

						<div class="row">
							<div class="col-xs-16 col-xs-offset-4">
								<textarea class="input" value="{{message}}" placeholder="Your message"></textarea>
							</div>
						</div>

						{{#if error}}
							An error occurred while processing your request. Please try again later.<br>
						{{/if error}}

						{{#if sent}}
							Your message has been sent, and we'll get back to you soon.
						{{else}}
							<button class="btn btn-primary send-message-btn" on-click="send(event, name, email, message)" disabled="{{!name || !email || !message}}">
								<i class="fa fa-envelope"></i>Send message
							</button>
						{{/if sent}}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'Custom CDN Hosting - jsDelivr',
			};
		},
		send: function (event, name, email, message) {
			var _this = this;
			event.original.preventDefault();

			$.ajax({
				type: 'POST',
				url: '/api/mail',
				data: JSON.stringify({ page: 'custom-cdn', name: name, email: email, message: message }),
				contentType: 'application/json',
				success: function () {
					_this.set('sent', true);
					_this.set('error', false);
				},
				error: function () {
					_this.set('error', true);
				},
			});

			return false;
		}
	};
</script>
