<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FreeOpenSourceCdnSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FreeOpenSourceCdnSidebar></FreeOpenSourceCdnSidebar>

<div class="javascript-cdn free-open-source-cdn">
	<div class="container">
		<div class="row">
			<div class="col-md-14 col-md-offset-6 col-sm-18 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					Free Open Source CDN
				</div>

				<h1>jsDelivr JavaScript CDN — The advanced open source public CDN</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
				<p>
					As a developer, you are probably aware of <a href="https://developers.google.com/speed/libraries/">Google Hosted Libraries</a>. Google offers an easy and
					fast way to include 14 popular JavaScript libraries in your websites.
				</p>

				<p>
					But what if you are a webmaster and you want take advantage of a fast CDN with other less popular projects too? Or if you are
					a developer and you want to make your project easier to access and use by other users?
				</p>

				<p>
					This is where <a href="/">jsDelivr</a> comes into play. jsDelivr is a free and open source CDN created to help developers and webmasters.
					There are no popularity restrictions and all kinds of files are allowed, including JavaScript libraries, jQuery plugins, CSS frameworks, fonts and more.
				</p>

				<img src="/img/free-open-source-cdn/javascript-cdn/map.png" class="javascript-cdn-map">

				<h3>Adding a library</h3>

				<ol class="ol">
					<li>
						<strong>To add a new library or update an existing one, all the developer has to do</strong> is to use GitHub's web interface to add 2 files to our repository with
						the modifications they see fit. Once a moderator reviews the pull request and merges it, the files become instantly available from
						the official website.
					</li>

					<li>
						<strong>If a moderator is online, the approval should not take</strong> more than 20 minutes. However, it can take up to 10 hours until someone
						comes online. For existing projects, updates are auto-merged by our bot if they pass all the tests.
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'JavaScript CDN - jsDelivr',
			};
		},
	};
</script>
