<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="SponsorsSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<SponsorsSidebar></SponsorsSidebar>

<div class="become-a-sponsor sponsors">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<h1>Become a sponsor and make jsDelivr better</h1>
				<p>You can either sponsor jsDelivr with your services or with monthly donations. For example, to become a Bronze sponsor you need to either sponsor a service worth $150-499 per month or simply donate the same amount of money towards the further development of the project. If you are a company then you can also donate development hours of your coders towards improving jsDelivr. Just send us an email if you have questions.</p>
			</div>
		</div>
	</div>
	<div class="container become-a-sponsor-content-wrapper">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-5 col-sm-offset-2 col-xs-6">
				<div class="pricing-table pricing-table-platinum">
					<div class="pricing-table-title">
						Platinum
					</div>

					<div class="pricing-table-body">
						<div class="pricing-table-price">
							$1 500<sup>+</sup>
							<div>/month</div>
						</div>

						<ul>
							<li>Logo + link in header</li>
							<li>Blog post announcing the sponsorship</li>
							<li>Tweet</li>
							<li>Big logo on top, in "Sponsors" page along with a text description</li>
							<li>Mentions future in blog posts on third-party websites</li>
							<li>Other possible partnership opportunities</li>
						</ul>
					</div>

					<div class="pricing-table-footer">
						<a href="mailto:contact@jsdelivr.com?subject=Platinum%20sponsor" class="btn btn-become-a-sponsor">Become a sponsor</a>
						<a class="pricing-table-sponsor-sample" href="/sponsors/our-sponsors#platinum">Sample</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-5 col-xs-6">
				<div class="pricing-table pricing-table-gold">
					<div class="pricing-table-title">
						Gold
					</div>

					<div class="pricing-table-body">
						<div class="pricing-table-price">
							$500
							<div>/month</div>
						</div>

						<ul>
							<li>Logo + link in footer</li>
							<li class="pricing-table-disabled">Blog post announcing the sponsorship</li>
							<li>Tweet</li>
							<li>Logo + link below Platinum sponsors in "Sponsors" page. Small description</li>
							<li class="pricing-table-disabled">Mentions future in blog posts on third-party websites</li>
						</ul>
					</div>

					<div class="pricing-table-footer">
						<a href="mailto:contact@jsdelivr.com?subject=Gold%20sponsor" class="btn btn-become-a-sponsor">Become a sponsor</a>
						<a class="pricing-table-sponsor-sample" href="/sponsors/our-sponsors#gold">Sample</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-5 col-xs-6">
				<div class="pricing-table pricing-table-bronze">
					<div class="pricing-table-title">
						Bronze
					</div>

					<div class="pricing-table-body">
						<div class="pricing-table-price">
							$150
							<div>/month</div>
						</div>

						<ul>
							<li class="pricing-table-disabled">Logo + link in header</li>
							<li class="pricing-table-disabled">Blog post announcing the sponsorship</li>
							<li class="pricing-table-disabled">Tweet</li>
							<li>Logo + link below Gold sponsors in "Sponsors" page. No description</li>
							<li class="pricing-table-disabled">Mentions future in blog posts on third-party websites</li>
						</ul>
					</div>

					<div class="pricing-table-footer">
						<a href="mailto:contact@jsdelivr.com?subject=Bronze%20sponsor" class="btn btn-become-a-sponsor">Become a sponsor</a>
						<a class="pricing-table-sponsor-sample" href="/sponsors/our-sponsors#gold">Sample</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-5 col-xs-6">
				<div class="pricing-table pricing-table-custom">
					<div class="pricing-table-title">
						Custom
					</div>

					<div class="pricing-table-body">
						<img src="/img/sponsors/become-a-sponsor/custom.png">

						<p>
							For companies that want to offer a smaller or bigger amount than the one listed above and/or has custom requirements from jsDelivr.
						</p>
					</div>

					<div class="pricing-table-footer">
						<a href="mailto:contact@jsdelivr.com?subject=Custom%20sponsor" class="btn btn-become-a-sponsor btn-default">Become a sponsor</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'Become a sponsor - jsDelivr',
			};
		},
	};
</script>
