<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="SponsorsSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<SponsorsSidebar></SponsorsSidebar>

<div class="our-sponsors sponsors">
	<div class="media-mentions">
		<h2>Media Mentions and Links</h2>

		<ul>
			<li>
				<div class="media-mention-title">
					jsDelivr – The advanced open source public CDN
				</div>

				<div class="media-mention-link">
					<a href="https://hacks.mozilla.org/2014/03/jsdelivr-the-advanced-open-source-public-cdn/">Mozilla Guest Blog Post</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					Interview with driving forces behind web dev projects jsDelivr & jSter
				</div>

				<div class="media-mention-link">
					<a href="http://royal.pingdom.com/2013/05/22/web-dev-projects/">Pingdom Interview</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					Speed Up WordPress With the Free jsDelivr CDN
				</div>

				<div class="media-mention-link">
					<a href="http://wpmu.org/speed-up-wordpress-with-the-free-jsdeliver-cdn/">wpmu.org</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					Integrated by WP SlimStat
				</div>

				<div class="media-mention-link">
					<a href="http://wordpress.org/extend/plugins/wp-slimstat/">wordpress.org</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					jsDelivr Provides Free CDN Solution for Hosting Common Applications
				</div>

				<div class="media-mention-link">
					<a href="http://www.cdn-advisor.com/jsdelivr-provides-free-cdn-solution-for-hosting-common-applications/">cdn-advisor.com</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					Latest WordPress Plugins To Jump Start Your Website
				</div>

				<div class="media-mention-link">
					<a href="http://www.dezignmatterz.com/best-wordpress-plugins-2012/">dezignmatterz.com</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					How To Make Your WordPress Site Load Faster in 2013
				</div>

				<div class="media-mention-link">
					<a href="http://www.iblogzone.com/2013/01/make-your-wordpress-site-load-faster-2013.html">iblogzone.com</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					10 Handy WordPress Plugins to Improve Page Loading Speed
				</div>

				<div class="media-mention-link">
					<a href="http://www.wpsquare.com/wordpress-plugins-improve-loading-speed/">wpsquare.com</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					jsDelivr WordPress CDN Plugin
				</div>

				<div class="media-mention-link">
					<a href="http://tech.graphicline.co.za/jsdelivr-wordpress-cdn-plugin-review/">tech.graphicline.co.za</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					jsDelivr - A Free CDN For JavaScript And jQuery Plugins
				</div>

				<div class="media-mention-link">
					<a href="http://www.functionn.in/2012/06/jsdelivr-free-cdn-for-javascript-and.html">functionn.in</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					14 CDN Providers to Make WordPress Blazing Fast
				</div>

				<div class="media-mention-link">
					<a href="http://wpmu.org/14-cdn-providers-to-make-wordpress-blazing-fast/">wpmu.org</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					10 Plugins to Make WordPress Blazing Fast
				</div>

				<div class="media-mention-link">
					<a href="http://wpmu.org/10-plugins-to-make-wordpress-blazing-fast/">wpmu.org</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					The Complete Guide to Free & Paid WordPress CDN Services
				</div>

				<div class="media-mention-link">
					<a href="http://wplift.com/wordpress-cdn-services">wplift.com</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					Acelera tu sitio web con CDN gratuito de jsDelivr para WordPress (Spanish)
				</div>

				<div class="media-mention-link">
					<a href="http://mvkoen.com/cdn-gratuito-de-jsdelivr-para-wordpress/">mvkoen.com</a>
				</div>
			</li>

			<li>
				<div class="media-mention-title">
					Обзор бесплатного CDN-хостинга JS библиотек jsDelivr (Russian)
				</div>

				<div class="media-mention-link">
					<a href="http://habrahabr.ru/post/168329/">habrahabr.ru</a>
				</div>
			</li>
		</ul>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-6 col-sm-12 col-sm-offset-5 col-xs-8 col-xs-offset-7">
				<h1>Our sponsors</h1>
			</div>
		</div>
	</div>

	<div class="container our-sponsors-content-wrapper">
		<div class="row">
			<div class="col-xs-14 col-xs-offset-1">
				<section class="our-sponsors-platinum">
					<h3 id="platinum"><span>Platinum</span></h3>

					<div class="row">
						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/platinum/cloudflare.png" width="210">
								</div>

								<p>
									Main backend CDN for jsDelivr offering unlimited bandwidth and locations.
									"Offers free and commercial, cloud-based services to help secure and accelerate websites."
								</p>

								<a target="_blank" href="https://www.cloudflare.com/"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>

						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/platinum/stackpath.png" width="210">
								</div>

								<p>
									Main backend CDN for jsDelivr offering unlimited bandwidth and locations.
									"Make your websites and apps faster, purge and provision content instantly, and get CDN analytics in real time."
								</p>

								<a target="_blank" href="https://www.stackpath.com/"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>

						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/platinum/keycdn.png" width="210">
								</div>

								<p>
									Main backend CDN for jsDelivr offering unlimited bandwidth and locations.
									"KeyCDN is a high performance CDN. Our global delivery network instantly speed up your websites, online games or live streams."
								</p>

								<a target="_blank" href="https://www.keycdn.com/"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>

						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/platinum/cedexis.png" width="210">
								</div>

								<p>
									Load-balancer based on RUM and uptime data with real time performance monitoring.
									"Optimize clouds, data centers and CDN content delivery to improve the availability, latency and throughput of your website and
									mobile apps, for every user on the globe."
								</p>

								<a target="_blank" href="http://www.cedexis.com/"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>

						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/platinum/nsone.png" width="210">
								</div>

								<p>
									Our exclusive DNS hosting provider offering unlimited DNS queries and an additional layer of failover.
									"Industry leading DNS traffic management - managed DNS, private DNS networks, and powerful turnkey traffic routing setups."
								</p>

								<a target="_blank" href="https://ns1.com/"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>
					</div>
				</section>

				<div class="our-sponsors-become-a-sponsor">
					<img src="/img/sponsors/our-sponsors/megaphone.png" class="pull-left">

					Want to become a sponsor? <span><a href="/sponsors/become-a-sponsor">Click here</a> for more details</span>

					<img src="/img/sponsors/our-sponsors/megaphone.png" style="float: right; transform: rotateY(180deg);">
				</div>

				<section class="our-sponsors-gold">
					<h3 id="gold"><span>Gold</span></h3>

					<div class="row">
						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/gold/algolia.png">
								</div>

								<p>
									Algolia Search provides hosted full-text, numerical, faceted and geolocalized search.
								</p>

								<a target="_blank" href="https://www.algolia.com/"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>

						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/gold/quantil.png">
								</div>

								<p>
									Global acceleration of Mobile, Website, Download and Video content for both the middle- and last-mile.
								</p>

								<a target="_blank" href="https://www.quantil.com/"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>

						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/gold/maplatency.png">
								</div>

								<p>
									Speedchecker - Test ping latency worldwide.
								</p>

								<a target="_blank" href="http://www.maplatency.com/?pk_campaign=jsdelivr"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>

						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<img src="/img/sponsors/our-sponsors/gold/packet.png">
								</div>

								<p>
									Bare metal cloud built for developers. 8 minute deploys, no hypervisor, and full automation support.
								</p>

								<a target="_blank" href="https://www.packet.net/"><i class="fa fa-link"></i>Go to website</a>
							</div>
						</div>
					</div>
				</section>

				<section class="our-sponsors-bronze">
					<h3 id="bronze"><span>Bronze</span></h3>

					<div class="row">
						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<a target="_blank" href="https://www.tutum.co/"><img src="/img/sponsors/our-sponsors/bronze/tutum.png"></a>
								</div>
							</div>
						</div>

						<div class="col-md-8 col-xs-12">
							<div class="our-sponsors-sponsor">
								<div class="our-sponsors-logo">
									<a target="_blank" href="https://www.statuspage.io/"><img src="/img/sponsors/our-sponsors/bronze/statuspage.png"></a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'Our sponsors - jsDelivr',
			};
		},
		onrender: function () {
			$('.our-sponsors-platinum > .row').shuffle('.col-md-8.col-xs-12');
			$('.our-sponsors-gold > .row').shuffle('.col-md-8.col-xs-12');
			$('.our-sponsors-bronze > .row').shuffle('.col-md-8.col-xs-12');
		}
	};
</script>
