# https://github.com/browserslist/browserslist#readme

> 0.5%
last 2 versions
not kaios > 0
not OperaMini all
not dead

# The databases are very outdated for these browsers, which causes them to flag too many features.
not and_uc > 0
not and_qq > 0
