{
	"extends": "@martin-kolarik/eslint-config",
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"env": {
		"browser": true,
		"jquery": true
	},
	"globals": {
		"_": false,
		"db": false,
		"log": false,
		"logger": false,
		"Ractive": false,
		"redis": false,
		"ClipboardJS": false,
		"gtag": false,
		"component": false,
		"marked": false,
		"Pace": false,
		"Chart": false,
		"google": false,
		"browser": false,
		"BASE_URL": false,
		"perfopsRumJs": false,
		"DOMPurify": false,
		"app": true,
		"hljs": true,
		"d3": false
	},
	"plugins": [
		"compat",
		"html"
	],
	"overrides": [
		{
			"files": [
				"src/public/**",
				"src/views/**"
			],
			"rules": {
				"compat/compat": [
					"error"
				],
				"promise/catch-or-return": [
					"off"
				]
			},
			"settings": {
				"lintAllEsApis": true,
				"polyfills": []
			}
		}
	]
}
