{
	"extends": "@martin-kolarik/eslint-config",
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"env": {
		"jquery": true
	},
	"globals": {
		"_": false,
		"db": false,
		"log": false,
		"logger": false,
		"Ractive": false,
		"redis": false,
		"ClipboardJS": false,
		"gtag": false,
		"component": false,
		"marked": false,
		"Pace": false,
		"Chart": false,
		"google": false,
		"browser": false,
		"BASE_URL": false,
		"perfopsRumJs": false,
		"app": true,
		"hljs":  true
	},
	"plugins": [
		"html"
	],
	"overrides": [
		{
			"files": [
				"src/public/**",
				"src/views/**"
			],
			"rules": {
				"promise/catch-or-return": [
					"off"
				]
			}
		}
	]
}
