{
	"customSyntax": "postcss-less",
	"extends": "@martin-kolarik/stylelint-config",
	"ignoreFiles": [
		"src/assets/less/bootstrap/**",
		"src/assets/less/variables.less",
		"src/views/**"
	],
	"plugins": [
		"stylelint-no-unsupported-browser-features"
	],
	"rules": {
		"function-no-unknown": [
			true,
			{
				"ignoreFunctions": [
					"darken",
					"lighten"
				]
			}
		],
		"plugin/no-unsupported-browser-features": [
			true,
			{
				"ignore": [
					"css-appearance",
					"css-gradients",
					"css-hyphens",
					"css-resize",
					"css-sticky",
					"css3-cursors",
					"multicolumn",
					"user-select-none",
					"word-break",
					"wordwrap",
					"intrinsic-width",
					"css-masks",
					"css-clip-path"
				]
			}
		]
	}
}
