{
	"customSyntax": "postcss-less",
	"extends": "@martin-kolarik/stylelint-config",
	"ignoreFiles": [
		"src/assets/less/bootstrap/**",
		"src/assets/less/variables.less",
		"src/views/**"
	],
	"plugins": [
		"stylelint-no-unsupported-browser-features"
	],
	"overrides": [
		{
			"files": [
				"**/*.less"
			],
			"rules": {
				"media-query-no-invalid": null,
				"declaration-property-value-no-unknown": null
			}
		}
	],
	"rules": {
		"function-no-unknown": [
			true,
			{
				"ignoreFunctions": [
					"darken",
					"lighten"
				]
			}
		],
		"plugin/no-unsupported-browser-features": [
			true,
			{
				"ignorePartialSupport": true,
				"ignore": [
					"css-nesting",
					"css-resize",
					"css-selection",
					"css3-cursors",
					"css-scrollbar"
				]
			}
		]
	}
}
