.p-globalping-404 {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 824px;
	background: linear-gradient(180deg, #00b88c 8%, #fff 100%);

	@media (min-width: @screen-md-min) {
		height: 1080px;
	}

	.gp-404 {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 24px;
		width: 100%;
		max-width: 1248px;
		height: 100%;
		margin: 0 auto;
		padding: 114px 24px 0;

		@media (min-width: @screen-md-min) {
			flex-direction: row;
			justify-content: space-between;
			padding: 190px 24px 338px;
		}

		&_text-block {
			display: flex;
			flex-direction: column;
			row-gap: 24px;

			@media (min-width: @screen-md-min) {
				width: 412px;
			}

			&_title {
				font-size: 32px;
				font-weight: 600;
				line-height: 50px;
				letter-spacing: .2px;
				color: #fff;
			}

			&_descr {
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				color: #fff;
			}

			&_btn {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				width: 172px;
				padding: 10px 20px;
			}
		}

		&_img-block {
			display: flex;
			width: 100%;
			max-width: 552px;
			height: auto;
			mix-blend-mode: overlay;/* stylelint-disable */
		}
	}
}
