.p-globalping-network {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.gp-network {
		display: flex;
		flex-direction: column;

		&_map-wrapper {
			width: 100%;
			height: 464px;

			@media (min-width: @screen-sm-min) {
				height: 640px;
			}

			&_map {
				height: 100%;
				width: 100%;
			}
		}

		&_filters {
			display: flex;
			flex-direction: column;
			max-width: 808px;
			row-gap: 24px;
			padding: 24px;
			margin: 48px 24px 0;
			border: 1px solid #e7e7ee;
			border-radius: 8px;

			@media (min-width: @screen-sm-min) {
				margin: 48px auto 0;
				width: calc(100% - 48px);
				flex-direction: row;
				column-gap: 24px;
			}

			@media (min-width: @screen-md-min) {
				margin: 32px auto 0;
				width: 100%;
			}

			&_title {
				display: flex;
				column-gap: 8px;

				>span {
					font-size: 14px;
					font-weight: 600;
					line-height: 20px;
				}
			}

			&_list {
				display: flex;
				flex-wrap: wrap;
				gap: 8px 8px;

				&_item, &_selected {
					display: flex;
					align-items: center;
					height: 32px;
					padding: 0 8px;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					color: #17233a;
					border-radius: 6px;
				}

				&_item {
					background: #f3f5f6;
					cursor: pointer;

					&:hover {
						background: #efefef;
					}
				}

				&_selected {
					background: #e7e7ee;
					column-gap: 8px;

					> img {
						cursor: pointer;
					}
				}
			}
		}

		&_list {
			display: flex;
			flex-direction: column;
			margin: 24px 24px 0;
			width: calc(100% - 48px);
			overflow-y: auto;
			padding-bottom: 24px;

			@media (min-width: 576px) {
				flex-flow: column wrap;
				height: 1012px;
				margin: 24px auto 0;
			}

			@media (min-width: @screen-md-min) {
				max-width: 808px;
				margin: 32px auto 0;
			}

			&_item {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				column-gap: 4px;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				color: #17233a;

				@media (min-width: 576px) {
					width: calc(100% / 2);
				}

				@media (min-width: @screen-sm-min) {
					width: calc(100% / 3);
				}

				@media (min-width: @screen-md-min) {
					width: calc(100% / 4);
				}

				&.cont-header {
					font-size: 16px;
					font-weight: 600;
					line-height: 24px;
					margin-bottom: 8px;

					&:not(:first-child) {
						margin-top: 10px;

						@media (min-width: @screen-sm-min) {
							margin-top: 24px;
						}
					}
				}
			}
		}

		&_iw {
			display: flex;
			flex-direction: column;
			row-gap: 4px;
			padding: 16px 1px 4px;
			min-width: 128px;

			span {
				font-family: Lexend, sans-serif;
				font-size: 14px;
				line-height: 20px;
				color: #17233a;
			}

			&_header {
				display: flex;
				align-items: center;
				column-gap: 4px;
				margin-bottom: 8px;

				&_location, &_cnt {
					font-weight: 600;
				}

				&_cnt {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 20px;
					padding: 0 8px;
					border: 1px solid #e7e7ee;
					border-radius: 12px;
					background: #e8fff9;
				}
			}

			&_row {
				display: flex;
				align-items: center;
				column-gap: 4px;

				&_network-cnt {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					font-size: 14px;
					font-weight: 600;
					line-height: 20px;
					padding: 0 8px;
					border: 1px solid #e7e7ee;
					border-radius: 12px;
					background-color: #fff;
				}
			}
		}
	}
}
