.p-globalping-networks {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 32px;
	padding: 48px 0 36px;

	&_head, &_network, &_network-tests {
		display: flex;
		flex-grow: 1;
		width: calc(100% - 48px);
		margin: 0 24px;

		@media (min-width: @screen-sm-min) {
			max-width: 1016px;
		}
	}

	&_head {
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 16px;

		@media (min-width: @screen-sm-min) {
			flex-direction: row;
			max-width: 1016px;
		}

		&_title {
			align-self: flex-start;
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0;
			margin: 0;
		}

		&_asn-list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 4px;

			@media (min-width: @screen-sm-min) {
				max-width: 50%;
			}

			&_item {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 24px;
				border-radius: 6px;
				padding: 0 8px;
				background-color: #f3f5f6;
				color: #282e38;
				font-size: 14px;
				line-height: 100%;
			}
		}
	}

	&_network_head_img {
		display: flex;
		height: 32px;
		width: 32px;
		background: #f3f5f6;
		border: 1px solid #e7e7ee;
	}

	&_network, &_network-tests {
		padding: 24px;
		border-radius: 8px;
		border: 1px solid #e7e7ee;
		flex-direction: column;

		&_head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0;
		}

		&_body {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: flex-end;
			gap: 16px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
			}

			&_input {
				&_copy-btn {
					all: unset;
					position: absolute;
					right: 4px;
					bottom: 4px;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0 12px;
					cursor: pointer;
					height: 32px;
					background: #f3f5f6;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: 0;
					color: #17233a;
					border-radius: 8px;

					&:hover {
						background: #17d4a7;
						color: #fff;
					}

					&:active {
						background: #0fc196;
						color: #fff;
					}
				}
			}

			&_select, &_input {
				display: flex;
				flex-grow: 1;
				flex-basis: 0;
				width: 100%;
			}
		}
	}

	&_network {
		row-gap: 16px;
	}

	&_network-tests {
		row-gap: 24px;

		&_descr {
			font-family: "Source Code Pro", monospace;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0;
			text-align: center;
			color: #17233a;
			background: #f3f5f6;
			border: 1px solid #e7e7ee;
			padding: 24px 12px;
			border-radius: 8px;

			@media (min-width: @screen-sm-min) {
				padding: 24px 0;
			}

			&_msg {
				max-width: 556px;

				.highlighted {
					font-weight: 600;
				}
			}
		}

		&_fail-msg {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			row-gap: 24px;
			padding: 24px;
			border-radius: 8px;
			width: 100%;
			background: #fbfbfb;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				align-items: center;
				column-gap: 24px;
				padding: 32px;
			}

			>p {
				display: flex;
				flex-direction: column;
				margin: 0;
				padding: 0;
				font-size: 16px;
				line-height: 32px;
				color: #17233a;

				a {
					color: #17d4a7;
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}

		&_results {
			>pre {
				margin: 0;
				padding: 16px;
				border: 1px solid #e7e7ee;
				border-radius: 8px;
				background-color: #f3f5f6;
				font-family: "Source Code Pro", monospace;
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: 0;
				color: #17233a;
			}
		}

		&_body {
			&_btn-test {
				width: 100%;

				@media (min-width: @screen-sm-min) {
					width: auto;

					&.gp_btn_green_loading {
						min-width: 98px;
					}
				}
			}
		}
	}
}

.p-globalping-networks-logos-by {
	display: flex;
	font-size: 12px;
	line-height: 16px;
	color: #79849a;
	width: calc(100% - 48px);
	margin: -24px 24px 24px;
	justify-content: end;

	@media (min-width: @screen-sm-min) {
		max-width: 1016px;
		margin: -24px auto 24px;
	}
}
