.p-globalping-network {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.gp-network {
		display: flex;
		flex-direction: column;

		&_map {
			width: 100%;
		}

		&_filters {
			margin: 48px 24px 0;
		}

		&_list {
			margin: 24px 24px 0;
		}
	}
}
