.p-globalping-network {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.gp-network {
		display: flex;
		flex-direction: column;

		&_map-wrapper {
			width: 100%;
			height: 464px;

			@media (min-width: @screen-sm-min) {
				height: 640px;
			}

			&_map {
				height: 100%;
				width: 100%;
			}
		}

		&_filters {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 808px;
			row-gap: 24px;
			padding: 24px;
			margin: 48px auto 0;
			border: 1px solid #e7e7ee;
			border-radius: 8px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				column-gap: 24px;
			}

			&_title {
				display: flex;
				column-gap: 8px;

				>span {
					font-size: 14px;
					font-weight: 600;
					line-height: 20px;
				}
			}

			&_list {
				display: flex;
				flex-wrap: wrap;
				gap: 8px 8px;

				&_item {
					padding: 6px 8px;
					background: #f3f5f6;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					text-align: center;
					color: #17233a;
					border-radius: 6px;
				}
			}
		}

		&_list {
			display: flex;
			flex-flow: column wrap;
			height: 1012px;
			margin: 24px auto 0;
			width: 100%;
			max-width: 856px;
			padding: 24px;

			&_item {
				display: flex;
				align-items: center;
				column-gap: 4px;
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				color: #17233a;
				width: calc(100% / 4);

				&.cont-header {
					font-size: 16px;
					font-weight: 600;
					line-height: 24px;
					color: #17233a;
					margin-bottom: 8px;

					&:not(:first-child) {
						margin-top: 24px;
					}
				}
			}
		}
	}
}
