.p-users {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 32px;
	padding: 24px;
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #17233a;
	-webkit-font-smoothing: antialiased;

	@media (min-width: @screen-sm-min) {
		row-gap: 0;
		padding: 0 0 48px;
	}

	&_filtered-list {
		width: 100%;

		@media (min-width: @screen-sm-min) {
			margin-bottom: -100px;
			padding: 0 24px;
			transform: translateY(-100px);
		}
	}

	.not-displayed {
		display: none !important;
	}

	&_hero {
		position: relative;
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		width: 100%;

		.user-banner {
			display: flex;
			flex-direction: column;
			row-gap: 24px;

			@media (min-width: @screen-sm-min) {
				position: absolute;
				flex-direction: row;
				align-items: center;
				column-gap: 32px;
				padding: 16px;
				z-index: 1;
				left: 32px;
				right: 32px;
				max-width: 1224px;
				top: 24px;
				margin: 0 auto;
				background-color: #fff;
				border-radius: 12px;
				border: 1px solid #e7e7ee;
			}

			&_user {
				display: flex;
				column-gap: 16px;
				flex-grow: .1;

				&_avatar {
					border-radius: 100%;
				}

				&_contact {
					display: flex;
					flex-direction: column;
					row-gap: 2px;

					&_username {
						font-weight: 600;
						font-size: 16px;
					}

					&_gh {
						display: flex;
						column-gap: 16px;

						> span {
							display: flex;
							align-items: center;
							flex-wrap: nowrap;
							column-gap: 8px;

							> a {
								color: #17233a;
							}
						}
					}
				}
			}

			&_stats {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 16px;
				row-gap: 8px;
				padding: 12px;
				border: 1px solid #e7e7ee;
				border-radius: 12px;

				@media (min-width: @screen-sm-min) {
					display: flex;
					align-items: start;
					justify-content: space-between;
					column-gap: 16px;
					flex-grow: .7;
					padding: 0;
					border: none;
				}

				> span {
					display: flex;
					column-gap: 6px;
					align-items: center;
				}
			}
		}

		&_map-wrapper {
			height: 312px;
			width: 100%;
			border-radius: 12px;
			border: 1px solid #e7e7ee;
			overflow: hidden;

			@media (min-width: @screen-sm-min) {
				height: 640px;
				border: none;
				border-radius: 0;
			}

			&_map {
				height: 100%;
				width: 100%;
			}
		}
	}

	&_probes {
		display: flex;
		flex-direction: column;
		margin-top: 24px;
		gap: 8px;
		width: 100%;

		@media (min-width: @screen-sm-min) {
			max-width: 1302px;
			padding: 0 24px;
		}

		&_title {
			font-size: 20px;
			font-weight: 600;
			line-height: 24px;
		}

		&_list {
			display: flex;
			flex-direction: column;
			row-gap: 4px;

			@media (min-width: @screen-sm-min) {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 16px;
			}
		}
	}

	&_iw {
		display: flex;
		flex-direction: column;
		row-gap: 4px;
		padding: 16px 1px 4px;
		min-width: 128px;

		span {
			font-family: Lexend, sans-serif;
			font-size: 14px;
			line-height: 20px;
			color: #17233a;
		}

		&_header {
			display: flex;
			align-items: center;
			column-gap: 4px;
			margin-bottom: 8px;

			&_location, &_cnt {
				font-weight: 600;
			}

			&_cnt {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 20px;
				padding: 0 8px;
				background: #e8fff9;
				border: 1px solid #e7e7ee;
				border-radius: 12px;
			}
		}

		&_row {
			display: flex;
			align-items: center;
			column-gap: 4px;

			&_network-cnt {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				padding: 0 8px;
				background-color: #fff;
				border: 1px solid #e7e7ee;
				border-radius: 12px;
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;
			}
		}
	}
}
