<div class="container">
	<section class="section">
		<h1 class="text-center">About jsDelivr</h1>

		<p class="section">
			jsDelivr is a public open-source CDN (Content Delivery Network) where anyone can submit a project to be hosted and delivered by our network.
			Unlike Google or Microsoft, we host all kinds of projects - JavaScript libraries, CSS frameworks, fonts, WordPress plugins, etc. - and we don’t look at the popularity of the project.
			By using GitHub, we allow the community to fully interact with jsDelivr by adding and updating files.
		</p>

		<section class="section">
			<h3>Uptime <i class="icon icon-activity-up section-icon"></i></h3>

			<p>
				All CDNs can go down and most have. However, this is not the case with jsDelivr because we use 2 CDN providers and several custom servers.
				If any of them goes down, all traffic will be automatically switched to the remaining operational servers.
				jsDelivr is the only public CDN using multiple providers, which makes it the most reliable. Check out <a class="link" href="/features">Features</a> for more information.
			</p>
		</section>

		<section class="section">
			<h3>Security <i class="icon icon-lock section-icon"></i></h3>

			<p>
				All jsDelivr related accounts are protected using 2-step authentication and IP whitelists by services that support them, along with a strong password.
				The origin server is accessible only from a few whitelisted IPs used by a single admin and a Github deployment service.
				We took all possible precautions to guarantee the security of our files and your websites.
			</p>
		</section>
	</section>

	<section class="section">
		<h1 class="text-center">FAQ</h1>

		<ol class="faq">
			<li>
				<strong>How can jsDelivr be free? How can it survive in the long term?</strong>

				<p>
					CDN traffic is expensive, yes. But all of our traffic and services are sponsored by <a class="link" href="/sponsors">awesome companies</a> that want to make the web a faster and better place.
					That means that it doesn't matter how much traffic a plugin or project can generate, there is nothing to worry about.
				</p>
			</li>
			<li>
				<strong>Are there any bandwidth limits?</strong>

				<p>
					No and there will never be.
				</p>
			</li>
			<li>
				<strong>Does MaxCDN own jsDelivr?</strong>

				<p>
					No, MaxCDN is one of our biggest sponsors, but they don't own or influence the project in any way. Neither does any other company.
				</p>
			</li>
			<li>
				<strong>Why do my tests of jsDelivr show bad performance?</strong>

				<p>
					jsDelivr relies on RUM tests made by real users. Based on this data it can intelligently select the best provider for each user.
					Unfortunately this also means that any synthetic test of jsDelivr that runs on servers will result in worse performance.
					Services like Pingdom, WebPageTest, or any other server based testing will not be able to take the full advantage of our intelligent load balancing.
					All servers fallback to country level performance data, not ASN based like real users do.
				</p>
			</li>
			<li>
				<strong>Why are some projects tagged as version 0.1?</strong>

				<p>
					Some times it's hard to find what version is a project because the developer doesn't mention it anywhere.
					In these cases we just use 0.1 as the starting version and increase it on next updates.
				</p>
			</li>
			<li>
				<strong>How are you making money?</strong>

				<p>
					I don't, the project is a non-profit. Most of the stuff is sponsored by companies and rest is paid by me.
				</p>
			</li>
			<li>
				<strong>How can I help?</strong>

				<p>
					If you are a company, please checkout <a class="link" href="/sponsors">Sponsors</a> for more details.
					If you are an individual, you can donate money, help us with development (API, website, new features) of the website. You can also write blog posts or submit new ideas and features. Just send us an email.
				</p>
			</li>
		</ol>
	</section>

	<section class="section">
		<h1 class="text-center">Team</h1>

		TODO...
	</section>
</div>
