<section class="about">
	<div class="container">
		<section>
			<h3>About jsDelivr</h3>

			<p>
				jsDelivr is a public open-source CDN where anyone can submit a project to be hosted and delivered by our network.
				Unlike Google or Microsoft, we host all kinds of projects - JavaScript libraries, CSS frameworks, fonts, WordPress plugins, etc - and we don’t look at the popularity of the project.
				By using GitHub, we allow the community to fully interact with jsDelivr by adding and updating files.
			</p>
		</section>

		<section>
			<h3>Our Network</h3>

			<p>
				What makes our network unique is that it combines the powers of MaxCDN, Cloudflare and several other providers.
				Thanks to Cedexis, all traffic is load balanced based on availability and performance for each individual user.
				This unique system not only gives us the best possible uptime and performance, but also allows us to expand dynamically and add new providers on the fly.
				Checkout <a href="http://www.cdnperf.com/">CDNperf</a> for performance and uptime statistics.
			</p>

			<iframe style="width: 100%; height: 450px" src='//a.tiles.mapbox.com/v3/jimaek.map-6gmedxyr/mm/zoompan,zoomwheel.html'></iframe>
		</section>
	</div>
</section>