<section>
	<div class="container">
		<h3>Debug tool</h3>

		{{#saved}}
			<div class="alert alert-info">
				Showing results for IP address {{results.ipInfo.ip}} from {{results.now}}.
			</div>
		{{/saved}}

		{{#progress !== 100}}
			Running tests...
			<div class="progress">
				<div class="progress-bar primary" role="progressbar" style="width: {{progress}}%"></div>
			</div>
		{{/progress}}

		{{#progress === 100}}
			<div class="row">
				<div class="col-sm-2 col-sm-offset-10" style="text-align: right; margin-bottom: 15px">
					<a on-click="test" class="btn btn-link btn-inverse gray" decorator="tooltip:Reload">
						<i class="fa fa-refresh fa-2x"></i>
					</a>
					{{#flash}}
						<button class="btn btn-link btn-inverse gray" decorator="zeroClipboard" data-clipboard-text="{{link}}">
							<i class="fa fa-link fa-2x"></i>
						</button>
					{{/flash}}
				</div>
			</div>

			<pre style="white-space: normal">
				{{results.now}}<br>

				{{#results.ipInfo}}
					<br><strong>{{tests.ipInfo}}</strong><br>

					{{#error}}
						{{error}}<br>
					{{/error}}

					{{^error}}
						{{#this:key}}
							{{key}}: {{this}}<br>
						{{/.}}
					{{/error}}
				{{/results.ipInfo}}

				{{#results.cedexis}}
					<br><strong>{{tests.cedexis}}</strong><br>

					{{#error}}
						{{error}}<br>
					{{/error}}

					{{^error}}
						<strong>Network</strong><br>
						{{#network:key}}
							{{key}}: {{this}}<br>
						{{/network}}

						{{#providers:provider}}
							<br><strong>{{capitalize(provider)}}</strong><br>

								{{#this:key}}
									{{key}}: {{this}}<br>
								{{/.}}
						{{/providers}}
					{{/error}}
				{{/results.cedexis}}

				<br><strong>{{tests.server}}</strong><br>
				{{results.server}}<br>

				{{#results.list:i}}
					<br><strong>{{tests.list[i]}}</strong><br>
					{{this}}<br>
				{{/results.list}}
			</pre>
		{{/progress}}
	</div>
</section>

<script>
	var capitalize = require('public/js/utils/capitalize.js');
	var testString = require('public/js/debugger/test-string.js');
	var tooltipDecorator = require('public/js/decorators/tooltip.js');
	var zeroClipboardDecorator = require('public/js/decorators/zero-clipboard.js');

	component.exports = {
		decorators: {
			tooltip: tooltipDecorator,
			zeroClipboard: zeroClipboardDecorator
		},
		computed: {
			progress: function () {
				var results = this.get('results');

				return (!!results.ipInfo + !!results.server + results.list.filter(function (i) { return i; }).length + !!results.cedexis) / this.get('total') * 100;
			},
			total: function () {
				return this.get('tests.list').length + 3;
			}
		},
		data: {
			app: {},
			capitalize: capitalize,
			flash: true,
			results: {},
			tests: {
				ipInfo: 'http://ipinfo.io/json',
				cedexis: 'http://jsdelivr-data.wildlemur.com',
				server: 'http://cdn.jsdelivr.net/information.txt',
				list: [
					'https://cdn.jsdelivr.net/r15lgc.js',
					'http://cdn.jsdelivr.net/r15lgc.js',
					'https://www.cdn.jsdelivr.net/r15lgc.js',
					'http://www.cdn.jsdelivr.net/r15lgc.js',
					'http://jsdelivr3.dak.netdna-cdn.com/r15lgc.js',
					'http://exvm-sg.jsdelivr.net/r15lgc.js',
					'http://leap-pt.jsdelivr.net/r15lgc.js',
					'http://leap-ua.jsdelivr.net/r15lgc.js',
					'http://prome-it.jsdelivr.net/r15lgc.js'
				]
			}
		},
		init: function () {
			if (!Ractive.isServer) {
				var _this = this;

				this.set('flash', !ZeroClipboard.isFlashUnusable());

				this.observe('progress', function (value) {
					if (value === 100) {
						this.set('link', location.href);

						// google is smart enough to return existing URL if there is one
						$.ajax({
							type: 'POST',
							contentType: 'application/json; charset=UTF-8',
							url: 'https://www.googleapis.com/urlshortener/v1/url',
							data: JSON.stringify({ key: 127467818075, longUrl: location.href }),
							success: function (response) {
								if (response.id) {
									_this.set('link', response.id);
								}
							}
						});
					}
				});

				this.on({
					test: function () {
						this.set({
							results: {
								now: new Date().toUTCString(),
								ipInfo: null,
								cedexis: null,
								server: null,
								list: []
							},
							saved: false
						});

						$.ajax(this.get('tests.ipInfo'), {
							cache: false,
							success: function (response) {
								_this.set('results.ipInfo', response);
							},
							error: function (jqXHR, textStatus, errorThrown) {
								_this.set('results.ipInfo', { error: errorThrown || textStatus });
							}
						});

						$.ajax(this.get('tests.cedexis'), {
							cache: false,
							success: function (response) {
								_this.set('results.cedexis', response);
							},
							error: function (jqXHR, textStatus, errorThrown) {
								_this.set('results.cedexis', { error: errorThrown || textStatus });
							}
						});

						$.ajax(this.get('tests.server'), {
							cache: false,
							success: function (response, textStatus, jqXHR) {
								_this.set('results.server', jqXHR.getResponseHeader('POP') || jqXHR.getResponseHeader('Server') || 'Failed to identify the server.');
							},
							error: function (jqXHR, textStatus, errorThrown) {
								_this.set('results.server', errorThrown || textStatus);
							}
						});

						$.each(this.get('tests.list'), function (index, entry) {
							$.ajax(entry, {
								cache: false,
								success: function (response) {
									_this.set('results.list.' + index, response === testString ? 'Ok' : 'Failed');
								},
								error: function (jqXHR, textStatus, errorThrown) {
									_this.set('results.list.' + index, errorThrown || textStatus);
								}
							});
						});
					}
				});

				if (this.get('progress') === 100) {
					this.set('saved', true);
				} else {
					this.fire('test');
				}
			}
		}
	};
</script>