<section>
	<div class="container">
		<h3>Frequently Asked Questions</h3>

		<ol class="list-style-none faq">
			<li>
				<strong>How can jsDelivr be free? How can it survive in the long term?</strong>
				<p>
					CDN traffic is expensive, yes. But all of our traffic and services are sponsored by awesome companies that want to make the web a faster and better place.
					Check out the footer for credits. It means that it doesn't matter how much traffic a plugin or project can generate, there is nothing to worry about.
				</p>
			</li>
			<li>
				<strong>Are there any bandwidth limits?</strong>
				<p>
					No and there will never be.
				</p>
			</li>
			<li>
				<strong>How is the security?</strong>
				<p>
					All files are hosted on a Push zone on NetDNA servers. The only way to access the files is by FTP using a whitelisted IP address.
				</p>
			</li>
			<li>
				<strong>Does MaxCDN own jsDelivr?</strong>
				<p>
					No, MaxCDN is one of our biggest sponsors but they don't own or influence the project in any way. Neither does any other company.
				</p>
			</li>
			<li>
				<strong>Why my tests of jsDelivr show bad performance?</strong>
				<p>
					jsDelivr relies on RUM tests made by real users. Based on this data it can intelligently select the best provider for each user.
					Unfortunately this also means that any synthetic test of jsDelivr that runs on servers will result in worse performance.
					Services like Pingdom and WebPageTest or any other server based testing will not be able to take the full advantage of our intelligent load balancing.
					All servers fallback to country level performance data and not ASN based like real users do.
				</p>
			</li>
			<li>
				<strong>Why are some projects tagged as version 0.1?</strong>
				<p>
					Some times it's hard to find what version is a project because the developer doesn't mention it anywhere.
					In these cases we just use 0.1 as the starting version and increase it on next updates.
				</p>
			</li>
			<li>
				<strong>How are you making money?</strong>
				<p>
					I don't, the project is a non-profit. Most of the stuff is sponsored by companies and rest is paid by me.
				</p>
			</li>
			<li>
				<strong>Who is behind jsDelivr?</strong>
				<p>
					Basically just me, Dmitriy A. (<a href="https://twitter.com/jimaek">@jimaek</a>). But a lot of other people are involved, giving their advice and helping me out.
					I always refer to jsDelivr in the plural sense because of this.
				</p>
			</li>
			<li>
				<strong>How can I help?</strong>
				<p>
					Please checkout our <a href="/sponsors">sponsors</a> page for more details.
				</p>
			</li>
		</ol>
	</div>
</section>