<div class="container">
	<section class="section">
		<h1 class="text-center">Our Network</h1>

		<div class="row">
			<div class="col-xs-4 col-xs-offset-2">
				What makes our network unique is that it combines the
				powers of MaxCDN, Cloudflare and several other providers.
				Thanks to Cedexis, all traffic is load balanced based on
				availability and performance for each individual user.
			</div>

			<div class="col-xs-4">
				This unique system not only gives us the best possible
				uptime and performance, but also allows us to expand
				dynamically and add new providers on the fly. Checkout
				<a href="http://www.cdnperf.com/"><strong>CDNperf</strong></a> for performance and uptime statistics.
			</div>
		</div>

		<iframe style="width: 100%; height: 500px; margin-top: 50px" frameBorder="0" src="https://a.tiles.mapbox.com/v4/jimaek.map-6gmedxyr/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiamltYWVrIiwiYSI6IkRnYjJWSDgifQ.HKcp_zscAIS0gtR4mHOoeQ"></iframe>
	</section>

	<section class="section">
		<h3>Maximum Performance and Uptime <i class="icon icon-activity-up section-icon"></i></h3>

		<div class="row">
			<div class="col-xs-6">
				Our public CDN is built with performance and reliability in mind. Everything is optimized and
				being constantly improved to offer all users maximum speed and uptime. Performance is
				monitored at all times, and we are always looking into new technologies and providers that may
				further improve our CDN.
			</div>

			<div class="col-xs-6">
				Downtime, timeouts or slow responses are simply unacceptable. The idea is not to simply offer
				a public CDN, but to offer the best possible experience and a rock-solid product ready to be
				used in production by any website.
			</div>
		</div>
	</section>

	<section class="section">
		<h3>Multi-CDN <i class="icon icon-globe section-icon"></i></h3>

		<div class="row">
			<div class="col-xs-4">
				Unlike the competition, jsDelivr uses multiple CDN providers
				which results in best possible uptime and performance. We
				currently use <a href="http://tracking.maxcdn.com/c/47243/36539/378"><strong>MaxCDN</strong></a> and <a href="https://www.cloudflare.com/"><strong>CloudFlare</strong></a>.
			</div>

			<div class="col-xs-4">
				On top of CDN providers, jsDelivr also utilizes custom
				servers in locations where CDNs don't have points of
				presence to further optimize the speed of file downloads for
				users near those locations.
			</div>

			<div class="col-xs-4">
				If a CDN or custom server goes down, websites that use
				jsDelivr won't have any issues because all traffic will be
				instantly redirected to remaining operational providers.
			</div>
		</div>
	</section>

	<section class="section">
		<h3>Smart Load Balancing <i class="icon icon-balance section-icon"></i></h3>

		<div class="row">
			<div class="col-xs-4">
				jsDelivr uses <a href="http://www.cedexis.com/"><strong>Cedexis</strong></a> with real user performance data (also
				known as RUM) to make its routing decisions. These metrics
				are gathered from hundreds of websites and are used in our
				load balancing algorithm to make accurate decisions for
				serving content.
			</div>

			<div class="col-xs-4">
				All providers (CDNs and custom servers) are tested millions
				times per day by real users from all over the world. Based on
				this information, jsDelivr knows what provider is the fastest for
				each user. Each user gets a unique response based on his or
				her location, ISP, and the providers' uptime in real time.
			</div>

			<div class="col-xs-4">
				This system also responds immediately to performance
				degradation and downtime of providers. If a CDN is under
				a&nbsp;DDoS attack, and their performance drops in some
				locations, in matter of seconds the algorithm will pick up the
				change and start serving a different provider to all affected
				users.
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<div class="col-xs-6">
				<h3>Load multiple files with a single HTTP request <i class="icon icon-multiple-targets section-icon"></i></h3>

				<p>
					jsDelivr is the first CDN to support this kind of functionality. You can load multiple files using
					a&nbsp;single HTTP request. Similar to combining and minifying js files in your own server, but
					cached by the huge and smart network of jsDelivr.
				</p>

				<p>
					All you have to do is to build your own URL with the projects and files you want to combine
					and their versions if needed. <a href="https://github.com/jsdelivr/jsdelivr#load-multiple-files-with-single-http-request"><strong>Full documentation</strong></a>
				</p>
			</div>

			<div class="col-xs-6">
				<h3>Version aliasing</h3>

				<p>
					Every single project hosted by jsDelivr supports advanced features such as Version Aliasing.
					It allows people to use a dynamic URL and keep their websites up-to-date without changing
					anything. For example instead of 3.10.40 you can load 3.10 and always have the latest
					3.10.x minor version on your app. <a href="https://github.com/jsdelivr/jsdelivr#version-aliasing"><strong>Full documentation</strong></a>
				</p>
			</div>
		</div>
	</section>

	<section class="section">
		<h3>Automation Everywhere <i class="icon icon-settings section-icon"></i></h3>

		<div class="row">
			<div class="col-xs-6">
				jsDelivr can automatically keep a project up-to-date as new versions are released.
				We built and maintain a bot called libgrabber that runs independently and every 30 minutes
				scans for new versions for all hosted projects. If an update is found it will automatically copy
				the required files and create a Pull Request for the moderators to review. For individual
				projects it is possible to configure full automation without moderation for faster merge times.
				<a href="https://github.com/jsdelivr/jsdelivr#auto-updating"><strong>Full documentation</strong></a>
			</div>

			<div class="col-xs-6">
				Except from libgrabber our Github repo is also monitored by a different custom built bot that
				automatically reviews all Pull Requests that contributors open and comments with warnings
				if it finds any mistakes or errors. This bot is constantly getting updated with new features to
				make sure human errors are out of the question for us.
			</div>
		</div>
	</section>

	<section class="section">
		<h3>A Real API <i class="icon icon-settings-api section-icon"></i></h3>

		<div class="row">
			<div class="col-xs-6">
				jsDelivr has a fully featured API that can be used by developers in their websites, to create
				custom modules and anything else you might think of.
			</div>

			<div class="col-xs-6">
				You can request exactly what you need using our API without downloading a huge package
				json. And it also supports cdnjs, Google and BootstrapCDN. This way developers have
				everything they need to build their applications. <a href="https://github.com/jsdelivr/api"><strong>Full documentation</strong></a>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">
			<div class="col-xs-4">
				<i class="icon icon-lock"></i>

				<h3>HTTPS and SPDY Support</h3>

				<p>
					Security is very important to all of us. Thats why all files are
					accessible via HTTPS with full SPDY support for better
					performance.
				</p>
			</div>

			<div class="col-xs-4">
				<i class="icon icon-people"></i>

				<h3>Open Source and Non-profit</h3>

				<p>
					jsDelivr is a non-profit project with all of our software open
					sourced and available at Github for anyone to use and
					contribute.
				</p>
			</div>

			<div class="col-xs-4">
				<i class="icon icon-statistics"></i>

				<h3>Unlimited traffic</h3>

				<p>
					Don't worry about anything, even if your website generates
					huge amounts of traffic every day we won't ban you or
					otherwise create any problems. Thanks to our sponsors we
					have absolutely no traffic limits.
				</p>
			</div>
		</div>
	</section>
</div>
