<link rel="ractive" href="./index/search.html" name="Search">
<link rel="ractive" href="./index/media.html" name="Media">

<!-- headline and search -->
<section>
	<div class="container">
		<header>
			<h1>A free super-fast CDN for developers and webmasters</h1>
		</header>


		<Search app="{{app}}" query="{{query}}" page="{{page}}" collection="{{collection}}" __ready="{{__ready}}"></Search>
	</div>
</section>

<section>
	<div class="container">
		<header>
			<h2>Features</h2>
		</header>

		<div class="row">
			<div class="col-sm-3 col-xs-6 featured">
				<img src="img/features/global.png" alt="42 POP Locations">
				<h3>42 POP Locations</h3>
				<p>We use MaxCDN, Cloudflare and several custom providers. Our network chooses the best server for each individual user.</p>
			</div>
			<div class="col-sm-3 col-xs-6 featured">
				<img src="img/features/community.png" alt="Community managed">
				<h3>Community managed</h3>
				<p>There are no popularity restrictions. Didn't find the project you were looking for? You can easily <a href="https://github.com/jsdelivr/jsdelivr/#how-to-submit-or-update-projects">submit it</a> yourself.</p>
			</div>
			<div class="col-sm-3 col-xs-6 featured">
				<img src="img/features/traffic.png" alt="Unlimited traffic">
				<h3>Unlimited traffic</h3>
				<p>Stop worrying about the bandwidth bill and serve as much traffic as you need. There are absolutely no traffic limits.</p>
			</div>
			<div class="col-sm-3 col-xs-6 featured">
				<img src="img/features/lock.png" alt="HTTPS support">
				<h3>HTTPS support</h3>
				<p>We know the security is important to you. You can access all the hosted files through a secure HTTPS connection.</p>
			</div>
		</div>

		<p class="show-more">
			<a href="/about">Learn More</a>
		</p>
	</div>
</section>

<!-- media -->
<section>
	<div class="container">
		<header>
			<h2>What People Say</h2>
		</header>

		<Media></Media>
	</div>
</section>

<script>
	component.exports = {
		computed: {
			collectionI: {
				get: function () {
					var collection = this.get('collection');
					var result = [];

					for (var i = 0, c = collection.length; i < c; i++) {
						result[i] = {
							name: collection[i].name,
							selectedVersion: collection[i].selectedVersion,
							selectedFiles: collection[i].selectedFiles
						};
					}

					return result;
				},
				set: function (projects) {
					var collection = this.get('collection');
					collection.splice(0);

					projects.forEach(function (project, index) {
						collection.push(project);

						$.get('//api.jsdelivr.com/v1/jsdelivr/libraries', { name: project.name }, function (response) {
							if (response.length) {
								collection.splice(index, 1, $.extend(project, response[0]));// TODO what if...
							}
						});
					});
				}
			}
		},
		data: {
			app: {},
			collection: [],
			page: 0,
			query: ''
		}
	}
</script>