<link rel="ractive" href="./shared/search-input.html" name="searchInput">
<link rel="ractive" href="./shared/search-results.html" name="searchResults">

<!-- Search input will be injected into the header. -->
<!-- TODO: Use official API when it's available ractivejs/ractive#1131 -->
<searchInput el="#header" anchor="#header > :last-child" query="{{query}}" nbProjects="{{nbProjects}}"></searchInput>

<searchResults query="{{query}}" page="{{page}}" collection="{{collection}}" nbProjects="{{nbProjects}}" __ready="{{__ready}}"></searchResults>

<script>
	var assign = require('public/js/utils/assign.js');

	component.exports = {
		data: function (data) {
			return assign({
				page: 0,
				query: ''
			}, data);
		},
		oninit: function () {
			if (!Ractive.isServer) {
				var countProjects = require('public/js/utils/count-projects.js');
				var appCollection = this.get('app.collection');
				var collection = this.get('collection');
				var _this = this;

				// Show number of hosted projects.
				countProjects(function (nbProjects) {
					nbProjects && _this.set('nbProjects', nbProjects);
				});

				// We need to make sure that collection and appCollection use the same object,
				// otherwise, they would get out of sync.
				if (collection !== appCollection) {
					this.splice('app.collection', 0, appCollection.length);
					appCollection.push.apply(appCollection, collection);
					this.set('collection', appCollection);
					this.update('app.collection');
				}
			}
		},
		oncomplete: function () {
			// Redirect from the old URL format.
			if (location.hash && !this.get('query')) {
				this.get('app.router').dispatch('/projects/' + location.hash.substr(2), { noHistory: true });
			}
		}
	};
</script>
