<link rel="ractive" href="./shared/search-input.html" name="searchInput">
<link rel="ractive" href="./shared/search-results.html" name="searchResults">

<!-- Search input will be injected into the header. -->
<!-- TODO: Use official API when it's available ractivejs/ractive#1131 -->
<searchInput el="#header" anchor="#header > :last-child" query="{{query}}"></searchInput>

<searchResults query="{{query}}" page="{{page}}" collection="{{collection}}" __ready="{{__ready}}"></searchResults>

<script>
	var assign = require('public/js/utils/assign.js');

	component.exports = {
		data: function (data) {
			return assign({
				page: 0,
				query: ''
			}, data);
		},
		oninit: function () {
			var collection = this.get('collection');
			var appCollection = this.get('app.collection');

			// We need to make sure that collection and appCollection use the same object,
			// otherwise, they would get out of sync.
			if (collection !== appCollection) {
				this.splice('app.collection', 0, appCollection.length);
				appCollection.push.apply(appCollection, collection);
				this.set('collection', appCollection);
				this.update('app.collection');
			}
		},
		oncomplete: function () {
			// Redirect from the old URL format.
			if (location.hash && !this.get('query')) {
				this.get('app.router').dispatch('/projects/' + location.hash.substr(2), { noHistory: true });
			}
		}
	};
</script>
