<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A free open source CDN for javascript libraries, jQuery plugins, CSS frameworks, Fonts and more">
		<title>jsDelivr - Free open source CDN</title>
		<!-- TODO: uncomment this once we have a new logo. -->
		<!--<link rel="icon" type="image/png" href="/favicon.png">-->
		<link rel="stylesheet" href="/css/bundle.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
	</head>

	<body>
		<header id="header">
			<nav class="navbar" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-wrapper">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"> </span>
							<span class="icon-bar"> </span>
							<span class="icon-bar"> </span>
						</button>
					</div>

					<div class="collapse navbar-collapse" id="navbar-wrapper">
						<ul id="main-menu" class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/features">Features</a></li>
							<li><a href="/stats">Stats</a></li>
							<li><a href="/about">About &amp; FAQ</a></li>
							<li><a href="/sponsors">Sponsors</a></li>
							<li><a href="/donate">Donate</a></li>
							<li><a href="/debug-tool">Debug tool</a></li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li><a class="btn btn-primary" href="https://github.com/jsdelivr/jsdelivr/#how-to-submit-or-update-projects">Add Project</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="navbar" id="sponsors">
				<div class="container center-block">
					<a href="http://tracking.maxcdn.com/c/47243/36539/378"><img class="retina-image" src="/img/sponsors/maxcdn.png"></a>
					<a href="https://www.cloudflare.com/"><img class="retina-image" src="/img/sponsors/cloudflare.png"></a>
					<a href="http://www.cedexis.com/"><img class="retina-image" src="/img/sponsors/cedexis.png"></a>
				</div>
			</div>
		</header>

		<div id="page"></div>

		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<!-- TODO: Add logo. -->
						<p>
							jsDelivr is a public open-source CDN where anyone can submit
							a&nbsp;project to be hosted and delivered by our network. By using
							GitHub, we allow the community to fully interact with jsDelivr
							by adding and updating files.
						</p>
					</div>

					<div class="col-xs-2 col-xs-offset-1">
						<ul class="link-list">
							<li><a href="/about">About</a></li>
							<li><a href="/sponsors">Sponsors</a></li>
							<li><a href="/media-mentions">Media Mentions</a></li>
							<li><a href="/about">FAQ</a></li>
							<li><a href="https://github.com/jsdelivr/api">API</a></li>
							<li><a href="http://status.jsdelivr.com/">Status</a></li>
						</ul>
					</div>

					<div class="col-xs-2">
						<ul class="link-list">
							<li><a href="http://www.cdnperf.com/">CDN perf</a></li>
							<li><a href="http://www.super-ping.com/">super-ping.com</a></li>
							<li><a href="http://tools.maxcdn.com/">tools.maxcdn.com</a></li>
							<li><a href="http://blog.jsdelivr.com/">Blog</a></li>
							<li><a href="https://github.com/jsdelivr">GitHub</a></li>
							<li><a href="https://groups.google.com/forum/#!forum/jsdelivr">Mailing List</a></li>
						</ul>
					</div>

					<div class="col-xs-3">
						<ul class="link-list text-center">
							<li><a href="http://tracking.maxcdn.com/c/47243/36539/378"><img class="retina-image" src="/img/sponsors/maxcdn.png"></a></li>
							<li><a href="https://www.cloudflare.com/"><img class="retina-image" src="/img/sponsors/cloudflare.png"></a></li>
							<li><a href="http://www.cedexis.com/"><img class="retina-image" src="/img/sponsors/cedexis.png"></a></li>
						</ul>
					</div>
				</div>

				<div id="copyright">
					jsDelivr © 2014
				</div>
			</div>
		</footer>

		<script src="//cdn.jsdelivr.net/g/jquery@2.1.1,ractive@0.6.0,ractive.route@0.2.0,zeroclipboard@2.1.6,algoliasearch@2.7.2"></script>
		<script src="/js/bundle.min.js"></script>
	</body>
</html>
