<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A free open source CDN for javascript libraries, jQuery plugins, CSS frameworks, Fonts and more">
		<title>jsDelivr - Free open source CDN</title>
		<link rel="icon" type="image/png" href="/favicon.png">
		<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.0.3/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700">
		<link type="text/css" rel="stylesheet" href="/css/bundle.min.css">
	</head>

	<body>
		<!-- navigation -->
		<header class="top-nav">
			<div class="container">
				<nav>
					<ul class="navbar-nav navbar-right">
						<li><a href="/about">About</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="https://github.com/jsdelivr/jsdelivr/#how-to-submit-or-update-projects">Submit</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<!-- branding -->
		<header class="navbar">
			<div class="container">
				<nav role="navigation">
					<ul class="nav navbar-nav navbar-left">
						<li>
							<a href="/" class="navbar-brand">
								<img src="/img/jsdelivr-logo.png" alt="jsDelivr logo">
							</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="http://tracking.maxcdn.com/c/47243/36539/378" class="navbar-brand">
								<img src="/img/sponsors-header/maxcdn.png" alt="Sponsored by MaxCDN" title="Sponsored by MaxCDN">
							</a>
						</li>
						<li>
							<a href="https://www.cloudflare.com" class="navbar-brand">
								<img src="/img/sponsors-header/cloudflare.png" alt="Sponsored by Cloudflare" title="Sponsored by Cloudflare">
							</a>
						</li>
						<li>
							<a href="http://www.cedexis.com" class="navbar-brand">
								<img src="/img/sponsors-header/cedexis.png" alt="Sponsored by Cedexis" title="Sponsored by Cedexis">
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<div id="content"></div>

		<!-- credits -->
		<section id="credits">
			<div class="container">
				<h4>Maintained By</h4>
				<p><a href="https://twitter.com/jimaek">Dmitriy Akulov</a>.</p>
				<h4>Webdesign & Branding by</h4>
				<p><a>Martin Kolárik</a> and <a>Serguei Shimansky</a>.</p>
				<h4>Sponsored By</h4>
				<p><a>MaxCDN</a>, <a>Cloudflare</a>, <a>Cedexis</a>, <a>BuiltWith.com</a>, <a>Leapswitch</a>, <a>Prometeus</a>, <a>SecureAX</a>, <a>Jetdino</a> and <a>Algolia</a>.</p>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-3">
						<ul class="list-style-none">
							<li><a href="/about">About</a></li>
							<li><a href="/sponsors">Sponsors</a></li>
							<li><a href="/media">Media Mentions</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<ul class="list-style-none">
							<li><a href="/faq">FAQ</a></li>
							<li><a href="https://github.com/jsdelivr/api/">API</a></li>
							<li><a href="http://status.jsdelivr.com/">Status</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<ul class="list-style-none">
							<li><a href="http://www.cdnperf.com">CDNperf</a></li>
							<li><a href="http://www.super-ping.com">super-ping.com</a></li>
							<li><a href="http://tools.maxcdn.com">tools.maxcdn.com</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<ul class="list-style-none">
							<li><a href="http://blog.jsdelivr.com/">Blog</a></li>
							<li><a href="https://github.com/jsdelivr">GitHub</a></li>
							<li><a href="https://groups.google.com/forum/#!forum/jsdelivr">Mailing List</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div id="copyright">
				<div class="container">
					<div class="col-xs-12">
						<small>jsDelivr © 2012 - 2014</small>
					</div>
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="http://cdn.ractivejs.org/latest/ractive.js"></script><!-- TODO use jsDelivr when 0.4.1 is released -->
		<script type="text/javascript" src="//cdn.jsdelivr.net/g/jquery@2.1.0,bootstrap@3.1.1,zeroclipboard@2.1.1,algoliasearch@2.4.7,ractive.route@0.1.3"></script>
		<script type="text/javascript" src="/js/bundle.min.js"></script>
	</body>
</html>