body {
  font-family: "Open Sans", "Segoe UI", "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}
h4 {
  font-size: 14px;
  text-transform: uppercase;
}
h1,
h2,
h3 {
  font-weight: 300;
}
.top-nav {
  background-color: #555;
  padding: 2px 0 2px 0;
}
.top-nav li {
  margin-left: 20px;
  list-style: none;
}
.top-nav li a {
  color: #eee;
  font-size: 80%;
  text-transform: uppercase;
  text-decoration: none;
}
.top-nav li a:hover,
.top-nav li a:focus {
  color: #ccc;
}
.navbar {
  border-top: none;
}
.navbar .navbar-nav > li > a.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .navbar-nav > li > a.navbar-brand:hover,
.navbar .navbar-nav > li > a.navbar-brand:focus {
  background-color: #ffffff;
}
.navbar .navbar-nav > li > a.navbar-brand img {
  height: 30px;
}
blockquote {
  border-left: none;
}
header h1,
header h2 {
  text-align: center;
}
body {
  text-align: justify;
}
#content > section {
  border-bottom: 1px solid #eee;
}
section:not(:empty) {
  padding-top: 20px;
  padding-bottom: 20px;
}
iframe {
  border: none;
}
.btn.zeroclipboard-is-hover {
  border: 1px solid #333333;
}
.carousel {
  text-align: center;
  padding-bottom: 20px;
}
.carousel .carousel-indicators {
  bottom: 0;
}
.carousel .carousel-indicators li {
  background-color: #ccc;
  border: none;
}
.carousel .carousel-indicators li.active {
  background-color: #e80c1f;
}
.container {
  overflow: hidden;
}
.featured {
  text-align: center;
}
.featured img {
  width: 100px;
  height: 100px;
}
.label {
  margin-right: 5px;
}
.link {
  cursor: pointer;
}
.list-item {
  padding: 5px 0;
}
.list-item + .list-item {
  border-top: 1px solid #ccc;
}
.list-style-none {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.more-files {
  width: 100%;
}
.output {
  background-color: #eee;
}
.show-more {
  text-align: center;
  margin-bottom: 0;
}
*:focus,
*:hover {
  outline-color: #e80c1f !important;
}
::selection {
  color: #ffffff;
  background: #e80c1f;
}
::-moz-selection {
  color: #ffffff;
  background: #e80c1f;
}
#my-collection {
  margin-top: 40px;
}
.collection-item {
  line-height: 34px;
}
#search-input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 0;
  height: 50px;
  font-size: 20px;
  line-height: 25px;
}
.result h4 {
  color: #e80c1f;
  margin-bottom: 0;
  text-transform: none;
}
.result p {
  margin-top: 10px;
}
.result .buttons {
  text-align: right;
}
.file-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
footer {
  color: #ccc;
  background-color: #333333;
  padding-top: 40px;
  padding-bottom: 20px;
}
footer a {
  color: #ccc;
}
footer a:hover,
footer a:focus {
  color: #eee;
}
#credits {
  background-color: #ccc;
}
#credits h4 {
  margin-bottom: 0;
}
#credits p {
  font-size: 17.5px;
}
#copyright {
  margin-top: 20px;
  border-top: 1px solid #262626;
  padding-top: 20px;
  text-align: center;
}
.about section,
.faq section,
.sponsors section,
.debug section {
  padding-top: 20px;
}
.faq li {
  margin-top: 20px;
}
.faq li p {
  margin: 5px 0 25px;
}
.sponsors li {
  margin-bottom: 5px;
}
.sponsors .sponsor {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sponsors .sponsor img {
  width: 100px;
  height: 50px;
}
.debug li {
  margin-bottom: 5px;
}
.email-updates {
  margin-top: 20px;
}
.email-updates div {
  margin-top: 30px;
  text-align: center;
}
.email-updates p {
  margin-bottom: 0;
  text-align: center;
}
.modal-open {
  margin-left: -17px;
}
