.alert {
  border-radius: 0;
}
.alert-bordered {
  border: none;
  border-left: 3px solid;
}
.btn {
  border-radius: 0;
  outline: none !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.purple {
  color: #ffffff;
  background-color: #8e44ad;
}
.btn.purple.btn-link {
  color: #8e44ad;
  background-color: #ffffff;
}
.btn.purple:hover {
  background-color: #7f3d9b;
}
.btn.purple:hover.btn-link {
  color: #ffffff;
  text-decoration: none;
}
.btn.purple:hover.btn-inverse {
  color: #8e44ad;
  background-color: #ffffff;
  border-color: #8e44ad;
}
.btn.dark-blue {
  color: #ffffff;
  background-color: #2b5797;
}
.btn.dark-blue.btn-link {
  color: #2b5797;
  background-color: #ffffff;
}
.btn.dark-blue:hover {
  background-color: #254c83;
}
.btn.dark-blue:hover.btn-link {
  color: #ffffff;
  text-decoration: none;
}
.btn.dark-blue:hover.btn-inverse {
  color: #2b5797;
  background-color: #ffffff;
  border-color: #2b5797;
}
.btn.blue {
  color: #ffffff;
  background-color: #2d89ef;
}
.btn.blue.btn-link {
  color: #2d89ef;
  background-color: #ffffff;
}
.btn.blue:hover {
  background-color: #157ced;
}
.btn.blue:hover.btn-link {
  color: #ffffff;
  text-decoration: none;
}
.btn.blue:hover.btn-inverse {
  color: #2d89ef;
  background-color: #ffffff;
  border-color: #2d89ef;
}
.btn.emerald {
  color: #ffffff;
  background-color: #27ae60;
}
.btn.emerald.btn-link {
  color: #27ae60;
  background-color: #ffffff;
}
.btn.emerald:hover {
  background-color: #229955;
}
.btn.emerald:hover.btn-link {
  color: #ffffff;
  text-decoration: none;
}
.btn.emerald:hover.btn-inverse {
  color: #27ae60;
  background-color: #ffffff;
  border-color: #27ae60;
}
.btn.gray {
  color: #ffffff;
  background-color: #333333;
}
.btn.gray.btn-link {
  color: #333333;
  background-color: #ffffff;
}
.btn.gray:hover {
  background-color: #262626;
}
.btn.gray:hover.btn-link {
  color: #ffffff;
  text-decoration: none;
}
.btn.gray:hover.btn-inverse {
  color: #333333;
  background-color: #ffffff;
  border-color: #333333;
}
.btn.primary {
  color: #ffffff;
  background-color: #e80c1f;
}
.btn.primary.btn-link {
  color: #e80c1f;
  background-color: #ffffff;
}
.btn.primary:hover {
  background-color: #d00b1c;
}
.btn.primary:hover.btn-link {
  color: #ffffff;
  text-decoration: none;
}
.btn.primary:hover.btn-inverse {
  color: #e80c1f;
  background-color: #ffffff;
  border-color: #e80c1f;
}
.btn.btn-dark:hover,
.btn.btn-dark:active {
  color: #ffffff;
  background-color: #333333;
}
code {
  border-radius: 0;
  font-size: small;
}
.dropdown-menu {
  border-radius: 0;
  background-color: #ffffff;
}
.dropdown-menu > li > a {
  color: #e80c1f;
  border-color: #dddddd;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #e80c1f;
}
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li.active > a:focus {
  color: #e80c1f;
  background-color: #ffffff;
  border-color: #dddddd;
}
.dropdown-menu .dropdown-submenu {
  position: relative;
}
.dropdown-menu .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-menu .dropdown-submenu:hover > .dropdown-menu,
.dropdown-menu .dropdown-submenu:focus > .dropdown-menu {
  display: block;
}
.dropdown-menu .dropdown-submenu > a:after {
  font-family: 'FontAwesome';
  display: block;
  content: '\f105';
  float: right;
  margin-right: -10px;
}
.dropdown-menu .dropdown-submenu.pull-left {
  float: none !important;
}
.dropdown-menu .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
}
.form-control {
  border-radius: 0;
  margin-bottom: 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #e80c1f;
}
.form-control::-ms-clear {
  display: none;
}
input.form-control {
  -webkit-appearance: none;
}
.form-inline .form-control,
.form-inline .btn {
  margin-bottom: 0;
}
.input-icon-left {
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 10;
}
.input-icon-left + input,
.input-icon-left + .input-icon-right + input,
.input-icon-left + textarea,
.input-icon-left + .input-icon-right + textarea {
  padding-left: 30px;
}
.input-icon-left + select,
.input-icon-left + .input-icon-right + select {
  padding-left: 28px;
}
.input-icon-right {
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  right: 24px;
  z-index: 10;
}
.input-icon-right + input,
.input-icon-right + textarea {
  padding-right: 30px;
}
.input-icon-right + select {
  padding-right: 28px;
}
.checkbox,
.checkbox-inline,
.radio,
.radio-inline {
  display: none;
}
.checkbox + label,
.checkbox-inline + label,
.radio + label,
.radio-inline + label {
  display: block;
  cursor: pointer;
  font-weight: normal;
}
.checkbox + label:before,
.checkbox-inline + label:before,
.radio + label:before,
.radio-inline + label:before {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  top: -2px;
  width: 14px;
  height: 14px;
  border: 1px solid #333333;
  text-align: center;
  font-family: 'FontAwesome';
  font-size: 10px;
  content: "\f00c";
  color: transparent;
  line-height: 14px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #ffffff;
}
.checkbox:checked + label:before,
.checkbox-inline:checked + label:before,
.radio:checked + label:before,
.radio-inline:checked + label:before {
  color: #333333;
}
.checkbox + label:hover:before,
.checkbox-inline + label:hover:before,
.radio + label:hover:before,
.radio-inline + label:hover:before {
  border-color: #4596f1;
}
.checkbox.checkbox-inline + label,
.checkbox-inline.checkbox-inline + label,
.radio.checkbox-inline + label,
.radio-inline.checkbox-inline + label,
.checkbox.radio-inline + label,
.checkbox-inline.radio-inline + label,
.radio.radio-inline + label,
.radio-inline.radio-inline + label {
  display: inline-block;
}
.checkbox.radio + label:before,
.checkbox-inline.radio + label:before,
.radio.radio + label:before,
.radio-inline.radio + label:before,
.checkbox.radio-inline + label:before,
.checkbox-inline.radio-inline + label:before,
.radio.radio-inline + label:before,
.radio-inline.radio-inline + label:before {
  border-radius: 99px;
}
.checkbox.purple + label:hover:before,
.checkbox-inline.purple + label:hover:before,
.radio.purple + label:hover:before,
.radio-inline.purple + label:hover:before {
  border-color: #8e44ad;
}
.checkbox.purple:checked + label:before,
.checkbox-inline.purple:checked + label:before,
.radio.purple:checked + label:before,
.radio-inline.purple:checked + label:before {
  color: #8e44ad;
  background-color: #ffffff;
  border-color: #8e44ad;
}
.checkbox.purple.inverse:checked + label:before,
.checkbox-inline.purple.inverse:checked + label:before,
.radio.purple.inverse:checked + label:before,
.radio-inline.purple.inverse:checked + label:before {
  color: #ffffff;
  background-color: #8e44ad;
}
.checkbox.dark-blue + label:hover:before,
.checkbox-inline.dark-blue + label:hover:before,
.radio.dark-blue + label:hover:before,
.radio-inline.dark-blue + label:hover:before {
  border-color: #2b5797;
}
.checkbox.dark-blue:checked + label:before,
.checkbox-inline.dark-blue:checked + label:before,
.radio.dark-blue:checked + label:before,
.radio-inline.dark-blue:checked + label:before {
  color: #2b5797;
  background-color: #ffffff;
  border-color: #2b5797;
}
.checkbox.dark-blue.inverse:checked + label:before,
.checkbox-inline.dark-blue.inverse:checked + label:before,
.radio.dark-blue.inverse:checked + label:before,
.radio-inline.dark-blue.inverse:checked + label:before {
  color: #ffffff;
  background-color: #2b5797;
}
.checkbox.blue + label:hover:before,
.checkbox-inline.blue + label:hover:before,
.radio.blue + label:hover:before,
.radio-inline.blue + label:hover:before {
  border-color: #2d89ef;
}
.checkbox.blue:checked + label:before,
.checkbox-inline.blue:checked + label:before,
.radio.blue:checked + label:before,
.radio-inline.blue:checked + label:before {
  color: #2d89ef;
  background-color: #ffffff;
  border-color: #2d89ef;
}
.checkbox.blue.inverse:checked + label:before,
.checkbox-inline.blue.inverse:checked + label:before,
.radio.blue.inverse:checked + label:before,
.radio-inline.blue.inverse:checked + label:before {
  color: #ffffff;
  background-color: #2d89ef;
}
.checkbox.emerald + label:hover:before,
.checkbox-inline.emerald + label:hover:before,
.radio.emerald + label:hover:before,
.radio-inline.emerald + label:hover:before {
  border-color: #27ae60;
}
.checkbox.emerald:checked + label:before,
.checkbox-inline.emerald:checked + label:before,
.radio.emerald:checked + label:before,
.radio-inline.emerald:checked + label:before {
  color: #27ae60;
  background-color: #ffffff;
  border-color: #27ae60;
}
.checkbox.emerald.inverse:checked + label:before,
.checkbox-inline.emerald.inverse:checked + label:before,
.radio.emerald.inverse:checked + label:before,
.radio-inline.emerald.inverse:checked + label:before {
  color: #ffffff;
  background-color: #27ae60;
}
.checkbox.gray + label:hover:before,
.checkbox-inline.gray + label:hover:before,
.radio.gray + label:hover:before,
.radio-inline.gray + label:hover:before {
  border-color: #333333;
}
.checkbox.gray:checked + label:before,
.checkbox-inline.gray:checked + label:before,
.radio.gray:checked + label:before,
.radio-inline.gray:checked + label:before {
  color: #333333;
  background-color: #ffffff;
  border-color: #333333;
}
.checkbox.gray.inverse:checked + label:before,
.checkbox-inline.gray.inverse:checked + label:before,
.radio.gray.inverse:checked + label:before,
.radio-inline.gray.inverse:checked + label:before {
  color: #ffffff;
  background-color: #333333;
}
.checkbox.primary + label:hover:before,
.checkbox-inline.primary + label:hover:before,
.radio.primary + label:hover:before,
.radio-inline.primary + label:hover:before {
  border-color: #e80c1f;
}
.checkbox.primary:checked + label:before,
.checkbox-inline.primary:checked + label:before,
.radio.primary:checked + label:before,
.radio-inline.primary:checked + label:before {
  color: #e80c1f;
  background-color: #ffffff;
  border-color: #e80c1f;
}
.checkbox.primary.inverse:checked + label:before,
.checkbox-inline.primary.inverse:checked + label:before,
.radio.primary.inverse:checked + label:before,
.radio-inline.primary.inverse:checked + label:before {
  color: #ffffff;
  background-color: #e80c1f;
}
.switch,
.switch-inline {
  display: none;
}
.switch + label,
.switch-inline + label {
  margin-left: 35px;
  padding-left: 0;
  display: block;
  width: 15px;
  height: 20px;
  cursor: pointer;
  font-weight: normal;
  background-color: #ed342a;
  vertical-align: middle;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.switch + label:before,
.switch-inline + label:before {
  margin-left: -35px;
  display: inline-block;
  width: 35px;
  height: 20px;
  background-color: #ffffff;
  color: #ed342a;
  border: 1px solid #ed342a;
  font-family: 'FontAwesome';
  content: '\f00d';
  text-align: center;
  vertical-align: top;
  line-height: 20px;
}
.switch:checked + label,
.switch-inline:checked + label {
  margin-left: 0;
  padding-left: 50px;
  background-color: #66aa44;
}
.switch:checked + label:before,
.switch-inline:checked + label:before {
  color: #66aa44;
  border: 1px solid #66aa44;
  content: '\f00c';
}
.switch.switch-inline + label,
.switch-inline.switch-inline + label {
  display: inline-block;
}
.switch.purple + label,
.switch-inline.purple + label,
.switch.purple:checked + label,
.switch-inline.purple:checked + label {
  background-color: #8e44ad;
}
.switch.purple + label:before,
.switch-inline.purple + label:before,
.switch.purple:checked + label:before,
.switch-inline.purple:checked + label:before {
  background-color: #ffffff;
  color: #8e44ad;
  border: 1px solid #8e44ad;
}
.switch.dark-blue + label,
.switch-inline.dark-blue + label,
.switch.dark-blue:checked + label,
.switch-inline.dark-blue:checked + label {
  background-color: #2b5797;
}
.switch.dark-blue + label:before,
.switch-inline.dark-blue + label:before,
.switch.dark-blue:checked + label:before,
.switch-inline.dark-blue:checked + label:before {
  background-color: #ffffff;
  color: #2b5797;
  border: 1px solid #2b5797;
}
.switch.blue + label,
.switch-inline.blue + label,
.switch.blue:checked + label,
.switch-inline.blue:checked + label {
  background-color: #2d89ef;
}
.switch.blue + label:before,
.switch-inline.blue + label:before,
.switch.blue:checked + label:before,
.switch-inline.blue:checked + label:before {
  background-color: #ffffff;
  color: #2d89ef;
  border: 1px solid #2d89ef;
}
.switch.emerald + label,
.switch-inline.emerald + label,
.switch.emerald:checked + label,
.switch-inline.emerald:checked + label {
  background-color: #27ae60;
}
.switch.emerald + label:before,
.switch-inline.emerald + label:before,
.switch.emerald:checked + label:before,
.switch-inline.emerald:checked + label:before {
  background-color: #ffffff;
  color: #27ae60;
  border: 1px solid #27ae60;
}
.switch.gray + label,
.switch-inline.gray + label,
.switch.gray:checked + label,
.switch-inline.gray:checked + label {
  background-color: #333333;
}
.switch.gray + label:before,
.switch-inline.gray + label:before,
.switch.gray:checked + label:before,
.switch-inline.gray:checked + label:before {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
}
.switch.primary + label,
.switch-inline.primary + label,
.switch.primary:checked + label,
.switch-inline.primary:checked + label {
  background-color: #e80c1f;
}
.switch.primary + label:before,
.switch-inline.primary + label:before,
.switch.primary:checked + label:before,
.switch-inline.primary:checked + label:before {
  background-color: #ffffff;
  color: #e80c1f;
  border: 1px solid #e80c1f;
}
.switch.dark + label:before,
.switch-inline.dark + label:before,
.switch.dark:checked + label:before,
.switch-inline.dark:checked + label:before {
  color: #ffffff;
  background-color: #333333;
  border: 1px solid transparent;
}
.input-group-addon {
  border-radius: 0;
}
.input-group-addon .checkbox + label:before,
.input-group-addon .checkbox-inline + label:before,
.input-group-addon .radio + label:before,
.input-group-addon .radio-inline + label:before {
  top: 1px;
  margin-right: 0;
}
.jumbotron {
  border-radius: 0;
}
.label {
  border-radius: 0;
  font-weight: normal;
}
.label.purple {
  background-color: #8e44ad;
}
.label.dark-blue {
  background-color: #2b5797;
}
.label.blue {
  background-color: #2d89ef;
}
.label.emerald {
  background-color: #27ae60;
}
.label.gray {
  background-color: #333333;
}
.label.primary {
  background-color: #e80c1f;
}
a.label:hover,
a.label:focus {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.modal-content {
  border-radius: 0;
}
.navbar {
  border-radius: 0;
  color: #e80c1f;
  background-color: #ffffff;
  border-bottom-color: #eeeeee;
}
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e80c1f;
}
.navbar .navbar-nav > .active a,
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > .open > a {
  color: #e80c1f;
}
.navbar .navbar-nav > .active a:hover,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .active a:focus,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #e80c1f;
}
.navbar .navbar-nav > .active a,
.navbar .navbar-nav > .open > a {
  color: #ffffff;
  background-color: #e80c1f;
}
.navbar .navbar-nav .dropdown {
  border-top: none;
}
.navbar .navbar-nav .dropdown.open {
  border: none;
}
.navbar .navbar-toggle {
  border-color: #e80c1f;
  outline: none;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #e80c1f;
}
.navbar .navbar-toggle:hover {
  background-color: #e80c1f;
}
.navbar .navbar-toggle:hover .icon-bar {
  background-color: #ffffff;
}
.nav-tabs {
  border-bottom-color: #dddddd;
}
.nav-tabs > li {
  margin-right: 2px;
  border-top: 2px solid transparent;
}
.nav-tabs > li > a {
  margin-right: 0;
  border-radius: 0;
  border-top: none;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li.active,
.nav-tabs > li:hover,
.nav-tabs > li:focus {
  border-top-color: #e80c1f;
}
.nav-tabs > li.active > a,
.nav-tabs > li:hover > a,
.nav-tabs > li:focus > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li:hover > a:hover,
.nav-tabs > li:focus > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li:hover > a:focus,
.nav-tabs > li:focus > a:focus {
  background-color: #ffffff;
  cursor: pointer;
  border-top: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-left-color: #dddddd;
  border-right-color: #dddddd;
}
.nav-tabs .dropdown {
  border-top: 2px solid transparent;
}
.nav-tabs .dropdown.open {
  border-top-color: #e80c1f;
}
.nav-tabs .dropdown.open > a {
  border: none;
  background-color: transparent;
}
.nav-tabs .dropdown:not(.active) .dropdown-menu {
  margin-top: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: none;
}
.nav-tabs.nav-stacked > li {
  border-top: none;
  border-left: 2px solid transparent;
}
.nav-tabs.nav-stacked > li a,
.nav-tabs.nav-stacked > li a:hover,
.nav-tabs.nav-stacked > li a:focus {
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.nav-tabs.nav-stacked > li.active,
.nav-tabs.nav-stacked > li:hover,
.nav-tabs.nav-stacked > li:focus {
  border-left-color: #e80c1f;
}
.nav-tabs.nav-stacked > li.active > a,
.nav-tabs.nav-stacked > li.open > a {
  border-top-color: #dddddd;
  border-bottom-color: #dddddd;
}
.nav-pills > li > a {
  border-radius: 0;
  border: 1px solid transparent;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  background-color: #ffffff;
  border-color: #e80c1f;
}
.nav-pills > li.active > a,
.nav-pills > li.active:hover > a,
.nav-pills > li.active:focus > a,
.nav-pills > li.active a:hover,
.nav-pills > li.active:hover a:hover,
.nav-pills > li.active:focus a:hover,
.nav-pills > li.active a:focus,
.nav-pills > li.active:hover a:focus,
.nav-pills > li.active:focus a:focus {
  color: #ffffff;
  background-color: #e80c1f;
}
.nav-pills .dropdown.open > a {
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #e80c1f;
}
.nav-pills .dropdown:not(.active) .dropdown-menu {
  margin-top: 0;
}
.pagination {
  border-radius: 0;
}
.pagination li:first-child > a,
.pagination li:last-child > a,
.pagination li:first-child > span,
.pagination li:last-child > span {
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  color: #e80c1f;
  background-color: #ffffff;
  border-color: #dddddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #e80c1f;
  background-color: #dddddd;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ffffff;
  background-color: #e80c1f;
  border-color: #e80c1f;
}
.pager li > a {
  border-radius: 0;
  background-color: #ffffff;
}
.progress {
  border-radius: 0;
}
.progress .progress-bar.purple {
  background-color: #8e44ad;
}
.progress .progress-bar.dark-blue {
  background-color: #2b5797;
}
.progress .progress-bar.blue {
  background-color: #2d89ef;
}
.progress .progress-bar.emerald {
  background-color: #27ae60;
}
.progress .progress-bar.gray {
  background-color: #333333;
}
.progress .progress-bar.primary {
  background-color: #e80c1f;
}
body {
  background-color: #ffffff;
}
a {
  color: #e80c1f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover,
a:focus {
  color: #d00b1c;
}
pre {
  border-radius: 0;
}
.table.table-fixed {
  table-layout: fixed;
}
.table thead tr th,
.table thead tr td {
  font-weight: bold;
  border-bottom: 1px;
}
.tooltip.in {
  opacity: 0.8;
}
.tooltip-inner {
  padding: 5px;
  border-radius: 0;
}
