<link rel="ractive" href="./modal.html" name="modal">

<modal size="modal-lg">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

		{{#if showSwitch}}
			<span class="pull-right group-links-switch">
				Group links
				<input type="checkbox" class="switch-inline" id="group-links" checked="{{groupLinks}}" value="1">
				<label for="group-links"></label>
			</span>
		{{/if showSwitch}}

		<h4 class="modal-title">{{title}}</h4>
	</div>

	{{#with links}}
		<div class="modal-body collection-links">
			{{#if js}}
				<div class="row">
					<div class="col-xs-12">
						<h4>JS</h4>
					</div>

					{{#each js}}
						<div class="col-xs-10 file-link">
							{{cdnRoot}}/{{this}}

							{{#if hasFlash}}
								<i class="icon icon-clipboard clickable pull-right" decorator="zeroClipboard" data-clipboard-text="{{cdnRoot}}/{{this}}"></i>
							{{/if hasFlash}}
						</div>
					{{/each js}}
				</div>
			{{/if js}}

			{{#if css}}
				<div class="row">
					<div class="col-xs-12">
						<h4>CSS</h4>
					</div>

					{{#each css}}
						<div class="col-xs-10 file-link">
							{{cdnRoot}}/{{this}}

							{{#if hasFlash}}
								<i class="icon icon-clipboard clickable pull-right" decorator="zeroClipboard" data-clipboard-text="{{cdnRoot}}/{{this}}"></i>
							{{/if hasFlash}}
						</div>
					{{/each css}}
				</div>
			{{/if css}}

			{{#if other}}
				<div class="row">
					<div class="col-xs-12">
						<h4>Other</h4>
					</div>


					{{#each other}}
						<div class="col-xs-10 file-link">
							{{cdnRoot}}/{{this}}

							{{#if hasFlash}}
								<i class="icon icon-clipboard clickable pull-right" decorator="zeroClipboard" data-clipboard-text="{{cdnRoot}}/{{this}}"></i>
							{{/if hasFlash}}
						</div>
					{{/each other}}
				</div>
			{{/if other}}
		</div>
	{{/with links}}
</modal>

<script>
	var assign = require('public/js/utils/assign.js');
	var linkBuilder = require('public/js/utils/build-links');
	var zeroClipboardDecorator = require('public/js/decorators/zero-clipboard.js');

	component.exports = {
		el: 'body',
		append: true,
		computed: {
			showSwitch: function () {
				var links = linkBuilder(this.get('collection'), false);
				return links.css.length > 1 || links.js.length > 1;
			},
			links: function () {
				return linkBuilder(this.get('collection'), this.get('groupLinks'))
			},
			title: function () {
				return 'Your Link' + ((this.get('links.css').length + this.get('links.js').length + this.get('links.other').length) > 1 ? 's' : '');
			}
		},
		data: function (data) {
			return assign({
				cdnRoot: '//cdn.jsdelivr.net',
				groupLinks: true,
				linkBuilder: linkBuilder
			}, data);
		},
		decorators: {
			zeroClipboard: zeroClipboardDecorator
		},
		oninit: function () {
			this.set('hasFlash', !ZeroClipboard.isFlashUnusable());
		}
	};
</script>
