<div class="modal fade" role="dialog">
	<div class="modal-dialog {{size}}">
		<div class="modal-content">
			{{yield}}
		</div>
	</div>
</div>

<script>
	var assign = require('public/js/utils/assign.js');

	component.exports = {
		data: function (data) {
			return assign({
				size: ''
			}, data);
		},
		onrender: function () {
			var _this = this;

			$(this.find('*'))
				.modal()
				.on('hidden.bs.modal', function() {
					_this.teardown();
				});
		},
		onteardown: function () {
			$(this.find('*')).modal('hide');
		}
	};
</script>
