<link rel="ractive" href="./select-files.html" name="SelectFiles">
<link rel="ractive" href="./version-list.html" name="versionList">

{{#with project}}
	<div class="project {{#if single || showAll}}pr-showing-all{{/if}}">
		<div class="row">
			<div class="col-xs-1">
				<ul class="pr-links">
					{{#if github}}<li><a href="{{github}}" decorator="tooltip:'GitHub', 'left'"><i class="icon icon-github"></i></a></li>{{/if github}}
					<li><a href="{{cdnRoot}}/{{name}}/{{selectedVersion}}/{{zip}}" decorator="tooltip:'Download ZIP', 'left'"><i class="icon icon-download"></i></a></li>
					<li><a href="{{homepage}}" decorator="tooltip:'Homepage', 'left'"><i class="icon icon-globe"></i></a></li>
					<li><a href="{{apiUrl}}/jsdelivr/libraries?name={{name}}" decorator="tooltip:'API', 'left'"><i class="icon icon-api"></i></a></li>
				</ul>
			</div>

			<div class="col-xs-11">
				<h2 class="pr-header">
					<a href="/projects/{{name}}">{{name}}</a>

					<span class="btn-group pr-version">
						{{#if versions.length > 1}}
							<span class="clickable" data-toggle="dropdown">
								<a>{{selectedVersion}}</a>
								<i class="icon icon-drop-down"></i>
							</span>

							<versionList project="{{this}}" collection="{{collection}}"></versionList>
						{{else}}
							{{selectedVersion}}
						{{/if}}
					</span>

					<i class="icon icon-warning" decorator="tooltip:Mainfile: {{mainfile}}"></i>

					<span class="pr-collection">
						{{#if getCollectionIndex(collection, name) === -1}}
							<a class="clickable" on-click="addToCollection()" decorator="tooltip:Add to Collection">
								<i class="icon icon-add-to-list"></i>
							</a>
						{{else}}
							<a class="clickable" on-click="removeFromCollection()" decorator="tooltip:Remove from Collection">
								<i class="icon icon-remove-from-list"></i>
							</a>
						{{/if getFromCollection}}
					</span>
					<span class="pr-author">by <a href="/?query={{encodeURIComponent('author: ' + author)}}">{{author}}</a></span>
				</h2>

				<p>{{description}}</p>

				<div class="row">
					{{#each getFilesByVersion(this, selectedVersion).slice(0, fLimit)}}
						<div class="col-xs-10 file-link {{#if !@index}}main{{/if}}">
							{{cdnRoot}}/{{name}}/{{selectedVersion}}/{{this}}

							{{#if hasFlash}}
								<i class="icon icon-clipboard clickable pull-right" decorator="zeroClipboard" data-clipboard-text="{{cdnRoot}}/{{name}}/{{selectedVersion}}/{{this}}"></i>
							{{/if hasFlash}}
						</div>
					{{/each files}}

					{{#if insert}}
						<div class="more-files" style="display: {{ showAll ? 'block' : 'none' }}">
							{{#each getFilesByVersion(this, selectedVersion).slice(fLimit)}}
								<div class="col-xs-10 file-link">
									{{cdnRoot}}/{{name}}/{{selectedVersion}}/{{this}}

									{{#if hasFlash}}
										<i class="icon icon-clipboard clickable pull-right" decorator="zeroClipboard" data-clipboard-text="{{cdnRoot}}/{{name}}/{{selectedVersion}}/{{this}}"></i>
									{{/if hasFlash}}
								</div>
							{{/each files}}
						</div>
					{{/if insert}}
				</div>

				{{#if getFilesByVersion(this, selectedVersion).length > fLimit}}
					<div class="pr-show-all clickable">
						<span on-click="toggleFiles()">
							{{#if !showAll}}
								<i class="icon icon-chevron-down"></i> Show all
							{{else}}
								<i class="icon icon-chevron-up"></i> Hide
							{{/if}}
						</span>
					</div>
				{{/if fLimit}}
			</div>
		</div>
	</div>
{{/with project}}

<script>
	var has = require('public/js/utils/has.js');
	var assign = require('public/js/utils/assign.js');
	var getCollectionIndex = require('public/js/utils/get-collection-index.js');
	var getFilesByVersion = require('public/js/utils/get-files-by-version.js');
	var tooltipDecorator = require('public/js/decorators/tooltip.js');
	var zeroClipboardDecorator = require('public/js/decorators/zero-clipboard.js');

	component.exports = {
		computed: {
			fLimit: function () {
				return this.get('single') ? Number.MAX_VALUE : 3;
			}
		},
		data: function (data) {
			return assign({
				apiUrl: 'http://api.jsdelivr.com/v1',
				cdnRoot: '//cdn.jsdelivr.net',
				getCollectionIndex: getCollectionIndex,
				getFilesByVersion: getFilesByVersion
			}, data);
		},
		decorators: {
			tooltip: tooltipDecorator,
			zeroClipboard: zeroClipboardDecorator
		},
		oninit: function () {
			if (!Ractive.isServer) {
				this.set('hasFlash', !ZeroClipboard.isFlashUnusable());
			}
		},
		addToCollection: function () {
			var project = this.get('project');
			var _this = this;

			new this.components.SelectFiles({
				data: {
					project: project,
					callback: function (files) {
						project.selectedFiles = files;

						_this.push('collection', {
							name: project.name,
							version: project.selectedVersion,
							files: files
						});

						_this.update();
					}
				}
			});
		},
		removeFromCollection: function () {
			this.splice('collection', getCollectionIndex(this.get('collection'), this.get('project.name')), 1);
		},
		toggleFiles: function () {
			this.set('project.insert', true);

			var $link = $(this.find('.pr-show-all'));
			var $moreFiles = $(this.find('.more-files'));
			var _this = this;

			$moreFiles.slideToggle(200, function () {
				if($link.offset().top < $(document).scrollTop()) {
					$('html, body').animate({
						scrollTop: $link.closest('.project').offset().top
					});
				}

				_this.toggle('project.showAll');
			});
		}
	};
</script>
