<link rel="ractive" href="./modal.html" name="Modal">

<Modal id="{{id}}" title="{{title}}{{project.name}}" buttons="{{buttons}}" submit="{{submit}}">
	<input type="text" class="form-control" id="new-version-email" placeholder="Please enter your e-mail address">
</Modal>

<script type="text/javascript">
	component.exports = {
		el: 'body',
		append: true,
		complete: function() {
			setTimeout(function() {
				$('#new-version-email').focus();
			}, 500);
		},
		data: {
			id: 'modal-report-new-version',
			title: 'Report a new version of ',
			project: {},
			buttons: [
				{
					label: 'Cancel',
					class: 'btn-default',
					handler: 'cancel'
				},
				{
					label: 'Report',
					class: 'primary',
					handler: 'submit'
				}
			],
			submit: function() {
				// TODO-LATER send the report
			}
		}
	};
</script>