<div class="container search-input-component">
	{{#if render}}
		<section>
			<h1>A free super-fast CDN for developers and webmasters</h1>

			<i class="icon icon-search"></i>
			<input type="text" value="{{query}}" decorator='autofocus' autofocus spellcheck="false" placeholder="Search in more than {{nbProjects}} open source projects...">
		</section>
	{{/if render}}
</div>

<script>
	var autoFocusDecorator = require('public/js/decorators/auto-focus.js');
	component.exports = {
		oninit: function () {
			if (!Ractive.isServer) {
				var countProjects = require('public/js/utils/count-projects.js');
				var _this = this;

				// Show number of hosted projects.
				countProjects(function (nbProjects) {
					nbProjects && _this.set('nbProjects', nbProjects);
				});
			}
		},
		oncomplete: function() {
			if (this.get('el')) {
				this.detach();
				this.insert(this.get('el'), this.get('anchor'));
				this.set('render', true);
			}
		},
		decorators: {
			autofocus: autoFocusDecorator
		},
		onteardown: function() {
			if (this.get('el')) {
				this.find('*').outerHTML = '';
			}
		}
	};
</script>
