<link rel="ractive" href="./modal.html" name="modal">

<modal>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Select files to include</h4>
	</div>

	<div class="modal-body">
		<ol class="select-files">
			{{#each getFilesByVersion(project, project.selectedVersion) }}
				<li>
					<input type="checkbox" class="checkbox primary" id="file-{{@index}}" name="{{selected}}" value="{{this}}">
					<label for="file-{{@index}}">{{this}}</label>
				</li>
			{{/each}}
		</ol>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" on-click="teardown()">Cancel</button>
		<button type="button" class="btn btn-primary" on-click="submit()">Select</button>
	</div>
</modal>

<script>
	var assign = require('public/js/utils/assign.js');
	var getFilesByVersion = require('public/js/utils/get-files-by-version.js');

	component.exports = {
		el: 'body',
		append: true,
		data: function (data) {
			return assign({
				callback: function () {},
				id: 'modal-select-files',
				getFilesByVersion: getFilesByVersion,
				project: {},
				selected: []
			}, data);
		},
		oninit: function () {
			// TODO: Doesn't work at the moment ractivejs/ractive#1305
			this.push('selected', this.get('project.mainfile'));
		},
		submit: function () {
			this.get('callback')(this.get('selected'));

			this.teardown();
		}
	};
</script>
