<link rel="ractive" href="./select-files.html" name="SelectFiles">

<ul class="dropdown-menu">
	{{#each project.versions}}
		{{#if this !== selectedVersion}}
			<li><a class="clickable" on-click="select(this)">{{this}}</a></li>
		{{/if}}
	{{/each project.versions}}
</ul>

<script>
	var assign = require('public/js/utils/assign.js');
	var getCollectionIndex = require('public/js/utils/get-collection-index.js');
	var getFilesByVersion = require('public/js/utils/get-files-by-version.js');

	component.exports = {
		data: function (data) {
			return assign({
				collection: [],
				project: {}
			}, data);
		},
		select: function (version) {
			var collection = this.get('collection');
			var project = this.get('project');
			var collectionIndex = getCollectionIndex(collection, project.name);
			var collectionProject = collection[collectionIndex];
			var files = getFilesByVersion(project, version);
			var _this = this;

			this.set('project.selectedVersion', version);

			// If this project is in the collection, update the collection as well.
			if (collectionIndex !== -1) {
				this.set('collection.' + collectionIndex + '.version', version);

				// Reselect files if some of them are not available in this version.
				for (var x in collectionProject.files) {
					if (collectionProject.files.hasOwnProperty(x)) {
						if (files.indexOf(collectionProject.files[x]) === -1) {
							// Remove the project from the collection.
							this.splice('collection', collectionIndex, 1);

							new this.components.SelectFiles({
								data: {
									project: project,
									callback: function (files) {
										collectionProject.files = files;

										// If user re-selected the files, we can add the project back.
										_this.splice('collection', collectionIndex, 0, collectionProject);
									}
								}
							});

							break;
						}
					}
				}
			}
		}
	};
</script>
