<link rel="ractive" href="../r-page.html" name="r-page">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-header useWhiteLogos="true" additionalClasses="page-404-header"></c-header>

	<div class="p-404">
		<div class="page-404">
			<div class="page-404_text-block">
				<div class="page-404_text-block_title">
					Oops! The page you were looking for doesn’t exist.
				</div>

				<div class="page-404_text-block_descr">
					You may have mistyped the address or the page may have moved.
				</div>

				<a href="/" class="page-404_text-block_btn btn-404">Back to Homepage</a>
			</div>

			<div class="page-404_img-block">
				<img width="552"
					height="552"
					src="{{@shared.assetsHost}}/img/404/404.svg"
					loading="lazy">
			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Page not found - jsDelivr',
				description: 'Page not found - jsDelivr',
			};
		},
	};
</script>
