<link rel="ractive" href="../r-page.html" name="r-page">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header useWhiteLogos="true" additionalClasses="page-404-header"></c-header>

	<div class="p-404" error-page>
		<div class="page-404">
			<div class="page-404_text-block">
				<div class="page-404_text-block_title">
					Oops! Something went wrong on our end.
				</div>

				<div class="page-404_text-block_descr">
					Please try again in a moment.
				</div>

				<a href="/" class="page-404_text-block_btn btn-404">Back to Homepage</a>
			</div>

			<div class="page-404_img-block">
				<img style="width: 100%"
					src="{{@shared.assetsHost}}/img/500.svg"
					alt="500"
					loading="lazy">
			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Server error - jsDelivr',
				description: 'An error occurred while loading this page. Please try again in a moment.',
			};
		},
	};
</script>
