<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/landing-bottom.html" name="c-landing-bottom">
<link rel="ractive" href="../components/landing-top.html" name="c-landing-top">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/search.html" name="c-search">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-index page">
		<c-landing-top activeDocs="{{docs}}" ></c-landing-top>
		<c-search __ready="{{__ready}}" hideLanding="{{hideLanding}}" page="{{page}}" query="{{query}}" caretPosition="{{caretPosition}}"></c-search>
		{{#unless ~/hideLanding}}
		<c-landing-bottom></c-landing-bottom>
		{{/unless}}
	</div>

	<c-footer></c-footer>
</r-page>
