<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-about text-page">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h1 class="page-title">About jsDelivr</h1>

					<section>
						<p>
							jsDelivr is public, open-source CDN (Content Delivery Network) developed by <a target="_blank" href="https://prospectone.io">ProspectOne</a>,
							focused on performance, reliability, and security. It is free to use for everyone, with no bandwidth limits.
						</p>
					</section>

					<section id="security">
						<h2>Security</h2>

						<p>
							We are focused on production use, which also means we are very serious about security.
						</p>

						<ul>
							<li>All jsDelivr services support HTTPS.</li>
							<li>All jsDelivr related accounts are protected by strong passwords, 2FA, and IP whitelists where possible.</li>
							<li>Our critical code has been thoroughly reviewed both by us and several other independent experts.</li>
						</ul>

						<p>
							We also have protections in place to prevent people from using jsDelivr to serve malicious files,
							but if you find something that doesn't look right,
							<a target="_blank" href="https://github.com/jsdelivr/jsdelivr/issues/new?title=Malicious file">report it at our issue tracker</a>.
						</p>
					</section>

					<section id="people">
						<h2>The people behind</h2>

						<p>
							These people currently run or previously helped with running this project. Want to join them? We are always looking for help!
						</p>

						<p>
							If you are a company, please check out <a href="/become-a-sponsor">Sponsors page</a> for more details.
							If you are an individual, you may donate money, or help us with development (CDN, API, website, other jsDelivr projects),
							promotion, or anything else you think would be useful. Just <a href="mailto:contact@jsdelivr.com?subject=How can I help you with jsDelivr?">send us an email</a>
							or <a target="_blank" href="https://github.com/jsdelivr/jsdelivr/issues/new?title=How can I help you with jsDelivr?">ask us on GitHub</a> for more details.
						</p>

						<div class="people row">
							<div class="person col-md-3">
								<strong class="person-name">Dmitriy Akulov</strong>

								<img class="person-avatar" src="/img/about/dmitriy-akulov.png">

								<div class="person-social-icons">
									<a target="_blank" href="https://ua.linkedin.com/in/dakulov"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
									<a target="_blank" href="https://twitter.com/jimaek"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
									<a target="_blank" href="https://github.com/jimaek"><i class="fa fa-github-square" aria-hidden="true"></i></a>
								</div>
							</div>

							<div class="person col-md-3">
								<strong class="person-name">Martin Kolárik</strong>

								<img class="person-avatar" src="/img/about/martin-kolarik.png">

								<div class="person-social-icons">
									<a target="_blank" href="https://twitter.com/MaKolarik"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
									<a target="_blank" href="https://github.com/MartinKolarik"><i class="fa fa-github-square" aria-hidden="true"></i></a>
									<a target="_blank" href="https://kolarik.sk"><i class="fa fa-globe" aria-hidden="true"></i></a>
								</div>
							</div>

							<div class="person col-md-3">
								<strong class="person-name">Graeme Yeates</strong>

								<img class="person-avatar" src="/img/about/graeme-yeates.png">

								<div class="person-social-icons">
									<a target="_blank" href="https://twitter.com/GraemeYeates"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
									<a target="_blank" href="https://github.com/megawac"><i class="fa fa-github-square" aria-hidden="true"></i></a>
								</div>
							</div>

							<div class="person col-md-3">
								<strong class="person-name">Patrick Nommensen</strong>

								<img class="person-avatar" src="/img/about/patrick-nommensen.png">

								<div class="person-social-icons">
									<a target="_blank" href="https://linkedin.com/in/pnommensen"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
									<a target="_blank" href="https://twitter.com/pnommensen"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
								</div>
							</div>

							<div class="person col-md-3">
								<strong class="person-name">Juho Vepsäläinen</strong>

								<img class="person-avatar" src="/img/about/juho-vepsalainen.png">

								<div class="person-social-icons">
									<a target="_blank" href="http://survivejs.com/"><i class="fa fa-globe" aria-hidden="true"></i></a>
								</div>
							</div>

							<div class="person col-md-3">
								<strong class="person-name">Andrew Sun</strong>

								<img class="person-avatar" src="/img/about/andrew-sun.png">

								<div class="person-social-icons">
									<a target="_blank" href="https://andrewsun.com/"><i class="fa fa-globe" aria-hidden="true"></i></a>
									<a target="_blank" href="https://github.com/as-com"><i class="fa fa-github-square" aria-hidden="true"></i></a>
								</div>
							</div>

							<div class="person col-md-3">
								<strong class="person-name">Austin Brown</strong>

								<img class="person-avatar" src="/img/about/austin-brown.png">

								<div class="person-social-icons">
									<a target="_blank" href="http://www.linkedin.com/in/austinjbrown"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
									<a target="_blank" href="https://github.com/UnbounDev"><i class="fa fa-github-square" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'About - jsDelivr',
			};
		},
	};
</script>
