<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-about text-page">
		<div class="container">
			<div class="row">
				{{#partial nav}}
				<ul class="nav nav-pills nav-stacked page-nav">
					<li class="active">
						<a>About</a>
					</li>
					<li>
						<a href="/features">Features</a>
					</li>
					<li>
						<a href="/network">Our network</a>
					</li>
					<li>
						<a href="/network/infographic" target="_blank" class="router-ignore">Our network infographic</a>
					</li>
				</ul>
				{{/partial}}

				<div class="col-md-3 hidden-lg hidden-md">
					{{>nav}}
				</div>

				<div class="col-md-9">
					<h1 class="page-title">About jsDelivr</h1>

					<section>
						<p>
							jsDelivr is a public, open-source CDN (Content Delivery Network) developed by <a target="_blank" href="https://prospectone.io">ProspectOne</a>,
							focused on performance, reliability, and security. It is free to use for everyone, with no bandwidth limits.
						</p>
					</section>

					<section id="security">
						<h2>Security</h2>

						<p>
							We are focused on production use, which also means we are very serious about security.
						</p>

						<ul>
							<li>All jsDelivr services support HTTPS.</li>
							<li>All jsDelivr related accounts are protected by strong passwords, 2FA, and IP whitelists where possible.</li>
							<li>Our critical code has been thoroughly reviewed both by us and several other independent experts.</li>
						</ul>

						<p>
							We also have protections in place to prevent people from using jsDelivr to serve malicious files,
							but if you find something that doesn't look right,
							<a target="_blank" href="https://github.com/jsdelivr/jsdelivr/issues/new?title=Malicious file">report it at our issue tracker</a>.
						</p>
					</section>

					<section id="people">
						<h2>The people behind</h2>

						<p>
							These people currently run or previously helped with running this project. Want to join them? We are always looking for help!
						</p>

						<ul>
							<li><a target="_blank" href="https://ua.linkedin.com/in/dakulov">Dmitriy Akulov</a></li>
							<li><a target="_blank" href="https://kolarik.sk">Martin Kolárik</a></li>
							<li><a target="_blank" href="https://github.com/megawac">Graeme Yeates</a></li>
							<li><a target="_blank" href="https://linkedin.com/in/pnommensen">Patrick Nommensen</a></li>
							<li><a target="_blank" href="https://survivejs.com">Juho Vepsäläinen</a></li>
							<li><a target="_blank" href="https://andrewsun.com">Andrew Sun</a></li>
							<li><a target="_blank" href="https://www.linkedin.com/in/austinjbrown">Austin Brown</a></li>
						</ul>

						<p>
							If you are a company, please check out <a href="/become-a-sponsor">Sponsors page</a> for more details.
							If you are an individual, you may donate money, or help us with development (CDN, API, website, other jsDelivr projects),
							promotion, or anything else you think would be useful. Just <a href="mailto:contact@jsdelivr.com?subject=How can I help you with jsDelivr?">send us an email</a>
							or <a target="_blank" href="https://github.com/jsdelivr/jsdelivr/issues/new?title=How can I help you with jsDelivr?">ask us on GitHub</a> for more details.
						</p>
					</section>
				</div>

				<div class="col-md-3 hidden-sm hidden-xs">
					{{>nav}}
				</div>
			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'About - jsDelivr',
				description: 'jsDelivr is a public, open-source CDN (Content Delivery Network) developed by ProspectOne, focused on performance, reliability, and security. It is free to use for everyone, with no bandwidth limits.',
			};
		},
	};
</script>
