<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-become-a-sponsor">
		<div class="navigation">
			<a href="/sponsors">Our sponsors</a>
			<a class="active">Become our sponsor</a>
		</div>

		<div class="container">
			<div class="head-wrapper">
				<img class="head-map-bg" width="908" height="428" src="{{@shared.assetsHost}}/img/sponsors/map.svg" />
				<div class="head-title">
					<span>Become a sponsor</span>
					<span>and help us make jsDelivr better</span>
				</div>

				<div class="head-subtitle">
					Support us
				</div>

				<div class="head-descr">
					<span>Support jsDelivr by donating to us through Github Sponsors and Open Collective and help cover the expenses of our</span>
					<span>infrastructure and sponsor the development of new features</span>
				</div>

				<div class="head-ctrls">
					<div>
						<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/github.black.svg" />
						Github Sponsor
					</div>
					<div>
						<img width="18" height="18" src="{{@shared.assetsHost}}/img/icons/open-collective.svg" />
						Open Collective
					</div>
				</div>
			</div>

			<h3 class="main-title">For corporate Sponsors</h3>

			<div class="plans">
				<div class="plan platinum">
					<div class="sp-topline"></div>
					<div class="sp-top">
						<div class="sp-level platinum">PLATINUM</div>
						<div class="amount">$1 500+</div>
						<div class="month">/month</div>
					</div>

					<a class="sp-button" href="mailto:dak@prospectone.io?subject=Become a platinum sponsor">Become a sponsor</a>

					<a href="/sponsors#platinum" class="sample">Sample</a>

					<div class="sp-divider"></div>

					<div class="plan-feautures">
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Big logo on top, on "Sponsors" page along with a text description</div>
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Logo + link in header
						</div>
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Tweet
						</div>
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Blog post announcing the sponsorship
						</div>
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Mentions future in blog posts on third-party websites
						</div>
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Other possible partnership opportunities
						</div>
					</div>
				</div>

				<div class="plan gold">
					<div class="sp-topline"></div>
					<div class="sp-top">
						<div class="sp-level gold">GOLD</div>
						<div class="amount gold">$500</div>
						<div class="month">/month</div>
					</div>

					<a class="sp-button" href="mailto:dak@prospectone.io?subject=Become a gold sponsor">Become a sponsor</a>

					<a href="/sponsors#gold" class="sample">Sample</a>

					<div class="sp-divider"></div>

					<div class="plan-feautures">
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Logo + link below Platinum sponsors on "Sponsors" page. Small description
						</div>
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Logo + link in header
						</div>
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Tweet
						</div>
						<div class="disabled">
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.disabled.svg" />
							Blog post announcing the sponsorship
						</div>
						<div class="disabled">
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.disabled.svg" />
							Mentions future in blog posts on third-party websites
						</div>
						<div class="disabled">
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.disabled.svg" />
							Other possible partnership opportunities
						</div>
					</div>
				</div>

				<div class="plan bronze">
					<div class="sp-topline"></div>
					<div class="sp-top">
						<div class="sp-level bronze">BRONZE</div>
						<div class="amount">$150</div>
						<div class="month">/month</div>
					</div>

					<a class="sp-button" href="mailto:dak@prospectone.io?subject=Become a bronze sponsor">Become a sponsor</a>

					<a href="/sponsors#bronze" class="sample">Sample</a>

					<div class="sp-divider"></div>

					<div class="plan-feautures">
						<div>
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.svg" />
							Logo + link below Gold sponsors on "Sponsors" page. No description
						</div>
						<div class="disabled">
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.disabled.svg" />
							Logo + link in header
						</div>
						<div class="disabled">
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.disabled.svg" />
							Tweet
						</div>
						<div class="disabled">
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.disabled.svg" />
							Blog post announcing the sponsorship
						</div>
						<div class="disabled">
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.disabled.svg" />
							Mentions future in blog posts on third-party websites
						</div>
						<div class="disabled">
							<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-file.disabled.svg" />
							Other possible partnership opportunities
						</div>
					</div>
				</div>

				<div class="plan custom">
					<div class="sp-topline"></div>
					<div class="sp-top">
						<div class="sp-level custom">CUSTOM</div>
					</div>

					<div class="sp-text">
						For companies that want to offer a smaller or bigger amount than the ones listed above and/or have custom requirements from jsDelivr.
					</div>

					<a class="sp-button" href="mailto:dak@prospectone.io?subject=Become a custom sponsor">Become a sponsor</a>
				</div>
			</div>

			<div class="bottom-info">
				<div class="title">You can sponsor jsDelivr by:</div>
				<div class="list">
					<div>
						<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.svg" />
						providing us your service for free (CDN, DNS, web hosting, anything else we might need)
					</div>
					<div>
						<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.svg" />
						making monthly donations to help us cover development costs and other expenses
					</div>
					<div>
						<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.svg" />
						donating development hours of your employees
					</div>
				</div>
				<div class="descr">
					Your sponsorship level is based on the value of your monthly donation. For example, to become a Bronze sponsor, you
					<br />
					need to sponsor a service worth $150 - 499 per month, donate the same amount of money, or corresponding number 
					<br />
					of development hours.
				</div>
				<div>
					Just <a class="mail-us">send us an email</a> if you have any questions.
				</div>
			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Become a sponsor - jsDelivr',
				description: 'Become a sponsor and help us make jsDelivr better!',
			};
		},
	};
</script>
