<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-become-a-sponsor page">
		<div class="container">
			<div class="row">
				{{#partial nav}}
				<ul class="nav nav-pills nav-stacked page-nav">
					<li role="presentation">
						<a href="/sponsors">Our sponsors</a>
					</li>
					<li class="active">
						<a>Become our sponsor</a>
					</li>
				</ul>
				{{/partial}}

				<div class="col-md-3  hidden-lg hidden-md ">
					{{>nav}}
				</div>

				<div class="col-md-9 ">
					<h1 class="page-title">Become a sponsor and help us make jsDelivr better</h1>

					<p>
						You can sponsor jsDelivr by:
					</p>

					<ul>
						<li>providing us your service for free (CDN, DNS, web hosting, anything else we might need)</li>
						<li>making monthly donations to help us cover development costs and other expenses</li>
						<li>donating development hours of your employees</li>
					</ul>

					<p>
						Your sponsorship level is based on the value of your monthly donation.
						For example, to become a Bronze sponsor, you need to sponsor a service worth $150 - 499 per
						month, donate the same amount of money, or corresponding number of development hours.
					</p>

					<p>
						Just <a href="mailto:contact@jsdelivr.com">send us an email</a> if you have any questions.
					</p>
				</div>

				<div class="col-md-3 hidden-xs hidden-sm">
					{{>nav}}
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<!-- When changing the text, be sure to check it on all screen sizes! -->

					<div class="sp platinum">
						<div class="sp-top">
							<div class="sp-level">PLATINUM</div>
							<h1>$1 500+</h1>
							<div class="month">/month</div>
						</div>

						<ul>
							<li>Logo + link in header</li>
							<li>Blog post announcing the sponsorship</li>
							<li>Tweet</li>
							<li>Big logo on top, on "Sponsors" page along with a text description</li>
							<li>Mentions future in blog posts on third-party websites</li>
							<li>Other possible partnership opportunities</li>
						</ul>

						<div class="sp-button">
							<a class="btn btn-featured" href="mailto:contact@jsdelivr.com">Become a sponsor</a>
						</div>

						<a href="/sponsors#platinum" class="sample">Sample</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="sp gold">
						<div class="sp-top">
							<div class="sp-level">GOLD</div>
							<h1>$500</h1>
							<div class="month">/month</div>
						</div>

						<ul>
							<li>Logo + link in header</li>
							<li class="inactive">Blog post announcing the sponsorship</li>
							<li>Tweet</li>
							<li>Logo + link below Platinum sponsors on "Sponsors" page. Small description</li>
							<li class="inactive">Mentions future in blog posts on third-party websites</li>
						</ul>

						<div class="sp-button">
							<a class="btn btn-featured" href="mailto:contact@jsdelivr.com">Become a sponsor</a>
						</div>

						<a href="/sponsors#gold" class="sample">Sample</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="sp bronze">
						<div class="sp-top">
							<div class="sp-level">BRONZE</div>
							<h1>$150</h1>
							<div class="month">/month</div>
						</div>

						<ul>
							<li class="inactive">Logo + link in header</li>
							<li class="inactive">Blog post announcing the sponsorship</li>
							<li class="inactive">Tweet</li>
							<li>Logo + link below Gold sponsors on "Sponsors" page. No description</li>
							<li class="inactive">Mentions future in blog posts on third-party websites</li>
						</ul>

						<div class="sp-button">
							<a class="btn btn-featured" href="mailto:contact@jsdelivr.com">Become a sponsor</a>
						</div>

						<a href="/sponsors#bronze" class="sample">Sample</a>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="sp custom">
						<div class="sp-top">
							<div class="sp-level">CUSTOM</div>
							<img src="/img/sponsors/custom.png">
						</div>

						<div class="text">
							For companies that want to offer a smaller or bigger amount than the ones listed above and/or have custom requirements from jsDelivr.
						</div>

						<div class="sp-button">
							<a class="btn btn-featured" href="mailto:contact@jsdelivr.com">Become a sponsor</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</r-page>
