<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/cdn-oss-hosting-info.html" name="c-cdn-oss-hosting-info">
<link rel="ractive" href="../components/cdn-oss-head.html" name="c-cdn-oss-head">
<link rel="ractive" href="../components/new-infographic-banner.html" name="c-new-infographic-banner">
<link rel="ractive" href="../components/request-bandwidth-stats.html" name="c-request-bandwidth-stats">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-header></c-header>

	<div class="p-custom-cdn-oss-project">
		<c-cdn-oss-head name="{{name}}"
			link="{{projectLink}}"
			title="{{projectTitle}}"
			descr="{{projectDescr}}"
			imgW="{{projectImgW}}"
			imgH="{{projectImgH}}">
			{{#partial title}}
				{{title}}
			{{/partial}}

			{{#partial descr}}
				{{descr}}
			{{/partial}}

			{{#partial img}}
				<img width="{{imgW}}}" height="{{imgH}}" src="{{@shared.assetsHost}}/img/custom-cdn-oss/{{name}}.svg">
			{{/partial}}
		</c-cdn-oss-head>

		<div class="divider"></div>

		<div class="ctrls-block">
			<div class="ctrls-block-title">Statistics</div>
			<div class="ctrls-block-ctrls">
				<div class="chart-type-ctrl">
					<span>Show numbers of</span>

					<input id="chart-switch"
						type="checkbox"
						class="chart-type-switch {{#if showChartBandwidth}}checked{{/if}}"
						twoway="false">

					<label for="chart-switch" on-click="@this.set('showChartBandwidth', !showChartBandwidth)">
						<span>Request</span>
						<span>GB</span>
					</label>
				</div>

				<div class="data-range-ctrl">
					<span>Data range:</span>

					<div class="btn-group">
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>{{~/statsPeriods[statsPeriod]}}</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</button>

						<ul class="dropdown-menu">
							{{#each ~/statsPeriods}}
								<li><a on-click="@this.set('statsPeriod', @key)">{{this}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<c-request-bandwidth-stats name="{{name}}" period="{{statsPeriods[statsPeriod]}}"></c-request-bandwidth-stats>

		{{#if noPackageStatsData}}
			<div class="no-data-wrapper">
				<img width="180" height="152" src="{{@shared.assetsHost}}/img/no-data-chart-main.svg">
				<span>No statistics yet</span>
				<span>This is probably not a very popular package :(</span>
			</div>
		{{else}}
			<div class="chart-ctrls">
				<div class="chart-ctrls-title">Stats for last {{~/statsPeriods[statsPeriod]}}</div>
				<div class="chart-ctrls-group-by">
					<span>
						Group by:
					</span>

					<div class="btn-group">
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>{{~/usageChartGroupByValues[usageChartGroupBy].value}}</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</button>

						<ul class="dropdown-menu">
							{{#each ~/usageChartGroupByValues}}
								<li>
									{{#if this.isDisabled}}
										<a class="disabled">{{this.value}}</a>
									{{else}}
										<a on-click="@this.set('usageChartGroupBy', @key)">{{this.value}}</a>
									{{/if}}
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>

			<div class="chart-wrapper">
				<canvas id="cdn-stats-chart"></canvas>
			</div>
		{{/if}}

		<c-new-infographic-banner>
			{{#partial text}}
				Learn more about<br />
				the infrastructure that<br />
				powers <a href="/network/infographic" target="_blank" class="router-ignore">jsDelivr</a>
			{{/partial}}
		</c-new-infographic-banner>

		<c-cdn-oss-hosting-info></c-cdn-oss-hosting-info>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');
	const createBarChart = require('../../public/js/utils/create-bar-chart');

	component.exports = {
		data () {
			return {
				title: 'TODO - jsDelivr',
				description: 'TODO',
				statsPeriods: {
					1: 'day',
					7: 'week',
					30: 'month',
					365: 'year',
				},
				statsPeriod: 30,
				showChartBandwidth: false,
				usageChartGroupByValues: {
					day: { value: 'day', isDisabled: false },
					week: { value: 'week', isDisabled: false },
					month: { value: 'month', isDisabled: false },
				},
				usageChartGroupBy: 'day',
				noPackageStatsData: false,
				projectsData: {
					cocoapods: {
						title: 'CocoaPods',
						descr: 'CocoaPods is a dependency manager for Swift and Objective-C Cocoa projects. It has over 87 thousand libraries and is used in over 3 million apps. CocoaPods can help you scale your projects elegantly.',
						link: 'www.cocoapods.org',
						imgW: '202',
						imgH: '46',
					},
					pyodide: {
						title: 'Pyodide',
						descr: 'Pyodide brings the Python 3.9 runtime to the browser via WebAssembly, thanks to Emscripten. It builds the Python scientific stack including NumPy, Pandas, Matplotlib, SciPy, and scikit-learn. Over 75 packages are currently available. In addition, it’s possible to install pure Python wheels from PyPI.',
						link: 'pyodide.org',
						imgW: '170',
						imgH: '56',
					},
					musescore: {
						title: 'MuseScore',
						descr: 'Create, play and print beautiful sheet music. The world’s most popular notation software.',
						link: 'musescore.org',
						imgW: '213',
						imgH: '48',
					},
				},
				projectTitle: '',
				projectDescr: '',
				projectImgW: '',
				projectImgH: '',
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('statsPeriod', () => {
					if (this.get('statsPeriod')) {
						let type = 'npm';
						let name = this.get('name');
						let period = this.get('statsPeriods')[this.get('statsPeriod')];

						// get package date stats data
						http.fetchPackageDateStats(type, name, period).then((response) => {
							if (!response.total) {
								this.set('noPackageStatsData', true);
								return;
							}

							this.set('statsDateData', response);
						});
					}
				});

				this.observe('name', (name) => {
					let projectsData = this.get('projectsData');

					this.set('projectTitle', projectsData[name].title);
					this.set('projectDescr', projectsData[name].descr);
					this.set('projectImgW', projectsData[name].imgW);
					this.set('projectImgH', projectsData[name].imgH);
					this.set('projectLink', projectsData[name].link);
				});
			}
		},
		onrender () {
			let statsChart;
			let statsChartCanvasEl = this.find('#cdn-stats-chart');

			this.observe('statsDateData', (statsDateData) => {
				if (!statsDateData || !statsChartCanvasEl) { return; }

				let array = [];

				Object.keys(statsDateData.dates).forEach((date) => {
					array.push([ date, statsDateData.dates[date] ]);
				});

				array.sort((a, b) => new Date(a[0]) - new Date(b[0]));

				if (statsChart) {
					statsChart.destroy();
					statsChart = null;
				}

				let xAxisDates = array.map(value => value[0]);
				let data = array.map(value => value[1].total);
				let chartPeriod = this.get('statsPeriods')[this.get('statsPeriod')];
				let yAxisTicksAmount = 8;
				let minRangeValue = _.getValueByMagnitude(Math.min(...data), 'floor');
				let maxRangeValue = _.getValueByMagnitude(Math.max(...data), 'ceil', 1);

				let chartData = {
					labels: _.getChartXAxisData(xAxisDates, chartPeriod),
					datasets: [{
						data,
						borderWidth: 0,
						barThickness: chartPeriod === 'year' ? 2 : 10,
						hoverBackgroundColor: '#F65128',
					}],
				};
				let chartSettings = {
					useYAxisBorderPlugin: true,
					useExternalTooltip: true,
					externalTooltipVerticalOffset: 40,
				};
				let chartConfig = {
					options: {
						scales: {
							x: {
								display: true,
								ticks: {
									color: '#5C667A',
									font: {
										size: 12,
										family: 'Lexend, sans-serif',
										lineHeight: 2,
									},
									callback (tickIdx) {
										let labelValue = this.getLabelForValue(tickIdx);
										let day = Array.isArray(labelValue) ? labelValue[0].split('-').slice(-1)[0] : labelValue.split('-').slice(-1)[0];

										if (chartPeriod === 'year') {
											if (tickIdx !== 0 && tickIdx % 30 === 0) {
												return [ labelValue[1] ];
											}

											return;
										}

										if (Array.isArray(labelValue)) {
											return [ day, labelValue[1] ];
										}

										return [ day ];
									},
								},
								grid: {
									display: false,
									drawBorder: false,
								},
							},
							y: {
								display: true,
								min: minRangeValue,
								max: maxRangeValue,
								ticks: {
									count: yAxisTicksAmount,
									color: '#5C667A',
									crossAlign: 'far',
									font: {
										size: 12,
										family: 'Lexend, sans-serif',
									},
									callback (tickIdx) {
										let labelValue = this.getLabelForValue(tickIdx);
										return _.getValueByMagnitude(Math.round(labelValue.replace(/,/g, '')), 'round', 1, false);
									},
								},
								grid: {
									display: false,
									drawBorder: false,
								},
								afterFit: (scale) => {
									scale.width = 114;
								},
							},
						},
					},
				};

				statsChart = createBarChart(statsChartCanvasEl, chartData, chartSettings, chartConfig);
			});
		},
	};
</script>