<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/cdn-oss-hosting-info.html" name="c-cdn-oss-hosting-info">
<link rel="ractive" href="../components/cdn-oss-head.html" name="c-cdn-oss-head">
<link rel="ractive" href="../components/request-bandwidth-stats.html" name="c-request-bandwidth-stats">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-header></c-header>
	<div class="p-custom-cdn-oss">
		<div class="container">
			<div class="cdn-oss-item">
				<c-cdn-oss-head	name="cocoapods" link="www.cocoapods.org">
					{{#partial title}}
						CocoaPods
					{{/partial}}
	
					{{#partial descr}}
						CocoaPods is a dependency manager for Swift and Objective-C Cocoa projects. It has over 87 thousand libraries and 
						is used in over 3 million apps. CocoaPods can help you scale your projects elegantly.
					{{/partial}}
	
					{{#partial img}}
						<img width="202" height="46" src="{{@shared.assetsHost}}/img/custom-cdn-oss/cocoapods.svg">
					{{/partial}}
				</c-cdn-oss-head>
	
				<c-request-bandwidth-stats name="cocoa"></c-request-bandwidth-stats>
	
				<div class="full-stats-link">
					<a href="/custom-cdn-oss/cocoa">
						CocoaPods full stats
						<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">
					</a>
				</div>
			</div>
		</div>
		

		<div class="bg-wrapper">
			<div class="container">
				<div class="cdn-oss-item">
					<c-cdn-oss-head	name="pyodide" link="pyodide.org">
						{{#partial title}}
							Pyodide
						{{/partial}}
	
						{{#partial descr}}
							Pyodide brings the Python 3.9 runtime to the browser via WebAssembly, thanks to Emscripten. It builds the Python 
							scientific stack including NumPy, Pandas, Matplotlib, SciPy, and scikit-learn. Over 75 packages are currently available. 
							In addition, it’s possible to install pure Python wheels from PyPI.
						{{/partial}}
	
						{{#partial img}}
							<img width="170" height="56" src="{{@shared.assetsHost}}/img/custom-cdn-oss/pyodide.svg">
						{{/partial}}
					</c-cdn-oss-head>
	
					<c-request-bandwidth-stats name="pyodide"></c-request-bandwidth-stats>
	
					<div class="full-stats-link">
						<a href="/custom-cdn-oss/pyodide">
							Pyodide full stats
							<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="cdn-oss-item">
				<c-cdn-oss-head name="musescore" link="musescore.org">
					{{#partial title}}
						MuseScore
					{{/partial}}
	
					{{#partial descr}}
						Create, play and print beautiful sheet music. The world’s most popular notation software.
					{{/partial}}
	
					{{#partial img}}
						<img width="213" height="48" src="{{@shared.assetsHost}}/img/custom-cdn-oss/musescore.svg">
					{{/partial}}
				</c-cdn-oss-head>
	
				<c-request-bandwidth-stats name="musescore"></c-request-bandwidth-stats>
	
				<div class="full-stats-link">
					<a href="/custom-cdn-oss/musescore">
						MuseScore full stats
						<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">
					</a>
				</div>
			</div>
	
			<div class="divider"></div>
	
			<c-cdn-oss-hosting-info></c-cdn-oss-hosting-info>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Custom CDN OSS - jsDelivr',
				description: 'TODO',
			};
		},
	};
</script>