<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/cdn-oss-hosting-info.html" name="c-cdn-oss-hosting-info">
<link rel="ractive" href="../components/cdn-oss-head.html" name="c-cdn-oss-head">
<link rel="ractive" href="../components/new-infographic-banner.html" name="c-new-infographic-banner">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-header></c-header>

	<div class="p-custom-cdn-oss-project">
		<c-cdn-oss-head
			name="cocoapods"
			title="CocoaPods"
			descr="CocoaPods is a dependency manager for Swift and Objective-C Cocoa projects. It has over 87 thousand libraries and 
				is used in over 3 million apps. CocoaPods can help you scale your projects elegantly."
			link="www.cocoapods.org"
			imgW="202"
			imgH="46">
		</c-cdn-oss-head>

		<div class="divider"></div>

		<div class="ctrls-block">
			<div class="ctrls-block-title">Statistics</div>
			<div class="ctrls-block-ctrls">

				<div class="chart-type-ctrl">
					<span>Show numbers of</span>

					<input id="chart-switch"
						type="checkbox"
						class="chart-type-switch {{#if showChartBandwidth}}checked{{/if}}"
						twoway="false">

					<label for="chart-switch" on-click="@this.set('showChartBandwidth', !showChartBandwidth)">
						<span>Request</span>
						<span>GB</span>
					</label>
				</div>

				<div class="data-range-ctrl">
					<span>Data range:</span>

					<div class="btn-group">
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span>{{~/statsPeriods[statsPeriod]}}</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</button>

						<ul class="dropdown-menu">
							{{#each ~/statsPeriods}}
								<li><a on-click="@this.set('statsPeriod', @key)">{{this}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<c-new-infographic-banner>
			{{#partial text}}
				Learn more about<br />
				the infrastructure that<br />
				powers <a href="/network/infographic" target="_blank" class="router-ignore">jsDelivr</a>
			{{/partial}}
		</c-new-infographic-banner>

		<c-cdn-oss-hosting-info></c-cdn-oss-hosting-info>
	</div>

	<c-footer></c-footer>
</r-page>


<script>

	component.exports = {
		data () {
			return {
				statsPeriods: {
					1: 'day',
					7: 'week',
					30: 'month',
					365: 'year',
				},
				statsPeriod: 30,
				showChartBandwidth: false,
			};
		},
	};
</script>