<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-header></c-header>
	<div class="p-custom-cdn-oss">
		<div class="cdn-oss-item">
			<div class="title">CocoaPods</div>

			<div class="descr">
				CocoaPods is a dependency manager for Swift and Objective-C Cocoa projects. It has over 87 thousand libraries and 
				is used in over 3 million apps. CocoaPods can help you scale your projects elegantly.
			</div>

			<div class="links">
				<a href="www.cocoapods.org">www.cocoapods.org</a>
				<a href="#">Documentation</a>
				<a href="#">jsDelivr Project Page</a>
			</div>

			<div class="stats-cards"> 
				<div>
					<div class="card-icon">
						<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/request.svg">
					</div>
					<div class="card-main-stat">
						<span>406 745 962</span>
						<span>Requests Served</span>
					</div>
					<div class="card-growth">
						<span class="growth-positive">+34%</span>
						<span>monthly growth</span>
					</div>
				</div>

				<div>
					<div class="card-icon">
						<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/transfer.svg">
					</div>
					<div class="card-main-stat">
						<span>648 414</span>
						<span>Bandwidth</span>
					</div>
					<div class="card-growth">
						<span class="growth-negative">-9%</span>
						<span>monthly growth</span>
					</div>
				</div>
			</div>

			<div class="full-stats-link">
				<a href="#">CocoaPods full stats</a>
			</div>
		</div>

		<div class="bg-wrapper">
			<div class="cdn-oss-item">
				<div class="title">Pyodide</div>

				<div class="descr">
					Pyodide brings the Python 3.9 runtime to the browser via WebAssembly, thanks to Emscripten. It builds the Python 
					scientific stack including NumPy, Pandas, Matplotlib, SciPy, and scikit-learn. Over 75 packages are currently available. 
					In addition, it’s possible to install pure Python wheels from PyPI.
				</div>

				<div class="links">
					<a href="www.pyodide.org">www.pyodide.org</a>
					<a href="#">Documentation</a>
					<a href="#">jsDelivr Project Page</a>
				</div>

				<div class="stats-cards"> 
					<div>
						<div class="card-icon">
							<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/request.svg">
						</div>
						<div class="card-main-stat">
							<span>406 745 962</span>
							<span>Requests Served</span>
						</div>
						<div class="card-growth">
							<span class="growth-positive">+34%</span>
							<span>monthly growth</span>
						</div>
					</div>

					<div>
						<div class="card-icon">
							<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/transfer.svg">
						</div>
						<div class="card-main-stat">
							<span>648 414</span>
							<span>Bandwidth</span>
						</div>
						<div class="card-growth">
							<span class="growth-negative">-9%</span>
							<span>monthly growth</span>
						</div>
					</div>
				</div>

				<div class="full-stats-link">CocoaPods full stats</div>
			</div>
		</div>

		<div class="cdn-oss-item">
			<div class="title">MuseScore</div>

			<div class="descr">
				Create, play and print beautiful sheet music. The world’s most popular notation software.
			</div>

			<div class="links">
				<a href="https://musescore.org">https://musescore.org</a>
				<a href="#">Documentation</a>
				<a href="#">jsDelivr Project Page</a>
			</div>

			<div class="stats-cards"> 
				<div>
					<div class="card-icon">
						<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/request.svg">
					</div>
					<div class="card-main-stat">
						<span>406 745 962</span>
						<span>Requests Served</span>
					</div>
					<div class="card-growth">
						<span class="growth-positive">+34%</span>
						<span>monthly growth</span>
					</div>
				</div>

				<div>
					<div class="card-icon">
						<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/transfer.svg">
					</div>
					<div class="card-main-stat">
						<span>648 414</span>
						<span>Bandwidth</span>
					</div>
					<div class="card-growth">
						<span class="growth-negative">-9%</span>
						<span>monthly growth</span>
					</div>
				</div>
			</div>

			<div class="full-stats-link">CocoaPods full stats</div>
		</div>

		<div class="divider"></div>
	</div>

	<c-footer></c-footer>
</r-page>
