<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/github-md-readme-prefetch.html" name="c-github-md-readme-prefetch">
<link rel="ractive" href="../components/markdown.html" name="c-markdown">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-github-md-readme-prefetch></c-github-md-readme-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-documentation">
		<!-- don't forget to mod this block of code for mobile page -->
		<div class="dropdown">
			<div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span>Navigation</span>
				<div class="toggle-icon">
					<div class="toggle-bar"></div>
					<div class="toggle-bar"></div>
				</div>
			</div>
			<ul class="dropdown-menu">
				<li>
					<div class="dropdown-subtitle">CDN - cdn.jsdelivr.net</div>
				</li>
				<li>
					<a href="/terms/acceptable-use-policy-jsdelivr-net"
						class="dropdown-item {{#if currentAnchor === 'acceptable-use-policy-jsdelivr-net'}}active{{/if}}">
						Acceptable Use Policy
					</a>
				</li>
				<li>
					<a href="/terms/privacy-policy-jsdelivr-net"
						class="dropdown-item {{#if currentAnchor === 'privacy-policy-jsdelivr-net'}}active{{/if}}">
						Privacy Policy
					</a>
				</li>
				<li>
					<div class="dropdown-subtitle">Website - jsdelivr.com</div>
				</li>
				<li>
					<a href="/terms/privacy-policy-jsdelivr-com"
						class="dropdown-item {{#if currentAnchor === 'privacy-policy-jsdelivr-com'}}active{{/if}}">
						Privacy Policy
					</a>
				</li>
			</ul>
		</div>

		<div class="container">
			<div class="side-menu">
				{{#if sideMenuLinksData.whyJsDelivr}}
					<div class="menu-section">
						<strong class="section-title">Why jsDelivr</strong>

						<div class="section-list">
							{{#each sideMenuLinksData.whyJsDelivr}}
								<div>
									<a class="router-ignore{{#if currentAnchor === id}} active{{/if}}"
										on-click="@this.handleSideMenuLinkClick(id)">
										{{text}}
									</a>
								</div>
							{{/each}}
						</div>
					</div>
				{{/if}}

				<div class="horizontal-divider"></div>

				{{#if sideMenuLinksData.usageDocs}}
					<div class="menu-section">
						<strong class="section-title">Usage Documentation</strong>

						<div class="section-list">
							{{#each sideMenuLinksData.usageDocs}}
								<div>
									<a class="router-ignore{{#if currentAnchor === id}} active{{/if}}"
										on-click="@this.handleSideMenuLinkClick(id)">
										{{text}}
									</a>
								</div>
							{{/each}}
						</div>
					</div>
				{{/if}}
			</div>

			<div class="main-content">
				<c-markdown text="{{@shared.readmeText}}"></c-markdown>
			</div>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Documentation - jsDelivr',
				currentAnchor: '',
				sideMenuLinksData: {
					whyJsDelivr: [
						{
							id: 'ready-for-production',
							text: 'Ready for production',
						},
						{
							id: 'multi-cdn',
							text: 'Multi-CDN',
						},
						{
							id: 'smart-load-balancing',
							text: 'Smart Load Balancing',
						},
						{
							id: 'failover',
							text: 'Failover',
						},
						{
							id: 'china',
							text: 'China',
						},
					],
					usageDocs: [
						{
							id: 'npm',
							text: 'npm',
						},
						{
							id: 'github',
							text: 'GitHub',
						},
						{
							id: 'combine-multiple-files',
							text: 'Combine multiple files',
						},
						{
							id: 'publishing-packages',
							text: 'Publishing packages',
						},
						{
							id: 'configuring-a-default-file-in-packagejson',
							text: 'Configuring a default file in package.json',
						},
						{
							id: 'restrictions',
							text: 'Restrictions',
						},
						{
							id: 'wordpress',
							text: 'WordPress',
						},
						{
							id: 'caching',
							text: 'Caching',
						},
						{
							id: 'purge-cache',
							text: 'Purge cache',
						},
						{
							id: 'custom-cdn-hosting',
							text: 'Custom CDN Hosting',
						},
						{
							id: 'privacy-policy',
							text: 'Privacy Policy',
						},
					],
				},
			};
		},
		handleSideMenuLinkClick (id) {
			this.set('currentAnchor', id);

			document.getElementById(id).scrollIntoView({
				behavior: 'smooth',
			});
		},
	};
</script>
