<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/markdown.html" name="c-markdown">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-documentation">
		<!-- don't forget to mod this block of code for mobile page -->
		<div class="dropdown">
			<div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span>Navigation</span>
				<div class="toggle-icon">
					<div class="toggle-bar"></div>
					<div class="toggle-bar"></div>
				</div>
			</div>
			<ul class="dropdown-menu">
				<li>
					<div class="dropdown-subtitle">CDN - cdn.jsdelivr.net</div>
				</li>
				<li>
					<a href="/terms/acceptable-use-policy-jsdelivr-net"
						class="dropdown-item {{#if currentAnchor === 'acceptable-use-policy-jsdelivr-net'}}active{{/if}}">
						Acceptable Use Policy
					</a>
				</li>
				<li>
					<a href="/terms/privacy-policy-jsdelivr-net"
						class="dropdown-item {{#if currentAnchor === 'privacy-policy-jsdelivr-net'}}active{{/if}}">
						Privacy Policy
					</a>
				</li>
				<li>
					<div class="dropdown-subtitle">Website - jsdelivr.com</div>
				</li>
				<li>
					<a href="/terms/privacy-policy-jsdelivr-com"
						class="dropdown-item {{#if currentAnchor === 'privacy-policy-jsdelivr-com'}}active{{/if}}">
						Privacy Policy
					</a>
				</li>
			</ul>
		</div>

		<div class="docs-container">
			<div class="side-menu">
				{{#if sideMenuLinksData.whyJsDelivr}}
					<div class="menu-section">
						<strong class="section-title">Why jsDelivr</strong>

						<div class="section-list">
							{{#each sideMenuLinksData.whyJsDelivr}}
								<div>
									<a class="router-ignore{{#if currentAnchor === id}} active{{/if}}"
										on-click="@this.handleSideMenuLinkClick(id)">
										{{text}}
									</a>
								</div>
							{{/each}}
						</div>
					</div>
				{{/if}}

				<div class="horizontal-divider"></div>

				{{#if sideMenuLinksData.usageDocs}}
					<div class="menu-section">
						<strong class="section-title">Usage Documentation</strong>

						<div class="section-list">
							{{#each sideMenuLinksData.usageDocs}}
								<div>
									<a class="router-ignore{{#if currentAnchor === id}} active{{/if}}"
										on-click="@this.handleSideMenuLinkClick(id)">
										{{text}}
									</a>
								</div>
							{{/each}}
						</div>
					</div>
				{{/if}}
			</div>

			<div class="main-content">
				<!-- <c-markdown text="{{@shared.readmeText}}"></c-markdown> -->
				<c-markdown text="{{readmeText}}"></c-markdown>
			</div>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	const _ = require('../../public/js/_');

	component.exports = {
		data () {
			return {
				title: 'Documentation - jsDelivr',
				currentAnchor: '',
				readmeText: 'Please wait while the document loads.',
				sideMenuLinksData: {
					whyJsDelivr: [
						{
							id: 'ready-for-production',
							text: 'Ready for production',
						},
						{
							id: 'multi-cdn',
							text: 'Multi-CDN',
						},
						{
							id: 'smart-load-balancing',
							text: 'Smart Load Balancing',
						},
						{
							id: 'failover',
							text: 'Failover',
						},
						{
							id: 'china',
							text: 'China',
						},
					],
					usageDocs: [
						{
							id: 'npm',
							text: 'npm',
						},
						{
							id: 'github',
							text: 'GitHub',
						},
						{
							id: 'combine-multiple-files',
							text: 'Combine multiple files',
						},
						{
							id: 'publishing-packages',
							text: 'Publishing packages',
						},
						{
							id: 'configuring-a-default-file-in-packagejson',
							text: 'Configuring a default file in package.json',
						},
						{
							id: 'restrictions',
							text: 'Restrictions',
						},
						{
							id: 'wordpress',
							text: 'WordPress',
						},
						{
							id: 'caching',
							text: 'Caching',
						},
						{
							id: 'purge-cache',
							text: 'Purge cache',
						},
						{
							id: 'custom-cdn-hosting',
							text: 'Custom CDN Hosting',
						},
						{
							id: 'privacy-policy',
							text: 'Privacy Policy',
						},
					],
				},
			};
		},
		handleSideMenuLinkClick (id) {
			this.set('currentAnchor', id);

			document.getElementById('id-' + id).scrollIntoView({
				behavior: 'smooth',
			});
		},
		oninit () {
			if (!Ractive.isServer) {
				if (this.get('readmeText') === 'Please wait while the document loads.') {
					_.makeHTTPRequest({ url: 'https://raw.githubusercontent.com/jsdelivr/jsdelivr/master/README.md', rawResponse: true }).then((response) => {
						this.set('readmeText', response).then(() => {
							let headers = document.querySelectorAll('h2[id*="id-"], h3[id*="id-"]');

							window.addEventListener('scroll', () => {
								headers.forEach((header) => {
									if (header.getBoundingClientRect().top < 100) {
										this.set('currentAnchor', header.id.split('id-')[1]);
									}
								});
							});
						});
					}).catch(() => {
						this.set('readmeText', `Failed to load the document. Please view it directly at:<br>https://raw.githubusercontent.com/jsdelivr/jsdelivr/master/README.md`);
					});
				}

				window.addEventListener('load', () => {
					let sidebar = document.querySelector('.side-menu');

					if (sidebar) {
						let top = sidebar.getBoundingClientRect().top + document.body.scrollTop;

						window.addEventListener('scroll', () => {
							let y = document.scrollingElement.scrollTop;

							if (y > top) {
								sidebar.setAttribute('style', 'position: sticky; top: 20px');
							} else {
								sidebar.removeAttribute('style');
							}
						});
					}
				});
			}
		},
	};
</script>
