<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/github-md-readme-prefetch.html" name="c-github-md-readme-prefetch">
<link rel="ractive" href="../components/markdown.html" name="c-markdown">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-github-md-readme-prefetch></c-github-md-readme-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-documentation">
		<div class="container">
			<c-markdown text="{{@shared.readmeText}}"></c-markdown>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Documentation - jsDelivr',
			};
		},
	};
</script>
