<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-features text-page">
		<div class="container">
			<div class="row">
				{{#partial nav}}
				<ul class="nav nav-pills nav-stacked page-nav">
					<li>
						<a href="/about">About</a>
					</li>
					<li class="active">
						<a>Features</a>
					</li>
					<li>
						<a href="/network">Our network</a>
					</li>
					<li>
						<a href="/network/infographic" target="_blank" class="router-ignore">Our network infographic</a>
					</li>
				</ul>
				{{/partial}}

				<div class="col-md-3 hidden-lg hidden-md">
					{{>nav}}
				</div>

				<div class="col-md-9 ">
					<h1 class="page-title">Features</h1>

					<section>
						<p>
							jsDelivr provides mirrors for npm, GitHub, WordPress plugins, and custom endpoints for several other projects with special requirements.
							If our regular endpoints don't work for your use case, <a href="mailto:contact@jsdelivr.com?subject=Custom CDN">let us know</a> and we'll figure something out!
						</p>

						<p>
							If you are a package author, check our <a href="/features#publishing-packages">tips for package authors</a> to make using your package as easy as possible.
						</p>
					</section>

					<section id="npm">
						<h2>npm CDN</h2>

						<div class="alert alert-info">
							We use a permanent S3 storage to ensure all files remain available even if npm goes down, or a package is deleted by its author.
							Files are fetched directly from npm only the first time, or when S3 goes down.
						</div>

						<p>
							Load any project hosted on npm:
						</p>

						<pre><code>https://cdn.jsdelivr.net/npm/package@version/file</code></pre>

						<p>
							Load an exact version of a file:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js">https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js</a></code></pre>

						<p id="alias">
							Use a version range instead of an exact version:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js">https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.1/dist/jquery.min.js">https://cdn.jsdelivr.net/npm/jquery@3.1/dist/jquery.min.js</a></code></pre>

						<div class="alert alert-info">
							If you use this feature and a file you requested is not available in the newest version of the package,
							the link will keep working thanks to our version-fallback feature. We'll continue to serve the file from older version of the package
							instead of failing with a 404 error.
						</div>

						<p>
							Load by tag (not recommended for production usage):
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@beta/dist/jquery.min.js">https://cdn.jsdelivr.net/npm/jquery@beta/dist/jquery.min.js</a></code></pre>

						<p id="default">
							Omit the version completely or use "latest" to load the latest one (not recommended for production usage):
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js">https://cdn.jsdelivr.net/npm/jquery@latest/dist/jquery.min.js</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js">https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js</a></code></pre>

						<div class="alert alert-warning">
							Requesting the latest version (as opposed to "latest major" or "latest minor") is dangerous because major versions usually
							come with breaking changes. Only do this if you really know what you are doing.
						</div>

						<p id="minify">
							Add ".min" to any JS/CSS file to get a minified version - if one doesn't exist, we'll generate it for you.
							All generated files come with source maps and can be easily used during development:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/npm/github-markdown-css@2.4.1/github-markdown.min.css">https://cdn.jsdelivr.net/npm/github-markdown-css@2.4.1/github-markdown.min.css</a></code></pre>

						<div class="alert alert-info">
							Minifying a large file can take several seconds. However, we store all generated files in our permanent storage,
							so this delay only applies to the first few requests.
						</div>

						Omit the file path to get the default file (currently not recommended). This file is always minified:

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.2.1">https://cdn.jsdelivr.net/npm/jquery@3.2.1</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3">https://cdn.jsdelivr.net/npm/jquery@3</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/npm/npm/jquery">https://cdn.jsdelivr.net/npm/jquery</a></code></pre>

						<div class="alert alert-warning">
							If the default file is not directly in the root directory of the package, using this feature may cause problems
							with relative imports, such as source maps, images, or font files referenced by the requested file.
						</div>

						<p>
							Get a directory listing:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.2.1/">https://cdn.jsdelivr.net/npm/jquery@3.2.1/</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/">https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/</a></code></pre>
					</section>

					<section id="gh">
						<h2>GitHub CDN</h2>

						<div class="alert alert-info">
							We use a permanent S3 storage to ensure all files remain available even if GitHub goes down, or a repository or a release is deleted by its author.
							Files are fetched directly from GitHub only the first time, or when S3 goes down.
						</div>

						<p>
							Load any GitHub release:
						</p>

						<pre><code>https://cdn.jsdelivr.net/gh/user/repo@version/file</code></pre>

						<p>
							Load an exact version of a file:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js">https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js</a></code></pre>

						<p>
							Use a version range instead of an exact version:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js">https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3/dist/jquery.min.js">https://cdn.jsdelivr.net/gh/jquery/jquery@3/dist/jquery.min.js</a></code></pre>

						<div class="alert alert-info">
							If you use this feature and a file you requested is not available in the newest release,
							the link will keep working thanks to our version-fallback feature. We'll continue to serve the file from older release
							instead of failing with a 404 error.
						</div>

						<p>
							Omit the version completely or use "latest" to load the latest one (not recommended for production usage):
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@latest/dist/jquery.min.js">https://cdn.jsdelivr.net/gh/jquery/jquery@latest/dist/jquery.min.js</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery/dist/jquery.min.js">https://cdn.jsdelivr.net/gh/jquery/jquery/dist/jquery.min.js</a></code></pre>

						<div class="alert alert-warning">
							Requesting the latest version (as opposed to "latest major" or "latest minor") is dangerous because major versions usually
							come with breaking changes. Only do this if you really know what you are doing.
						</div>

						<p>
							Add ".min" to any JS/CSS file to get a minified version - if one doesn't exist, we'll generate it for you.
							All generated files come with source maps and can be easily used during development:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/src/core.min.js">https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/src/core.min.js</a></code></pre>

						<div class="alert alert-info">
							Minifying a large file can take several seconds. However, we store all generated files in our permanent storage,
							so this delay only applies to the first few requests.
						</div>

						<p>
							Get a directory listing:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/">https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/">https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/</a></code></pre>
					</section>

					<section id="combine">
						<h2>Combine multiple files</h2>

						<p>
							Our combine endpoint allows you to load several files from npm and GitHub endpoints in one request:
						</p>

						<pre><code>https://cdn.jsdelivr.net/combine/url1,url2,url3</code></pre>

						<p>
							All features that work for individual files (version ranges, minification, etc.) work here as well.
							All combined files come with source maps and can be easily used during development.
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/combine/gh/jquery/jquery@3.2/dist/jquery.min.js,gh/twbs/bootstrap@3.3/dist/js/bootstrap.min.js">https://cdn.jsdelivr.net/combine/gh/jquery/jquery@3.2/dist/jquery.min.js,gh/twbs/bootstrap@3.3/dist/js/bootstrap.min.js</a></code>
							<code><a target="_blank" href="https://cdn.jsdelivr.net/combine/npm/bootstrap@3.3/dist/css/bootstrap.min.css,npm/bootstrap@3.3/dist/css/bootstrap-theme.min.css">https://cdn.jsdelivr.net/combine/npm/bootstrap@3.3/dist/css/bootstrap.min.css,npm/bootstrap@3.3/dist/css/bootstrap-theme.min.css</a></code></pre>

						<div class="alert alert-info">
							Combining large/many files can take several seconds. However, we store all generated files in our permanent storage,
							so this delay only applies to the first few requests.
						</div>
					</section>

					<section id="wp">
						<h2>WordPress CDN</h2>

						<p>
							Load any plugin from the WordPress.org plugins SVN repo:
						</p>

						<pre><code>https://cdn.jsdelivr.net/wp/project/tags/version/file</code></pre>

						<p>
							Load an exact version of a file:
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/wp/wp-slimstat/tags/4.6.5/wp-slimstat.js">https://cdn.jsdelivr.net/wp/wp-slimstat/tags/4.6.5/wp-slimstat.js</a></code></pre>

						<p>
							Load the latest version (not recommended for production usage):
						</p>

						<pre><code><a target="_blank" href="https://cdn.jsdelivr.net/wp/wp-slimstat/trunk/wp-slimstat.js">https://cdn.jsdelivr.net/wp/wp-slimstat/trunk/wp-slimstat.js</a></code></pre>

						<div class="alert alert-warning">
							Requesting the latest version is dangerous because a new version may come with breaking changes.
							Only do this if you really know what you are doing.
						</div>
					</section>

					<section id="custom">
						<h2>Custom endpoints</h2>

						<p>
							We provide custom endpoints for the following projects (contact us if you need one too):
						</p>

						<ul>
							<li><a target="_blank" href="https://www.emojione.com">emojione.com</a></li>
							<li><a target="_blank" href="https://foundation.zurb.com">foundation.zurb.com</a></li>
							<li><a target="_blank" href="https://hex.pm">hex.pm</a></li>
							<li><a target="_blank" href="https://jspm.io">jspm.io</a></li>
							<li><a target="_blank" href="https://www.webjars.org">webjars.org</a></li>
						</ul>
					</section>

					<section id="publishing-packages">
						<h2>Tips for package authors</h2>

						<ul>
							<li>make sure the provided files work in browser (use UMD)</li>
							<li>use semver for versioning (this is enforced by npm but not by GitHub)</li>
							<li>if you distribute minified JS/CSS files, also include source maps for those files</li>
							<li>if you don't want to provide minified files, it's fine - we'll handle that for you</li>
						</ul>

						<strong>Configuring a default file in <code>package.json</code></strong>

						<p>
							For packages hosted on npm, we support setting a "default" file for each package.
							This file is displayed at the top of directory listings on our website and available under shorter URL on the CDN.

							The default file can be configured by setting one of the following fields in <code>package.json</code>, with <code>jsdelivr</code> having the highest priority:
						</p>

						<ul>
							<li><code>jsdelivr</code></li>
							<li><code>browser</code></li>
							<li><code>main</code></li>
						</ul>
					</section>
				</div>

				<div class="col-md-3 hidden-sm hidden-xs">
					{{>nav}}
				</div>
			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Features - jsDelivr',
			};
		},
	};
</script>
