<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-header additionalClasses="header-with-globalping-bg"></c-header>

	<div class="p-globalping">
		<div class="gp_navigation">
			<a href="/globalping" class="gp_navigation_item active">Globalping</a>
			<a href="/globalping-cli" class="gp_navigation_item">CLI</a>
			<a href="/globalping-slack" class="gp_navigation_item">Slack</a>
			<a href="/globalping-network-tools" class="gp_navigation_item">Network tools</a>
		</div>

		<div class="gp_jumbotron">
			<img class="gp_jumbotron_grid"
				width="1440"
				height="532"
				src="{{@shared.assetsHost}}/img/globalping/globalping-grid.svg">
			<img class="gp_jumbotron_blur"
				width="1440"
				height="442"
				src="{{@shared.assetsHost}}/img/globalping/globalping-blur.svg">
		</div>


		<div class="gp_main-info">
			<div class="gp_main-info_descr">
				<span class="gp_main-info_descr_green">Monitor, debug and benchmark</span> your internet infrastructure from a globally distributed
				network of probes.
			</div>

			<div class="gp_main-info_stats">
				<div class="gp_main-info_stats_item">
					<span class="gp_main-info_stats_item_number">
						400
						<span></span>
					</span>
					<span class="gp_main-info_stats_item_text">connected probes</span>
				</div>

				<div class="gp_main-info_stats_item">
					<span class="gp_main-info_stats_item_number">
						200
						<span></span>
					</span>
					<span class="gp_main-info_stats_item_text">different cities</span>
				</div>

				<div class="gp_main-info_stats_item">
					<span class="gp_main-info_stats_item_number">
						50
						<span></span>
					</span>
					<span class="gp_main-info_stats_item_text">different countries</span>
				</div>
			</div>
		</div>

		<div class="gp_map-block">
			<div class="gp_map-block_header">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="gp_map-block_map"></div>
			<div class="gp_map-block_ctrls"></div>
		</div>

		<div class="gp_features">
			<div class="gp_features_item">
				<span class="gp_features_item_icon">
					<img width="48"
						height="48"
						src="{{@shared.assetsHost}}/img/globalping/globalping-opensource-icon.svg">
					</span>
				<span class="gp_features_item_name">
					Fully open source and free
				</span>
				<span class="gp_features_item_descr">
					Every component of Globalping is open source and is being actively developed on GitHub with the help of our community and users.
				</span>
			</div>

			<div class="gp_features_item">
				<span class="gp_features_item_icon">
					<img width="48"
						height="48"
						src="{{@shared.assetsHost}}/img/globalping/globalping-nonprofit-icon.svg">
					</span>
				<span class="gp_features_item_name">
					Non-profit and developed by jsDelivr
				</span>
				<span class="gp_features_item_descr">
					The Globalping platform is developed by the jsDelivr team who has more than 10 years of experience maintaining the jsDelivr CDN which is being used by millions of website around the globe.
				</span>
			</div>

			<div class="gp_features_item">
				<span class="gp_features_item_icon">
					<img width="48"
						height="48"
						src="{{@shared.assetsHost}}/img/globalping/globalping-community-icon.svg">
					</span>
				<span class="gp_features_item_name">
					Powered by community and sponsors
				</span>
				<span class="gp_features_item_descr">
					The jsDelivr organization and all projects including Globalping rely on our corporate and GitHub sponsors. Consider joining them to help us release new features even faster!
				</span>
			</div>

			<div class="gp_features_item">
				<span class="gp_features_item_icon">
					<img width="48"
						height="48"
						src="{{@shared.assetsHost}}/img/globalping/globalping-security-icon.svg">
				</span>
				<span class="gp_features_item_name">
					Secure and private
				</span>
				<span class="gp_features_item_descr">
					The security of our systems and privacy of our users are of the utmost importance for us. We minimize the public information that our probes expose and block harmful and abusive domains and IPs.
				</span>
			</div>
		</div>

		<div class="gp_installation">
			<div class="gp_installation_item">
				<img width="61"
					height="53"
					src="{{@shared.assetsHost}}/img/globalping/cli-icon.svg">

				<span class="gp_installation_item_title">
					Install the Globalping CLI
				</span>

				<span class="gp_installation_item_descr">
					The jsDelivr organization and all projects including Globalping rely on our corporate and GitHub sponsors.
				</span>
			</div>

			<div class="gp_installation_item">
				<img width="61"
					height="53"
					src="{{@shared.assetsHost}}/img/globalping/rest-api-icon.svg">

				<span class="gp_installation_item_title">
					Integrate the Globalping REST API
				</span>

				<span class="gp_installation_item_descr">
					Use our free API to build your own tools, automated your tests and integrate Globalping into your existing flow
				</span>
			</div>

			<div class="gp_installation_item">
				<img width="61"
					height="53"
					src="{{@shared.assetsHost}}/img/globalping/slack-icon.svg">

				<span class="gp_installation_item_title">
					Install the Globalping Slack App
				</span>

				<span class="gp_installation_item_descr">
					Install the app into your Slack organization to allow all of your members to run global tests in any channel
				</span>
			</div>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Globalping - jsDelivr',
				description: 'TODO: add Globalping description',
			};
		},
	};
</script>
