<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/controlled-input.html" name="c-controlled-input">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-header additionalClasses="header-with-globalping-bg"></c-header>

	<div class="p-globalping-network-tools">
		<div class="gp_navigation">
			<a href="/globalping" class="gp_navigation_item">Globalping</a>
			<a href="/globalping-cli" class="gp_navigation_item">CLI</a>
			<a href="/globalping-slack" class="gp_navigation_item">Slack</a>
			<a href="/globalping-network-tools" class="gp_navigation_item active">Network tools</a>
		</div>

		<div class="gp-nettools_jumbotron">
			<img class="gp-nettools_jumbotron_grid"
				width="1440"
				height="532"
				src="{{@shared.assetsHost}}/img/globalping/gp-cli/gp-cli-grid.svg">

			<div class="gp-nettools_jumbotron_blur">
				<div class="gp-nettools_jumbotron_blur_circle-one"></div>
				<div class="gp-nettools_jumbotron_blur_circle-two"></div>
			</div>
		</div>

		<div class="gp-nettools_main-info">
			<h1>Ping from multiple locations in</h1>
			<span>Europe, <span class="gp-nettools_green-text">World</span></span>

			<div class="gp-nettools_main-info_input-block">
				<span>Run a Free</span>

				<div class="gp_dropdown_alt">
					<div class="btn-group">
						<button type="button"
							class="dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
							<span>{{~/selectedTestType}}</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</button>

						<div class="dropdown-menu">
							{{#each ~/testTypesList}}
								<div on-click="@this.set('selectedTestType', this)">{{this}}</div>
							{{/each}}
						</div>
					</div>
				</div>

				<span>test</span>
			</div>
		</div>

		<div class="gp-nettools_demo-tools">
			<div class="gp-nettools_demo-tools_head">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div class="gp-nettools_demo-tools_ctrls">
				<c-controlled-input
					value="TODO"
					error="TODO"
					placeholder="IP or host"
					spanText="Target"
					classList="gp-nettools_demo-tools_ctrls_target gp_input">
				</c-controlled-input>

				<c-controlled-input
					value="2"
					error="TODO"
					placeholder="0"
					spanText="Probes"
					classList="gp-nettools_demo-tools_ctrls_probes gp_input">
				</c-controlled-input>

				<button class="gp-nettools_demo-tools_ctrls_btn gp_btn_green">
					Run Ping Test
				</button>
			</div>

			<div class="gp-nettools_demo-tools_descr">
				<img width="56"
					height="56"
					src="{{@shared.assetsHost}}/img/globalping/gp-nettools/TODO-broken-bulb.svg">
				<span>Run a global ping latency test to debug and troubleshoot your network, CDN or website from multiple locations in Europe.</span>
			</div>
		</div>

		<div class="gp-nettools_learn-how">
			<span class="gp-nettools_learn-how_title">
				Learn more about how Globalping makes global network tests and benchmarking possible and free for all.
			</span>

			<span class="gp-nettools_learn-how_descr">
				Debug your web services and servers, understand and fix your routing, simply by running network commands from Europe or any other specific location like a country or city.
			</span>

			<button class="gp-nettools_learn-how_btn gp_btn_green">
				Learn more
			</button>
		</div>

		<div class="gp-nettools_ping">
			<span class="gp-nettools_ping_title">
				What is ping?
			</span>

			<span class="gp-nettools_ping_descr">
				Ping is a tool that sends ICMP packets to an IP address (hostname is also accepted but will be first resolved to an IP) to understand the latency to the target or if the target server or website exist and are working. Since website and server response times are very important, Ping is a very simple way to quickly and easily check and understand the network delay in milliseconds between the sender and receiver. It's basically how long it takes for  data to travel across the internet to the destination and then back to the sender.  A low latency is always better and will result in a faster website and fewer issues. Methods to improve the latency include moving the server closer to the users, using a CDN or for advanced users improving peering and BGP routing.
			</span>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Globalping - jsDelivr',
				description: 'TODO: add Globalping Network Tools description',
				selectedTestType: 'ping',
				testTypesList: [ 'ping', 'traceroute', 'DNS', 'MTR', 'HTTP' ],
			};
		},
	};
</script>
