<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-header additionalClasses="header-with-globalping-bg"></c-header>

	<div class="p-globalping">
		<div class="gp_navigation">
			<a href="/globalping" class="gp_navigation_item active">Globalping</a>
			<a href="/globalping-cli" class="gp_navigation_item">CLI</a>
			<a href="/globalping-slack" class="gp_navigation_item">Slack</a>
			<a href="/globalping-network-tools" class="gp_navigation_item">Network tools</a>
		</div>

		<div class="gp_jumbotron">
			<img class="gp_jumbotron_grid"
				width="1440"
				height="532"
				src="{{@shared.assetsHost}}/img/globalping/globalping-grid.svg">
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Globalping - jsDelivr',
				description: 'TODO: add Globalping description',
			};
		},
	};
</script>
