<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-header additionalClasses="header-with-globalping-bg"></c-header>

	<div class="p-globalping-cli">
		<div class="gp-cli_navigation">
			<a href="/globalping" class="gp-cli_navigation_item">Globalping</a>
			<a href="/globalping-cli" class="gp-cli_navigation_item active">CLI</a>
			<a href="/globalping-slack" class="gp-cli_navigation_item">Slack</a>
			<a href="/globalping-network-tools" class="gp-cli_navigation_item">Network tools</a>
		</div>

		<div class="gp-cli_jumbotron">
			<img class="gp-cli_jumbotron_grid"
				width="1440"
				height="532"
				src="{{@shared.assetsHost}}/img/globalping/gp-cli/gp-cli-grid.svg">
			<img class="gp-cli_jumbotron_blur"
				width="1440"
				height="442"
				src="{{@shared.assetsHost}}/img/globalping/globalping-blur.svg">
		</div>

		<div class="gp-cli_main-info">
			<h1 class="gp-cli_main-info_title">
				Run network commands on a <span class="gp-cli_green-text">global network of 500+ probes</span> to test, debug and benchmark your infrastructure, routing and web services.
			</h1>

			<span class="gp-cli_main-info_descr">
				All in your command line, simple to use and fully scriptable.
			</span>

			<button class="gp-cli_main-info_btn">
				<img width="20"
					height="20"
					src="{{@shared.assetsHost}}/img/globalping/github.small.svg">
				GitHub
			</button>
		</div>

		<div class="gp-cli_how-install">
			<span class="gp-cli_how-install_title">How to install</span>
			<span class="gp-cli_how-install_descr">Install the correct repo for your OS to make sure you get the latest updated we release.</span>

			<div class="gp-cli_how-install_list">
				<div class="gp-cli_how-install_list_item">
					<div class="gp-cli_how-install_list_item_header">
						<img width="auto"
							height="32"
							src="{{@shared.assetsHost}}/img/globalping/gp-cli/deb-icon.svg">

						<div class="gp-cli_how-install_list_item_header_text">
							<span>DEB</span>
							<span>Debian, UbuntuDEB, Ubuntu</span>
						</div>
					</div>

					<div class="gp-cli_how-install_list_item_body">
						<span>curl -s https://packagecloud.io/install/repositories/p1/globalping/script.rpm.sh | sudo bash</span>
						<br>
						<span>yum install globalping -y</span>
						<br>
						<span>globalping --help</span>
						<span class="gp-cli_how-install_list_item_body_btn">
							<img width="20"
								height="20"
								src="{{@shared.assetsHost}}/img/globalping/copy-icon.svg">
						</span>
					</div>
				</div>

				<div class="gp-cli_how-install_list_item">
					<div class="gp-cli_how-install_list_item_header">
						<img width="auto"
							height="32"
							src="{{@shared.assetsHost}}/img/globalping/gp-cli/rpm-icon.svg">

						<div class="gp-cli_how-install_list_item_header_text">
							<span>RPM</span>
							<span>CentOS, RHEL, Fedora</span>
						</div>
					</div>

					<div class="gp-cli_how-install_list_item_body">
						<span>curl -s https://packagecloud.io/install/repositories/p1/globalping/script.rpm.sh | sudo bash</span>
						<br>
						<span>yum install globalping -y</span>
						<br>
						<span>globalping --help</span>
						<span class="gp-cli_how-install_list_item_body_btn">
							<img width="20"
								height="20"
								src="{{@shared.assetsHost}}/img/globalping/copy-icon.svg">
						</span>
					</div>
				</div>

				<div class="gp-cli_how-install_list_item">
					<div class="gp-cli_how-install_list_item_header">
						<img width="auto"
							height="32"
							src="{{@shared.assetsHost}}/img/globalping/gp-cli/homebrew-icon.svg">

						<div class="gp-cli_how-install_list_item_header_text">
							<span>Homebrew</span>
							<span>MacOS</span>
						</div>
					</div>

					<div class="gp-cli_how-install_list_item_body">
						<span>curl -s https://packagecloud.io/install/repositories/p1/globalping/script.rpm.sh | sudo bash</span>
						<br>
						<span>yum install globalping -y</span>
						<br>
						<span>globalping --help</span>
						<span class="gp-cli_how-install_list_item_body_btn">
							<img width="20"
								height="20"
								src="{{@shared.assetsHost}}/img/globalping/copy-icon.svg">
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="gp-cli_quick-start">
			<div class="gp-cli_quick-start_header">
				<span>Globalping CLI - Quick Start</span>
				<span>
					The Globalping command line tool provides a simple and familiar interface that works on Linux, Mac and Windows
				</span>
			</div>

			<div class="gp-cli_quick-start_content">
				<div class="gp-cli_quick-start_content_header">
					<div class="gp-cli_quick-start_content_header_item">ping from Germany</div>
					<div class="gp-cli_quick-start_content_header_item">traceroute from USA</div>
					<div class="gp-cli_quick-start_content_header_item active">HTTP GET from AWS</div>
					<div class="gp-cli_quick-start_content_header_item">resolve from India</div>
					<div class="gp-cli_quick-start_content_header_item">MTR from World</div>
				</div>

				<div class="gp-cli_quick-start_content_body">
					<div class="gp-cli_quick-start_content_body_item">
						#globalping ping --from Germany jsdelivr.com --limit 2
						Berlin, DE, EU, AS2934
						PING google.com (172.217.16.14) 56(84) bytes of data.
						64 bytes from waw02s13-in-f14.1e100.net (172.217.16.14): icmp_seq=1 ttl=58 time=7.46 ms
						64 bytes from waw02s13-in-f14.1e100.net (172.217.16.14): icmp_seq=2 ttl=58 time=7.94 ms
						64 bytes from waw02s13-in-f14.1e100.net (172.217.16.14): icmp_seq=3 ttl=58 time=9.29 ms
						^C
						--- google.com ping statistics ---
						3 packets transmitted, 3 received, 0% packet loss, time 2001ms
						rtt min/avg/max/mdev = 7.463/8.231/9.291/0.777 ms

						Frankfurt, DE, EU, AS2934
						PING google.com (172.217.16.14) 56(84) bytes of data.
						64 bytes from waw02s13-in-f14.1e100.net (172.217.16.14): icmp_seq=1 ttl=58 time=7.46 ms
						64 bytes from waw02s13-in-f14.1e100.net (172.217.16.14): icmp_seq=2 ttl=58 time=7.94 ms
						64 bytes from waw02s13-in-f14.1e100.net (172.217.16.14): icmp_seq=3 ttl=58 time=9.29 ms
						^C
						--- google.com ping statistics ---
						3 packets transmitted, 3 received, 0% packet loss, time 2001ms
						rtt min/avg/max/mdev = 7.463/8.231/9.291/0.777 ms


						TAB name: traceroute from USA
						Output:

						#globalping traceroute --from usa jsdelivr.com --limit 2
						New York City, US, NA, AS3485
						traceroute to jsdelivr.com (185.93.2.243), 30 hops max, 60 byte packets
						1  gateway (10.12.138.72)  0.409 ms  0.383 ms  0.381 ms
						2  10.5.18.65 (10.5.18.65)  0.696 ms  0.699 ms  0.680 ms
						3  10.194.0.17 (10.194.0.17)  0.800 ms  0.897 ms  1.104 ms
						4  10.194.0.18 (10.194.0.18)  0.627 ms 10.194.0.22 (10.194.0.22)  0.791 ms 10.194.0.28 (10.194.0.28)  0.673 ms
						5  212.47.225.242 (212.47.225.242)  1.009 ms 212.47.225.228 (212.47.225.228)  0.979 ms 212.47.225.202 (212.47.225.202)  0.829 ms
						6  51.158.8.177 (51.158.8.177)  0.605 ms  0.870 ms  1.086 ms
						7  62.210.0.131 (62.210.0.131)  1.360 ms 62.210.0.159 (62.210.0.159)  1.251 ms 62.210.0.157 (62.210.0.157)  1.233 ms
						8  dedibox-par.cdn77.com (185.229.189.14)  1.170 ms  1.240 ms  0.897 ms
						9  unn-185-93-2-243.datapacket.com (185.93.2.243)  0.992 ms  1.002 ms  0.995 ms


						Dallas, US, NA, AS3485
						traceroute to jsdelivr.com (185.93.2.243), 30 hops max, 60 byte packets
						1  gateway (10.12.138.72)  0.409 ms  0.383 ms  0.381 ms
						2  10.5.18.65 (10.5.18.65)  0.696 ms  0.699 ms  0.680 ms
						3  10.194.0.17 (10.194.0.17)  0.800 ms  0.897 ms  1.104 ms
						4  10.194.0.18 (10.194.0.18)  0.627 ms 10.194.0.22 (10.194.0.22)  0.791 ms 10.194.0.28 (10.194.0.28)  0.673 ms
						5  212.47.225.242 (212.47.225.242)  1.009 ms 212.47.225.228 (212.47.225.228)  0.979 ms 212.47.225.202 (212.47.225.202)  0.829 ms
						6  51.158.8.177 (51.158.8.177)  0.605 ms  0.870 ms  1.086 ms
						7  62.210.0.131 (62.210.0.131)  1.360 ms 62.210.0.159 (62.210.0.159)  1.251 ms 62.210.0.157 (62.210.0.157)  1.233 ms
						8  dedibox-par.cdn77.com (185.229.189.14)  1.170 ms  1.240 ms  0.897 ms
						9  unn-185-93-2-243.datapacket.com (185.93.2.243)  0.992 ms  1.002 ms  0.995 ms</div>
					<div class="gp-cli_quick-start_content_body_item active"></div>
					<div class="gp-cli_quick-start_content_body_item">some other content 1</div>
					<div class="gp-cli_quick-start_content_body_item">some other content 2</div>
					<div class="gp-cli_quick-start_content_body_item">some other content 3</div>
				</div>
			</div>
		</div>

		<div class="gp-cli_command-line">
			<div class="gp-cli_command-line_header">
				Our command line tool supports a multitude of commands and functions.
			</div>

			<div class="gp-cli_command-line_body">
				<pre class="gp-cli_command-line_body_content">
~$ ping -h

Usage
&nbsp;&nbsp;ping [options] &lt;destination&gt;

Options:
&nbsp;&nbsp;&lt;destination&gt;   dns name or ip address
&nbsp;&nbsp;-a              use audible ping
&nbsp;&nbsp;-A              use adaptive ping
&nbsp;&nbsp;-B              sticky source address
&nbsp;&nbsp;-c &lt;count&gt;      stop after &lt;count&gt; replies
&nbsp;&nbsp;-D              print timestamps
&nbsp;&nbsp;-d              use SO_DEBUG socket option
&nbsp;&nbsp;-f              flood ping
&nbsp;&nbsp;-h              print help and exit
&nbsp;&nbsp;-I &lt;interface&gt;  either interface name or address
&nbsp;&nbsp;-i &lt;interval&gt;   seconds between sending each packet
&nbsp;&nbsp;-L              suppress loopback of multicast packets
&nbsp;&nbsp;-l &lt;preload&gt;    send &lt;preload&gt; number of packages while waiting replies
&nbsp;&nbsp;-m &lt;mark&gt;       tag the packets going out
&nbsp;&nbsp;-M &lt;pmtud opt&gt;  define mtu discovery, can be one of &lt;do|dont|want&gt;
&nbsp;&nbsp;-n              no dns name resolution
&nbsp;&nbsp;-O              report outstanding replies
&nbsp;&nbsp;-p &lt;pattern&gt;    contents of padding byte
&nbsp;&nbsp;-q              quiet output
&nbsp;&nbsp;-Q &lt;tclass&gt;     use quality of service &lt;tclass&gt; bits
&nbsp;&nbsp;-s &lt;size&gt;       use &lt;size&gt; as number of data bytes to be sent
&nbsp;&nbsp;-S &lt;size&gt;       use &lt;size&gt; as SO_SNDBUF socket option value
&nbsp;&nbsp;-t &lt;ttl&gt;        define time to live
&nbsp;&nbsp;-U              print user-to-user latency
&nbsp;&nbsp;-v              verbose output
				</pre>
			</div>

			<span class="gp-cli_command-line_btn">
				<img width="20"
					height="20"
					src="{{@shared.assetsHost}}/img/globalping/github.small.svg">

				Learn more on GitHub
			</span>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Globalping - jsDelivr',
				description: 'TODO: add Globalping CLI description',
			};
		},
	};
</script>
