<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/controlled-input.html" name="c-controlled-input">
<link rel="ractive" href="../components/gp-test-results.html" name="c-gp-test-results">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-header additionalClasses="header-with-globalping-bg"></c-header>

	<div class="p-globalping">
		<div class="gp_navigation gp_navigation_dark-bg">
			<a href="/globalping" class="gp_navigation_item active">Globalping</a>
			<a href="/globalping-cli" class="gp_navigation_item">CLI</a>
			<a href="/globalping-slack" class="gp_navigation_item">Slack</a>
			<a href="/globalping-network-tools" class="gp_navigation_item">Network tools</a>
		</div>

		<div class="gp_jumbotron">
			<img class="gp_jumbotron_grid"
				width="1440"
				height="532"
				src="{{@shared.assetsHost}}/img/globalping/globalping-grid.svg">

			<div class="gp_jumbotron_blur">
				<div class="gp_jumbotron_blur_circle-one"></div>
				<div class="gp_jumbotron_blur_circle-two"></div>
			</div>
		</div>

		<div class="gp_main-info">
			<div class="gp_main-info_descr">
				<span class="gp_main-info_descr_green">Monitor, debug and benchmark</span> your internet infrastructure from a globally distributed
				network of probes.
			</div>

			<div class="gp_main-info_stats">
				<div class="gp_main-info_stats_item">
					<span class="gp_main-info_stats_item_number">
						{{ Math.floor(totalProbes) }}
						<span></span>
					</span>
					<span class="gp_main-info_stats_item_text">connected probes</span>
				</div>

				<div class="gp_main-info_stats_item">
					<span class="gp_main-info_stats_item_number">
						{{ Math.floor(totalCities) }}
						<span></span>
					</span>
					<span class="gp_main-info_stats_item_text">different cities</span>
				</div>

				<div class="gp_main-info_stats_item">
					<span class="gp_main-info_stats_item_number">
						{{ Math.floor(totalCountries) }}
						<span></span>
					</span>
					<span class="gp_main-info_stats_item_text">different countries</span>
				</div>
			</div>
		</div>

		<div class="gp_map-block">
			<div class="gp_map-block_header">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div class="gp_map-block_map"></div>

			<div class="gp_map-block_demo-tools">
				<div class="gp_map-block_demo-tools_settings">
					<div class="gp_dropdown_reg">
						<span>Test type</span>

						<div class="btn-group">
							<button type="button"
								class="dropdown-toggle"
								data-toggle="dropdown"
								aria-haspopup="true"
								aria-expanded="false">
								<span>{{~/mainOptions.type}}</span>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</button>

							<div class="dropdown-menu">
								{{#each ~/testTypesList}}
									<div on-click="@this.set('mainOptions.type', this)">{{this}}</div>
								{{/each}}
							</div>
						</div>
					</div>

					<c-controlled-input
						value="{{mainOptions.target}}"
						error="{{inputErrors.target}}"
						placeholder="e.g. IP or domain"
						labelText="Target"
						classList="gp_map-block_demo-tools_settings_target gp_input">
					</c-controlled-input>

					<c-controlled-input
						value="{{mainOptions.location}}"
						error="{{inputErrors.location}}"
						placeholder="Enter location"
						labelText="Location"
						classList="gp_map-block_demo-tools_settings_location gp_input">
						{{#partial labelIcon}}
							<img width="14"
								height="14"
								src="{{@shared.assetsHost}}/img/globalping/help-icon.svg">
						{{/partial}}
					</c-controlled-input>

					<div class="gp_map-block_demo-tools_settings_grouped">
						<c-controlled-input
							value="{{mainOptions.limit}}"
							error="{{inputErrors.limit}}"
							placeholder="0"
							labelText="Limit"
							classList="gp_map-block_demo-tools_settings_limit gp_input">
						</c-controlled-input>

						<div class="gp_map-block_demo-tools_settings_grouped_options-block">
							<button class="{{#if showMeasurementOpts}}active{{/if}}"
								on-click="@this.toggle('showMeasurementOpts')">
								<img width="20"
									height="20"
									src="{{@shared.assetsHost}}/img/globalping/settings-icon.svg">
							</button>

							<div class="gp_map-block_demo-tools_settings_grouped_options-block_specific-set">
								{{#if mainOptions.type === 'ping'}}
									<div class="typePing">
										<c-controlled-input
											value="{{pingOpts.packets}}"
											error="{{inputErrors['measurementOptions.packets']}}"
											placeholder="Amount of packets"
											labelText="Packets"
											classList="gp_input">
										</c-controlled-input>
									</div>
								{{/if}}

								{{#if mainOptions.type === 'traceroute'}}
									<div class="typeTraceroute">
										<div class="pair">
											<c-controlled-input
												value="{{tracerouteOpts.port}}"
												error="{{inputErrors['measurementOptions.port']}}"
												placeholder="53"
												labelText="Port"
												classList="port-input gp_input">
											</c-controlled-input>

											<div class="gp_dropdown_reg">
												<span>Protocol</span>

												<div class="btn-group">
													<button type="button"
														class="dropdown-toggle"
														data-toggle="dropdown"
														aria-haspopup="true"
														aria-expanded="false">
														<span>{{~/tracerouteOpts.protocol}}</span>
														<i class="fa fa-angle-down" aria-hidden="true"></i>
													</button>

													<div class="dropdown-menu">
														<div on-click="@this.set('tracerouteOpts.protocol', 'TCP')">TCP</div>
														<div on-click="@this.set('tracerouteOpts.protocol', 'UDP')">UDP</div>
														<div on-click="@this.set('tracerouteOpts.protocol', 'ICMP')">ICMP</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								{{/if}}

								{{#if mainOptions.type === 'DNS'}}
									<div class="typeDNS">
										<div class="rows">
											<div class="rows_row-one">
												<c-controlled-input
													value="{{dnsOpts.port}}"
													error="{{inputErrors['measurementOptions.port']}}"
													placeholder="53"
													labelText="Port"
													classList="port-input gp_input">
												</c-controlled-input>

												<div class="gp_dropdown_reg">
													<span>Protocol</span>

													<div class="btn-group">
														<button type="button"
															class="dropdown-toggle"
															data-toggle="dropdown"
															aria-haspopup="true"
															aria-expanded="false">
															<span>{{~/dnsOpts.protocol}}</span>
															<i class="fa fa-angle-down" aria-hidden="true"></i>
														</button>

														<div class="dropdown-menu">
															<div on-click="@this.set('dnsOpts.protocol', 'UDP')">UDP</div>
															<div on-click="@this.set('dnsOpts.protocol', 'TCP')">TCP</div>
														</div>
													</div>
												</div>
											</div>

											<div class="rows_row-two">
												<div class="gp_dropdown_reg">
													<span>Type</span>

													<div class="btn-group">
														<button type="button"
															class="dropdown-toggle"
															data-toggle="dropdown"
															aria-haspopup="true"
															aria-expanded="false">
															<span>{{~/dnsOpts.query.type}}</span>
															<i class="fa fa-angle-down" aria-hidden="true"></i>
														</button>

														<div class="dropdown-menu">
															{{#each ~/dnsTypesList}}
																<div on-click="@this.set('dnsOpts.query.type', this)">{{this}}</div>
															{{/each}}
														</div>
													</div>
												</div>

												<div class="rows_row-two_switch-block">
													<label class="gp_switch">
														<input type="checkbox" on-click="@this.set('dnsOpts.trace', !dnsOpts.trace)" checked="{{dnsOpts.trace}}">
														<span class="slider round"></span>
													</label>

													<span>Trace</span>
												</div>
											</div>
										</div>

										<c-controlled-input
											value="{{dnsOpts.resolver}}"
											error="{{inputErrors['measurementOptions.resolver']}}"
											placeholder="IP address"
											labelText="Resolver"
											classList="resolver-input gp_input">
										</c-controlled-input>
									</div>
								{{/if}}

								{{#if mainOptions.type === 'MTR'}}
									<div class="typeMTR">
										<div class="pair">
											<c-controlled-input
												value="{{mtrOpts.port}}"
												error="{{inputErrors['measurementOptions.port']}}"
												placeholder="53"
												labelText="Port"
												classList="port-input gp_input">
											</c-controlled-input>

											<div class="gp_dropdown_reg">
												<span>Protocol</span>

												<div class="btn-group">
													<button type="button"
														class="dropdown-toggle"
														data-toggle="dropdown"
														aria-haspopup="true"
														aria-expanded="false">
														<span>{{~/mtrOpts.protocol}}</span>
														<i class="fa fa-angle-down" aria-hidden="true"></i>
													</button>

													<div class="dropdown-menu">
														<div on-click="@this.set('mtrOpts.protocol', 'UDP')">UDP</div>
														<div on-click="@this.set('mtrOpts.protocol', 'TCP')">TCP</div>
														<div on-click="@this.set('mtrOpts.protocol', 'ICMP')">ICMP</div>
													</div>
												</div>
											</div>
										</div>

										<c-controlled-input
											value="{{mtrOpts.packets}}"
											error="{{inputErrors['measurementOptions.packets']}}"
											placeholder="Amount of packets"
											labelText="Packets"
											classList="gp_input">
										</c-controlled-input>
									</div>
								{{/if}}

								{{#if mainOptions.type === 'HTTP'}}
									<div class="typeHTTP">
										<c-controlled-input
											value="{{httpOpts.request.host}}"
											error="{{inputErrors['measurementOptions.request.host']}}"
											placeholder="Host"
											labelText="Host"
											classList="gp_input">
										</c-controlled-input>

										<c-controlled-input
											value="{{httpOpts.request.path}}"
											error="{{inputErrors['measurementOptions.request.path']}}"
											placeholder="Path"
											labelText="Path"
											classList="gp_input">
										</c-controlled-input>

										<c-controlled-input
											value="{{httpOpts.request.query}}"
											error="{{inputErrors['measurementOptions.request.query']}}"
											placeholder="Query"
											labelText="Query"
											classList="gp_input">
										</c-controlled-input>

										<div class="pair">
											<c-controlled-input
												value="{{httpOpts.port}}"
												error="{{inputErrors.port}}"
												placeholder="53"
												labelText="Port"
												classList="port-input gp_input">
											</c-controlled-input>

											<div class="gp_dropdown_reg">
												<span>Protocol</span>

												<div class="btn-group">
													<button type="button"
														class="dropdown-toggle"
														data-toggle="dropdown"
														aria-haspopup="true"
														aria-expanded="false">
														<span>{{~/httpOpts.protocol}}</span>
														<i class="fa fa-angle-down" aria-hidden="true"></i>
													</button>

													<div class="dropdown-menu">
														<div on-click="@this.set('httpOpts.protocol', 'HTTP')">HTTP</div>
														<div on-click="@this.set('httpOpts.protocol', 'HTTPS')">HTTPS</div>
														<div on-click="@this.set('httpOpts.protocol', 'HTTP2')">HTTP2</div>
													</div>
												</div>
											</div>
										</div>

										<div class="gp_dropdown_reg">
											<span>Method</span>

											<div class="btn-group">
												<button type="button"
													class="dropdown-toggle"
													data-toggle="dropdown"
													aria-haspopup="true"
													aria-expanded="false">
													<span>{{~/httpOpts.request.method}}</span>
													<i class="fa fa-angle-down" aria-hidden="true"></i>
												</button>

												<div class="dropdown-menu">
													<div on-click="@this.set('httpOpts.request.method', 'GET')">GET</div>
													<div on-click="@this.set('httpOpts.request.method', 'HEAD')">HEAD</div>
												</div>
											</div>
										</div>

										<c-controlled-input
											value="{{httpOpts.resolver}}"
											error="{{inputErrors['measurementOptions.resolver']}}"
											placeholder="Resolver"
											labelText="Resolver"
											classList="gp_input">
										</c-controlled-input>
									</div>
								{{/if}}

								<button class="gp_btn_green" on-click="@this.toggle('showMeasurementOpts')">
									Apply
								</button>
							</div>
						</div>

						<div class="gp_map-block_demo-tools_settings_grouped_switch-block">
							<label class="gp_switch">
								<input type="checkbox" on-click="@this.set('mapSwitch', !mapSwitch)" checked>
								<span class="slider round"></span>
							</label>

							<span>Map</span>
						</div>
					</div>

					<button on-click="@this.proceedToTest()"
						class="gp_map-block_demo-tools_settings_btn gp_btn_green {{#if testInProgress}}gp_btn_green_disabled gp_btn_green_loading{{/if}}">
						{{#if testInProgress}}
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						{{else}}
							Run test
						{{/if}}
					</button>
				</div>

				{{#if testFailed}}
					<div class="gp_map-block_demo-tools_fail-msg">
						<img width="56"
							height="56"
							src="{{@shared.assetsHost}}/img/globalping/fail-icon-big.svg">

						<p>
							All tests failed. Maybe you specified a non existing endpoint?
						</p>
					</div>
				{{elseif testResultsOutput && testResultsOutput.length}}
					<c-gp-test-results resultsList="{{testResultsOutput}}" resultsLink="{{testResultsLink}}"></c-gp-test-results>
				{{else}}
					<div class="gp_map-block_demo-tools_info">
						<img width="56"
							height="56"
							src="{{@shared.assetsHost}}/img/globalping/TODO-broken-bulb.svg">

						<p>
							This tool is only a small example of the cool things you can build using the Globalping platform.
							Feel free to use it to test your systems, compare providers and debug your network.
						</p>
					</div>
				{{/if}}
			</div>
		</div>

		<div class="gp_features">
			<div class="gp_features_item">
				<span class="gp_features_item_icon">
					<img width="48"
						height="48"
						src="{{@shared.assetsHost}}/img/globalping/globalping-opensource-icon.svg">
				</span>
				<span class="gp_features_item_name">
					Fully open source and free
				</span>
				<span class="gp_features_item_descr">
					Every component of Globalping is open source and is being actively developed on GitHub with the help of our community and users.
				</span>
			</div>

			<div class="gp_features_item">
				<span class="gp_features_item_icon">
					<img width="48"
						height="48"
						src="{{@shared.assetsHost}}/img/globalping/globalping-nonprofit-icon.svg">
					</span>
				<span class="gp_features_item_name">
					Non-profit and developed by jsDelivr
				</span>
				<span class="gp_features_item_descr">
					The Globalping platform is developed by the jsDelivr team who has more than 10 years of experience maintaining the jsDelivr CDN which is being used by millions of website around the globe.
				</span>
			</div>

			<div class="gp_features_item">
				<span class="gp_features_item_icon">
					<img width="48"
						height="48"
						src="{{@shared.assetsHost}}/img/globalping/globalping-community-icon.svg">
					</span>
				<span class="gp_features_item_name">
					Powered by community and sponsors
				</span>
				<span class="gp_features_item_descr">
					The jsDelivr organization and all projects including Globalping rely on our corporate and GitHub sponsors. Consider joining them to help us release new features even faster!
				</span>
			</div>

			<div class="gp_features_item">
				<span class="gp_features_item_icon">
					<img width="48"
						height="48"
						src="{{@shared.assetsHost}}/img/globalping/globalping-security-icon.svg">
				</span>
				<span class="gp_features_item_name">
					Secure and private
				</span>
				<span class="gp_features_item_descr">
					The security of our systems and privacy of our users are of the utmost importance for us. We minimize the public information that our probes expose and block harmful and abusive domains and IPs.
				</span>
			</div>
		</div>

		<div class="gp_installation">
			<div class="gp_installation_item">
				<img width="61"
					height="53"
					src="{{@shared.assetsHost}}/img/globalping/cli-icon.svg">

				<span class="gp_installation_item_title">
					Install the Globalping CLI
				</span>

				<span class="gp_installation_item_descr">
					The jsDelivr organization and all projects including Globalping rely on our corporate and GitHub sponsors.
				</span>
			</div>

			<div class="gp_installation_item">
				<img width="61"
					height="53"
					src="{{@shared.assetsHost}}/img/globalping/rest-api-icon.svg">

				<span class="gp_installation_item_title">
					Integrate the Globalping REST API
				</span>

				<span class="gp_installation_item_descr">
					Use our free API to build your own tools, automated your tests and integrate Globalping into your existing flow
				</span>
			</div>

			<div class="gp_installation_item">
				<img width="61"
					height="53"
					src="{{@shared.assetsHost}}/img/globalping/slack-icon.svg">

				<span class="gp_installation_item_title">
					Install the Globalping Slack App
				</span>

				<span class="gp_installation_item_descr">
					Install the app into your Slack organization to allow all of your members to run global tests in any channel
				</span>
			</div>
		</div>

		<div class="gp_join-network">
			<span class="gp_join-network_title">Join the network</span>
			<span class="gp_join-network_subtitle">
				To join the Globalping probe network all you have to do is run our container.
			</span>

			<div class="gp_join-network_docker">
				<span class="gp_join-network_docker_command">
					{{netDockerCmdText}}
				</span>

				<button class="gp_join-network_docker_btn gp_btn_green" as-clipboard data-clipboard-text="{{netDockerCmdText}}">
					<img width="20"
						height="20"
						src="{{@shared.assetsHost}}/img/globalping/copy-icon.svg">
				</button>
			</div>

			<span class="gp_join-network_descr">
				Once you connect you will become part of the global community that powers the Globalping Platform.
				The container will work on both x86 and ARM architectures.
			</span>

			<button class="gp_join-network_btn gp_btn_green">Learn more</button>
		</div>

		<div class="gp_join-community">
			<div class="gp_join-community_content">
				<span class="gp_join-community_content_title">
					We invite everyone to join our community and help us develop our projects.
				</span>

				<ul class="gp_join-community_content_list">
					<li>We promise a friendly discussion in our issues and code reviews</li>
					<li>We appreciate your work and will review your PRs in a timely manner</li>
					<li>We are open to new ideas and technologies</li>
					<li>You don't have to be a developer to help</li>
					<li>Copyrighters, community moderators, dev relations, media relations... are all equally important</li>
				</ul>
			</div>
		</div>

		<div class="gp_gh-links">
			<div class="gp_gh-links_header">
				<span class="gp_gh-links_header_title">Become an open source contributor!</span>

				<img width="64"
					height="64"
					src="{{@shared.assetsHost}}/img/globalping/github.svg">
			</div>

			<div class="gp_gh-links_content">
				<div class="gp_gh-links_content_item">
					<span class="gp_gh-links_content_item_title">
						Globalping API
					</span>

					<span class="gp_gh-links_content_item_descr">
						Learn more about the project, the API, tools and become a contributor
					</span>
				</div>

				<div class="gp_gh-links_content_item">
					<span class="gp_gh-links_content_item_title">
						Globalping CLI
					</span>

					<span class="gp_gh-links_content_item_descr">
						Our simple to use CLI is also open source and awaits for your feedback.
					</span>
				</div>

				<div class="gp_gh-links_content_item">
					<span class="gp_gh-links_content_item_title">
						Globalping Probe
					</span>

					<span class="gp_gh-links_content_item_descr">
						Explore the codebase of our software probes and firmware for hardware probes as well
					</span>
				</div>
			</div>
		</div>

		<div class="gp_probe">
			<div class="gp_probe_promo">
				<img width="198"
					height="198"
					src="{{@shared.assetsHost}}/img/globalping/probe.svg">

				<div class="gp_probe_promo_content">
					<span class="gp_probe_promo_content_title">
						Get a hardware probe
					</span>

					<span class="gp_probe_promo_content_descr">
						Become a GitHub sponsor for $20/month or more and get your own hardware probe to install in your home or office network.
					</span>

					<button class="gp_probe_promo_content_btn gp_btn_green">
						<img width="20"
							height="20"
							src="{{@shared.assetsHost}}/img/globalping/github.small.svg">

						Become a GitHub Sponsor
					</button>
				</div>
			</div>

			<div class="gp_probe_get-probe">
				<div class="gp_probe_get-probe_header">
					How to get a probe?
				</div>

				<div class="gp_probe_get-probe_content">
					<!-- TODO: finish progress bar  -->
					<div class="gp_probe_get-probe_content_progress">
						<img width="24"
							height="24"
							src="{{@shared.assetsHost}}/img/globalping/circle-icon.svg">
						<span class="gp_probe_get-probe_content_progress_line"></span>
						<img width="24"
							height="24"
							src="{{@shared.assetsHost}}/img/globalping/circle-icon.svg">
						<span class="gp_probe_get-probe_content_progress_line"></span>
						<img width="24"
							height="24"
							src="{{@shared.assetsHost}}/img/globalping/circle-icon.svg">
					</div>

					<div class="gp_probe_get-probe_content_list">
						<div class="gp_probe_get-probe_content_list_item">
							<span>Become a sponsor</span>
							<span>Become a GitHub Sponsor for $20+/month.</span>
						</div>
						<div class="gp_probe_get-probe_content_list_item">
							<span>Fill the form</span>
							<span>Fill out this form with your details.</span>
						</div>
						<div class="gp_probe_get-probe_content_list_item">
							<span>Probe arrives</span>
							<span>Wait for the probe to arrive.</span>
						</div>
					</div>
				</div>
			</div>

			<div class="gp_probe_how-it-works">
				<div class="gp_probe_how-it-works_header">How it works?</div>
				<div class="gp_probe_how-it-works_text">
					<span>
						Installing our hardware probe simplifies the whole process and <b>removes the need of having a computer running 24/7.</b>
						Just connect the probe to your switch or router via an ethernet cable and you are done!
					</span>
					<span>
						Our hardware probes are fully secure. <b>They don't allow any kind of access to your LAN</b>, they block all malicious and abusive endpoints,
						don't open any ports whatsoever and the firmware itself is fully open source.
					</span>
				</div>

				<div class="gp_probe_how-it-works_btns">
					<button class="gp_probe_how-it-works_btns_learn-more gp_btn_black">
						Learn more
					</button>

					<button class="gp_probe_how-it-works_btns_sponsor gp_btn_green">
						<img width="20"
							height="20"
							src="{{@shared.assetsHost}}/img/globalping/github.small.svg">

						Become a GitHub Sponsor
					</button>
				</div>
			</div>
		</div>

		<div class="gp_sponsors">
			<span class="gp_sponsors_title">Globalping sponsors</span>

			<span class="gp_sponsors_descr">
				We thank everyone who decided to help our project by either running multiple globally distributed probes or donating to our cause.
			</span>

			<!-- TODO: some svgs looks blury -->
			<div class="gp_sponsors_list">
				<div class="gp_sponsors_list_tier-one">
					<div class="gp_sponsors_list_tier-one_row">
						<img width="187"
							height="34"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/gcore-logo.svg">
						<img width="102"
							height="29"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/xtom-logo.svg">
					</div>

					<div class="gp_sponsors_list_tier-one_row">
						<img width="88"
							height="32"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/edis-logo.svg">
						<img width="173"
							height="26"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/datapacket-logo.svg">
					</div>

					<div class="gp_sponsors_list_tier-one_row">
						<img width="152"
							height="35"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/looking-house-logo.svg">
					</div>
				</div>

				<div class="gp_sponsors_list_tier-two">
					<div class="gp_sponsors_list_tier-two_row">
						<img width="44"
							height="25"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/github-logo.svg">
						<img width="75"
							height="9"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/trence-logo.svg">
						<img width="45"
							height="16"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/sucuri-logo.svg">
					</div>

					<div class="gp_sponsors_list_tier-two_row">
						<img width="100"
							height="8"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/kowalski-logo.svg">
						<img width="57"
							height="19"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/dell-logo.svg">
						<img width="110"
							height="8"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/magdalene-logo.svg">
					</div>

					<div class="gp_sponsors_list_tier-two_row">
						<img width="65"
							height="20"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/cloudflare-logo.svg">
						<img width="88"
							height="8"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/selwyn-logo.svg">
						<img width="35"
							height="15"
							src="{{@shared.assetsHost}}/img/globalping/sponsors/intel-logo.svg">
					</div>
				</div>
			</div>

			<button class="gp_sponsors_btn gp_btn_green gp_btn_green">
				Get in Contact
			</button>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>// TODO: fix incorrect behavior of the measurement options - values should be applied only after the button apply is pressed
	const _ = require('../../assets/js/_.js');
	const clipboard = require('../../assets/js/decorators/clipboard');
	const http = require('../../assets/js/utils/http');
	const DEFAULT_PING_OPTS = {};
	const DEFAULT_TRACEROUTE_OPTS = {
		protocol: 'ICMP',
	};
	const DEFAULT_DNS_OPTS = {
		protocol: 'UDP',
		query: {
			type: 'A',
		},
		trace: true,
	};
	const DEFAULT_MTR_OPTS = {
		protocol: 'ICMP',
	};
	const DEFAULT_HTTP_OPTS = {
		protocol: 'HTTP',
		request: {
			method: 'GET',
		},
	};

	component.exports = {
		decorators: {
			clipboard,
		},
		data () {
			return {
				_,
				title: 'Globalping - jsDelivr',
				description: 'TODO: add Globalping description',
				testTypesList: [ 'ping', 'traceroute', 'DNS', 'MTR', 'HTTP' ],
				mainOptions: {
					type: 'ping',
					target: '',
					location: '',
					limit: '',
				},
				mapSwitch: true,
				showMeasurementOpts: false,
				dnsTypesList: [ 'A', 'AAAA', 'ANY', 'CNAME', 'DNSKEY', 'DS', 'MX', 'NS', 'NSEC', 'PTR', 'RRSIG', 'SOA', 'TXT', 'SRV' ],
				netDockerCmdText: 'docker run -d --network host --restart=always --name globalping-probe ghcr.io/jsdelivr/globalping-probe',
				totalProbes: 0,
				totalCities: 0,
				totalCountries: 0,
				pingOpts: DEFAULT_PING_OPTS,
				tracerouteOpts: DEFAULT_TRACEROUTE_OPTS,
				dnsOpts: DEFAULT_DNS_OPTS,
				mtrOpts: DEFAULT_MTR_OPTS,
				httpOpts: DEFAULT_HTTP_OPTS,
				inputErrors: {},
				testFailed: false,
				testInProgress: false,
				testReqInterval: null,
				testResultsOutput: null,
				testResultsLink: null,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				http.fetchGlobalpingProbes().then((response) => {
					let { totalCities, totalCountries } = response.reduce((res, item) => {
						if (!res.citiesList.includes(item.location.city)) {
							res.citiesList.push(item.location.city);
						}

						if (!res.countriesList.includes(item.location.country)) {
							res.countriesList.push(item.location.country);
						}

						res.totalCities = res.citiesList.length;
						res.totalCountries = res.countriesList.length;

						return res;
					}, { citiesList: [], countriesList: [], totalCities: 0, totalCountries: 0 });

					this.animate('totalProbes', response.length, { duration: 2000 });
					this.animate('totalCities', totalCities, { duration: 2000 });
					this.animate('totalCountries', totalCountries, { duration: 2000 });
				});

				this.observe('mainOptions.type', () => {
					this.set('showMeasurementOpts', false);
					this.set('inputErrors', {});
					this.set('pingOpts', DEFAULT_PING_OPTS);
					this.set('tracerouteOpts', DEFAULT_TRACEROUTE_OPTS);
					this.set('dnsOpts', DEFAULT_DNS_OPTS);
				}, { init: false });

				this.observe('testResults', (testResults) => {
					let rawOutputs = testResults.results.map((res) => {
						return res.result.rawOutput;
					});

					this.set('testResultsOutput', rawOutputs);
					this.set('testResultsLink', `http://www.jsdelivr.com/dns-speed-benchmark?id=${testResults.id}`); // TODO: is this a correct link?
				}, { init: false });
			}
		},
		proceedToTest () {
			let { type, target, location, limit } = this.get('mainOptions');
			let measurementOpts = this.get(`${type.toLowerCase()}Opts`);

			this.set('testResultsOutput', null);
			this.set('testResultsLink', null);

			let reqParams = {
				type,
				target,
				measurementOptions: {
					...measurementOpts,
				},
			};

			if (!location) {
				reqParams.limit = limit;
			} else {
				reqParams.locations = [{ ...location, limit }];
			}

			this.set('testInProgress', true);

			// get test interval and clear it when new test is started
			let testReqInterval = this.get('testReqInterval');

			if (testReqInterval) {
				clearInterval(testReqInterval);
			}

			http.postGlobalpingMeasurement(reqParams).then((response) => {
				this.set('testInProgress', false);

				testReqInterval = setInterval(() => {
					http.getGlobalpingMeasurement(response.id).then((testRes) => {
						if (testRes.status !== 'in-progress') {
							clearInterval(testReqInterval);

							this.set('testResults', testRes);
						}
					}).catch(() => {
						clearInterval(testReqInterval);
					});
				}, 1000);

				this.set('testReqInterval', testReqInterval);
			}).catch((err) => {
				if (err.error.type === 'validation_error') {
					this.set('testInProgress', false);
					this.set('inputErrors', err.error.params);
				}
			});
		},
	};
</script>
