<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-header additionalClasses="header-with-globalping-bg"></c-header>

	<div class="p-globalping-cli">
		<div class="gp_navigation">
			<a href="/globalping" class="gp_navigation_item">Globalping</a>
			<a href="/globalping-cli" class="gp_navigation_item active">CLI</a>
			<a href="/globalping-slack" class="gp_navigation_item">Slack</a>
			<a href="/globalping-network-tools" class="gp_navigation_item">Network tools</a>
		</div>

		<div class="gp-cli_jumbotron">
			<img class="gp-cli_jumbotron_grid"
				width="1440"
				height="532"
				src="{{@shared.assetsHost}}/img/globalping/gp-cli/gp-cli-grid.svg">

			<div class="gp-cli_jumbotron_blur">
				<div class="gp-cli_jumbotron_blur_circle-one"></div>
				<div class="gp-cli_jumbotron_blur_circle-two"></div>
			</div>
		</div>

		<div class="gp-cli_main-info">
			<h1 class="gp-cli_main-info_title">
				Run network commands on a <span class="gp-cli_green-text">global network of 500+ probes</span> to test, debug and benchmark your infrastructure, routing and web services.
			</h1>

			<span class="gp-cli_main-info_descr">
				All in your command line, simple to use and fully scriptable.
			</span>

			<button class="gp-cli_main-info_btn gp_btn_black">
				<img width="20"
					height="20"
					src="{{@shared.assetsHost}}/img/globalping/github.small.svg">
				GitHub
			</button>
		</div>

		<div class="gp-cli_how-install">
			<span class="gp-cli_how-install_title">How to install</span>
			<span class="gp-cli_how-install_descr">Install the correct repo for your OS to make sure you get the latest updated we release.</span>

			<div class="gp-cli_how-install_list">
				<div class="gp-cli_how-install_list_desktop-header">
					{{#each osDataList}}
						<div on-click="@this.set('selectedOsTab', this.name)"
							class="gp-cli_how-install_list_desktop-header_item">
							<img width="auto"
								height="32"
								src="{{@shared.assetsHost}}/img/globalping/gp-cli/deb-icon.svg">

							<div class="gp-cli_how-install_list_desktop-header_item_text">
								<span>{{this.name}}</span>
								<span>{{this.descr}}</span>
							</div>

							{{#if selectedOsTab === this.name}}
								<div class="active-tab-line"></div>
							{{/if}}
						</div>
					{{/each}}
				</div>

				{{#each osDataList}}
					<div class="gp-cli_how-install_list_item {{#if selectedOsTab === this.name}}active{{/if}}">
						<div class="gp-cli_how-install_list_item_header">
							<img width="auto"
								height="32"
								src="{{@shared.assetsHost}}/img/globalping/gp-cli/deb-icon.svg">

							<div class="gp-cli_how-install_list_item_header_text">
								<span>{{this.name}}</span>
								<span>{{this.descr}}</span>
							</div>
						</div>

						<div class="gp-cli_how-install_list_item_body">
							<span>{{this.cmd1}}</span>
							<br>
							<span>{{this.cmd2}}</span>
							<br>
							<span>{{this.cmd3}}</span>
							<button class="gp-cli_how-install_list_item_body_btn gp_btn_green"
								as-clipboard data-clipboard-text="{{this.cmd1 + '\n' + this.cmd2 + '\n' + this.cmd3}}">
								<img width="20"
									height="20"
									src="{{@shared.assetsHost}}/img/globalping/copy-icon.svg">
							</button>
						</div>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="gp-cli_quick-start">
			<div class="gp-cli_quick-start_header">
				<span>Globalping CLI - Quick Start</span>
				<span>
					The Globalping command line tool provides a simple and familiar interface that works on Linux, Mac and Windows
				</span>
			</div>

			<div class="gp-cli_quick-start_content">
				<div class="gp-cli_quick-start_content_header">
					{{#each quickStartData}}
						<div class="gp-cli_quick-start_content_header_item {{#if qsTabName === this.name}}active{{/if}}"
							on-click="@this.set('qsTabName', this.name)">
							{{ this.title }}
						</div>
					{{/each}}
				</div>

				<div class="gp-cli_quick-start_content_body">
					{{#each testResults}}
						<pre>{{this}}</pre>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="gp-cli_command-line">
			<div class="gp-cli_command-line_header">
				Our command line tool supports a multitude of commands and functions.
			</div>

			<div class="gp-cli_command-line_body">
				<pre class="gp-cli_command-line_body_content">
~$ ping -h

Usage
&nbsp;&nbsp;ping [options] &lt;destination&gt;

Options:
&nbsp;&nbsp;&lt;destination&gt;   dns name or ip address
&nbsp;&nbsp;-a              use audible ping
&nbsp;&nbsp;-A              use adaptive ping
&nbsp;&nbsp;-B              sticky source address
&nbsp;&nbsp;-c &lt;count&gt;      stop after &lt;count&gt; replies
&nbsp;&nbsp;-D              print timestamps
&nbsp;&nbsp;-d              use SO_DEBUG socket option
&nbsp;&nbsp;-f              flood ping
&nbsp;&nbsp;-h              print help and exit
&nbsp;&nbsp;-I &lt;interface&gt;  either interface name or address
&nbsp;&nbsp;-i &lt;interval&gt;   seconds between sending each packet
&nbsp;&nbsp;-L              suppress loopback of multicast packets
&nbsp;&nbsp;-l &lt;preload&gt;    send &lt;preload&gt; number of packages while waiting replies
&nbsp;&nbsp;-m &lt;mark&gt;       tag the packets going out
&nbsp;&nbsp;-M &lt;pmtud opt&gt;  define mtu discovery, can be one of &lt;do|dont|want&gt;
&nbsp;&nbsp;-n              no dns name resolution
&nbsp;&nbsp;-O              report outstanding replies
&nbsp;&nbsp;-p &lt;pattern&gt;    contents of padding byte
&nbsp;&nbsp;-q              quiet output
&nbsp;&nbsp;-Q &lt;tclass&gt;     use quality of service &lt;tclass&gt; bits
&nbsp;&nbsp;-s &lt;size&gt;       use &lt;size&gt; as number of data bytes to be sent
&nbsp;&nbsp;-S &lt;size&gt;       use &lt;size&gt; as SO_SNDBUF socket option value
&nbsp;&nbsp;-t &lt;ttl&gt;        define time to live
&nbsp;&nbsp;-U              print user-to-user latency
&nbsp;&nbsp;-v              verbose output
				</pre>
			</div>

			<button class="gp-cli_command-line_btn gp_btn_green">
				<img width="20"
					height="20"
					src="{{@shared.assetsHost}}/img/globalping/github.small.svg">

				Learn more on GitHub
			</button>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	const http = require('../../assets/js/utils/http');
	const clipboard = require('../../assets/js/decorators/clipboard');
	const DEB_DATA = {
		name: 'DEB',
		descr: 'Debian, UbuntuDEB, Ubuntu',
		cmd1: 'curl -s https://packagecloud.io/install/repositories/jsdelivr/globalping/script.deb.sh | sudo bash',
		cmd2: 'apt install globalping',
		cmd3: 'globalping --help',
	};
	const RPM_DATA = {
		name: 'RPM',
		descr: 'CentOS, RHEL, Fedora',
		cmd1: 'curl -s https://packagecloud.io/install/repositories/jsdelivr/globalping/script.rpm.sh | sudo bash',
		cmd2: 'dnf install globalping',
		cmd3: 'globalping --help',
	};
	const HOMEBREW_DATA = {
		name: 'Homebrew',
		descr: 'MacOS',
		cmd1: 'brew tap jsdelivr/globalping',
		cmd2: 'brew install globalping',
		cmd3: 'globalping --help',
	};
	const QUICK_START_DATA = {
		ping: {
			name: 'ping',
			title: 'ping from Germany',
			reqParams: {
				type: 'ping',
				target: 'jsdelivr.com',
				measurementOptions: {},
				locations: [
					{
						country: 'GE',
						limit: 1,
					},
				],
			},
		},
		traceroute: {
			name: 'traceroute',
			title: 'traceroute from USA',
			reqParams: {
				type: 'traceroute',
				target: 'jsdelivr.com',
				measurementOptions: {
					protocol: 'ICMP',
				},
				locations: [{
					country: 'us',
					limit: 1,
				}],
			},
		},
		http: {
			name: 'http',
			title: 'HTTP GET from AWS',
			reqParams: {
				type: 'http',
				target: 'jsdelivr.com',
				measurementOptions: {
					protocol: 'HTTP',
					request: {
						method: 'GET',
					},
				},
				locations: [{
					magic: 'aws',
					limit: 1,
				}],
			},
		},
		dns: {
			name: 'dns',
			title: 'resolve from India',
			reqParams: {
				type: 'dns',
				target: 'jsdelivr.com',
				measurementOptions: {
					protocol: 'UDP',
				},
				locations: [{
					country: 'IN',
					limit: 1,
				}],
			},
		},
		mtr: {
			name: 'mtr',
			title: 'MTR from World',
			reqParams: {
				type: 'mtr',
				target: 'jsdelivr.com',
				measurementOptions: {
					protocol: 'ITCP',
				},
				locations: [{
					magic: 'world',
					limit: 1,
				}],
			},
		},
	};

	component.exports = {
		decorators: {
			clipboard,
		},
		data () {
			return {
				title: 'Globalping - jsDelivr',
				description: 'TODO: add Globalping CLI description',
				qsTabName: QUICK_START_DATA.http.name,
				osDataList: [ DEB_DATA, RPM_DATA, HOMEBREW_DATA ],
				selectedOsTab: DEB_DATA.name,
				testResults: null,
				quickStartData: QUICK_START_DATA,
				testReqInterval: null,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('qsTabName', (qsTabName) => {
					this.set('testResults', null);

					let testReqInterval = this.get('testReqInterval');

					if (testReqInterval) {
						clearInterval(testReqInterval);
					}

					let quickStartData = this.get('quickStartData');
					let reqParams = quickStartData[qsTabName].reqParams;

					http.postGlobalpingMeasurement(reqParams).then((response) => {
						testReqInterval = setInterval(() => {
							http.getGlobalpingMeasurement(response.id).then((measRes) => {
								if (measRes.status !== 'in-progress') {
									clearInterval(testReqInterval);

									let rawOutputs = measRes.results.map((res) => {
										return res.result.rawOutput;
									});

									// TODO: HTTP from AWS: request past and status is finished, all data is present, except that is no value for rawOutput
									this.set('testResults', rawOutputs);
								}
							}).catch(() => {
								clearInterval(testReqInterval);
							});
						}, 1000);

						this.set('testReqInterval', testReqInterval);
					}).catch((err) => {
						this.set('testResults', [ err.error.message ]);
					});
				});
			}
		},
	};
</script>
