<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/package-sidemenu.html" name="c-package-sidemenu">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}" noFooter="true">
	<c-notification></c-notification>

	<div class="p-gsap">
		<div class="header">
			<a class="main-logo" href="/">
				<img width="140" height="34" src="{{@shared.assetsHost}}/img/jsdelivr-horizontal-full-white.svg">
			</a>
			<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/docs/v3/Installation#CDN" class="header-btn">
				<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/greensock.svg">
				Greensock CDN
			</a>
			<a href="/" class="header-link">jsdelivr</a>
			<a target="_blank" rel="noopener noreferrer" href="https://greensock.com" class="header-link">GreenSock.com</a>
			<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/docs/v3/GSAP" class="header-link">GSAP Docs</a>
			<a target="_blank" rel="noopener noreferrer" href="https://github.com/greensock" class="header-link">Github Project</a>
		</div>

		<div class="jumbotron-wrapper">
			<div class="jumbotron">
				<h1 class="title">GSAP</h1>
				
				<div class="description">
					<p>Boost your animation superpowers with 
						<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/docs/v3/GSAP" class="links">GSAP</a> 
						(GreenSock Animation Platform) - The industry standard for JavaScript animation.
					</p>

					<p>Use the core library to animate anything with ease: HTML DOM, SVG, canvas, WebGL, React, Vue. Leverage any of the 20+ 
						<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/gsap-plugins" class="links">Plugins</a> 
						like 
						<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/scrolltrigger" class="links">ScrollTrigger</a> 
						for even more control.
					</p>

					<p>GSAP has zero dependencies and works in every major browser; we obsess over performance and compatibility so you can focus on the fun stuff.</p>
					<p>Visit our 
						<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/docs" class="links">docs</a> 
						and 
						<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/forums" class="links">forums</a> 
						to learn more.
					</p>
				</div>

				<img width="279" height="484px" src="{{@shared.assetsHost}}/img/gsap/boxes.svg" class="boxes">
			</div>
		</div>

		<div class="content-wrapper">
			<div class="main-content">
				<div class="title">Quick Start with GSAP CDN</div>
				<div class="description">Get your production ready CDN links below. If you want your versions to be auto-upgraded then use
					the dropdown below to select the method. "Minor" is recommended.
				</div>

				<div class="files-table-wrapper">
					<div class="ctrls">
						<div class="ctrl">
							<span>Version:</span>

							<div class="btn-group">
								<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span>{{versionsList[versionIdx]}}</span>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</button>

								<ul class="dropdown-menu">
									{{#each versionsList:idx}}
										<li><a on-click="@this.set('versionIdx', idx)">{{this}}</a></li>
									{{/each}}
								</ul>
							</div>
						</div>

						<div class="ctrl">
							<span>Aliasing:</span>

							<div class="btn-group">
								<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span>{{aliasingList[aliasingIdx]}}</span>
									<i class="fa fa-angle-down" aria-hidden="true"></i>
								</button>

								<ul class="dropdown-menu">
									{{#each aliasingList:idx}}
										<li><a on-click="@this.set('aliasingIdx', idx)">{{this}}</a></li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>

					<div class="divider"></div>

					<div class="files-table">
						<div class="files-item">
							<div class="title">GSAP (core)</div>
							<div class="block-core">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/CSSRulePlugin.min.js</span>

								<div class="data-type-ctrl">
									<input id="type-switch"
										type="checkbox"
										class="data-type-switch {{#if showESMFiles}}checked{{/if}}"
										twoway="false">

									<label for="type-switch" on-click="@this.set('showESMFiles', !showESMFiles)">
										<span>UMD</span>
										<span>ESM</span>
									</label>
								</div>

								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/CSSRulePlugin.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">CSSRulePlugin</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/CSSRulePlugin.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/CSSRulePlugin.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">Draggable</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/Draggable.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/Draggable.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">EasePack</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/EasePack.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/EasePack.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">EaselPlugin</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/EaselPlugin.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/EaselPlugin.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">MotionPathPlugin</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/MotionPathPlugin.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/MotionPathPlugin.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">PixiPlugin</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/PixiPlugin.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/PixiPlugin.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">ScrollToPlugin</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">ScrollTrigger</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>

						<div class="files-item">
							<div class="title">TextPlugin</div>
							<div class="block">
								<span>https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/TextPlugin.min.js</span>
								<a as-clipboard="'Copy URL to clipboard', 'right'"
									data-clipboard-text="https://cdn.jsdelivr.net/ajax/libs/gsap/3.8.0/TextPlugin.min.js">
									<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn-black.svg">
								</a>
							</div>
						</div>
					</div>

					<div class="plugins">
						<p class="plugins-descr">
							Other plugins like 
							<span class="plugin-badge">CustomBounce</span>, 
							<span class="plugin-badge">CustomWiggle</span>, 
							<span class="plugin-badge">DrawSVGPlugin</span>, 
							<span class="plugin-badge">GSDevTools</span>, 
							<span class="plugin-badge">InertiaPlugin</span>, 
							<span class="plugin-badge">MorphSVGPlugin</span>, 
							<span class="plugin-badge">MotionPathHelper</span>,
							<span class="plugin-badge">Physics2DPlugin</span>,
							<span class="plugin-badge">PhysicsPropsPlugin</span>,
							<span class="plugin-badge">ScrambleTextPlugin</span>,
							<span class="plugin-badge">ScrambleTextPlugin</span>
							and more are membership benefits of 
							<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/club" class="plugin-link">Club GreenSock</a>.
						</p>

						<p class="plugins-descr">
							To get trial versions that only work on CodePen.io, CodeSandbox.io, and locally, see 
							<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/try-plugins" class="plugin-link">https://greensock.com/try-plugins</a>.
							To get the unrestricted files, sign up at 
							<a target="_blank" rel="noopener noreferrer" href="https://greensock.com/club" class="plugin-link">https://greensock.com/club</a>
						</p>

						<p class="plugins-descr">
							The <span class="plugin-badge">CustomEase</span> plugin can be downloaded from GreenSock.com by anyone with 
							plugin can be downloaded from <a target="_blank" rel="noopener noreferrer" href="https://greensock.com" class="plugin-link">GreenSock.com</a> 
							by anyone with a FREE GreenSock account.
						</p>
					</div>
				</div>
			</div>
	
			<div class="side-content">
				<c-package-sidemenu
					name="gsap"
					type="npm"
					package="{{package}}">
				</c-package-sidemenu>
			</div>
		</div>

		<div class="footer-wrapper">
			<div class="footer">
				<img class="footer-logo" width="140" height="34" src="{{@shared.assetsHost}}/img/jsdelivr-horizontal-regular.svg">
				<div class="powered">
					<span>Powered by <a href="/" class="footer-link">jsDelivr</a></span>
					<span>
						and sponsored by 
						<a target="_blank" rel="noopener noreferrer" href="https://www.cloudflare.com" class="footer-link">Cloudflare</a>, 
						<a target="_blank" rel="noopener noreferrer" href="https://appfleet.com" class="footer-link">appfleet</a>, 
						<a target="_blank" rel="noopener noreferrer" href="https://www.fastly.com" class="footer-link">Fastly</a>, 
						<a target="_blank" rel="noopener noreferrer" href="https://ns1.com" class="footer-link">NS1</a>
						 & 
						<a target="_blank" rel="noopener noreferrer" href="https://bunny.net" class="footer-link">bunny.net</a>
					</span>
				</div>

				<div class="nav">
					<a href="/about" class="footer-link">About</a>
					<a href="/terms" class="footer-link">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
</r-page>

<script>
	const clipboard = require('../../public/js/decorators/clipboard');

	component.exports = {
		data () {
			return {
				showESMFiles: false,
				versionsList: [
					'3.8.0',
				],
				aliasingList: [
					'Minor'
				],
				versionIdx: 0,
				aliasingIdx: 0,
			};
		},
		decorators: {
			clipboard,
		},
	};
</script>
