<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/package-sidemenu.html" name="c-package-sidemenu">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<div class="p-gsap">
		<div class="header">
			<img width="140" height="34" src="{{@shared.assetsHost}}/img/jsdelivr-horizontal-full-white.svg">
			<a class="header-btn">
				<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/greensock.svg">
				Greensock CDN
			</a>
			<a class="header-link">jsdelivr</a>
			<a class="header-link">GreenSock.com</a>
			<a class="header-link">GSAP Docs</a>
			<a class="header-link">Github Project</a>
		</div>

		<div class="jumbotron-wrapper">
			<div class="jumbotron">
				<h1 class="title">GSAP</h1>
				
				<div class="description">
					<div>Boost your animation superpowers with <a class="links">GSAP</a> (GreenSock Animation Platform) - The industry standard for JavaScript animation.</div>
					<div>Use the core library to animate anything with ease: HTML DOM, SVG, canvas, WebGL, React, Vue. Leverage any of the 20+ <a class="links">Plugins</a> like <a class="links">ScrollTrigger</a> for even more control.</div>
					<div>GSAP has zero dependencies and works in every major browser; we obsess over performance and compatibility so you can focus on the fun stuff.</div>
					<div>Visit our <a class="links">docs</a> and <a class="links">forums</a> to learn more.</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="main-content">
				<h1>Quick Start with GSAP CDN</h1>
				<div>Get your production ready CDN links below. If you want your versions to be auto-upgraded then use the dropdown below to select the method. "Minor" is recommended. </div>
			</div>
	
			<div class="side-content">
				<c-package-sidemenu
					name="gsap"
					type="npm"
					package="{{package}}">
				</c-package-sidemenu>
			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {};
		},
	};
</script>
