<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/header-gradient.html" name="c-header-gradient">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>
	<c-header-gradient showMap="{{true}}"></c-header-gradient>

	<div class="p-history">
		<div class="container">
			<h1 class="page-title">
				<span>jsDelivr over the years </span>
				<span>Our History</span>
			</h1>

			<div class="page-content">
				{{#each eventsData}}
					<section>
						<div class="year">{{year}}</div>

						{{#each events}}
							<div class="event-block">
								<div class="event-data-left">
									{{#if leftData}}
										{{#if leftData.text}}
											<span>{{{leftData.text}}}</span>
										{{/if}}

										{{#if leftData.type}}
											<img class="event-type-icon"
												width="80"
												height="80"
												src="{{@shared.assetsHost}}/img/history/{{leftData.type}}.svg" />
										{{/if}}
									{{/if}}

									{{#if rightData.img && rightData.img.ext === ".svg"}}
										<img 
											class="{{leftData.img.class}}"
											width="{{rightData.img.width}}"
											height="{{rightData.img.height}}"
											src="{{@shared.assetsHost}}/img/history/{{rightData.img.name}}{{rightData.img.ext}}" />
									{{elseif rightData.img && rightData.img.ext === ".png"}}
										<img 
											class="{{leftData.img.class}}"
											width="{{rightData.img.width}}"
											height="{{rightData.img.height}}"
											src="{{@shared.assetsHost}}/img/history/{{rightData.img.name}}{{rightData.img.ext}}"
											srcset="{{@shared.assetsHost}}/img/history/{{rightData.img.name}}{{rightData.img.ext}} 2x" />
									{{/if}}
								</div>

								<div class="event-month">
									<div class="binding"></div>
									<div class="month">{{month}}</div>
									<div class="binding"></div>
								</div>

								<div class="event-data-right">
									{{#if leftData.img && leftData.img.ext === ".svg"}}
										<img
											class="{{leftData.img.class}}"
											width="{{leftData.img.width}}"
											height="{{leftData.img.height}}"
											src="{{@shared.assetsHost}}/img/history/{{leftData.img.name}}{{leftData.img.ext}}" />
									{{elseif leftData.img && leftData.img.ext === ".png"}}
										<img 
											class="{{leftData.img.class}}"
											width="{{leftData.img.width}}"
											height="{{leftData.img.height}}"
											src="{{@shared.assetsHost}}/img/history/{{leftData.img.name}}{{leftData.img.ext}}"
											srcset="{{@shared.assetsHost}}/img/history/{{leftData.img.name}}{{leftData.img.ext}} 2x" />
									{{/if}}

									{{#if rightData}}
										{{#if rightData.type}}
											<img class="event-type-icon"
												width="80"
												height="80"
												src="{{@shared.assetsHost}}/img/history/{{rightData.type}}.svg" />
										{{/if}}

										{{#if rightData.text}}
											<span>{{{rightData.text}}}</span>
										{{/if}}
									{{/if}}
								</div>
							</div>
						{{/each}}
					</section>
				{{/each}}
			</div>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Our history - jsDelivr',
				description: 'History and milestones - jsDelivr',
				eventsData: [
					{
						year: '2021',
						events: [
							{
								month: 'October',
								rightData: {
									text: 'On-the-fly SVG optimization goes live',
									type: 'updates',
								},
							},
							{
								month: 'September',
								leftData: {
									text: 'Served 130B requests, 6 PB of bandwidth per month',
									type: 'numbers',
								},
							},
							{
								month: 'May',
								rightData: {
									text: 'RawGit CDN becomes part of jsDelivr',
									type: 'deals',
									img: {
										name: 'rawgit',
										width: '50',
										height: '50',
										ext: '.png',
									},
								},
							},
							{
								month: 'February',
								leftData: {
									text: 'BunnyCDN joins as a sponsor',
									type: 'deals',
									img: {
										name: 'bunny',
										width: '148',
										height: '43',
										ext: '.svg',
									},
								},
							},
						],
					},
					{
						year: '2020',
						events: [
							{
								month: 'October',
								rightData: {
									text: '<a href="/esm">esm.run</a> launches to make jsDelivr a first choice CDN for ES modules',
									type: 'updates',
								},
							},
							{
								month: 'October',
								leftData: {
									text: '<a href="/blog/jsdelivr-welcomes-bootstrapcdn/" class="router-ignore">BootstrapCDN</a> becomes part of jsDelivr',
									type: 'deals',
									img: {
										name: 'bootstrap',
										width: '274',
										height: '50',
										ext: '.png',
									},
								},
							},
							{
								month: 'October',
								rightData: {
									text: 'Pyodide becomes powered by jsDelivr, speeding up WASM delivery',
									type: 'deals',
									img: {
										name: 'pyodide',
										width: '175',
										height: '44',
										ext: '.png',
									},
								},
							},
							{
								month: 'May',
								leftData: {
									text: 'CocoaPods becomes powered by jsDelivr, speeding up the installation of packages',
									type: 'deals',
									img: {
										name: 'cocoapods',
										width: '223',
										height: '40',
										ext: '.png',
									},
								},
							},
						],
					},
					{
						year: '2019',
						events: [
							{
								month: 'October',
								rightData: {
									text: 'Served 60B requests, reaching the 2B / day average',
									type: 'numbers',
								},
							},
							{
								month: 'May',
								leftData: {
									text: 'The jsDelivr team builds PerfOps, a commercial service to improve multi-CDN routing',
									type: 'deals',
									img: {
										name: 'perfops',
										width: '157',
										height: '48',
										ext: '.svg',
									},
								},
							},
						],
					},
					{
						year: '2018',
						events: [
							{
								month: 'October',
								rightData: {
									text: 'Plugins for Atom, IntelliJ, and Visual Studio released',
									type: 'updates',
								},
							},
							{
								month: 'September',
								leftData: {
									text: 'Served 30 billion requests per month, reaching a daily average of 1B for the first time',
									type: 'numbers',
								},
							},
						],
					},
					{
						year: '2017',
						events: [
							{
								month: 'August',
								rightData: {
									text: 'Website rebuilt to support the new automated system that works with NPM and GitHub directly.',
									type: 'updates',
								},
							},
							{
								month: 'July',
								leftData: {
									text: 'Data API launches, providing detailed download statistics',
									type: 'updates',
								},
							},
							{
								month: 'May',
								rightData: {
									text: 'Fully automated npm and GitHub proxies launch',
									type: 'updates',
								},
							},
							{
								month: 'April',
								leftData: {
									text: 'Fastly joins as a sponsor',
									type: 'deals',
									img: {
										name: 'fastly',
										width: '116',
										height: '50',
										ext: '.png',
									},
								},
							},
						],
					},
					{
						year: '2016',
						events: [
							{
								month: 'April',
								rightData: {
									text: 'OSSCDN becomes part of jsDelivr',
									type: 'updates',
								},
							},
						],
					},
					{
						year: '2015',
						events: [
							{
								month: 'November',
								leftData: {
									text: 'Served 7 billion requests, 132 TB per month',
									type: 'numbers',
								},
							},
							{
								month: 'September',
								rightData: {
									text: 'Quantil joins as a sponsor, adds locations in mainland China',
									type: 'deals',
									img: {
										name: 'quantil',
										width: '131',
										height: '50',
										ext: '.png',
									},
								},
							},
							{
								month: 'September',
								leftData: {
									text: 'Complete redesign of the website',
									type: 'updates',
								},
							},
						],
					},
					{
						year: '2014',
						events: [
							{
								month: 'December',
								rightData: {
									text: 'NS1 joins as a sponsor',
									type: 'deals',
									img: {
										name: 'ns1',
										width: '94',
										height: '50',
										ext: '.png',
									},
								},
							},
							{
								month: 'December',
								leftData: {
									text: 'WordPress plugins proxy launches',
									type: 'updates',
								},
							},
							{
								month: 'November',
								rightData: {
									text: 'Purge API launches',
									type: 'updates',
								},
							},
							{
								month: 'July',
								leftData: {
									text: 'Serving multiple files in one response possible thanks to /g/',
									type: 'updates',
								},
							},
							{
								month: 'June',
								rightData: {
									text: 'Automated project updates via libgrabber',
									type: 'updates',
								},
							},
							{
								month: 'April',
								leftData: {
									text: 'jsDelivr becomes the fastest open-source CDN according to CDNPerf',
									type: 'updates',
								},
							},
							{
								month: 'March',
								rightData: {
									text: 'Cloudflare joins as a sponsor',
									type: 'deals',
									img: {
										name: 'cloudflare',
										width: '149',
										height: '50',
										ext: '.png',
									},
								},
							},
						],
					},
					{
						year: '2013',
						events: [
							{
								month: 'December',
								leftData: {
									text: 'Public data API launches',
									type: 'updates',
								},
							},
							{
								month: 'June',
								rightData: {
									text: 'Cedexis joins as a sponsor, allows multi-CDN routing based on RUM',
									type: 'deals',
									img: {
										name: 'cedexis',
										width: '152',
										height: '50',
										ext: '.png',
									},
								},
							},
							{
								month: 'May',
								leftData: {
									text: 'CDN.NET joins as a sponsor',
									type: 'deals',
									img: {
										name: 'cdnnet',
										width: '138',
										height: '40',
										ext: '.png',
									},
								},
							},
						],
					},
					{
						year: '2012',
						events: [
							{
								month: 'June',
								rightData: {
									text: 'MaxCDN joins as a sponsor',
									type: 'deals',
									img: {
										name: 'maxcdn',
										width: '219',
										height: '50',
										ext: '.svg',
									},
								},
							},
							{
								month: 'May',
								leftData: {
									text: 'Dmitriy Akulov founds jsDelivr',
									type: 'deals',
									img: {
										name: 'akulov',
										width: '80',
										height: '80',
										ext: '.png',
										class: 'img-rounded',
									},
								},
							},
						],
					},
				],
			};
		},
	};
</script>
