<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/header-gradient.html" name="c-header-gradient">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>
	<c-header-gradient showMap="{{true}}"></c-header-gradient>

	<div class="p-history text-page">
		<div class="container">
			<h1 class="page-title">
				<span>jsDelivr over the years </span>
				<span>Our History</span>
			</h1>

			<div class="page-content">
				<div class="year">2021</div>

				<div class="event-block">
					<div class="event-data-left">Rawgit switches to jsDelivr</div>

					<div class="event-month">
						<div class="binding"></div>
						<div class="month">May</div>
						<div class="binding"></div>
					</div>

					<div class="event-data-right">rawgit img</div>
				</div>

				<div class="event-block">
					<div class="event-data-left">bootstrap img</div>

					<div class="event-month">
						<div class="binding"></div>
						<div class="month">July</div>
						<div class="binding"></div>
					</div>
					
					<div class="event-data-right">BootstrapCDN joined</div>
				</div>

				<div class="event-block">
					<div class="event-data-left">131 billion monthly requests</div>

					<div class="event-month">
						<div class="binding"></div>
						<div class="month">December</div>
						<div class="binding"></div>
					</div>
					
					<div class="event-data-right"></div>
				</div>

				<div class="year">2020</div>

			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Our history - jsDelivr',
				description: 'History and milestones - jsDelivr',
			};
		},
	};
</script>
