<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/privacy-policy-prefetch.html" name="c-privacy-policy-prefetch">
<link rel="ractive" href="../components/infographic-icon.html" name="c-infographic-icon">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<style>
		{{#each providers}}
		.{{this}}.switch-inline + label:before {
			background-color: {{getColor(this)}};
		}

		.{{this}}.switch-inline:checked + label {
			background-color: {{getColor(this)}};
			border-color: {{getColor(this)}};
		}

		.{{this}}.switch-inline:checked + label:before {
			background-color: #fff;
		}
		{{/each}}
	</style>

	<c-privacy-policy-prefetch></c-privacy-policy-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-network text-page">
		<div class="container">
			<h1 class="page-title">Our network</h1>

			<section id="map">
				<div class="network-controls">
					{{#each providers}}
					<input type="checkbox" class="switch-inline {{this}}" data-color="{{getColor(this)}}" id="provider-{{this}}" checked="{{enabled[@key]}}" twoway="false">
					<label class="network-control" for="provider-{{this}}" on-click="@this.toggleMap(@key)"></label>{{this}}
					{{/each}}
				</div>

				<div class="network-map"></div>
			</section>

			<section>
				<p>
					Unlike the competition, jsDelivr uses a unique Multi-CDN infrastructure built on top of CDN networks provided by StackPath, Cloudflare, Fastly, and Quantil.
					Additionally, we use custom servers in locations where CDNs have little or no presence.
				</p>

				<p>
					Our smart load balancing system ensures the best possible uptime and the best possible performance.
					Each time a user downloads a file from jsDelivr, our algorithm figures out the optimal provider
					for that particular user and that particular time based on the performance and availability data for the last few minutes.
					All that happens within a few milliseconds.
				</p>

				<p>
					This algorithm also immediately responds to performance degradation. For example, if a CDN provider gets DDoSed in Europe
					and their response times increase, jsDelivr will notice the change and simply stop using this provider in Europe
					but still consider it for users in other locations.
				</p>

				<!--<p>
					Jealous? We can build a similar system for you. We offer CDN and web peformance consultation services.
				</p>-->
			</section>

			<section id="failover">
				<h3>Failover on every layer</h3>

				<c-infographic-icon></c-infographic-icon>

				<p>
					We use two independent DNS providers. For jsDelivr to go down, both of these companies would have to go down at the same time.
					Both of our DNS providers monitor our load-balanced endpoint and if they detect problems they automatically switch all traffic to a single CDN provider.
				</p>

				<p>
					Our load-balancer monitors the uptime of all CDN providers using both RUM and synthetic data.
					If any of those detect downtime or performance degradation, the affected CDN provider is removed immediately.
				</p>

				<p>
					Our origin servers are located in several data-centers in different states.
					If a server goes down, the CDNs automatically switch to the remaining healthy servers.
				</p>

				<p>
					In total, we have one of the most resilient systems out there, ready to be used in production by even the largest websites.
				</p>
			</section>

			<section id="china">
				<h3>Big network in China</h3>
				<div class="china-bg">
					<img src="/img/network/china-bg.jpg" >
					<p>
						jsDelivr is the only public CDN with a valid ICP license issued by the Chinese government,
						and hundreds of locations directly in Mainland China.
					</p>
				</div>
			</section>
		</div>
	</div>
</r-page>

<script>
	const styles = require('../../public/js/map/styles.json');
	const locations = require('../../public/js/map/map.json').sort((a, b) => a.title > b.title ? -1 : a.title < b.title);
	const providers = require('../../public/js/map/providers');
	const getIcon = require('../../public/js/map/get-icon');
	const getColor = require('../../public/js/map/get-color');
	const getProvider = require('../../public/js/map/get-provider');
	let infoWindows = [];
	let markers = [];
	let map;

	component.exports = {
		computed: {
			locations () {
				return locations.filter((location) => {
					return providers.some((provider, index) => {
						return getProvider(location.title) === provider && this.get('enabled')[index];
					});
				});
			},
		},
		data () {
			return {
				getColor,
				providers,
				enabled: { 0: true, 1: true, 2: true, 3: true, 4: true },
				title: 'Our network - jsDelivr',
				description: 'jsDelivr uses StackPath, Cloudflare, Fastly, and Quantil, as well as custom servers in locations where CDNs have little or no presence.',
			};
		},
		initMap () {
			infoWindows.splice(0);
			markers.splice(0);

			let CENTER = { lat: 30, lng: 18 };
			map = new google.maps.Map(this.find('.network-map'), {
				styles,
				zoom: 2,
				minZoom: 2,
				center: CENTER,
				mapTypeId: 'roadmap',
				draggableCursor: 'default',
			});

			this.observe('enabled', () => {
				this.updateMarkers();
			});
		},
		onrender () {
			if (app.loaded) {
				this.initMap();
			}
		},
		updateMarkers () {
			let locations = this.get('locations');
			let added = [], removed = [];

			// Compute added and removed markers.
			// Don't do anything with markers that haven't changed (re-rendering everything is too slow).
			locations.forEach((location, index) => {
				if (!infoWindows.some(iw => location.title === iw.content)) {
					added.push(index);
				}
			});

			infoWindows.forEach((iw, index) => {
				if (!locations.some(location => location.title === iw.content)) {
					removed.push(index);
				}
			});

			// Remove old markers.
			removed.forEach((index) => {
				infoWindows[index].close();
				markers[index].setMap(null);
				infoWindows[index] = null;
				markers[index] = null;
			});

			infoWindows = infoWindows.filter(v => v);
			markers = markers.filter(v => v);

			// Add new markers.
			added.forEach((index) => {
				let location = locations[index];
				let infoWindow = new google.maps.InfoWindow({
					content: location.title,
				});

				let marker = new google.maps.Marker({
					map,
					icon: getIcon(location.title),
					position: new google.maps.LatLng(location.latitude, location.longitude),
					title: location.title,
					optimized: false,
					zIndex: providers.indexOf(getProvider(location.title)),
				});

				google.maps.event.addListener(marker, 'click', () => {
					infoWindows.forEach(iw => iw.close());
					infoWindow.open(map, marker);
				});

				google.maps.event.addListener(map, 'click', () => {
					infoWindow.close();
				});

				infoWindows.push(infoWindow);
				markers.push(marker);
			});
		},
		toggleMap (key) {
			this.toggle(Ractive.joinKeys('enabled', key));
			return false;
		},
	};
</script>
