<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/markdown.html" name="c-markdown">
<link rel="ractive" href="../components/privacy-policy-prefetch.html" name="c-privacy-policy-prefetch">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-privacy-policy-prefetch></c-privacy-policy-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-privacy-policy-jsdelivr-com text-page">
		<div class="container">
			<c-markdown text="{{@shared.ppComText}}"></c-markdown>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Privacy Policy - jsdelivr.com',
			};
		},
	};
</script>
