<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/markdown.html" name="c-markdown">
<link rel="ractive" href="../components/github-md-documents-prefetch.html" name="c-github-md-documents-prefetch">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-github-md-documents-prefetch></c-github-md-documents-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-privacy-policy text-page">
		<div class="container">
			<h1 class="page-title">Privacy Policy</h1>

			Select one of our services:
			<ul>
				<li><a href="/privacy-policy-jsdelivr-com">Website - jsdelivr.com</a></li>
				<li><a href="/privacy-policy-jsdelivr-net">CDN - cdn.jsdelivr.net</a></li>
			</ul>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Privacy Policy - jsDelivr',
			};
		},
	};
</script>
