<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/markdown.html" name="c-markdown">
<link rel="ractive" href="../components/privacy-policy-prefetch.html" name="c-privacy-policy-prefetch">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-privacy-policy-prefetch></c-privacy-policy-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-privacy-policy-jsdelivr-net text-page">
		<div class="container">
			<div class="row">
				{{#partial nav}}
				<ul class="nav nav-pills nav-stacked page-nav">
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/features">Features</a>
					</li>
					<li>
						<a href="/network">Our network</a>
					</li>
					<li>
						<a href="/network/infographic" target="_blank" class="router-ignore">Our network infographic</a>
					</li>
					<li>
						<a href="/privacy-policy-jsdelivr-com">Privacy policy - website</a>
					</li>
					<li class="active">
						<a href="/privacy-policy-jsdelivr-net">Privacy policy - CDN</a>
					</li>
				</ul>
				{{/partial}}

				<div class="col-md-3 hidden-lg hidden-md">
					{{>nav}}
				</div>

				<div class="col-md-9">
					<c-markdown text="{{@shared.ppNetText}}"></c-markdown>
				</div>

				<div class="col-md-3 hidden-sm hidden-xs">
					{{>nav}}
				</div>
			</div>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Privacy Policy - jsdelivr.net',
			};
		},
	};
</script>
