<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-sponsors text-page">
		<div class="container">
			<div class="row">
				{{#partial nav}}
				<ul class="nav nav-pills nav-stacked page-nav">
					<li role="presentation" class="active">
						<a>Our sponsors</a>
					</li>
					<li>
						<a href="/become-a-sponsor">Become our sponsor</a>
					</li>
				</ul>
				{{/partial}}

				<div class="col-md-3 hidden-lg hidden-md">
					{{>nav}}
				</div>

				<div class="col-md-9 ">
					<h1 class="page-title">Our Sponsors</h1>
					<h3 class="sp-category-title platinum" id="platinum">PLATINUM</h3>
				</div>

				<div class="col-md-3 hidden-sm hidden-xs">
					{{>nav}}
				</div>
			</div>

			<div class="sp-platinum">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/appfleet.png" srcset="{{@shared.assetsHost}}/img/sponsors/appfleet@2x.png 2x">

							<div class="sp-text">
								Global edge hosting made easy with appfleet. Deploy and host multi-region docker containers with smart failover, high availability and global traffic routing.
							</div>

							<a target="_blank" href="https://appfleet.com" class="sp-link">
								<i class="fa fa-globe" aria-hidden="true"></i> Go to website
							</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/cloudflare.png" srcset="{{@shared.assetsHost}}/img/sponsors/cloudflare@2x.png 2x">

							<div class="sp-text">
								Main backend CDN for jsDelivr offering unlimited bandwidth and locations.
								"Offers free and commercial, cloud-based services to help secure and accelerate
								websites."
							</div>

							<a target="_blank" href="https://www.cloudflare.com" class="sp-link">
								<i class="fa fa-globe" aria-hidden="true"></i> Go to website
							</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/fastly.png" srcset="{{@shared.assetsHost}}/img/sponsors/fastly@2x.png 2x">

							<div class="sp-text">
								Main backend CDN for jsDelivr offering unlimited bandwidth and locations.
								"Fastly's edge cloud platform powers fast, secure, and scalable digital experiences."
							</div>

							<a target="_blank" href="https://www.fastly.com" class="sp-link">
								<i class="fa fa-globe" aria-hidden="true"></i> Go to website
							</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/ns1.png" srcset="{{@shared.assetsHost}}/img/sponsors/ns1@2x.png 2x">

							<div class="sp-text">
								Our DNS hosting provider offering unlimited DNS queries and an additional
								layer of failover.
								"Industry leading DNS traffic management - managed DNS, private DNS networks, and
								powerful turnkey traffic routing setups."
							</div>

							<a target="_blank" href="https://ns1.com" class="sp-link">
								<i class="fa fa-globe" aria-hidden="true"></i> Go to website
							</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/bunnynet.png" srcset="{{@shared.assetsHost}}/img/sponsors/bunnynet@2x.png 2x">

							<div class="sp-text">
								Main backend CDN for jsDelivr offering unlimited bandwidth and locations.
								"Go faster than the fastest with our next-generation CDN, edge storage, and optimization service. "
							</div>

							<a target="_blank" href="https://bunny.net/" class="sp-link">
								<i class="fa fa-globe" aria-hidden="true"></i> Go to website
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="box box-featured">
						<img src="{{@shared.assetsHost}}/img/sponsors/heart.png" srcset="{{@shared.assetsHost}}/img/sponsors/heart@2x.png 2x">
						<span class="box-headline"> Want to become a sponsor? </span>
						<a class="box-action" target="_blank" href="/become-a-sponsor">Click here for more details</a>
					</div>
				</div>
			</div>

			<h3 class="sp-category-title" id="gold">GOLD</h3>

			<div class="sp-gold">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/quantil.png" srcset="{{@shared.assetsHost}}/img/sponsors/quantil@2x.png 2x">

							<div class="sp-text">
								Global acceleration of Mobile, Website, Download and Video content for both the middle-
								and last-mile.
							</div>

							<a target="_blank" href="https://quantil.com" class="sp-link"><i class="fa fa-globe" aria-hidden="true"></i> Go to website</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/algolia.png" srcset="{{@shared.assetsHost}}/img/sponsors/algolia@2x.png 2x">

							<div class="sp-text">
								Algolia Search provides hosted full-text, numerical, faceted and geolocalized search.
							</div>

							<a target="_blank" href="https://www.algolia.com" class="sp-link">
								<i class="fa fa-globe" aria-hidden="true"></i> Go to website
							</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/cloudns.png" srcset="{{@shared.assetsHost}}/img/sponsors/cloudns@2x.png 2x">

							<div class="sp-text">
								ClouDNS is offering Premium, DDoS Protected, and GeoDNS services supported by Global Anycast network.
							</div>

							<a target="_blank" href="https://www.cloudns.net/" class="sp-link">
								<i class="fa fa-globe" aria-hidden="true"></i> Go to website
							</a>
						</div>
					</div>
				</div>
			</div>

			<h3 class="sp-category-title" id="bronze">BRONZE</h3>

			<div class="sp-bronze">
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<a target="_blank" href="https://www.digitalocean.com/">
								<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/digitalocean.png" srcset="{{@shared.assetsHost}}/img/sponsors/digitalocean@2x.png 2x">
							</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<a target="_blank" href="https://www.clever-cloud.com">
								<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/clever-cloud.png" srcset="{{@shared.assetsHost}}/img/sponsors/clever-cloud@2x.png 2x">
							</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<a target="_blank" href="https://www.statuspage.io">
								<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/statuspage.png" srcset="{{@shared.assetsHost}}/img/sponsors/statuspage@2x.png 2x">
							</a>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-8 col-xs-push-2 col-sm-push-0 ">
						<div class="sp">
							<a target="_blank" href="https://prebid.org">
								{{! filename is "pb" because "prebid" keyword is commonly blocked by ad blockers }}
								<img class="sp-img" src="{{@shared.assetsHost}}/img/sponsors/pb.png" srcset="{{@shared.assetsHost}}/img/sponsors/pb@2x.png 2x">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</r-page>


<script>
	component.exports = {
		data () {
			return {
				title: 'Our sponsors - jsDelivr',
				description: 'jsDelivr is sponsored by Cloudflare, Fastly, NS1, and other awesome companies.',
			};
		},
	};
</script>
