<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/coming-soon.html" name="c-coming-soon">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">


<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-statistics old-text-page">
		<c-coming-soon title="Detailed package usage and network statistics are coming soon"></c-coming-soon>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Usage statistics - jsDelivr',
			};
		},
	};
</script>
