<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/github-md-documents-prefetch.html" name="c-github-md-documents-prefetch">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-github-md-documents-prefetch></c-github-md-documents-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-privacy-policy text-page">
		<div class="container">
			<h1 class="page-title">Terms &amp; Policies</h1>

			<section>
				<strong>CDN - cdn.jsdelivr.net</strong>

				<ul>
					<li><a href="/terms/acceptable-use-policy-jsdelivr-net">Acceptable Use Policy</a></li>
					<li><a href="/terms/privacy-policy-jsdelivr-net">Privacy Policy</a></li>
				</ul>
			</section>

			<section>
				<strong>Website - jsdelivr.com</strong>

				<ul>
					<li><a href="/terms/privacy-policy-jsdelivr-com">Privacy Policy</a></li>
				</ul>
			</section>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Terms & Policies - jsDelivr',
			};
		},
	};
</script>
