<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">
<link rel="ractive" href="../components/footer.html" name="c-footer">
<link rel="ractive" href="../components/notification.html" name="c-notification">
<link rel="ractive" href="../components/github-md-documents-prefetch.html" name="c-github-md-documents-prefetch">
<link rel="ractive" href="../components/markdown.html" name="c-markdown">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-github-md-documents-prefetch></c-github-md-documents-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-privacy-policy">
		<h1 class="page-title">Terms &amp; Policies</h1>

		<div class="container">
			<div class="side-menu">
				<div class="menu-section">
					<strong class="section-title">CDN - cdn.jsdelivr.net</strong>

					<div class="section-list">
						<div on-click="@this.set('currentPolicy', 'cdn-acceptable')"
							class="{{#if currentPolicy === 'cdn-acceptable'}}active{{/if}}">
								Acceptable Use Policy
						</div>

						<div on-click="@this.set('currentPolicy', 'cdn-privacy')"
							class="{{#if currentPolicy === 'cdn-privacy'}}active{{/if}}">
								Privacy Policy
						</div>
					</div>
				</div>

				<div class="horizontal-divider"></div>

				<div class="menu-section">
					<strong class="section-title">Website - jsdelivr.com</strong>

					<div class="section-list">
						<div on-click="@this.set('currentPolicy', 'web-privacy')"
							class="{{#if currentPolicy === 'web-privacy'}}active{{/if}}">
								Privacy Policy
						</div>
					</div>
				</div>
			</div>

			<div class="main-content">
				{{#if currentPolicy === 'cdn-acceptable'}}
					<c-markdown text="{{@shared.auNetText}}"></c-markdown>
				{{elseif currentPolicy === 'cdn-privacy'}}
					<c-markdown text="{{@shared.ppNetText}}"></c-markdown>
				{{else}}
					<c-markdown text="{{@shared.ppComText}}"></c-markdown>
				{{/if}}
			</div>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Terms & Policies - jsDelivr',
				currentPolicy: 'cdn-acceptable',
			};
		},
	};
</script>
