<link rel="ractive" href="../r-page.html">
<link rel="ractive" href="../components/header.html" name="c-header">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-header></c-header>

	<div class="p-unpkg">
		<div class="p-github">
			<div class="about-gradient">
				<img class="about-gradient-primary" width="100%" height="556" src="{{@shared.assetsHost}}/img/about/about-gradient.png" />
				<div class="about-gradient-secondary"></div>
			</div>

		<div class="content">
			<div class="title">
				<h1>Migrating from unpkg to jsDelivr</h1>

				<h2>
					jsDelivr is a free, fast, and reliable Open Source CDN for npm and GitHub. <br>
					Most unpkg links can be easily converted to jsDelivr links.
				</h2>
			</div>

			<div class="container">
				<div class="box">
					<div class="bar">
						<div class="circle"></div>
						<div class="line {{#if out}}filled{{/if}}"></div>
						<div class="circle bottom {{#unless out}}circle-disabled{{/unless}}"></div>
					</div>

					<div class="icon-competitor">
						<img width="91" height="50" src="{{@shared.assetsHost}}/img/unpkg.png" srcset="{{@shared.assetsHost}}/img/unpkg@2x.png 2x">
					</div>

					<div class="input-wrapper mb-48">
						<input type="text" class="input {{#if out}}active{{/if}}" placeholder="Paste an unpkg link here" value="{{in}}">
					</div>

					<div class="icon-jsdelivr">
						<img width="115" height="28" src="{{@shared.assetsHost}}/img/jsDelivr.logo.svg">
					</div>

					<div class="input-wrapper">
						<input type="text" class="input {{#if out && !error}}input-jsdelivr-copy{{/if}} {{#if out}}active{{/if}}" placeholder="Get a jsDelivr link here" value="{{out}}">

						{{#if out && !error}}
							<a class="copy" as-clipboard data-clipboard-text="{{out}}">Copy</a>
						{{/if}}
					</div>

					{{#if displayHtmlWarning}}
						<div class="alert alert-warning" role="alert">
							For security reasons, we serve HTML files with <code>Content-Type: text/plain</code>.
							We recommend using <a href="https://pages.github.com/" target="_blank" rel="noopener">GitHub Pages</a> if this is a problem.
						</div>
					{{/if}}
			</div>

			<div class="jsdelivr-descr-title">
				jsDelivr is a free CDN (Content Delivery Network)
				<br />
				for open source files
			</div>

			<div class="jsdelivr-descr-text">
				By using jsDelivr CDN URLs you get better performance globally thanks to our multi-CDN infrastructure. We also permanently cache all files to ensure reliability, even if your files get deleted from Github they will continue to work on jsDelivr without breaking any sites using them. The jsDelivr CDN is designed for production use with multiple layers of failover to ensure best possible uptime.
			</div>

			<div class="container">
				<h1 class="comparison-title">unpkg and jsDelivr comparison</h1>

				<div class="c-stats-table">
					<table class="stats-table-table">
						<colgroup>
							<col style="width: 26%;">
							<col style="width: 37%;">
							<col style="width: 37%;">
						</colgroup>

						<thead>
							<tr>
								<th></th>
								<th>
									<div class="icon-competitor">
										<img width="91" height="50" src="{{@shared.assetsHost}}/img/unpkg.png" srcset="{{@shared.assetsHost}}/img/unpkg@2x.png 2x">
									</div>
								</th>
								<th>
									<div class="icon-jsdelivr">
										<img width="140" height="34" src="{{@shared.assetsHost}}/img/logo-horizontal.svg">
									</div>
								</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Multi-CDN <sup><i class="fa fa-info-circle" as-tooltip="'Uses multiple independent CDN providers'"></i></sup></td>
								<td>1</td>
								<td>4</td>
							</tr>
							<tr>
								<td>Multi-DNS <sup><i class="fa fa-info-circle" as-tooltip="'Uses multiple independent DNS providers'"></i></sup></td>
								<td>1</td>
								<td>2</td>
							</tr>
							<tr>
								<td>Smart load-balancing <sup><i class="fa fa-info-circle" as-tooltip="'Chooses the best provider for each individual user'"></i></sup></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon.png" srcset="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon@2x.png 2x" loading="lazy"></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/landing/features-list-icon.png" srcset="{{@shared.assetsHost}}/img/landing/features-list-icon@2x.png 2x" loading="lazy"></td>
							</tr>
							<tr>
								<td>Combining multiple files</td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon.png" srcset="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon@2x.png 2x" loading="lazy"></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/landing/features-list-icon.png" srcset="{{@shared.assetsHost}}/img/landing/features-list-icon@2x.png 2x" loading="lazy"></td>
							</tr>
							<tr>
								<td>Fully featured API <sup><i class="fa fa-info-circle" as-tooltip="'Package version listings, directory listings, and detailed usage stats'"></i></sup></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon.png" srcset="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon@2x.png 2x" loading="lazy"></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/landing/features-list-icon.png" srcset="{{@shared.assetsHost}}/img/landing/features-list-icon@2x.png 2x" loading="lazy"></td>
							</tr>
							<tr>
								<td>Cache purge API <sup><i class="fa fa-info-circle" as-tooltip="'Instantly refresh a file cached on the CDN'"></i></sup></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon.png" srcset="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon@2x.png 2x" loading="lazy"></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/landing/features-list-icon.png" srcset="{{@shared.assetsHost}}/img/landing/features-list-icon@2x.png 2x" loading="lazy"></td>
							</tr>
							<tr>
								<td>Download stats</td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon.png" srcset="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon@2x.png 2x" loading="lazy"></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/landing/features-list-icon.png"  srcset="{{@shared.assetsHost}}/img/landing/features-list-icon@2x.png 2x" loading="lazy"></td>
							</tr>
							<tr>
								<td>POPs in China <sup><i class="fa fa-info-circle" as-tooltip="'Including a valid ICP license'"></i></sup></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon.png" srcset="{{@shared.assetsHost}}/img/icons/feature-unsupported-icon@2x.png 2x" loading="lazy"></td>
								<td class="tick"><img width="30" height="30" src="{{@shared.assetsHost}}/img/landing/features-list-icon.png" srcset="{{@shared.assetsHost}}/img/landing/features-list-icon@2x.png 2x" loading="lazy"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="buttons">
					<a href="/" class="all-features">See All Features</a>
				</div>
			</div>
			</div>
		</div>
	</div>
</r-page>

<script>
	/* eslint-disable no-throw-literal */

	const debounce = require('../../public/js/utils/debounce');
	const throttle = require('../../public/js/utils/throttle');
	const clipboard = require('../../public/js/decorators/clipboard');
	const tooltip = require('../../public/js/decorators/tooltip');
	const defaultError = 'Sorry, this doesn\'t look like a valid unpkg link :(';

	component.exports = {
		decorators: {
			clipboard,
			tooltip,
		},
		data () {
			return {
				title: 'Migrate from unpkg to jsDelivr',
				description: 'Migrate from unpkg to jsDelivr - a free, fast, and reliable Open Source CDN for npm and GitHub with the largest network and best performance. Serving more than 30 billion requests per month.',
			};
		},
		oninit () {
			let buildJsDelivrLink = (esm, [ , name, version, file ]) => {
				return `${esm ? 'https://esm.run/' : 'https://cdn.jsdelivr.net/npm/'}${name}${version || ''}${file || ''}`;
			};

			let unpkg2jsDelivr = unpkg => Promise.resolve().then(() => {
				let pattern = /^https?:\/\/unpkg\.com\/([^/@?]+)(@[^/?]+)?([^?]*\/[^?]*)*(\?module)?$/i;
				let match = pattern.exec(unpkg);

				if (match) {
					return buildJsDelivrLink(!!match[4], match);
				}

				throw defaultError;
			});

			this.observe('in', debounce(throttle((unpkg) => {
				this.set('displayHtmlWarning', unpkg.slice(-5) === '.html');

				if (!unpkg) {
					return this.set('out', '');
				}

				unpkg2jsDelivr(unpkg).then((jsDelivr) => {
					this.set('error', false);

					if (this.get('in') === unpkg) {
						this.set('out', jsDelivr);
					}
				}).catch((error) => {
					this.set('error', true);
					this.set('out', typeof error === 'string' ? error : defaultError);
				});
			}, 1000)));
		},
	};
</script>
