@import '../mixins';

.about {
	padding-top: 20px;

	h3 {
		margin-top: 0;
		font-weight: 700;
	}

	p {
		margin-top: 30px;
	}

	.about-features {
		padding: 60px 0;
		margin-top: 40px;
		background-color: #eef4f4;

		> .container {
			> .row  + .row {
				padding-top: 50px;
			}
		}

		p {
			margin-top: 20px;
		}
	}

	.about-faq {
		padding: 60px 0;

		.faq-item {
			padding: 0 10px;
			text-align: justify;
			opacity: .4;
			.transition(all 400ms ease);

			&:hover {
				opacity: 1;
			}

			.faq-question {
				font-size: 16px;
				font-weight: 700;
				margin-top: 20px;
			}

			.faq-answer {
				margin-top: 30px;
			}
		}
	}
}
