.c-cdn-oss-head {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	position: relative;
	width: 1254px;
	padding: 0 15px;

	>img {
		position: absolute;
		top: 0;
		right: 15px;
	}

	.head-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: .2px;
		color: #17233b;
		margin-bottom: 8px;
	}

	.head-descr {
		max-width: 808px;
		font-size: 14px;
		line-height: 24px;
		color: #5c667a;
		margin-bottom: 8px;
	}

	.head-links {
		display: flex;
		margin-bottom: 40px;

		a {
			font-size: 14px;
			line-height: 20px;
			color: #f65128;
			margin-right: 32px;
		}
	}
}
