@import "../variables.less";

.c-collection-box {
	margin-bottom: 40px;

	.fa {
		cursor: pointer;
	}

	.box-header {
		border-top: none;
		text-align: center;
		font-weight: 700;
		font-size: 16px;
		padding: 21px 20px;

		.fa {
			float: right;
		}
	}

	.box-content {
		.fa-times {
			float: right;
			margin-top: 3px;
			position: absolute;
			cursor: pointer;
			right: 35px;
		}

		.box-content-line {
			padding: 10px 40px 10px 20px;
			font-weight: 600;
			font-size: 15px;
			border-top: solid 1px @c-gray;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			a {
				font-weight: 700;
			}

			&.box-content-button {
				padding-right: 20px;
				color: #fff;
				background-color: @c-orange;
				display: block;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				text-align: center;
				margin: -1px;
			}
		}
	}
}
