@import "../variables.less";

.c-footer {
	.col-md-6:nth-child(1), .col-md-6:nth-child(2) {
		padding-right: 0;
		padding-left: 0;

		@media (min-width: @screen-sm-min) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}

	a.mr-8 {
		margin-left: -2px;

		@media (min-width: @screen-sm-min) {
			margin-left: 0;
		}
	}

	.col-md-6:nth-child(2) {
		width: 100%;

		@media (min-width: @screen-sm-min) {
			width: auto;
		}
	}
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	padding-top: 40px;

	@media (min-width: @screen-sm-min) {
		padding-top: 80px;
	}

	@media (max-width: @screen-sm-max) {
		text-align: center;
	}

	.wrapper {
		padding: 40px 0;
		background-color: #17233b;

		& > div.footer-text-big {
			padding-left: 24px;
			padding-right: 24px;

			@media (min-width: @screen-sm-min) {
				padding-left: 22px;
				padding-right: 22px;
			}
		}
	}

	.container {
		padding-left: 24px;
		padding-right: 24px;

		@media (min-width: @screen-sm-min) {
			padding-left: 22px;
			padding-right: 22px;
			max-width: 1224px;
		}
		width: 100%;

		@media (min-width: @screen-xxl-lg-min) {
			width: 100%;
		}

		> div.row:nth-last-child(1) {
			margin-top: 40px;
		}

		> div.row:last-child {
			@media (min-width: @screen-sm-min) {
				margin-top: 24px;
			}

			.copy {
				margin-top: 40px;
				margin-bottom: 0;
				list-style-type: none;
			}

			a {
				font-size: 14px;
			}

			li {
				text-align: left;

				&:last-child {
					@media (min-width: @screen-xxl-lg-min) {
						display: none;
					}
				}
			}

			li:first-child {
				grid-column: 1/3;
			}
		}

		.row:nth-last-child(2) {
			.footer-list {
				.copy {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: block;
						order: -1;
						margin-bottom: 0;
					}
				}
				display: grid;
				grid-gap: 20px;

				@media (min-width: @screen-md-min) {
					font-weight: 400;
					grid-gap: 0;
					display: flex;
				}
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 1fr);
				grid-auto-flow: column;
				font-size: 14px;

				@media (min-width: @screen-md-min) {
					font-size: 12px;
				}
				line-height: 20px;
				font-weight: 400;
				justify-items: left;
			}
			margin-top: 40px;
		}
	}

	.footer-sponsor {
		margin: 0 20px;

		@media (min-width: @screen-md-min) {
			margin: 0;

			& + .footer-sponsor {
				margin-left: 40px;
			}
		}
	}

	.mb-32 {
		margin-bottom: 32px;
	}

	.mr-8 {
		margin-right: 8px;
	}

	.footer-subscribe-form-header {
		width: 100%;
		margin-bottom: 16px;
		text-align: left;
	}

	.footer-subscribe-form {
		font-size: 0;

		input,
		> button {
			height: 40px;
			padding: 10px 12px;
			color: #fff;
		}

		input {
			&::placeholder {
				color: #cfd6dd;
				font-size: 14px;
				line-height: 20px;
			}
			width: 100%;
			border-radius: 6px;

			@media (min-width: @screen-sm-min) {
				border-radius: 6px 0 0 6px;
				width: 297px;
			}
			background: #394356;
			border: none;
		}

		> button {
			width: 100%;
			border-radius: 6px;

			@media (min-width: @screen-sm-min) {
				width: auto;
				border-radius: 0 6px 6px 0;
			}
			background: #5c667a;
			font-weight: 600;
			letter-spacing: .2px;
			font-size: 14px;
			line-height: 20px;
		}
	}

	.semi-bold {
		font-weight: 600;
		letter-spacing: .2px;
	}

	.footer-separator {
		margin-top: 40px;
		margin-bottom: 40px;
		background: #3c465a;
		height: 1px;
		display: none;

		@media (min-width: @screen-sm-min) {
			display: block;
		}
	}

	.footer-text {
                  .row:first-child {
                    margin-right: 0;
                    margin-left: 0;
                    > div:nth-child(2) {
                      float: right;
                    }
		@media (min-width: @screen-sm-min) {
                    margin-right: -15px;
                    margin-left: -15px;
                  }
                }

		color: #fff;
		font-size: 14px;

		&-small {
			font-size: 12px;
			line-height: 16px;
		}

		&-primary {
			opacity: 1;
		}

		&-secondary {
			opacity: .64;
			margin-bottom: 24px;

			@media (min-width: @screen-sm-min) {
				margin-bottom: 32px;
			}
		}
	}

	.footer-list {
		display: flex;

		li {
			margin-right: 20px;

			@media (min-width: @screen-sm-min) {
				margin-right: 16px;
			}
		}

		a {
			font-weight: 400;
		}
	}

	.footer-list-sponsors {
		li {
			margin-right: 16px;
		}
	}

	.footer-list,
	.footer-list-sponsors {
		font-size: 12px;
		list-style: none;
		padding: 0;
		margin: 0;

		@media (max-width: @screen-sm-max) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-auto-flow: column;
			justify-items: start;
		}

		li {
			display: inline-block;

			@media (max-width: @screen-md-max) {
				margin-right: 15px;
			}
		}

		a {
			color: #fff;

			> img {
				margin-right: 8px;
			}
		}
	}

	.footer-right {
		display: flex;
		justify-content: flex-end;

		> div:nth-child(1) {
			width: 100%;

			@media (min-width: @screen-sm-min) {
				width: auto;
			}
		}

		.form-inline {
			width: 100%;
		}

		@media (max-width: @screen-sm-max) {
			margin-top: 32px;
			padding-top: 32px;
			justify-content: center;
			border-top: 1px solid #394355;
		}

		> div {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.btn-featured {
			&:active,
			&:hover,
			&:focus {
				color: #fff;
				background-color: transparent;
				border-color: #fff;
				box-shadow: none;
			}
		}
	}

	.maintainer-block {
		display: flex;
		flex-wrap: wrap;
		line-height: 20px;

		span.footer-text-secondary {
			margin-bottom: 0;
		}

		> div:nth-child(1) {
			width: 100%;
		}
	}
}
