@import "../variables.less";

.c-header {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	z-index: 1;
	position: relative;

	.container {
		@media (min-width: @screen-xxl-lg-min) {
			width: 1254px;
		}
	}

	a {
		font-size: 14px;

		&.featured {
			color: @c-orange !important;
		}
	}

	.navbar-header {
		>a {
			float: left;
			margin: 16px 24px 16px 0;
		}
	}

	.c-search-compact {
		@media (min-width: @screen-sm-max) and (max-width: @screen-lg-min) {
			width: 190px;
		}
		float: left;
		margin-top: 12px;
		margin-bottom: 12px;
		width: 358px;

		>div:nth-child(1) {
			>input:nth-child(1) {
				height: 40px;
				padding: 10px 20px 10px 44px;
			}
		}

		.search-input-wrapper:before {
			left: 20px;
		}
	}

	.navbar-nav > li {
		border-top: 2px solid transparent;

		&:not(:nth-last-child(1)) {
			margin-right: 32px;
		}

		& > a {
			padding: 18px 0 20px;
		}
	}

	.navbar {
		border: 0;
		border-bottom: 1px solid @c-gray;
		margin-bottom: 0;
	}

	.about-navbar-right {
		> li > a {
			color: #fff;

			&:hover {
				color: #fff;
			}
		}

		li.dropdown.open > a.dropdown-toggle {
			color: #fff;
			background: transparent;
		}
	}

	.default-navbar-right {
		> li > a {
			color: #17233b;

			&:hover {
				color: #17233b;
			}
		}

		li.dropdown.open > a.dropdown-toggle {
			color: #f65128;
		}
	}

	.about-navbar-default {
		background: transparent;
		border-bottom: none;

		.navbar-toggle.collapsed > span {
			background-color: #fff;
		}
	}

	.navbar-hidden {
		visibility: hidden;
	}

	.navbar-nav > li > .dropdown-menu {
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		margin-top: -7px;
	}

	.dropdown-menu {
		padding-top: 8px;
		padding-bottom: 8px;
		width: 240px;
		border: 1px solid #dfe3e7;
		box-sizing: border-box;
		box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
		border-radius: 6px;

		>li {
			padding-left: 8px;
			padding-right: 8px;

			>a {
				display: flex;
				align-items: center;
				height: 40px;
				width: 100%;
				padding: 10px;
				font-size: 14px;
				line-height: 20px;
				color: #111a2c;

				&:hover {
					background: #f3f5f7;
					border-radius: 4px;
				}
			}
		}
	}

	.dropdown-header {
		>div {
			line-height: 16px;
			color: #79849a;
			padding: 6px 10px;
			font-size: 12px;
		}
	}

	li.dropdown > a {
		display: flex;

		> i {
			font-size: 14px;
			margin-left: 4px;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
