@import "../variables.less";

.c-landing-top {
	position: relative;
	display: flex;
	justify-content: center;

	// wtf?
	.flex {
		display: flex;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1016px;
		width: 100%;
		padding: 16px 0 0;

		@media (min-width: @screen-sm-min) {
			padding: 40px 0 0;
		}

		.heading {
			display: flex;
			flex-direction: column;
			align-items: center;

			@media (min-width: @screen-sm-min) {
				margin-bottom: 0;
			}

			span {
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: #fff;
				text-align: center;
				margin-bottom: 16px;

				@media (min-width: @screen-sm-min) {
					margin-bottom: 8px;
					font-size: 16px;
					line-height: 24px;
				}
			}

			h1 {
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				text-align: center;
				letter-spacing: .2px;
				color: #fff;
				margin: 0 0 16px;

				@media (min-width: @screen-sm-min) {
					font-size: 40px;
					line-height: 56px;
					margin: 0 0 8px;
				}
			}

			p {
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				color: #fff;
				margin: 0 0 16px;

				@media (min-width: @screen-sm-min) {
					line-height: 24px;
					font-size: 16px;
					margin: 0;
				}
			}

			span:nth-child(4) {
				line-height: 24px;
				margin: 0;

				@media (min-width: @screen-sm-min) {
					display: none;
				}
			}
		}
	}

	.stats {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
		width: 100%;

		@media (min-width: @screen-sm-min) {
			flex-flow: row wrap;
			gap: 24px;
			justify-content: space-between;
			margin-top: 64px;
			max-width: 808px;
		}

		div {
			display: flex;
			flex-direction: column;
			align-content: center;
			flex-grow: 1;
			flex-basis: 0;

			&:nth-child(1) {
				margin-bottom: 16px;

				@media (min-width: @screen-sm-min) {
					margin-bottom: 0;
				}
			}

			h3 {
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				text-align: center;
				color: #fff;
				margin: 0 0 4px;

				@media (min-width: @screen-sm-min) {
					font-size: 24px;
					line-height: 36px;
					margin: 0 0 8px;
				}
			}

			span {
				font-size: 14px;
				line-height: 20px;
				font-weight: 400;
				color: #fff;
				text-align: center;
			}
		}
	}

	.docs {
		margin-top: 40px;

		@media (min-width: @screen-sm-min) {
			margin-top: 64px;
		}
		background: #17233b;
		border-radius: 8px;
		position: relative;

		.docs-wrapper {
			width: 100%;
			max-width: 808px;
			margin: 0 auto;
			position: relative;
			justify-content: space-between;

			@media (min-width: @screen-sm-min) {
				justify-content: flex-start;
			}
		}

		.docs-tabs {
			display: flex;

			@media (min-width: @screen-sm-min) {
				padding: 0 20px;
			}
			border-bottom: 2px solid #394356;
		}

		.docs-tab {
			display: none;

			@media (min-width: @screen-sm-min) {
				width: 25%;
				display: block;
			}

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 60px;

				@media (min-width: @screen-sm-min) {
					height: 70px;
				}
				width: 100%;
			}
		}

		.active-tab-line {
			position: absolute;
			bottom: -2px;
			height: 2px;
			width: 25%;
			background: @c-orange;
			transition: left 400ms;
			display: none;

			@media (min-width: @screen-sm-min) {
				display: block;
			}
		}

		.docs-code {
			transition: height .3s ease-in;
			padding: 16px 16px 24px;
			position: relative;
			min-height: 610px;
			overflow-y: hidden;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			@media (min-width: @screen-sm-min) {
				padding: 24px;
				min-height: 510px;
			}

			.btn-docview {
				bottom: 24px;
				right: 24px;
				width: fit-content; // stylelint-disable-line plugin/no-unsupported-browser-features
				margin-left: auto;
				position: absolute;
			}
		}

		.docs-code-slide {
			position: absolute;
			font-size: 14px;
			line-height: 1.42;
			font-family: "Source Code Pro", monospace;
			word-break: break-all;
		}

		.docs-comment {
			color: #b2bdc7;
			margin: 0;
		}

		.docs-link,
		.docs-link a {
			color: #f88d75;
			margin: 0;
		}

		.dropdown {
			width: 100%;
			padding: 0 24px;
			z-index: 2;
			margin-top: auto;
			margin-bottom: auto;

			@media (min-width: @screen-sm-min) {
				display: none;
			}

			.selected {
				display: flex;
				align-items: center;
				height: 70px;
			}
		}

		.dropdown-toggle {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 0;
			color: #fff;
			background: none;
			border-width: 0;

			& > img {
				margin-left: auto;
			}
		}

		.dropdown-menu {
			background: #17233b;
			border-bottom: 2px solid #dfe3e7;
			box-sizing: border-box;
			box-shadow:
				0 4px 4px rgba(23, 35, 59, .06),
				0 0 1px 1px rgba(23, 35, 59, .11),
				0 10px 22px -2px rgba(23, 35, 59, .08);
			border-radius: 6px;
			padding: 0;
			width: 100%;

			> li {
				padding: 16px 24px;
				border-bottom: 2px solid #394356;
			}

			> li > a {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				height: 40px;
				font-size: 14px;
				line-height: 20px;
				color: #fff;
				padding: 0;

				&:hover {
					background: #f3f5f7;
					border-radius: 4px;
				}
			}

			> li > a.disabled {
				color: #b2bdc7;

				&:hover {
					cursor: default;
					background: transparent;
					color: #b2bdc7;
				}
			}
		}

		.overlay {
			border-radius: 6px;
			user-select: none;

			@media (min-width: @screen-sm-min) {
				display: none;
			}
			height: 180px;
			background: linear-gradient(360deg, #17233b 0%, rgba(23, 35, 59, 0) 100%);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 16px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			.btn-expand {
				width: 100%;
			}
		}
	}

	.sponsors {
		text-align: center;
		margin: 64px 0 56px;
		position: relative;

		span {
			display: block;
			font-size: 14px;
			margin-bottom: 24px;
		}

		.flex {
			justify-content: center;
			flex-wrap: wrap;
			margin-right: -24px;
			padding-right: 24px;

			@media (min-width: @screen-sm-min) {
				justify-content: space-between;
				margin: 0;
				padding-right: 0;
			}

			> .sponsor-item + * {
				@media (min-width: @screen-sm-min) {
					margin-left: 0;
				}
			}

			> .sponsor-item {
				width: 45%;
				margin-bottom: 24px;
				display: flex;
				justify-content: center;

				@media (min-width: @screen-sm-min) {
					width: 30%;
				}

				@media (min-width: @screen-md-min) {
					width: auto;
				}
			}
		}

		img {
			display: block;
			width: auto;
			max-height: 32px;

			@media (min-width: @screen-sm-min) {
				max-height: 40px;
			}
		}
	}
}
