@import "../variables.less";

.c-landing-top {
	min-height: 745px;
	background-size: cover;
	position: relative;

	.bg {
		background: url("/img/landing/bg.jpg") no-repeat;
		background-size: 100%;
		padding-bottom: 38.8%;
		position: absolute;
		width: 100%;

		@media (max-width: @screen-md-max) {
			background: url("/img/landing/bg-2.jpg") no-repeat;
			background-size: 100%;
			padding-bottom: 52.08%;
		}

		@media (max-width: @screen-sm-max) {
			background: url("/img/landing/bg-3.jpg") no-repeat;
			background-size: 100%;
			padding-bottom: 72.92%;
		}

		@media (max-width: @screen-xs-max) {
			background: #f76036;
			height: 600px;
		}
	}

	.content {
		padding-top: 100px;
		position: relative;

		.heading {
			text-align: center;
			color: #fff;

			h1 {
				font-size: 48px;
			}

			h2 {
				font-size: 36px;
				font-weight: 300;
				margin: 20px 0 15px;
			}

			.heading-message {
				min-height: 25px;
				font-size: 18px;
				opacity: .7;
			}
		}
	}

	.docs {
		background-color: #fff;
		box-shadow: 0 10px 40px -6px rgba(0, 0, 0, .3);
		margin-top: 70px;
		border-radius: 5px;

		.docs-tabs {
			height: 500px;

			@media (min-width: @screen-md-min) {
				padding-right: 0;
			}
		}

		.docs-tab {
			height: 33.333%;
			position: relative;

			& + .docs-tab {
				border-top: 1px solid #ccc;
			}

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				margin: auto;
			}

			a {
				display: block;
				height: 100%;
				width: 100%;
				opacity: .5;
				transition: opacity 200ms;
				cursor: pointer;

				&:hover, &:focus {
					opacity: .75;
				}

				&.active {
					opacity: 1;
				}
			}
		}

		.active-tab-arrow {
			position: absolute;
			right: 0;
			transition: top 400ms;

			&:before {
				right: 0;
				top: 50%;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border: solid transparent;
				border-right-color: #222;
				border-width: 15px 15px 15px 0;
				margin-top: -15px;
			}

			@media (max-width: @screen-sm-max) {
				right: 15px;
			}
		}

		.docs-code {
			@media (min-width: @screen-md-min) {
				padding-left: 0;
			}
		}

		.docs-code-bg {
			height: 500px;
			background-color: #222;
			position: relative;
			white-space: nowrap;
			overflow-y: hidden;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		.docs-code-slide {
			position: absolute;
			padding: 40px 100px 40px 60px;
			font-size: 18px;
			line-height: 18px;
			font-family: Consolas, monospace;
			opacity: 1 !important;

			@media (max-width: @screen-md-max) {
				padding: 40px 50px 40px 30px;
				font-size: 16px;
			}

			&.docs-code-slide-wp {
				padding-right: 60px;

				@media (max-width: @screen-md-max) {
					padding-right: 30px;
				}
			}
		}

		.docs-comment {
			color: #75715e;
			margin: 0;
		}

		.docs-link, .docs-link a {
			color: #e6db74;
			margin: 0;
		}

		.docs-how-it-works {
			display: block;
			position: absolute;
			top: 460px;
			color: @c-orange;
			font-size: 16px;
			font-family: @font-family-base;
		}
	}

	.sponsors {
		text-align: center;
		margin: 40px 0 60px;
		position: relative;

		.sponsors-text {
			padding-top: 20px;
			margin-bottom: -20px;
			font-size: 14px;
			opacity: .7;
		}

		.sponsor {
			margin: 40px 20px 0;
			display: inline-block;
		}
	}
}
