@import "../mixins.less";
@import "../variables.less";

.c-landing-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;

	.wrapper {
		width: 100%;
		max-width: 1016px;
	}

	.wrapper-lg {
		max-width: 1224px;
		width: 100%;
	}

	h2 {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: .2px;
		color: #17233b;

		@media (min-width: @screen-sm-min) {
			font-size: 40px;
			line-height: 56px;
		}
	}

	.features {
		padding: 32px 0 0;

		@media (min-width: @screen-sm-min) {
			padding: 80px 0 0;
		}

		>span {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #79849a;
		}

		>h2 {
			margin-top: 8px;
		}

		&_list {
			display: flex;
			flex-flow: row wrap;
			margin-top: 32px;
			gap: 24px 22px;

			@media (min-width: @screen-sm-min) {
				gap: 40px 22px;
				margin-top: 64px;
			}

			>a {
				display: flex;
				align-items: center;
				flex-grow: 1;
				flex-basis: 324px;
				gap: 20px;

				img {
					width: 56px;
					height: 56px;

					@media (min-width: @screen-sm-min) {
						width: 64px;
						height: 64px;
					}
				}

				>h6 {
					font-size: 16px;
					font-weight: 600;
					line-height: 24px;
					letter-spacing: .2px;
					color: #17233b;
				}
			}
		}
	}

	.network-data {
		margin-top: 40px;
		position: relative;

		> * {
			position: relative;
			z-index: 2;
		}

		@media (min-width: @screen-sm-min) {
			margin-top: 64px;
		}

		&_stats {
			display: flex;
			flex-flow: row wrap;
			gap: 24px;
			padding: 40px 0 0;

			&_item {
				display: flex;
				align-items: center;
				flex-direction: row;
				flex-grow: 1;
				flex-basis: 312px;
				gap: 24px;

				>img {
					width: 56px;
					height: 56px;
				}

				&_green, &_regular {
					display: flex;
					flex-direction: column;

					>span {
						&:nth-child(1) {
							font-weight: 600;
							font-size: 24px;
							line-height: 36px;
							letter-spacing: .2px;
						}

						&:nth-child(2) {
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
						}
					}
				}

				&_green {
					>span:nth-child(1) {
						color: #0b8e5f;
					}

					>span:nth-child(2) {
						color: #17233b;
					}
				}

				&_regular {
					>span:nth-child(1) {
						color: #17233b;
					}

					>span:nth-child(2) {
						color: #79849a;
					}
				}
			}
		}

		&_map {
			position: absolute;
			width: 100%;
			max-width: 910px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;

			&_wrapper {
				position: relative;
				padding-bottom: 47.13%;
				overflow: hidden;
			}

			img,
			svg {
				position: absolute;
				top: 0;
				left: 0;
				object-fit: contain;
			}

			g {
				&:nth-child(4n) circle {
					animation-delay: .8s;
				}

				&:nth-child(4n - 1) circle {
					animation-delay: 1.6s;
				}

				&:nth-child(4n - 2) circle {
					animation-delay: 2.4s;
				}

				&:nth-child(4n - 3) circle {
					animation-delay: 3.2s;
				}
			}

			circle {
				&:first-child {
					fill: #fa8f76;
					animation: pulse1 3s ease-in-out infinite;
				}

				&:last-child {
					fill: rgba(#fa8f76, .5);
					animation: pulse2 3s ease-in-out infinite;
				}
			}
		}
	}

	//// not revied code below
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a:hover {
		text-decoration: none;
	}

	h3 {
		font-size: 24px;
		line-height: 32px;

		@media (min-width: @screen-sm-min) {
			font-size: 32px;
		}
	}

	p {
		font-size: 14px;
		line-height: 20px;
	}

	.text-center {
		text-align: center;
	}

	.checklist {
		margin-bottom: 24px;

		li {
			display: flex;
			align-items: flex-start;
			padding-left: 32px;
			position: relative;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.flex {
		display: flex;

		&-center {
			align-items: center;
			justify-content: center;
		}
	}

	span {
		color: #79849a;
	}

	.code {
		background: #fff;
		border: 1px solid #cfd6dd;
		box-shadow:
			0 4px 2px -2px rgba(23, 35, 59, .06),
			0 2px 8px rgba(23, 35, 59, .04);
		border-radius: 6px;
		overflow: hidden;

		&-head {
			height: 40px;
			padding: 0 0 0 15px;
			display: flex;
			align-items: center;
			background: #f3f5f7;
			font-size: 14px;
			line-height: 20px;

			span {
				width: 10px;
				margin-right: 6px;
				border-radius: 50%;
				height: 10px;
				background: #cfd6dd;

				&:last-child {
					margin-right: 12px;
				}
			}
		}

		&-tabs {
			padding: 0 16px;
			gap: 48px;
			background: #f3f5f7;
			position: relative;
			justify-content: space-between;

			@media (min-width: @screen-sm-min) {
				justify-content: flex-start;
				padding: 0 24px;
			}

			.dropdown {
				z-index: 2;
				margin-top: auto;
				margin-bottom: auto;
			}

			.dropdown-menu {
				background: #fff;
				border: 1px solid #dfe3e7;
				box-sizing: border-box;
				box-shadow:
					0 4px 4px rgba(23, 35, 59, .06),
					0 0 1px 1px rgba(23, 35, 59, .11),
					0 10px 22px -2px rgba(23, 35, 59, .08);
				border-radius: 6px;
				padding: 8px;
				width: 130px;
				margin-top: 9px;

				> li > a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					height: 40px;
					font-size: 14px;
					line-height: 20px;
					color: #111a2c;
					padding: 0 10px;

					&:hover {
						background: #f3f5f7;
						border-radius: 4px;
					}
				}

				> li > a.disabled {
					color: #b2bdc7;

					&:hover {
						cursor: default;
						background: transparent;
						color: #b2bdc7;
					}
				}
			}

			.dropdown-toggle {
				padding: 0;
				color: #fff;
				background: none;
				border-width: 0;

				@media (min-width: @screen-sm-min) {
					display: none;
				}
			}

			a {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				color: #5c667a;
				transition: color .2s;
				padding: 12px 0 14px;

				&.active {
					color: #17233b;
				}

				&:not(.active) {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: block;
					}
				}
			}

			&-line {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: block;
				}
				position: absolute;
				bottom: 0;
				height: 2px;
				width: 150px;
				left: 24px;
				background: @c-orange;
				transition: left .4s, width .4s;
			}
		}

		&-slider {
			position: relative;

			.c-slider {
				width: 100%;
				overflow-y: auto;
				overflow-x: auto;
				height: 212px;

				@media (min-width: @screen-sm-min) {
					overflow-x: auto;
					height: 308px;
				}
			}
		}

		&-slide {
			position: absolute;
			width: 100%;
			// height: 100%;
			top: 0;
			left: 0;
			padding: 24px 24px 24px 52px;
			padding-right: 0;

			@media (min-width: @screen-sm-min) {
				min-width: 0;
				padding: 13px 24px 13px 52px;
			}
			font-weight: 500;
			font-size: 14px;
			line-height: 1.42;
			font-family: "Source Code Pro", monospace;
			counter-reset: section;

			> * {
				position: relative;
			}

			> *:before {
				counter-increment: section;
				content: counter(section);
				color: #b2bdc7;
				position: absolute;
				width: 20px;
				left: -28px;
				top: 0;
			}

			p {
				margin: 0;
				display: block;
			}
		}

		&-link {
			color: #f65128;
		}

		&-key {
			color: #1481b8;
		}

		&-string {
			color: #a7921b;
		}

		&-boolean {
			color: #549711;
		}

		&-comment {
			color: #b2bdc7;
			margin: 0;
		}

		&-number {
			color: #549711;
		}
	}

	@keyframes pulse1 {
		0% {
			opacity: 0;
		}

		25% {
			opacity: 1;
		}

		40% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes pulse2 {
		0% {
			transform: scale(1);
			opacity: 0;
		}

		25% {
			opacity: 1;
		}

		50% {
			transform: scale(5);
			opacity: 0;
		}

		100% {
			transform: scale(1);
			opacity: 0;
		}
	}

	.dev-friendly {
		overflow: hidden;
		margin-right: -24px;
		margin-left: -24px;
		padding-right: 24px;
		padding-left: 24px;
		background: linear-gradient(75.43deg, #17233b 0%, #1b2946 100%);

		@media (min-width: @screen-sm-min) {
			background: none;
			margin: 65px 0 0;
			padding: 0;
		}

		.container-lg {
			background: none;
			padding: 0;
			border-radius: 6px;
			font-family: "Source Code Pro", monospace;

			@media (min-width: @screen-sm-min) {
				padding: 88px 20px;
				background:
					url("../../img/landing/new/dev-bg.svg") no-repeat
					top right / cover;
			}
		}

		.bg-for-mobile {
			display: flex;
			justify-content: center;
			margin-top: 40px;
			margin-left: 4.5px;

			@media (min-width: @screen-sm-min) {
				display: none;
			}
		}

		h3 {
			color: #cfd6dd;
			margin-bottom: 8px;
			font-weight: 500;
			font-size: 16px;
			line-height: 40px;

			@media (min-width: @screen-sm-min) {
				font-size: 24px;
			}
		}

		p {
			color: #dfe3e7;
			letter-spacing: -.4px;
			margin-bottom: 32px;
			font-size: 20px;
			line-height: 40px;

			@media (min-width: @screen-sm-min) {
				margin-bottom: 40px;
				font-size: 24px;
			}
			font-weight: 700;

			span {
				font-size: 24px !important;
				color: #fff;
			}
		}

		h6 {
			color: #f3f5f7;
			font-weight: 700;
		}
	}

	.infographic {
		padding-bottom: 105px;
	}

	.api {
		padding-bottom: 0;

		@media (min-width: @screen-sm-min) {
			padding-bottom: 64px;
			padding-top: 128px;
		}

		> .flex {
			justify-content: space-between;
			flex-direction: column;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
			}
		}

		&-content {
			width: 100%;

			@media (min-width: @screen-sm-min) {
				width: 40.5%;
			}

			h3 {
				margin-bottom: 16px;
				line-height: 1.5;
				font-weight: 600;
				font-size: 24px;

				@media (min-width: @screen-sm-min) {
					line-height: 1.4;
					font-weight: 700;
					font-size: 32px;
				}
			}

			p {
				margin-bottom: 22px;
				font-size: 16px;
				line-height: 24px;
				font-weight: 400;
			}
		}

		&-code {
			margin-top: 40px;
			width: 100%;
			max-height: 304px;

			@media (min-width: @screen-sm-min) {
				margin-top: 0;
				width: 53%;
				max-height: 100%;
			}
		}
	}

	.js-modules {
		&-content {
			p {
				margin-bottom: 16px;
			}
		}

		&-code {
			max-height: 100%;
		}

		.code-footer {
			display: flex;
			padding: 16px;
			padding-top: 2px;

			@media (min-width: @screen-sm-min) {
				padding: 24px;
				padding-top: 2px;
			}
			justify-content: space-between;
			align-items: center;

			span {
				font-size: 12px;
				line-height: 16px;
				color: #79849a;
			}
		}

		pre {
			padding: 16px 16px 0;
			color: #5c667a;
			font-size: 14px;
			line-height: 20px;
			font-weight: 500;
			font-family: "Source Code Pro", Courier, Monaco, monospace;
			background-color: #fff;
			counter-reset: line;
			border: none;

			span:before {
				margin-right: 8px;
				counter-increment: line;
				content: counter(line);
				color: #b2bdc7;
				display: inline-block;
				width: 16px;
			}
		}
		padding-top: 0;

		@media (min-width: @screen-sm-min) {
			padding-top: 24px;
		}

		.flex {
			flex-direction: column-reverse;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
			}
		}
	}

	.top-packages {
		padding-top: 0;
		padding-bottom: 0;

		.container-lg {
			padding-top: 40px;
			padding-bottom: 0;

			@media (min-width: @screen-sm-min) {
				padding-bottom: 80px;
				padding-top: 80px;
			}
		}

		&-wrap {
			.container-lg {
				padding-top: 40px;
				flex-direction: column;

				@media (min-width: @screen-sm-min) {
					flex-direction: row;
					padding-top: 64px;
				}
			}
		}

		&:last-child {
			.container-lg {
				padding-bottom: 0;
			}

			.flex {
				border-bottom: 0;
			}
		}

		&-table {
			width: 100%;

			@media (min-width: @screen-sm-min) {
				width: 70%;
			}

			td:nth-child(1) {
				width: 48px;
			}

			td:nth-child(2) {
				width: 43%;
			}

			td:nth-child(3) {
				width: 130px;
			}

			td:nth-child(4) {
				width: auto;
			}

			img {
				width: 100%;
				display: block;
			}
		}

		&-title {
			width: 100%;

			@media (min-width: @screen-sm-min) {
				width: 20%;
				min-width: 288px;
			}

			span,
			h5 {
				font-size: 20px;
				display: block;
				line-height: 32px;
			}

			a {
				margin-top: 16px;
				margin-bottom: 16px;

				@media (min-width: @screen-sm-min) {
					margin-bottom: 0;
				}
			}
		}
	}

	.analytics {
		.container-lg {
			padding-bottom: 0;
			border: none;
		}

		.analytics-graph {
			position: absolute;

			@media (max-width: @screen-md-min) {
				display: none;
			}
		}

		.top-packages-title {
			z-index: 1;

			@media (min-width: @screen-md-min) {
				min-height: 525px;
				width: 45%;
			}

			span {
				font-size: 16px;
				margin-top: 16px;
			}
		}

		.top-packages-table {
			z-index: 1;

			.c-stats-table {
				border-radius: 0;
				border: none;
			}
		}
	}

	.sponsors {
		position: relative;
		margin-bottom: 60px;

		@media (min-width: @screen-sm-min) {
			margin-bottom: 30px;
		}

		.top-packages-title {
			margin: 24px 0;

			.btn-arrow {
				position: absolute;
				bottom: -60px;
				left: 0;

				@media (min-width: @screen-sm-min) {
					position: relative;
					bottom: 0;
				}
			}
		}

		.top-packages-table {
			display: flex;
			justify-content: center;

			.logo-wrapper {
				display: flex;
				width: 350px;
				flex-wrap: wrap;
				justify-content: space-between;

				@media (min-width: @screen-sm-min) {
					justify-content: unset;
					width: 100%;
				}

				each(range(19), {
				img:nth-child(@{index}) {
					opacity: if( @index > 3, if( @index > 9, 0, calc(1.5 / @index)) , 0.5);
					display: if( @index > 9, none, block);
				}
			})
				img {
					width: unset;
					margin: 10px 0;

					@media (min-width: @screen-sm-min) {
						margin: 10px;
						opacity: .5 !important;
						display: block !important;
					}
				}

				&.expanded img {
					opacity: .5;
					display: block;
				}
			}

			.btn-more {
				position: absolute;
				bottom: 0;
				z-index: 1;

				@media (min-width: @screen-sm-min) {
					display: none;
				}
			}
		}

		.flex {
			flex-direction: column;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
			}
		}
	}

	.endpoints {
		.container-lg {
			padding-top: 40px;
			border-bottom-width: 0;

			@media (min-width: @screen-sm-min) {
				border-bottom-width: 1px;
				padding-top: 80px;
			}

			.top-packages-table {
				width: 300vw;
				overflow-x: scroll;

				& > div {
					width: calc(100vw - 48px);
				}

				@media (min-width: @screen-sm-min) {
					& > div {
						width: auto;
					}
					overflow-x: auto;
					width: auto;
				}
				scrollbar-color: #16223a #dfe3e7;
				gap: 8px;
				margin-top: 24px;

				@media (min-width: @screen-sm-min) {
					margin-top: 0;
				}
			}

			.top-packages-table-wrapper {
				display: flex;
				width: auto;
				overflow-x: hidden;

				@media (min-width: @screen-sm-min) {
					display: block;
					width: auto;
					overflow-x: auto;
					padding-right: 20px;
				}
			}

			.top-packages-title {
				.btn-arrow {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: inline-flex;
					}
				}
			}
		}

		&-flex {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 17px;

			> div {
				background: #fff;
				border: 1px solid #dfe3e7;
				border-radius: 8px;
				padding: 32px 20px;
				text-align: center;
			}

			img {
				max-height: 56px;
				display: block;
				margin: 0 auto 24px;
				width: auto;
			}

			p {
				font-size: 18px;
				color: #17233b;
				margin-bottom: 0;
			}

			span {
				font-size: 14px;
				margin-bottom: 24px;
				display: block;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.flex {
			flex-direction: column-reverse;

			.btn-arrow {
				margin-top: 24px;
				order: -1;

				@media (min-width: @screen-sm-min) {
					display: none;
				}
			}

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
			}
		}
	}
}
