@import "../mixins.less";
@import "../variables.less";

.c-landing-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;

	.wrapper {
		width: 100%;
		max-width: 1016px;
	}

	.wrapper-lg {
		width: 100%;
		max-width: 1224px;
	}

	h2 {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		letter-spacing: .2px;
		color: #17233b;

		@media (min-width: @screen-sm-min) {
			font-size: 40px;
			line-height: 56px;
		}
	}

	.btn-link-to {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-top: 24px;

		@media (min-width: @screen-sm-min) {
			justify-content: flex-start;
			margin-top: 40px;
		}

		>a {
			display: flex;
			align-items: center;

			span {
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: .2px;
				color: #f65128;
				margin-right: 16px;
			}

			>img {
				margin: 0;
			}
		}
	}

	.features_features-list, .dev-friendly_features-list {
		display: flex;
		flex-flow: row wrap;
		margin-top: 32px;
		gap: 24px 22px;

		@media (min-width: @screen-sm-min) {
			gap: 40px 22px;
			margin-top: 64px;
		}

		>a {
			display: flex;
			align-items: center;
			flex-grow: 1;
			flex-basis: 324px;
			gap: 20px;

			img {
				width: 56px;
				height: 56px;

				@media (min-width: @screen-sm-min) {
					width: 64px;
					height: 64px;
				}
			}

			>h6 {
				font-size: 16px;
				line-height: 24px;
				letter-spacing: .2px;
			}
		}
	}

	.code {
		background: #fff;
		border: 1px solid #cfd6dd;
		box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
		border-radius: 6px;
		overflow: hidden;

		&-head {
			height: 40px;
			padding: 0 0 0 15px;
			display: flex;
			align-items: center;
			background: #f3f5f7;
			font-size: 14px;
			line-height: 20px;

			span {
				width: 10px;
				margin-right: 6px;
				border-radius: 50%;
				height: 10px;
				background: #cfd6dd;

				&:last-of-type {
					margin-right: 12px;
				}
			}

			p {
				margin: 0;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: #5c667a;
			}
		}

		&-tabs {
			padding: 0 16px;
			gap: 48px;
			background: #f3f5f7;
			position: relative;
			justify-content: space-between;

			@media (min-width: @screen-sm-min) {
				justify-content: flex-start;
				padding: 0 24px;
			}

			.dropdown {
				z-index: 2;
				margin-top: auto;
				margin-bottom: auto;
			}

			.dropdown-menu {
				background: #fff;
				border: 1px solid #dfe3e7;
				box-sizing: border-box;
				box-shadow:
					0 4px 4px rgba(23, 35, 59, .06),
					0 0 1px 1px rgba(23, 35, 59, .11),
					0 10px 22px -2px rgba(23, 35, 59, .08);
				border-radius: 6px;
				padding: 8px;
				width: 130px;
				margin-top: 9px;

				> li > a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					height: 40px;
					font-size: 14px;
					line-height: 20px;
					color: #111a2c;
					padding: 0 10px;

					&:hover {
						background: #f3f5f7;
						border-radius: 4px;
					}
				}

				> li > a.disabled {
					color: #b2bdc7;

					&:hover {
						cursor: default;
						background: transparent;
						color: #b2bdc7;
					}
				}
			}

			.dropdown-toggle {
				padding: 0;
				color: #fff;
				background: none;
				border-width: 0;

				@media (min-width: @screen-sm-min) {
					display: none;
				}
			}

			a {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				color: #5c667a;
				transition: color .2s;
				padding: 12px 0 14px;

				&.active {
					color: #17233b;
				}

				&:not(.active) {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: block;
					}
				}
			}

			&-line {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: block;
				}
				position: absolute;
				bottom: 0;
				height: 2px;
				width: 150px;
				left: 24px;
				background: @c-orange;
				transition: left .4s, width .4s;
			}
		}

		&-slider {
			position: relative;

			.c-slider {
				width: 100%;
				overflow-y: auto;
				overflow-x: auto;
				height: 212px;

				@media (min-width: @screen-sm-min) {
					overflow-x: auto;
					height: 308px;
				}
			}
		}

		&-slide {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			padding: 24px 24px 24px 52px;
			padding-right: 0;

			@media (min-width: @screen-sm-min) {
				min-width: 0;
				padding: 13px 24px 13px 52px;
			}
			font-weight: 500;
			font-size: 14px;
			line-height: 1.42;
			font-family: "Source Code Pro", monospace;
			counter-reset: section;

			> * {
				position: relative;
			}

			> *:before {
				counter-increment: section;
				content: counter(section);
				color: #b2bdc7;
				position: absolute;
				width: 20px;
				left: -28px;
				top: 0;
			}

			p {
				margin: 0;
				display: block;
			}
		}

		&-link {
			color: #f65128;
		}

		&-key {
			color: #1481b8;
		}

		&-string {
			color: #a7921b;
		}

		&-boolean {
			color: #549711;
		}

		&-comment {
			color: #b2bdc7;
			margin: 0;
		}

		&-number {
			color: #549711;
		}
	}

	.features {
		padding: 32px 0 0;

		@media (min-width: @screen-sm-min) {
			padding: 80px 0 0;
		}

		>span {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #79849a;
		}

		>h2 {
			margin-top: 8px;
		}

		h6 {
			color: #17233b;
			font-weight: 600;
		}
	}

	.network-data {
		display: flex;
		justify-content: center;
		position: relative;
		margin-top: 40px;
		padding: 40px 0;
		background-image: url("../../img/landing/new/map.png");
		background-repeat: no-repeat;
		background-position: center;
		overflow: hidden;
		margin-right: -24px;
		margin-left: -24px;
		padding-right: 24px;
		padding-left: 24px;

		@media (min-width: @screen-sm-min) {
			margin-top: 64px;
			height: 428px;
			padding: 96px 0;
			width: 100%;
		}

		&_stats {
			display: flex;
			flex-flow: row wrap;
			gap: 24px;

			@media (min-width: @screen-md-min) {
				gap: 0;
			}

			&_item {
				display: flex;
				align-items: center;
				flex-direction: row;
				flex-grow: 1;
				flex-basis: calc(50% - 24px);
				gap: 24px;

				@media (min-width: @screen-md-min) {
					flex-direction: column;
					flex-basis: 0;
				}

				>img {
					width: 56px;
					height: 56px;

					@media (min-width: @screen-sm-min) {
						width: 80px;
						height: 80px;
					}
				}

				&_green, &_regular {
					display: flex;
					flex-direction: column;

					@media (min-width: @screen-sm-min) {
						align-items: center;
					}

					>span {
						&:nth-child(1) {
							font-weight: 600;
							font-size: 24px;
							line-height: 36px;
							letter-spacing: .2px;

							@media (min-width: @screen-sm-min) {
								font-size: 32px;
								line-height: 44px;
							}
						}

						&:nth-child(2) {
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;

							@media (min-width: @screen-sm-min) {
								font-size: 16px;
								line-height: 24px;
							}
						}
					}
				}

				&_green {
					>span:nth-child(1) {
						color: #0b8e5f;
					}

					>span:nth-child(2) {
						color: #17233b;
					}
				}

				&_regular {
					>span:nth-child(1) {
						color: #17233b;
					}

					>span:nth-child(2) {
						color: #79849a;
					}
				}
			}
		}

		>svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;

			g {
				&:nth-child(4n) circle {
					animation-delay: .8s;
				}

				&:nth-child(4n - 1) circle {
					animation-delay: 1.6s;
				}

				&:nth-child(4n - 2) circle {
					animation-delay: 2.4s;
				}

				&:nth-child(4n - 3) circle {
					animation-delay: 3.2s;
				}
			}

			circle {
				&:first-child {
					fill: #fa8f76;
					animation: pulse1 3s ease-in-out infinite;
				}

				&:last-child {
					fill: rgba(#fa8f76, .5);
					animation: pulse2 3s ease-in-out infinite;
				}
			}
		}

		.btn-link-to {
			@media (min-width: @screen-sm-min) {
				justify-content: center;
			}
		}
	}

	.dev-friendly {
		position: relative;
		display: flex;
		justify-content: center;
		overflow: hidden;
		margin-top: 40px;
		margin-right: -24px;
		margin-left: -24px;
		background: linear-gradient(75.43deg, #17233b 0%, #1b2946 100%);
		font-family: "Source Code Pro", monospace;
		padding: 40px 24px 319px;

		@media (min-width: @screen-sm-min) {
			width: 100%;
			max-width: 1224px;
			margin-top: 128px;
			padding: 88px 24px;
		}

		&_image {
			position: absolute;
			width: 324px;
			height: 240px;
			bottom: 40px;
			right: 50%;
			transform: translateX(50%);
			background: url("../../img/landing/new/dev-friendly/dev-friendly-bg.svg") no-repeat;

			@media (min-width: @screen-sm-min) {
				top: -8px;
				bottom: 0;
				right: -51px;
				transform: translate(0);
			}
		}

		&_gradient {
			display: none;

			@media (min-width: @screen-sm-min) {
				display: block;
				top: 0;
				right: 0;
				position: absolute;
				width: 1003px;
				height: 472px;
				background: url("../../img/landing/new/dev-friendly/dev-friendly-gradient.svg") no-repeat;
			}
		}

		.wrapper-lg {
			display: flex;
			justify-content: center;
		}

		h3 {
			margin: 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 28px;
			color: #cfd6dd;

			@media (min-width: @screen-sm-min) {
				font-size: 24px;
				line-height: 40px;
			}
		}

		p {
			margin: 8px 0 0;
			font-weight: 700;
			font-size: 20px;
			line-height: 32px;
			letter-spacing: -.4px;
			color: #dfe3e7;

			@media (min-width: @screen-sm-min) {
				font-size: 24px;
				line-height: 40px;
			}

			>span {
				color: #fff;
			}
		}

		h6 {
			color: #f3f5f7;
			font-weight: 700;
		}
	}

	.api {
		display: flex;
		flex-direction: column;
		margin: 40px 0;

		@media (min-width: @screen-md-min) {
			flex-direction: row;
			justify-content: space-between;
			margin: 128px 0;
			column-gap: 24px;
		}

		&_content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media (min-width: @screen-md-min) {
				max-width: 496px;
				flex-grow: 1;
				flex-basis: 0;
			}

			h3 {
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: .2px;
				color: #17233b;
				margin: 0;

				@media (min-width: @screen-sm-min) {
					font-size: 32px;
					line-height: 44px;
				}
			}

			p {
				margin: 16px 0 0;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: #5c667a;
			}
		}

		&_code {
			display: flex;
			flex-direction: column;
			margin-top: 40px;
			height: 304px;

			@media (min-width: @screen-sm-min) {
				height: 394px;
			}

			@media (min-width: @screen-md-min) {
				max-width: 648px;
				margin-top: 0;
				flex-grow: 2;
				flex-basis: 0;
			}
		}
	}

	>section.c-new-infographic-banner {
		width: 100%;
		padding-bottom: 0;
	}

	.js-modules {
		display: flex;
		flex-direction: column;
		margin-top: 40px;

		@media (min-width: @screen-md-min) {
			flex-direction: row;
		}

		@media (min-width: @screen-md-min) {
			flex-direction: row-reverse;
			justify-content: space-between;
			margin-top: 128px;
			column-gap: 24px;
		}

		&_content {
			display: flex;
			flex-direction: column;

			@media (min-width: @screen-md-min) {
				max-width: 496px;
				flex-grow: 1;
				flex-basis: 0;
			}

			h3 {
				margin: 0;
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: .2px;
				color: #17233b;

				@media (min-width: @screen-md-min) {
					font-size: 32px;
					line-height: 44px;
				}
			}

			p {
				margin: 16px 0 0;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: #5c667a;
			}

			&_checklist {
				display: flex;
				flex-direction: column;
				margin-top: 16px;
				row-gap: 16px;

				>div {
					display: flex;
					column-gap: 8px;
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
					color: #17233b;
				}
			}
		}

		&_code {
			display: flex;
			flex-direction: column;
			flex-grow: 2;
			margin-top: 40px;

			@media (min-width: @screen-md-min) {
				max-width: 648px;
				flex-grow: 1;
				flex-basis: 0;
				margin-top: 0;
			}

			.code-footer {
				display: flex;
				padding: 2px 16px 16px;
				justify-content: space-between;
				align-items: center;

				@media (min-width: @screen-sm-min) {
					padding: 24px;
					padding-top: 2px;
				}

				span {
					font-weight: 400;
					font-size: 12px;
					line-height: 16px;
					color: #79849a;
				}
			}

			pre {
				white-space: pre-line;
				word-wrap: break-word;
				padding: 16px 16px 0;
				background-color: #fff;
				counter-reset: line;
				border: none;
				margin-bottom: 8px;

				span {
					font-family: "Source Code Pro", monospace;
					font-size: 14px;
					line-height: 20px;
					font-weight: 500;
					color: #5c667a;

					&:before {
						white-space: nowrap;
						margin-right: 8px;
						counter-increment: line;
						content: counter(line);
						color: #b2bdc7;
						display: inline-block;
						width: 16px;
					}
				}
			}
		}
	}

	.top-packages {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-top: 40px;
		position: relative;

		@media (min-width: @screen-md-min) {
			flex-direction: row;
			justify-content: space-between;
			margin-top: 128px;
			gap: 0;
		}

		&_analytics-graph {
			display: none;

			@media (min-width: @screen-md-min) {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;

				>svg {
					position: absolute;
					z-index: 1;
					bottom: -10px;
					left: -5px;
				}
			}
		}

		&_content {
			display: flex;
			flex-direction: column;

			@media (min-width: @screen-md-min) {
				flex-grow: 1;
				flex-basis: 0;
				max-width: 575px;
			}

			h3 {
				margin: 0 0 16px;
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: .2px;
				color: #17233b;

				@media (min-width: @screen-md-min) {
					font-size: 32px;
					line-height: 44px;
				}
			}

			p {
				margin: 0;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				color: #5c667a;

				@media (min-width: @screen-md-min) {
					margin-right: 50px;
				}
			}

			.btn-link-to {
				display: none;

				@media (min-width: @screen-md-min) {
					display: flex;
					margin-top: 32px;
				}
			}
		}

		&_packages-list {
			display: flex;
			flex-direction: column;

			@media (min-width: @screen-md-min) {
				flex-grow: 1;
				flex-basis: 0;
				max-width: 648px;
				z-index: 2;
			}

			.c-stats-table {
				border: none;

				.item + .item {
					border-top: none;
				}

				.item {
					box-shadow: inset 0 -1px 0 rgba(14, 25, 47, .08);
					display: grid;
					grid-template-columns: 24px 1fr;
					grid-template-rows: auto auto;
					grid-gap: 8px 12px;

					@media (min-width: @screen-sm-min) {
						padding: 12px 20px 12px 12px;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						grid-gap: 0;
					}

					.index {
						grid-row: 1 / -1;
						align-self: start;

						@media (min-width: @screen-sm-min) {
							margin-right: 12px;
						}

						@media (min-width: @screen-md-min) {
							align-self: center;
						}
					}

					>a {
						display: flex;

						.prefix {
							color: #79849a;
							font-weight: 400;
						}
					}

					.hits {
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #f65128;
						text-align: left;
					}

					.table-chart-lg {
						@media (min-width: @screen-sm-min) {
							margin-left: 24px;
						}
					}
				}
			}
		}

		.btn-link-to.bottom {
			margin-top: 0;

			@media (min-width: @screen-sm-min) {
				justify-content: center;
			}

			@media (min-width: @screen-md-min) {
				display: none;
			}
		}
	}

	.sponsors {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 40px;

		&_content {
			display: flex;

			h5 {
				margin: 0 0 24px;
				font-weight: 600;
				font-size: 20px;
				line-height: 32px;
				letter-spacing: .2px;
				color: #17233b;
			}

			.btn-link-to {
				display: none;
			}
		}

		&_sponsors-list {
			position: relative;
			display: flex;

			&.expanded {
				.sponsors_sponsors-list_list-wrapper {
					height: auto;
					padding-bottom: 48px;
				}

				.sponsors_sponsors-list_gradient {
					display: none;
				}
			}

			&_list-wrapper {
				display: flex;
				flex-flow: row wrap;
				gap: 24px 24px;
				height: 135px;
				overflow: hidden;

				>img {
					max-height: 32px;
					opacity: .5;
				}
			}

			&_gradient {
				position: absolute;
				background: url("../../img/landing/new/sponsors-gradient.svg");
				width: 100%;
				height: 92px;
				bottom: -7px;
				left: 0;
			}

			.btn-more.btn-grey {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translate(-50%);
			}
		}

		@media (min-width: @screen-sm-min) {
			margin-bottom: 30px;
		}

		// .top-packages-table {
		// 	display: flex;
		// 	justify-content: center;

		// 	.logo-wrapper {
		// 		display: flex;
		// 		width: 350px;
		// 		flex-wrap: wrap;
		// 		justify-content: space-between;

		// 		@media (min-width: @screen-sm-min) {
		// 			justify-content: unset;
		// 			width: 100%;
		// 		}

		// 		each(range(19), {
		// 			img:nth-child(@{index}) {
		// 				opacity: if( @index > 3, if( @index > 9, 0, calc(1.5 / @index)) , 0.5);
		// 				display: if( @index > 9, none, block);
		// 			}
		// 		})

		// 		img {
		// 			width: unset;
		// 			margin: 10px 0;

		// 			@media (min-width: @screen-sm-min) {
		// 				margin: 10px;
		// 				opacity: .5 !important;
		// 				display: block !important;
		// 			}
		// 		}

		// 		&.expanded img {
		// 			opacity: .5;
		// 			display: block;
		// 		}
		// 	}

		// 	.btn-more {
		// 		position: absolute;
		// 		bottom: 0;
		// 		z-index: 1;

		// 		@media (min-width: @screen-sm-min) {
		// 			display: none;
		// 		}
		// 	}
		// }
	}

	//// not revied code below
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a:hover {
		text-decoration: none;
	}

	h3 {
		font-size: 24px;
		line-height: 32px;

		@media (min-width: @screen-sm-min) {
			font-size: 32px;
		}
	}

	p {
		font-size: 14px;
		line-height: 20px;
	}

	.text-center {
		text-align: center;
	}

	.flex {
		display: flex;

		&-center {
			align-items: center;
			justify-content: center;
		}
	}

	span {
		color: #79849a;
	}

	.endpoints {
		.container-lg {
			padding-top: 40px;
			border-bottom-width: 0;

			@media (min-width: @screen-sm-min) {
				border-bottom-width: 1px;
				padding-top: 80px;
			}

			.top-packages-table {
				width: 300vw;
				overflow-x: scroll;

				& > div {
					width: calc(100vw - 48px);
				}

				@media (min-width: @screen-sm-min) {
					& > div {
						width: auto;
					}
					overflow-x: auto;
					width: auto;
				}
				scrollbar-color: #16223a #dfe3e7;
				gap: 8px;
				margin-top: 24px;

				@media (min-width: @screen-sm-min) {
					margin-top: 0;
				}
			}

			.top-packages-table-wrapper {
				display: flex;
				width: auto;
				overflow-x: hidden;

				@media (min-width: @screen-sm-min) {
					display: block;
					width: auto;
					overflow-x: auto;
					padding-right: 20px;
				}
			}

			.top-packages-title {
				.btn-arrow {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: inline-flex;
					}
				}
			}
		}

		&-flex {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 17px;

			> div {
				background: #fff;
				border: 1px solid #dfe3e7;
				border-radius: 8px;
				padding: 32px 20px;
				text-align: center;
			}

			img {
				max-height: 56px;
				display: block;
				margin: 0 auto 24px;
				width: auto;
			}

			p {
				font-size: 18px;
				color: #17233b;
				margin-bottom: 0;
			}

			span {
				font-size: 14px;
				margin-bottom: 24px;
				display: block;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.flex {
			flex-direction: column-reverse;

			.btn-arrow {
				margin-top: 24px;
				order: -1;

				@media (min-width: @screen-sm-min) {
					display: none;
				}
			}

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
			}
		}
	}
}

@keyframes pulse1 {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	40% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes pulse2 {
	0% {
		transform: scale(1);
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		transform: scale(5);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}
