@import "../mixins.less";
@import "../variables.less";

.c-landing-bottom {
	color: #5C667A;
	font-size: 16px;
	line-height: 1.5;

	.section {
		padding: 64px 20px;
	}

	.container {
		max-width: 1015px;
		padding: 0;
	}
	
	.container-lg {
		max-width: 1224px;
		margin: 0 auto;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a:hover {
		text-decoration: none;
	}

	h1,h2,h3,h4,h5,h6 {
		color: #17233B;
		margin: 0;
		line-height: 1.4;
		font-weight: 700;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 32px;
	}

	.text-center {
		text-align: center;
	}

	.checklist {
		margin-bottom: 24px;

		li {
			display: flex;
			align-items: flex-start;
			padding-left: 32px;
			position: relative;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.flex {
		display: flex;

		&-center {
			align-items: center;
			justify-content: center;
		}
	}

	span {
		color: #79849A;
	}
	
	.code {
		background: #FFFFFF;
		border: 1px solid #CFD6DD;
		box-shadow: 0px 4px 2px -2px rgba(23, 35, 59, 0.06), 0px 2px 8px rgba(23, 35, 59, 0.04);
		border-radius: 6px;
	}

	.features-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px 22px;

		a {
			display: flex;
			align-items: center;
			gap: 20px;
		}
		
		img {
			display: block;
			width: 64px;
			min-width: 64px;
			height: auto;
		}

		h6 {
			font-size: 16px;
			font-weight: 600;
		}
	}

	.built-for-production {
		h2 {
			margin-bottom: 64px;
			margin-top: 8px;
		}
	}

	.network-data {
		text-align: center;
		margin-top: 64px;
		position: relative;
		padding: 95px 0;

		> * {
			position: relative;
			z-index: 2;
		}

		&-grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 30px;
			margin-bottom: 40px;
	
			.green {
				color: #0B8E5F;
			}
	
			p {
				color: #17233B;
			}
		}

		&-map {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: contain;
			z-index: 1;
		}		
	}

	.dev-friendly {
		.container-lg {
			background: url("../../img/landing/new/dev-bg.svg") no-repeat top right / cover;
			border-radius: 6px;
			font-family: "Source Code Pro";
			padding: 88px 20px;
		}

		h3 {
			color: #CFD6DD;
			margin-bottom: 8px;
			font-weight: 500;
			font-size: 24px;
		}

		p {
			color: #DFE3E7;
			letter-spacing: -0.4px;
			margin-bottom: 40px;
			font-size: 24px;
			font-weight: 700;

			span {
				color: #fff;
			}
		}

		h6 {
			color: #F3F5F7;
			font-weight: 700;
		}
	}

	.api {
		.flex {
			justify-content: space-between;
		}

		h3 {
			margin-bottom: 16px;
		}

		p {
			margin-bottom: 22px;
		}

		&-content {
			width: 40.5%;
		}

		&-code {
			width: 53%;
		}
	}
	
	.infographic {
		.container-lg {
			background: #FCF0ED;
			border-radius: 8px;
			padding: 0 20px;
		}

		.flex {
			align-items: center;
			justify-content: space-between;
		}

		h3 {
			font-size: 24px;
			font-weight: 600;
			margin-bottom: 32px;
			line-height: 1.5;
		}

		strong {
			color: @c-orange;
		}

		&-content {
			width: 39%;
		}

		&-image {
			width: 61%;

			img {
				display: block;
				width: calc(100% + 50px);
				height: auto;
			}
		}
	}

	.js-modules {
		&-content {
			p {
				margin-bottom: 16px;
			}
		}
	}

	.top-packages {
		padding-top: 0;
		padding-bottom: 0;

		.container-lg {
			padding-top: 80px;
			padding-bottom: 80px;
		}

		.flex {
			border-bottom: 1px solid #DFE3E7;
		}

		&:last-child {
			
			.container-lg {
				padding-bottom: 0;
			}

			.flex {
				border-bottom: 0;
			}
		}

		.flex {
			justify-content: space-between;
		}

		&-table {
			width: 70%;

			img {
				width: 100%;
				display: block;
			}
		}

		&-title {
			width: 20%;
			min-width: 288px;

			span, h5 {
				font-size: 20px;
				display: block;
				line-height: 1.5;
			}

			a {
				margin-top: 16px;
			}
		}
	}
	
	.endpoints {
		&-flex {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 17px;

			> div {
				background: #FFFFFF;
				border: 1px solid #DFE3E7;
				border-radius: 8px;
				padding: 32px 20px;
				text-align: center;
			}

			img {
				max-height: 56px;
				display: block;
				margin: 0 auto 24px;
				width: auto;
			}

			p {
				font-size: 18px;
				color: #17233B;
				margin-bottom: 0;
			}

			span {
				font-size: 14px;
				margin-bottom: 24px;
				display: block;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
