.c-network-provider-stats {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	margin: 40px 0 0;
	row-gap: 40px;

	@media (min-width: @screen-sm-min) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		column-gap: 16px;
	}

	@media (min-width: @screen-md-min) {
		column-gap: 24px;
	}

	@media (min-width: @screen-lg-min) {
		column-gap: 48px;
	}

	.text-table-number {
		font-size: 15px;
	}

	.block {
		display: flex;
		flex-direction: column;
		max-width: 588px;

		@media (min-width: @screen-sm-min) {
			flex-grow: 1;
			flex-basis: 0;
		}

		h3 {
			margin: 0;
			font-weight: 600;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: .2px;
			color: #111a2c;

			@media (min-width: @screen-sm-min) {
				font-size: 24px;
				line-height: 36px;
				color: #17233b;
			}
		}

		.table {
			margin: 16px 0 0;
			background: #fff;
			border: 1px solid #dfe3e7;
			box-sizing: border-box;
			box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
			border-radius: 6px;

			@media (min-width: @screen-sm-min) {
				margin: 24px 0 0;
			}

			.bandwidth-stats {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				height: 72px;
				padding: 0 16px;
				background: transparent;
				box-shadow: inset 0 -1px 0 #dfe3e7;

				.card-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 32px;
					height: 32px;
					background: #f3f5f7;
					border-radius: 6px;
					margin-right: 8px;
				}

				.card-main-stat {
					font-weight: 600;
					font-size: 18px;
					line-height: 26px;
					letter-spacing: .2px;
					color: #111a2c;
				}

				.card-growth {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					margin-left: auto;

					> div > span {
						font-weight: 600;
						font-size: 14px;
						line-height: 24px;
						text-align: right;
						letter-spacing: .2px;
						color: #0b8e5f;
					}

					>span {
						white-space: nowrap;
						font-weight: 400;
						font-size: 12px;
						line-height: 16px;
						text-align: right;
						color: #5c667a;
					}
				}
			}

			.bandwidth-list {
				.list {
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 56px;
					box-shadow: inset 0 -1px 0 rgba(14, 25, 47, .08);
					font-family: Lexend, sans-serif;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					color: #111a2c;

					@media (max-width: @screen-sm-min) {
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						height: 76px;
					}

					.info {
						width: 60%;
						display: flex;
						justify-content: space-between;
						margin-right: 24px;

						.icon {
							display: flex;
							align-items: center;

							@media (min-width: @screen-sm-min) {
								margin-bottom: 8px;
							}

							img {
								margin-left: 12px;
								margin-right: 8px;

								@media (min-width: @screen-sm-min) {
									margin-left: 20px;
								}
							}
						}

						.text-table-number {
							@media (max-width: @screen-sm-min) {
								display: none;
							}
						}
					}

					.chart {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						margin: 8px 0 0;
						padding: 0 12px;

						@media (min-width: @screen-sm-min) {
							width: 40%;
							margin: 0 18px 0 0;
							padding: 0 16px 0 12px;
						}

						.text-table-number-for-mobile {
							display: block;
							width: 45%;

							@media (min-width: @screen-sm-min) {
								display: none;
							}
						}

						.percentage-bar {
							width: 144px;

							@media (max-width: @screen-sm-min) {
								max-width: 128px;
								padding: 0 5px;
							}

							&_filled {
								height: 4px;
							}
						}

						.interest {
							width: 55px;
							text-align: right;
						}
					}
				}

				.list:last-child {
					box-shadow: none;
				}
			}
		}
	}
}
