.c-network-provider-stats {
    display: flex;
    justify-content: space-between;
    margin: 0;

    .block {
        width: 570px;
        h3 {
            margin: 0;
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.2px;
            color: #17233B;
        }
        .table {
            margin-top: 24px;
            margin-bottom: 0;
            background: #FFFFFF;
            border: 1px solid #DFE3E7;
            box-sizing: border-box;
            box-shadow: 0px 4px 2px -2px rgba(23, 35, 59, 0.06), 0px 2px 8px rgba(23, 35, 59, 0.04);
            border-radius: 6px;
            .bandwidth-stats {
                display: flex;
                flex-direction: column;

                @media (min-width: @screen-sm-min) {
                    flex-direction: row;
                }
                align-items: center;
                >div {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    padding: 16px 0;
                    height: auto;
                    align-items: center;
                    text-align: center;

                    @media (min-width: @screen-sm-min) {
                        flex-direction: row;
                        text-align: left;
                        height: 96px;
                        width: 600px;
                        padding: 0 20px;
                    }
                    border-bottom: 1px solid #dfe3e7;
                    box-sizing: border-box;

                    .card-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;

                        @media (min-width: @screen-sm-min) {
                            width: 48px;
                            height: 48px;
                            background: #f3f5f7;
                            margin-right: 20px;
                        }
                        border-radius: 6px;
                    }

                    .card-main-stat {
                        display: flex;
                        flex-direction: column;
                        margin-top: 16px;

                        font-weight: 600;
                        font-size: 18px;
                        line-height: 26px;
                        letter-spacing: .2px;
                        color: #111a2c;

                        @media (min-width: @screen-sm-min) {
                            margin-top: 0;
                            font-size: 24px;
                            line-height: 36px;
                        }
                    }

                    .card-growth {
                        display: flex;
                        margin-left: 0;
                        align-items: center;
                        margin-top: 16px;

                        @media (min-width: @screen-sm-min) {
                            margin-left: auto;
                            flex-direction: column;
                            align-items: stretch;
                            margin-top: 0;
                        }

                        >div:nth-child(1) {
                            display: flex;
                            margin-right: 4px;

                            @media (min-width: @screen-sm-min) {
                                justify-content: flex-end;
                                margin-right: 0;
                            }
                        }

                        >div:nth-child(2) {
                            font-size: 14px;
                            line-height: 20px;
                            color: #5c667a;
                            margin-left: 4px;

                            @media (min-width: @screen-sm-min) {
                                margin-left: 0;
                            }
                        }

                        .growth-positive, .growth-negative {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: .2px;
                        }

                        .growth-positive {
                            color: #0b8e5f;
                        }

                        .growth-negative {
                            color: #eb3333;
                        }
                    }
                }
            }
            .bandwidth-list {
                .list{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 56px;
                    box-shadow: inset 0px -1px 0px rgba(14, 25, 47, 0.08);
                    font-family: 'Lexend';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #111A2C;

                    .info {
                        width: 60%;
                        display: flex;
                        justify-content: space-between;
                        margin-right: 24px;

                        .icon {
                            display: flex;
                            align-items: center;
                            img {
                                margin-left: 20px;
                                margin-right: 8px;
                            }
                        }
                    }
                    .chart {
                        width: 40%;
                        margin-right: 18px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .percentage-bar {
                            width: 144px;
                            .barWidth {
                                height: 4px;
                            }
                        }
                        .interest {
                            width: 55px;
                            text-align: right;
                        }
                    }
                }
                .list:last-child{
                    box-shadow: none;
                }
            }
        }
    }
}

@media (max-width: @screen-sm-min) {
    .c-network-provider-stats {
        display: block;
        .block {
            width: 100%;
            margin-top: 40px;
            h3 {
                font-size: 18px;
            }
            .table {
                .bandwidth-stats {
                    height: 72px;
                    div {
                        padding: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        .card-main-stat {
                            margin: 0;
                            font-size: 18px;
                        }
                        .card-growth {
                            margin: 0;
                            margin-left: 39px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            .growth-positive {
                                text-align: right;
                                font-size: 14px;
                            }
                            span:last-child {
                                font-size: 12px !important;
                            }
                        }
                    }
                    .card-icon {
                        margin: 20px 8px 20px 16px;
                        background: #F3F5F7;
                        border-radius: 6px;
                    }
                }
                .bandwidth-list {
                    .list{
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        height: 76px;
                        .icon {
                            margin-bottom: 8px;
                        }
                        .chart {
                            margin: 0;
                            padding: 0px 16px 0px 12px;
                            .percentage-bar {
                                width: 128px;
                            }
                        }
                    }
                }
            }
        }
    }
}