.c-network-provider-stats {
	display: block;
	margin: 0;

	@media (min-width: @screen-md-min) {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}

	.block {
		width: 100%;
		margin-top: 40px;

		@media (min-width: @screen-md-min) {
			max-width: 588px;
			width: 50%;
			margin: 0;
		}

		h3 {
			margin: 0;
			font-family: Lexend, sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 36px;
			letter-spacing: .2px;
			color: #17233b;

			@media (min-width: @screen-sm-min) {
				font-size: 24px;
			}
		}

		.table {
			margin-top: 16px;
			margin-bottom: 0;
			background: #fff;
			border: 1px solid #dfe3e7;
			box-sizing: border-box;
			box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
			border-radius: 6px;

			@media (min-width: @screen-sm-min) {
				margin-top: 24px;
			}

			.bandwidth-stats {
				height: 72px;
				display: flex;
				flex-direction: column;

				@media (min-width: @screen-sm-min) {
					flex-direction: row;
					height: auto;
				}
				align-items: center;

				>div {
					display: flex;
					width: 100%;
					padding: 16px 12px;
					height: auto;
					align-items: center;
					text-align: center;
					border-bottom: 1px solid #dfe3e7;
					box-sizing: border-box;

					@media (min-width: @screen-sm-min) {
						flex-direction: row;
						text-align: left;
						height: 96px;
						padding: 0 20px;
					}

					.card-icon {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 32px;
						height: 32px;
						border-radius: 6px;
						background: #f3f5f7;

						@media (min-width: @screen-sm-min) {
							width: 48px;
							height: 48px;
							margin-right: 20px;
						}
					}

					.card-main-stat {
						display: flex;
						flex-direction: column;
						margin-left: 8px;
						font-weight: 600;
						font-size: 18px;
						line-height: 26px;
						letter-spacing: .2px;
						color: #111a2c;

						@media (min-width: @screen-sm-min) {
							margin-top: 0;
							font-size: 24px;
							line-height: 36px;
						}
					}

					.card-growth {
						margin-left: auto;

						@media (min-width: @screen-sm-min) {
							display: flex;
							flex-direction: column;
							align-items: stretch;
							margin-top: 16px;
						}

						>div:nth-child(1) {
							display: flex;
							justify-content: flex-end;
							margin-right: 4px;

							@media (min-width: @screen-sm-min) {
								margin-right: 0;
							}
						}

						>div:nth-child(2) {
							font-size: 14px;
							line-height: 20px;
							color: #5c667a;
							margin-left: 4px;

							@media (min-width: @screen-sm-min) {
								margin-left: 0;
							}
						}

						.growth-positive, .growth-negative {
							font-weight: 600;
							font-size: 14px;
							letter-spacing: .2px;

							@media (min-width: @screen-sm-min) {
								font-size: 16px;
							}
						}

						.growth-positive {
							color: #0b8e5f;
						}

						.growth-negative {
							color: #eb3333;
						}

						span:last-child {
							@media (max-width: @screen-sm-min) {
								font-size: 12px;
							}
						}
					}
				}
			}

			.bandwidth-list {
				.list {
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 56px;
					box-shadow: inset 0 -1px 0 rgba(14, 25, 47, .08);
					font-family: Lexend, sans-serif;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					color: #111a2c;

					@media (max-width: @screen-sm-min) {
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;
						height: 76px;
					}

					.info {
						width: 60%;
						display: flex;
						justify-content: space-between;
						margin-right: 24px;

						.icon {
							display: flex;
							align-items: center;

							@media (min-width: @screen-sm-min) {
								margin-bottom: 8px;
							}

							img {
								margin-left: 12px;
								margin-right: 8px;

								@media (min-width: @screen-sm-min) {
									margin-left: 20px;
								}
							}
						}

						.text-table-number {
							@media (max-width: @screen-sm-min) {
								display: none;
							}
						}
					}

					.chart {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						margin: 8px 0 0;
						padding: 0 12px;

						@media (min-width: @screen-sm-min) {
							width: 40%;
							margin: 0 18px 0 0;
							padding: 0 16px 0 12px;
						}

						.text-table-number-for-mobile {
							display: block;
							width: 45%;

							@media (min-width: @screen-sm-min) {
								display: none;
							}
						}

						.percentage-bar {
							width: 144px;

							@media (max-width: @screen-sm-min) {
								max-width: 128px;
								padding: 0 5px;
							}

							.barWidth {
								height: 4px;
							}
						}

						.interest {
							width: 55px;
							text-align: right;
						}
					}
				}

				.list:last-child {
					box-shadow: none;
				}
			}
		}
	}
}
