.infographic {

	.container {
		max-width: 1015px;
		padding: 0;
		width: 100%;
	}

	.container-lg {
		max-width: 1224px;
		margin: 0 auto;
		background: #fcf0ed;
		border-radius: 8px;
		padding: 24px;
		@media (min-width: @screen-sm-min) {
		padding: 0 20px;
        }
	}

	.flex {
		display: flex;
                flex-direction: column;
		@media (min-width: @screen-sm-min) {
                flex-direction: row;
                }
		align-items: center;
		justify-content: space-between;
	}

	h3 {
		font-size: 18px;
		line-height: 1.5;
		font-weight: 600;
		margin-bottom: 16px;
		@media (min-width: @screen-sm-min) {
		font-size: 24px;
		margin-bottom: 32px;
              }
	}

	strong {
		color: @c-orange;
	}

	&-content {
          width: 100%;
		@media (min-width: @screen-sm-min) {
		width: 39%;
              }
              a {
                width: 100%;
              }
              h3 {
                text-align: center;}
		@media (min-width: @screen-sm-min) {
              h3 {
                text-align:left;
              }
              a {
                width: auto;
              }
	}
      }

	&-image {
          width: 100%;
          margin: -24px;
          margin-top: 16px;
          img {
            width: 100%;
            height: auto;
          }
            display: block;
            @media (min-width: @screen-sm-min) {
              display: none;
            }

          

          &-desktop {
            width: 100%;
            display: none;
            @media (min-width: @screen-sm-min) {
              display: block;
              width: 61%;
            }

            img {
              display: block;
              width: calc(100% + 50px);
              height: auto;
            }
          }
	}
}
