@import "../variables.less";

.c-package {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.small-headline {
		font-size: 18px;
		font-weight: 600;
	}

	.package-usage {
		.small-headline {
			padding: 40px 0;
			position: relative;
		}

		.total-headline {
			text-align: center;
			padding-top: 0;
		}

		.c-stats-table {
			min-height: 346px;
		}

		.version-dropdown {
			vertical-align: top;

			.dropdown-menu {
				max-height: 228px;
			}
		}
	}

	.btn-group {
		.btn {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #111a2c;
			border: none;
			background-color: #fff;
			box-shadow: none;
			padding: 0 7px 0 0;

			>span {
				margin-right: 11px;
			}
		}

		&.open {
			.btn {
				&, &:hover, &:focus, &:active {
					color: #f65128;
				}
			}

			.dropdown-menu {
				right: 0;
				left: auto;
				background: #fff;
				border: 1px solid #dfe3e7;
				box-sizing: border-box;
				box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
				border-radius: 6px;
				padding: 8px;
				width: 160px;
				margin-top: 9px;

				> li > a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					height: 40px;
					font-size: 14px;
					line-height: 20px;
					color: #111a2c;
					padding: 0 10px;

					&:hover {
						background: #f3f5f7;
						border-radius: 4px;
					}
				}
			}
		}
	}

	.bottom-chart {
		margin-top: 40px;
		position: relative;
		padding-top: 50px;
		height: 300px;

		.chart-x {
			> div {
				position: absolute;
				top: 0;
				width: 200px;
				height: 100%;
				text-align: center;
				opacity: .5;
				transition: opacity 200ms ease;

				&:hover, &:hover .x-line {
					opacity: 1;
				}
			}

			.x-number {
				width: 100%;
				bottom: 270px;
				font-size: 18px;
				font-weight: 700;
				color: #ff5627;
			}

			.x-date {
				width: 100%;
				bottom: 250px;
				font-weight: 700;
				opacity: .5;
			}

			.x-line {
				position: absolute;
				height: 250px;
				width: 1px;
				bottom: 0;
				left: 50%;
				background-color: #ff5627;
				opacity: .5;
			}
		}

		.chart-y {
			position: absolute;
			height: 250px;
			right: 20px;
			top: 50px;
			text-align: right;
			font-weight: 600;
			color: @c-orange;
			opacity: .9;

			> div {
				margin-top: -7px;
				line-height: 1;
			}
		}
	}

	.package-usage-empty {
		padding: 40px 0;
	}

	.c-search-compact {
		margin-bottom: 20px;
	}

	.package-nav {
		display: flex;
		align-items: center;
		margin-bottom: 40px;

		&-route {
			display: flex;
			align-items: center;
			height: 48px;
			padding: 12px 24px 12px 27px;
			border-radius: 5px;
			font-size: 16px;
			line-height: 24px;
			color: #5c667a;
			cursor: pointer;
			text-decoration: none;

			>img {
				margin-right: 12px;
			}

			&:nth-last-child(1) {
				margin-left: auto;

				>img {
					margin-right: 0;
					margin-left: 12px;
				}
			}

			&-active {
				color: #111a2c;
				background: #edf0f2;
			}
		}
	}

	.main-content {
		width: 808px;
		padding: 0;
		margin-right: 54px;
		float: left;
	}

	.side-content {
		width: 358px;
		float: left;
	}

	.full-width-content {
		width: 1224px;
	}

	.container {
		width: 1224px;

		>.row:nth-child(1) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.package-readme {
		.header-primary {
			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			letter-spacing: .2px;
			color: #111a2c;
		}

		.header-secondary {
			font-weight: 600;
			font-size: 20px;
			line-height: 32px;
			letter-spacing: .2px;
			color: #111a2c;
		}

		.header-tertiary {
			font-weight: 600;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: .2px;
			color: #111a2c;
		}

		.description {
			font-size: 14px;
			line-height: 24px;
			color: #5c667a;
		}
	}

	.package-link {
		color: #f65128;
	}

	.mb-32 {
		margin-bottom: 32px;
	}

	.mt-32 {
		margin-top: 32px;
	}

	.mb-8 {
		margin-bottom: 8px;
	}

	.mt-8 {
		margin-top: 8px;
	}

	.mt-16 {
		margin-top: 16px;
	}

	.mt-24 {
		margin-top: 24px;
	}

	.mb-24 {
		margin-bottom: 24px;
	}

	.text-primary {
		font-size: 14px;
		line-height: 24px;
		color: #5c667a;
	}

	.text-secondary {
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: .2px;
		color: #111a2c;
	}

	.script-block {
		font-family: "Source Code Pro", monospace;
		color: #5c667a;
		background: #f3f5f7;
		border-radius: 4px;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		padding: 20px;

		.text-js-keywords {
			color: #1481b8;
		}

		.text-js-func {
			color: #a7921b;
		}

		.text-js-string {
			color: #5e9d1f;
		}
	}

	.horizontal-divider {
		height: 1px;
		background: #dfe3e7;
	}

	.package-stats {
		position: relative;
		padding: 32px;
		font-size: 14px;
		line-height: 20px;
		color: #5c667a;
		background: #fff;
		border: 1px solid #dfe3e7;
		box-sizing: border-box;
		box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
		border-radius: 6px;

		&.move-top {
			margin-top: -14px;
		}

		select {
			height: 20px;
			background: #fff;
			border: none;
			color: #111a2c;

			>option {
				padding-right: 11px;
			}
		}
	}

	.stats-chart {
		height: 40px;
		background: #f65128;
	}

	.stats-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.btn-full-stats {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		background: #fcf0ed;
		border-radius: 6px;
		color: #f65128;
		text-decoration: none;
		cursor: pointer;
	}

	.twitter-share {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #111a2c;
		height: 92px;
		background: #f3f5f7;
		border-radius: 6px;

		.btn-twitter-share {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80px;
			height: 32px;
			background: #1da1f2;
			border-radius: 6px;
			color: #fff;
			text-decoration: none;

			>img {
				margin-right: 4px;
			}
		}
	}

	.stats-keywords {
		display: flex;
		flex-direction: column;
	}

	.stats-keywords-header {
		margin-bottom: 12px;
	}

	.stats-keywords-badges {
		display: flex;
		flex-wrap: wrap;

		.keyword-badge {
			height: 24px;
			background: #edf0f2;
			border-radius: 4px;
			padding: 3px 8px 5px;
			font-size: 12px;
			line-height: 16px;
			color: #111a2c;
			margin-bottom: 4px;

			&:not(:nth-last-child(1)) {
				margin-right: 8px;
			}
		}
	}

	.box-badge {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		>div {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
		}

		>img:not(:nth-last-child(1)) {
			margin-right: 26px;
		}

		>img {
			cursor: pointer;
		}

		.box-title {
			margin-bottom: 18px;
		}
	}

	.block-shadow {
		display: none;
		position: absolute;
		width: 390px;
		height: 199px;
		background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, .991353) 6.67%, rgba(255, 255, 255, .96449) 13.33%, rgba(255, 255, 255, .91834) 20%, rgba(255, 255, 255, .852589) 26.67%, rgba(255, 255, 255, .768225) 33.33%, rgba(255, 255, 255, .668116) 40%, rgba(255, 255, 255, .557309) 46.67%, rgba(255, 255, 255, .442691) 53.33%, rgba(255, 255, 255, .331884) 60%, rgba(255, 255, 255, .231775) 66.67%, rgba(255, 255, 255, .147411) 73.33%, rgba(255, 255, 255, .0816599) 80%, rgba(255, 255, 255, .03551) 86.67%, rgba(255, 255, 255, .0086472) 93.33%, rgba(255, 255, 255, 0) 100%);

		&.bottom {
			display: block;
			top: 255px;
			left: -16px;
			transform: rotate(-180deg);
		}

		&.top {
			display: block;
			bottom: 198px;
			left: -16px;
		}
	}

	.package-config {
		display: flex;
		padding: 32px;
		background: #fff;
		border: 1px solid #dfe3e7;
		box-sizing: border-box;
		box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
		border-radius: 6px;

		.c-package-file-browser {
			width: 736px;
			margin-right: 32px;
		}

		.c-collection-box {
			width: 392px;
		}
	}
}
