@import "../mixins.less";
@import "../variables.less";

.c-search-compact {
	.search-input-wrapper {
		position: relative;

		>img {
			position: absolute;
			top: 10px;
			left: 16px;
			pointer-events: none;
		}

		.search-input {
			display: block;
			width: 100%;
			height: 40px;
			padding: 0 16px 0 44px;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			border: 1px solid #cfd6dd;
			box-sizing: border-box;
			border-radius: 6px;
			outline: none;
			transition: border 400ms;

			.placeholder(#17233b);

			&:focus {
				border-color: @c-orange;
			}
		}
	}

	&-empty {
		padding: 8px 0 16px;
		margin: 0;
	}

	&-wrapper {
		position: absolute;
		top: 68px;
		z-index: 2;
		width: 744px;
		background: #fff;
		border-radius: 8px;
		box-shadow: 0 4px 4px rgba(23, 35, 59, 6%), 0 0 1px 1px rgba(23, 35, 59, 11%), 0 10px 22px -2px rgba(23, 35, 59, 8%);

		@media (max-width: @screen-sm-max) {
			left: 0;
			width: 100%;
		}
	}

	&-overlay {
		content: "";
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #111a2c;
		opacity: 0;
		z-index: -1;
		transition: opacity .3s;
		pointer-events: none;
	}

	&.active {
		* {
			pointer-events: initial;
		}

		.c-search-compact-overlay {
			opacity: .23;
		}
	}

	.search-results {
		padding: 8px 0 0;
	}

	.search-pagination {
		text-align: center;
	}

	.c-package-header-wrapper {
		border-bottom: 1px solid #dfe3e7;
		padding: 16px 24px;

		&.selected {
			background-color: #eee;
		}
	}

	.package-buttons .button:not(:nth-last-child(1)) {
		margin: 0;
	}

	.package-name {
		font-size: 16px;
		line-height: 1.6;
	}

	.package-info {
		min-height: 24px;
	}

	.package-owner img {
		border-radius: 4px;
	}

	.package-buttons {
		height: auto;
	}

	.package-description {
		margin: 10px 0 0;
		font-size: 12px;
		line-height: 1.4;
		min-height: 17px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.package-header-bottom {
		display: none;
	}
}
