@import "../mixins.less";
@import "../variables.less";

.c-search {
	.c-package-header {
		padding: 24px 0;
		border-bottom: 1px solid @c-gray;
	}

	.no-results {
		margin-top: 24px;
		text-align: center;
	}

	.container {
		max-width: 1015px;
		padding: 0;
	}

	&-empty {
		margin-top: 24px;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: .2px;
		font-weight: 600;
	}

	.search-input-wrapper {
		position: relative;
		text-align: center;

		.search-input {
			font-weight: 400;
			font-size: 16px;
			width: 100%;
			outline: none;
			line-height: 54px;
			padding: 0 24px 0 64px;
			color: #17233b;
			border: 1px solid #cfd6dd;
			background: url("../../img/icons/search.svg") no-repeat left 24px center / 24px auto;
			box-shadow: 0 4px 4px -2px rgba(23, 35, 59, .04), 0 0 8px rgba(23, 35, 59, .04);
			border-radius: 6px;
			transition: .2s;

			&::placeholder {
				opacity: 1;
				color: #79849a;
			}

			&:focus, &:active {
				border-color: #f65128;
				box-shadow: none;
			}
		}

		.search-by {
			display: inline-block;
			margin: 20px 0px;
			clear: both;
			

			@media (min-width: @screen-sm-min) {
				margin: -38px 10px;
				float: right;
			}

			&, &:hover, &:focus {
				color: #79849A;
			}

			img {
				margin-left: 5px;
			}
		}
		.filter-by {
			margin-top: 0;
			float: none;
			font-family: 'Lexend';
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: #111A2C;
			
			@media (min-width: @screen-sm-min) {
				margin-top: 18px;
				float: right;
			}
			> span {
				margin-right: 16px;
			}
			> button {
				background: white;
				border: 1px solid #DFE3E7;
				border-radius: 4px;

				&.btn-esm:hover, &.btn-esm.active {
					background: #3370EB;
					color: white;
				}
				&.btn-cjs:hover, &.btn-cjs.active {
					background: #7B4F2C;
					color: white;
				}
				&.btn-js:hover, &.btn-js.active {
					background: #F6DC39;
					color: white;
				}
				&.btn-styles:hover, &.btn-styles.active {
					background: #8228F6;
					color: white;
				}
			}

		}
	}

	.package-name {
		font-size: 24px;
	}

	.package-header-bottom {
		margin-top: 8px;
	}

	.package-description {
		margin-bottom: 16px;
	}

	.search-pagination {
		text-align: center;

		.pagination {
			margin: 40px 0 0;
		}
	}
}
