@import "../variables.less";

.c-stats-table {
	background-color: #fff;
	width: 100%;
	padding-bottom: 40px;
	box-shadow: 0 10px 40px -6px rgba(0, 0, 0, .1);

	@media (max-width: @screen-sm-max) {
		margin-bottom: 100px;
	}

	.hits {
		color: @c-orange;
		font-weight: 700;
		text-align: right;
	}

	th {
		padding: 40px 60px 35px;
		font-size: 18px;
	}

	.stats-table-table {
		width: 100%;
		table-layout: fixed;
	}

	td {
		font-size: 14px;
		font-weight: 600;
		line-height: 40px;
		border-bottom: solid 1px @c-gray;
		border-top: solid 1px @c-gray;
		padding: 0 10px;
		white-space: nowrap;

		&:first-child {
			padding-left: 50px;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&:last-child {
			padding-right: 50px;
		}
	}

	.table-chart {
		background-color: @c-orange;
		border-radius: 5px;
		height: 5px;
	}

	.prefix {
		color: #999;
		font-weight: 400;
	}

	a {
		color: #000;
		transition: color 200ms ease;

		&:hover, &:focus {
			color: @c-orange;
			text-decoration: none;
		}
	}
}
