.c-statistics-project-table {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	margin-top: 40px;

	@media (min-width: @screen-sm-min) {
		margin-top: 80px;
	}

	.projects-info {
		display: flex;
		flex-direction: column;
		row-gap: 24px;

		@media (min-width: @screen-sm-min) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		h3 {
			margin: 0;
			font-weight: 600;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: .2px;
			color: #111a2c;

			@media (min-width: @screen-sm-min) {
				font-size: 24px;
				line-height: 36px;
				color: #17233b;
			}
		}

		.btn-group {
			width: 100%;

			@media (min-width: @screen-sm-min) {
				display: flex;
				align-items: center;
				column-gap: 16px;
				width: auto;
			}

			>span {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: inline-flex;
					font-size: 14px;
					line-height: 20px;
					color: #5c667a;
				}
			}

			.btn.dropdown-toggle {
				display: flex;
				align-items: center;
				justify-content: space-between;
				column-gap: 4px;
				width: 100%;
				padding: 0 8px 0 16px;
				height: 40px;
				background: #fff;
				border: 1px solid #cfd6dd;
				box-shadow: none;
				border-radius: 6px;

				>span {
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					color: #17233b;
				}

				>i {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 20px;
					height: 20px;
				}
			}

			.dropdown-menu {
				width: 100%;
				max-width: 320px;
				left: auto;
				right: 0;
				margin-top: 9px;
				padding: 8px;
				background: #fff;
				border: 1px solid #dfe3e7;
				box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
				border-radius: 6px;

				@media (min-width: @screen-sm-min) {
					width: auto;
				}

				li {
					>a {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						height: 40px;
						width: 100%;
						padding: 10px;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #111a2c;

						&:hover {
							background: #f3f5f7;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}

	.projects-content {
		margin-top: 24px;
		background: #fff;
		border: 1px solid #dfe3e7;
		border-radius: 6px;
		box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);

		&_table {
			display: flex;
			flex-direction: column;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;

			@media (min-width: @screen-sm-min) {
				border: none;
				height: 560px;
			}

			&_scrollable {
				overflow-y: auto;
				height: 1680px;

				@media (min-width: @screen-sm-min) {
					height: 560px;
				}
			}

			&_header {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: grid;
					grid-template-columns: 29fr 29fr 29fr 13fr;
					height: 40px;
					background: #f9fafb;
					box-shadow: inset 0 -1px 0 rgba(14, 25, 47, .08);
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
				}

				.cell {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					font-weight: 600;
					font-size: 12px;
					line-height: 16px;
					letter-spacing: .2px;
					color: #5c667a;

					&_one {
						padding-left: 20px;
					}

					&_two, &_three, &_four {
						padding-left: 12px;
					}
				}
			}

			&_row {
				display: flex;
				flex-direction: column;
				row-gap: 16px;
				padding: 16px;
				background: #fff;
				box-shadow: inset 0 -1px 0 #dfe3e7;

				@media (min-width: @screen-sm-min) {
					display: grid;
					grid-template-columns: 29fr 29fr 29fr 13fr;
					padding: 0;
					min-height: 56px;
				}

				&:nth-child(2n + 1) {
					background: #f9fafb;

					.cell.cell_one .proj-index {
						background: #edf0f2;
					}
				}

				.cell {
					display: flex;
					align-items: center;
					justify-content: flex-start;

					&_one {
						align-items: flex-start;

						@media (min-width: @screen-sm-min) {
							padding-left: 20px;
							align-items: center;
						}

						.proj-index {
							display: flex;
							align-items: center;
							justify-content: center;
							flex-shrink: 0;
							width: 24px;
							height: 24px;
							background: #f3f5f7;
							border-radius: 4px;
							margin-right: 8px;
							color: #17233b;
						}

						.proj-path {
							display: block;
							font-size: 14px;
							line-height: 20px;
							padding-right: 10px;

							&_type {
								color: #79849a;
							}

							&_name {
								color: #17233b;
								word-break: break-all;
							}
						}

						.proj-growth {
							margin-left: auto;

							@media (min-width: @screen-sm-min) {
								display: none;
							}

							&.positive {
								color: #0b8e5f;
							}

							&.negative {
								color: #eb3333;
							}
						}
					}

					&_two, &_three {
						display: flex;
						flex-direction: column;
						row-gap: 4px;

						@media (min-width: @screen-sm-min) {
							padding-left: 12px;
							justify-content: center;
						}

						>span, >div {
							width: 100%;
						}

						>span {
							font-weight: 600;
							font-size: 12px;
							line-height: 16px;
							letter-spacing: .2px;
							color: #111a2c;

							@media (min-width: @screen-sm-min) {
								display: none;
							}
						}

						.percentage-bar-container {
							display: grid;
							grid-template-columns: minmax(100px, auto) 1fr;
							align-items: center;
							column-gap: 16px;

							.text {
								font-size: 14px;
								line-height: 20px;
								color: #f65128;
							}

							.percentage-bar {
								.barWidth {
									height: 4px;
									background: #f65128;
									border-radius: 2px;
								}
							}
						}
					}

					&_four {
						display: none;

						@media (min-width: @screen-sm-min) {
							display: flex;
							padding-left: 12px;
							align-items: center;
						}

						&.positive {
							color: #0b8e5f;
						}

						&.negative {
							color: #eb3333;
						}
					}

					&_one, &_two, &_three, &_four {
						@media (min-width: @screen-sm-min) {
							padding-right: 12px;
						}
					}
				}
			}
		}

		&_pagination {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 16px;
			padding: 16px;

			@media (min-width: @screen-sm-min) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				column-gap: 16px;
				padding: 8px 20px;
			}

			.supporting-text {
				display: inline-flex;
				font-size: 12px;
				line-height: 16px;
				color: #17233b;

				@media (min-width: @screen-sm-min) {
					display: none;
				}

				&_alt {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: inline-flex;
						font-size: 14px;
						line-height: 20px;
						color: #17233b;
						white-space: nowrap;
					}
				}
			}

			&_range {
				font-size: 12px;
				line-height: 16px;
				color: #17233b;

				@media (min-width: @screen-sm-min) {
					font-size: 14px;
					line-height: 20px;
				}
			}

			&_numeration {
				display: none;

				@media (min-width: @screen-sm-min) {
					display: flex;
					justify-content: center;
				}

				button {
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					letter-spacing: .2px;
					width: 40px;
					height: 40px;
					margin: 0;
					background: #fff;
					color: #17233b;
					border: 1px solid #cfd6dd;

					&:not(:nth-last-child(1)) {
						border-right: none;
					}

					&:first-child {
						border-radius: 6px 0 0 6px;
					}

					&:last-child {
						border-radius: 0 6px 6px 0;
					}

					&.selected {
						color: #f65128;
						font-weight: 600;
						background: #fcf0ed;
						border: 1px solid #f65128;
					}

					&.disabled > img {
						opacity: 0.3;
					}
				}
			}

			&_ctrls {
				display: flex;
				width: 100%;

				@media (min-width: @screen-sm-min) {
					width: auto;
					justify-content: flex-end;
				}

				&_btn {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					background: #fff;
					border: 1px solid #cfd6dd;
					font-size: 14px;
					line-height: 20px;
					color: #17233b;
					margin: 0;
					padding: 0;

					@media (min-width: @screen-sm-min) {
						display: none;
					}

					&.disabled > img {
						opacity: 0.3;
					}

					&-prev {
						border-radius: 6px 0 0 6px;

						@media (min-width: @screen-sm-min) {
							order: 2;
						}
					}

					&-next {
						border-radius: 0 6px 6px 0;

						@media (min-width: @screen-sm-min) {
							order: 3;
						}
					}
				}

				&_limit {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-grow: 1;
					column-gap: 12px;
					border-top: 1px solid #cfd6dd;
					border-bottom: 1px solid #cfd6dd;

					@media (min-width: @screen-sm-min) {
						border: none;
						flex-grow: 0;
					}

					.btn-group {
						.btn {
							display: flex;
							align-items: center;
							column-gap: 4px;
							font-size: 12px;
							line-height: 16px;
							color: #17233b;
							padding: 0;
							background-color: transparent;
							border: none;
							box-shadow: none;

							@media (min-width: @screen-sm-min) {
								font-size: 14px;
								line-height: 20px;
								border: 1px solid #cfd6dd;
								border-radius: 6px;
								padding: 10px 8px 10px 16px;
							}

							>img {
								transform: rotate(-90deg);
								transition: transform 200ms ease-in-out;
							}
						}

						&.open {
							.btn > img {
								transform: rotate(90deg);
							}

							.dropdown-menu {
								right: 0;
								left: auto;
								background: #fff;
								border: 1px solid #dfe3e7;
								box-sizing: border-box;
								box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
								border-radius: 6px;
								padding: 8px;
								margin-top: 9px;
								width: 100%;

								@media (min-width: @screen-sm-min) {
									width: auto;
								}

								> li > a {
									display: flex;
									align-items: center;
									justify-content: flex-start;
									height: 40px;
									font-size: 14px;
									line-height: 20px;
									color: #111a2c;
									padding: 0 10px;

									&:hover {
										background: #f3f5f7;
										border-radius: 4px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
