@import "../variables.less";

.c-stats-table {
	background-color: #fff;
	width: 100%;
	border: 1px solid #dfe3e7;
	border-radius: 6px;

	.hits {
		color: @c-orange;
		text-align: right;
	}

	.flex {
		flex-direction: column;

		& > .item + .item {
			border-top: 1px solid #dfe3e7;
		}

		.item {
			font-size: 14px;
			display: grid;
			padding: 10px 16px;
			grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
			grid-template-rows: auto auto;

			@media (min-width: @screen-sm-min) {
				display: flex;
				padding: 12px;
			}
			align-items: center;
			grid-gap: 12px;

			a {
				grid-column: -1/2;
			}

			.hits {
				grid-column: 1/6;
				justify-self: start;

				@media (min-width: @screen-sm-min) {
					margin-left: auto;
				}
			}

			.table-chart-lg {
				grid-column: -1/6;
				justify-self: end;
			}

			.hits, .table-chart-lg {
				grid-row: 2/3;
			}
		}
	}

	tr {
		border-bottom: solid 1px @c-gray;

		&:last-child {
			border-bottom: none;
		}
	}

	td {
		font-size: 14px;
		line-height: 48px;
		padding: 0 12px;
		white-space: nowrap;

		&:nth-child(2) {
			padding-left: 0;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&:last-child {
			padding-right: 20px;
		}
	}

	.table-chart {
		background-color: @c-orange;
		border-radius: 5px;
		height: 4px;
		margin-left: auto;

		@media (min-width: @screen-sm-min) {
			margin-left: 0;
		}

		&-lg {
			width: 100%;
			max-width: 138px;

			@media (min-width: @screen-sm-min) {
				margin-left: 24px;
				max-width: 25%;
			}
		}
	}

	.index {
		display: block;
		width: 100%;
		max-width: 24px;
		line-height: 24px;
		color: #17233b;
		background: #f3f5f7;
		border-radius: 4px;
		text-align: center;

		@media (min-width: @screen-sm-min) {
			margin-right: 12px;
		}
	}

	.prefix {
		color: #79849a;
		font-weight: 400;
	}

	a {
		color: #17233b;
		font-weight: 600;
		transition: color 200ms ease;

		&:hover, &:focus {
			color: @c-orange;
			text-decoration: none;
		}
	}
}
