<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="gp-404-header"></c-gp-header>

	<div class="p-globalping-404">
		<div class="gp-404">
			<div class="gp-404_text-block">
				<div class="gp-404_text-block_title">
					Oops! The page you were looking for doesn’t exist.
				</div>

				<div class="gp-404_text-block_descr">
					You may have mistyped the address or the page may have moved.
				</div>

				<a href="/" class="gp-404_text-block_btn gp_btn_green">Back to Homepage</a>
			</div>

			<div class="gp-404_img-block">
				<img width="552"
					height="552"
					src="{{@shared.assetsHost}}/img/globalping/404.svg"
					loading="lazy">
			</div>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Page not found - Globalping',
				description: 'Page not found - Globalping',
			};
		},
	};
</script>
