<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/google-maps.html" name="c-google-maps">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/controlled-input.html" name="c-controlled-input">
<link rel="ractive" href="../../components/show-more-link-list.html" name="c-show-more-link-list">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="header-with-globalping-bg"></c-gp-header>

	<div class="p-globalping-networks">
		<div class="p-globalping-networks_head">
			<h1 class="p-globalping-networks_head_title">Looking Glass - {{networkFullName}}</h1>

			{{#if asnList}} <!-- The component can't handle updates, so wait for the data first. -->
				<c-show-more-link-list method="{{selectedTestType}}" list="{{asnList}}" limit="4" prefix="AS" addClass="p-globalping-networks_head_asn-list"/>
			{{/if}}
		</div>

		<div class="p-globalping-networks_network">
			<div class="p-globalping-networks_network_head">
				<span>Network</span>

				{{#if networkDomainName && @shared.logoDevPublicToken}}
					<img width="32"
						height="32"
						src="https://img.jsdelivr.com/img.logo.dev/{{networkDomainName}}?token={{@shared.logoDevPublicToken}}&format=png"
						loading="lazy"
						alt="{{networkFullName}} logo"
						as-tooltip="`${networkFullName}`">
				{{else}}
					<div class="p-globalping-networks_network_head_img"/>
				{{/if}}
			</div>

			<div class="p-globalping-networks_network_body">
				<div class="gp_dropdown_reg p-globalping-networks_network_body_select">
					<span>Location</span>

					<div class="btn-group">
						<button type="button"
							class="dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
							<span>
								{{#if selectedLocation}}
									{{~/selectedLocation.city}}, {{~/selectedLocation.country}}
								{{/if}}
							</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</button>

						<div class="dropdown-menu">
							{{#each ~/locationsList}}
								<div on-click="@this.setLocation(this)">{{this.city}}, {{this.country}}</div>
							{{/each}}
						</div>
					</div>
				</div>

				<c-controlled-input
					id="ipAddress"
					value="{{userIP}}"
					userIP="{{userIP}}"
					error=""
					placeholder="Your IP"
					labelText="Your IP"
					classList="p-globalping-networks_network_body_input gp_input"
					locked="true">
					{{#partial copyBtn}}
						{{#if userIP}}
							<button
								class="p-globalping-networks_network_body_input_copy-btn"
								as-clipboard
								data-clipboard-text="{{userIP}}">
								Copy
							</button>
						{{/if}}
					{{/partial}}
				</c-controlled-input>
			</div>

		</div>

		<div class="p-globalping-networks_network-tests">
			<div class="p-globalping-networks_network_head">
				<span>Network tests</span>
			</div>

			<div class="p-globalping-networks_network-tests_body">
				<c-controlled-input
					id="ipOrHostname"
					value="{{testOpts.target}}"
					error="{{inputErrors.target}}"
					placeholder="IP or Hostname"
					labelText="IP or Hostname"
					classList="p-globalping-networks_network-tests_body_input gp_input">
				</c-controlled-input>

				<div class="gp_dropdown_reg p-globalping-networks_network-tests_body_select">
					<span>Method</span>

					<div class="btn-group">
						<button type="button"
							class="dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
							<span>{{~/selectedTestType}}</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</button>

						<div class="dropdown-menu">
							{{#each ~/testTypesList}}
								<div on-click="@this.setTestType(this)">{{this}}</div>
							{{/each}}
						</div>
					</div>
				</div>

				<button type="button"
					on-click="@this.proceedToTest()"
					class=" p-globalping-networks_network-tests_body_btn-test gp_btn_green {{#if testInProgress}}gp_btn_green_disabled gp_btn_green_loading{{/if}}"
					disabled="{{testInProgress || !selectedLocation}}">
					{{#if testInProgress}}
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					{{else}}
						Run Test
					{{/if}}
				</button>
			</div>

			{{#if serverErrorMessage || creditErrorMessage}}
				<div class="p-globalping-networks_network-tests_fail-msg">
					<img width="56"
						height="56"
						alt="Fail icon"
						src="{{@shared.assetsHost}}/img/globalping/fail-icon-big.svg">

					<p>
						{{#if serverErrorMessage}}
							{{serverErrorMessage}}
						{{else}}
							{{{creditErrorMessage}}}
						{{/if}}
					</p>
				</div>
			{{elseif testResults}}
				<div class="p-globalping-networks_network-tests_results">
					<pre>{{testResults[0].result.rawOutput}}</pre>
				</div>
			{{else}}
				<div class="p-globalping-networks_network-tests_descr">
					<span class="p-globalping-networks_network-tests_descr_msg">
						Enter a target and click <span class="highlighted">"Run Test"</span> to start a network test from:
						<br/>
						<span class="highlighted">{{selectedLocation.city}}, {{selectedLocation.country}}</span> with <span class="highlighted">{{networkFullName}}</span>.
					</span>
				</div>
			{{/if}}
		</div>
	</div>

	{{#if networkDomainName}}
		<a href="https://logo.dev" target="_blank" rel="noopener" class="p-globalping-networks-logos-by">Network logos provided by Logo.dev</a>
	{{/if}}

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	const _ = require('../../../assets/js/_');
	const http = require('../../../assets/js/utils/http');
	const dataCache = require('../../../assets/js/utils/data-cache');
	const listeners = require('../../../assets/js/utils/listeners');
	const isArrContainsExactObj = require('../../../assets/js/utils/check-if-array-contains-exact-object');
	const tooltip = require('../../../assets/js/decorators/tooltip');
	const countries = require('../../../assets/json/countries.json');
	const DEFAULT_LIMIT = 1;
	const INITIAL_OPTS_VALUES = {
		type: 'Ping',
		target: 'cdn.jsdelivr.net',
	};
	const RATE_LIMIT_HEADERS = [
		'x-ratelimit-remaining',
		'x-ratelimit-reset',
		'x-credits-remaining',
		'x-request-cost',
	];
	const PROBE_NO_TIMING_VALUE = _.getProbeTimeOutValue();
	const PROBE_STATUS_OFFLINE = _.getProbeStatusOfflineValue();

	component.exports = {
		decorators: {
			tooltip,
		},
		data () {
			return {
				title: '',
				description: '',
				locationsList: [],
				selectedLocation: null,
				selectedTestType: 'ping',
				testTypesList: [ 'ping', 'traceroute', 'DNS', 'MTR', 'HTTP' ],
				probesResponse: null,
				probesParsed: false,
				userIP: null,
				asnList: [],
				networkDomainName: null,
				testResults: null,
				testInProgress: false,
				testReqInterval: null,
				testReqParams: null,
				testOpts: {
					target: INITIAL_OPTS_VALUES.target,
					limit: DEFAULT_LIMIT,
				},
				inputErrors: {},
				serverErrorMessage: null,
				creditErrorMessage: null,
			};
		},
		onconfig () {
			if (!Ractive.isServer) {
				let networkName = this.get('networkName');

				this.set('title', `${networkName} - Globalping`);
				this.set('description', `${networkName} - Globalping`);
				this.set('networkName', networkName);
				this.set('networkFullName', this.getTempNetworkName(networkName));
			}
		},
		oninit () {
			if (!Ractive.isServer) {
				this.getGlobalpingProbesData();
				this.fetchAndSetUserIP();

				this.observe('networkFullName', (networkFullName) => {
					this.setTitleAndDescr(networkFullName);
				});

				// set default location value
				this.observe('locationsList', (locationsList) => {
					if (locationsList && locationsList.length) {
						this.set('selectedLocation', locationsList[0]);
					}
				});

				this.observe('probesParsed', (probesParsed) => {
					if (probesParsed === false) { return; }

					let networkName = this.get('networkName');
					let parsedLocations = this.get('parsedLocations');
					let { name: networkFullName, asnList = [], locationsList = [] } = parsedLocations.networks[networkName] || {};

					if (networkFullName) {
						this.set('networkFullName', networkFullName);
					} else {
						window.location.replace('/404');

						return;
					}

					this.set('asnList', asnList);
					this.set('locationsList', locationsList);
				});

				this.observe('realTimeTestResResponse', (realTimeTestResResponse) => {
					if (!realTimeTestResResponse) { return; }

					if (realTimeTestResResponse.status === 'finished') {
						clearInterval(this.get('testReqInterval'));
						this.set('testInProgress', false);
					}

					let prevTestResults = this.get('testResults') || [];
					let updTestResults = realTimeTestResResponse.results.filter((res) => {
						// if it is no in-progress then it is already finished or failed
						if (res.result.status !== 'in-progress') { return true; }

						return false;
					});

					// filter out results that have already been drawn
					let newTestResults = updTestResults.filter((updRes) => {
						return !prevTestResults.some(prevRes => JSON.stringify(prevRes) === JSON.stringify(updRes));
					});

					this.set('testResults', [ ...prevTestResults, ...newTestResults ]);
				}, { init: false });

				// set measurementsMetadata for the c-gp-results-share component
				this.observe('testReqParams', (testReqParams) => {
					if (!testReqParams) { return; }

					let measurementsMetadata = {
						0: {
							target: testReqParams.target,
							measurementId: testReqParams.id,
						},
					};

					this.set('measurementsMetadata', measurementsMetadata);
				});

				// get network domain name to get the icon
				this.observe('asnList', (asnList) => {
					if (asnList && asnList.length) {
						http.getDomainFromASN(`AS${asnList[0]}`).then((res) => {
							if (Object.hasOwn(res, 'domain')) {
								this.set('networkDomainName', res.domain);
							}
						}).catch(() => {
							console.error('ASN to domain service unavailable.');
						});
					}
				});
			}
		},
		onrender () {
			if (!Ractive.isServer) {
				// run the test if user is pressed Enter inside of any of options inputs
				let ipOrHostnameEl = this.find('#ipOrHostname');
				listeners.addManagedListener(this, ipOrHostnameEl, 'keydown', this.handleEnterBtn.bind(this));
			}
		},
		onunrender () {
			if (this.get('testReqInterval')) {
				clearInterval(this.get('testReqInterval'));
			}
		},
		setLocation (newLocation) {
			this.set('selectedLocation', newLocation);
		},
		setTestType (newTestType) {
			this.set('selectedTestType', newTestType);
		},
		getGlobalpingProbesData () {
			// get probes from sessionStorage or fetch them
			dataCache.getCache('probesResponse', 60 * 1000, http.fetchGlobalpingProbes)
				.then((response) => {
					this.set('parsedLocations', this.parseProbesResponse(response));
					this.set('probesParsed', true);
				})
				.catch((error) => {
					console.error('Failed to fetch probes', error);
				});
		},
		parseProbesResponse (data) {
			return data.reduce((res, { location }) => {
				let countryName = countries.find(i => i.code.toLowerCase() === location.country.toLowerCase())?.name || location.country;
				let networkNameAsKey = location.network.replace(/\./g, '').replace(/[\W]|_/g, ' ').replace(/\s\s+|_/g, ' ').trim().split(' ').join('-').toLowerCase();

				// collect uniques Networks and count amount of probes per Network
				if (!Object.keys(res.networks).includes(networkNameAsKey)) {
					res.networks[networkNameAsKey] = {
						name: location.network,
						asnList: [ location.asn ],
						locationsList: [{ city: location.city, country: countryName }],
					};
				} else {
					// collect all unique network's ASNs
					if (!res.networks[networkNameAsKey].asnList.includes(location.asn)) {
						res.networks[networkNameAsKey].asnList.push(location.asn);
					}

					// collect all unique network's locations (city, country)
					if (!isArrContainsExactObj(res.networks[networkNameAsKey].locationsList, { city: location.city, country: countryName })) {
						res.networks[networkNameAsKey].locationsList.push({ city: location.city, country: countryName });
					}
				}

				return res;
			}, {
				asns: {},
				networks: {},
			});
		},
		setTitleAndDescr (networkFullName) {
			this.set('title', `${networkFullName} Looking Glass - Globalping`);
			this.set('description', `Looking glass network tools for all ${networkFullName} locations`);
		},
		getTempNetworkName (networkName) {
			return _.capitalizeStrEveryFirstLetter(networkName.split('-').join(' '));
		},
		proceedToTest () {
			let type = this.get('selectedTestType').toLowerCase();
			let testOpts = this.get('testOpts');
			let { city, country } = this.get('selectedLocation');
			let networkFullName = this.get('networkFullName');
			let magic = `${city}+${country}+${networkFullName}`;
			let reqParams = {
				type,
				...testOpts,
				locations: [{ magic }],
			};

			// clear all data from the previous test, show spinner
			this.set('testResults', null);
			this.set('testInProgress', true);
			this.set('testReqParams', null);
			this.set('serverErrorMessage', null);
			this.set('creditErrorMessage', null);

			http.postGlobalpingMeasurement(reqParams, RATE_LIMIT_HEADERS).then((res) => {
				this.getTestMeasurementById(res.response.id);
			}).catch((err) => {
				let errBody = err?.error;
				this.set('testInProgress', false);

				if (errBody?.type === 'validation_error') {
					let inputErrors = _.parseValidationErrors(errBody);
					this.set('inputErrors', inputErrors);
				} else if (err?.responseStatusCode === 429) {
					let measurementErrMsg = _.createMeasCreditsErrMsg(
						err.responseHeaders,
						this.get('@shared.user'),
					);

					this.set('creditErrorMessage', measurementErrMsg);
				} else {
					this.set('serverErrorMessage', err.error?.message ?? 'An unexpected error occurred.');
				}
			});
		},
		getTestMeasurementById (measurementId) {
			let testReqInterval = setInterval(() => {
				http.getGlobalpingMeasurement(measurementId).then((testRes) => {
					// prepare and set request params to pass them to gp-test-results
					let testReqParams = JSON.parse(JSON.stringify(testRes));

					delete testReqParams.results;
					delete testReqParams.status;
					delete testReqParams.updatedAt;
					delete testReqParams.createdAt;

					testReqParams = {
						inProgressUpdates: true,
						limit: DEFAULT_LIMIT,
						...testReqParams,
						measurementOptions: {
							trace: false,
							...testReqParams.measurementOptions,
						},
					};

					// set testReqParams to pass them to c-gp-results-raw-output
					this.set('testReqParams', testReqParams);

					// should be after the mainOptions.type was set
					this.set('realTimeTestResResponse', testRes);
				}).catch(() => {
					clearInterval(testReqInterval);
					this.set('serverErrorMessage', 'An unexpected error occurred.');
					this.set('testInProgress', false);
				});
			}, 1000);

			this.set('testReqInterval', testReqInterval);
		},
		prepareRegularResults (testResults) {
			let dnsTraceEnabled = this.get('testReqParams.measurementOptions.trace');
			let selectedTestType = this.get('selectedTestType');

			return testResults.map((res) => {
				let preparedRes = {
					...res.probe,
					statsPerTarget: [{
						target: res.target,
					}],
				};

				if (res.result.status !== 'in-progress') {
					let { isFailed = false, lastTiming, value: avgTiming, extraValues } = _.calcGpTestResTiming(selectedTestType, res, dnsTraceEnabled);
					let { packetsTotal } = _.parseGpRawOutputForTimings(res.result.rawOutput);
					let minTiming = res.result?.stats?.min || PROBE_NO_TIMING_VALUE;
					let maxTiming = res.result?.stats?.max || PROBE_NO_TIMING_VALUE;
					let isOffline = res.result.status === PROBE_STATUS_OFFLINE;

					preparedRes.statsPerTarget = [{
						...preparedRes.statsPerTarget[0],
						avgTiming,
						isFailed,
						isOffline,
						extraValues,
						rawOutput: res.result.rawOutput,
						areTimingsReady: this.checkAreTimingsReady(lastTiming, maxTiming, minTiming, avgTiming, packetsTotal),
					}];
				}

				return preparedRes;
			});
		},
		checkAreTimingsReady (lastTiming, maxTiming, minTiming, avgTiming, packetsTotal) {
			if (
				!packetsTotal
				|| typeof lastTiming === 'undefined'
				|| typeof maxTiming === 'undefined'
				|| typeof minTiming === 'undefined'
				|| typeof avgTiming === 'undefined'
			) {
				return false;
			}

			return true;
		},
		fetchAndSetUserIP () {
			fetch('https://cloudflare-dns.com/cdn-cgi/trace')
				.then(res => res.text())
				.then((text) => {
					let data = Object.fromEntries(text.trim().split('\n').map(line => line.split('=')));

					this.set('userIP', data.ip || null);
				})
				.catch((err) => {
					console.error('Failed to fetch user\'s IP:', err);
					this.set('userIP', null);
				});
		},
		handleEnterBtn (event) {
			if (event.key === 'Enter') {
				event.preventDefault();
				this.proceedToTest();
			}
		},
	};
</script>
