<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/gp-jumbotron.html" name="c-gp-jumbotron">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="gp-about-us-header" mainLogoName="globalping-full-white.svg"></c-gp-header>

	<div class="p-globalping-about">
		<c-gp-jumbotron className="about-us" gridType="type3"></c-gp-jumbotron>

		<div class="gp-about">
			<div class="gp-about_info">
				<div class="gp-about_info_title">
					<span>Globalping</span>
					<span>A globally distributed network of probes or network vantage points</span>
				</div>

				<div class="gp-about_info_descr">
					<span>
						Globalping is a free, open-source platform for network testing and monitoring.
						At its core is a robust API that can schedule and run network-related commands in real-time from any location in the world.
					</span>

					<span>
						It's a simple and secure way to test your web services, APIs, CDNs, DNS and edge compute services,
						to ensure their global availability, and understand their latency and performance on a global scale.
					</span>
				</div>

				<div class="gp-about_info_focus">
					<span class="gp-about_info_focus_title">We’re focused on:</span>

					<div class="gp-about_info_focus_list">
						<div class="gp-about_info_focus_list_item">
							<img width="58"
								height="58"
								src="{{@shared.assetsHost}}/img/globalping/globalping-performance-icon.svg">

							<span>Performance</span>
						</div>

						<div class="gp-about_info_focus_list_item">
							<img width="58"
								height="58"
								src="{{@shared.assetsHost}}/img/globalping/globalping-ux-icon.svg">

								<span>User Experience</span>
						</div>

						<div class="gp-about_info_focus_list_item">
							<img width="58"
								height="58"
								src="{{@shared.assetsHost}}/img/globalping/globalping-security-icon.svg">

							<span>Security</span>
						</div>
					</div>
				</div>
			</div>

			<div class="gp-about_in-numbers">
				<h2 class="gp-about_title">Globalping in numbers</h2>

				<div class="gp-about_in-numbers_list">
					<div class="gp-about_in-numbers_list_block">
						<div class="gp-about_in-numbers_list_block_item">
							<span class="gp-about_in-numbers_list_block_item_name">Eyeball and DC</span>
							<span class="gp-about_in-numbers_list_block_item_value">
								{{ Math.floor(totalProbes) }}{{#if totalProbes}}+{{/if}} probes
							</span>
						</div>

						<div class="gp-about_in-numbers_list_block_item">
							<span class="gp-about_in-numbers_list_block_item_name">Unique and global</span>
							<span class="gp-about_in-numbers_list_block_item_value">
								{{ Math.floor(totalCities) }}{{#if totalCities}}+{{/if}} cities
							</span>
						</div>

						<div class="gp-about_in-numbers_list_block_item">
							<span class="gp-about_in-numbers_list_block_item_name">Every day</span>
							<span class="gp-about_in-numbers_list_block_item_value">
								{{ Math.floor(totalMeasurements) }}{{#if totalMeasurements}}k+{{/if}} measurements
							</span>
						</div>
					</div>

					<div class="gp-about_in-numbers_list_block">
						<div class="gp-about_in-numbers_list_block_item">
							<span class="gp-about_in-numbers_list_block_item_name">Global ISP reach</span>
							<span class="gp-about_in-numbers_list_block_item_value">
								{{ Math.floor(totalASNs) }}{{#if totalASNs}}+{{/if}} ASNs
							</span>
						</div>

						<div class="gp-about_in-numbers_list_block_item">
							<span class="gp-about_in-numbers_list_block_item_name">And growing</span>
							<span class="gp-about_in-numbers_list_block_item_value">
								{{ Math.floor(totalCountries) }}{{#if totalCountries}}+{{/if}} countries
							</span>
						</div>

						<div class="gp-about_in-numbers_list_block_item">
							<span class="gp-about_in-numbers_list_block_item_name">Low latency API</span>
							<span class="gp-about_in-numbers_list_block_item_value">
								&lt;{{ Math.floor(responseTime) }}{{#if totalCountries}}ms{{/if}} response time
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="gp-about_prod-ready">
				<h2 class="gp-about_title">Ready for production</h2>

				<div class="gp-about_prod-ready_list">
					<span>From solo developers to enterprises - our platform is designed as one-size-fits-all.</span>

					<span>
						We aim to ensure the service remains useful to the majority of users for free, while heavier users and enterprise companies pay their fair share and help us develop a high quality service.
					</span>

					<span>
						Volentio Group proudly supports Globalping by funding the core team and providing governance to ensure the project's success for the public good.
					</span>
				</div>
			</div>

			<div class="gp-about_people-behind">
				<h2 class="gp-about_title">The people behind</h2>

				<p class="gp-about_people-behind_descr">
					These people currently run or previously helped with running this project.
					Want to join them? We are always looking for help!
				</p>

				<div class="gp-about_people-behind_wrapper">
					{{#each collaborators}}
						<div class="gp-about_people-behind_wrapper_collaborators">
							<h3 class="gp-about_people-behind_wrapper_collaborators_title">{{this.title}}</h3>

							<div class="gp-about_people-behind_wrapper_collaborators_list">
								{{#each this.data}}
									<div class="gp-about_people-behind_wrapper_collaborators_list_item">
										<div class="gp-about_people-behind_wrapper_collaborators_list_item_img-wrapper">
											<img width="48"
												height="48"
												src="{{@shared.assetsHost}}{{this.imgSrc}}"
												{{#if this.imgSrc2}}
													srcset="{{@shared.assetsHost}}{{this.imgSrc2}}"
												{{/if}}
												loading="lazy"/>
										</div>

										<div class="gp-about_people-behind_wrapper_collaborators_list_item_info">
											<span class="gp-about_people-behind_wrapper_collaborators_list_item_info_name">
												{{this.name}}
											</span>

											<span class="gp-about_people-behind_wrapper_collaborators_list_item_info_position">
												{{this.position}}
											</span>

											<span class="gp-about_people-behind_wrapper_collaborators_list_item_info_social">
												<a target="_blank" rel="noopener noreferrer" href="{{this.social.url}}">
													<img width="24"
														height="24"
														src="{{@shared.assetsHost}}{{this.social.imgSrc}}">
												</a>
											</span>
										</div>
									</div>
								{{/each}}
							</div>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	const http = require('../../../assets/js/utils/http');
	const dataCache = require('../../../assets/js/utils/data-cache');

	component.exports = {
		data () {
			return {
				title: 'About - Globalping',
				description: 'Globalping is a free, open-source platform for network testing and monitoring. Run network-related commands in real-time from any location in the world. Test your web services, APIs, CDNs, DNS and edge compute services.',
				totalProbes: 0,
				totalCities: 0,
				totalCountries: 0,
				totalMeasurements: 0,
				totalASNs: 0,
				responseTime: 0,
				collaborators: [
					{
						title: 'Core Team',
						data: [
							{
								name: 'Dmitriy Akulov',
								position: 'Founder',
								imgSrc: '/img/about/dmitriy-akulov.png',
								imgSrc2: '/img/about/dmitriy-akulov@2x.png 2x',
								social: {
									url: 'https://twitter.com/jimaek',
									imgSrc: '/img/about/twitter-icon.svg',
								},
							},
							{
								name: 'Martin Kolarik',
								position: 'Core Developer',
								imgSrc: '/img/about/martin-kolarik.png',
								imgSrc2: '/img/about/martin-kolarik@2x.png 2x',
								social: {
									url: 'https://twitter.com/makolarik',
									imgSrc: '/img/about/twitter-icon.svg',
								},
							},
							{
								name: 'Alexey Yarmosh',
								position: 'Software Engineer',
								imgSrc: '/img/globalping/about/alexey-yarmosh.jpeg',
								social: {
									url: 'https://www.linkedin.com/in/alexey-yarmosh/',
									imgSrc: '/img/about/linkedin-icon.svg',
								},
							},
						],
					},
					{
						title: 'Frequent Contributors',
						data: [
							{
								name: 'Artem Stoianov',
								position: 'Developer',
								imgSrc: '/img/about/artem-stoianov.png',
								imgSrc2: '/img/about/artem-stoianov@2x.png 2x',
								social: {
									url: 'https://twitter.com/zarianec',
									imgSrc: '/img/about/twitter-icon.svg',
								},
							},
							{
								name: 'Kyrylo Chyzhov',
								position: 'Developer',
								imgSrc: '/img/globalping/about/kyrylo-chyzhov.jpeg',
								social: {
									url: 'https://www.linkedin.com/in/kyrylo-chyzhov-092ab7107',
									imgSrc: '/img/about/linkedin-icon.svg',
								},
							},
							{
								name: 'Robert Zygmuntowski',
								position: 'UI/UX Designer',
								imgSrc: '/img/globalping/about/robert-zygmuntowski.jpeg',
								social: {
									url: 'https://www.linkedin.com/in/robert-zygmuntowski-144865a9',
									imgSrc: '/img/about/linkedin-icon.svg',
								},
							},
						],
					},
				],
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.getProbesData();
			}
		},
		handleProbesResponse (response) {
			let cities = new Set();
			let countries = new Set();
			let asns = new Set();

			response.forEach(({ location }) => {
				if (location?.city) { cities.add(location.city); }

				if (location?.country) { countries.add(location.country); }

				if (location?.asn) { asns.add(location.asn); }
			});

			let totalCities = cities.size;
			let totalCountries = countries.size;
			let totalASNs = asns.size;

			this.animate('totalProbes', response.length, { duration: 2000 });
			this.animate('totalCities', totalCities, { duration: 2000 });
			this.animate('totalCountries', totalCountries, { duration: 2000 });
			this.animate('totalASNs', totalASNs, { duration: 2000 });

			// TODO: 670 temp as static values
			this.animate('totalMeasurements', 300, { duration: 2000 });
			this.animate('responseTime', 14, { duration: 2000 });
		},
		getProbesData () {
			dataCache.getCache('probesResponse', 60 * 1000, http.fetchGlobalpingProbes)
				.then(response => this.handleProbesResponse(response))
				.catch((error) => {
					console.error('Failed to fetch probes', error);
				});
		},
	};
</script>
