<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/gp-jumbotron.html" name="c-gp-jumbotron">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="header-with-globalping-bg"></c-gp-header>

	<div class="p-globalping-about">
		<c-gp-jumbotron className="cli" useAltGridImg="true"></c-gp-jumbotron>

		<div class="gp-about_info">
			<div class="gp-about_info_title">
				<span>Globalping</span>
				<span>A globally distributed network of probes or network vantage points</span>
			</div>

			<div class="gp-about_info_descr">
				<span>
					Globalping is a free and open source platform for network testing and monitoring.
					At its core, a single API that can schedule and run network related commands in real-time from any location in the world.
				</span>

				<span>
					It's a simple and secure way to test your web services, APIs, CDNs, DNS  and edge compute services.
					To ensure their global availability and understand their latency and performance on a global scale.
				</span>
			</div>

			<div class="gp-about_info_focus">
				<span class="gp-about_info_focus_title">We’re focused on:</span>

				<div class="gp-about_info_focus_list">
					<div class="gp-about_info_focus_list_item">
						<img width="58"
							height="58"
							src="{{@shared.assetsHost}}/img/globalping/globalping-performance-icon.svg">

						<span>Performance</span>
					</div>

					<div class="gp-about_info_focus_list_item">
						<img width="58"
							height="58"
							src="{{@shared.assetsHost}}/img/globalping/globalping-ux-icon.svg">

							<span>User Experience</span>
					</div>

					<div class="gp-about_info_focus_list_item">
						<img width="58"
							height="58"
							src="{{@shared.assetsHost}}/img/globalping/globalping-security-icon.svg">

						<span>Security</span>
					</div>
				</div>
			</div>
		</div>

		<div class="gp-about_in-numbers">
			<span class="gp-about_in-numbers_title">Globalping in numbers</span>

			<div class="gp-about_in-numbers_list">
				<div class="gp-about_in-numbers_list_block">
					<div class="gp-about_in-numbers_list_block_item">
						<span class="gp-about_in-numbers_list_block_item_name">Eyeball and DC</span>
						<span class="gp-about_in-numbers_list_block_item_value">1000+ probes</span>
					</div>

					<div class="gp-about_in-numbers_list_block_item">
						<span class="gp-about_in-numbers_list_block_item_name">Unique and global</span>
						<span class="gp-about_in-numbers_list_block_item_value">300+ cities</span>
					</div>

					<div class="gp-about_in-numbers_list_block_item">
						<span class="gp-about_in-numbers_list_block_item_name">Every day</span>
						<span class="gp-about_in-numbers_list_block_item_value">300k+ measurements</span>
					</div>
				</div>

				<div class="gp-about_in-numbers_list_block">
					<div class="gp-about_in-numbers_list_block_item">
						<span class="gp-about_in-numbers_list_block_item_name">Global ISP reach</span>
						<span class="gp-about_in-numbers_list_block_item_value">400+ ASNs</span>
					</div>

					<div class="gp-about_in-numbers_list_block_item">
						<span class="gp-about_in-numbers_list_block_item_name">And growing</span>
						<span class="gp-about_in-numbers_list_block_item_value">80+ countries</span>
					</div>

					<div class="gp-about_in-numbers_list_block_item">
						<span class="gp-about_in-numbers_list_block_item_name">Low latency API</span>
						<span class="gp-about_in-numbers_list_block_item_value">&lt;14ms response time</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>
