<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/gp-jumbotron.html" name="c-gp-jumbotron">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="header-with-globalping-bg"></c-gp-header>

	<div class="p-globalping-cli">
		<c-gp-jumbotron className="cli" gridType="type2"></c-gp-jumbotron>

		<div class="gp-cli_main-info">
			<h1 class="gp-cli_main-info_title">
				Run network commands on a
				<span class="gp-cli_green-text">
					global network of <span class="gp-cli_main-info_title_numbers">{{ Math.floor(roundedTotalProbes) }}+</span> probes
				</span>
				to test, debug and benchmark your infrastructure, routing and web services.
			</h1>

			<span class="gp-cli_main-info_descr">
				All in your command line, simple to use and fully scriptable.
			</span>

			<a target="_blank"
				rel="noopener noreferrer"
				href="https://github.com/jsdelivr/globalping-cli"
				class="gp-cli_main-info_btn gp_btn_black">
				<img width="20"
					height="20"
					src="{{@shared.assetsHost}}/img/globalping/github.small.svg">
				GitHub
			</a>
		</div>

		<div class="gp-cli_how-install">
			<span class="gp-cli_how-install_title">How to install</span>
			<span class="gp-cli_how-install_descr">Install the correct repo for your OS to make sure you get the latest updated we release.</span>

			<div class="gp-cli_how-install_list">
				<div class="gp-cli_how-install_list_desktop-header">
					{{#each osDataList}}
						<div on-click="@this.set('selectedOsTab', this.name)"
							class="gp-cli_how-install_list_desktop-header_item">
							<img width="auto"
								height="32"
								src="{{@shared.assetsHost}}/img/globalping/gp-cli/{{this.iconName}}">

							<div class="gp-cli_how-install_list_desktop-header_item_text">
								<span>{{this.name}}</span>
								<span>{{this.descr}}</span>
							</div>

							{{#if selectedOsTab === this.name}}
								<div class="active-tab-line"></div>
							{{/if}}
						</div>
					{{/each}}
				</div>

				{{#each osDataList}}
					<div class="gp-cli_how-install_list_item {{#if selectedOsTab === this.name}}active{{/if}}">
						<div class="gp-cli_how-install_list_item_header">
							<img width="auto"
								height="32"
								src="{{@shared.assetsHost}}/img/globalping/gp-cli/{{this.iconName}}">

							<div class="gp-cli_how-install_list_item_header_text">
								<span>{{this.name}}</span>
								<span>{{this.descr}}</span>
							</div>
						</div>

						<div class="gp-cli_how-install_list_item_body">
							<span>{{{this.cmd1.html}}}</span>
							<br>
							<span>{{this.cmd2}}</span>
							<br>
							<span>{{this.cmd3}}</span>
							<button class="gp-cli_how-install_list_item_body_btn gp_btn_green"
								as-clipboard data-clipboard-text="{{this.cmd1.clearText + '\n' + this.cmd2 + '\n' + this.cmd3}}">
								<img width="20"
									height="20"
									src="{{@shared.assetsHost}}/img/globalping/copy-icon.svg">
							</button>
						</div>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="gp-cli_quick-start">
			<div class="gp-cli_quick-start_header">
				<span>Globalping CLI is a must have all-in-one tool for network optimization</span>
				<span>
					Run network commands, write scripts, automate uptime monitoring, do latency checks
					and make sure your anycast network continues to perform up to your standards, globally!
					<a target="_blank" href="https://github.com/jsdelivr/globalping#best-practices-and-tips">Learn more about the best practices.</a>
				</span>
			</div>

			<div class="gp-cli_quick-start_content">
				<div class="gp-cli_quick-start_content_header">
					{{#each quickStartData}}
						<div class="gp-cli_quick-start_content_header_item {{#if qsTabName === this.name}}active{{/if}}"
							on-click="@this.set('qsTabName', this.name)">
							{{ this.title }}
						</div>
					{{/each}}
				</div>

				<div class="gp-cli_quick-start_content_body">
					{{#each quickStartData}}
						<pre class="{{#if qsTabName === this.name}}visible{{/if}}">{{this.content}}</pre>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="gp-cli_command-line">
			<div class="gp-cli_command-line_header">
				<span>Globalping CLI - Quick Start</span>
				<span>The Globalping command line tool provides a simple and familiar interface that works on Linux, Mac and Windows</span>
			</div>

			<div class="gp-cli_command-line_body">
				<pre class="gp-cli_command-line_body_content">
~$ globalping help

Usage:
  globalping [command]

Measurement Commands:
  dns         Use the native dig command
  http        Perform a HEAD or GET request to a host
  mtr         Use the native mtr command
  ping        Use the native ping command
  traceroute  Use the native traceroute command

Additional Commands:
  completion  Generate the autocompletion script for the specified shell
  help        Help about any command
  version     Print the version number of Globalping CLI

Flags:
  -C, --ci            Disable realtime terminal updates and color suitable for CI (default false)
  -F, --from string   A continent, region (e.g eastern europe), country, US state or city (default "world")
  -h, --help          help for globalping
  -J, --json          Output results in JSON format (default false)
  -L, --limit int     Limit the number of probes to use (default 1)

Use "globalping [command] --help" for more information about a command.
				</pre>
			</div>

			<a target="_blank"
				rel="noopener noreferrer"
				href="https://github.com/jsdelivr/globalping-cli"
				class="gp-cli_command-line_btn gp_btn_green">
				<img width="20"
					height="20"
					src="{{@shared.assetsHost}}/img/globalping/github.small.svg">

				Learn more on GitHub
			</a>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	const http = require('../../../assets/js/utils/http');
	const has = require('../../../assets/js/utils/has');
	const clipboard = require('../../../assets/js/decorators/clipboard');
	const DEB_DATA = {
		name: 'DEB',
		descr: 'Debian, UbuntuDEB, Ubuntu',
		iconName: 'deb-icon.svg',
		cmd1: {
			html: 'curl -s https://<wbr>packagecloud.io<wbr>/install<wbr>/repositories<wbr>/jsdelivr<wbr>/globalping<wbr>/script.deb.sh<wbr> | sudo bash',
			clearText: 'curl -s https://packagecloud.io/install/repositories/jsdelivr/globalping/script.deb.sh | sudo bash',
		},
		cmd2: 'apt install globalping',
		cmd3: 'globalping --help',
	};
	const RPM_DATA = {
		name: 'RPM',
		descr: 'CentOS, RHEL, Fedora',
		iconName: 'rpm-icon.svg',
		cmd1: {
			html: 'curl -s https://<wbr>packagecloud.io<wbr>/install<wbr>/repositories<wbr>/jsdelivr<wbr>/globalping<wbr>/script.rpm.sh | sudo bash',
			clearText: 'curl -s https://packagecloud.io/install/repositories/jsdelivr/globalping/script.rpm.sh | sudo bash',
		},
		cmd2: 'dnf install globalping',
		cmd3: 'globalping --help',
	};
	const HOMEBREW_DATA = {
		name: 'Homebrew',
		descr: 'MacOS',
		iconName: 'homebrew-icon.svg',
		cmd1: {
			html: 'brew tap jsdelivr<wbr>/globalping',
			clearText: 'brew tap jsdelivr/globalping',
		},
		cmd2: 'brew install globalping',
		cmd3: 'globalping --help',
	};
	const QUICK_START_DATA = {
		ping: {
			name: 'ping',
			title: 'ping from Germany',
			content: `$ globalping ping jsdelivr.com from Germany --limit 2
> EU, DE, Magdeburg, ASN:3209, Vodafone GmbH
PING  (172.67.213.229) 56(84) bytes of data.
64 bytes from 172.67.213.229 (172.67.213.229): icmp_seq=1 ttl=57 time=19.6 ms
64 bytes from 172.67.213.229 (172.67.213.229): icmp_seq=2 ttl=57 time=19.8 ms
64 bytes from 172.67.213.229 (172.67.213.229): icmp_seq=3 ttl=57 time=17.0 ms

---  ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 402ms
rtt min/avg/max/mdev = 17.049/18.791/19.774/1.235 ms

> EU, DE, Nuremberg, ASN:51167, Contabo GmbH
PING  (172.67.213.229) 56(84) bytes of data.
64 bytes from 172.67.213.229 (172.67.213.229): icmp_seq=1 ttl=58 time=4.05 ms
64 bytes from 172.67.213.229 (172.67.213.229): icmp_seq=2 ttl=58 time=3.76 ms
64 bytes from 172.67.213.229 (172.67.213.229): icmp_seq=3 ttl=58 time=3.88 ms

---  ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 5227ms
rtt min/avg/max/mdev = 3.758/3.894/4.051/0.120 ms`,
		},
		traceroute: {
			name: 'traceroute',
			title: 'traceroute from a US state',
			content: `$ globalping traceroute jsdelivr.com from "North Carolina"
> NA, US, (NC), Raleigh, ASN:11426, Charter Communications Inc
traceroute to jsdelivr.com (104.21.35.47), 20 hops max, 60 byte packets
 1  192.168.90.1 (192.168.90.1)  2.228 ms  0.154 ms
 2  mta-107-13-96-1.nc.rr.com (107.13.96.1)  10.675 ms  10.643 ms
 3  lag-59.rlghncks01h.netops.charter.com (174.111.105.176)  11.533 ms  11.506 ms
 4  lag-27.drhmncev02r.netops.charter.com (24.25.62.104)  11.542 ms  11.551 ms
 5  lag-31.rcr01drhmncev.netops.charter.com (24.93.64.184)  11.229 ms  11.318 ms
 6  lag-415.asbnva1611w-bcr00.netops.charter.com (107.14.18.106)  17.888 ms  17.941 ms
 7  lag-0.pr2.dca10.netops.charter.com (66.109.5.117)  17.340 ms  17.314 ms
 8  173.245.63.44 (173.245.63.44)  17.842 ms  17.818 ms
 9  172.70.40.3 (172.70.40.3)  43.735 ms  43.685 ms
10  104.21.35.47 (104.21.35.47)  17.378 ms  17.353 ms`,
		},
		http: {
			name: 'http',
			title: 'HTTP GET from AWS',
			content: `$ globalping http https://example.com from AWS --method GET
> EU, DE, Frankfurt, ASN:16509, Amazon.com, Inc. (aws-eu-central-1)
<!doctype html>
<html>
<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
    body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    }
    div {
        width: 600px;
        margin: 5em auto;
        padding: 2em;
        background-color: #fdfdff;
        border-radius: 0.5em;
        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
    }
    a:link, a:visited {
        color: #38488f;
        text-decoration: none;
    }
    @media (max-width: 700px) {
        div {
            margin: 0 auto;
            width: auto;
        }
    }
    </style>
</head>

<body>
<div>
    <h1>Example Domain</h1>
    <p>This domain is for use in illustrative examples in documents. You may use this
    domain in literature without prior coordination or asking for permission.</p>
    <p><a href="https://www.iana.org/domains/example">More information...</a></p>
</div>
</body>
</html>`,
		},
		dns: {
			name: 'dns',
			title: 'resolve from Mumbai',
			content: `$ globalping dns cdn.jsdelivr.net from Mumbai
> AS, IN, Mumbai, ASN:206216, Advin Services LLC
; <<>> DiG 9.16.27-Debian <<>> cdn.jsdelivr.net -t A -p 53 -4 +timeout=3 +tries=2 +nocookie
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 30928
;; flags: qr rd ra; QUERY: 1, ANSWER: 6, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 512
;; QUESTION SECTION:
;cdn.jsdelivr.net.              IN      A

;; ANSWER SECTION:
cdn.jsdelivr.net.       3161    IN      CNAME   cdn.jsdelivr.net.cdn.cloudflare.net.
cdn.jsdelivr.net.cdn.cloudflare.net. 90 IN A    104.16.88.20
cdn.jsdelivr.net.cdn.cloudflare.net. 90 IN A    104.16.85.20
cdn.jsdelivr.net.cdn.cloudflare.net. 90 IN A    104.16.87.20
cdn.jsdelivr.net.cdn.cloudflare.net. 90 IN A    104.16.86.20
cdn.jsdelivr.net.cdn.cloudflare.net. 90 IN A    104.16.89.20

;; Query time: 4 msec
;; SERVER: 8.8.8.8#53(8.8.8.8)
;; WHEN: Mon Mar 27 15:24:04 UTC 2023
;; MSG SIZE  rcvd: 171`,
		},
		mtr: {
			name: 'mtr',
			title: 'MTR from gcp-europe-west3',
			content: `$ globalping mtr openai.com from gcp-europe-west3
> EU, DE, Frankfurt, ASN:396982, Google LLC (gcp-europe-west3)
Host                                                             Loss% Drop Rcv Avg  StDev  Javg
 1. AS15169 _gateway (209.85.251.72)                              0.0%    0   3 1.4    0.4   1.0
 2. AS8075  ae65-0.fra-96cbe-1a.ntwk.msn.net (198.200.130.132)    0.0%    0   3 1.7    0.4   0.6
 3. AS8075  ae22-0.icr01.fra23.ntwk.msn.net (104.44.230.16)      33.3%    1   2 4.2    0.1   0.2
 4. AS8075  ae24-0.ier03.fra31.ntwk.msn.net (104.44.235.193)      0.0%    0   3 2.2    0.3   1.2
 5. AS???   (waiting for reply)
 6. AS8075  40.66.0.60 (40.66.0.60)                               0.0%    0   3 2.0    0.3   1.2
 7. AS???   (waiting for reply)
 8. AS???   (waiting for reply)
 9. AS???   (waiting for reply)
10. AS8075  13.107.238.45 (13.107.238.45)                         0.0%    0   3 2.0    0.3   1.3`,
		},
	};

	component.exports = {
		decorators: {
			clipboard,
		},
		data () {
			return {
				title: 'Globalping CLI - The perfect DevOps tool',
				description: 'Run network commands from thousands of globally distributed probes without ever leaving your command line. Ping, traceroute, resolve and GET anything you want!',
				qsTabName: QUICK_START_DATA.ping.name,
				osDataList: [ DEB_DATA, RPM_DATA, HOMEBREW_DATA ],
				selectedOsTab: DEB_DATA.name,
				quickStartData: QUICK_START_DATA,
				roundedTotalProbes: 0,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				let handleProbesResponse = isStored => (response) => {
					if (!isStored) {
						sessionStorage.setItem('probesResponse', JSON.stringify(response));
					} else {
						response = JSON.parse(response);
					}

					let roundedTotalProbes = Math.round(response.length / 100) * 100;

					this.animate('roundedTotalProbes', roundedTotalProbes, { duration: 2000 });
				};

				if (has.sessionStorage()) {
					let probesResponse = sessionStorage.getItem('probesResponse');

					if (probesResponse) {
						handleProbesResponse(true)(probesResponse);
					} else {
						http.fetchGlobalpingProbes().then(handleProbesResponse(false));
					}
				} else {
					http.fetchGlobalpingProbes().then(handleProbesResponse(false));
				}
			}
		},
	};
</script>
