<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/gp-jumbotron.html" name="c-gp-jumbotron">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="header-with-globalping-bg"></c-gp-header>

	<div class="p-globalping-credits">
		<c-gp-jumbotron className="credits" gridType="type3"></c-gp-jumbotron>

		<div class="gp-credits">
			<div class="gp-credits_info">
				<h1 class="gp-credits_info_title">Globalping limits and credits</h1>

				<div class="gp-credits_info_descr">
					Start using Globalping for free! You don't even need to register, just start using any of our web apps or tools right away!
				</div>

				<div class="gp-credits_info_user-benefits">
					<div class="gp-credits_info_user-benefits_block">
						<span class="gp-credits_info_user-benefits_block_title">Unregistered User</span>

						<div class="gp-credits_info_user-benefits_block_list">
							<span class="gp-credits_info_user-benefits_block_list_item">
								50 Probes per measurement
							</span>

							<span class="gp-credits_info_user-benefits_block_list_item">
								250 Free tests per hour
							</span>
						</div>
					</div>

					<div class="gp-credits_info_user-benefits_block">
						<span class="gp-credits_info_user-benefits_block_title">Registered User</span>

						<div class="gp-credits_info_user-benefits_block_list">
							<span class="gp-credits_info_user-benefits_block_list_item">
								500 Probes per measurement
							</span>

							<span class="gp-credits_info_user-benefits_block_list_item">
								500 Free tests per hour
							</span>
						</div>

						<span class="gp-credits_info_user-benefits_block_hint">
							Higher limits for members!
						</span>
					</div>
				</div>

				<div class="gp-credits_info_credits-donations"></div>
			</div>

			<div class="gp-credits_become-a-sponsor">
				Become a sponsor
			</div>

			<div class="gp-credits_faq">
				FAQ
			</div>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				// on init actions
			}
		},
	};
</script>
