<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/gp-jumbotron.html" name="c-gp-jumbotron">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="" mainLogoName="globalping-full-white.svg"></c-gp-header>

	<div class="p-globalping-credits">
		<c-gp-jumbotron className="credits" gridType="type3"></c-gp-jumbotron>

		<div class="gp-credits">
			<h1>CREDITS</h1>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				// on init actions
			}
		},
	};
</script>
