<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/header.html" name="c-header">
<link rel="ractive" href="../../components/footer.html" name="c-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/gp-top-navigation.html" name="c-gp-top-navigation">
<link rel="ractive" href="../../components/tiles.html" name="c-tiles">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-header additionalClasses="header-with-globalping-bg"></c-header>

	<div class="p-globalping-integrations">
		<c-gp-top-navigation currentName="globalping-integrations"></c-gp-top-navigation>

		<div class="gp-integrations_main">
			<c-tiles tilesData="{{tilesData}}"></c-tiles>
		</div>
	</div>

	<c-footer></c-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				tilesData: [
					{
						header: 'REST API',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/rest.svg',
					},
					{
						header: 'Slack',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/slack.svg',
					},
					{
						header: 'Discord',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/discord.svg',
					},
					{
						header: 'ChatGPT',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/chatgpt.svg',
					},
					{
						header: 'Zapier',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/zapier.svg',
					},
					{
						header: 'IFTTT',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/ifttt.svg',
						status: 'Coming soon',
					},
					{
						header: 'NetBox',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/netbox.svg',
					},
					{
						header: 'GitHub Bot',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/gh-bot.svg',
					},
					{
						header: 'GitHub Action',
						descr: 'Lorem ipsum dolor sit amet consectetur.',
						href: '/',
						imgSrc: '/img/globalping/integrations/gh-action.svg',
					},
				],
			};
		},
	};
</script>
