<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/tiles.html" name="c-tiles">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="header-with-globalping-bg"></c-gp-header>

	<div class="p-globalping-integrations">
		<div class="p-globalping-integrations_header">
			<h1 class="p-globalping-integrations_header_title">
				Globalping Integrations
			</h1>

			<h2 class="p-globalping-integrations_header_descr">
				A fully-featured REST API for your own app, easy-to-use CLI for scripting, or a no-code chatbot – we have it all
			</h2>
		</div>

		<c-tiles tilesData="{{tilesData}}"></c-tiles>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Globalping Integrations - Power up your tools and apps by giving them access to Globalping',
				description: 'Learn how to interact with our global network of probes and add network testing functionality to your tools and apps.',
				tilesData: [
					{
						header: 'REST API',
						descr: 'Build your own free and commercial tools and services using our flexible and powerful API.',
						href: '/docs/api.globalping.io',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'rest',
						imgExt: '.png',
						imgClass: 'img-rounded',
					},
					{
						header: 'CLI/Scripting',
						descr: 'Our CLI tool makes it simple to script and automate any kind of actions and tests.',
						href: '/cli',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'bash',
						imgExt: '.svg',
						imgClass: 'img-with-border',
					},
					{
						header: 'Slack',
						descr: 'Our official Slack app allows your whole team to collaborate and run network tests in any channel and thread.',
						href: '/slack',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'slack',
						imgExt: '.png',
					},
					{
						header: 'Zapier',
						descr: 'Build advanced automations without writing any code with our Zapier app.',
						href: 'https://zapier.com/apps/globalping/integrations',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'zapier',
						imgExt: '.png',
						externalLink: true,
					},
					{
						header: 'n8n node',
						descr: 'Add Globalping to your n8n workflows and get access to thousands of probes',
						href: 'https://www.npmjs.com/package/@globalping/n8n-nodes-globalping',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'n8n',
						imgExt: '.svg',
						imgW: 40,
						imgH: 40,
						imgClass: 'img-with-border',
						externalLink: true,
					},
					{
						header: 'GitHub Bot',
						descr: 'Interact with the Globalping network in GitHub comments for quick and simple tests.',
						href: 'https://github.com/globalping',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'gh-bot',
						imgExt: '.png',
						externalLink: true,
					},
					{
						header: 'ChatGPT',
						descr: 'Let ChatGPT do the testing for you.',
						href: '/',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'chatgpt',
						imgExt: '.png',
						status: 'Coming soon',
					},
					{
						header: 'IFTTT',
						descr: 'Make Globalping part of your flow with our IFTTT integration.',
						href: '/',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'ifttt',
						imgExt: '.png',
						status: 'Coming soon',
					},
					{
						header: 'GitHub Action',
						descr: 'Automate tests and make Globalping part of your CI to ensure your network is available and fast.',
						href: '/',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'gh-action',
						imgExt: '.png',
						status: 'Coming soon',
					},
					{
						header: 'NetBox',
						descr: 'Interact with Globalping without ever leaving NetBox',
						href: '/',
						baseImgSrc: '/img/globalping/integrations',
						imgName: 'netbox',
						imgExt: '.png',
						status: 'Coming soon',
					},
				],
			};
		},
	};
</script>
