<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/google-maps.html" name="c-google-maps">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/controlled-input.html" name="c-controlled-input">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="header-with-globalping-bg"></c-gp-header>

	<div class="p-globalping-isp">
		<div class="p-globalping-isp_head">
			<h1 class="p-globalping-isp_head_title">Looking Glass - Orange Polska</h1>

			<span class="p-globalping-isp_head_asn">AS37754</span>
		</div>

		<div class="p-globalping-isp_network">
			<div class="p-globalping-isp_network_head">
				<span>Network</span>

				<img width="32"
					height="32"
					src="{{@shared.assetsHost}}/img/globalping/link-icon.svg"
					loading="lazy"
					as-tooltip="'TODO: LOGO TITLE'">
			</div>

			<div class="p-globalping-isp_network_body">
				<div class="gp_dropdown_reg p-globalping-isp_network_body_select">
					<span>Location</span>

					<div class="btn-group">
						<button type="button"
							class="dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
							<span>{{~/location}}</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</button>

						<div class="dropdown-menu">
							{{#each ~/locationsList}}
								<div on-click="@this.setLocation(this)">{{this}}</div>
							{{/each}}
						</div>
					</div>
				</div>

				<c-controlled-input
					id="ipAddress"
					value="TODO: value"
					error=""
					placeholder="TODO: placeholer"
					labelText="Your IP"
					classList="p-globalping-isp_network_body_input gp_input">
				</c-controlled-input>
			</div>
		</div>

		<div class="p-globalping-isp_network-tests">
			<div class="p-globalping-isp_network_head">
				<span>Network tests</span>
			</div>

			<div class="p-globalping-isp_network-tests_body">
				<c-controlled-input
					id="ipOrHostname"
					value="TODO: value"
					error=""
					placeholder="TODO: placeholer"
					labelText="IP or Hostname"
					classList="p-globalping-isp_network-tests_body_input gp_input">
				</c-controlled-input>

				<div class="gp_dropdown_reg p-globalping-isp_network-tests_body_select">
					<span>Method</span>

					<div class="btn-group">
						<button type="button"
							class="dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
							<span>{{~/testType}}</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</button>

						<div class="dropdown-menu">
							{{#each ~/testTypesList}}
								<div on-click="@this.setLocation(this)">{{this}}</div>
							{{/each}}
						</div>
					</div>
				</div>

				<button type="button" class="gp_btn_green p-globalping-isp_network-tests_body_btn-test">Run Test</button>
			</div>

			<div class="p-globalping-isp_network-tests_descr">
				<span class="p-globalping-isp_network-tests_descr_msg">
					Enter a target and click <span class="highlighted">"Run Test"</span> to start a network test from:
					<br/>
					<span class="highlighted">Warsaw, Poland</span> with <span class="highlighted">Orange Polska</span>.
				</span>
			</div>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	const tooltip = require('../../../assets/js/decorators/tooltip');

	component.exports = {
		data () {
			return {
				title: 'TODO: ISP - Globalping',
				description: 'TODO: add descr',
				locationsList: [ 'TODO 1', 'TODO 2', 'TODO 3', 'TODO 4', 'TODO 5' ],
				location: null,
				testType: null,
				testTypesList: [ 'ping', 'ping6', 'traceroute', 'DNS', 'MTR', 'HTTP' ],
			}
		},
		oninit () {
			if (!Ractive.isServer) {

			}
		},
		onrender () {
			if (!Ractive.isServer) {

			}
		},
		setLocation (newLocation) {
			this.set('location', newLocation);
		},
	};
</script>
