<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/google-maps.html" name="c-google-maps">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header></c-gp-header>

	<div class="p-globalping-looking-glass">

	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'TODO: Looking Glass - Globalping',
				description: 'TODO: add descr',
			}
		},
		oninit () {
			if (!Ractive.isServer) {

			}
		},
		onrender () {
			if (!Ractive.isServer) {

			}
		},
	};
</script>
