<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/gp-top-navigation.html" name="c-gp-top-navigation">
<link rel="ractive" href="../../components/gp-jumbotron.html" name="c-gp-jumbotron">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<!-- TODO: 671, replace 'header-with-globalping-bg' with 'header-with-gp-translucent-bg' after gh-673 is merged -->
	<c-gp-header additionalClasses="header-with-globalping-bg"></c-gp-header>

	<div class="p-globalping-sponsors">
		<c-gp-jumbotron className="sponsors" gridType="type4"></c-gp-jumbotron>

		<h1 class="gp-sponsors_header">Our Sponsors</h1>

		<div class="gp-sponsors_main-info">
			<div class="gp-sponsors_main-info_descr">
				As an open source project that relies on the community to operate we are also highly appreciative of larger organizations that support our work.
			</div>

			<div class="gp-sponsors_main-info_list-wrapper">
				<span class="gp-sponsors_main-info_list-wrapper_title">
					Globalping sponsors can be listed here for considerable and ongoing contributions to the project in the form of:
				</span>

				<div class="gp-sponsors_main-info_list-wrapper_list">
					<span class="gp-sponsors_main-info_list-wrapper_list_item">
						<!-- TODO: 671, replace /img/globalping/mail-icon.svg with /img/globalping/check.svg after gh-673 is merged -->
						<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
						<span>Infrastructure like servers and services</span>
					</span>

					<span class="gp-sponsors_main-info_list-wrapper_list_item">
						<!-- TODO: 671, replace /img/globalping/mail-icon.svg with /img/globalping/check.svg after gh-673 is merged -->
						<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
						<span>Mass hosting of probes managed by us</span>
					</span>

					<span class="gp-sponsors_main-info_list-wrapper_list_item">
						<!-- TODO: 671, replace /img/globalping/mail-icon.svg with /img/globalping/check.svg after gh-673 is merged -->
						<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
						<span>Grants and on-going sponsorships</span>
					</span>

					<span class="gp-sponsors_main-info_list-wrapper_list_item">
						<!-- TODO: 671, replace /img/globalping/mail-icon.svg with /img/globalping/check.svg after gh-673 is merged -->
						<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
						<span>Dev hours and code contributions</span>
					</span>
				</div>
			</div>

			<div class="gp-sponsors_main-info_contact-us">
				<span>Contact us at</span>

				<a href="mailto:d@globalping.io" class="gp-sponsors_main-info_contact-us_mail">
					<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
					<span>d@globalping.io</span>
				</a>
			</div>
		</div>

		<div class="gp-sponsors_sponsors-list">
			<div class="gp-sponsors_sponsors-list_platinum">
				<div class="gp-sponsors_sponsors-list_platinum_title">PLATINUM</div>

				<div class="gp-sponsors_sponsors-list_platinum_list">
					<!-- <div class="gp-sponsors_sponsors-list_platinum_list_item">
						<div class="gp-sponsors_sponsors-list_platinum_list_item_logo">
							<img width="168"
								height="60"
								src="{{@shared.assetsHost}}/img/about/cloudflare.svg"
								loading="lazy"/>
						</div>

						<p class="gp-sponsors_sponsors-list_platinum_list_item_descr">
							Main backend CDN for jsDelivr offering unlimited bandwidth and locations. "Offers free and commercial, cloud-based services to help secure and accelerate websites."
						</p>

						<span class="gp-sponsors_sponsors-list_platinum_list_item_link">
							<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">

							<a href="https://www.cloudflare.com/">www.cloudflare.com</a>
						</span>
					</div> -->

					<div class="gp-sponsors_sponsors-list_platinum_list_item become-a-sponsor">
						<span class="gp-sponsors_sponsors-list_platinum_list_item_title">Become a sponsor</span>
						<span class="gp-sponsors_sponsors-list_platinum_list_item_descr">
							Learn how to become our sponsor
							<a href="#TODO:platinum">here.</a>
						</span>
					</div>
				</div>
			</div>

			<div class="gp-sponsors_sponsors-list_gold">
				<div class="gp-sponsors_sponsors-list_gold_title">GOLD</div>

				<div class="gp-sponsors_sponsors-list_gold_list">
					<div class="gp-sponsors_sponsors-list_gold_list_item">
						<div class="gp-sponsors_sponsors-list_gold_list_item_logo">
							<!-- height="60" -->
							<img title="Sponsored by Zenlayer"
								width="128"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/zenlayer.svg"
								loading="lazy"/>
						</div>

						<p class="gp-sponsors_sponsors-list_gold_list_item_descr">
							Deploy and run your applications on the #1 hyperconnected cloud for emerging markets.
						</p>

						<span class="gp-sponsors_sponsors-list_gold_list_item_link">
							<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">

							<a href="https://www.zenlayer.com/">www.zenlayer.com</a>
						</span>
					</div>

					<div class="gp-sponsors_sponsors-list_gold_list_item become-a-sponsor">
						<span class="gp-sponsors_sponsors-list_gold_list_item_title">Become a sponsor</span>
						<span class="gp-sponsors_sponsors-list_gold_list_item_descr">
							Learn how to become our sponsor
							<a href="#TODO:gold">here.</a>
						</span>
					</div>
				</div>
			</div>

			<div class="gp-sponsors_sponsors-list_bronze">
				<div class="gp-sponsors_sponsors-list_bronze_title">BRONZE</div>

				<div class="gp-sponsors_sponsors-list_bronze_list">
					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://gcore.com">
							<img title="Sponsored by GCore"
								width="120"
								height="34"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/g-core.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://xtom.com">
							<img title="Sponsored by xTom"
								width="101"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/xtom.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://looking.house">
							<img title="Sponsored by Looking.house"
								width="151"
								height="34"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/looking-house.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://www.starrydns.com">
							<img title="Sponsored by StarryDNS"
								width="160"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/starry.png"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://www.ip2location.io/">
							<img title="Sponsored by IP2Location"
								width="169"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/ip2location.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://terrahost.com">
							<img title="Sponsored by Terrahost"
								width="139"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/terrahost.png"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://www.exoscale.com">
							<img title="Sponsored by Exoscale"
								width="210"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/exoscale.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://www.fdcservers.net">
							<img title="Sponsored by FDCServers"
								width="95"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/fdc.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://ipinfo.io/">
							<img title="Sponsored by IPInfo"
								width="93"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/ipinfo.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://www.edisglobal.com/">
							<img title="Sponsored by EDIS Global"
								width="91"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/edis-global.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://www.misaka.io">
							<img title="Sponsored by Misaka Network, Inc."
								width="95"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/misaka.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://zappiehost.com">
							<img title="Sponsored by Zappie Host"
								width="97"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/zappiehost.png"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://www.dnsfilter.com/">
							<img title="Sponsored by DNSFilter"
								width="120"
								height="28"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/dnsfilter.png"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo" href="https://ipgeolocation.io/">
							<img title="Sponsored by IP Geolocation"
								width="97"
								height="56"
								src="{{@shared.assetsHost}}/img/globalping/sponsors/ipgeolocation.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item become-a-sponsor">
						<span class="gp-sponsors_sponsors-list_bronze_list_item_title">Become a sponsor</span>
						<span class="gp-sponsors_sponsors-list_bronze_list_item_descr">
							Learn how to become our sponsor
							<a href="#TODO:bronze">here.</a>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="gp-sponsors_help-us">
			<img width="40"
				height="40"
				src="{{@shared.assetsHost}}/img/globalping/heart.svg"
				loading="lazy" />

			<span class="gp-sponsors_help-us_text">
				Help us make jsDelivr even better
			</span>

			<button class="gp_btn_green">Become our sponsor</button>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Globalping Sponsors - Join the team to expand the network',
				description: 'Globalping Sponsors - Join the team to expand the network',
			};
		},
	};
</script>
