<link rel="ractive" href="../../r-page-globalping.html" name="r-page">
<link rel="ractive" href="../../components/gp-header.html" name="c-gp-header">
<link rel="ractive" href="../../components/gp-footer.html" name="c-gp-footer">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/gp-top-navigation.html" name="c-gp-top-navigation">
<link rel="ractive" href="../../components/gp-jumbotron.html" name="c-gp-jumbotron">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>

	<c-gp-header additionalClasses="header-with-globalping-bg"></c-gp-header>

	<div class="p-globalping-sponsors">
		<c-gp-jumbotron className="sponsors" gridType="type4"></c-gp-jumbotron>

		<h1 class="gp-sponsors_header">SPONSORS</h1>

		<div class="gp-sponsors_main-info">
			<div class="gp-sponsors_main-info_descr">
				As an open source project that relies on the community to operate we are also highly appreciative of larger organizations that support our work.
			</div>

			<div class="gp-sponsors_main-info_list-wrapper">
				<span class="gp-sponsors_main-info_list-wrapper_title">
					Globalping sponsors can be listed here for considerable and ongoing contributions to the project in the form of:
				</span>

				<div class="gp-sponsors_main-info_list-wrapper_list">
					<span class="gp-sponsors_main-info_list-wrapper_list_item">
						<!-- TODO: 671, replace thss icon with check.svg right after gh-673 is merged -->
						<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
						<span>Infrastructure like servers and services</span>
					</span>

					<span class="gp-sponsors_main-info_list-wrapper_list_item">
						<!-- TODO: 671, replace thss icon with check.svg right after gh-673 is merged -->
						<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
						<span>Mass hosting of probes managed by us</span>
					</span>

					<span class="gp-sponsors_main-info_list-wrapper_list_item">
						<!-- TODO: 671, replace thss icon with check.svg right after gh-673 is merged -->
						<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
						<span>Grants and on-going sponsorships</span>
					</span>

					<span class="gp-sponsors_main-info_list-wrapper_list_item">
						<!-- TODO: 671, replace thss icon with check.svg right after gh-673 is merged -->
						<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
						<span>Dev hours and code contributions</span>
					</span>
				</div>
			</div>

			<div class="gp-sponsors_main-info_contact-us">
				<span>Contact us at</span>

				<a href="mailto:d@globalping.io" class="gp-sponsors_main-info_contact-us_mail">
					<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">
					<span>d@globalping.io</span>
				</a>
			</div>
		</div>

		<div class="gp-sponsors_sponsors-list">
			<div class="gp-sponsors_sponsors-list_platinum">
				<div class="gp-sponsors_sponsors-list_platinum_title">PLATINUM</div>

				<div class="gp-sponsors_sponsors-list_platinum_list">
					<div class="gp-sponsors_sponsors-list_platinum_list_item">
						<div class="gp-sponsors_sponsors-list_platinum_list_item_logo">
							<img width="168"
								height="60"
								src="{{@shared.assetsHost}}/img/about/cloudflare.svg"
								loading="lazy"/>
						</div>

						<p class="gp-sponsors_sponsors-list_platinum_list_item_descr">
							Main backend CDN for jsDelivr offering unlimited bandwidth and locations. "Offers free and commercial, cloud-based services to help secure and accelerate websites."
						</p>

						<span class="gp-sponsors_sponsors-list_platinum_list_item_link">
							<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">

							<a href="https://www.cloudflare.com/">www.cloudflare.com</a>
						</span>
					</div>
				</div>
			</div>

			<div class="gp-sponsors_sponsors-list_gold">
				<div class="gp-sponsors_sponsors-list_gold_title">GOLD</div>

				<div class="gp-sponsors_sponsors-list_gold_list">
					<div class="gp-sponsors_sponsors-list_gold_list_item">
						<div class="gp-sponsors_sponsors-list_gold_list_item_logo">
							<img width="169"
								height="60"
								src="{{@shared.assetsHost}}/img/about/algolia.svg"
								loading="lazy"/>
						</div>

						<p class="gp-sponsors_sponsors-list_gold_list_item_descr">
							Algolia Search provides hosted full-text, numerical, faceted and geolocalized search.
						</p>

						<span class="gp-sponsors_sponsors-list_gold_list_item_link">
							<img src="{{@shared.assetsHost}}/img/globalping/mail-icon.svg" width="20" height="20">

							<a href="https://www.algolia.com/">www.algolia.com</a>
						</span>
					</div>
				</div>
			</div>

			<div class="gp-sponsors_sponsors-list_bronze">
				<div class="gp-sponsors_sponsors-list_bronze_title">BRONZE</div>

				<div class="gp-sponsors_sponsors-list_bronze_list">
					<div class="gp-sponsors_sponsors-list_bronze_list_item">
						<a class="gp-sponsors_sponsors-list_bronze_list_item_logo">
							<img width="231"
								height="60"
								src="{{@shared.assetsHost}}/img/about/clever-cloud.svg"
								loading="lazy"/>
						</a>
					</div>

					<div class="gp-sponsors_sponsors-list_bronze_list_item become-a-sponsor">
						<span class="gp-sponsors_sponsors-list_bronze_list_item_title">Become a sponsor</span>
						<span class="gp-sponsors_sponsors-list_bronze_list_item_descr">
							Learn how to become our sponsor
							<a href="#">here.</a>
						</span>
					</div>
				</div>
			</div>

			<div class="gp-sponsors_sponsors-list_help-us">

			</div>
		</div>
	</div>

	<c-gp-footer></c-gp-footer>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'TODO: 671 add title',
				description: 'TODO: 671 add description',
			};
		},
	};
</script>
