include ../partials/header
.alert.alert-warning #[strong TODO] - Render the map better

.container
  h1 42 POP Locations all over the world
  iframe(height="420", width="100%", frameborder="0", src="https://render.githubusercontent.com/view/geojson?url=https://raw.github.com/jsdelivr/jsdelivr/master/network.geojson")
