<ul class="nav navbar-nav navbar-nav-c">
	<li class="dropdown">
		<a href="/free-open-source-cdn/javascript-cdn" class="dropdown-toggle clickable router-ignore" data-toggle="dropdown">Free Open Source CDN</a>

		<ul class="dropdown-menu">
			<li><a href="/free-open-source-cdn/javascript-cdn">JavaScript CDN</a></li>
			<!--<li><a href="/free-open-source-cdn/wordpress-cdn">WordPress CDN</a></li>-->
			<!--<li><a href="/free-open-source-cdn/npm-cdn">NPM CDN</a></li>-->
			<li><a href="/free-open-source-cdn/custom-cdn-for-open-source">Custom CDN for Open Source</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="/features/multi-cdn-load-balancing" class="dropdown-toggle clickable router-ignore" data-toggle="dropdown">Features</a>

		<ul class="dropdown-menu">
			<li><a href="/features/multi-cdn-load-balancing">Multi-CDN Load balancing</a></li>
			<li><a href="/features/jsdelivr-cdn-features">jsDelivr CDN features</a></li>
			<li><a href="/features/network-map">Network Map</a></li>
			<li><a href="/features/cdn-in-asia-and-china">CDN in Asia and China</a></li>
		</ul>
	</li>

	<li><a href="/statistics">Statistics</a></li>

	<li class="dropdown">
		<a href="/tools/debug-tool" class="dropdown-toggle clickable router-ignore" data-toggle="dropdown">Tools</a>

		<ul class="dropdown-menu">
			<li><a href="/tools/debug-tool">Debug tool</a></li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="/sponsors/our-sponsors" class="dropdown-toggle clickable router-ignore" data-toggle="dropdown">Sponsors</a>

		<ul class="dropdown-menu">
			<li><a href="/sponsors/our-sponsors">Our sponsors</a></li>
			<li><a href="/sponsors/become-a-sponsor">Become a sponsor</a></li>
		</ul>
	</li>

	<li><a href="http://blog.jsdelivr.com/">Blog</a></li>
</ul>
