<div class="version-dropdown btn-group">
	{{#if project.versions.length > 1}}
		<span class="clickable version-dropdown-selected-version" data-toggle="dropdown">
			<a>{{project.selectedVersion}}</a>
			<i class="fa fa-chevron-down"></i>
		</span>

		<ul class="dropdown-menu">
			{{#each project.versions}}
				{{#if this !== project.selectedVersion}}
					<li><a class="clickable" on-click="set('project.selectedVersion', this)">{{this}}</a></li>
				{{/if}}
			{{/each project.versions}}
		</ul>
	{{else}}
		<span class="version-dropdown-selected-version">
			<a>{{project.selectedVersion}}</a>
		</span>
	{{/if}}
</div>
