<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A free super-fast CDN for developers and webmasters">
		<title>jsDelivr - A free super-fast CDN for developers and webmasters</title>
		<link rel="stylesheet" href="/css/app.min.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:200,400,600,700">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css">
	</head>

	<body>
		<div id="page"></div>

		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="left">
							<div class="row">
								<div class="col-md-22 col-md-offset-2 col-sm-24 col-xs-24 xs-center footer-featured">
									<ul class="horizontal-list">
										<li><a href="/about">About JSDelivr</a></li>
										<li><a href="/about#about">Team</a></li>
										<li><button class="btn btn-primary btn-xlg">Become a sponsor</button></li>
									</ul>
								</div>
							</div>

							<div class="row">
								<div class="col-md-22 col-md-offset-2 col-xs-24 xs-center sub-level">
									<ul class="horizontal-list">
										<li>&copy; jsdelivr.com, 2015</li>
										<li><a href="https://github.com/jsdelivr/jsdelivr"><i class="fa fa-github"></i>jsdelivr</a></li>
										<li><a href="https://twitter.com/jimaek"><i class="fa fa-twitter"></i>jimaek</a></li>
										<li><a href="mailto:contact@jsdelivr.com"><i class="fa fa-envelope"></i>contact@jsdelivr.com</a></li>
										<li><a href="https://github.com/jsdelivr/api"><i class="fa fa-cogs"></i>API</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12">
						<div class="right">
							<div class="row">
								<div class="col-sm-23 col-sm-offset-1 col-xs-24 xs-center">
									<ul class="horizontal-list horizontal-list-lg">
										<li><a href="https://www.algolia.com/"><img src="/img/sponsors-footer/algolia.png"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script src="//cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,typeahead.js@0.11.1(typeahead.jquery.min.js),ractive@0.7.3(ractive.runtime.min.js),ractive.route@0.3.0,ractive.transitions-fade@0.2.1,ractive.transitions-slide@0.2.1,zeroclipboard@2.2.0,algoliasearch@3.0.0"></script>
		<script src="/js/app.min.js"></script>
	</body>
</html>
