<link rel="ractive" href="./components/footer.html" name="c-footer">
<link rel="ractive" href="./components/header.html" name="c-header">
<link rel="ractive" href="./components/notification.html" name="c-notification">

{{#if !@shared.isServer}}
	{{yield}}
{{else}}
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="{{ description || 'A free, fast, and reliable Open Source CDN for npm and GitHub with the largest network and best performance among all CDNs. Serving more than 20 billion requests per month.'}}">
			<meta name="keywords" content="jsdelivr, cdn, npm, github, js, javascript, free, open source, oss">
			<meta property="og:locale" content="en_US">
			<meta property="og:type" content="website">
			<meta property="og:title" content="jsDelivr - A free, fast, and reliable Open Source CDN for npm and GitHub">
			<meta property="og:description" content="A free, fast, and reliable Open Source CDN for npm and GitHub with the largest network and best performance, perfectly suited for production use.">
			<meta property="og:url" content="https://www.jsdelivr.com/">
			<meta property="og:site_name" content="jsDelivr">
			<meta property="og:image" content="https://www.jsdelivr.com/img/logo@2x.png">
			<meta property="og:image:secure_url" content="https://www.jsdelivr.com/img/logo@2x.png">
			<meta name="twitter:card" content="summary">
			<meta name="twitter:description" content="A free, fast, and reliable Open Source CDN for npm and GitHub with the largest network and best performance, perfectly suited for production use.">
			<meta name="twitter:title" content="jsDelivr - A free, fast, and reliable Open Source CDN for npm and GitHub">
			<meta name="twitter:site" content="@jsdelivr">
			<meta name="twitter:image" content="https://www.jsdelivr.com/img/logo@2x.png">
			<meta name="twitter:creator" content="@jsdelivr">
			<title>{{title || 'jsDelivr - A free, fast, and reliable Open Source CDN for npm & GitHub'}}</title>
			{{yield seo}}
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4/css/font-awesome.min.css">
			<link rel="stylesheet" href="/css/app.css?v={{@shared.assetsVersion}}">
			<link rel="sitemap" href="/sitemap/index.xml" type="application/xml">
			<link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="jsDelivr">
			{{yield css}}
			<script type="application/ld+json">
			{
				"@context":"http://schema.org",
				"@type":"Organization",
				"url":"https://www.jsdelivr.com/",
				"sameAs":["https://www.linkedin.com/company/jsdelivr/","https://plus.google.com/b/104475276053139550029/104475276053139550029","https://twitter.com/jsdelivr", "https://en.wikipedia.org/wiki/JSDelivr"],
				"@id":"#organization",
				"name":"jsDelivr",
				"alternateName": "JSDelivr",
				"foundingDate": "2012-04-10",
				"logo":"https://www.jsdelivr.com/img/icon_256x256.png",
				"potentialAction":{"@type":"SearchAction","target":"https://www.jsdelivr.com/?query={search_term_string}","query-input":"required name=search_term_string"}
			}
			</script>
		</head>

		<body>
			<div id="wrapper">
				<div id="page">
					{{#unless noYield}}{{yield}}{{/unless}}
				</div>

				<div id="push"></div>
			</div>

			<c-footer></c-footer>

			<script src="https://cdn.jsdelivr.net/npm/ractive@0.9.13/ractive.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/ractive-route@0.3.7/ractive-route.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/ractive-decorators-sortable@0.2.1/Ractive-decorators-sortable.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/ractive-transitions-fade@0.3.1/dist/ractive-transitions-fade.umd.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/ractive-transitions-fly@0.3.0/dist/ractive-transitions-fly.umd.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/ractive-transitions-slide@0.4.0/dist/ractive-transitions-slide.umd.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/algoliasearch@3.24.3/dist/algoliasearchLite.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/clipboard@1.7.1/dist/clipboard.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chart.js@2.6.0/dist/Chart.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/marked@0.3.19/marked.min.js"></script>
			{{yield js}}
			<script>
                /* eslint-disable */
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-31822709-1', 'auto');
			</script>
			<script src="/js/app.js?v={{@shared.assetsVersion}}"></script>
			<script>
                /* eslint-disable */
                function initMap () {
					$(function () {
						app.loaded = true;

						if (app.router.route && app.router.route.view && app.router.route.view.initMap) {
							app.router.route.view.initMap();
						}
					});
				}
			</script>
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWraRnq2wVoc1ywlDtl7mvkvWlrlQSFhQ&callback=initMap"></script>
			<script async src="https://rum.perfops.net/rum.min.js"></script>
		</body>
	</html>
{{/if}}
