<link rel="ractive" href="../../r-page.html">
<link rel="ractive" href="../../components/header.html" name="c-header">
<link rel="ractive" href="../../components/notification.html" name="c-notification">
<link rel="ractive" href="../../components/markdown.html" name="c-markdown">
<link rel="ractive" href="../../components/github-md-documents-prefetch.html" name="c-github-md-documents-prefetch">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-github-md-documents-prefetch></c-github-md-documents-prefetch>
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-acceptable-use-policy text-page">
		<div class="container">
			<c-markdown text="{{@shared.auNetText}}"></c-markdown>
		</div>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Acceptable Use Policy - cdn.jsdelivr.net',
			};
		},
	};
</script>
