<div id="carousel" class="carousel slide" data-ride="carousel">
	<!-- indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class="active"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
		<li data-target="#carousel" data-slide-to="3"></li>
		<li data-target="#carousel" data-slide-to="4"></li>
		<li data-target="#carousel" data-slide-to="5"></li>
	</ol>

	<!-- wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<blockquote>"We're using <a href="https://twitter.com/jsDelivr" target="_blank">@jsDelivr</a> now at <a href="https://twitter.com/CensusReporter" target="_blank">@CensusReporter</a>,
						because a single request for <a href="https://gist.githubusercontent.com/ryanpitts/9676345/raw/gistfile1.txt" target="_blank">all this</a> from a CDN is awesome."
						<small>@ryanpitts</small>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<blockquote>"<a href="https://twitter.com/jsDelivr" target="_blank">@jsDelivr</a> open source CDN looks awesome. Love the versioning & combo handler."
						<small>@Souders</small>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<blockquote>"After using it for &lt;1 week: I LOVE <a href="https://twitter.com/jsDelivr" target="_blank">@jsDelivr</a>. The `/g/` mode is just plain awesome."
						<small>@passcod</small>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<blockquote>"jsDelivr &ndash; an advanced open source public CDN for developers."
						<small>@mozappsdev</small>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<blockquote>"Pretty sweet! CDNify your OSS client-side projects for free with <a href="https://twitter.com/jsDelivr" target="_blank">@jsDelivr</a>."
						<small>@mervinej</small>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<blockquote>"Thanks to <a href="https://twitter.com/jsDelivr" target="_blank">@jsDelivr</a> for setting up a CDN for SlidesJS!"
						<small>@nathansearles</small>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</div>