<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FeaturesSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FeaturesSidebar></FeaturesSidebar>

<div class="cdn-in-asia-and-china features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					Features
				</div>

				<h1>CDN in Asia and China</h1>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-sm-12 text-center">
							<img src="/img/features/cdn-in-asia-and-china/map.png">
						</div>

						<div class="col-sm-12">
							<h2>We have a <strong>big network</strong> in China</h2>

							<p>
								jsDelivr has partnered up with multiple Chinese companies to provide fast and reliable file delivery in China mainland and the whole Asian continent. We have servers
								inside China that improve the delivery speeds and latency significantly. Check our network map for the full list of locations. We also have a valid ICP
								license issued by the Chinese government that protects us from bans and slow downloads.
							</p>

							<p class="cdn-in-asia-and-china-not-banned">
								We are <strong>not banned</strong> by the Chinese government.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'CDN in Asia and China - jsDelivr',
			};
		},
	};
</script>
