<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FeaturesSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FeaturesSidebar></FeaturesSidebar>

<div class="jsdelivr-cdn-features features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					Features
				</div>

				<h1>jsDelivr CDN features</h1>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12">
							<h2>MAXIMUM PERFORMANCE AND UPTIME</h2>

							<p>
								Our public CDN is built with performance and reliability in mind. Everything is <strong>optimized</strong> and being constantly improved to offer
								all users <strong>maximum speed and uptime</strong>. Performance is monitored at all times, and we are always looking into new technologies and
								providers that may further improve our CDN.

							</p>

							<p>
								Downtime, timeouts and slow responses are simply unacceptable. The idea is not to simply offer a public CDN, but to offer the best possible
								experience and a rock-solid product ready to be used in production by any website.
							</p>
						</div>

						<div class="col-xs-12 text-center">
							<img src="/img/features/jsdelivr-cdn-features/maximum-performance-and-uptime.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12 text-center">
							<img src="/img/features/jsdelivr-cdn-features/multi-cdn.png">
						</div>

						<div class="col-xs-12">
							<h2>MULTI-CDN</h2>

							<p>
								Unlike the competition, jsDelivr uses multiple CDN providers which results in best possible uptime and performance. We currently use
								<a target="_blank" href="http://tracking.maxcdn.com/c/47243/36539/378">MaxCDN</a>, <a target="_blank" href="http://www.cloudflare.com/">Cloudflare</a>, and
								<a target="_blank" href="https://www.keycdn.com/">KeyCDN</a>.
							</p>

							<p>
								On top of CDN providers, jsDelivr also utilizes custom servers in locations where CDNs don't have points of presence to further optimize the speed
								of file downloads for users near those locations.
							</p>

							<p>
								If a CDN or custom server goes down, websites that use jsDelivr won't have any issues because all traffic will be instantly redirected to remaining
								operational providers.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3 col-xs-22 col-xs-offset-1">
					<div class="row row-same-height">
						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/version-aliasing.png">
						</div>

						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/automatic.png">
						</div>

						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/a-real-api.png">
						</div>
					</div>

					<div class="row row-same-height row-offset">
						<div class="col-xs-8 text-center">
							<h2>VERSION ALIASING</h2>

							<p class="text-center">
								Every single project hosted by jsDelivr supports advanced features such as version aliasing. It allows people to use a dynamic URL and keep their
								websites up-to-date without changing anything. <a href="https://github.com/jsdelivr/jsdelivr#version-aliasing">Full documentation.</a>
							</p>
						</div>

						<div class="col-xs-8 text-center">
							<h2>AUTOMATED UPDATES</h2>

							<p class="text-center">
								jsDelivr can automatically keep a project up-to-date as new versions are released, thanks to a bot called libgrabber that runs
								independently and scans for new versions of hosted projects every 30 minutes.
								<a href="https://github.com/jsdelivr/jsdelivr#auto-updating">Full documentation.</a>
							</p>
						</div>

						<div class="col-xs-8 text-center">
							<h2>A REAL API</h2>

							<p class="text-center">
								You can request exactly what you need using our API without downloading a huge JSON package. And it also supports cdnjs, Google Hosted Libraries, and BootstrapCDN.
								This way developers have everything they need to build their applications. <a href="https://github.com/jsdelivr/api">Full documentation.</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12">
							<h2>SMART LOAD BALANCING</h2>

							<p>
								jsDelivr uses <a target="_blank" href="http://www.cedexis.com/">Cedexis</a> with real user performance data (also known as RUM) to make its routing
								decisions. These metrics are gathered from  hundreds of websites and are used in our load balancing algorithm to make accurate decisions for serving content.
								All providers  (CDNs and custom servers) are tested millions times per day by real users from all over the world. Based on this information, jsDelivr knows
								what provider is the fastest for each user. Each user gets a unique response based on his or her location, ISP, and the providers' uptime in real time.
							</p>

							<p>
								This system also responds immediately to performance degradation and downtime of providers. If a CDN is under a DDoS attack, and their performance
								drops in some locations, in matter of seconds the algorithm will pick up the change and start serving a different provider to all affected users.
							</p>
						</div>

						<div class="col-xs-12 text-center">
							<img src="/img/features/jsdelivr-cdn-features/smart-load-balancing.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12 text-center">
							<img src="/img/features/jsdelivr-cdn-features/load-multiple-files.png">
						</div>

						<div class="col-xs-12">
							<h2>LOAD MULTIPLE FILES</h2>

							<p>
								jsDelivr is the first CDN to support this kind of functionality. You can load multiple files using a <strong>single HTTP request</strong>. It's similar
								to combining and minifying JavaScript files in your own server, but cached by the huge and smart network of jsDelivr.</p>

							<p>
								All you have to do is to build your own URL with the projects and files you want to combine and their versions if needed.
								<a href="https://github.com/jsdelivr/jsdelivr#load-multiple-files-with-single-http-request">Full documentation.</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3 col-xs-22 col-xs-offset-1">
					<div class="row row-same-height">
						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/https-and-spdy.png">
						</div>

						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/open-source.png">
						</div>

						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/unlimited-traffic.png">
						</div>
					</div>

					<div class="row row-same-height row-offset">
						<div class="col-xs-8 text-center">
							<h2>HTTPS AND SPDY</h2>

							<p class="text-center">
								Security is very important to all of us. Thats why all files are accessible via HTTPS with <strong>full SPDY support</strong> for better performance.
							</p>
						</div>

						<div class="col-xs-8 text-center">
							<h2>OPEN SOURCE</h2>

							<p class="text-center">
								<strong>jsDelivr is a non-profit project</strong> with all of our software open sourced and available at GitHub for anyone to use and contribute.
							</p>
						</div>

						<div class="col-xs-8 text-center">
							<h2>UNLIMITED TRAFFIC</h2>

							<p class="text-center">
								Thanks to our sponsors, we have absolutely no traffic limits. Even if your website generates huge amounts of traffic <strong>every day</strong>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'jsDelivr CDN features',
			};
		},
	};
</script>
