<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FeaturesSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FeaturesSidebar></FeaturesSidebar>

<div class="multi-cdn-load-balancing features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					Features
				</div>

				<h1>Multi-CDN Load balancing</h1>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12">
							<h2>Global load balancing</h2>

							<p>
								After the web page finishes loading, our JavaScript code executes and fetches a small file from a few CDNs, silently in the background.
							</p>

							<p>
								After a test is done, detailed performance data is beaconed to our servers (or a simple 'Fail' if the object did not load completely in 5 seconds).
							</p>
						</div>

						<div class="col-xs-12 text-center">
							<img src="/img/features/multi-cdn-load-balancing/global-load-balancing.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12 text-center">
							<img src="/img/features/multi-cdn-load-balancing/real-time-data-monitoring.png">
						</div>

						<div class="col-xs-12">
							<h2>Real-time data monitoring</h2>

							<p>
								Our servers receive, validate and store the performance data as it comes in. It then flows into our real-time data processing engine, Analyzr,
								which constantly calculates a performance score for every CDN per country/state, using a carefully crafted algorithm.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12">
							<h2>Automatic CDN switch</h2>

							<p>
								If at some point in time, for a certain country/state, the platform believes
								it makes sense (= performance will improve), it automatically switches
								to a different CDN. The switch happens by changing a DNS record.
								Not long after the switch, end users will be routed to the better CDN.
							</p>
						</div>

						<div class="col-xs-12 text-center">
							<img src="/img/features/multi-cdn-load-balancing/automatic-cdn-switch.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
