<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FeaturesSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FeaturesSidebar></FeaturesSidebar>

<div class="network-map features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-4 col-xs-16 col-xs-offset-7">
				<div class="category">
					Features
				</div>

				<h1>Network Map</h1>
				<h3>69 POP Locations all over the world</h3>

				<iframe src="https://a.tiles.mapbox.com/v4/jimaek.map-6gmedxyr/attribution,zoompan.html?access_token=pk.eyJ1IjoiamltYWVrIiwiYSI6IkRnYjJWSDgifQ.HKcp_zscAIS0gtR4mHOoeQ#2/19.5/14.1"></iframe>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-4 col-xs-16 col-xs-offset-7">
				<h3>Features</h3>

				<div class="row">
					<div class="col-xs-6">
						<ul class="ul">
							<li>Global presence</li>
							<li>DDOS Protected</li>
							<li>Enterprise Hardware</li>
						</ul>
					</div>

					<div class="col-xs-6">
						<ul class="ul">
							<li>Multi-CDN infrastructure</li>
							<li>Failover systems</li>
							<li>Akamai Hosted DNS</li>
						</ul>
					</div>

					<div class="col-xs-6">
						<ul class="ul">
							<li>Unlimited traffic</li>
							<li>Malware free</li>
							<li>Community managed</li>
						</ul>
					</div>

					<div class="col-xs-6">
						<ul class="ul">
							<li>RUM based routing</li>
							<li>HTTPS Access</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
