<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FeaturesSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FeaturesSidebar></FeaturesSidebar>

<div class="network-map features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					Features
				</div>

				<h1>Network Map</h1>
				<h3>Over 110 POP Locations all over the world</h3>

				<iframe src="https://a.tiles.mapbox.com/v4/jimaek.map-6gmedxyr/attribution,zoompan.html?access_token=pk.eyJ1IjoiamltYWVrIiwiYSI6IkRnYjJWSDgifQ.HKcp_zscAIS0gtR4mHOoeQ#2/19.5/14.1"></iframe>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'Network Map - jsDelivr',
			};
		},
	};
</script>
