.p-about {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #17233b;
	position: relative;

	.navigation {
		display: flex;
		align-items: center;
		height: 44px;
		border-top: solid 1px rgb(255 255 255 / 32%);
		border-bottom: solid 1px rgb(255 255 255 / 32%);
		justify-content: center;
		column-gap: 32px;

		a {
			display: flex;
			justify-content: center;
			width: 164px;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #fff;
			opacity: .64;
			text-decoration: none;

			@media (min-width: @screen-sm-min) {
				width: auto;
			}

			&.active {
				opacity: 1;
				font-weight: 600;
				letter-spacing: .2px;
			}
		}
	}

	.container {
		width: 100%;
		max-width: 1016px;
		margin: 0 auto;
		padding: 0;
	}

	.container-sm {
		max-width: 806px;
	}

	.container-lg {
		max-width: 1224px;
	}

	section {
		padding: 0 24px;
	}

	.about-header {
		margin: 0 0 24px;
		font-size: 24px;
		line-height: 36px;
		font-weight: 600;
		letter-spacing: .2px;
		background-image: linear-gradient(rgba(246, 81, 40, 1), rgba(246, 81, 40, .08));
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;

		@media (min-width: @screen-sm-min) {
			font-size: 40px;
			line-height: 56px;
			margin: 0 0 40px;
		}
	}

	p {
		margin: 0;
		font-size: 18px;
		line-height: 26px;
		color: #17233b;
	}

	.bold-text {
		&_reg {
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;

			@media (min-width: @screen-sm-min) {
				font-size: 18px;
				line-height: 26px;
			}
		}

		&_reg-alt {
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;

			@media (min-width: @screen-sm-min) {
				font-size: 20px;
				line-height: 32px;
			}
		}

		&_md {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			letter-spacing: .2px;

			@media (min-width: @screen-sm-min) {
				font-size: 20px;
				line-height: 32px;
			}
		}

		&_lg {
			font-size: 18px;
			line-height: 26px;
			font-weight: 600;
			letter-spacing: .2px;

			@media (min-width: @screen-sm-min) {
				font-size: 32px;
				line-height: 44px;
			}
		}

		&_lg-alt {
			font-size: 18px;
			line-height: 26px;
			font-weight: 600;
			letter-spacing: .2px;

			@media (min-width: @screen-sm-min) {
				font-size: 20px;
				line-height: 32px;
			}
		}
	}

	.about-descr {
		.page-title {
			font-size: 32px;
			line-height: 44px;
			letter-spacing: .2px;
			color: #fff;
			text-align: center;
			margin: 32px 0 52px;

			@media (min-width: @screen-sm-min) {
				font-size: 48px;
				line-height: 68px;
				text-align: left;
				margin: 96px 0 160px;
			}

			span {
				display: block;
			}
		}

		p {
			color: #17233b;
			margin-bottom: 24px;
		}

		&_blocks {
			display: flex;
			flex-direction: column;
			row-gap: 8px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				column-gap: 24px;
			}

			div {
				display: flex;
				align-items: center;
				height: 84px;
				padding: 24px;
				column-gap: 24px;
				box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
				border-radius: 8px;

				@media (min-width: @screen-sm-min) {
					flex-direction: column;
					height: 200px;
					padding: 40px;
					flex-grow: 1;
					flex-basis: 0;
					max-width: 253px;
					row-gap: 40px;
					align-items: flex-start;
				}
			}

			img {
				width: 30px;
				height: 36px;

				@media (min-width: @screen-sm-min) {
					width: 40px;
					height: 48px;
				}
			}
		}
	}

	.about-link {
		color: rgba(246, 81, 40, 1);
		text-decoration: none;
	}

	.about-numbers, .banner-history, .about-production, .about-sustainability, .about-people, .about-sponsors {
		margin-top: 40px;

		@media (min-width: @screen-sm-min) {
			margin-top: 128px;
		}
	}

	.about-numbers {
		&_table {
			display: flex;
			flex-direction: column;
			row-gap: 24px;

			@media (min-width: @screen-sm-min) {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				column-gap: 24px;
			}

			> div {
				display: flex;
				flex-direction: column;
				row-gap: 8px;

				@media (min-width: @screen-sm-min) {
					justify-content: center;
				}

				> p {
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;

					@media (min-width: @screen-sm-min) {
						font-size: 18px;
						line-height: 26px;
					}
				}
			}

			a {
				display: flex;
				align-items: center;
				font-size: 16px;
				line-height: 24px;
				color: #f65128;
				cursor: pointer;

				@media (min-width: @screen-sm-min) {
					height: 78px;
					padding-left: 32px;
					border-left: 1px solid #dfe3e7;
				}
			}
		}
	}

	.banner-history {
		.container-lg {
			padding: 24px 24px 0;
			background: #fcf0ed;
			border-radius: 8px;
			overflow: hidden;
			position: relative;

			@media (min-width: @screen-sm-min) {
				padding: 0 20px;
			}
		}

		&-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			gap: 24px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
			}

			&:before, &:after {
				display: none;
			}
		}

		&-content {
			width: 100%;
			text-align: center;

			@media (min-width: @screen-sm-min) {
				width: 290px;
				text-align: left;
			}

			div {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 16px;
				font-weight: 600;
				letter-spacing: .2px;
				color: #17233b;

				@media (min-width: @screen-sm-min) {
					font-size: 24px;
					line-height: 36px;
					margin-bottom: 32px;
				}
			}

			a {
				width: 100%;
				font-size: 14px;
				line-height: 20px;

				@media (min-width: @screen-sm-min) {
					width: 159px;
				}
			}
		}

		&-graphic {
			width: 100%;
			margin: 0 0 -4px;
			flex-grow: 1;
			display: block;
			text-align: center;
			position: relative;
			z-index: 2;

			@media (min-width: @screen-sm-min) {
				max-width: 506px;
				margin: -22px 0;
			}

			span, :before, :after {
				border-radius: 3px;
				display: block;
				background: #fff;
				color: #f65128;
				box-shadow: 0 2px 3px rgba(157, 31, 0, .12), 0 6px 20px rgba(157, 31, 0, .12);

				@media (min-width: @screen-sm-min) {
					border-radius: 6px;
				}
			}

			:before, :after {
				content: "";
			}

			span {
				font-size: 8px;
				padding: 4px 0 3px;
				width: 70px;
				margin: 0 auto;
				text-align: center;
				position: relative;
				font-weight: 600;
				letter-spacing: .2px;

				@media (min-width: @screen-sm-min) {
					font-size: 12px;
					padding: 7px 0 9px;
					width: 112px;
				}
			}

			.bars {
				margin: 20px auto;
				position: relative;

				@media (min-width: @screen-sm-min) {
					margin: 40px auto;
				}

				&:last-child {
					display: none;

					@media (min-width: @screen-sm-min) {
						display: block;
					}
				}
			}

			.bars:before, .bars:after {
				height: 7px;
				width: calc((100% - 110px) / 2);
				position: absolute;

				@media (min-width: @screen-sm-min) {
					height: 12px;
					width: calc((100% - 160px) / 2);
				}
			}

			.bars:before {
				top: 0;
				left: 35px;
				width: calc((100% - 110px - 50px) / 2);

				@media (min-width: @screen-sm-min) {
					left: 56px;
					width: calc((100% - 112px - 32px - 112px) / 2);
				}
			}

			.bars:after {
				left: 10px;
				bottom: 0;

				@media (min-width: @screen-sm-min) {
					left: 8px;
				}
			}

			.bars.right:before {
				width: calc((100% - 110px - 60px) / 2);
				right: 40px;
				left: auto;

				@media (min-width: @screen-sm-min) {
					width: calc((100% - 112px - 32px - 174px) / 2);
					right: 87px;
				}
			}

			.bars.right:after {
				width: calc((100% - 110px - 100px) / 2);
				right: 60px;
				left: auto;

				@media (min-width: @screen-sm-min) {
					width: calc((100% - 112px - 32px - 232px) / 2);
					right: 116px;
				}
			}

			span:before, span:after {
				height: 12px;
				width: 2px;
				border-radius: 2px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);

				@media (min-width: @screen-sm-min) {
					width: 4px;
					height: 24px;
				}
			}

			span:before {
				top: -5px;
				transform: translateY(-100%);

				@media (min-width: @screen-sm-min) {
					top: -8px;
				}
			}

			span:after {
				bottom: -5px;
				transform: translateY(100%);

				@media (min-width: @screen-sm-min) {
					bottom: -8px;
				}
			}

			h2.about-header {
				margin: 0;
				line-height: 1;
			}
		}

		.banner-map {
			position: absolute;
			width: 125%;
			top: 128px;
			right: 0;
			object-position: top center;
			object-fit: contain;
			height: 70%;
			z-index: 1;

			@media (min-width: @screen-sm-min) {
				width: 65%;
				top: 0;
				height: 100%;
				object-fit: cover;
				object-position: left center;
			}
		}
	}

	.about-people {
		h4 {
			margin: 0;
		}

		.container.container-sm > p {
			margin-bottom: 24px;

			@media (min-width: @screen-sm-min) {
				margin-bottom: 40px;
			}
		}

		&_divider {
			background: #dfe3e7;
			height: 1px;
			margin: 24px 0;

			@media (min-width: @screen-sm-min) {
				margin: 40px 0;
			}
		}

		&_row {
			display: flex;
			flex-direction: column;
			row-gap: 24px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				column-gap: 24px;
			}

			> h4 {
				@media (min-width: @screen-sm-min) {
					display: flex;
					flex-grow: 1;
					max-width: 184px;
				}
			}

			&_cell {
				display: flex;
				align-items: center;
				column-gap: 16px;

				@media (min-width: @screen-sm-min) {
					flex-direction: column;
					flex-grow: 1;
					flex-basis: 0;
					max-width: 184px;
				}

				> img {
					border-radius: 8px;
					width: 64px;
					height: 64px;

					@media (min-width: @screen-sm-min) {
						width: 80px;
						height: 80px;
					}
				}

				.personal-info {
					display: flex;
					flex-direction: column;

					h5 {
						margin: 0;
						font-weight: 600;
						font-size: 16px;
						line-height: 24px;
						letter-spacing: .2px;
						color: #111a2c;

						@media (min-width: @screen-sm-min) {
							text-align: center;
							margin: 16px 0 0;
						}
					}

					span {
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #5c667a;

						@media (min-width: @screen-sm-min) {
							text-align: center;
						}
					}
				}

				> a {
					display: flex;
					margin-left: auto;
					width: 24px;
					height: 24px;

					@media (min-width: @screen-sm-min) {
						margin: 8px 0 0;
					}

					img {
						display: flex;
						width: 100%;
						border-radius: 0;
					}
				}
			}
		}

		&_contributors {
			display: flex;
			flex-direction: column;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				align-items: flex-start;
				column-gap: 24px;
			}

			> h4 {
				@media (min-width: @screen-sm-min) {
					display: flex;
					flex-grow: 1;
					max-width: 184px;
				}
			}

			&_numbers {
				align-self: center;
				width: 234px;
				height: 80px;
				margin: 26px 0 10px;

				@media (min-width: @screen-sm-min) {
					order: 3;
					width: 291px;
					height: 96px;
					margin: 0 0 0 auto;
					align-self: flex-start;
				}
			}

			&_list {
				align-self: center;
				width: 264px;
				height: 96px;

				@media (min-width: @screen-sm-min) {
					order: 2;
					align-self: flex-start;
				}
			}
		}
	}

	.about-sponsors {
		@media (min-width: @screen-sm-min) {
			margin-bottom: 80px;
		}

		&_divider {
			display: none;

			@media (min-width: @screen-sm-min) {
				display: flex;
				width: 100%;
				height: 1px;
				background-color: #dfe3e7;
			}
		}

		&_row {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			gap: 24px;

			@media (min-width: 576px) {
				justify-content: space-evenly;
			}

			@media (min-width: @screen-sm-min) {
				row-gap: 40px;
				justify-content: space-between;
			}

			&_cell {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-grow: 1;
				flex-basis: 144px;
				max-width: 144px;
				height: 32px;

				@media (min-width: @screen-sm-min) {
					flex-basis: auto;
					max-width: none;
					flex-grow: 0;
					height: 40px;
				}

				&.alt-height {
					img {
						height: 24px;

						@media (min-width: @screen-sm-min) {
							height: 32px;
						}
					}
				}

				img {
					width: auto;
					height: 32px;

					@media (min-width: @screen-sm-min) {
						height: 40px;
					}
				}

				&-btn {
					max-width: none;
					flex-basis: 312px;

					@media (min-width: @screen-sm-min) {
						flex-basis: 93px;
						max-width: 93px;
					}

					> a {
						width: 100%;
					}
				}
			}
		}
	}
}
