.p-about {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #17233b;
	position: relative;

	.c-header-gradient {
		top: -64px;
	}

	.header-gradient-map {
		width: 100%;
		height: 100%;
		max-width: 908px;
		object-fit: contain;
		object-position: center top;
	}

	.container {
		width: 100%;
		max-width: 1016px;
		margin: 0 auto;
		padding: 0;
	}

	.container-sm {
		max-width: 806px;
	}

	.container-lg {
		max-width: 1224px;
	}

	section {
		padding: 64px 24px;

		&.pt-0 {
			padding-top: 0;
		}
	}

	.page-title {
		font-size: 48px;
		line-height: 68px;
		letter-spacing: .2px;
		color: #fff;
		margin-bottom: 120px;

		span {
			display: block;
		}
	}

	.about-header {
		margin: 0 0 40px;
		font-weight: 600;
		font-size: 40px;
		line-height: 56px;
		letter-spacing: .2px;
		background-image: linear-gradient(rgba(246, 81, 40, 1), rgba(246, 81, 40, .08));
		background-clip: text;
		color: transparent;
	}

	p {
		margin: 0;
		font-size: 18px;
		line-height: 26px;
		color: #17233b;
	}

	.about-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
	}

	.bold-text {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.6;
		letter-spacing: .2px;
	}

	.about-descr {
		margin-top: 120px;

		p {
			font-size: 20px;
			line-height: 1.6;
			margin-bottom: 24px;
		}

		&-blocks {
			div {
				box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
				border-radius: 8px;
				padding: 40px 20px 40px 40px;
			}

			img {
				width: 44px;
				display: block;
				margin-bottom: 40px;
			}
		}
	}

	.about-link {
		color: rgba(246, 81, 40, 1);
		text-decoration: none;
	}

	.about-numbers {
		&-table {
			gap: 40px 24px;

			span {
				display: block;
				font-weight: 600;
				font-size: 32px;
				line-height: 44px;
				letter-spacing: .2px;
				margin-bottom: 8px;
			}

			a {
				display: flex;
				align-items: center;
				border-left: 1px solid #dfe3e7;
				padding-left: 32px;
				font-size: 16px;
				line-height: 24px;
				color: #f65128;
				cursor: pointer;
			}
		}
	}

	.banner-history {
		.container-lg {
			background: #fcf0ed;
			border-radius: 8px;
			overflow: hidden;
			position: relative;
			padding: 0 20px;
		}

		&-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 24px;

			&:before, &:after {
				display: none;
			}
		}

		&-content {
			width: 290px;

			div {
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: .2px;
				color: #17233b;
				margin-bottom: 32px;
			}

			a {
				font-size: 14px;
				line-height: 20px;
				width: 159px;
			}
		}

		&-graphic {
			flex-grow: 1;
			max-width: 506px;
			display: block;
			text-align: center;
			position: relative;
			z-index: 2;
			margin: -22px 0;

			span, :before, :after {
				display: block;
				background: #fff;
				border-radius: 6px;
				color: #f65128;
				box-shadow: 0 2px 3px rgba(157, 31, 0, .12), 0 6px 20px rgba(157, 31, 0, .12);
			}

			:before, :after {
				content: "";
			}

			span {
				width: 112px;
				margin: 0 auto;
				padding: 7px 0 9px;
				text-align: center;
				position: relative;
				font-weight: 600;
				letter-spacing: .2px;
				font-size: 12px;
			}

			.bars {
				margin: 40px auto;
				position: relative;
			}

			.bars:before, .bars:after {
				height: 12px;
				width: calc((100% - 160px) / 2);
				position: absolute;
			}

			.bars:before {
				top: 0;
				width: calc((100% - 112px - 32px - 112px) / 2);
				left: 56px;
			}

			.bars:after {
				bottom: 0;
				left: 8px;
			}

			.bars.right:before {
				width: calc((100% - 112px - 32px - 174px) / 2);
				right: 87px;
				left: auto;
			}

			.bars.right:after {
				width: calc((100% - 112px - 32px - 232px) / 2);
				right: 116px;
				left: auto;
			}

			span:before, span:after {
				border-radius: 2px;
				height: 24px;
				width: 4px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}

			span:before {
				top: -8px;
				transform: translateY(-100%);
			}

			span:after {
				bottom: -8px;
				transform: translateY(100%);
			}

			h2.about-header {
				margin: 0;
				line-height: 1;
			}
		}

		.banner-map {
			position: absolute;
			top: 0;
			right: 0;
			width: 65%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
			object-position: left center;
		}
	}

	.about-people {
		&-divider {
			background: #dfe3e7;
			height: 1px;
			margin-top: 40px;
			margin-bottom: 40px;
		}

		h4 {
			margin: 0;
		}

		&-row {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 24px;

			&.core {
				margin-top: 40px;
			}

			>div {
				text-align: center;
			}

			img {
				border-radius: 8px;
			}

			h5 {
				display: inline-block;
				margin: 16px 0 0;
				font-size: 16px;
				line-height: 1.5;
			}

			span {
				color: #5c667a;
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 8px;
				display: block;
			}

			a {
				display: inline-block;
				width: 24px;
				height: 24px;

				img {
					display: block;
					width: 100%;
					border-radius: 0;
				}
			}
		}

		&-contributors {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 24px;

			h4 {
				min-width: calc((100% - 72px) / 4);
			}

			img {
				display: block;
				height: auto;
			}

			img:nth-child(2) {
				margin-right: 25px;
				width: 32.76%;
			}

			img:nth-child(3) {
				width: 35%;
				align-self: center;
			}
		}
	}

	.about-sponsors-row {
		display: flex;
		justify-content: space-between;

		&:last-child {
			justify-content: flex-start;

			img {
				margin-right: 80px;
			}
		}
	}

	.about-sponsors {
		padding-bottom: 58px;
	}
}

@media (max-width: 767px) {
	.p-about {
		.container {
			max-width: 480px;
		}

		.c-header-gradient {
			height: 350px;
		}

		.header-gradient-secondary {
			height: 50%;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
		}

		.header-gradient-map {
			width: 200%;
			left: 75%;
		}

		section {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.page-title {
			font-size: 32px;
			line-height: 44px;
			margin-bottom: 92px;
			text-align: center;
		}

		.about-header {
			margin-bottom: 24px;
			font-size: 24px;
			line-height: 36px;
		}

		p {
			font-size: 14px;
			line-height: 24px;
		}

		.about-grid {
			grid-template-columns: 1fr;
			gap: 24px;
		}

		.bold-text {
			font-size: 18px;
			line-height: 26px;
		}

		.about-descr {
			margin-top: 40px;

			p {
				font-size: 14px;
				line-height: 24px;
			}

			p.bold-text {
				font-size: 18px;
			}

			&-blocks {
				gap: 8px;

				div {
					padding: 24px;
					display: flex;
					align-items: center;
					gap: 24px;
				}

				span {
					font-size: 16px;
				}

				img {
					width: 30px;
					height: auto;
					margin: 0;
				}
			}
		}

		.about-numbers {
			&-table {
				span {
					font-size: 18px;
					line-height: 26px;
				}

				a {
					border-left: 0;
					padding-left: 0;
				}
			}
		}

		.banner-history {
			.container-lg {
				padding: 24px 24px 0;
			}

			&-container {
				flex-direction: column;
			}

			&-content {
				width: 100%;
				text-align: center;

				div {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 16px;
				}

				a {
					width: 100%;
				}
			}

			&-graphic {
				width: 100%;
				margin: 0 0 -4px;

				span, :before, :after {
					border-radius: 3px;
				}

				span {
					font-size: 8px;
					padding: 4px 0 3px;
					width: 70px;
				}

				.bars {
					margin: 20px auto;

					&:first-child {
						margin-top: 0;
					}

					&:last-child {
						display: none;
					}
				}

				.bars:before, .bars:after {
					height: 7px;
					width: calc((100% - 110px) / 2);
				}

				.bars:before {
					width: calc((100% - 110px - 50px) / 2);
					left: 35px;
				}

				.bars:after {
					left: 10px;
				}

				.bars.right:before {
					width: calc((100% - 110px - 60px) / 2);
					right: 40px;
				}

				.bars.right:after {
					width: calc((100% - 110px - 100px) / 2);
					right: 60px;
				}

				span:before, span:after {
					height: 12px;
					width: 2px;
				}

				span:before {
					top: -5px;
				}

				span:after {
					bottom: -5px;
				}
			}

			.banner-map {
				width: 125%;
				top: 128px;
				right: 0;
				object-position: top center;
				object-fit: contain;
				height: 70%;
			}
		}

		.about-people {
			&-divider {
				margin: 24px 0;
			}

			&-row {
				grid-template-columns: 1fr;
				gap: 24px 0;

				&.core {
					margin-top: 24px;
				}

				>div {
					text-align: left;
					display: flex;
					align-items: center;
					gap: 16px;
				}

				img {
					width: 64px;
					height: auto;
				}

				.personal-info {
					flex-grow: 1;
				}

				h5 {
					margin: 0;
				}

				span {
					margin-bottom: 0;
				}
			}

			&-contributors {
				flex-direction: column;
				gap: 0;

				h4 {
					order: 1;
				}

				img:nth-child(2) {
					margin: 0 auto;
					width: 100%;
					order: 3;
					max-width: 264px;
				}

				img:nth-child(3) {
					order: 2;
					width: 100%;
					margin: 24px auto 10px;
					max-width: 234px;
				}
			}
		}

		.about-sponsors {
			padding-bottom: 48px;

			.about-people-divider {
				display: none;
			}

			&-row {
				display: inline;

				img {
					width: 49%;
					height: 32px;
					object-fit: contain;
					margin-bottom: 24px;
				}

				&:last-child {
					img {
						margin-right: 0;
					}
				}
			}
		}
	}

	.c-footer {
		padding-top: 0;
	}
}
