@import "../variables.less";

.p-become-a-sponsor {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.container {
		width: 1224px;
		position: relative;
		padding: 0;
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 44px;
		background: #fff;
		box-shadow: 0 2px 2px -2px rgba(23, 35, 59, .04), 0 2px 8px rgba(23, 35, 59, .04);

		>a:nth-child(1) {
			margin-right: 32px;
		}

		>a {
			font-size: 14px;
			line-height: 20px;
			color: #111a2c;
			text-decoration: none;

			&.active {
				color: #f65128;
			}
		}
	}

	.head-wrapper {
		margin-bottom: 60px;
		padding: 80px 0 20px;

		.head-map-bg {
			position: absolute;
			right: 50%;
			transform: translateX(50%);
			top: -36px;
			z-index: -1;
		}

		.head-title, .head-subtitle, .head-descr, .head-ctrls {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.head-title {
			display: flex;
			flex-direction: column;
			font-weight: 600;
			font-size: 48px;
			line-height: 68px;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 80px;

			>span:nth-child(2) {
				color: #b2bdc7;
			}
		}

		.head-subtitle {
			font-weight: 600;
			font-size: 20px;
			line-height: 32px;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 16px;
		}

		.head-descr {
			flex-direction: column;
			font-size: 14px;
			line-height: 24px;
			color: #5c667a;
			margin-bottom: 24px;
		}

		.head-ctrls {
			>div {
				&:nth-child(1) {
					margin-right: 16px;
				}
				display: flex;
				align-items: center;
				justify-content: center;
				height: 48px;
				padding: 0 24px;
				background: #fff;
				border: 1px solid #cfd6dd;
				box-sizing: border-box;
				box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #17233b;
				cursor: pointer;

				>img {
					margin-right: 12px;
				}
			}
		}
	}

	.main-title {
		font-weight: 600;
		font-size: 40px;
		line-height: 56px;
		text-align: center;
		letter-spacing: .2px;
		margin: 0 0 40px;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		color: transparent;
		background-image: linear-gradient(rgba(246, 81, 40, 1), rgba(246, 81, 40, .08));
		background-image: -webkit-linear-gradient(rgba(246, 81, 40, 1), rgba(246, 81, 40, .08));
		background-image: -moz-linear-gradient(rgba(246, 81, 40, 1), rgba(246, 81, 40, .08));
	}

	.bottom-info {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		width: 808px;
		margin-top: 78px;
		font-size: 14px;
		line-height: 24px;
		color: #5c667a;

		.title, .list, .descr {
			margin-bottom: 24px;
		}

		.list > div {
			display: flex;
			align-items: center;

			&:not(:nth-last-child(1)) {
				margin-bottom: 12px;
			}

			>img {
				margin-right: 12px;
			}
		}
	}

	.plans {
		display: flex;
		align-items: flex-start;
		width: 100%;
		background: #fff;
		box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
		border-radius: 8px;

		.plan {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 306px;
			height: 100%;

			&.platinum, &.gold, &.bronze, &.custom {
				.sp-topline {
					height: 4px;
					width: 100%;
				}
			}

			&.platinum .sp-topline {
				background: #b2bdc7;
				border-top-left-radius: 8px;
			}

			&.gold {
				box-shadow: -4px 0 4px rgb(23 35 59 / 6%);

				.sp-topline {
					background: #ffa447;
				}
			}

			&.bronze {
				box-shadow: -4px 0 4px rgb(23 35 59 / 6%);

				.sp-topline {
					background: #b98c73;
				}
			}

			&.custom .sp-topline {
				background: #b2bdc7;
				border-top-right-radius: 8px;
			}

			.sp-top {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 24px;
				margin-bottom: 24px;

				.sp-level {
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					-moz-background-clip: text;
					-moz-text-fill-color: transparent;
					color: transparent;
					font-weight: 600;
					font-size: 20px;
					line-height: 32px;
					text-align: center;
					letter-spacing: .2px;
					margin-bottom: 8px;

					&.platinum, &.custom {
						background-image: linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
						background-image: -webkit-linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
						background-image: -moz-linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
					}

					&.gold {
						background-image: linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
						background-image: -webkit-linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
						background-image: -moz-linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
					}

					&.bronze {
						background-image: linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
						background-image: -webkit-linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
						background-image: -moz-linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
					}
				}

				.amount {
					display: flex;
					justify-content: center;
					font-size: 32px;
					line-height: 44px;
					color: #17233b;
					margin-bottom: 10px;
					border-bottom: 1px dashed #17233b;
					position: relative;
					cursor: pointer;

					&.gold {
						color: #f65128;
						border-bottom: 1px dashed #f65128;
					}

					.sp-tooltip {
						display: none;
						align-items: center;
						justify-content: center;
						font-weight: 600;
						font-size: 12px;
						line-height: 16px;
						text-align: center;
						letter-spacing: .2px;
						color: #fff;
						width: 265px;
						height: 44px;
						background: rgba(17, 26, 44, .9);
						border-radius: 4px;
						position: absolute;
						bottom: 52px;
						right: 50%;
						transform: translateX(50%);
					}

					&:hover {
						.sp-tooltip {
							display: flex;
						}
					}
				}

				.month {
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					color: #5c667a;
				}
			}

			.sp-button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 166px;
				height: 40px;
				background: #f65128;
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #fff;
				margin-bottom: 16px;
				text-decoration: none;

				&:hover {
					background: #e13509;
				}

				&:active {
					background: #b02907;
				}

				&:focus {
					box-shadow: 0 0 0 1px #fff, 0 0 0 4px rgba(31, 150, 255, .48);
				}
			}

			.sample {
				font-size: 14px;
				line-height: 20px;
				color: #f65128;
				margin-bottom: 24px;
			}

			.sp-divider {
				width: 258px;
				height: 1px;
				background: #dfe3e7;
			}

			.plan-feautures {
				display: flex;
				flex-direction: column;
				padding: 0 24px 24px;

				>div {
					display: flex;
					margin-top: 16px;
					font-size: 14px;
					line-height: 24px;
					color: #17233b;

					>img {
						margin-right: 12px;
					}

					&.disabled {
						color: #b2bdc7;
					}
				}
			}

			&.custom {
				background: #f3f5f7;
				height: 652px;
				border-bottom-right-radius: 8px;

				.sp-top {
					margin-top: 203.5px;
					margin-bottom: 24px;

					.sp-level {
						margin: 0;
					}
				}

				.sp-text {
					font-size: 14px;
					line-height: 24px;
					text-align: center;
					color: #5c667a;
					margin-bottom: 24px;
					width: 226px;
				}

				.sp-button {
					background: #394356;

					&:hover {
						background: #5c667a;
					}

					&:active {
						background: #79849a;
					}

					&:focus {
						box-shadow: 0 0 0 1px #17233b, 0 0 0 4px rgba(31, 150, 255, .48);
					}
				}
			}
		}
	}
}
