@import "../variables.less";

.p-become-a-sponsor {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.container {
		padding: 0;
		padding-bottom: 40px;
		position: relative;

		@media (min-width: @screen-sm-min) {
			padding-bottom: 0;
			width: 1224px;
		}

		.sp-topline {
			height: 4px;
			width: 100%;
		}

		.plans {
			scroll-behavior: smooth;
			display: flex;
			align-items: flex-start;
			width: 300vw;
			overflow-x: scroll;
			gap: 8px;
			padding: 40px 24px 24px;
			scrollbar-color: #16223a #dfe3e7;
			background: #fff;

			@supports (scroll-snap-align: center) {
				scroll-snap-type: x mandatory;
			}

			@media (min-width: @screen-sm-min) {
				width: auto;
				overflow-x: auto;
				gap: 0;
				padding: 0;
			}

			&-wrapper {
				display: flex;
				width: 100vw;
				overflow-x: hidden;

				@media (min-width: @screen-sm-min) {
					box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
					width: auto;
					overflow-x: auto;
					border-radius: 8px;
				}
			}

			&-tabs {
				display: flex;
				height: 47px;
				margin-top: 16px;
				text-align: center;

				@media (min-width: @screen-sm-min) {
					display: none;
				}

				.tab {
					background: none;
					border: none;
					flex: 1 1 0;
					padding: 13px 12px;
					font-size: 14px;
					line-height: 20px;
					color: #5c667a;
					border-bottom: 1px solid #dfe3e7;
					transition: border-color .2s ease-in;

					&.active {
						color: #17233b;
						border-color: #f65128;
					}
				}
			}
		}

		.plan {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			width: calc(100vw - 48px);
			flex-shrink: 0;
			box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
			border-radius: 6px;
			overflow: hidden;
			scroll-snap-align: center;

			@media (min-width: @screen-sm-min) {
				width: 306px;
				box-shadow: none;
				border-radius: 0;
				overflow: auto;
			}

			@media (min-width: @screen-sm-min) {
				.plan .sp-topline:first-of-type {
					border-top-left-radius: 6px;
				}

				.plan .sp-topline:last-of-type {
					border-top-right-radius: 6px;
				}
			}

			&.platinum .sp-topline {
				background: #b2bdc7;
			}

			&.gold {
				@media (min-width: @screen-sm-min) {
					box-shadow: -4px 0 4px rgb(23 35 59 / 6%);
				}

				.sp-topline {
					background: #ffa447;
				}
			}

			&.bronze {
				@media (min-width: @screen-sm-min) {
					width: 306px;
					box-shadow: -4px 0 4px rgb(23 35 59 / 6%);
				}

				.sp-topline {
					background: #b98c73;
				}
			}

			.sp-top {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: 24px;
				margin-bottom: 24px;
				padding-right: 24px;
				padding-left: 24px;

				@media (min-width: @screen-sm-min) {
					padding-right: 0;
					padding-left: 0;
				}

				.sp-level {
					background-clip: text;
					-webkit-background-clip: text;
					-moz-background-clip: text;
					-webkit-text-fill-color: transparent;
					-moz-text-fill-color: transparent;
					color: transparent;
					font-weight: 600;
					font-size: 20px;
					line-height: 32px;
					text-align: center;
					letter-spacing: .2px;
					margin-bottom: 8px;
					text-transform: capitalize;

					&.platinum, &.custom {
						background-image: linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
						background-image: -webkit-linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
						background-image: -moz-linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
					}

					&.gold {
						background-image: linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
						background-image: -webkit-linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
						background-image: -moz-linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
					}

					&.bronze {
						background-image: linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
						background-image: -webkit-linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
						background-image: -moz-linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
					}
				}

				.amount {
					display: flex;
					justify-content: center;
					font-size: 32px;
					line-height: 44px;
					color: #17233b;
					margin-bottom: 10px;
					position: relative;
					cursor: pointer;

					@media (min-width: @screen-sm-min) {
						border-bottom: 1px dashed #17233b;
					}

					&.gold {
						color: #f65128;
						border-color: 1px dashed #f65128;
					}

					.sp-tooltip {
						display: none;
						align-items: center;
						justify-content: center;
						font-weight: 600;
						font-size: 12px;
						line-height: 16px;
						text-align: center;
						letter-spacing: .2px;
						color: #fff;
						width: 265px;
						height: 44px;
						background: rgba(17, 26, 44, .9);
						border-radius: 4px;
						position: absolute;
						bottom: 52px;
						right: 50%;
						transform: translateX(50%);
					}

					@media (min-width: @screen-sm-min) {
						&:hover {
							.sp-tooltip {
								display: flex;
							}
						}
					}
				}

				.month {
					font-size: 14px;
					line-height: 20px;
					text-align: center;
					color: #5c667a;
				}

				.sp-desc {
					text-align: center;
					margin-top: 8px;
					font-size: 12px;
					line-height: 16px;
					font-weight: 600;
					letter-spacing: .2px;
					color: #79849a;

					@media (min-width: @screen-sm-min) {
						display: none;
					}
				}
			}

			.sp-button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 166px;
				height: 40px;
				background: #f65128;
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #fff;
				margin-bottom: 16px;
				text-decoration: none;

				&:hover {
					background: #e13509;
				}

				&:active {
					background: #b02907;
				}

				&:focus {
					box-shadow: 0 0 0 1px #fff, 0 0 0 4px rgba(31, 150, 255, .48);
				}
			}

			.sample {
				font-size: 14px;
				line-height: 20px;
				color: #f65128;
				margin-bottom: 24px;
			}

			.sp-divider {
				width: 258px;
				height: 1px;
				background: #dfe3e7;
			}

			.plan-feautures {
				display: flex;
				flex-direction: column;
				padding: 0 24px 24px;

				>div {
					display: flex;
					margin-top: 16px;
					font-size: 14px;
					line-height: 24px;
					color: #17233b;

					>img {
						margin-right: 12px;
					}

					&.disabled {
						color: #b2bdc7;
					}
				}
			}

			&.custom {
				display: none;
				height: 652px;

				.sp-top {
					margin-top: 203.5px;
				}

				@media (min-width: @screen-sm-min) {
					display: flex;
				}

				&-mobile {
					display: flex;
					margin: 0 24px;
					height: 324px;
					margin-top: 40px;

					@media (min-width: @screen-sm-min) {
						display: none;
					}

					.sp-top {
						margin-top: 40px;
					}
				}

				&, &-mobile {
					background: #f3f5f7;
					border-bottom-right-radius: 8px;

					.sp-topline {
						background: #b2bdc7;
					}

					.sp-top {
						margin-bottom: 24px;

						.sp-level {
							margin: 0;
						}
					}

					.sp-text {
						font-size: 14px;
						line-height: 24px;
						text-align: center;
						color: #5c667a;
						margin-bottom: 24px;
						width: 226px;
					}

					.sp-button {
						background: #394356;

						&:hover {
							background: #5c667a;
						}

						&:active {
							background: #79849a;
						}

						&:focus {
							box-shadow: 0 0 0 1px #17233b, 0 0 0 4px rgba(31, 150, 255, .48);
						}
					}
				}
			}
		}
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		height: 44px;
		background: #fff;
		box-shadow: 0 2px 2px -2px rgba(23, 35, 59, .04), 0 2px 8px rgba(23, 35, 59, .04);

		@media (min-width: @screen-sm-min) {
			justify-content: center;
		}

		>a:nth-child(1) {
			margin-right: 32px;
		}

		>a {
			font-size: 14px;
			line-height: 20px;
			color: #111a2c;
			text-decoration: none;

			&.active {
				color: #f65128;
			}
		}
	}

	.head-wrapper {
		.head-map-bg {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 454px;
			height: 214px;
			z-index: -1;

			@media (min-width: @screen-sm-min) {
				top: 12px;
				width: 908px;
				height: 428px;
			}
		}

		.head-title, .head-subtitle, .head-descr, .head-ctrls {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.head-title {
			flex-direction: column;
			text-align: center;
			font-size: 32px;
			line-height: 44px;
			font-weight: 600;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 40px;

			>span {
				&:nth-child(1) {
					color: #17233b;
				}

				&:nth-child(2) {
					color: #b2bdc7;
				}
			}

			@media (min-width: @screen-sm-min) {
				font-size: 48px;
				line-height: 68px;
				margin-bottom: 56px;
			}
		}

		.head-subtitle {
			font-weight: 600;
			font-size: 20px;
			line-height: 32px;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 16px;
		}

		.head-descr {
			flex-direction: column;
			font-size: 14px;
			line-height: 24px;
			color: #5c667a;
			margin-bottom: 24px;
			text-align: center;

			@media (min-width: @screen-sm-min) {
				max-width: 806px;
				margin-right: auto;
				margin-left: auto;
			}
		}

		.head-ctrls {
			flex-direction: column;
			row-gap: 16px;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				column-gap: 16px;
			}

			>a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 48px;
				padding: 0 24px;
				background: #fff;
				border: 1px solid #cfd6dd;
				box-sizing: border-box;
				box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #17233b;
				cursor: pointer;
				text-decoration: none;
				width: 100%;

				@media (min-width: @screen-sm-min) {
					width: auto;
				}

				>img {
					margin-right: 12px;
				}
			}
		}
	}

	.main-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 36px;
		padding: 0 24px;
		margin: 0;
		text-align: center;
		letter-spacing: .2px;
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		color: transparent;
		background-image: linear-gradient(rgba(246, 81, 40, 1), rgba(246, 81, 40, .08));
		background-image: -webkit-linear-gradient(rgba(246, 81, 40, 1), rgba(246, 81, 40, .08));
		background-image: -moz-linear-gradient(rgba(246, 81, 40, 1), rgba(246, 81, 40, .08));

		@media (min-width: @screen-sm-min) {
			font-size: 40px;
			line-height: 56px;
			padding: 0;
			margin: 0 0 40px;
		}
	}

	.bottom-info {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		padding: 0 24px;
		font-size: 14px;
		line-height: 24px;
		color: #5c667a;

		@media (min-width: @screen-sm-min) {
			width: 808px;
			padding: 0;
			margin-top: 78px;
		}

		.title, .list, .descr {
			margin-bottom: 24px;
		}

		.list > div {
			display: flex;
			align-items: center;

			&:not(:nth-last-child(1)) {
				margin-bottom: 12px;
			}

			>img {
				margin-right: 12px;
			}
		}
	}
}
