.p-custom-cdn-oss-project {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 0 0;

	.c-cdn-oss-head {
		width: 1224px;
	}

	.divider {
		width: 1224px;
		height: 1px;
		background: #dfe3e7;
		margin: 0 0 80px;
	}

	.c-new-infographic-banner {
		margin: 80px 0;
	}
}
