@import "../mixins.less";
@import "../variables.less";

.p-custom-cdn-oss {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.container {
		width: 1254px;
		display: flex;
		justify-content: center;
		padding: 0 15px;
	}

	.stats-cards {
		display: flex;
		align-items: center;
		margin-bottom: 40px;

		>div {
			display: flex;
			align-items: center;
			background: #fff;
			border: 1px solid #dfe3e7;
			box-sizing: border-box;
			box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
			border-radius: 6px;
			height: 96px;
			width: 600px;
			padding: 0 20px;

			.card-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 48px;
				height: 48px;
				background: #f3f5f7;
				border-radius: 6px;
				margin-right: 20px;
			}

			.card-main-stat {
				display: flex;
				flex-direction: column;

				>span:nth-child(1) {
					font-weight: 600;
					font-size: 24px;
					line-height: 36px;
					letter-spacing: .2px;
					color: #111a2c;
				}

				>span:nth-child(2) {
					font-size: 14px;
					line-height: 20px;
					color: #5c667a;
				}
			}

			.card-growth {
				display: flex;
				flex-direction: column;
				margin-left: auto;

				>span:nth-child(1) {
					display: flex;
					justify-content: flex-end;
				}

				>span:nth-child(2) {
					font-size: 14px;
					line-height: 20px;
					color: #5c667a;
				}

				.growth-positive, .growth-negative {
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: .2px;
				}

				.growth-positive {
					color: #0b8e5f;
				}

				.growth-negative {
					color: #eb3333;
				}
			}
		}

		>div:nth-child(1) {
			margin-right: 24px;
		}
	}
}
