.p-documentation {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.container {
		justify-content: center;
		padding: 0 24px 32px;

		.c-markdown {
			text-align: left;

			h1, h2, h4, h5 {
				font-weight: 600;
				letter-spacing: .2px;
				color: #17233b;
			}

			h1 {
				&:first-of-type {
					margin-top: 80px;
					font-size: 48px;
					line-height: 68px;
				}
				margin: 32px auto;
				font-size: 32px;
				line-height: 44px;
			}

			>h2 {
				margin: 32px auto 8px;
				font-size: 24px;
				line-height: 36px;
			}

			>h4 {
				font-size: 18px;
				line-height: 26px;
			}

			>h5 {
				font-size: 16px;
				line-height: 24px;
			}

			>p {
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				color: #5c667a;
			}

			ul, ol {
				padding-left: 24px;
				margin: 8px auto;

				li, li > strong {
					font-size: 14px;
					line-height: 24px;
					color: #5c667a;
					font-weight: 400;
				}
			}

			hr {
				height: 1px;
				background: #dfe3e7;
				margin: 24px 0;
			}

			a {
				font-size: 14px;
				line-height: 24px;
				color: #f65128;
				font-weight: 400;

				&:hover {
					color: #e13509;
				}

				&:active, &:focus {
					color: #b02907;
				}
			}

			pre {
				padding: 20px;
				background: #f3f5f7;
				border-radius: 4px;
			}
		}
	}
}
