@import "../mixins.less";
@import "../variables.less";

.p-esm {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #17233B;
	-webkit-font-smoothing: antialiased;

	.container-fluid {
		height: 100%;

		@media (min-width: @screen-md-min) {
			padding: 0 5vw;
		}

		@media (min-width: @screen-xxl-lg-min) {
			width: 1254px;
			padding: 0 15px;
		}
	}

	.title {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 64px;
		margin-bottom: 96px;

		h1, h2 {
			color: #fff;
		}

		h1 {
			font-weight: 600;
			font-size: 32px;
			line-height: 44px;
			letter-spacing: .2px;
			margin-bottom: 16px;
		}

		h2 {
			font-size: 18px;
			line-height: 26px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0;
		}
	}

	.box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		min-height: 312px;
		background: #fff;
		box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
		border-radius: 8px;
		padding: 48px;
		@media (max-width: @screen-sm-min) {
			padding: 24px;
		}

		.code {
			font-family: "Source Code Pro", monospace;
			font-weight: 500;
			font-size: 18px;
			line-height: 32px;
			color: #17233b;
			word-break: break-all;

			.package-name-input {
				color: #f65128;
				outline: none;
				border: 0;
				border-bottom: 1px solid #cfd6dd;
			}
		}

		.buttons {
			margin: 30px 0;
			form {
				display: flex;
				align-items: center;

				.btn-primary {
					font-size: 14px;
					line-height: 20px;
				}

				.buttons-or {
					color: #5C667A;
					margin-left: 16px;
					margin-right: 16px;
					@media (max-width: @screen-xs-min) {
						margin-top: 12px;
						margin-bottom: 12px;
					}
				}

				.btn-secondary {
					text-align: center;
				}
			}
			@media (max-width: @screen-xs-min) {
				width: 100%;
				form {
					flex-direction: column;
					.btn-primary {
						width: 100%;
					}
					.btn-secondary {
						width: 100%;
					}
				}
			}
		}

		.notice {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			line-height: 24px;
			color: #5c667a;
			text-align: center;
		}
	}

	.features {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 80px;
		margin-bottom: 80px;
		text-align: center;
		
		.row{
			margin-bottom: 24px;
			& > [class*='col-'] {
				margin-bottom: 24px;
			}
			@media (min-width: @screen-sm-min) {
				& > [class*='col-'] {
					padding-right:36px;
					padding-left:36px;
					&:first-child {
						padding-left:15px;
					}
					&:last-child {
						padding-right:15px;
					}
				}
			}
			.feature-title {
				margin-bottom: 8px;
				margin-top: 24px;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: .2px;
				color: #17233b;
			}
			.feature-content {
				text-align: center;
				font-size: 14px;
				line-height: 24px;
				color: #5c667a;
			}
		}
		.btn-primary {
			font-size: 14px;
			line-height: 20px;
			@media (max-width: @screen-xs-max) {
				width: calc(100% - 48px);
			}
		}
	}

	.performance {
		text-align: center;

		h2 {
			margin-top: 0;
			margin-bottom: 40px;
			font-weight: 600;
			font-size: 32px;
			line-height: 44px;
			letter-spacing: .2px;
			color: #17233b;
		}
		.row {
			& > [class*='col-'] {
				margin-bottom: 21px;
			}
			@media (min-width: @screen-sm-min) {
				& > [class*='col-'] {
					padding-right:12px;
					padding-left:12px;
					&:first-child {
						padding-left:15px;
					}
					&:last-child {
						padding-right:15px;
					}
				}
			}
			.flex {
				.item {
					display: flex;
					padding: 12px 24px;
					
					@media (min-width: @screen-sm-min) {
						font-size: 16px;
						line-height: 24px;
					}
					span {
						color: #17233B;
					}
					
					.hits {
						margin-left: auto;
						white-space: nowrap;
					}
				}
				.table-chart-lg {
					display: block
				}
				.table-chart {
					background: linear-gradient(270deg, #F65128 0%, rgba(246, 81, 40, 0.08) 100%);
					margin-left: 0;
					&-lg {
						max-width: 50%;
					}
				}
			}
		}

		.performance-tables {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 21px;
		}

		.benchmark-buttons {
			margin-top: 40px;
			.btn-primary{
				@media (max-width: @screen-xs-max) {
					width: calc(100% - 48px);
				}
			}
		}

		.benchmark-instructions {
			&-title {
				margin-bottom: 8px;
				margin-top: 0;
				font-weight: 600;
				font-size: 16px;
				line-height: 24px;
				letter-spacing: .2px;
				color: #17233b;
			}

			&-list {
				margin: 0;

				>li {
					text-align: left;
					font-size: 14px;
					line-height: 24px;
					color: #5c667a;

					&:not(:nth-last-child(1)) {
						margin-bottom: 8px;
					}
				}
			}

			.stats-message {
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				color: #5c667a;
			}
		}
	}

	.infographic {
		margin-top: 80px;
		margin-bottom: 80px;
		// @media (max-width: @screen-sm-min) {
		// 	margin-top: 64px;
		// 	margin-bottom: 64px;
		// }
	}
}

.benchmark-iframe {
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	border: none;
}

.algolia-autocomplete {
	.aa-hint {
		color: #999;
	}

	.aa-dropdown-menu {
		width: max-content;
		min-width: 200px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, .15);
		border-top: none;
		text-align: left;
		font-family: @font-family-base;
		-webkit-font-smoothing: antialiased;

		.aa-suggestion {
			cursor: pointer;
			padding: 3px 20px;
			font-size: 14px;

			&.aa-cursor {
				color: @dropdown-link-hover-color;
				background-color: @c-orange;
			}

			p {
				margin: 0;
			}
		}
	}
}
