.p-globalping {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.gp {
		&_navigation {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: red;

			&_item {
				display: flex;
				padding: 12px 16px;
				font-size: 14px;
				line-height: 20px;
				color: #fff;

				&.active {
					font-weight: 600;
					color: #17d4a7;
				}
			}
		}
	}
}