.p-gsap {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	// to fix the absence of default footer
	margin-bottom: -80px;

	.header {
		position: relative;
		display: flex;
		align-items: center;
		width: 1440px;
		height: 34px;
		padding: 0 24px;
		margin-top: 24px;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;

		.main-logo {
			margin-right: 16px;
		}

		.header-btn, .header-link {
			font-size: 14px;
			line-height: 24px;
			color: #fff;
		}

		.header-btn {
			display: flex;
			align-items: center;
			width: 151px;
			height: 32px;
			background: rgba(255, 255, 255, .24);
			border-radius: 6px;
			font-weight: 600;
			margin-right: auto;

			img {
				margin-left: 6px;
				margin-right: 8px;
			}
		}

		.header-link {
			font-weight: 500;
			letter-spacing: -.2px;
			margin-left: 24px;
		}
	}

	.jumbotron-wrapper {
		padding-top: 122px;
		margin-top: -58px;
		background: #222;
		height: 484px;

		.jumbotron {
			position: relative;
			width: 1140px;
			padding-left: 15px;
			padding-right: 15px;
			margin-right: auto;
			margin-left: auto;

			.title {
				margin: 0 0 16px;
				font-weight: 600;
				font-size: 48px;
				line-height: 64px;
				letter-spacing: -.8px;
				color: #fff;
			}

			.description {
				width: 730px;
				font-weight: 500;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: -.4px;
				color: #a6a6a6;

				p {
					margin: 12px 0 0;
				}

				.links {
					color: #57c224;
				}
			}

			.boxes {
				position: absolute;
				top: -122px;
				right: 6px;
			}
		}
	}

	.content-wrapper {
		display: flex;
		justify-content: space-between;
		width: 1140px;
		padding: 64px 15px 0;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 64px;

		.main-content {
			width: 730px;

			.title {
				font-weight: 600;
				font-size: 32px;
				line-height: 48px;
				letter-spacing: -.6px;
				color: #222;
				margin-bottom: 16px;
			}

			.description {
				font-weight: 500;
				font-size: 18px;
				line-height: 28px;
				letter-spacing: -.6px;
				color: #787878;
			}

			.files-table-wrapper {
				margin-top: 64px;

				.ctrls {
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: -.2px;
					color: #222;
				}

				.divider {
					background: #e1e1e1;
					border-radius: 6px;
					height: 1px;
					margin: 15px 0 32px;
				}

				.files-table {
					font-size: 14px;
					line-height: 20px;
					letter-spacing: -.2px;
					color: #222;

					.files-item {
						margin-top: 32px;

						.title {
							font-weight: 600;
							font-size: 14px;
							line-height: 20px;
							letter-spacing: -.2px;
							color: #222;
							margin-bottom: 12px;
						}

						.block, .block-core {
							display: flex;
							align-items: center;
							font-weight: 500;
							font-size: 14px;
							line-height: 20px;
							letter-spacing: -.2px;
							color: #222;
							border-radius: 6px;
							padding: 0 16px;
						}

						.block {
							justify-content: space-between;
							background: #f2f2f2;
							height: 44px;
						}

						.block-core {
							background: #deedd3;
							height: 60px;

							img {
								margin-left: 16px;
							}

							.data-type-ctrl {
								display: flex;
								align-items: center;
								margin-left: auto;

								.data-type-switch {
									display: none;

									& + label {
										display: flex;
										align-items: center;
										padding-left: 4px;
										padding-right: 4px;
										width: 136px;
										height: 36px;
										cursor: pointer;
										font-weight: 600;
										font-size: 14px;
										line-height: 20px;
										letter-spacing: -.2px;
										color: #222;
										transition: background-color 400ms ease, border-color 400ms ease, padding-left 400ms ease;
										background-color: #fff;
										border-radius: 6px;
										position: relative;
										margin-bottom: 0;

										>span:nth-child(1),
										>span:nth-child(2) {
											user-select: none;
											position: absolute;
											top: 8px;
											background: transparent;
											z-index: 2;
										}

										>span:nth-child(1) {
											left: 19.5px;
										}

										>span:nth-child(2) {
											right: 21px;
										}

										&:before {
											display: flex;
											width: 64px;
											height: 28px;
											content: "";
											text-align: center;
											vertical-align: top;
											background-color: #dfedd3;
											border-radius: 4px;
											font-size: 14px;
											line-height: 20px;
											z-index: 1;
										}
									}

									&.checked + label {
										background-color: #fff;
										padding-left: 68px;

										&:before {
											background-color: #dfedd3;
											content: "";
										}
									}
								}
							}
						}
					}
				}
			}

			.plugins {
				font-weight: 500;
				font-size: 18px;
				line-height: 28px;
				letter-spacing: -.4px;
				color: #787878;
				padding-right: 25px;
				margin-top: 64px;

				.plugins-descr {
					margin-top: 16px;

					.plugin-badge {
						display: inline-flex;
						font-weight: 600;
						font-size: 14px;
						line-height: 20px;
						color: #e84f3c;
						padding: 2px 8px;
						background: #fdefed;
						border-radius: 4px;
						letter-spacing: normal;
					}

					.plugin-link {
						font-weight: 500;
						font-size: 18px;
						line-height: 28px;
						letter-spacing: -.4px;
						color: #6fb936;
					}
				}
			}
		}

		.side-content {
			width: 326px;
		}
	}

	.footer-wrapper {
		height: 152px;
		border-top: 1px solid #d8dfee;
		padding: 40px 0 64px;

		.footer {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 1140px;
			padding: 0 15px;
			margin: 0 auto;

			.footer-logo {
				margin-right: 50px;
			}

			.footer-link {
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: -.2px;
				color: #6fb936;
			}

			.powered {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				font-weight: 500;
				font-size: 14px;
				line-height: 24px;
				letter-spacing: -.2px;
				color: #222;
			}

			.nav {
				margin-left: auto;

				>a {
					margin-left: 32px;
				}
			}
		}
	}
}
