.p-history {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #17233b;

	.container {
		width: auto;

                padding: 0 24px;
		@media (min-width: @screen-sm-min) {
			width: 1254px;
                        padding: 0 15px;
		}
	}

	.page-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		margin-top: 70px;
		margin-bottom: 0;

		span:nth-child(1) {
			font-weight: 600;
			font-size: 48px;
			line-height: 68px;
			letter-spacing: .2px;
		}

		span:nth-child(2) {
			font-size: 40px;
			line-height: 56px;
		}
	}

	.page-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 140px;

		.year {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 24px;
			margin-bottom: 24px;
			height: 68px;
			width: 100%;
			font-weight: 600;
			font-size: 48px;
			line-height: 68px;
			letter-spacing: .2px;
			background-image: linear-gradient(#f65128, rgba(246, 81, 40, .08));
			background-clip: text;
			-webkit-background-clip: text;
			-moz-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-text-fill-color: transparent;
			color: transparent;
		}

		.event-block {
			display: flex;
			align-items: center;
			justify-content: center;
				@media (min-width: @screen-sm-min) {
			height: 128px;
                      }
			width: 100%;

			.event-data-left, .event-data-right {
				display: flex;
				align-items: center;

				@media (min-width: @screen-sm-min) {
					width: calc((100% - 142px) / 2);
				}
                                img {
                                  @media (max-width: @screen-sm-min) {
                                    &:not(.event-type-icon) {
                                  max-height: 24px;
                                }
                                  height: 100%;
                                    width: auto;
                                  }
                                }

				.img-rounded {
					border-radius: 8px;
				}
			}

			.event-data-left {
				justify-content: flex-end;
                                                display: grid;
                                                grid-template-columns: 40px auto;
                                                grid-template-rows: auto auto;
                                                grid-column-gap: 16px;
                                                grid-row-gap: 8px;
				@media (min-width: @screen-sm-min) {
                                  display: block;
                                }

				.event-type-icon {
					margin-left: 24px;

					@media (max-width: @screen-sm-min) {
						width: 40px;
						height: 40px;
                                                order: -1;
                                                grid-row: 1/-1;
                                                margin-left: 0;
                                                margin-right: 0;
					}
				}
			}

			.event-data-right {
				justify-content: flex-start;
                                  display: none;
				@media (min-width: @screen-sm-min) {
                                  display: block;
                                }

                                  &-mobile {
				@media (min-width: @screen-sm-min) {
                                  display: none;
                                }

                                grid-column: -1/-2;
                                grid-row: -1/-2;
                                  }


				.event-type-icon {
					margin-right: 24px;

					@media (max-width: @screen-sm-min) {
						width: 40px;
						height: 40px;
					}
				}
			}

			.event-month {
                              order: -1;
				padding-left: 0;
				margin-right: 16px;
                                flex: 0 0 91px;
					@media (min-width: @screen-sm-min) {
                                          flex: 1 1 0;
                                          order: 0;
				padding-left: 30px;
				padding-right: 30px;
                                margin-right: 0;
                                        }

				display: flex;
				flex-direction: column;
				align-items: center;
				letter-spacing: .2px;
				color: #f65128;
				justify-self: center;

				.month {
					display: flex;
					align-items: center;
					justify-content: center;
					background: #fcf0ed;
					border-radius: 6px;
					font-weight: 600;
					font-size: 14px;
					line-height: 20px;
					width: 112px;
					height: 40px;
					margin: 12px 0;
					@media (max-width: @screen-sm-min) {
						width: 100%;
						max-width: 91px;
                                                align-self: flex-start;
					}

				}

				.binding {
					width: 1px;
					height: 32px;
					background: #fa8f76;
					border-radius: 4px;
				}
			}
		}

		>section {
			width: 100%;
			margin-top: 0;
		}
	}
}
