.p-history {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #17233b;
	margin-bottom: 26px;
	position: relative;

	.c-header-gradient {
		top: -64px;

		@media (max-width: 767px) {
			top: -60px;
			height: 389px;
		}

		.header-gradient_map {
			top: 120px;

			@media (max-width: 767px) {
				top: 108px;
			}
		}
	}

	@media (max-width: @screen-xs-max) {
		margin-bottom: 40px;
	}

	.text-title-48 {
		color: #fff;

		@media (max-width: @screen-xs-max) {
			font-size: 32px;
			line-height: 44px;
		}
	}

	.text-content-40 {
		color: #fff;

		@media (max-width: @screen-xs-max) {
			font-size: 24px;
			line-height: 36px;
			margin-top: 8px;
		}
	}

	.navigation {
		display: flex;
		align-items: center;
		height: 44px;
		border-top: solid 1px rgb(255 255 255 / 32%);
		border-bottom: solid 1px rgb(255 255 255 / 32%);
		justify-content: center;
		column-gap: 32px;

		a {
			display: flex;
			justify-content: center;
			width: 164px;
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #fff;
			opacity: .64;
			text-decoration: none;

			@media (min-width: @screen-sm-min) {
				width: auto;
			}

			&.active {
				opacity: 1;
				font-weight: 600;
				letter-spacing: .2px;
			}
		}
	}

	.container-fluid {
		height: 100%;
		padding: 0 24px;

		@media (min-width: @screen-xxl-lg-min) {
			width: 1254px;
		}
	}

	.page-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 96px;
		margin-bottom: 0;

		@media (max-width: @screen-xs-max) {
			margin-top: 40px;
		}

		span:nth-child(1) {
			font-weight: 600;
			font-size: 48px;
			line-height: 68px;
			letter-spacing: .2px;
		}

		span:nth-child(2) {
			font-size: 40px;
			line-height: 56px;
		}
	}

	.page-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 136px;

		@media (max-width: @screen-xs-max) {
			margin-top: 24px;
		}

		section {
			position: relative;
			width: 100%;
			margin-top: 0;
		}

		.year {
			display: block;
			text-align: center;
			margin-top: 24px;
			margin-bottom: 24px;
			height: 68px;
			font-weight: 600;
			font-size: 48px;
			line-height: 68px;
			letter-spacing: .2px;
			background: linear-gradient(180deg, #f65128 0%, rgba(246, 81, 40, .08) 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-moz-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-text-fill-color: transparent;
			color: transparent;

			@media (max-width: @screen-xs-max) {
				text-align: left;
				margin-top: 16px;
				margin-bottom: 16px;
				margin-left: calc(26.5% - 55px);
			}

			@media (max-width: @screen-xs) {
				text-align: left;
				margin-top: 16px;
				margin-bottom: 16px;
				margin-left: calc(16.5% - 55px);
			}
		}

		.event-block {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;

			@media (max-width: @screen-xs-max) {
				height: 120px;
			}

			.pos-left {
				order: 0;
				width: calc((100% - 142px) / 2);
				justify-content: flex-end;
				text-align: right;

				.event-type-icon {
					order: 1;
					margin-left: 24px;

					@media (max-width: @screen-xs-max) {
						order: 0;
						margin-left: 0;
						margin-right: 16px;
					}
				}
			}

			.pos-right {
				order: 2;
				width: calc((100% - 142px) / 2);
				justify-content: flex-start;

				.event-type-icon {
					margin-right: 24px;

					@media (max-width: @screen-xs-max) {
						margin-right: 16px;
					}
				}
			}

			.event-main {
				display: flex;
				align-items: center;

				@media (max-width: @screen-xs-max) {
					justify-content: flex-start;
					order: 2;
					width: 45%;
				}

				@media (max-width: @screen-xs) {
					width: 66%;
				}

				.event-content {
					display: flex;
					flex-direction: column;
					justify-content: center;

					img {
						display: none;
						margin-top: 0;

						@media (max-width: @screen-xs-max) {
							display: block;
							margin-top: 8px;
						}
					}

					span {
						font-size: 14px;
						font-weight: 600;
						line-height: 20px;
						letter-spacing: .2px;

						@media (max-width: @screen-xs-max) {
							text-align: left;
						}
					}
				}

				.event-type-icon {
					width: 80px;
					height: 80px;

					@media (max-width: @screen-xs-max) {
						width: 40px;
						height: 40px;
					}
				}
			}

			.event-relation {
				display: flex;
				align-items: center;

				@media (max-width: @screen-xs-max) {
					display: none;
				}
			}

			.event-month {
				order: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding-left: 30px;
				padding-right: 30px;

				@media (max-width: @screen-xs-max) {
					padding-left: 0;
					padding-right: 16px;
				}

				.binding {
					width: 2px;
					height: 32px;
					background: #fa8f76;
					border-radius: 4px;
				}

				.month {
					display: flex;
					align-items: center;
					justify-content: center;
					color: #f65128;
					background: #fcf0ed;
					border-radius: 6px;
					font-weight: 600;
					font-size: 14px;
					line-height: 20px;
					width: 112px;
					height: 40px;
					margin: 12px 0;

					@media (max-width: @screen-sm-min) {
						width: 91px;
						height: 32px;
					}
				}
			}
		}
	}
}
