.p-history {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #17233b;

	.container {
		max-width: 836px;
	}

	.page-title {
		display: flex;
		flex-direction: column;
		font-weight: 600;
		font-size: 48px;
		line-height: 68px;
		letter-spacing: .2px;
		color: #fff;
		margin-top: 79px;
	}
}
