.p-package {
	padding: 0;

	>.c-slider {
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.c-package {
		padding: 32px 0 0;
		margin-bottom: 72px;

		@media (max-width: @screen-xs-max) {
			margin-bottom: 40px;
		}
	}

	.package-not-found {
		padding: 100px;
	}
}
