@import "../variables.less";

.p-sponsors {
	font-family: Lexend, sans-serif;
	-webkit-font-smoothing: antialiased;

	.container {
		width: 1224px;
		position: relative;
	}

	.sp-category-title {
		font-size: 14px;
		font-weight: 600;
		margin: 50px 0 20px;
		letter-spacing: 3px;

		&.platinum {
			margin-top: 30px;
		}
	}

	.sp {
		border: solid @c-gray 1px;
		font-size: 15px;
		font-weight: 600;
		text-align: center;
		margin-top: 30px;

		.sp-img {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		.sp-text {
			text-align: justify;
			padding: 0 35px 25px;
			opacity: .7;
			line-height: 30px;
		}

		.sp-link {
			color: #000;
			font-size: 15px;
			height: 50px;
			display: block;

			i {
				opacity: .5;
			}
		}

		@media (max-width: @screen-xs-max) {
			height: auto !important;

			.sp-text {
				height: auto !important;
			}
		}
	}

	.sp-platinum {
		.sp {
			height: 440px;
		}

		.sp-text {
			height: 250px;
		}
	}

	.sp-gold {
		.sp {
			height: 325px;
		}

		.sp-text {
			height: 135px;
		}
	}

	@media (max-width: 500px) {
		.col-xs-8 {
			width: 100%;
			left: 0;
		}
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 44px;
		background: #fff;
		box-shadow: 0 2px 2px -2px rgba(23, 35, 59, .04), 0 2px 8px rgba(23, 35, 59, .04);

		>a:nth-child(1) {
			margin-right: 32px;
		}

		>a {
			font-size: 14px;
			line-height: 20px;
			color: #111a2c;
			text-decoration: none;

			&.active {
				color: #f65128;
			}
		}
	}

	.head-wrapper {
		margin-bottom: 60px;
		padding: 80px 0 20px;

		.head-map-bg {
			position: absolute;
			right: 50%;
			transform: translateX(50%);
			top: -36px;
			z-index: -1;
		}

		.head-title, .head-subtitle, .head-descr, .head-ctrls {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.head-title {
			font-weight: 600;
			font-size: 48px;
			line-height: 68px;
			letter-spacing: 0.2px;
			color: #17233b;
			margin-bottom: 56px;
		}

		.head-subtitle {
			font-weight: 600;
			font-size: 20px;
			line-height: 32px;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 16px;
		}

		.head-descr {
			flex-direction: column;
			font-size: 14px;
			line-height: 24px;
			color: #5c667a;
			margin-bottom: 24px;
		}

		.head-ctrls {
			>div {
				&:nth-child(1) {
					margin-right: 16px;
				}

				display: flex;
				align-items: center;
				justify-content: center;
				height: 48px;
				padding: 0 24px;
				background: #fff;
				border: 1px solid #cfd6dd;
				box-sizing: border-box;
				box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #17233b;
				cursor: pointer;

				>img {
					margin-right: 12px;
				}
			}
		}
	}
}
