@import "../variables.less";

.p-sponsors {
	font-family: Lexend, sans-serif;
	-webkit-font-smoothing: antialiased;

	.container {
		width: 1224px;
		position: relative;
		padding: 0;
	}

	@media (max-width: 500px) {
		.col-xs-8 {
			width: 100%;
			left: 0;
		}
	}

	.navigation {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 44px;
		background: #fff;
		box-shadow: 0 2px 2px -2px rgba(23, 35, 59, .04), 0 2px 8px rgba(23, 35, 59, .04);

		>a:nth-child(1) {
			margin-right: 32px;
		}

		>a {
			font-size: 14px;
			line-height: 20px;
			color: #111a2c;
			text-decoration: none;

			&.active {
				color: #f65128;
			}
		}
	}

	.head-wrapper {
		margin-bottom: 60px;
		padding: 80px 0 20px;

		.head-map-bg {
			position: absolute;
			right: 50%;
			transform: translateX(50%);
			top: -36px;
			z-index: -1;
		}

		.head-title, .head-subtitle, .head-descr, .head-ctrls {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.head-title {
			font-weight: 600;
			font-size: 48px;
			line-height: 68px;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 56px;
		}

		.head-subtitle {
			font-weight: 600;
			font-size: 20px;
			line-height: 32px;
			letter-spacing: .2px;
			color: #17233b;
			margin-bottom: 16px;
		}

		.head-descr {
			flex-direction: column;
			font-size: 14px;
			line-height: 24px;
			color: #5c667a;
			margin-bottom: 24px;
		}

		.head-ctrls {
			>div {
				&:nth-child(1) {
					margin-right: 16px;
				}
				display: flex;
				align-items: center;
				justify-content: center;
				height: 48px;
				padding: 0 24px;
				background: #fff;
				border: 1px solid #cfd6dd;
				box-sizing: border-box;
				box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #17233b;
				cursor: pointer;

				>img {
					margin-right: 12px;
				}
			}
		}
	}

	.sp-header {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 16px;
		font-weight: 600;
		font-size: 40px;
		line-height: 56px;
		letter-spacing: .2px;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		color: transparent;

		&.gold-header, &.bronze-header {
			margin-top: 80px;
		}

		&.platinum-header {
			background-image: linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
			background-image: -webkit-linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
			background-image: -moz-linear-gradient(rgba(94, 113, 130, 1), rgba(94, 113, 130, .08));
		}

		&.gold-header {
			background-image: linear-gradient(rgba(255, 130, 0, 1), rgba(155, 103, 49, .16));
			background-image: -webkit-linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
			background-image: -moz-linear-gradient(rgba(255, 130, 0, 1), rgba(255, 130, 0, .16));
		}

		&.bronze-header {
			background-image: linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
			background-image: -webkit-linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
			background-image: -moz-linear-gradient(rgba(154, 90, 55, 1), rgba(155, 91, 54, .08));
		}
	}

	.sp-row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&.row-gold .sp-item .sp {
			height: 272px;
		}

		&.row-bronze .sp-item .sp {
			height: 128px;
			justify-content: center;

			.sp-img {
				margin-bottom: 0;
			}
		}

		.sp-item {
			margin-right: 24px;

			.sp {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-top: 24px;
				width: 392px;
				height: 320px;
				padding: 24px;
				background: #fff;
				border: 1px solid #dfe3e7;
				box-sizing: border-box;
				border-radius: 8px;

				.sp-img {
					height: 60px;
					margin-bottom: 34px;
				}

				.sp-text {
					text-align: center;
					margin-bottom: 24px;
					font-size: 14px;
					line-height: 24px;
					color: #5c667a;
				}

				.sp-link {
					font-weight: 600;
					font-size: 14px;
					line-height: 24px;
					letter-spacing: .2px;
					color: #f65128;

					>img {
						margin-right: 12px;
					}
				}
			}

			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
	}

	.be-a-sp {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 128px;
		margin-bottom: 48px;

		>img {
			margin-right: 24px;
		}

		>span {
			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			letter-spacing: .2px;
			color: #17233b;
			margin-right: 24px;
		}

		>a {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			line-height: 20px;
			color: #fff;
			background: #f65128;
			border-radius: 6px;
			height: 40px;
			padding: 0 20px;
			text-decoration: none;
		}
	}
}
