@import "../variables.less";

.p-sponsors {
	.sp-category-title {
		font-size: 14px;
		font-weight: 600;
		margin: 50px 0 20px 0;
		letter-spacing: 3px;

		&.platinum {
			margin-top: 30px;
		}
	}

	.sp {
		border: solid @c-gray 1px;
		font-size: 15px;
		font-weight: 600;
		text-align: center;
		margin-top: 30px;

		.sp-img {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.sp-text {
			text-align: justify;
			padding: 0 35px 25px;
			opacity: .7;
			line-height: 30px;
		}

		.sp-link {
			color: #000;
			font-size: 15px;
			height: 50px;
			display: block;

			i {
				opacity: .5;
			}
		}

		@media (max-width: @screen-xs-max) {
			height: auto !important;

			.sp-text {
				height: auto !important;
			}
		}
	}

	.sp-platinum {
		.sp {
			height: 440px;
		}

		.sp-text {
			height: 250px;
		}
	}

	.sp-gold {
		.sp {
			height: 325px;
		}

		.sp-text {
			height: 135px;
		}
	}

	@media (max-width: 500px) {
		.col-xs-8 {
			width: 100%;
			left: 0;
		}
	}

}
