.p-statistics {
	.container {
		position: relative;
		width: 1224px;
		.head-wrapper {
			.head-map-bg {
				position: absolute;
				left: 0;
				top: 0px;
				margin-top: 90px;
				height: 214px;
				object-fit: cover;
				@media (min-width: @screen-sm-min) {
					left: auto;
					right: 50%;
					transform: translateX(50%);
					top: -36px;
					width: 908px;
					height: 428px;
				}
				z-index: -1;
			}
			.head-title {
				font-family: 'Lexend';
				font-style: normal;
				font-weight: 600;
				font-size: 48px;
				line-height: 68px;
				text-align: center;
				letter-spacing: 0.2px;
				color: #17233B;
				margin-top: 80px;
				margin-bottom: 16px;
			}
			.head-text {
				text-align: center;
				font-family: 'Lexend';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				color: #5C667A;
			}
			.global_data {
				position: sticky;
				top: -1px;
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: space-between;
				margin-top: 80px;

				&.is-pinned {
					background: white;

					.global_data_info {
						> img {
							display: none;
						}
						.title {
							font-size: 16px;
						}
					}
					.btn-group {
						.label-for-pinned {
							display: inline;
							margin-right: 8px;
						}
						> .btn {
							border: none;
						}
					}
				}
				.global_data_info{
					display: flex;
					align-items: center;
					.title {
						margin: 0;
						margin-left: 30px;
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 600;
						font-size: 32px;
						line-height: 44px;
						letter-spacing: 0.2px;
					}
				}
				.btn-group {
					.label-for-pinned {
						display: none;
					}
					span, a{
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #17233B;
						background: #FFFFFF;
					}
					.btn {
						float: none;
						width: 129px;
						height: 40px;
						background: #FFFFFF;
						border: 1px solid #CFD6DD;
						box-sizing: border-box;
						border-radius: 6px;
					}
				}
			}
			.verticalLine {
				width: 100%;
				height: 1px;
				background: #EDF0F2;
				margin-top: 26px;
				margin-bottom: 80px;
			}
		}
		.hit-rate {
			margin-top: 80px;
			margin-bottom: 80px;
			h3 {
				font-family: 'Lexend';
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: 0.2px;
				color: #17233B;
			}
			.rate-row {
				display: flex;
				justify-content: center;
				align-items: center;
				.row-item {
					display: flex;
					align-items: center;
					flex-direction: column;
					padding: 24px 20px;
					width: 33.33%;
					height: 114px;
					background: #FFFFFF;
					border: 1px solid #DFE3E7;
					.icon {
						margin-right: 8px;
					}
					span {
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #111A2C;
					}
					p {
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 600;
						font-size: 18px;
						line-height: 26px;
						margin-top: 18px;
						padding: 0;
						text-align: center;
						letter-spacing: 0.2px;
						color: #17233B;
					}
				}
			}
		}
		.network-data {
			position: sticky;
			top: -1px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 82px;
			z-index: 1;

			&.is-pinned {
				background: white;

				.network-data-info {
					> img {
						display: none;
					}
					.title {
						font-size: 16px;
						margin-top: 0px;
						margin-bottom: 0px;
					}
				}
				.network-data-action {
					margin-top: 0px;

					.search {
						border: none;

						&:focus-visible {
							outline: none;
						}
					}
					.btn-group {
						.label-for-pinned {
							display: inline;
							margin-right: 8px;
						}
						> .btn {
							border: none;
						}
					}
				}
			}
			.network-data-info {
				display: flex;
				align-items: center;
				.title {
					font-family: 'Lexend';
					font-style: normal;
					font-weight: 600;
					font-size: 32px;
					line-height: 44px;
					letter-spacing: 0.2px;
					color: #17233B;
					margin: 0 0 0 30px;
				}
			}
			.network-data-action {
				display: flex;
				.search {
					width: 352px;
					height: 40px;
					background-color: #FFFFFF !important;
					border: 1px solid #CFD6DD;
					box-sizing: border-box;
					border-radius: 6px;
					background: url(/img/statistics/search.svg) no-repeat scroll 19px 13px;
					padding-left: 44px;
					margin-right: 16px;

				}
				.btn-group {
					.label-for-pinned {
						display: none;
					}
					span, a{
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #17233B;
						background: #FFFFFF;
					}
					.btn {
						float: none;
						width: 129px;
						height: 40px;
						background: #FFFFFF;
						border: 1px solid #CFD6DD;
						box-sizing: border-box;
						border-radius: 6px;
					}
				}
			}
		}
		.verticalLine {
			width: 100%;
			height: 1px;
			background: #EDF0F2;
			margin-top: 26px;
			margin-bottom: 80px;
		}
		.tops {
			margin-top: 80px;
			display: flex;
			justify-content: space-between;
		}
		.projects-data {
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			margin-top: 80px;
			.projects_data_info{
				display: flex;
				align-items: center;
				.title {
					margin: 0;
					margin-left: 30px;
					font-family: 'Lexend';
					font-style: normal;
					font-weight: 600;
					font-size: 32px;
					line-height: 44px;
					letter-spacing: 0.2px;
				}
			}
			.btn-group {
				span, a{
					font-family: 'Lexend';
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					color: #17233B;
					background: #FFFFFF;
				}
				.btn {
					width: 129px;
					height: 40px;
					background: #FFFFFF;
					border: 1px solid #CFD6DD;
					box-sizing: border-box;
					border-radius: 6px;
				}
			}
		}
	}
	.grey{
		background: #F9FAFB;
	}
	.eac-item.WW {
		display: none;
		padding: 4px 12px;
		background: white;
		border: 1px solid #ccc;
		cursor: pointer;

		&:hover {
			background: none repeat scroll 0 0 #ebebeb;
		}
		> img {
			margin-right: 5px;
		}
	}
	.easy-autocomplete {
		margin-right: 16px;

		.easy-autocomplete-container {
			li {
				padding: 0px 12px;
				
				.eac-item {
					padding: 4px 0px;
					display: flex;
					align-items: center;
					cursor: pointer;
					
					> img {
						margin-right: 5px;
					}
				}
			}
		}
	}
}
@media (max-width: @screen-sm-min) {
	.p-statistics {
		.container {
			width: auto;
			padding: 0px 24px;
			.head-wrapper {
				.head-map-bg {
					display: none;
				}
				.head-title {
					margin-top: 48px;
					font-size: 32px;
				}
				.head-text {
					margin-top: 16px;
					font-size: 16px;
				}
				.global_data {
					display: block;
					img {
						width: 29px !important;
						height: 29px !important;
					}
					.title {
						font-size: 20px;
					}
					.header-ctrls{
						margin-top: 21px;
						.data-range-ctrl{
							.btn-group {
								width: 100%;
								.btn {
									display: flex;
									justify-content: space-between;
									align-items: center;
									width: 100%;
									height: 40px;
									background: #FFFFFF;
									border: 1px solid #CFD6DD;
									box-sizing: border-box;
									border-radius: 6px;
								}
							}
						}
					}
				}
				.verticalLine {
					display: none;
				}
				.hit-rate {
					margin-top: 40px;
					margin-bottom: 44px;
					h3 {
						font-size: 18px;
					}
					.rate-row {
						flex-wrap: wrap;
						.row-item{
							width: 156px;
						}
					}
				}
			}
			.network-data {
				flex-direction: column;
				align-items: flex-start;
				margin: 0;
				margin-top: 48px;
				.network-data-info {
					align-items: center;
					img {
						width: 32px !important;
						height: 32px !important;
					}
					.title {
						margin-left: 13px;
						font-size: 20px;
					}
				}
				.network-data-action {
					width: 100%;
					flex-direction: column;
					.search {
						width: 100%;
					}
					.search::placeholder {
						font-size: 12px;
					}
					.data-range-ctrl {
						margin-top: 16px;
						.btn-group {
							width: 100%;
							.btn {
								display: flex;
								justify-content: space-between;
								align-items: center;
								width: 100%;
								height: 40px;
								background: #FFFFFF;
								border: 1px solid #CFD6DD;
								box-sizing: border-box;
								border-radius: 6px;
							}
						}
					}
				}
			}
			.verticalLine {
				display: none;
			}
			.tops {
				flex-direction: column;
			}
			.projects-data {
				flex-direction: column;
				align-items: flex-start;
				.projects_data_info {
					img {
						width: 32px !important;
						height: 32px !important;
					}
					.title {
						font-size: 20px;
					}
				}
				.data-range-ctrl {
					margin-top: 16px;
					width: 100%;
					.btn-group {
						width: 100%;
						.btn {
							display: flex;
							justify-content: space-between;
							align-items: center;
							width: 100%;
							height: 40px;
							background: #FFFFFF;
							border: 1px solid #CFD6DD;
							box-sizing: border-box;
							border-radius: 6px;
						}
					}
				}
			}
			.verticalLine {
				display: none;
			}
		}
		.grey {
			background: #FFF;
			border-top: 1px solid #DFE3E7 ;
		}
	}
}
