.p-statistics {
	.container {
		position: relative;
		width: 1224px;
		.head-wrapper {
			.head-map-bg {
				position: absolute;
				left: 0;
				top: 0px;
				margin-top: 90px;
				height: 214px;
				object-fit: cover;
				@media (min-width: @screen-sm-min) {
					left: auto;
					right: 50%;
					transform: translateX(50%);
					top: -36px;
					width: 908px;
					height: 428px;
				}
				z-index: -1;
			}
			.head-title {
				font-family: 'Lexend';
				font-style: normal;
				font-weight: 600;
				font-size: 48px;
				line-height: 68px;
				text-align: center;
				letter-spacing: 0.2px;
				color: #17233B;
				margin-top: 80px;
				margin-bottom: 16px;
			}
			.head-text {
				text-align: center;
				font-family: 'Lexend';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				color: #5C667A;
			}
			.global_data {
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: space-between;
				margin-top: 80px;
				.global_data_info{
					display: flex;
					align-items: center;
					.title {
						margin: 0;
						margin-left: 30px;
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 600;
						font-size: 32px;
						line-height: 44px;
						letter-spacing: 0.2px;
					}
				}
				.btn-group {
					span, a{
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #17233B;
					}
					.btn {
						width: 129px;
						height: 40px;
						background: #FFFFFF;
						border: 1px solid #CFD6DD;
						box-sizing: border-box;
						border-radius: 6px;
					}
				}
			}
			.verticalLine {
				width: 100%;
				height: 1px;
				background: #EDF0F2;
				margin-top: 26px;
				margin-bottom: 80px;
			}
			.bandwidth {
				display: flex;
				justify-content: space-between;
				margin: 0;
				.block {
					width: 570px;
					h3 {
						margin: 0;
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 600;
						font-size: 24px;
						line-height: 36px;
						letter-spacing: 0.2px;
						color: #17233B;
					}
					.table {
						margin-top: 24px;
						margin-bottom: 0;
						background: #FFFFFF;
						border: 1px solid #DFE3E7;
						box-sizing: border-box;
						box-shadow: 0px 4px 2px -2px rgba(23, 35, 59, 0.06), 0px 2px 8px rgba(23, 35, 59, 0.04);
						border-radius: 6px;
						.bandwidth-stats {
							display: flex;
							flex-direction: column;

							@media (min-width: @screen-sm-min) {
								flex-direction: row;
							}
							align-items: center;
							>div {
								display: flex;
								width: 100%;
								flex-direction: column;
								padding: 16px 0;
								height: auto;
								align-items: center;
								text-align: center;

								@media (min-width: @screen-sm-min) {
									flex-direction: row;
									text-align: left;
									height: 96px;
									width: 600px;
									padding: 0 20px;
								}
								border-bottom: 1px solid #dfe3e7;
								box-sizing: border-box;

								.card-icon {
									display: flex;
									align-items: center;
									justify-content: center;
									width: 32px;
									height: 32px;

									@media (min-width: @screen-sm-min) {
										width: 48px;
										height: 48px;
										background: #f3f5f7;
										margin-right: 20px;
									}
									border-radius: 6px;
								}

								.card-main-stat {
									display: flex;
									flex-direction: column;
									margin-top: 16px;

									@media (min-width: @screen-sm-min) {
										margin-top: 0;
									}

									>span:nth-child(1) {
										font-weight: 600;
										font-size: 18px;
										line-height: 26px;

										@media (min-width: @screen-sm-min) {
											font-size: 24px;
											line-height: 36px;
										}
										letter-spacing: .2px;
										color: #111a2c;
									}

									>span:nth-child(2) {
										font-size: 14px;
										line-height: 20px;
										color: #5c667a;
										margin-top: 4px;

										@media (min-width: @screen-sm-min) {
											margin-top: 0;
										}
									}
								}

								.card-growth {
									display: flex;
									margin-left: 0;
									align-items: center;
									margin-top: 16px;

									@media (min-width: @screen-sm-min) {
										margin-left: auto;
										flex-direction: column;
										align-items: stretch;
										margin-top: 0;
									}

									>span:nth-child(1) {
										display: flex;
										margin-right: 4px;

										@media (min-width: @screen-sm-min) {
											justify-content: flex-end;
											margin-right: 0;
										}
									}

									>span:nth-child(2) {
										font-size: 14px;
										line-height: 20px;
										color: #5c667a;
										margin-left: 4px;

										@media (min-width: @screen-sm-min) {
											margin-left: 0;
										}
									}

									.growth-positive, .growth-negative {
										font-weight: 600;
										font-size: 16px;
										line-height: 24px;
										letter-spacing: .2px;
									}

									.growth-positive {
										color: #0b8e5f;
									}

									.growth-negative {
										color: #eb3333;
									}
								}
							}
						}
						.bandwidth-list {
							.list{
								display: flex;
								justify-content: space-between;
								align-items: center;
								height: 56px;
								box-shadow: inset 0px -1px 0px rgba(14, 25, 47, 0.08);
								font-family: 'Lexend';
								font-style: normal;
								font-weight: 400;
								font-size: 14px;
								line-height: 20px;
								color: #111A2C;
								.icon {
									display: flex;
									align-items: center;
									img {
										margin-left: 20px;
										margin-right: 8px;
									}
								}
								.chart {
									width: 310px;
									margin-right: 18px;
									display: flex;
									justify-content: space-between;
									align-items: center;
									.percentage-bar {
										width: 144px;
										.barWidth {
											width: '100%';
											height: 4px;
											background: #F6821F;
										}
									}
								}
							}
							.list:last-child{
								box-shadow: none;
							}
						}
					}
				}
			}
		}
		.hit-rate {
			h3 {
				font-family: 'Lexend';
				font-style: normal;
				font-weight: 600;
				font-size: 24px;
				line-height: 36px;
				letter-spacing: 0.2px;
				margin-top: 80px;
				color: #17233B;
			}
			.rate-row {
				display: flex;
				justify-content: center;
				align-items: center;
				.row-item {
					display: flex;
					align-items: center;
					flex-direction: column;
					padding: 24px 20px;
					width: 306px;
					height: 114px;
					background: #FFFFFF;
					border: 1px solid #DFE3E7;
					.icon {
						margin-right: 8px;
					}
					span {
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #111A2C;
					}
					p {
						font-family: 'Lexend';
						font-style: normal;
						font-weight: 600;
						font-size: 18px;
						line-height: 26px;
						margin-top: 18px;
						padding: 0;
						text-align: center;
						letter-spacing: 0.2px;
						color: #17233B;
					}
				}
			}
		}
		.hits-chart-wrapper {
			position: relative;
			height: 397px;
			margin-top: 30px;
		}
	}
}
