.p-statistics {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.container {
		padding: 0 24px;
		position: relative;

		@media (min-width: @screen-sm-min) {
			padding: 0 12px;
		}

		.horizontal-divider {
			display: none;

			@media (min-width: @screen-sm-min) {
				display: flex;
				width: 100%;
				height: 2px;
				background: #edf0f2;
				margin: 24px 0 0;
			}
		}

		.head-wrapper {
			&_map-wrapper {
				display: flex;
				justify-content: center;
				position: absolute;
				top: 44px;
				width: 100%;
				margin: 0 -24px;
				height: 214px;
				overflow: hidden;
				z-index: -1;

				@media (min-width: @screen-sm-min) {
					top: 56px;
					height: 428px;
				}

				.head-map-bg {
					width: 454px;
					height: 214px;

					@media (min-width: @screen-sm-min) {
						width: 908px;
						height: 428px;
					}
				}
			}

			.head-title {
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 600;
				font-size: 32px;
				line-height: 44px;
				letter-spacing: .2px;
				color: #111a2c;
				margin: 48px 0 16px;

				@media (min-width: @screen-sm-min) {
					font-size: 48px;
					line-height: 68px;
					color: #17233b;
					margin: 80px 0 16px;
				}
			}

			.head-text {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				font-size: 16px;
				line-height: 24px;
				color: #5c667a;
				margin: 0;

				@media (min-width: @screen-sm-min) {
					font-size: 18px;
					line-height: 26px;
				}
			}
		}

		.hit-rate {
			margin: 40px 0 0;

			@media (min-width: @screen-sm-min) {
				margin: 80px 0 0;
			}

			h3 {
				margin: 0 0 16px;
				font-weight: 600;
				font-size: 18px;
				line-height: 26px;
				letter-spacing: .2px;
				color: #111a2c;

				@media (min-width: @screen-sm-min) {
					margin: 0 0 24px;
					font-size: 24px;
					line-height: 36px;
					color: #17233b;
				}
			}

			.rate-row {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				border: 1px solid #dfe3e7;
				border-radius: 6px;

				@media (min-width: @screen-sm-min) {
					flex-wrap: nowrap;
					box-shadow: 0 4px 2px -2px rgba(23, 35, 59, .06), 0 2px 8px rgba(23, 35, 59, .04);
				}

				.row-item {
					width: 50%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-items: center;
					padding: 24px 20px;
					background: transparent;

					@media (min-width: @screen-sm-min) {
						width: auto;
						flex-grow: 1;
						flex-basis: 0;
					}

					&:nth-child(1) {
						box-shadow: inset 0 -1px 0 #dfe3e7;

						@media (min-width: @screen-sm-min) {
							box-shadow: none;
						}
					}

					&:nth-child(2) {
						box-shadow: inset 1px 0 0 #dfe3e7, inset 0 -1px 0 #dfe3e7;

						@media (min-width: @screen-sm-min) {
							box-shadow: -1px 0 0 #dfe3e7;
						}
					}

					&:nth-child(3) {
						@media (min-width: @screen-sm-min) {
							box-shadow: -1px 0 0 #dfe3e7;
						}
					}

					&_provider {
						display: flex;
						align-items: center;

						img {
							margin-right: 8px;
						}

						span {
							font-size: 14px;
							line-height: 20px;
							color: #111a2c;
						}
					}

					&_interest {
						margin-top: 16px;
						font-weight: 600;
						font-size: 18px;
						line-height: 26px;
						letter-spacing: .2px;
						color: #17233b;
					}
				}
			}
		}

		.global-data, .projects-data {
			display: flex;
			flex-direction: column;
			margin-top: 48px;

			@media (min-width: @screen-sm-min) {
				margin-top: 80px;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				column-gap: 24px;
			}

			&_info {
				display: flex;
				align-items: center;
				column-gap: 8px;

				&_icon {
					width: 40px;
					height: 40px;

					@media (min-width: @screen-sm-min) {
						width: 48px;
						height: 48px;
					}
				}

				&_title {
					margin: 0;
					font-weight: 600;
					font-size: 20px;
					line-height: 32px;
					letter-spacing: .2px;
					color: #111a2c;

					@media (min-width: @screen-sm-min) {
						font-size: 32px;
						line-height: 44px;
					}
				}

				&_settings-icon {
					display: none;
				}
			}

			.data-range-ctrl {
				margin: 16px 0 0;

				@media (min-width: @screen-sm-min) {
					margin: 0;
				}

				.btn-group {
					width: 100%;

					.label-for-pinned {
						display: none;
					}

					.btn.dropdown-toggle {
						display: flex;
						align-items: center;
						justify-content: space-between;
						column-gap: 4px;
						width: 100%;
						padding: 0 8px 0 16px;
						height: 40px;
						background: #fff;
						border: 1px solid #cfd6dd;
						box-shadow: none;
						border-radius: 6px;

						>span {
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
						}

						>i {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 20px;
							height: 20px;
						}
					}

					.dropdown-menu {
						width: 100%;
						max-width: 320px;
						left: auto;
						right: 0;
						margin-top: 9px;
						padding: 8px;
						background: #fff;
						border: 1px solid #dfe3e7;
						box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
						border-radius: 6px;

						@media (min-width: @screen-sm-min) {
							width: auto;
						}

						li {
							>a {
								display: flex;
								align-items: center;
								justify-content: flex-start;
								height: 40px;
								width: 100%;
								padding: 10px;
								font-weight: 400;
								font-size: 14px;
								line-height: 20px;
								color: #111a2c;

								&:hover {
									background: #f3f5f7;
									border-radius: 4px;
								}
							}
						}
					}
				}
			}
		}

		.network-data {
			display: flex;
			flex-direction: column;

			@media (min-width: @screen-sm-min) {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				column-gap: 48px;
			}

			&_info {
				display: flex;
				align-items: center;
				column-gap: 8px;
				margin-bottom: 16px;

				@media (min-width: @screen-sm-min) {
					margin-bottom: 0;
					column-gap: 24px;
				}

				img {
					width: 40px;
					height: 40px;

					@media (min-width: @screen-sm-min) {
						width: 48px;
						height: 48px;
					}
				}

				.title {
					font-weight: 600;
					font-size: 20px;
					line-height: 32px;
					letter-spacing: .2px;
					color: #17233b;

					@media (min-width: @screen-sm-min) {
						font-size: 32px;
						line-height: 44px;
					}
				}

				.setting-ico {
					display: none;
				}
			}

			&_action {
				display: flex;
				flex-direction: column;

				@media (min-width: @screen-sm-min) {
					flex-direction: row;
					align-items: center;
					justify-content: flex-end;
					flex-grow: 1;
					column-gap: 16px;
				}

				&_input-title {
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					color: #5c667a;
					margin-bottom: 12px;

					@media (min-width: @screen-sm-min) {
						display: none;
					}
				}

				.algolia-autocomplete {
					margin: 0;

					@media (min-width: @screen-sm-min) {
						margin-bottom: 0;
						width: 100%;
						max-width: 352px;
					}
				}

				.data-range-ctrl {
					margin: 16px 0 0;

					@media (min-width: @screen-sm-min) {
						margin: 0;
					}
				}

				.search {
					height: 40px;
					width: 100%;
					border: 1px solid #cfd6dd;
					border-radius: 6px;
					background: url("/img/statistics/search.svg") no-repeat scroll 16px 13px;
					padding: 10px 16px  10px 44px;
					margin: 0;
					background-color: #fff;

					&::placeholder {
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						color: #79849a;
					}
				}

				.btn-group {
					width: 100%;

					.label-for-pinned {
						display: none;
					}

					.btn.dropdown-toggle {
						display: flex;
						align-items: center;
						justify-content: space-between;
						column-gap: 4px;
						width: 100%;
						padding: 0 8px 0 16px;
						height: 40px;
						background: #fff;
						border: 1px solid #cfd6dd;
						box-shadow: none;
						border-radius: 6px;

						>span {
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
						}

						>i {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 20px;
							height: 20px;
						}
					}

					.dropdown-menu {
						width: 100%;
						max-width: 320px;
						left: auto;
						right: 0;
						margin-top: 9px;
						padding: 8px;
						background: #fff;
						border: 1px solid #dfe3e7;
						box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
						border-radius: 6px;

						@media (min-width: @screen-sm-min) {
							width: auto;
						}

						li {
							>a {
								display: flex;
								align-items: center;
								justify-content: flex-start;
								height: 40px;
								width: 100%;
								padding: 10px;
								font-weight: 400;
								font-size: 14px;
								line-height: 20px;
								color: #111a2c;

								&:hover {
									background: #f3f5f7;
									border-radius: 4px;
								}
							}
						}
					}
				}
			}
		}

		.tops {
			display: flex;
			flex-direction: column;
			margin-top: 40px;
			row-gap: 40px;

			@media (min-width: @screen-sm-min) {
				margin-top: 80px;
			}

			@media (min-width: @screen-md-min) {
				flex-direction: row;
				justify-content: space-between;
				column-gap: 24px;
			}

			@media (min-width: @screen-lg-min) {
				column-gap: 48px;
			}

			.c-top-platform-browser {
				@media (min-width: @screen-md-min) {
					max-width: calc((100% - 24px) / 2);
				}

				@media (min-width: @screen-lg-min) {
					max-width: calc((100% - 48px) / 2);
				}
			}
		}

		// TODO: not reviwed below

		.c-network-request-map {
			margin-top: 40px;

			@media (min-width: @screen-sm-min) {
				margin-top: 86px;
			}
		}
	}

	.grey {
		margin-top: 48px;
		padding: 48px 0;
		box-shadow: inset 0 11px 1px -10px #dfe3e7, inset 0 -11px 1px -10px #dfe3e7;
		background: #fff;

		@media (min-width: @screen-sm-min) {
			margin-top: 80px;
			padding: 80px 0;
			background: #f9fafb;
		}
	}

	.algolia-autocomplete {
		[class*="aa-dataset"] {
			.aa-suggestions {
				.aa-suggestion {
					padding: 4px 12px;
					display: flex;
					align-items: center;
					cursor: pointer;

					&:hover {
						background: #f3f5f7;
						color: #111a2c;
					}

					> img {
						margin-right: 5px;
					}
				}
			}
		}
	}
}
