.p-privacy-policy {
	font-family: Lexend, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-style: normal;

	.page-title {
		display: flex;
		justify-content: center;
		font-weight: 600;
		font-size: 48px;
		line-height: 68px;
		letter-spacing: .2px;
		color: #17233b;
		margin: 80px auto;
		width: 100%;
	}

	.container {
		width: 1254px;
		display: flex;
		justify-content: center;

		.main-content {
			width: 912px;
		}

		.side-menu {
			width: 224px;
			margin-right: 88px;

			.menu-section {
				display: flex;
				flex-direction: column;

				.section-title {
					font-size: 12px;
					line-height: 16px;
					color: #79849a;
					font-weight: 400;
					margin-bottom: 16px;
				}

				.section-list {
					>div {
						&:not(:nth-last-child(1)) {
							margin-bottom: 16px;
						}

						>a {
							font-size: 14px;
							line-height: 20px;
							color: #17233b;
							text-decoration: none;

							&:hover {
								color: #e13509;
							}

							&:active, &:focus {
								color: #b02907;
							}

							&.active {
								font-weight: 600;
								font-size: 14px;
								line-height: 20px;
								letter-spacing: .2px;
								color: #f65128;
							}
						}
					}
				}
			}

			.horizontal-divider {
				height: 1px;
				background: #dfe3e7;
				margin: 24px 0;
			}
		}
	}
}
