nav.navbar.navbar-default
  .container-fluid
    a.navbar-brand.logo(ui-sref='search', ui-sref-opts="{reload: true}")
      img(src='/img/jsdelivr-logo.png')

    ul.nav.navbar-nav.navbar-left.sponsors
      each sponsor in [sponsors.maxcdn, sponsors.cloudflare, sponsors.cedexis]
        li: a(href=sponsor.home): img(src=sponsor.img, alt=sponsor.name)

    ul.nav.navbar-nav.navbar-right
      li: a(ui-sref='network') Network
      li: a(ui-sref='about') About
      li: a(ui-sref='faq') FAQ
      li: a(href='http://blog.jsdelivr.com/') Blog
