@import "bootstrap/bootstrap";

@import "components/about";
@import "components/links";
@import "components/project";
@import "components/search-input";
@import "components/search-results";
@import "components/select-files";

@import "variables";
@import "custom";

body {
	text-align: justify;
}

h1 {
	margin-bottom: 50px;
}

h3 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 10px;
}

#header {
	padding-top: 40px;
	color: #fff;
	background-color: @gray-dark;
	font-size: @font-size-small;
}

#main-menu {
	//@media (min-width: @screen-sm-min) {
		margin-left: 20px;

		@media (max-width: @screen-sm-max) {
			& + ul {
				float: none !important;
				margin-left: 285px;
			}
		}
	//}

	@media (min-width: @screen-md-min) {
		margin-left: 80px;
	}

	@media (min-width: @screen-lg) {
		//margin-left: 245px;
		margin-left: 240px;
	}
}

#page {
	padding-bottom: 20px;
}

#sponsors {
	background-color: @brand-primary;
	border-color: @brand-primary;
	border-radius: 0;
	margin-bottom: 20px;
	text-align: center;

	img {
		margin: 15px 35px
	}
}

#footer {
	padding: 60px 0;
	color: #fff;
	background-color: @gray-dark;
	border-top: 5px solid @brand-primary;

	p {
		font-size: @font-size-small;
	}

	img {
		opacity: .35;
	}
}

#copyright {
	color: @gray;
	font-weight: 700;
	font-size: @font-size-small;
}

.selection(@brand-primary, #fff);

pre {
	border-radius: 0;
}

// TODO: Responsive design for smaller screens.
@media (max-width: 980px) {
	body {
		min-width: 980px;
	}

	.container {
		width: 740px;
	}
}

@media (max-width: 1860px) {
	.collection-sidebar {
		margin-right: 0;
	}

	.project {
		clear: both;
	}
}
