.clearfix () {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.placeholder (@color) {
	&::placeholder {
		color: @color;
	}

	&:placeholder-shown {
		color: @color;
	}
}

.selection (@color, @bg-color) {
	::selection {
		color: @color;
		background: @bg-color;
	}
}

.text-decoration (@value) {
	&, &:hover, &:focus, &:active {
		text-decoration: @value;
	}
}
