.placeholder (@color) {
	::-webkit-input-placeholder {
		color: @color;
	}

	:-moz-placeholder {
		color: @color;
	}

	::-moz-placeholder {
		color: @color;
	}

	:-ms-input-placeholder {
		color: @color;
	}
}

.selection (@color, @bg-color) {
	::selection {
		color: @color;
		background: @bg-color;
	}

	::-moz-selection {
		color: @color;
		background: @bg-color;
	}
}

.text-decoration (@value) {
	&, &:hover, &:focus, &:active {
		text-decoration: @value;
	}
}

.transition (@transition) {
	-webkit-transition: @transition;
	transition: @transition;
}
