<link rel="ractive" href="../../r-page.html">
<link rel="ractive" href="../../components/coming-soon.html" name="c-coming-soon">
<link rel="ractive" href="../../components/header.html" name="c-header">
<link rel="ractive" href="../../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}" title="{{title}}" description="{{description}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-debug old-text-page">
		<c-coming-soon title="A debug tool is coming soon"></c-coming-soon>
	</div>
</r-page>

<script>
	component.exports = {
		data () {
			return {
				title: 'Debug tool - jsDelivr',
			};
		},
	};
</script>
