<link rel="ractive" href="../../r-page.html">
<link rel="ractive" href="../../components/coming-soon.html" name="c-coming-soon">
<link rel="ractive" href="../../components/header.html" name="c-header">
<link rel="ractive" href="../../components/notification.html" name="c-notification">

<r-page noYield="{{noYield}}">
	<c-notification></c-notification>
	<c-header></c-header>

	<div class="p-purge page">
		<c-coming-soon title="A tool for purging CDN cache is coming soon"></c-coming-soon>
	</div>
</r-page>
