<link rel="ractive" href="./shared/header.html" name="Header">

<Header app="{{app}}" query="{{query}}"></Header>

<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-6">
				<h1 class="text-center">About jsDelivr</h1>

				<p class="text-center">
					jsDelivr is a public open-source CDN (Content Delivery Network) where anyone can submit a project to be hosted and delivered by our network. Unlike Google or Microsoft,
					we host all kinds of projects - JavaScript libraries, CSS frameworks, fonts, WordPress plugins, etc. - and we don’t look at the popularity of the project. By using GitHub,
					we allow the community to fully interact with jsDelivr by adding and updating files.
				</p>
			</div>
		</div>
	</div>

	<div class="about-features">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-sm-offset 6 col-xs-3 col-xs-offset-5">
					<img src="/img/about/uptime.png">
				</div>

				<div class="col-xs-10">
					<h3>UPTIME</h3>

					<p>
						Downtime, timeouts or slow responses are simply unacceptable. The idea is not to simply offer a public CDN, but to offer the best possible experience and a rock-solid product.
						We have multiple layers of failover on different levels. Read about in detail <a href="/features/multi-cdn-load-balancing">Multi-CDN Load balancing</a>.
					</p>

					<p>
						According to <a target="_blank" href="http://www.cedexis.com/reports/">Cedexis Radar</a>, jsDelivr has the highest uptime across ALL enterprise CDNs including Akamai, CloudFront and Edgecast.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-offset 6 col-xs-3 col-xs-offset-5">
					<img src="/img/about/performance.png">
				</div>

				<div class="col-xs-10">
					<h3>PERFORMANCE</h3>

					<p>
						Multi-CDN load balancing, smart algorithm, real time data, real user metrics and multiple CDN providers all come together to ensure the best possible performance for all users.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-offset 6 col-xs-3 col-xs-offset-5">
					<img src="/img/about/open-source.png">
				</div>

				<div class="col-xs-10">
					<h3>OPEN SOURCE</h3>

					<p>
						Our project is open source and "not for profit". Everything we do, we do it for the community and a better web. We are focused to help all developers and website owners. And thanks to our open design we will never be vendor-locked to a single provider or technology, this means that no company can influence the project in a hurtful way as we can simply move away.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-offset 6 col-xs-3 col-xs-offset-5">
					<img src="/img/about/security.png">
				</div>

				<div class="col-xs-10">
					<h3>SECURITY</h3>

					<p>
						All jsDelivr related accounts are protected using 2-step authentication and IP whitelists by services that support them, along with a strong password. The origin server is
						accessible only from a few whitelisted IPs used by a single admin and a Github deployment service. All precautions are taken to protect our users.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="about-faq">
		<div class="container">
			<h1 class="text-center">FAQ</h1>

			<div class="row">
				<div class="col-xs-5 col-xs-offset-2">
					<div class="faq-item">
						<div class="faq-question">
							How can jsDelivr be free? How can it survive in the long term?
						</div>

						<div class="faq-answer">
							CDN traffic is expensive, yes. But all of our traffic and services are sponsored by awesome companies that want to make the web a faster and better place. That means
							that it doesn't matter how much traffic a plugin or project can generate, there is nothing to worry about.
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
							How can I help?
						</div>

						<div class="faq-answer">
							If you are a company, please checkout Sponsors for more details. If you are an individual, you can donate money or help us with development (API, website, new features)
							of the website. If you create or find a front end resource that is not hosted yet on jsDelivr, you may <a target="_blank" href="https://github.com/jsdelivr/jsdelivr/blob/master/CONTRIBUTING.md">submit it for addition</a>. You can also write blog posts or submit new ideas and features. Just send us an email.
						</div>
					</div>
				</div>

				<div class="col-xs-5">
					<div class="faq-item">
						<div class="faq-question">
							Are there any bandwidth limits?
						</div>

						<div class="faq-answer">
							No and there will never be.
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
							Why do my tests of jsDelivr show bad performance?
						</div>

						<div class="faq-answer">
							jsDelivr relies on RUM tests made by real users. Based on this data it can intelligently select the best provider for each user. Unfortunately this also means that
							any synthetic test of jsDelivr that runs on servers will result in worse performance. Services like Pingdom, WebPageTest, or any other server based testing will not be
							able to take the full advantage of our intelligent load balancing. All servers fallback to country level performance data, not ASN based like real users do.
						</div>
					</div>
				</div>

				<div class="col-xs-5">
					<div class="faq-item">
						<div class="faq-question">
							Does MaxCDN own jsDelivr? (or any other company)
						</div>

						<div class="faq-answer">
							No, MaxCDN is one of our biggest sponsors, but they don't own or influence the project in any way. Neither does any other company.
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
							Why are some projects tagged as version 0.1?
						</div>

						<div class="faq-answer">
							Some times it's hard to find what version is a project because the developer doesn't mention it anywhere. In these cases we just use 0.1 as the starting version
							and increase it on next updates.
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
							How are you making money?
						</div>

						<div class="faq-answer">
							We don't, the project is a non-profit. Most of the stuff is sponsored by companies and rest is paid by @jimaek.
						</div>
					</div>
				</div>

				<div class="col-xs-5">
					<div class="faq-item">
						<div class="faq-question">
							Will you host anything?
						</div>

						<div class="faq-answer">
							Not quite: we require projects to have some documentation, have a license, and distribute the source code. We cant host your custom files.
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
							How does jsDelivr performance compare to other CDNs?
						</div>

						<div class="faq-answer">
							jsDelivr is one of the fastest CDN in the world. Check the <a target="_blank" href="http://www.cedexis.com/reports/">Cedexis Reports</a> for the latest information
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="about-team" id="team">
		<div class="container">
			<h1 class="text-center">Team</h1>

			<div class="row">
				<div class="col-xs-12 col-xs-offset-6">
					<i class="clickable fa fa-angle-left fa-3x" on-click="prev()"></i>
					<i class="clickable fa fa-angle-right fa-3x" on-click="next()"></i>

					<div class="team-members">
						<div class="team-member">
							<h3>Dmitriy Akulov</h3>

							<img class="team-member-avatar" src="/img/about/team/dmitriy-akulov.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://ua.linkedin.com/in/dakulov"><img src="/img/about/social-icons/linkedin.png"></a>
								<a target="_blank" href="https://twitter.com/jimaek"><img src="/img/about/social-icons/twitter.png"></a>
								<a target="_blank" href="https://github.com/jimaek"><img src="/img/about/social-icons/github.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>Graeme Yeates</h3>

							<img class="team-member-avatar" src="/img/about/team/graeme-yeates.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://twitter.com/GraemeYeates"><img src="/img/about/social-icons/twitter.png"></a>
								<a target="_blank" href="https://github.com/megawac"><img src="/img/about/social-icons/github.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>Patrick Nommensen</h3>

							<img class="team-member-avatar" src="/img/about/team/patrick-nommensen.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://linkedin.com/in/pnommensen"><img src="/img/about/social-icons/linkedin.png"></a>
								<a target="_blank" href="https://twitter.com/pnommensen"><img src="/img/about/social-icons/twitter.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>Martin Kolárik</h3>

							<img class="team-member-avatar" src="/img/about/team/martin-kolarik.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://twitter.com/MaKolarik"><img src="/img/about/social-icons/twitter.png"></a>
								<a target="_blank" href="https://github.com/MartinKolarik"><img src="/img/about/social-icons/github.png"></a>
								<a target="_blank" href="http://kolarik.sk/"><img src="/img/about/social-icons/website.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>Austin Brown</h3>

							<img class="team-member-avatar" src="/img/about/team/austin-brown.png">

							<div class="team-social-icons">
								<a target="_blank" href="http://www.linkedin.com/in/austinjbrown"><img src="/img/about/social-icons/linkedin.png"></a>
								<a target="_blank" href="https://github.com/UnbounDev"><img src="/img/about/social-icons/github.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>Andrew Sun</h3>

							<img class="team-member-avatar" src="/img/about/team/andrew-sun.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://andrewsun.com/"><img src="/img/about/social-icons/website.png"></a>
								<a target="_blank" href="https://github.com/as-com"><img src="/img/about/social-icons/github.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>Juho Vepsäläinen</h3>

							<img class="team-member-avatar" src="/img/about/team/juho-vepsalainen.png">

							<div class="team-social-icons">
								<a target="_blank" href="http://survivejs.com/"><img src="/img/about/social-icons/website.png"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'About - jsDelivr',
			};
		},
		onrender: function () {
			this.observe('teamPosition', function (newValue) {
				$(this.find('.team-members')).animate({ scrollLeft: newValue * $(this.find('.team-member')).width() });
			}, { init: false });

			this.set({
				teamPosition: 0,
				teamLength: this.findAll('.team-member').length - 4, // 4 = number of visible members
			});
		},
		next: function () {
			if (this.get('teamPosition') < this.get('teamLength')) {
				this.add('teamPosition');
			}
		},
		prev: function () {
			if (this.get('teamPosition') > 0) {
				this.subtract('teamPosition');
			}
		},
	};
</script>
