<link rel="ractive" href="./switch-box.html" name="c-switch-box">

<div class="c-collection">
	<div class="container">
		<h1>Selected files</h1>

		<div class="row">
			<div class="col-sm-3">
				<c-switch-box>
					<div class="switch-box-title">HTML output</div>
					Display all links as HTML code for easier copy-paste.
				</c-switch-box>
			</div>

			<div class="col-sm-3">
				<c-switch-box active="true">
					<div class="switch-box-title">Auto-optimization</div>
					If a minified version of JS/CSS isn’t available, generate it on the fly.<br>
					<a href="/features">Learn more</a>
				</c-switch-box>
			</div>

			<div class="col-sm-3">
				<c-switch-box>
					<div class="switch-box-title">Version aliasing</div>
					Automatically receive bug fixes and new non-breaking features.<br>
					<a href="/features">Learn more</a>
				</c-switch-box>
			</div>

			<div class="col-sm-3">
				<c-switch-box>
					<div class="switch-box-title">SRI</div>
					Enable Subresource Integrity check for increased security.<br>
					<a href="/features">Learn more</a>
				</c-switch-box>
			</div>
		</div>
	</div>
</div>
