<div class="c-comparison-table">
	<div class="jsdelivr-wrapper"><div></div></div>
	<div class="table-header">
		<div>
			<img
				width="{{competitorImgWidth}}"
				height="{{competitorImgHeight}}"
				src="{{competitorImgSrc}}"
				srcset={{competitorImgSrcset}}>
		</div>
		<div>
			<img width="115" height="28" src="{{@shared.assetsHost}}/img/jsDelivr.logo.svg">
		</div>
	</div>
	<div class="table-row">
		<div>
			Multi-CDN
			<img
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/icons/information.svg"
				as-tooltip="'Uses multiple independent CDN providers'">
		</div>
		<div>1</div>
		<div>4</div>
	</div>
	<div class="table-row">
		<div>
			Multi-DNS
			<img
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/icons/information.svg"
				as-tooltip="'Uses multiple independent DNS providers'">
		</div>
		<div>1</div>
		<div>2</div>
	</div>
	<div class="table-row">
		<div>
			Smart load-balancing
			<img
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/icons/information.svg"
				as-tooltip="'Chooses the best provider for each individual user'">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.disabled.svg">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.full.svg">
		</div>
	</div>
	<div class="table-row">
		<div>
			Combining multiple files
			<img
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/icons/information.svg"
				as-tooltip="'TODO: no text'">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.disabled.svg">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.full.svg">
		</div>
	</div>
	<div class="table-row">
		<div>
			Fully featured API
			<img
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/icons/information.svg"
				as-tooltip="'Package version listings, directory listings, and detailed usage stats'">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.disabled.svg">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.full.svg">
		</div>
	</div>
	<div class="table-row">
		<div>
			Cache purge API
			<img
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/icons/information.svg"
				as-tooltip="'Instantly refresh a file cached on the CDN'">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.disabled.svg">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.full.svg">
		</div>
	</div>
	<div class="table-row">
		<div>
			Download stats
			<img
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/icons/information.svg"
				as-tooltip="'TODO: no text'">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.disabled.svg">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.full.svg">
		</div>
	</div>
	<div class="table-row">
		<div>
			POPs in China
			<img
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/icons/information.svg"
				as-tooltip="'Including a valid ICP license'">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.disabled.svg">
		</div>
		<div>
			<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/check-circle.full.svg">
		</div>
	</div>
</div>