<label class="c-controlled-textarea {{classList}}">
	<div class="c-controlled-textarea_info">
		<span class="c-controlled-textarea_info_label">
			{{labelText}}
			{{#if @this.partials.labelIcon && !hideLabelIcon}}
				{{>labelIcon}}
			{{/if}}
		</span>

		{{#if error}}
			<span class="c-controlled-textarea_info_errorMsg">
				{{error}}
			</span>

			<img class="c-controlled-textarea_err-icon"
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/globalping/alert-icon.svg">
		{{/if}}
	</div>

	<textarea
		{{#if id}}id="{{id}}"{{/if}}
		rows="{{taRowsAmount}}"
		value="{{taValue}}"
		placeholder="{{placeholder}}"
		class="{{#if error}}has-error{{/if}}{{#if disabled}}is-disabled{{/if}}"
		disabled="{{disabled}}">
	</textarea>
</label>

<script>
	const debounce = require('../../assets/js/utils/debounce');
	const throttle = require('../../assets/js/utils/throttle');
	const DEFAULT_TEXTAREA_ROWS_AMOUNT = 2;

	component.exports = {
		data () {
			return {
				invalidValue: null,
				errMsgTopPos: false,
				taRowsAmount: DEFAULT_TEXTAREA_ROWS_AMOUNT,
				taValue: null,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observeOnce('error', () => {
					this.set('invalidValue', this.get('value'));
				}, { init: false });

				this.observe('value', (value) => {
					let invalidValue = this.get('invalidValue');
					let error = this.get('error');

					if (error && invalidValue !== value) {
						this.set('error', undefined);
					}
				});

				this.observe('screenWidth', (screenWidth) => {
					if ((screenWidth || innerWidth) < 768) {
						this.set('errMsgTopPos', true);
					} else {
						this.set('errMsgTopPos', false);
					}
				});

				// handle teaxtarea values, rows amount
				this.observe('value', (value = '') => {
					this.set('taValue', value);
				});

				// handle Textarea rows value based on the content
				this.observe('taValue', (taValue = '') => {
					let taRowsAmount = DEFAULT_TEXTAREA_ROWS_AMOUNT;
					let newLines = taValue.match(/(\r\n|\n|\r)/g);

					if (newLines && newLines.length + 1 >= DEFAULT_TEXTAREA_ROWS_AMOUNT) {
						taRowsAmount = newLines.length + 2;
					}

					this.set('taRowsAmount', taRowsAmount);
				});
			}
		},
		onrender () {
			// detect window resize
			window.addEventListener('resize', debounce(throttle(() => this.set('screenWidth', innerWidth), 200)));
		},
	};
</script>
