<label class="c-controlled-input {{classList}} {{#if inputIcon}}with-input-icon{{/if}}">
	<div class="c-controlled-input_info">
		<span class="c-controlled-input_info_label">
			{{labelText}}
			{{#if @this.partials.labelIcon}}
				{{>labelIcon}}
			{{/if}}
		</span>

		{{#if error}}
			<span class="c-controlled-input_info_errorMsg">
				{{error}}
			</span>

			<img class="c-controlled-input_err-icon"
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/globalping/alert-icon.svg">
		{{/if}}

		{{#if inputIcon}}
			<img class="c-controlled-input_input-icon"
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/globalping/{{inputIcon}}">
		{{/if}}
	</div>

	{{#if id}}
		<input id="{{id}}"
			value="{{value}}"
			type="text"
			placeholder="{{placeholder}}"
			class="{{#if error}}has-error{{/if}}">
	{{else}}
		<input value="{{value}}"
			type="text"
			placeholder="{{placeholder}}"
			class="{{#if error}}has-error{{/if}}">
	{{/if}}
</label>

<script>
	const debounce = require('../../assets/js/utils/debounce');
	const throttle = require('../../assets/js/utils/throttle');
	const tooltip = require('../../assets/js/decorators/tooltip');

	component.exports = {
		decorators: {
			tooltip,
		},
		data () {
			return {
				invalidValue: null,
				errMsgTopPos: false,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observeOnce('error', () => {
					this.set('invalidValue', this.get('value'));
				}, { init: false });

				this.observe('value', (value) => {
					let invalidValue = this.get('invalidValue');
					let error = this.get('error');

					if (error && invalidValue !== value) {
						this.set('error', undefined);
					}
				});

				this.observe('screenWidth', (screenWidth) => {
					if ((screenWidth || innerWidth) < 768) {
						this.set('errMsgTopPos', true);
					} else {
						this.set('errMsgTopPos', false);
					}
				});
			}
		},
		onrender () {
			// detect window resize
			window.addEventListener('resize', debounce(throttle(() => this.set('screenWidth', innerWidth), 200)));
		},
	};
</script>
