<div class="c-controlled-input {{classList}}">
	<div class="c-controlled-input_info">
		<span class="c-controlled-input_info_label">
			{{labelText}}
			{{#if @this.partials.labelIcon && !hideLabelIcon}}
				{{>labelIcon}}
			{{/if}}
		</span>

		{{#if error}}
			<span class="c-controlled-input_info_errorMsg">
				{{error}}
			</span>

			<img class="c-controlled-input_err-icon"
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/globalping/alert-icon.svg">
		{{/if}}
	</div>

	<input
		{{#if id}}id="{{id}}"{{/if}}
		value="{{value}}"
		type="text"
		placeholder="{{placeholder}}"
		class="{{#if error}}has-error{{/if}}{{#if disabled}}is-disabled{{/if}}"
		disabled="{{disabled}}">
</div>

<script>
	const _ = require('../../assets/js/_');
	const listeners = require('../../assets/js/utils/listeners');
	const tooltip = require('../../assets/js/decorators/tooltip');

	component.exports = {
		decorators: {
			tooltip,
		},
		data () {
			return {
				invalidValue: null,
				errMsgTopPos: false,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observeOnce('error', () => {
					this.set('invalidValue', this.get('value'));
				}, { init: false });

				this.observe('value', (value) => {
					let invalidValue = this.get('invalidValue');
					let error = this.get('error');

					if (error && invalidValue !== value) {
						this.set('error', undefined);
					}
				});

				this.observe('screenWidth', (screenWidth) => {
					if (_.getScreenWidth(screenWidth) < 768) {
						this.set('errMsgTopPos', true);
					} else {
						this.set('errMsgTopPos', false);
					}
				});
			}
		},
		onrender () {
			listeners.screenWidthListener(this);
		},
	};
</script>
