<div class="c-copy-dropdown btn-group {{#if dropup}}dropup{{/if}}">
	<span data-toggle="dropdown">
		<i class="fa fa-clipboard" aria-hidden="true"></i>
		<i class="fa fa-angle-down" aria-hidden="true"></i>
	</span>

	<ul class="dropdown-menu dropdown-menu-right">
		<li><a as-clipboard="undefined, dropup ? 'bottom' : 'top', '.c-copy-dropdown'" data-clipboard-text="{{url}}">Copy URL</a></li>
		<li><a as-clipboard="undefined, dropup ? 'bottom' : 'top', '.c-copy-dropdown'" data-clipboard-text="{{buildIntegrity(hash)}}">Copy SRI</a></li>
		{{#if canBuildHtml(url)}}
		<li><a as-clipboard="undefined, dropup ? 'bottom' : 'top', '.c-copy-dropdown'" data-clipboard-text="{{buildHtml(url)}}">Copy HTML</a></li>
		<li><a as-clipboard="undefined, dropup ? 'bottom' : 'top', '.c-copy-dropdown'" data-clipboard-text="{{buildHtml(url, hash)}}">Copy HTML + SRI</a></li>
		{{/if}}
	</ul>
</div>

<script>
	const clipboard = require('../../public/js/decorators/clipboard');
	const { buildIntegrity, buildHtml, canBuildHtml } = require('../../public/js/utils/build-links');

	component.exports = {
		decorators: {
			clipboard,
		},
		data () {
			return {
				buildIntegrity,
				buildHtml,
				canBuildHtml,
			};
		},
	};
</script>
