<footer class="c-footer">
	<div class="wrapper">
		<div class="container footer-text footer-text-big footer-text-primary">
			<div class="row">
				<div class="col-xs-12 col-sm-6 maintainer-block">
					<div class="footer-text-secondary mb-32">Designed, developed, and maintained by:</div>
					<a target="_blank" rel="noopener noreferrer" href="https://prospectone.io/" class="mr-8">
						<img width="170.4" height="24" src="{{@shared.assetsHost}}/img/footer/prospect-one.png"
							srcset="{{@shared.assetsHost}}/img/footer/prospect-one@2x.png 2x" loading="lazy">
					</a>
					<span class="footer-text-secondary mr-8">and</span>
					<a class="footer-text footer-text-big footer-text-primary" target="_blank" rel="noopener noreferrer"
						href="https://dakulov.com/">Dmitriy Akulov</a>
				</div>

				<div class="col-xs-12 col-sm-6">
					<div class="footer-right">
						<div>
							<div class="footer-subscribe-form-header">Sign up to our newsletter...</div>
							<form class="form-inline footer-subscribe-form"
								action="https://jsdelivr.us11.list-manage.com/subscribe?u=0c85fe2c9a60310df9a3d6751&id=283887f736"
								method="POST" target="_blank">
								<div class="form-group">
									<input type="email" class="form-control" name="MERGE0" id="MERGE0" placeholder="Enter your e-mail">
								</div>
								<button type="submit" class="btn btn-default semi-bold">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-separator"></div>

			<div class="row">
				<div class="col-sm-12">
					<div class="footer-text footer-text">
						<ul class="footer-list">
							<li>
								<a class="semi-bold" href="/about">
									About
								</a>
							</li>
							<li>
								<a class="semi-bold" href="/history">
									Our History
								</a>
							</li>

							<li>
								<a class="semi-bold" href="/sponsors">
									Our Sponsors
								</a>
							</li>
							<li>
								<a class="semi-bold" href="https://status.jsdelivr.com/">
									Status
								</a>
							</li>

							<li>
								<a class="semi-bold" href="/terms">
									Terms &amp; Policies
								</a>
							</li>

							<li>
								<a class="semi-bold" href="mailto:dak@prospectone.io">
									dak@prospectone.io
								</a>
							</li>
							<li class="copy footer-text-secondary">&copy; jsdelivr.com, 2012 - {{date.getFullYear()}}</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="footer-text footer-text">
						<ul class="footer-list footer-list-sponsors">
							<li class="footer-text-secondary">Convert from:</li>
							<li><a class="semi-bold" href="/github">GitHub</a></li>
							<li><a class="semi-bold" href="/google">Google Hosted Libraries</a></li>
							<li><a class="semi-bold" href="/rawgit">RawGit</a></li>
							<li><a class="semi-bold" href="/unpkg">unpkg</a></li>
						</ul>
						<li class="copy footer-text-secondary">&copy; jsdelivr.com, 2012 - {{date.getFullYear()}}</li>
					</div>
				</div>
			</div>

		</div>
	</div>
</footer>

<script>
	component.exports = {
		data () {
			return {
				date: new Date(),
			};
		},
	};
</script>