<footer class="c-footer">
	<div class="container footer-text footer-text-big footer-text-primary">
		<div class="row">
			<div class="col-md-6">
				<div class="footer-text-secondary mb-32">Designed, developed, and maintained by:</div>
				<a target="_blank" rel="noopener" href="https://prospectone.io/" class="mr-8">
					<img width="170.4" height="24" src="{{@shared.assetsHost}}/img/footer/prospect-one.png" srcset="{{@shared.assetsHost}}/img/footer/prospect-one@2x.png 2x" loading="lazy">
				</a>
				<span class="footer-text-secondary mr-8">and</span>
				<a class="footer-text footer-text-big footer-text-primary" rel="noopener" href="https://dakulov.com/">Dmitriy Akulov</a>
			</div>

			<div class="col-md-6">
				<div class="footer-right">
					<div>
						<!-- <div class="footer-text footer-text-big awesome-companies">Sign up to our newsletter...</div> -->
						<div class="footer-subscribe-form-header">Sign up to our newsletter...</div>
						<form class="form-inline footer-subscribe-form">
							<div class="form-group">
								<input type="email" class="form-control" id="subscribe-email" placeholder="Enter your e-mail">
							</div>
							<button type="submit" class="btn btn-default">Subscribe</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-separator"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="footer-text">
					<ul class="footer-list">
						<li class="footer-text-secondary">&copy; jsdelivr.com, 2012 - {{date.getFullYear()}}</li>
						<li><a class="footer-font-weight-semi-bold" href="/sponsors"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Our Sponsors</a></li>
						<li><a class="footer-font-weight-semi-bold" href="/about"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> About</a></li>
						<li><a class="footer-font-weight-semi-bold" href="/terms"><i class="fa fa-balance-scale"></i> Terms &amp; Policies</a></li>
						<li><a class="footer-font-weight-semi-bold" href="mailto:dak@prospectone.io"><i class="fa fa-at" aria-hidden="true"></i> dak@prospectone.io</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="footer-text footer-text-small">
					<ul class="footer-list footer-list-sponsors">
						<li class="footer-text-secondary">Convert from:</li>
						<li><a class="footer-font-weight-semi-bold" href="/github">GitHub</a></li>
						<li><a class="footer-font-weight-semi-bold" href="/google">Google Hosted Libraries</a></li>
						<li><a class="footer-font-weight-semi-bold" href="/rawgit">RawGit</a></li>
						<li><a class="footer-font-weight-semi-bold" href="/unpkg">unpkg</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

<script>
	component.exports = {
		data () {
			return {
				date: new Date(),
			};
		},
	};
</script>
