<div class="c-gp-credits {{#if mapOpened}}over-the-map{{/if}}">
	{{#if remainingRequests !== null && availableRequests !== null && resetsInStr !== null}}
		<div class="credits-wrapper">
			<div class="credits_data">
				<div class="credits_data_rate">
					<span class="credits_data_rate_header">Rate limit:</span>
					<span class="credits_data_rate_details">
						<img as-tooltip="'Resets in ' + resetsInStr"
							width="14"
							height="14"
							src="{{@shared.assetsHost}}/img/globalping/help-icon.svg">

						<span class="credits_data_rate_details_numbers">
							<span class="credits_data_rate_details_numbers_credits-count">
								{{remainingRequests}}/{{availableRequests}}
							</span>

							{{#if consumedRateLimit}}
								<span class="credits_data_rate_details_numbers_probes-count">
									(-{{consumedRateLimit}})
								</span>
							{{/if}}
						</span>
					</span>
				</div>

				{{#if creditsDataPresented}}
					<div class="credits_data_credits">
						<span class="credits_data_credits_header">
							Credits:
						</span>

						<span class="credits_data_rate_details">
							<span class="credits_data_rate_details_remaining-credits">
								{{remainingCredits}}
							</span>

							{{#if consumedCredits}}
								<span class="credits_data_rate_details_consumed-credits">
									(-{{consumedCredits}})
								</span>
							{{/if}}
						</span>
					</div>
				{{/if}}
			</div>

			<a href="/" class="credits_add">
				+ Add Credits
			</a>

			{{#if testInProgress && isInfiniteModeRes && consumingValue !== null}}
				<div class="credits_consuming">
					<img width="14"
						height="14"
						src="{{@shared.assetsHost}}/img/globalping/alert-icon-alt.svg">

					<span>Currently consuming ~{{consumingValue}} credits/minute</span>
				</div>
			{{/if}}
		</div>
	{{/if}}
</div>

<script>
	const tooltip = require('../../assets/js/decorators/tooltip');

	component.exports = {
		decorators: {
			tooltip,
		},
		data () {
			return {
				consumingValue: null,
				remainingRequests: null,
				availableRequests: null,
				consumedRateLimit: null,
				remainingCredits: null,
				consumedCredits: -16,
				resetsInStr: '',
				creditsDataPresented: false,
				overallProbesCount: 0,
				sessionTimestampStart: null,
				sessionTimestampCurrent: null,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('rateCreditsData', (rateCreditsData) => {
					if (rateCreditsData) {
						this.set('sessionTimestampCurrent', Date.now());

						// TODO: 639, check nad fix if needed - stats should be correct when it was an infinite meas with results and an error occured while measurement
						// TODO: 639, since we return headers in case of error and stats could be calculated wrong
						// handle RateLimit headers
						this.set('remainingRequests', rateCreditsData['x-ratelimit-remaining']);
						this.set('availableRequests', rateCreditsData['x-ratelimit-limit']);
						this.set('resetsInStr', this.createResetInStr(rateCreditsData['x-ratelimit-reset']));
						this.set('overallProbesCount', this.get('overallProbesCount') + rateCreditsData.probesCount);

						// handle Credits headers
						if (rateCreditsData['x-credits-remaining'] !== null) {
							this.set('creditsDataPresented', true);
							this.set('consumedRateLimit', rateCreditsData.probesCount - rateCreditsData['x-credits-consumed']);
							this.set('consumedCredits', rateCreditsData['x-credits-consumed']);
							this.set('remainingCredits', rateCreditsData['x-credits-remaining']);
						} else {
							this.set('creditsDataPresented', false);
						}
					}
				});

				// set session start time when test is started
				this.observe('testInProgress', (testInProgress) => {
					if (testInProgress) {
						this.set('sessionTimestampStart', Date.now());
					}
				});

				// calculate consuming value
				this.observe('overallProbesCount', (overallProbesCount) => {
					let sessionTimestampStart = this.get('sessionTimestampStart');
					let sessionTimestampCurrent = this.get('sessionTimestampCurrent');
					let sessionTime = (sessionTimestampCurrent - sessionTimestampStart) / 1000;
					let consumingValuePerSecond = overallProbesCount / sessionTime;

					this.set('consumingValue', Math.round(consumingValuePerSecond * 60));
				}, { init: false });
			}
		},
		createResetInStr (seconds) {
			let minutes = seconds / 60;

			if (minutes < 1) {
				return '< 1 minute';
			}

			return `${Math.ceil(minutes)} minutes`;
		},
	};
</script>
