<div class="c-gp-credits {{#if mapOpened}}over-the-map{{/if}}">
	<div class="credits-wrapper">
		<div class="credits_data">
			<div class="credits_data_rate">
				<span class="credits_data_rate_header">Rate limit:</span>
				<span class="credits_data_rate_details">
					<img as-tooltip="'TODO: message'"
						width="14"
						height="14"
						src="{{@shared.assetsHost}}/img/globalping/help-icon.svg">

					<span class="credits_data_rate_details_numbers">
						<span class="credits_data_rate_details_numbers_credits-count">
							100/250
						</span>

						<span class="credits_data_rate_details_numbers_probes-count">
							(-10)
						</span>
					</span>
				</span>
			</div>

			<div class="credits_data_credits">
				<span class="credits_data_credits_header">
					Credits:
				</span>

				<span class="credits_data_rate_details">
					10 000
				</span>
			</div>
		</div>

		<div class="credits_add">
			+ Add Credits
		</div>

		<div class="credits_consuming">
			<img width="14"
				height="14"
				src="{{@shared.assetsHost}}/img/globalping/alert-icon-alt.svg">

			<span>Currently consuming ~40 credits/minute</span>
		</div>
	</div>
</div>

<script>
	const tooltip = require('../../assets/js/decorators/tooltip');

	component.exports = {
		decorators: {
			tooltip,
		},
	};
</script>
