<div class="c-gp-top-navigation {{#if useDarkBg}}c-gp-top-navigation_dark-bg{{/if}}">
	<div class="c-gp-top-navigation_scrollable">
		<div class="c-gp-top-navigation_scrollable_inner">
			{{#each links}}
				<a href="{{this.href}}"
					class="c-gp-top-navigation_scrollable_inner_item {{#if currentName === this.name}}active{{/if}}">
					{{this.text}}
					{{#if currentName === this.name}}
						<div class="c-gp-top-navigation_scrollable_inner_item_active-line"></div>
					{{/if}}
				</a>
			{{/each}}
		</div>
	</div>
</div>

<script>
	component.exports = {
		data () {
			return {
				links: [
					{
						href: '/globalping',
						name: 'globalping',
						text: 'Globalping',
					},
					{
						href: '/globalping/cli',
						name: 'globalping-cli',
						text: 'CLI',
					},
					{
						href: '/globalping/slack',
						name: 'globalping-slack',
						text: 'Slack',
					},
					// temporary hidden
					// TODO: show temp for gh517
					{
						href: '/globalping/network-tools',
						name: 'globalping-network-tools',
						text: 'Network tools',
					},
				],
			};
		},
	};
</script>
