<div class="c-gsap-package-sidemenu">
	<div class="package-stats">
		<div class="sidemenu-title">
			<span>Statistics</span>

			<div class="btn-group">
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>{{periodsList[periodKey]}}</span>
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</button>

				<ul class="dropdown-menu">
					{{#each periodsList: key}}
						<li>
							<a on-click="@this.set('periodKey', key)" class="{{#if key === periodKey}}current{{/if}}">
								{{this}}
							</a>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>

		<div class="chart-block">
			<div class="chart-header">
				<span>Requests Served</span>
				<span>{{packageTotal ? _.formatNumber(packageTotal) : ''}}</span>
			</div>

			<div class="requests-chart-wrapper">
				<canvas id="requests-chart" width="294" height="41"></canvas>
			</div>
		</div>

		<div class="chart-block">
			<div class="chart-header">
				<span>Bandwidth</span>
				<span>52.5 GB</span>
			</div>

			<div class="bandwidth-chart-wrapper">
				<canvas id="bandwidth-chart" width="294" height="41"></canvas>
			</div>
		</div>

		<div class="top-version-block">
			<span>Top version - {{versionStats[0].version}}</span>
			<span>{{versionStats[0].hits ? _.formatNumber(versionStats[0].hits) + ' hits' : ''}}</span>
		</div>

		<div class="banner-block">
			<a href="/network/infographic" class="banner-learn-more">Learn more</a>

			<div class="banner-check">
				Check what makes us
				<br/>
				production ready
			</div>

			<img class="banner-front" width="196" height="175" src="{{@shared.assetsHost}}/img/gsap/banner-front.svg">
			<img class="banner-back" width="196" height="135" src="{{@shared.assetsHost}}/img/gsap/banner-back.svg">
		</div>
	</div>
</div>


<script>
	const _ = require('../../public/js/_');
	const clipboard = require('../../public/js/decorators/clipboard');
	const tooltip = require('../../public/js/decorators/tooltip');
	const http = require('../../public/js/utils/http');

	component.exports = {
		data () {
			return {
				_,
				periodsList: {
					1: 'day',
					7: 'week',
					30: 'month',
					365: 'year',
				},
				periodKey: '30',
			};
		},
		decorators: {
			clipboard,
			tooltip,
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('periodKey', () => {
					if (this.get('periodKey')) {
						let type = this.get('type');
						let name = this.get('name');
						let periodsList = this.get('periodsList');
						let periodKey = this.get('periodKey');
						let period = periodsList[periodKey];

						// get package version stats
						http.fetchPackageVersionStats(type, name, period).then((data) => {
							let versionsStatsArr = [];

							Object.keys(data.versions).forEach((key) => {
								versionsStatsArr.push({
									version: key,
									hits: data.versions[key].total,
								});
							});

							this.animate('versionStats', versionsStatsArr.sort((a, b) => b.hits - a.hits));
							this.animate('packageTotal', data.total);
							this.animate('packageRank', data.rank + 1);
						});

						// get package date stats
						http.fetchPackageDateStats(type, name, period).then((response) => {
							if (response.total) {
								this.set('packageDateStats', response);
							}
						});

						// get package bandwidth stats
						// TODO: replace it with real endpoint call
						http.fetchPackageDateStats(type, name, period).then((response) => {
							if (response.total) {
								this.set('packageBandwidthStats', response);
							}
						});
					}
				});

				this.observe('packageDateStats', () => {
					let requestsChart = this.get('requestsChart');
					let packageDateStats = this.get('packageDateStats');

					if (!packageDateStats) {
						return null;
					}

					let array = [];

					Object.keys(packageDateStats.dates).forEach((date) => {
						array.push([ date, packageDateStats.dates[date] ]);
					});

					array.sort((a, b) => new Date(a[0]) - new Date(b[0]));

					if (requestsChart) {
						requestsChart.destroy();
						requestsChart = null;
						this.set('requestsChart', null);
					}

					let labels = array.map(value => _.formatDate(new Date(value[0])).toUpperCase());
					let data = array.map(value => value[1].total);

					// temp solution to fix chart recreation after switching from stats tab
					setTimeout(() => {
						let chartEl = this.find('#requests-chart');

						requestsChart = new Chart(chartEl, {
							type: 'bar',
							data: {
								labels,
								datasets: [{
									data,
									backgroundColor: '#6fb936',
									borderWidth: 0,
									pointRadius: 0,
									barThickness: 4,
								}],
							},
							options: {
								plugins: {
									legend: {
										display: false,
									},
									tooltip: {
										callbacks: {
											title: tooltipItems => _.formatNumber(tooltipItems[0].parsed.y),
											label: () => null,
										},
										backgroundColor: 'rgba(17, 26, 44, 0.9)',
										titleFontSize: 12,
										titleFontWeight: 600,
										titleFontColor: '#fff',
										cornerRadius: 4,
										xAlign: 'center',
										yAlign: 'bottom',
									},
								},
								scales: {
									x: {
										display: false,
									},
									y: {
										display: false,
									},
								},
							},
						});

						this.set('requestsChart', requestsChart);
					}, 100);
				});

				this.observe('packageBandwidthStats', () => {
					let bandwidthChart = this.get('bandwidthChart');
					let packageBandwidthStats = this.get('packageBandwidthStats');

					if (!packageBandwidthStats) {
						return null;
					}

					let array = [];

					Object.keys(packageBandwidthStats.dates).forEach((date) => {
						array.push([ date, packageBandwidthStats.dates[date] ]);
					});

					array.sort((a, b) => new Date(a[0]) - new Date(b[0]));

					if (bandwidthChart) {
						bandwidthChart.destroy();
						bandwidthChart = null;
						this.set('bandwidthChart', null);
					}

					let labels = array.map(value => _.formatDate(new Date(value[0])).toUpperCase());
					// TODO: temp, until real endpoint is used
					let data = array.map(value => value[1].total / 10 ** 6 + Math.random() * 100);

					// temp solution to fix chart recreation after switching from stats tab
					setTimeout(() => {
						let chartEl = this.find('#bandwidth-chart');

						bandwidthChart = new Chart(chartEl, {
							type: 'bar',
							data: {
								labels,
								datasets: [{
									data,
									backgroundColor: '#6fb936',
									borderWidth: 0,
									pointRadius: 0,
									barThickness: 4,
								}],
							},
							options: {
								plugins: {
									legend: {
										display: false,
									},
									tooltip: {
										callbacks: {
											title: tooltipItems => _.formatNumber(tooltipItems[0].parsed.y),
											label: () => null,
										},
										backgroundColor: 'rgba(17, 26, 44, 0.9)',
										titleFontSize: 12,
										titleFontWeight: 600,
										titleFontColor: '#fff',
										cornerRadius: 4,
										xAlign: 'center',
										yAlign: 'bottom',
									},
								},
								scales: {
									x: {
										display: false,
									},
									y: {
										display: false,
									},
								},
							},
						});

						this.set('bandwidthChart', bandwidthChart);
					}, 100);
				});
			}
		},
	};
</script>