<header class="c-header">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="/">
					<!--
Looking for the logo?
Get all versions here: https://github.com/jsdelivr/jsdelivr-media
-->
					<img src="{{@shared.assetsHost}}/img/logo-horizontal.svg" title="jsDelivr">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="main-navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/features">Features</a></li>
					<li><a href="/network">Network</a></li>
					<li><a href="/statistics">Stats</a></li>
					<li><a href="/sponsors">Sponsors</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <i class="fa fa-angle-down" aria-hidden="true"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/tools/debug">Debug tool</a></li>
							<li><a href="/tools/purge">Purge cache</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Convert from</li>
							<li><a href="/github">GitHub</a></li>
							<li><a href="/google">Google Hosted Libraries</a></li>
							<li><a href="/rawgit">RawGit</a></li>
							<li><a href="/unpkg">unpkg</a></li>
						</ul>
					</li>
					<li><a target="_blank" href="/blog/" class="router-ignore">Blog</a></li>
					<li><a target="_blank" href="https://jsdelivr.us11.list-manage.com/subscribe?u=0c85fe2c9a60310df9a3d6751&id=283887f736" class="featured">Newsletter</a></li>
					<li><a target="_blank" href="https://github.com/jsdelivr/jsdelivr" class="featured" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://twitter.com/jsDelivr" class="featured" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="/esm">esm.run</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
