<div class="c-html">
	{{{safeHtmlToRender}}}
</div>

<script>
	const _ = require('../../assets/js/_.js');
	const ID_PREFIX = 'id-';

	component.exports = {
		data () {
			return {
				_,
				html: '',
				safeHtmlToRender: '',
				DOMPurify: null,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				app.injectGlobalStyle('https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/github.min.css');

				Promise.all([
					// eslint-disable-next-line node/no-missing-import
					import('https://cdn.jsdelivr.net/npm/dompurify@2.4.3/+esm'),
				]).then(([{ default: DOMPurify }]) => {
					let _this = this;

					DOMPurify.removeAllHooks();

					DOMPurify.addHook('afterSanitizeAttributes', (node) => {
						if (node.hasAttribute('href')) {
							node.setAttribute('href', _.normalizeHref(node.getAttribute('href'), ID_PREFIX));
						}

						if (node.hasAttribute('src')) {
							node.setAttribute('src', _.optimizeSrc(node.getAttribute('src'), _this.get('github')));
							node.setAttribute('loading', 'lazy');
						}

						if ('target' in node) {
							if (_.isExternalLink(node.getAttribute('href'))) {
								node.setAttribute('target', '_blank');
							}

							node.setAttribute('rel', 'nofollow noopener noreferrer');
							node.classList.add('router-ignore');
						}
					});

					this.set('DOMPurify', DOMPurify);
				});
			}
		},
		oncomplete () {
			if (!Ractive.isServer) {
				this.observe('DOMPurify html', () => {
					let html = this.get('html');
					let DOMPurify = this.get('DOMPurify');

					if (!html || !DOMPurify) {
						return;
					}

					this.set('safeHtmlToRender', DOMPurify.sanitize(html));
				}, { init: false });

				// if page URL has a hash then scroll page to the anchor
				this.observeOnce('safeHtmlToRender', () => {
					let anchor = app.router.uri.hash;

					if (anchor) {
						let el;
						let interval = setInterval(() => {
							el = this.find(anchor);

							if (el && el.offsetHeight) {
								this.set('isMarkupReady', true);

								if (document.visibilityState === 'visible') {
									el.scrollIntoView({
										behavior: 'smooth',
									});
								} else {
									document.addEventListener('visibilitychange', function listener () {
										el.scrollIntoView({
											behavior: 'smooth',
										});

										document.removeEventListener('visibilitychange', listener);
									});
								}

								clearInterval(interval);
							} else {
								setTimeout(() => {
									this.set('isMarkupReady', true);
									clearInterval(interval);
								}, 1000);
							}
						}, 4);
					} else {
						this.set('isMarkupReady', true);
					}
				}, { init: false, defer: true });
			}
		},
	};
</script>
