<link rel="ractive" href="./slider.html" name="c-slider">
<link rel="ractive" href="./slide.html" name="c-slide">

<div class="c-landing-top">
	<div class="bg-wrapper">
		<div class="bg"></div>
		<div class="bg-height"></div>
	</div>

	<div class="content">
		<div class="container">
			<section class="heading">
				<h1>A free CDN for Open Source</h1>
				<h2>fast, reliable, and automated</h2>

				<div class="heading-message">
					{{#if headingMessage === 0}}
					<div slide-in-out>serving ~ {{_.formatHits(networkStats.hits.total)}} billion requests / month</div>
					{{elseif headingMessage === 1}}
					<div slide-in-out>serving ~ {{_.formatMiB2TiB(networkStats.megabytes.total)}} TiB / month</div>
					{{elseif headingMessage === 2}}
					<div slide-in-out>around since 2012</div>
					{{/if}}
				</div>
			</section>

			<section class="docs">
				<div class="row">
					<div class="col-md-3 docs-tabs">
						<div class="docs-tab">
							<a on-click="@this.set('activeDocs', '')" class="{{#unless activeDocs}}active{{/unless}}">
								<img src="{{@shared.assetsHost}}/img/landing/npm.png" srcset="{{@shared.assetsHost}}/img/landing/npm@2x.png 2x" title="CDN for npm">
							</a>
						</div>

						<div class="docs-tab">
							<a on-click="@this.set('activeDocs', 'gh')" class="{{#if activeDocs === 'gh'}}active{{/if}}">
								<img src="{{@shared.assetsHost}}/img/landing/github.png" srcset="{{@shared.assetsHost}}/img/landing/github@2x.png 2x" title="CDN for GitHub">
							</a>
						</div>

						<div class="docs-tab">
							<a on-click="@this.set('activeDocs', 'wp')" class="{{#if activeDocs === 'wp'}}active{{/if}}">
								<img src="{{@shared.assetsHost}}/img/landing/wordpress.png" srcset="{{@shared.assetsHost}}/img/landing/wordpress@2x.png 2x" title="CDN for WordPress">
							</a>
						</div>

						<div class="active-tab-arrow" style="top: {{activeDocsArrowTop}}%"></div>
					</div>

					<div class="col-md-9 docs-code">
						<div class="docs-code-bg">
							<c-slider active="{{activeSlide}}" direction="vertical" distance="500">
								<c-slide>
									<div class="docs-code-slide">
										<p class="docs-comment">// load any project hosted on npm</p>
										<p class="docs-link">https://cdn.jsdelivr.net/npm/package@version/file</p>
										<br>
										<p class="docs-comment">// load jQuery v3.2.1</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js">
												https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// use a version range instead of a specific version</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js">
												https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js
											</a>
										</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js">
												https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// omit the version completely to get the latest one</p>
										<p class="docs-comment">// you should NOT use this in production</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js">
												https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// add ".min" to any JS/CSS file to get a minified version</p>
										<p class="docs-comment">// if one doesn't exist, we'll generate it for you</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.2.1/src/core.min.js">
												https://cdn.jsdelivr.net/npm/jquery@3.2.1/src/core.min.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// omit the file path to get the default file</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery@3.2">
												https://cdn.jsdelivr.net/npm/jquery@3.2
											</a>
										</p>
										<br>
										<p class="docs-comment">// add / at the end to get a directory listing</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/npm/jquery/">https://cdn.jsdelivr.net/npm/jquery/</a>
										</p>
									</div>
								</c-slide>

								<c-slide>
									<div class="docs-code-slide">
										<p class="docs-comment">// load any GitHub release, commit, or branch</p>
										<p class="docs-comment">// note: we recommend using npm for projects that support it</p>
										<p class="docs-link">https://cdn.jsdelivr.net/gh/user/repo@version/file</p>
										<br>
										<p class="docs-comment">// load jQuery v3.2.1</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js">
												https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// use a version range instead of a specific version</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js">
												https://cdn.jsdelivr.net/gh/jquery/jquery@3.2/dist/jquery.min.js
											</a>
										</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3/dist/jquery.min.js">
												https://cdn.jsdelivr.net/gh/jquery/jquery@3/dist/jquery.min.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// omit the version completely to get the latest one</p>
										<p class="docs-comment">// you should NOT use this in production</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery/dist/jquery.min.js">
												https://cdn.jsdelivr.net/gh/jquery/jquery/dist/jquery.min.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// add ".min" to any JS/CSS file to get a minified version</p>
										<p class="docs-comment">// if one doesn't exist, we'll generate it for you</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/src/core.min.js">
												https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/src/core.min.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// add / at the end to get a directory listing</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/gh/jquery/jquery/">
												https://cdn.jsdelivr.net/gh/jquery/jquery/
											</a>
										</p>
									</div>
								</c-slide>

								<c-slide>
									<div class="docs-code-slide docs-code-slide-wp">
										<p class="docs-comment">// load any plugin from the WordPress.org plugins SVN repo</p>
										<p class="docs-link">https://cdn.jsdelivr.net/wp/plugins/project/tags/version/file</p>
										<br>
										<p class="docs-comment">// load an exact version</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/wp/plugins/wp-slimstat/tags/4.6.5/wp-slimstat.js">
												https://cdn.jsdelivr.net/wp/plugins/wp-slimstat/tags/4.6.5/wp-slimstat.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// load the latest version</p>
										<p class="docs-comment">// you should NOT use this in production</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/wp/plugins/wp-slimstat/trunk/wp-slimstat.js">
												https://cdn.jsdelivr.net/wp/plugins/wp-slimstat/trunk/wp-slimstat.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// load any theme from the WordPress.org themes SVN repo</p>
										<p class="docs-link">https://cdn.jsdelivr.net/wp/themes/project/version/file</p>
										<br>
										<p class="docs-comment">// load an exact version</p>
										<p class="docs-link">
											<a target="_blank" href="https://cdn.jsdelivr.net/wp/themes/twenty-eightteen/1.7/assets/js/html5.js">
												https://cdn.jsdelivr.net/wp/themes/twenty-eightteen/1.7/assets/js/html5.js
											</a>
										</p>
										<br>
										<p class="docs-comment">// add ".min" to any JS/CSS file to get a minified version</p>
										<p class="docs-comment">// if one doesn't exist, we'll generate it for you</p>
									</div>
								</c-slide>
							</c-slider>
						</div>
					</div>
				</div>
			</section>

			<section class="sponsors">
				<div class="sponsors-text">jsDelivr operates thanks to our main sponsors:</div>

				<div class="sponsor">
					<a target="_blank" rel="noopener" href="https://www.cloudflare.com"><img src="{{@shared.assetsHost}}/img/landing/cloudflare.png" srcset="{{@shared.assetsHost}}/img/landing/cloudflare@2x.png 2x" title="Sponsored by Cloudflare"></a>
				</div>

				<div class="sponsor">
					<a target="_blank" rel="noopener" href="https://appfleet.com"><img src="{{@shared.assetsHost}}/img/landing/appfleet.png" srcset="{{@shared.assetsHost}}/img/landing/appfleet@2x.png 2x" title="Sponsored by appfleet"></a>
				</div>

				<div class="sponsor">
					<a target="_blank" rel="noopener" href="https://www.fastly.com"><img src="{{@shared.assetsHost}}/img/landing/fastly.png" srcset="{{@shared.assetsHost}}/img/landing/fastly@2x.png 2x" title="Sponsored by Fastly"></a>
				</div>

				<div class="sponsor">
					<a target="_blank" rel="noopener" href="https://ns1.com"><img src="{{@shared.assetsHost}}/img/landing/ns1.png" srcset="{{@shared.assetsHost}}/img/landing/ns1@2x.png 2x" title="Sponsored by NS1"></a>
				</div>

				<div class="sponsor">
					<a target="_blank" rel="noopener" href="https://bunny.net"><img src="{{@shared.assetsHost}}/img/landing/bunny.png" srcset="{{@shared.assetsHost}}/img/landing/bunny@2x.png 2x" title="Sponsored by bunny.net"></a>
				</div>

				<div class="sponsor">
					<a target="_blank" rel="noopener" href="https://www.quantil.com"><img src="{{@shared.assetsHost}}/img/sponsors/quantil.png" srcset="{{@shared.assetsHost}}/img/sponsors/quantil@2x.png 2x" title="Sponsored by Quantil"></a>
				</div>
			</section>
		</div>
	</div>
</div>

<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');
	const docs = [ '', 'gh', 'wp' ];

	component.exports = {
		noIntro: true,
		computed: {
			activeDocsArrowTop () {
				return this.get('activeSlide') * 100 / 3 + 100 / 6;
			},
		},
		data () {
			return {
				_,
				activeDocs: '',
				headingMessage: 0,
				networkStats: {
					hits: {
						total: 8e10,
					},
					megabytes: {
						total: 1800 * 1024 * 1024,
					},
				},
			};
		},
		oninit () {
			// It's too soon to call the show method here.
			this.findComponent('c-slider').set('active', docs.indexOf(this.get('activeDocs')) !== -1 ? docs.indexOf(this.get('activeDocs')) : 0);

			if (!Ractive.isServer) {
				this.observe('activeDocs', (newValue) => {
					this.findComponent('c-slider').show(docs.indexOf(newValue) !== -1 ? docs.indexOf(newValue) : 0);
				}, { init: false });

				// Load network stats.
				http.fetchNetworkStats().then((data) => {
					this.animate('networkStats', data);
				});

				setTimeout(() => {
					this.set('headingMessage', Math.ceil(Math.random() * 2));

					setInterval(() => {
						if (this.get('headingMessage') < 2) {
							this.add('headingMessage');
						} else {
							this.set('headingMessage', 0);
						}
					}, 4000);
				}, 3000);
			}
		},
	};
</script>
