<link	rel="ractive" href="../components/new-infographic-banner.html" name="c-new-infographic-banner" />
<link rel="ractive" href="./stats-table.html" name="c-stats-table" />
<link rel="ractive" href="./slider.html" name="c-slider" />
<link rel="ractive" href="./slide.html" name="c-slide" />
<!-- Commenting this out while we switch to another API -->
<!-- <link rel="ractive" href="./rum.html" name="c-rum"> -->

<div class="c-landing-bottom">
	<div class="wrapper features">
		<span>Multi-CDN Global Network</span>
		<h2>Built for production</h2>

		<div class="features_features-list">
			<a href="/network">
				<img width="64"
					height="64"
					src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/1.svg" />
				<h6>Four CDN<br /> & two DNS providers</h6>
			</a>

			<a href="/network#map">
				<img width="64"
					height="64"
					src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/2.svg" />
				<h6>More than 750 points<br /> of presence</h6>
			</a>

			<a href="/network">
				<img width="64"
					height="64"
					src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/3.svg" />

				<h6>Low latency "Near China"<br /> network</h6>
			</a>

			<a target="_blank" rel="noopener noreferrer" href="https://www.cdnperf.com">
				<img width="64"
					height="64"
					src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/4.svg" />
				<h6>Smart load-balancing<br /> and routing</h6>
			</a>

			<a href="/network#failover">
				<img width="64"
					height="64"
					src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/5.svg" />
				<h6>Multi-layer cache<br /> and failover</h6>
			</a>

			<a href="/network">
				<img width="64"
					height="64"
					src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/6.svg" />
				<h6>Formal ToS<br /> and Privacy Policy</h6>
			</a>
		</div>
	</div>

	<section class="network-data">
		<svg
			width="908"
			height="428"
			viewBox="0 0 908 428"
			fill="none"
			xmlns="http://www.w3.org/2000/svg">
			<g transform="translate(64, 144)">
				<circle r="2" />
				<circle r="2" />
			</g>
			<g transform="translate(136, 120)">
				<circle r="2" />
				<circle r="2" />
			</g>
			<g transform="translate(176, 152)">
				<circle r="2" />
				<circle r="2" />
			</g>
			<g transform="translate(224, 376)">
				<circle r="2" />
				<circle r="2" />
			</g>
			<g transform="translate(384, 128)">
				<circle r="2" />
				<circle r="2" />
			</g>
			<g transform="translate(400, 136)">
				<circle r="2" />
				<circle r="2" />
			</g>
			<g transform="translate(416, 96)">
				<circle r="2" />
				<circle r="2" />
			</g>
			<g transform="translate(440, 104)">
				<circle r="2" />
				<circle r="2" />
			</g>

			<g transform="translate(792, 224)">
				<circle r="2" />
				<circle r="2" />
			</g>

			<g transform="translate(848, 352)">
				<circle r="2" />
				<circle r="2" />
			</g>
		</svg>

		<div class="wrapper-lg">
			<div class="network-data_stats">
				<div class="network-data_stats_item">
					<img width="80" height="80"  src="{{@shared.assetsHost}}/img/landing/new/map-icons/1.svg" />
					<div class="network-data_stats_item_green">
						<span>1 mil+</span>
						<span>active oss projects served</span>
					</div>
				</div>

				<div class="network-data_stats_item">
					<img width="80" height="80" src="{{@shared.assetsHost}}/img/landing/new/map-icons/2.svg" />
					<div class="network-data_stats_item_green">
						<span>99.99%</span>
						<span>cache hit ratio</span>
					</div>
				</div>

				<div class="network-data_stats_item">
					<img width="80" height="80" src="{{@shared.assetsHost}}/img/landing/new/map-icons/3.svg" />
					<div class="network-data_stats_item_regular">
						<span>{{ Math.round(requestsPerSecond) }}</span>
						<span>requests per second</span>
					</div>
				</div>

				<div class="network-data_stats_item">
					<img width="80" height="80" src="{{@shared.assetsHost}}/img/landing/new/map-icons/4.svg" />
					<div class="network-data_stats_item_regular">
						<span>{{ bandwidth.toFixed(1) }} Mbps</span>
						<span>bandwidth</span>
					</div>
				</div>
			</div>

			<div class="btn-link-to">
				<a class="btn-arrow" href="/network#map">
					<span>View our network map</span>
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
				</a>
			</div>
		</div>
	</section>

	<section class="dev-friendly">
		<div class="wrapper-lg">
			<div class="wrapper">
				<h3>Developer Friendly</h3>
				<p>
					All files from <span>npm</span> and
					<span>Github</span> available with zero setup
				</p>

				<div class="dev-friendly_features-list">
					<a href="/statistics">
						<img width="64"
							height="64"
							src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/1.svg" />
						<h6>Usage statistics</h6>
					</a>

					<a href="/features#combine">
						<img width="64"
							height="64"
							src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/2.svg" />
						<h6>Combine multiple<br />files on-demand</h6>
					</a>

					<a href="/features#minify">
						<img width="64"
							height="64"
							src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/3.svg" />
						<h6>Minify files on-demand</h6>
					</a>

					<a href="/features#combine">
						<img width="64"
							height="64"
							src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/4.svg" />
						<h6>Source map support</h6>
					</a>

					<a href="/features#alias">
						<img width="64"
							height="64"
							src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/5.svg" />
						<h6>Version aliasing</h6>
					</a>

					<a>
						<img width="64"
							height="64"
							src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/6.svg" />
						<h6>Multiple<br />IDE Integrations</h6>
					</a>
				</div>
			</div>
		</div>

		<div class="dev-friendly_gradient"></div>
		<div class="dev-friendly_image"></div>
	</section>

	<section class="api wrapper-lg">
		<div class="api_content">
			<h3>
				A free API for all NPM <br />
				and ESM needs
			</h3>
			<p>
				The official jsDelivr API allows you to get details about
				NPM packages like their files and versions. We intelligently
				guess the correct entrypoints and provide the CDN URLs with
				their hashes.
			</p>
			<p>
				Additionally you can get detailed download stats per
				project, per file and per version.
			</p>

			<div class="btn-link-to">
				<a class="btn-arrow" href="">
					<span>Read the API documentation</span>
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
				</a>
			</div>
		</div>

		<div class="api_code code">
			<div class="code-head">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div class="code-tabs flex">
				<a on-click="@this.set('activeTab', 'entrypoints')" class="{{#if activeTab === 'entrypoints'}}active{{/if}}">
					Get project entrypoint
				</a>

				<a on-click="@this.set('activeTab', 'versions')" class="{{#if activeTab === 'versions'}}active{{/if}}">
					Get all versions
				</a>

				<a on-click="@this.set('activeTab', 'files')" class="{{#if activeTab === 'files'}}active{{/if}}">
					List package files
				</a>

				<div class="code-tabs-line" style="left: {{activeTabLineData[0]}}px; width: {{activeTabLineData[1]}}px;"></div>

				<div class="dropdown">
					<button class="dropdown-toggle"
						type="button"
						id="cdn-dropdown"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="true">
						<img width="20"
							height="20"
							src="{{@shared.assetsHost}}/img/icons/chevron-down.svg"
							loading="lazy" />
					</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="cdn-dropdown">
						{{#each ~/codeList}}
							<li>
								<a on-click="@this.set('activeTab', this)">{{this}}</a>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>

			<div class="code-slider">
				<c-slider active="{{activeSlide}}"
					direction="horizontal"
					distance="500"
					duration="0">
					<c-slide>
						<div class="code-slide">
							<p class="code-link">
								https://data.jsdelivr.com/v1/package/npm/bootstrap@5.1.0/entrypoints
							</p>
							<p>&nbsp;</p>
							<p>// =></p>
							<p>{</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>js</span
								>": {
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								"<span class="code-key">file</span>": "<span
									class="code-string"
									>/dist/js/bootstrap.min.js</span
								>",
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>guessed</span
								>":
								<span class="code-boolean">false</span>
							</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;},</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>css</span
								>": {
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>file</span
								>": "<span class="code-string"
									>/dist/css/bootstrap.min.css</span
								>",
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>guessed</span
								>":
								<span class="code-boolean">false</span>
							</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;}</p>
							<p>}</p>
						</div>
					</c-slide>

					<c-slide>
						<div class="code-slide">
							<p class="code-link">
								https://data.jsdelivr.com/v1/package/npm/jquery
							</p>
							<p>&nbsp;</p>
							<p>// =></p>
							<p>{</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>tags</span
								>": {
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								"<span class="code-key">beta</span>": "<span
									class="code-string"
									>3.2.1</span
								>",
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								"<span class="code-key">latest</span>": "<span
									class="code-string"
									>3.2.1</span
								>",
							</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;},</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>versions</span
								>": [
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-string"
									>3.2.1</span
								>",
							</p>
								<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-string"
									>3.2.0</span
								>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-string"
									>3.1.1</span
								>",
							</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;]</p>
							<p>}</p>
						</div>
					</c-slide>

					<c-slide>
						<div class="code-slide">
							<p class="code-link">
								https://data.jsdelivr.com/v1/package/npm/jquery@3.2.1
							</p>
							<p>&nbsp;</p>
							<p>// =></p>
							<p>{</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>default</span
								>": "<span class="code-string">/dist/jquery.min.js</span>",
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">files</span>": [
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
								</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">type</span>": "<span class="code-string">directory</span>",</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>name</span
								>": "<span class="code-string">dist</span>",
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span
									class="code-key"
									>files</span
								>": [
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
							</p>

							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">type</span>": "<span class="code-string">file</span>",
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">name</span>": "<span class="code-string">core.js</span>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">hash</span>": "<span class="code-string">BSsbXsDErniq/HpuhULFor8x1CpA2sPPwQLlEoEri+0=</span>", <span class="code-comment">// base64-encoded sha256</span>
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">time</span>": "<span class="code-string">2017-03-20T19:01:15.000Z</span>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">size</span>": <span class="code-number">11197</span>,
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
							</p>

<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
							</p>

							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">type</span>": "<span class="code-string">file</span>",
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">name</span>": "<span class="code-string">jquery.js</span>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">hash</span>": "<span class="code-string">DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=</span>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">time</span>": "<span class="code-string">2017-03-20T19:01:15.000Z</span>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">size</span>": <span class="code-number">268039</span>,
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
							</p>

<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">type</span>": "<span class="code-string">file</span>",
							</p>
							<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">name</span>": "<span class="code-string">jquery.min.js</span>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">hash</span>": "<span class="code-string">hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=</span>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">time</span>": "<span class="code-string">2017-03-20T19:01:15.000Z</span>",
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"<span class="code-key">size</span>": <span class="code-number">86659</span>,
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...
							</p>
<p>
								&nbsp;&nbsp;&nbsp;&nbsp;]
							</p>
							<p>}</p>


						</div>
					</c-slide>
				</c-slider>
			</div>
		</div>
	</section>

	<c-new-infographic-banner></c-new-infographic-banner>

	<section class="js-modules wrapper-lg">
		<div class="js-modules_content">
			<h3>A New-Age CDN for<br />JavaScript modules</h3>
			<p>
				Load modern JavaScript packages built for you on-demand.
				<br />Works in modern web browsers, node.js, and deno
			</p>

			<div class="js-modules_content_checklist">
				<div>
					<img width="24"
						height="24"
						src="{{@shared.assetsHost}}/img/icons/check-circle.svg" />
					Global Multi-CDN
				</div>

				<div>
					<img width="24"
						height="24"
						src="{{@shared.assetsHost}}/img/icons/check-circle.svg" />
					HTTP/3, minification, Brotli compression, fine-tuned
					HTTP caching, dependency preloading
				</div>

				<div>
					<img width="24"
						height="24"
						src="{{@shared.assetsHost}}/img/icons/check-circle.svg" />
					Permanent storage shared by all edge servers
				</div>
			</div>


			<div class="btn-link-to">
				<a class="btn-arrow" href="/esm">
					<span>Learn more about ESM</span>
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
				</a>
			</div>
		</div>

		<div class="js-modules_code code">
			<div class="code-head">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<pre>
				<span>import _ from 'https://esm.run/lodash-es'</span>
				<span>import * as d3 from 'https://esm.run/d3';</span>
				<span>import colors from 'https://esm.run/nice-color-palettes';</span>

				<span>const message = 'jsDelivr is Awesome!';</span>

				<span>for (let char of message.split(' ')) {</span>
				<span>	d3.select('#msg')</span>
				<span>	  .append('span')</span>
				<span>	  .text(char + ' ')</span>
				<span>	  .style('color', colors[_.random(0, 99)][_.random(0, 4)]);</span>
				<span>}</span>
			</pre>

			<div class="code-footer">
				<span>230 ms loaded from CDN</span>
				<button class="btn-primary">Run</button>
			</div>
		</div>
	</section>

	<section class="top-packages wrapper-lg">
		<div class="top-packages_analytics-graph">
			<svg width="1216" height="520" viewBox="0 0 1216 520" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g transform="translate(5 0)">
					<rect width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="45" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="90" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="135" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="180" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="225" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="270" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="315" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="360" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="405" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="450" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="495" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="540" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="585" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="630" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="675" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="720" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="765" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="810" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="855" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="900" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="945" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="990" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="1035" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="1080" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="1125" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="1170" width="1" height="520" fill="url(#paint_line_linear0)"/>
					<rect x="1215" width="1" height="520" fill="url(#paint_line_linear0)"/>
				</g>
				<g width="592" height="253" transform="translate(0 260)">
					<path d="M7 246L51 206L96 246L141 206L186 166L232 206L277 166L322 126L366 86L411 46L456 86L500 46L545 6L591 46" stroke="url(#paint_line_linear1)" stroke-width="2" stroke-linecap="round"/>
					<circle cx="6.5" cy="246.5" r="4.5" fill="white"/>
					<circle cx="6.5" cy="246.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="51.5" cy="206.5" r="4.5" fill="white"/>
					<circle cx="51.5" cy="206.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="96.5" cy="246.5" r="4.5" fill="white"/>
					<circle cx="96.5" cy="246.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="141.5" cy="206.5" r="4.5" fill="white"/>
					<circle cx="141.5" cy="206.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="186.5" cy="166.5" r="4.5" fill="white"/>
					<circle cx="186.5" cy="166.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="231.5" cy="206.5" r="4.5" fill="white"/>
					<circle cx="231.5" cy="206.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="276.5" cy="166.5" r="4.5" fill="white"/>
					<circle cx="276.5" cy="166.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="321.5" cy="126.5" r="4.5" fill="white"/>
					<circle cx="321.5" cy="126.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="366.5" cy="86.5" r="4.5" fill="white"/>
					<circle cx="366.5" cy="86.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="411.5" cy="46.5" r="4.5" fill="white"/>
					<circle cx="411.5" cy="46.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="456.5" cy="86.5" r="4.5" fill="white"/>
					<circle cx="456.5" cy="86.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="501.5" cy="46.5" r="4.5" fill="white"/>
					<circle cx="501.5" cy="46.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
					<circle cx="545.5" cy="6.5" r="4.5" fill="white"/>
					<circle cx="545.5" cy="6.5" r="5.5" stroke="#F65128" stroke-opacity="0.24" stroke-width="2"/>
				</g>
				<defs>
					<linearGradient id="paint_line_linear0" x1="0.5" y1="0" x2="0.5" y2="520" gradientUnits="userSpaceOnUse">
						<stop stop-color="#EDF0F2" stop-opacity="0"/>
						<stop offset="0.458333" stop-color="#EDF0F2"/>
						<stop offset="1" stop-color="#EDF0F2" stop-opacity="0"/>
					</linearGradient>
					<linearGradient id="paint_line_linear1" x1="299" y1="6" x2="299" y2="246" gradientUnits="userSpaceOnUse">
						<stop stop-color="#F65128"/>
						<stop offset="1" stop-color="#F65128" stop-opacity="0.08"/>
					</linearGradient>
				</defs>
			</svg>
		</div>

		<div class="top-packages_content">
			<h3>Analytics and Stats</h3>

			<p>
				Use our stats to better understand how your projects are being used,
				which versions are popular and what files are being downloaded the most
			</p>

			<div class="btn-link-to">
				<a class="btn-arrow" href="/statistics">
					<span>See more stats</span>
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
				</a>
			</div>
		</div>

		<div class="top-packages_packages-list code">
			<div class="code-head">
				<span></span>
				<span></span>
				<span></span>
				<p class="title">Top 10 npm packages last 30 days</p>
			</div>

			<c-stats-table rowIndexes="true" data="{{topPackages.slice(0, 10)}}">
				{{#partial column1}}
					<a href="/package/{{type}}/{{name}}">
						<span class="prefix">{{type}}/</span>
						{{name}}
					</a>
				{{/partial}}
			</c-stats-table>
		</div>

		<div class="btn-link-to bottom">
			<a class="btn-arrow" href="/statistics">
				<span>See more stats</span>
				<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
			</a>
		</div>
	</section>

	<section class="top-packages endpoints section">
		<div class="wrapper-lg flex">
			<div class="top-packages-table-wrapper">
				<div class="top-packages-table endpoints-flex">
					<div>
						<img width="202"
							height="56"
							src="{{@shared.assetsHost}}/img/landing/new/endpoint1.png"
							srcset="{{@shared.assetsHost}}/img/landing/new/endpoint1@2x.png 2x" />
						<p>406 745 962</p>
						<span>Requests Served last month</span>
						<p>52.3 GB</p>
						<span>Bandwidth last month</span>
					</div>

					<div>
						<img width="170"
							height="56"
							src="{{@shared.assetsHost}}/img/landing/new/endpoint2.png"
							srcset="{{@shared.assetsHost}}/img/landing/new/endpoint2@2x.png 2x" />
						<p>884 745 962</p>
						<span>Requests Served last month</span>
						<p>45.2 GB</p>
						<span>Bandwidth last month</span>
					</div>

					<div>
						<img width="213"
							height="56"
							src="{{@shared.assetsHost}}/img/landing/new/endpoint3.png"
							srcset="{{@shared.assetsHost}}/img/landing/new/endpoint3@2x.png 2x" />
						<p>28 745 962</p>
						<span>Requests Served last month</span>
						<p>34.5 GB</p>
						<span>Bandwidth last month</span>
					</div>
				</div>
			</div>

			<div class="top-packages-title">
				<h5>Custom OSS Endpoints</h5>
				<span>
					jsDelivr is happy to support unique use-cases that require a fast CDN
				</span>

				<a class="btn-arrow" href="/custom-cdn-oss">
					Explore all custom endpoints
					<img width="20"
						height="20"
						src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
				</a>
			</div>

			<a class="btn-arrow" href="/custom-cdn-oss">
				Explore all custom endpoints
				<img width="20"
					height="20"
					src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
			</a>
		</div>
	</section>

	<section class="sponsors wrapper-lg">
			<div class="sponsors_content">
				<h5>jsDelivr is used by millions of websites globally</h5>

				<div class="btn-link-to">
					<a class="btn-arrow" href="/become-a-sponsor">
						<span>Become a sponsor</span>
						<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
					</a>
				</div>
			</div>

			<div class="sponsors_sponsors-list {{ #if showMoreExLogo }} expanded {{ /if }}">
				<div class="sponsors_sponsors-list_list-wrapper">
					{{#each exWebLogo}}
						<img src="{{@shared.assetsHost}}/img/landing/new/external-websites/{{ .image }}">
					{{/each}}
				</div>

				<div class="sponsors_sponsors-list_gradient"></div>

				<button class="btn-more btn-grey" on-click="@this.set('showMoreExLogo', !showMoreExLogo)">
					{{#if !showMoreExLogo}}
						Load more
					{{else}}
						Show less
					{{/if}}
				</button>
			</div>

			<div class="btn-link-to bottom">
				<a class="btn-arrow" href="/become-a-sponsor">
					<span>Become a sponsor</span>
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/arrow-right.svg" />
				</a>
			</div>
	</section>
</div>

<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');
	const codeTabs = [ 'entrypoints', 'versions', 'files' ];

	component.exports = {
		data () {
			return {
				_,
				activeTab: 'entrypoints',
				codeList: [ 'entrypoints', 'versions', 'files' ],
				// external website logos
				exWebLogo: [
					{ image: 'cnn.svg' },
					{ image: 'ikea.svg' },
					{ image: 'nvidia.svg' },
					{ image: 'nintendo.svg' },
					{ image: 'ubisoft.svg' },
					{ image: 'harvard.svg' },
					{ image: 'nba.svg' },
					{ image: 'coinmarketcap.svg' },
					{ image: 'mailonline.svg' },
					{ image: 'roblox.svg' },
					{ image: 'urban.svg' },
					{ image: 'rotten-tomatoes.svg' },
					{ image: 'olx.svg' },
					{ image: 'der-spiegel.svg' },
					{ image: 'upwork.svg' },
					{ image: 'govgr.svg' },
					{ image: 'tawk.to.svg' },
					{ image: 'foot-locker.svg' },
					{ image: 'euro-vision.svg' },
				],
				showMoreExLogo: false,
			};
		},
		oninit () {
			this.findComponent('c-slider').set(
				'active',
				codeTabs.indexOf(this.get('activeTab')) !== -1
					? codeTabs.indexOf(this.get('activeTab'))
					: 0
			);

			if (!Ractive.isServer) {
				this.observe(
					'activeTab',
					(newValue) => {
						document.querySelector('.code-slider .c-slider').scrollTop = 0;

						this.findComponent('c-slider').show(codeTabs.indexOf(newValue) !== -1
							? codeTabs.indexOf(newValue)
							: 0);

						let activeTabLink
						= document.querySelectorAll('.code-tabs a')[
							this.get('activeSlide') || 0
						];
						this.set('activeTabLineData', [
							activeTabLink.offsetLeft,
							activeTabLink.clientWidth,
						]);
					},
					{ init: false }
				);

				// Load top packages.
				http.fetchTopPackages().then((data) => {
					this.set('topPackages', data);
				});

				// Load network stats for the previous day
				http.fetchNetworkStats('month').then((data) => {
					this.set(
						'baseRequestsPerSecond',
						data.hits.total / 30 / 24 / 60 / 60
					);

					this.set('baseBandwidth', data.bandwidth.total / 30 / 24 / 60 / 60 / 1e6);
				});


				let animationConfig = {
					duration: 4,
					easing: x => 1 - Math.sqrt(1 - Math.pow(x, 2)),
				};

				setInterval(() => {
					let requestsPerSecond
						= (this.getRandom(97, 102) / 100)
						* this.get('baseRequestsPerSecond'),
						bandwidth
						= (this.getRandom(97, 102) / 100)
						* this.get('baseBandwidth');

					this.animate(
						'requestsPerSecond',
						requestsPerSecond,
						animationConfig
					);

					this.animate('bandwidth', bandwidth, animationConfig);
				}, 800);
			}
		},
		getRandom (min, max) {
			return Math.floor(Math.random() * (max - min + 1) + min);
		},
	};
</script>
