<link rel="ractive" href="./stats-table.html" name="c-stats-table">
<!-- Commenting this out while we switch to another API -->
<!-- <link rel="ractive" href="./rum.html" name="c-rum"> -->

<div class="c-landing-bottom">
	
	<section class="built-for-production section">
		<div class="container">
			<span>Multi-CDN Global Network</span>
			<h2>Built for production</h2>

			<ul class="features-list">
				<li><a href="/network">
					<img src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/1.svg" alt="">

					<h6>Four CDN & two DNS providers</h6>
				</a></li>
				<li><a href="/network#map">
					<img src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/2.svg" alt="">
						
					<h6>More than 750 points of presence</h6>
				</a></li>
				<li><a href="/network">
					<img src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/3.svg" alt="">
						
					<h6>Low latency "Near China" network</h6>
				</a></li>
				<li><a target="_blank" rel="noopener noreferrer" href="https://www.cdnperf.com">
					<img src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/4.svg" alt="">
						
					<h6>Smart load-balancing and routing</h6>
				</a></li>
				<li><a href="/network#failover">
					<img src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/5.svg" alt="">
						
					<h6>Multi-layer cache and failover</h6>
				</a></li>
				<li><a href="/network">
					<img src="{{@shared.assetsHost}}/img/landing/new/built-for-prod/6.svg" alt="">
						
					<h6>Formal ToS and Privacy Policy</h6>
				</a></li>
			</ul>	
		</div>

		<div class="network-data container-lg">
			<img class="network-data-map" src="{{@shared.assetsHost}}/img/landing/new/map.svg">

			<div class="network-data-grid">
				<div>
					<img src="{{@shared.assetsHost}}/img/landing/new/map-icons/1.svg" alt="">
						
					<h3 class="green">1 mil+</h3>
					<p>active oss projects served</p>
				</div>

				<div>
					<img src="{{@shared.assetsHost}}/img/landing/new/map-icons/2.svg" alt="">
						
					<h3 class="green">99.99%</h3>
					<p>cache hit ratio</p>
				</div>

				<div>
					<img src="{{@shared.assetsHost}}/img/landing/new/map-icons/3.svg" alt="">

					<h3>7 145</h3>
					<span>requests per second</span>
				</div>

				<div>
					<img src="{{@shared.assetsHost}}/img/landing/new/map-icons/4.svg" alt="">
						
					<h3>754.2 Mbps</h3>
					<span>bandwidth</span>
				</div>
			</div>

			<div class="text-center">
				<a class="btn-arrow" href="/network#map">
					View our network map
					<img src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">
				</a>
			</div>
		</div>

	</section>

	<section class="dev-friendly section">
		<div class="container-lg">
			<div class="container">
				<h3>Developer Friendly</h3>
				<p>All files from <span>npm</span> and <span>Github</span> available with zero setup</p>
	
				<ul class="features-list">
					<li><a href="/statistics">
						<img src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/1.svg" alt="">
	
						<h6>Usage statistics</h6>
					</a></li>
					<li><a href="/features#combine">
						<img src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/2.svg" alt="">
							
						<h6>Combine multiple files on-demand</h6>
					</a></li>
					<li><a href="/features#minify">
						<img src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/3.svg" alt="">
							
						<h6>Minify files on-demand</h6>
					</a></li>
					<li><a href="/features#combine">
						<img src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/4.svg" alt="">
							
						<h6>Source map support</h6>
					</a></li>
					<li><a href="/features#alias">
						<img src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/5.svg" alt="">
							
						<h6>Version aliasing</h6>
					</a></li>
					<li><a>
						<img src="{{@shared.assetsHost}}/img/landing/new/dev-friendly/6.svg" alt="">
							
						<h6>Multiple IDE Integrations</h6>
					</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="api section">
		<div class="container-lg flex">
			<div class="api-content">
				<h3>A free API for all NPM <br> and ESM needs</h3>
				<p>The official jsDelivr API allows you to get details about NPM packages like their files and versions. We intelligently guess the correct entrypoints and provide the CDN URLs with their hashes.</p>
				<p>Additionally you can get detailed download stats per project, per file and per version.</p>
	
				<a class="btn-arrow" href="">
					Read the API documentation
					<img src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">
				</a>
			</div>
			
			<div class="api-code code">

			</div>
		</div>
	</section>

	<section class="infographic section">
		<div class="container-lg">
			<div class="container flex">
				<div class="infographic-content">
					<h3>Learn more about the infrastructure that powers <strong>jsDelivr</strong></h3>
					<a class="btn-primary" href="">Check our infographic</a>
				</div>

				<div class="infographic-image">
					<img src="{{@shared.assetsHost}}/img/landing/new/infographics.png">
				</div>
			</div>
		</div>
	</section>

	<section class="js-modules api section">
		<div class="container-lg flex">
			<div class="js-modules-code api-code code">
				
			</div>

			<div class="js-modules-content api-content">
				<h3>A New-Age CDN for JavaScript modules</h3>
				<p>Load modern JavaScript packages built for you on-demand. <br>Works in modern web browsers, node.js, and deno</p>
				<ul class="checklist">
					<li>
						<img src="{{@shared.assetsHost}}/img/icons/check-circle.svg">
						
						Global Multi-CDN
					</li>
					<li>
						<img src="{{@shared.assetsHost}}/img/icons/check-circle.svg">

						HTTP/3, minification, Brotli compression, fine-tuned HTTP caching, dependency preloading
					</li>
					<li>
						<img src="{{@shared.assetsHost}}/img/icons/check-circle.svg">

						Permanent storage shared by all edge servers
					</li>
				</ul>
	
				<a class="btn-arrow" href="">
					Learn more about ESM
					<img src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">
				</a>
			</div>

		</div>
	</section>

	
	<section class="top-packages section">
		<div class="container-lg flex">
			<div class="top-packages-title">
				<h5>Top 5 npm packages</h5>
				<span>last 30 days</span>
				<a class="btn-arrow" href="">
					See more stats
					<img src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">
				</a>
			</div>

			<div class="top-packages-table">
				<c-stats-table title="Top 10 npm packages last 30 days" data="{{topPackages.slice(0, 5)}}">
					{{#partial column1}}
					<a href="/package/{{type}}/{{name}}"><span class="prefix">{{type}}/</span>{{name}}</a>
					{{/partial}}
				</c-stats-table>
			</div>
		</div>
	</section>

	<section class="top-packages endpoints section">
		<div class="container-lg flex">
			<div class="top-packages-table endpoints-flex">
				<div>
					<img src="{{@shared.assetsHost}}/img/landing/new/endpoint1.png">
					<p>406 745 962</p>
					<span>Requests Served last month</span>
					<p>52.3 GB</p>
					<span>Bandwidth last month</span>
				</div>
				<div>
					<img src="{{@shared.assetsHost}}/img/landing/new/endpoint2.png">
					<p>884 745 962</p>
					<span>Requests Served last month</span>
					<p>45.2 GB</p>
					<span>Bandwidth last month</span>
				</div>
				<div>
					<img src="{{@shared.assetsHost}}/img/landing/new/endpoint3.png">
					<p>28 745 962</p>
					<span>Requests Served last month</span>
					<p>34.5 GB</p>
					<span>Bandwidth last month</span>
				</div>
			</div>

			<div class="top-packages-title">
				<h5>Custom OSS Endpoints</h5>
				<span>jsDelivr is happy to support unique use-cases that require a fast CDN</span>
				<a class="btn-arrow" href="">
					Explore all custom endpoints
					<img src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">
				</a>
			</div>
		</div>
	</section>

	<section class="top-packages section">
		<div class="container-lg flex">
			<div class="top-packages-title">
				<h5>jsDelivr is used by millions of websites globally</h5>

				<a class="btn-arrow" href="">
					Become a sponsor
					<img src="{{@shared.assetsHost}}/img/icons/arrow-right.svg">	
				</a>
			</div>

			<div class="top-packages-table">
				<img src="{{@shared.assetsHost}}/img/landing/new/used-by.svg">
			</div>
		</div>
	</section>

</div>

<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');

	component.exports = {
		easing: {
			random (t) {
				return Math.pow(t, 2);
			},
		},
		data () {
			return {
				_,
			};
		},
		oninit () {
			if (!this.get('@shared.requestsServed')) {
				this.set('@shared.requestsServed', 0);
			}

			if (!Ractive.isServer) {
				if (!this.get('@shared.requestsServed')) {
					let served = 0;
					let animateRequests = () => {
						let seconds = Math.floor(Math.random() * 15 + 5);
						served += 30800 * seconds;
						this.animate('@shared.requestsServed', served, { duration: (seconds + 1) * 1000, easing: 'easeOut' });
						setTimeout(animateRequests, seconds * 1000);
					};

					animateRequests();
				}

				// Load top packages.
				http.fetchTopPackages().then((data) => {
					this.set('topPackages', data);
				});
			}
		},
	};
</script>
