<div class="c-markdown">
	{{{markdown(text)}}}
</div>

<script>
	const _ = require('../../public/js/_.js');
	const ID_PREFIX = 'id-';

	component.exports = {
		data () {
			if (!Ractive.isServer) {
				marked.setOptions({
					langPrefix: 'hljs language-',
					headerIds: true,
					headerPrefix: ID_PREFIX,
					highlight (code, language) {
						return hljs.getLanguage(language) ? hljs.highlightAuto(code, [ 'html', 'javascript', 'sh', 'bash' ]).value : code;
					},
				});

				let renderer = {
					link (href, title, text) {
						return `
							<a href="${href}" target="_blank" rel="noopener noreferrer nofollow">
								${text}
							</a>
						`;
					},
					image (src, title, text) {
						let modSrc = _.makeLinksOptimized(src);

						return `<img src="${modSrc}" alt="${text}">`;
					},
				};

				marked.use({ renderer });
			}

			return {
				_,
				text: '',
				markdown (md) {
					return !Ractive.isServer ? marked.parse(md) : '';
				},
			};
		},
		oninit () {
			// if page URL has a hash then scroll page to the anchor
			this.observeOnce('text', () => {
				let anchor = app.router.uri.hash;
				let el = anchor ? this.find(anchor) : null;

				if (el) {
					el.scrollIntoView({
						behavior: 'smooth',
					});
				}
			}, { init: false, defer: true });
		},
	};
</script>
