<div class="c-markdown">
	{{{markdown(text)}}}
</div>

<script>
	component.exports = {
		data () {
			if (!Ractive.isServer) {
				marked.setOptions({
					langPrefix: 'hljs language-',
					highlight (code) {
						return hljs.highlightAuto(code, [ 'html', 'javascript' ]).value;
					},
				});

				let renderer = {
					link (href, title, text) {
						return `
							<a href="${href}" target="_blank" rel="nofollow">
								${text}
							</a>
						`;
					},
				};

				marked.use({ renderer });
			}

			return {
				text: '',
				markdown (md) {
					return !Ractive.isServer ? marked(md) : '';
				},
			};
		},
	};
</script>
