<div class="c-markdown">
	{{{markdown}}}
</div>

<script>
	const _ = require('../../public/js/_.js');
	const ID_PREFIX = 'id-';

	component.exports = {
		data () {
			return {
				_,
				text: '',
				markdown: '',
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				app.injectGlobalStyle('https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css');

				Promise.all([
					// eslint-disable-next-line node/no-missing-import
					import('https://cdn.jsdelivr.net/npm/marked@4.2.12/+esm'),
					// eslint-disable-next-line node/no-missing-import
					import('https://cdn.jsdelivr.net/npm/dompurify@2.4.3/+esm'),
					// eslint-disable-next-line node/no-missing-import
					import('https://cdn.jsdelivr.net/npm/@highlightjs/cdn-assets@11.7.0/es/highlight.min.js'),
				]).then(([{ marked }, { default: DOMPurify }, { default: hljs }]) => {
					let _this = this;

					marked.setOptions({
						langPrefix: 'hljs language-',
						headerIds: true,
						headerPrefix: ID_PREFIX,
						highlight (code, language) {
							return hljs.getLanguage(language) ? hljs.highlightAuto(code, [ 'html', 'javascript', 'sh', 'bash' ]).value : code;
						},
					});

					DOMPurify.removeAllHooks();

					DOMPurify.addHook('afterSanitizeAttributes', (node) => {
						if ('target' in node) {
							node.setAttribute('rel', 'nofollow noopener noreferrer');
							node.setAttribute('target', '_blank');
						}

						if (node.hasAttribute('src')) {
							node.setAttribute('src', _.makeLinksOptimized(node.getAttribute('src'), _this.get('github')));
						}
					});

					// if page URL has a hash then scroll page to the anchor
					this.observeOnce('markdown', () => {
						let anchor = app.router.uri.hash;
						let el = anchor ? this.find(anchor) : null;

						if (el) {
							if (document.visibilityState === 'visible') {
								el.scrollIntoView({
									behavior: 'smooth',
								});
							} else {
								document.addEventListener('visibilitychange', function listener () {
									el.scrollIntoView({
										behavior: 'smooth',
									});

									document.removeEventListener('visibilitychange', listener);
								});
							}
						}
					}, { init: false, defer: true });

					this.observe('text', (md) => {
						this.set('markdown', DOMPurify.sanitize(marked.parse(md)));
					});
				});
			}
		},
	};
</script>
