<div class="c-network-provider-stats">
    <div class="block">
        <h3>Requests Served</h3>
        <div class="table">
            <div class="bandwidth-stats">
                <div>
                    <div class="card-icon">
                        <img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/request.svg">
                    </div>
                    <div class="card-main-stat">
                        <span class="text-table-number">{{requestsData.total}}</span>
                    </div>
                    <div class="card-growth">
                        <div class="{{ requestsData.growth >= 0? 'growth-positive': 'growth-negative'}}">
                            <span class="text-table-number">{{#if requestsData.growth>0}}+{{/if}}{{requestsData.growth}}%</span>
                        </div>
                        <div><span>{{period}}ly {{ requestsData.growth >= 0? 'growth': 'decline'}}</span></div>
                    </div>
                </div>
            </div>
            <div class="bandwidth-list">
                {{#each requestsData.statsList}}
                    <div class="list">
                        <div class="info">
                            <div class="icon">
                                <img width="20" height="20" src='{{@shared.assetsHost}}{{svg}}'>
                                <span >{{name}}</span>
                            </div>
                            <div class="value text-table-number">{{value}}</div>
                        </div>
                        <div class="chart">
                            <div class="percentage-bar">
                                <div class="barWidth" style="width: {{ @this.calcPercentage(value, requestsData.total) }}; background: {{ color }}">
                                </div>
                            </div>
                            <div class="interest text-table-number">{{interest}}%</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="block">
        <h3>Bandwidth</h3>
        <div class="table">
            <div class="bandwidth-stats">
                <div>
                    <div class="card-icon">
                        <img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/transfer.svg">
                    </div>
                    <div class="card-main-stat">
                        <span class="text-table-number">{{converBytesTo(bandwidthData.total)}}</span>
                    </div>
                    <div class="card-growth">
                        <div class="{{ bandwidthData.growth >= 0? 'growth-positive': 'growth-negative'}}">
                            <span class="text-table-number">{{#if bandwidthData.growth>0}}+{{/if}}{{bandwidthData.growth}}%</span>
                        </div>
                        <div><span>{{period}}ly {{ bandwidthData.growth >= 0? 'growth': 'decline'}}</span></div>
                    </div>
                </div>
            </div>
            <div class="bandwidth-list">
                {{#each bandwidthData.statsList}}
                    <div class="list">
                        <div class="info">
                            <div class="icon">
                                <img width="20" height="20" src='{{@shared.assetsHost}}{{svg}}'>
                                <span >{{name}}</span>
                            </div>
                            <div class="value text-table-number">{{converBytesTo(value)}}</div>
                        </div>
                        <div class="chart">
                            <div class="percentage-bar">
                                <div class="barWidth" style="width: {{ @this.calcPercentage(value, bandwidthData.total) }}; background: {{ color }}">

                                </div>
                            </div>
                            <div class="interest text-table-number">{{interest}}%</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
    const _ = require('../../public/js/_');
    const http = require('../../public/js/utils/http');
    const providers = require('../../public/json/net-providers.json');

    component.exports = {
        data() {
            return {
				requestsData: {},
				bandwidthData: {},
                converBytesTo: function( num ) {
                    let lookup = [
                        { value: 1, symbol: '' },
                        { value: 1e3, symbol: 'KB' },
                        { value: 1e6, symbol: 'MB' },
                        { value: 1e9, symbol: 'GB' },
                        { value: 1e12, symbol: 'TB' },
                        { value: 1e15, symbol: 'PB' },
                        { value: 1e18, symbol: 'EB' },
                    ];
                    let item = lookup.reverse().find((item) => {
                        return num >= item.value;
                    });

                    return item? Math.round(num/item.value) + item.symbol: '0';
                }
            }
        },
        oninit() {
            if(!Ractive.isServer) {
                this.observe("period", (period) => {
                    // http calls to fetch net stats data...
                    http.fetchNetworkProviderStats("hits", period).then(res => {
                        this.set("requestsData", this.processStats(res));
                    });
                    http.fetchNetworkProviderStats("bandwidth", period).then(res => {
                        this.set("bandwidthData", this.processStats(res));
                    });
                })
            }
        },
        onrender() {

        },
        processStats(stats) {
            let result = {
                total: 0,
                prevTotal: 0,
                growth: "0%",
                statsList: []
            };
            Object.keys(stats).map((key, index) => {
                let provider = providers[key] ?? {};
                let svg = provider.imgPath;
                let color = provider.color;
                let name = provider.name;
                let value = stats[key].total;
                let interest = this.calcGrowth(value, stats[key].prev.total);

                result.statsList.push({svg, name, value, color, interest});
                result.total += stats[key].total;
                result.prevTotal += stats[key].prev.total;
            });

            result.growth = this.calcGrowth(result.total, result.prevTotal);
            return result;
        },
        calcGrowth(cur, prev) {
            let growth = prev? ( (cur - prev)*100 / prev ): 100;
            
            return growth.toFixed(1);
        },
        calcPercentage(cur, total) {
            let percentage = (cur * 100 / total).toFixed(1);

            return percentage == 0? "0.5%": percentage + "%";
        }
    }
</script>