<section class="c-new-infographic-banner infographic">
	<div class="infographic_wrapper">
		<div class="infographic_content">
			<h3>Learn more about<br> the infrastructure that<br> powers <strong>jsDelivr</strong></h3>
			<a class="btn-primary router-ignore" target="_blank" href="/network/infographic">Check our infographic</a>
		</div>

		<div class="infographic_image-desktop">
			<img width="794" height="506" src="{{@shared.assetsHost}}/img/landing/new/infographics.png">
		</div>

		<div class="infographic_image">
			<img width="529" height="337" src="{{@shared.assetsHost}}/img/landing/new/infographics.mobile.png">
		</div>
	</div>
</section>
