<section class="c-new-infographic-banner infographic section">
	<div class="container-lg">
		<div class="container flex">
			<div class="infographic-content">
				<h3>Learn more about<br> the infrastructure that<br> powers <strong>jsDelivr</strong></h3>
				<a class="btn-primary router-ignore" target="_blank" href="/network/infographic">Check our infographic</a>
			</div>

			<div class="infographic-image-desktop">
				<img width="669" height="350" src="{{@shared.assetsHost}}/img/landing/new/infographics.png">
			</div>
			<div class="infographic-image">
				<img width="264" height="180" src="{{@shared.assetsHost}}/img/landing/new/infographics-mobile.png">
			</div>
		</div>
	</div>
</section>
