<section class="infographic section">
	<div class="container-lg">
		<div class="container flex">
			<div class="infographic-content">
				{{#if @this.partials.text}}
					<h3>{{>text}}</h3>
				{{else}}
					<h3>Learn more about the infrastructure that powers <strong>jsDelivr</strong></h3>
				{{/if}}
				
				<a class="btn-primary router-ignore" target="_blank" href="/network/infographic">Check our infographic</a>
			</div>

			<div class="infographic-image">
				<img src="{{@shared.assetsHost}}/img/landing/new/infographics.png">
			</div>
		</div>
	</div>
</section>