{{#if !notificationSeen}}
<div class="c-notification">
	<i class="fa fa-bullhorn" aria-hidden="true"></i>
	<a rel="noopener" href="https://github.com/jsdelivr/jsdelivr/issues/18091" target="_blank">
		Looking for contributors!
		Help us build CMS plugins, IDE integrations, other tools, or promote jsDelivr.
	</a>
	<a on-click="@this.set('notificationSeen', true)"><i class="fa fa-times" aria-hidden="true"></i></a>
</div>
{{/if}}

<script>
	const has = require('../../public/js/utils/has');
	const notificationKey = 'looking-for-contributors-1-notificationSeen';

	component.exports = {
		oninit () {
			if (Ractive.isServer) {
				this.set('notificationSeen', true);
			} else {
				if (has.localStorage()) {
					if (localStorage.getItem(notificationKey)) {
						this.set('notificationSeen', true);
					}

					this.observe('notificationSeen', (newValue) => {
						localStorage.setItem(notificationKey, JSON.stringify(newValue));
					}, { init: false });
				}

				// this.observe('notificationSeen', (newValue) => {
				// 	document.body.classList[newValue ? 'remove' : 'add']('c-notification-visible');
				// });
			}
		},
	};
</script>
