{{#if !notificationSeen}}
<div class="c-notification">
	<i class="fa fa-bullhorn" aria-hidden="true"></i>
	jsDelivr is becoming HTTPS-only. All HTTP requests are redirected to HTTPS.
	<a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security">HSTS</a>
	is going to be enabled in a few days.
	<a on-click="@this.set('notificationSeen', true)"><i class="fa fa-times" aria-hidden="true"></i></a>
</div>
{{/if}}

<script>
	const has = require('../../public/js/utils/has');
	const notificationKey = 'hsts-redirects-notificationSeen';

	component.exports = {
		oninit () {
			if (Ractive.isServer) {
				this.set('notificationSeen', true);
			} else {
				if (has.localStorage()) {
					if (localStorage.getItem(notificationKey)) {
						this.set('notificationSeen', true);
					}

					this.observe('notificationSeen', (newValue) => {
						localStorage.setItem(notificationKey, JSON.stringify(newValue));
					}, { init: false });
				}

				// this.observe('notificationSeen', (newValue) => {
				// 	document.body.classList[newValue ? 'remove' : 'add']('c-notification-visible');
				// });
			}
		},
	};
</script>
