<div class="c-package-install-block">
	<div class="package-install-wrapper">
		<div class="install-settings">
			<div>INSTALL</div>

			<div class="switch-wrapper">
				<span>Type:</span>
				<input id="switch-id" type="checkbox" twoway="false"
					class="switch-input {{#if isDefaultPackage}}checked{{/if}}">

				<label for="switch-id" on-click="@this.toggle('isDefaultPackage')">
					<span>ESM</span>
					<span>Default</span>
				</label>
			</div>

			<div class="dropdown-wrapper">
				<label for="version-select">Version:&nbsp;&nbsp;</label>
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<span>{{~/selectedVersion}}</span>
						<i class="fa fa-angle-down" aria-hidden="true"></i>
					</button>

					<ul class="dropdown-menu">
						{{#each ~/versionsList}}
							<li><a on-click="@this.set('selectedVersion', this)">{{this}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>

			<button class="settings-btn" on-click="@this.set('mobileSettingsVisible', true)">
				<img width="24" height="24" src="{{@shared.assetsHost}}/img/icons/settings-white.svg">
			</button>

			{{#if mobileSettingsVisible}}
				<div class="overlay" on-click="@this.set('mobileSettingsVisible', false)"></div>

				<div class="settings-mobile" slide-in slide-out>
					<div class="switch-wrapper">
						<span>Type:</span>
						<input id="switch-id" type="checkbox" twoway="false"
							class="switch-input {{#if isDefaultPackageTmp}}checked{{/if}}">

						<label for="switch-id" on-click="@this.toggle('isDefaultPackageTmp')">
							<span>ESM</span>
							<span>Default</span>
						</label>
					</div>

					<div class="dropdown-wrapper dropup">
						<label for="version-select">Version:&nbsp;&nbsp;</label>

						<div class="btn-group">
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<span>{{~/selectedVersionTmp}}</span>
								<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/chevron-down.svg" />
							</button>

							<ul class="dropdown-menu">
								{{#each ~/versionsList}}
									<li><a on-click="@this.set('selectedVersionTmp', this)">{{this}}</a></li>
								{{/each}}
							</ul>
						</div>
					</div>

					<button class="btn-primary" on-click="@this.onClickMobileApply()">Apply</button>
					<button class="btn-secondary" on-click="@this.onClickMobileCancel()">Cancel</button>
				</div>
			{{/if}}
		</div>

		<div class="horizontal-divider-19"></div>

		<div class="install-script">
			{{#if isDefaultPackage}}
				{{#if ~/packageJsEntrypoint}}
					<div class="script-wrapper-default">
						<span class="script-tag">&#60;script src="</span>
						<span class="script-text">
							<a target="_blank" href="{{~/installEsmSrc}}">{{~/installScriptSrc}}</a>
						</span>

						<span class="script-tag">"&#62;&#60;/script&#62;</span>

						<div class="btn-group btn-group_copy-dropdown">
							<button title="Copy to Clipboard" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn.svg">
							</button>

							<ul class="dropdown-menu">
								<li>
									<a as-clipboard="'Copy URL to clipboard', 'right'" data-clipboard-text="{{~/installScriptSrc}}">
										Copy URL
									</a>
								</li>

								{{#if ~/packageJsHash}}
									<li>
										<a as-clipboard="'Copy SRI to clipboard', 'right'"
											data-clipboard-text="{{buildIntegrity(~/packageJsHash)}}">
											Copy SRI
										</a>
									</li>
								{{/if}}

								{{#if canBuildHtml(~/installScriptSrc)}}
									<li>
										<a as-clipboard="'Copy HTML to clipboard', 'right'"
											data-clipboard-text="{{buildHtml(~/installScriptSrc)}}">
											Copy HTML
										</a>
									</li>

									{{#if ~/packageJsHash}}
										<li>
											<a as-clipboard="'Copy HTML + SRI to clipboard', 'right'"
												data-clipboard-text="{{buildHtml(~/installScriptSrc, ~/packageJsHash)}}">
												Copy HTML + SRI
											</a>
										</li>
									{{/if}}
								{{/if}}
							</ul>
						</div>
					</div>
				{{/if}}

				{{#if ~/packageCssEntrypoint}}
					<div class="script-wrapper-default">
						<span class="script-tag">&#60;link href="</span>
						<span class="script-text">
							<a target="_blank" href="{{~/installLinkHref}}">{{~/installLinkHref}}</a>
						</span>
						<span class="script-tag">" rel="stylesheet"&#62;&#60;/link&#62;</span>

						<div class="btn-group btn-group_copy-dropdown">
							<button title="Copy to Clipboard" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn.svg">
							</button>

							<ul class="dropdown-menu">
								<li>
									<a as-clipboard="'Copy URL to clipboard', 'right'" data-clipboard-text="{{~/installLinkHref}}">
										Copy URL
									</a>
								</li>

								{{#if ~/packageCssHash}}
									<li>
										<a as-clipboard="'Copy SRI to clipboard', 'right'"
											data-clipboard-text="{{buildIntegrity(~/packageCssHash)}}">
											Copy SRI
										</a>
									</li>
								{{/if}}

								{{#if canBuildHtml(~/installLinkHref)}}
									<li>
										<a as-clipboard="'Copy HTML to clipboard', 'right'"
											data-clipboard-text="{{buildHtml(~/installLinkHref)}}">
											Copy HTML
										</a>
									</li>

									{{#if ~/packageCssHash}}
										<li>
											<a as-clipboard="'Copy HTML + SRI to clipboard', 'right'"
												data-clipboard-text="{{buildHtml(~/installLinkHref, ~/packageCssHash)}}">
												Copy HTML + SRI
											</a>
										</li>
									{{/if}}
								{{/if}}
							</ul>
						</div>
					</div>
				{{/if}}
			{{else}}
				<div class="script-wrapper-esm">
					<span class="script-tag">&#60;script type="module"&#62;</span>
					<span class="script-text">
						<span>import {{name}} from</span>
						<span>'<a target="_blank" href="{{~/installEsmSrc}}">{{~/installEsmSrc}}</a>'</span>
					</span>
					<span class="script-tag">&#60;/script&#62;</span>

					<div class="btn-group btn-group_copy-dropdown">
						<button title="Copy to Clipboard" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/copy-btn.svg">
						</button>

						<ul class="dropdown-menu">
							<li>
								<a as-clipboard="'Copy URL to clipboard', 'right'" data-clipboard-text="{{~/installEsmSrc}}">
									Copy URL
								</a>
							</li>
							{{#if canBuildHtml(~/installEsmSrc)}}
								<li>
									<a as-clipboard="'Copy HTML to clipboard', 'right'"
										data-clipboard-text="{{buildHtml(~/installEsmSrc, '', name)}}">
										Copy HTML
									</a>
								</li>
							{{/if}}
						</ul>
					</div>
				</div>
			{{/if}}
		</div>

		<div class="horizontal-divider-19"></div>

		{{#if isGuessedFile}}
			<div class="install-default-warning">
				URL is guessed and might not be correct.
				<a target="_blank" rel="noopener noreferrer" href="https://cdn.jsdelivr.net/npm/{{name}}/">Browse the NPM
					package
				</a>
				to find the correct one or use our
				<a on-click="@this.set('navRoute', 'config')">configurator to combine files and generate SRI</a>
			</div>
		{{else}}
			<div class="install-esm-ctrls">
				<form class="jsfiddle-form" action="https://jsfiddle.net/api/post/library/pure" method="POST" target="_blank">
					<input type="hidden" name="title" value="esm.run {{name}} demo">
					<input type="hidden" name="js" value="{{jsFiddleJsCode}}" twoway="false">
					<button type="submit" class="esm-ctrl" tabindex="2">Open in jsfiddle</button>
				</form>

				<a href="{{learnMoreHref}}" class="esm-ctrl" target="_blank" rel="noopener noreferrer">
					Learn more
				</a>
			</div>
		{{/if}}
	</div>
</div>


<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');
	const clipboard = require('../../public/js/decorators/clipboard');
	const { buildIntegrity, canBuildHtml, buildHtml } = require('../../public/js/utils/build-links');

	component.exports = {
		computed: {
			importName () {
				let name = this.get('name').split(/[ ._-]/g).reduce((acc, value) => {
					return acc + value.substr(0, 1).toUpperCase() + value.substr(1);
				}).replace(/[^a-zA-Z0-9_$]/g, '');

				if (/^\d/.test(name)) {
					return `_${name}`;
				}

				return name || 'm';
			},
			jsFiddleJsCode () {
				return `// See https://www.npmjs.com/package/${this.get('name')} documentation.\nimport * as ${this.get('importName')} from 'https://esm.run/${this.get('name')}';\n\nconsole.log(${this.get('importName')})\n`;
			},
		},
		data () {
			return {
				_,
				versionsList: [
					'Static',
					'Minor',
					'Major',
					'Latest',
				],
				isDefaultPackage: true,
				selectedVersion: 'Static',
				isDefaultPackageTmp: true,
				selectedVersionTmp: 'Static',
				isGuessedFile: false,
				buildIntegrity,
				canBuildHtml,
				buildHtml,
				mobileSettingsVisible: false,
				learnMoreHref: null,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('isDefaultPackage name', () => {
					let isDefaultPackage = this.get('isDefaultPackage');
					let name = this.get('name');

					if (isDefaultPackage) {
						this.set('learnMoreHref', `https://www.npmjs.com/package/${name}`);
					} else {
						this.set('learnMoreHref', 'https://www.jsdelivr.com/esm');
					}
				});

				this.observe('selectedVersion', () => {
					let installPackageVersion = '@';
					let selectedVersion = this.get('selectedVersion');
					let packageName = this.get('name');
					let packageVersion = this.get('version');
					let packageType = this.get('type');

					if (selectedVersion === 'Static') {
						installPackageVersion += packageVersion;
					} else if (selectedVersion === 'Major') {
						installPackageVersion += packageVersion.split('.')[0];
					} else if (selectedVersion === 'Minor') {
						installPackageVersion += packageVersion.split('.').slice(0, 2).join('.');
					} else {
						installPackageVersion = '';
					}

					http.fetchPackageEntrypoints(packageType, packageName, packageVersion).then((data) => {
						let packageJsEntrypoint = '';
						let packageCssEntrypoint = '';
						let isGuessedFile = false;

						if (data.entrypoints.js) {
							if (data.entrypoints.js.guessed) {
								isGuessedFile = true;
							}

							packageJsEntrypoint = data.entrypoints.js.file;
							this.set('installScriptSrc', `https://cdn.jsdelivr.net/${packageType}/${packageName}${installPackageVersion}${packageJsEntrypoint}`);
							this.set('packageJsEntrypoint', packageJsEntrypoint);
						}

						if (data.entrypoints.css) {
							if (data.entrypoints.css.guessed) {
								isGuessedFile = true;
							}

							packageCssEntrypoint = data.entrypoints.css.file;
							this.set('installLinkHref', `https://cdn.jsdelivr.net/${packageType}/${packageName}${installPackageVersion}${packageCssEntrypoint}`);
							this.set('packageCssEntrypoint', packageCssEntrypoint);
						}

						this.set('isGuessedFile', isGuessedFile);
						this.set('installEsmSrc', `https://cdn.jsdelivr.net/npm/${packageName}${installPackageVersion}/+esm`);

						http.fetchPackageFiles(packageType, packageName, packageVersion, 'flat').then((data) => {
							if (packageJsEntrypoint) {
								data.files.forEach((file) => {
									if (file.name === this.get('packageJsEntrypoint')) {
										this.set('packageJsHash', file.hash);
									}
								});
							}

							if (packageCssEntrypoint) {
								data.files.forEach((file) => {
									if (file.name === this.get('packageCssEntrypoint')) {
										this.set('packageCssHash', file.hash);
									}
								});
							}
						});
					});
				});

				this.observe('package.moduleTypes', (value) => {
					if (value.indexOf('esm') !== -1 || value.indexOf('cjs') !== -1) {
						this.set('isDefaultPackage', false);
						this.set('isDefaultPackageTmp', false);
					}
				});

				this.observe('mobileSettingsVisible', (newValue) => {
					let body = document.querySelector('body');

					if (newValue === true) {
						body.classList.add('noscroll');
					} else {
						body.classList.remove('noscroll');
					}
				});
			}
		},
		onClickMobileApply () {
			this.set('isDefaultPackage', this.get('isDefaultPackageTmp'));
			this.set('selectedVersion', this.get('selectedVersionTmp'));
			this.set('mobileSettingsVisible', false);
		},
		onClickMobileCancel () {
			this.set('isDefaultPackageTmp', this.get('isDefaultPackage'));
			this.set('selectedVersionTmp', this.get('selectedVersion'));
			this.set('mobileSettingsVisible', false);
		},
		decorators: {
			clipboard,
		},
		setTypeFilter (filterBy) {
			if (filterBy === this.get('filterType')) {
				this.set('filterType', '');
			} else {
				this.set('filterType', filterBy);
			}
		},
		setStyleFilter (filterBy) {
			if (filterBy === this.get('filterStyle')) {
				this.set('filterStyle', '');
			} else {
				this.set('filterStyle', filterBy);
			}

			console.log(this.get('filterStyle'));
		},
	};
</script>
