<div class="c-package-header">
	{{#with package}}
	<div class="row">
		<div class="col-sm-8">
			{{#if onlyHeader}}
			<a href="/package/npm/{{name}}" class="package-name">{{name}}</a>
			{{else}}
			<h1 class="package-name">{{name}}</h1>
			{{/if}}
		</div>

		<div class="col-sm-4">
			<div class="package-buttons">
				{{#if !type || type === 'npm'}}
				{{#if homepage}}
				<a target="_blank" href="{{homepage}}" class="button" title="Homepage"><i class="fa fa-globe" aria-hidden="true"></i></a>
				{{/if}}
				{{#if githubRepo}}
				<a target="_blank" href="https://github.com/{{githubRepo.user}}/{{githubRepo.project}}/" class="button" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
				{{/if}}
				<a target="_blank" href="https://www.npmjs.com/package/{{name}}" class="button" title="npm"><img src="/img/icons/npm.png" srcset="/img/icons/npm@2x.png 2x"></a>
				<a href="https://registry.npmjs.org/{{name}}/-/{{name.split('/').slice(-1)[0]}}-{{version}}.tgz" class="button" title="Download"><i class="fa fa-download"
																																					aria-hidden="true"></i></a>
				{{else}}
				<a target="_blank" href="https://github.com/{{githubRepo.user}}/{{githubRepo.project}}/" class="button" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
				{{/if}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<a target="_blank" href="{{owner.link}}" class="package-owner"><img src="{{owner.avatar}}" width="20">{{owner.name}}</a>
			<span class="package-label" title="{{version}}"><i class="fa fa-tag" aria-hidden="true"></i> {{version}}</span>
			{{#if license}}<span class="package-label" title="{{license}}"><i class="fa fa-balance-scale" aria-hidden="true"></i> {{license}}</span>{{/if}}

			<p class="package-description">{{{description}}}</p>

			{{#if package.versions}}
			<div class="package-keywords">
				{{#each keywords}}
				<span class="package-label">{{this}}</span>
				{{/each}}
			</div>
			{{/if}}
		</div>
	</div>
	{{/with}}
</div>
