<div class="c-periods-dropdown">
	<div class="btn-group">
		<button
			type="button"
			class="btn dropdown-toggle"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false">
			<span>{{selectedValue}}</span>

			<i class="fa fa-angle-down" aria-hidden="true"></i>
		</button>

		<ul class="dropdown-menu">
			{{#each prepStatPeriods}}
				<li><a on-click="@this.handleClick(periodValue)">{{periodText}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>

<script>
	const _ = require('../../public/js/_');

	component.exports = {
		data () {
			return {
				prepStatPeriods: [],
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('@shared.rawListStatPeriods', (rawListStatPeriods) => {
					let prepStatPeriods = _.getPreparedListStatPeriods(rawListStatPeriods);

					this.set('prepStatPeriods', prepStatPeriods);
				}, { init: false });
			}
		},
		handleClick (period) {
			let selectHandler = this.get('selectHandler');

			selectHandler(period);
		},

	};
</script>
