<div class="c-periods-dropdown">
	{{#if periodToDisplay}}
		<div class="dropdown_head">
			{{#if pinnedLabel}}
				{{>pinnedLabel}}
			{{/if}}

			<div class="dropdown_head_selected" on-click="@this.toggleDropdown()">
				<a>{{periodToDisplay}}</a>
				<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/chevron-down.svg" loading="lazy"/>
			</div>
		</div>

		<div class="dropdown_body {{#if dropdownOpened}}opened{{/if}}">
			<div class="dropdown_body_filter">
				<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/magnifier.svg">
				<input placeholder="{{filterPlaceholder}}" value="{{filterBy}}">
			</div>

			{{#if filteredPeriods.length }}
				<div class="dropdown_body_list">
					{{#each prepStatPeriods}}
						{{#if periodType === 'separator'}}
							<div class="dropdown_body_list_separator"></div>
						{{else}}
							<div on-click="@this.handleClick(this)"
								class="dropdown_body_list_item {{#if currentSelectedClass && periodText === periodToDisplay}}{{currentSelectedClass}}{{/if}}">
								{{periodText}}
							</div>
						{{/if}}
					{{/each}}
				</div>
			{{else}}
				<div class="dropdown_body_nothing-found-msg">
					{{nothingFoundMsg}}
				</div>
			{{/if}}
		</div>
	{{/if}}
</div>

<script>
	const _ = require('../../assets/js/_');

	component.exports = {
		computed: {
			filteredPeriods () {
				let filterBy = this.get('filterBy');
				let prepStatPeriods = this.get('prepStatPeriods');

				if (filterBy) {
					return prepStatPeriods.filter(v => v.includes(filterBy));
				}

				return prepStatPeriods;
			},
		},
		data () {
			return {
				periodToDisplay: null,
				prepStatPeriods: [],
				filterPlaceholder: 'Find period..',
				nothingFoundMsg: 'No periods found..',
				dropdownOpened: false,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('@shared.rawListStatPeriods', (rawListStatPeriods) => {
					if (rawListStatPeriods) {
						let prepStatPeriods = _.getPreparedListStatPeriods(rawListStatPeriods);

						this.set('prepStatPeriods', prepStatPeriods);
					}
				});

				this.observe('selectedValue prepStatPeriods', () => {
					let selectedValue = this.get('selectedValue');
					let prepStatPeriods = this.get('prepStatPeriods');

					if (selectedValue && prepStatPeriods && prepStatPeriods.length) {
						prepStatPeriods.forEach((prepPeriod) => {
							if (prepPeriod.periodValue === selectedValue) {
								this.set('periodToDisplay', prepPeriod.periodText);
							}
						});
					}
				});
			}
		},
		oncomplete () {
			if (!Ractive.isServer) {
				// close dropdown and clear filter on click outside the dropdown el
				let el = this.find('.c-periods-dropdown');

				document.addEventListener('click', (event) => {
					let currDropdownOpened = this.get('dropdownOpened');

					if (currDropdownOpened && !el.contains(event.target)) {
						this.set('filterBy', null);
						this.set('dropdownOpened', false);
					}
				});
			}
		},
		toggleDropdown () {
			this.set('dropdownOpened', !this.get('dropdownOpened'));
		},
		handleClick (periodData) {
			let selectHandler = this.get('selectHandler');

			this.toggleDropdown();
			this.set('filterBy', null);
			selectHandler(periodData);
		},
	};
</script>
