<div class="c-periods-dropdown">
	{{#if periodToDisplay}}
		<div class="btn-group">
			<button
				type="button"
				class="btn dropdown-toggle"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false">
				<span>{{periodToDisplay}}</span>

				<i class="fa fa-angle-down" aria-hidden="true"></i>
			</button>

			<ul class="dropdown-menu">
				{{#each prepStatPeriods}}
					<li><a on-click="@this.handleClick(this)">{{periodText}}</a></li>
				{{/each}}
			</ul>
		</div>
	{{/if}}
</div>

<script>
	const _ = require('../../public/js/_');

	component.exports = {
		data () {
			return {
				periodToDisplay: null,
				prepStatPeriods: [],
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('@shared.rawListStatPeriods', (rawListStatPeriods) => {
					let prepStatPeriods = _.getPreparedListStatPeriods(rawListStatPeriods);

					this.set('prepStatPeriods', prepStatPeriods);
				}, { init: false });

				this.observe('selectedValue prepStatPeriods', () => {
					let selectedValue = this.get('selectedValue');
					let prepStatPeriods = this.get('prepStatPeriods');

					if (selectedValue && prepStatPeriods && prepStatPeriods.length) {
						prepStatPeriods.forEach((prepPeriod) => {
							if (prepPeriod.periodValue === selectedValue) {
								this.set('periodToDisplay', prepPeriod.periodText);
							}
						});
					}
				}, { init: false });
			}
		},
		handleClick (periodData) {
			let selectHandler = this.get('selectHandler');

			selectHandler(periodData);
		},
	};
</script>
