<link rel="ractive" href="./shared/project.html" name="Project">
<link rel="ractive" href="./shared/collection.html" name="Collection">
<link rel="ractive" href="./shared/header.html" name="Header">

<Header app="{{app}}" query="{{query}}"></Header>
<Collection collection="{{collection}}"></Collection>

<div class="projects">
	<div class="container">
		<div class="row" intro="{{#if fadeIn}}fade{{/if fadeIn}}">
			<div class="col-lg-16 col-lg-offset-4 col-md-22 col-md-offset-1 col-sm-24 col-sm-offset-0 col-xs-20 col-xs-offset-2">
				<Project project="{{project}}" collection="{{collection}}" expandFiles="{{expandFiles}}"></Project>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		oninit: function () {
			if (!Ractive.isServer) {
				var search = require('public/js/utils/search.js');
				var _this = this;

				search('name: ' + this.get('name')).then(function (result) {
					_this.set('project', result.response.hits[0]);
				});
			}
		}
	};
</script>
