<div class="c-range-slider">
	{{#if useDefaultHeader}}
			<div class="range-slider-header">
				{{#if donationValue}}
						{{creditsPerDollar * donationValue}} credits/donation
				{{/if}}
			</div>
	{{elseif @this.partials.customHeader}}
		{{>customHeader}}
	{{/if}}

	<div id="slider-container" class="range-slider">
		<div id="slider-line" class="range-slider_line"></div>
		<div id="slider-knob" class="range-slider_knob"></div>
	</div>

	{{#if partsLabelsData && partsLabelsData.length === partsCount}}
		<div id="slider-labels" class="range-slider-labels"></div>
	{{/if}}
</div>

<script>
	component.exports = {
		data () {
			return {
				useDefaultHeader: true,
				zeroSliderPosAsActive: true,
				creditsPerDollar: 200,
				donationValue: null,
				partsCount: 9,
				partsGap: 2,
				sliderPosition: 0,
				partsElements: [],
				partWidth: null,
				partClassname: 'range-slider_line_part',
				gapClassname: 'range-slider_line_gap',
				partLabelClassname: 'range-slider-labels_label',
				partsLabelsData: [
					{
						displayed: '1$',
						value: '1',
					},
					{
						displayed: '2$',
						value: '2',
					},
					{
						displayed: '4$',
						value: '4',
					},
					{
						displayed: '8$',
						value: '8',
					},
					{
						displayed: '16$',
						value: '16',
					},
					{
						displayed: '32$',
						value: '32',
					},
					{
						displayed: '64$',
						value: '64',
					},
					{
						displayed: '128$',
						value: '128',
					},
					{
						displayed: 'Custom',
						value: '0',
					},
				],
			};
		},
		onrender () {
			if (!Ractive.isServer) {
				let partsCount = this.get('partsCount');
				let partsGap = this.get('partsGap');
				let partsLabelsData = this.get('partsLabelsData');
				let sliderContainer = document.getElementById('slider-container');
				let sliderKnob = document.getElementById('slider-knob');
				let sliderLine = document.getElementById('slider-line');
				let sliderLabels = document.getElementById('slider-labels');
				let parts = [];
				let partsLabels = [];

				// divide the line with parts and gaps, create parts labels
				for (let i = 0; i < partsCount; i++) {
					let partEl = document.createElement('div');

					partEl.className = this.get('partClassname');
					parts.push(partEl);
					sliderLine.appendChild(partEl);

					// add gap except after the last part
					if (i < partsCount - 1) {
						let gapEl = document.createElement('div');

						gapEl.className = this.get('gapClassname');
						sliderLine.appendChild(gapEl);
					}

					// create parts labels
					if (partsLabelsData && partsLabelsData.length === partsCount) {
						let partLabelEl = document.createElement('div');

						partLabelEl.className = this.get('partLabelClassname');
						partLabelEl.textContent = partsLabelsData[i].displayed;
						partsLabels.push(partLabelEl);
						sliderLabels.appendChild(partLabelEl);

						// add gap except after the last part
						if (i < partsLabelsData.length - 1) {
							let gapEl = document.createElement('div');

							gapEl.className = this.get('gapClassname');
							sliderLabels.appendChild(gapEl);
						}
					}
				}

				let partWidth = parts[0].offsetWidth + partsGap;

				this.set('partsElements', parts);
				this.set('partWidth', partWidth);

				// set slider with mouse click
				sliderContainer.addEventListener('click', (event) => {
					let rect = sliderContainer.getBoundingClientRect();
					let x = event.clientX - rect.left;

					this.moveSliderToClosestPart(x);
				});

				// handle the sliderKnob dragging
				sliderKnob.addEventListener('mousedown', (event) => {
					event.preventDefault();

					let onMouseMove = (event) => {
						let rect = sliderContainer.getBoundingClientRect();
						let x = event.clientX - rect.left;

						this.moveSliderToClosestPart(x);
					};

					let onMouseUp = () => {
						document.removeEventListener('mousemove', onMouseMove);
						document.removeEventListener('mouseup', onMouseUp);
					};

					document.addEventListener('mousemove', onMouseMove);
					document.addEventListener('mouseup', onMouseUp);
				});

				// handle keyboard controls
				document.addEventListener('keydown', (event) => {
					let sliderPosition = this.get('sliderPosition');
					let partsCount = this.get('partsCount');

					if (event.key === 'ArrowLeft') {
						sliderPosition = sliderPosition - 1 < 0 ? 0 : sliderPosition - 1;
					} else if (event.key === 'ArrowRight') {
						sliderPosition = sliderPosition + 1 > partsCount ? partsCount : sliderPosition + 1;
					}

					this.set('sliderPosition', sliderPosition);

					this.updateSliderPosition();
				});

				// initiate the slider
				this.updateSliderPosition();

				// handle slider position
				this.observe('sliderPosition', (sliderPosition) => {
					let zeroSliderPosAsActive = this.get('zeroSliderPosAsActive');
					let partsLabelsData = this.get('partsLabelsData');
					let partIdx;

					if (zeroSliderPosAsActive && sliderPosition === 0) {
						partIdx = sliderPosition;
					} else {
						partIdx = sliderPosition - 1;
					}

					if (partIdx < 0) {
						this.set('donationValue', null);
					} else {
						this.set('donationValue', partsLabelsData[partIdx].value);
					}
				});
			}
		},
		updateSliderPosition () {
			let sliderPosition = this.get('sliderPosition');
			let partsElements = this.get('partsElements');
			let partWidth = this.get('partWidth');
			let sliderKnobEl = document.getElementById('slider-knob');

			sliderKnobEl.style.left = `${sliderPosition * partWidth}px`;

			// highlight parts to the left of the sliderKnobEl
			partsElements.forEach((partEl, idx) => {
				if (idx < sliderPosition) {
					partEl.style.backgroundColor = '#17d4a7';
				} else {
					partEl.style.backgroundColor = '#e7e7ee';
				}
			});
		},
		moveSliderToClosestPart (x) {
			let partWidth = this.get('partWidth');
			let partsCount = this.get('partsCount');

			// calculate closest part
			let sliderPosition = Math.round(x / partWidth);

			// snap to the exact start or end of the slider line
			if (sliderPosition < 0) {
				sliderPosition = 0;
			} else if (sliderPosition > partsCount) {
				sliderPosition = partsCount;
			}

			this.set('sliderPosition', sliderPosition);

			this.updateSliderPosition();
		},
	};
</script>
