<div class="c-request-bandwidth-stats">
	<div>
		<div class="card-icon">
			<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/request.svg">
		</div>
		<div class="card-main-stat">
			<span>{{_.formatNumber(requestsAmount)}}</span>
			<span>Requests Served</span>
		</div>
		<div class="card-growth">
			<span class="{{#if requestsGrowthPercent>=0}}growth-positive{{else}}growth-negative{{/if}}">{{#if requestsGrowthPercent>0}}+{{/if}}{{requestsGrowthPercent}}%</span>
			<span>{{growthPeriod}} {{#if requestsGrowthPercent>=0}}growth{{else}}decline{{/if}}</span>
		</div>
	</div>

	<div>
		<div class="card-icon">
			<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/transfer.svg">
		</div>
		<div class="card-main-stat">
			<span>{{_.formatNumber(bandwidthAmount)}} {{bandwidthUnit}}</span>
			<span>Bandwidth</span>
		</div>
		<div class="card-growth">
			<span class="{{#if bandwidthGrowthPercent>=0}}growth-positive{{else}}growth-negative{{/if}}">{{#if bandwidthGrowthPercent>0}}+{{/if}}{{bandwidthGrowthPercent}}%</span>
			<span>{{growthPeriod}} {{#if bandwidthGrowthPercent>=0}}growth{{else}}decline{{/if}}</span>
		</div>
	</div>
</div>

<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');

	component.exports = {
		data () {
			return {
				_,
				requestsAmount: 0,
				bandwidthAmount: 0,
				requestsGrowthPercent: 34,
				bandwidthGrowthPercent: -9,
				growthPeriods: {
					day: 'daily',
					week: 'weekly',
					month: 'monthly',
					year: 'yearly',
				},
				growthPeriod: 'monthly',
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('period', (period) => {
					let type = 'npm';
					let name = this.get('name');
					let bandwidthUnit = this.get('bandwidthUnit');

					// TODO: these endpoints are only for packages, the custom-cdn-oss pages (cocoapods, musescore, pyodide) will use another custom ednpoints
					Promise.all([
						http.fetchPackageDateStats(type, name, period),
						http.fetchPackageBandwidthStats(type, name, period),
					]).then((responses) => {
						if (responses[0].total >= 0) {
							this.animate('requestsAmount', responses[0].total, { duration: 1000 });
						}

						if (responses[1].total >= 0) {
							if (!bandwidthUnit) {
								if (responses[1].total <= 1e6) {
									bandwidthUnit = 'kB';
									this.set('bandwidthUnit', 'kB');
								} else if (responses[1].total <= 1e9) {
									bandwidthUnit = 'MB';
									this.set('bandwidthUnit', 'MB');
								} else {
									bandwidthUnit = 'GB';
									this.set('bandwidthUnit', 'GB');
								}
							}

							this.animate('bandwidthAmount', _.convertBytesToUnits(responses[1].total, bandwidthUnit), { duration: 1000 });
						}
					});

					this.set('growthPeriod', this.get('growthPeriods')[period]);
				});
			}
		},
	};
</script>
