<div class="c-request-bandwidth-stats">
	<div>
		<div class="card-icon">
			<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/request.svg">
		</div>
		<div class="card-main-stat">
			<span>{{_.formatNumber(requestsAmount)}}</span>
			<span>Requests Served</span>
		</div>
		<div class="card-growth">
			<span class="growth-positive">{{requestsGrowth}}</span>
			<span>{{growthPeriod}} growth</span>
		</div>
	</div>

	<div>
		<div class="card-icon">
			<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/transfer.svg">
		</div>
		<div class="card-main-stat">
			<span>{{_.formatNumber(bandwidthAmount)}}</span>
			<span>Bandwidth</span>
		</div>
		<div class="card-growth">
			<span class="growth-negative">{{bandwidthGrowth}}</span>
			<span>{{growthPeriod}} growth</span>
		</div>
	</div>
</div>

<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');

	component.exports = {
		data () {
			return {
				_,
				requestsAmount: '406745962',
				bandwidthAmount: 0,
				requestsGrowth: '+34%',
				bandwidthGrowth: '-9%',
				growthPeriods: {
					day: 'daily',
					week: 'weekly',
					month: 'monthly',
					year: 'yearly',
				},
				growthPeriod: 'monthly',
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('period', (period) => {
					let type = 'npm';
					let name = this.get('name');

					// TODO: this endpoint is only for packages, the custom-cdn-oss pages (cocoapods, musescore, pyodide) will use another custom ednpoints
					http.fetchPackageBandwidthStats(type, name, period).then((response) => {
						if (!response.total) {
							return;
						}

						this.animate('bandwidthAmount', _.convertBytesToUnits(response.total), { duration: 1000 });
					});
				});

				this.observe('period', (period) => {
					if (!period) { return; }

					this.set('growthPeriod', this.get('growthPeriods')[period]);
				});
			}
		},
	};
</script>
