<div class="c-search-compact">
	<div class="search-input-wrapper">
		<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/magnifier.svg">
		<input type="text" class="search-input" placeholder="search all of npm" value="{{query}}" on-keydown="@this.onKeyDown()">
	</div>
</div>

<script>
	component.exports = {
		onrender () {
			if (!this.isServer) {
				this.observe('query', (newValue) => {
					this.goTo(newValue);
				}, { init: false });
			}
		},
		onKeyDown () {
			// noinspection JSDeprecatedSymbols
			if (this.event.original.keyCode === 13) {
				this.goTo(this.get('query'));
			}
		},
		goTo (query) {
			app.router.dispatch(`/?query=${encodeURIComponent(query)}`, { state: { caretPosition: this.find('.search-input').selectionStart } });
			scrollTo(0, Math.floor($('.search-input').offset().top / 100) * 100);
		},
	};
</script>
