<div class="c-statistics-project-table">
	<div class="projects-info">
		<h3>{{title}}</h3>

		<div class="btn-group">
			<span>Type:</span>
			<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span>{{statsTypeList[statsType]}}</span>
				<i class="fa fa-angle-down" aria-hidden="true"></i>
			</button>

			<ul class="dropdown-menu">
				{{#each statsTypeList}}
					<li><a on-click="@this.set('statsType', @key)">{{this}}</a></li>
				{{/each}}
			</ul>
		</div>
	</div>

	<div class="projects-content">
		<div class="projects-content_table">
			<div class="projects-content_table_header">
				<div class="cell cell_one">Name</div>
				<div class="cell cell_two">Requests</div>
				<div class="cell cell_three">Bandwidth</div>
				<div class="cell cell_four">{{#if dataType === "trending"}}Increased{{/if}}</div>
			</div>

			<div class="projects-content_table_scrollable">
				{{#each projectListByPage}}
					<div class="projects-content_table_row">
						<div class="cell cell_one">
							<span class="proj-index">{{id}}</span>

							<div class="proj-path">
								<span class="proj-path_type">{{type}}/</span>
								<span class="proj-path_name">{{name}}</span>
							</div>

							<span class="proj-growth {{ interest >= 0? 'positive': 'negative'}}">{{toSignedPercentage(interest)}}</span>
						</div>

						<div class="cell cell_two">
							<span>Requests</span>
							<div class="percentage-bar-container">
								<div class="text">{{formatNumberWithSpace(hits)}}</div>
								<div class="percentage-bar">
									<div class="barWidth" style="width: {{ barWidth.hits }}"></div>
								</div>
							</div>
						</div>

						<div class="cell cell_three">
							<span>Bandwidth</span>
							<div class="percentage-bar-container">
								<div class="text">{{bandwidth}}</div>
								<div class="percentage-bar">
									<div class="barWidth" style="width: {{ barWidth.bandwidth }}"></div>
								</div>
							</div>
						</div>

						<div class="cell cell_four {{interest >= 0 ? 'positive': 'negative'}}">
							{{#if dataType === "trending"}}
								{{toSignedPercentage(interest)}}
							{{/if}}
						</div>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="projects-content_pagination">
			<div class="projects-content_pagination_range">
				<span class="supporting-text_alt">Records</span>
				<span>{{pageRange}}</span>
			</div>

			<div class="projects-content_pagination_numeration">
				<button on-click="@this.prevPage()" class="{{#if page === 1}}disabled{{/if}}">
					<img
						width="20"
						height="24"
						src="{{@shared.assetsHost}}/img/statistics/left.svg"
						loading="lazy">
				</button>

				{{#each showablePages.pageCount}}
					<button
						class="page-num {{ #if (~/showablePages.start + @key) === page }}selected{{ /if }}"
						on-click="@this.set('page', ~/showablePages.start + @key)">
						{{~/showablePages.start + @key}}
					</button>
				{{/each}}

				<button on-click="@this.nextPage()" class="{{#if page === showablePages.totalPages }}disabled{{/if}}">
					<img
						width="24"
						height="24"
						src="{{@shared.assetsHost}}/img/statistics/right.svg"
						loading="lazy">
				</button>
			</div>

			<div class="projects-content_pagination_ctrls">
				<button class="projects-content_pagination_ctrls_btn projects-content_pagination_ctrls_btn-prev {{#if page === 1}}disabled{{/if}}"
					on-click="@this.prevPage()">
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/statistics/left.svg" loading="lazy">
				</button>

				<div class="projects-content_pagination_ctrls_limit">
					<span class="supporting-text">Page:</span>
					<span class="supporting-text_alt">Show:</span>

					<div class="btn-group">
						<button
							type="button"
							class="btn dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
							<span>{{pageLimit}}</span>

							<img width="20" height="20" src="{{@shared.assetsHost}}/img/statistics/left.svg" loading="lazy">
						</button>

						<ul class="dropdown-menu">
							{{#each paginationLimits}}
								<li><a on-click="@this.set('pageLimit', this)">{{this}}</a></li>
							{{/each}}
						</ul>
					</div>

					<span class="supporting-text_alt">per page</span>
				</div>

				<button class="projects-content_pagination_ctrls_btn projects-content_pagination_ctrls_btn-next {{#if page === showablePages.totalPages}}disabled{{/if}}"
					on-click="@this.nextPage()">
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/statistics/right.svg" loading="lazy">
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');

	component.exports = {
		computed: {
			pageRange () {
				let page = this.get('page');
				let pageLimit = parseInt(this.get('pageLimit'));
				let total = this.get('projectList').length;

				let start = (page - 1) * pageLimit + 1;
				let end = start + pageLimit - 1;
				end = total > end ? end : total;

				return `${start} - ${end} of ${total}`;
			},
			showablePages () {
				let page = this.get('page');
				let pageLimit = parseInt(this.get('pageLimit'));
				let totalRows = this.get('projectList').length;

				let totalPages = Math.ceil(totalRows / pageLimit) || 1;

				let start = (page - 2) < 1 ? 1 : page - 2;
				let end = start + 4;

				if (start + 4 > totalPages) {
					start = totalPages - 4 > 0 ? totalPages - 4 : 1;
					end = totalPages;
				}

				return {
					start,
					totalPages,
					pageCount: new Array(end - start + 1),
				};
			},
			projectListByPage () {
				let page = this.get('page');
				let pageLimit = parseInt(this.get('pageLimit'));
				let projectList = this.get('projectList');
				let total = projectList.length;

				let start = (page - 1) * pageLimit + 1;
				let end = start + pageLimit - 1;
				end = total > end ? end : total;

				return projectList.slice(start - 1, end);
			},
			totalPageCount () {
				let pageLimit = parseInt(this.get('pageLimit'));
				let totalRows = this.get('projectList').length;

				return Math.ceil(totalRows / pageLimit) || 1;
			},
		},
		data () {
			return {
				statsType: 'all',
				statsTypeList: {
					all: 'All types',
					npm: 'npm',
					gh: 'Github',
				},
				page: 1,
				pageLimit: '10',
				paginationLimits: [ '10', '20', '30', '40' ],
				projectList: [],
				toSignedPercentage (num) {
					return `${num > 0 ? '+' : ''}${num}%`;
				},
				formatNumberWithSpace: _.formatNumberWithSpace,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('period statsType __ready', function () {
					if (this.get('__ready')) {
						let period = this.get('period');
						let statsType = this.get('statsType');

						// fetch projectList using http api calls
						http.fetchProjectStats(statsType, period).then((res) => {
							this.set('projectList', this.processProjectStats(res));
						});
					}
				});
			}
		},
		processProjectStats (projectList) {
			let hitsMax = Math.max(...projectList.map(({ hits }) => hits));
			let bandwidthMax = Math.max(...projectList.map(({ bandwidth }) => bandwidth));

			return projectList.map((one, index) => {
				let interest = (one.hits + one.bandwidth) * 100 / (one.prev.hits + one.prev.bandwidth) - 1;
				interest = interest.toFixed(2);
				let barWidth = {
					hits: (one.hits * 100 / hitsMax) + '%',
					bandwidth: (one.bandwidth * 100 / bandwidthMax) + '%',
				};
				one.bandwidth = _.formatNumberWithSpace(_.convertBytesToUnits(one.bandwidth)) + ' GB';

				return { ...one, interest, barWidth, id: index + 1 };
			});
		},
		prevPage () {
			let page = this.get('page');

			this.set('page', page > 1 ? page - 1 : page);
		},
		nextPage () {
			let page = this.get('page');
			let pageLimit = parseInt(this.get('pageLimit'));
			let total = this.get('projectList').length;

			this.set('page', page * pageLimit + 1 > total ? page : page + 1);
		},
	};
</script>
