<link rel="ractive" href="./version-dropdown.html" name="c-version-dropdown">

<div class="c-stats-table">
	<table class="stats-table-table">
		<colgroup>
			<col style="width:50%;">
			<col style="width:22%;">
			<col style="width:28%;">
		</colgroup>

		<thead>
			<tr>
				<th colspan="3">
					{{#if title}}
					{{title}}
					{{else}}
					{{>header}}
					{{/if}}
				</th>
			</tr>
		</thead>

		<tbody>
			{{#each ~/data}}
			<tr>
				<td>{{>column1}}</td>
				<td class="hits">{{_.formatNumber(hits)}}</td>
				<td>
					<div class="table-chart" style="width: {{hits / data[0].hits * 100}}px"></div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<script>
	const _ = require('../../public/js/_');

	component.exports = {
		data () {
			return {
				_,
			};
		},
	};
</script>
