<link rel="ractive" href="./shared/header.html" name="Header">

<Header app="{{app}}" query="{{query}}"></Header>

<div class="statistics" style="{{#if !stats.lastUpdate}}background-color: #fff;{{/if}}">
	<div class="container">
		{{#if !stats.lastUpdate}}
			<div class="text-center">
				<h2>Loading...</h2>
			</div>
		{{else}}
			<div class="row">
				<div class="col-xs-12 col-xs-offset-6">
					<h1 class="text-center">
						FASTEST CDN
						<sup><i class="fa fa-info-circle" decorator="tooltip:Based on RUM data from Cedexis Radar"></i></sup>
					</h1>

					<div class="text-center stats-subtitle">
						(last 30 days / Last update: {{formatDate(stats.lastUpdate)}})
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-2 xs-padding">
					<div class="cdn-box best-cdn">
						<div class="cdn-image">
							<img src="/img/sponsors/our-sponsors/platinum/{{stats.cedexis.bestcdnspeed.0.0.toLowerCase()}}.png" width="210">
						</div>

						<div class="cdn-stats">
							Average response time:
							<span class="stats-number">{{stats.cedexis.bestcdnspeed[0][1]}} MS</span>
						</div>

						<div class="cdn-stats">
							Total HTTP requests:
							<span class="stats-number">{{formatNumber(stats.cdn.percdn[stats.cedexis.bestcdnspeed[0][0]])}}</span>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-0 xs-padding">
					<div class="cdn-box">
						<div class="cdn-image">
							<img src="/img/sponsors/our-sponsors/platinum/{{stats.cedexis.bestcdnspeed.1.0.toLowerCase()}}.png" width="210">
						</div>

						<div class="cdn-stats">
							Average response time:
							<span class="stats-number">{{stats.cedexis.bestcdnspeed[1][1]}} MS</span>
						</div>

						<div class="cdn-stats">
							Total HTTP requests:
							<span class="stats-number">{{formatNumber(stats.cdn.percdn[stats.cedexis.bestcdnspeed[1][0]])}}</span>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-7">
					<div class="cdn-box">
						<div class="cdn-image">
							<img src="/img/sponsors/our-sponsors/platinum/{{stats.cedexis.bestcdnspeed.2.0.toLowerCase()}}.png" width="210">
						</div>

						<div class="cdn-stats">
							Average response time:
							<span class="stats-number">{{stats.cedexis.bestcdnspeed[2][1]}} MS</span>
						</div>

						<div class="cdn-stats">
							Total HTTP requests:
							<span class="stats-number">{{formatNumber(stats.cdn.percdn[stats.cedexis.bestcdnspeed[2][0]])}}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-xs-offset-6">
					<h1 class="text-center">
						TOTAL CDN STATS
						<sup><i class="fa fa-info-circle" decorator="tooltip:All hits and traffic that jsDelivr served. Data is combined using each provider's API."></i></sup>
					</h1>

					<div class="text-center stats-subtitle">
						(last 30 days / Last update: {{formatDate(stats.lastUpdate)}})
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-2 xs-padding">
					<div class="stats-box">
						<div class="stats-title">
							LOAD BALANCING DECISIONS
							<sup><i class="fa fa-info-circle" decorator="tooltip:The amount of routing/load-balancing decisions that jsDelivr did to serve the users. These responses are cached for a few seconds, that's why they are less than the HTTP hits."></i></sup>
						</div>

						<div class="stats-number">{{formatNumber(stats.cedexis.total)}}</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-0 xs-padding">
					<div class="stats-box">
						<div class="stats-title">
							HTTP HITS
							<sup><i class="fa fa-info-circle" decorator="tooltip:The amount of successful HTTP requests that jsDelivr served across all CDN providers."></i></sup>
						</div>

						<div class="stats-number">{{formatNumber(stats.cdn.total.hits)}}</div>
						<div class="stats-traffic"><span class="stats-number">{{Math.floor(stats.cdn.total.traffic / 1024 / 1024 / 1024 / 1024)}}TB</span> SERVED</div>
					</div>
				</div>

				<div class="col-md-6 col-sm-8 col-sm-offset-0 col-xs-10 col-xs-offset-7">
					<div class="stats-box">
						<div class="stats-title">
							DNS REQUESTS
							<sup><i class="fa fa-info-circle" decorator="tooltip:The amount of DNS queries served by our DNS provider. The queries are cached for a few seconds to balance a good performance and failover capabilities."></i></sup>
						</div>

						<div class="stats-number">{{formatNumber(stats.dns.total)}}</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-16 col-md-offset-4 col-xs-20 col-xs-offset-2">
					<div class="chart-box">
						<h3>Load Balancing decisions</h3>

						<div id="load-balancing"></div>
					</div>
				</div>

				<div class="col-md-16 col-md-offset-4 col-xs-20 col-xs-offset-2">
					<div class="chart-box">
						<h3>DNS requests</h3>

						<div id="dns-requests"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-16 col-md-offset-4 col-xs-20 col-xs-offset-2">
					<div class="chart-box">
						<h3>
							Load Balancing decisions map
							<sup><i class="fa fa-info-circle" decorator="tooltip:The amount of routing/load-balancing decisions per country for 30 days."></i></sup>
						</h3>

						<div id="load-balancing-map"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-16 col-md-offset-4 col-xs-20 col-xs-offset-2">
					<div class="chart-box">
						<h3>
							Performance map
							<sup><i class="fa fa-info-circle" decorator="tooltip:The performance of jsDelivr across the world based on the RUM data provided by Cedexis."></i></sup>
							<span class="stats-subtitle">Based on tens of millions of RUM tests for the last 24 hours</span>
						</h3>

						<div id="performance-map"></div>
					</div>

				</div>
			</div>
		{{/if !stats}}
	</div>
</div>

<script type="text/javascript">
	var tooltipDecorator = require('public/js/decorators/tooltip');
	var debounce = require('public/js/utils/debounce');
	var cdnColors = [ '#4517f3', '#00a6c9', '#9b24b4', '#ef6e5c' ];
	var loading = 3;
	var chartsLoaded, stats;

	component.exports = {
		data: function () {
			return {
				title: 'Statistics - jsDelivr',
				stats: stats,
				formatDate: formatDate,
				formatNumber: formatNumber,
			};
		},
		oninit: function () {
			if (!Ractive.isServer) {
				var _this = this;

				if (!chartsLoaded) {
					google.charts.load('44', {
						packages: [ 'corechart' ],
						language: 'en',
						callback: onLoad
					});
				}

				if (!stats) {
					$.getJSON('/api/stats', function (data) {
						stats = data;

						stats.cedexis.decisions = stats.cedexis.decisions.map(function (entry) {
							return [
								new Date(entry[0] * 1000),
								entry[1],
								'point { size: 3; fill-color: #fff; stroke-width: 2; stroke-color: ' + cdnColors[0] +' }',
								entry[2],
								'point { size: 3; fill-color: #fff; stroke-width: 2; stroke-color: ' + cdnColors[1] +' }',
								entry[3],
								'point { size: 3; fill-color: #fff; stroke-width: 2; stroke-color: ' + cdnColors[2] +' }',
								entry[4],
								'point { size: 3; fill-color: #fff; stroke-width: 2; stroke-color: ' + cdnColors[3] +' }',
							];
						});

						stats.dns.chart = stats.dns.chart.map(function (entry) {
							entry[0] = new Date(entry[0] * 1000);
							entry[2] = 'point { size: 3; fill-color: #fff; stroke-width: 2; stroke-color: ' + cdnColors[1] +' }';
							return entry;
						});

						stats.cedexis.map.forEach(function (entry) {
							entry[2] = '<span class="total-hits">' + formatNumber(entry[1]) + '</span><img src="data:image/png;base64,' + entry[2] + '">';
						});

						_this.set('stats', stats);
						onLoad();
					});
				}
			}
		},
		onrender: function () {
			var onResize = debounce(draw);

			$(window).on('resize', onResize);
			this.on('unrender', function () {
				$(window).off('rezize', onResize);
			});

			onLoad();
		},
		decorators: {
			tooltip: tooltipDecorator,
		},
	};

	function onLoad () {
		if (--loading <= 0) {
			draw()
		}
	}

	function draw () {
		chartsLoaded = true;

		if (loading <= 0) {
			var lineChartDefaults = {
				areaOpacity: .6,
				chartArea: {
					left: 100,
					top: 30,
					height: 350,
					width: '88%',
				},
				colors: cdnColors,
				curveType: 'function',
				focusTarget: 'category',
				fontName: 'Open Sans',
				fontSize: 13,
				hAxis: {
					format: 'MMM d, y',
					gridlines: {
						color: '#dee2e6',
					},
					title: 'Date',
					titleTextStyle: {
						fontSize: 12,
						bold: true,
						italic: false,
					}
				},
				height: 480,
				legend: {
					position: 'bottom',
				},
				lineWidth: 0.1,
				tooltip: {
					isHtml: true,
					trigger: 'both',
					textStyle: {
						color: '#fff',
					}
				},
				vAxis: {
					baseline: 0,
					baselineColor: '#dee2e6',
					format: 'decimal',
					gridlines: {
						color: '#dee2e6',
						count: -1,
					},
				},
				width: '100%',
			};
			var mapChartDefaults = {
				fontName: 'Open Sans',
				legend: {
					position: 'none',
				},
				tooltip: {
					isHtml: true,
					trigger: 'both',
					textStyle: {
						color: '#fff',
					},
				},
			};
			var numberFormatter = new google.visualization.NumberFormat({ fractionDigits: 0 });
			var perfFormatter = new google.visualization.NumberFormat({ fractionDigits: 0, suffix: ' ms' });

			// Load balancing.
			var loadBalancingData = new google.visualization.DataTable();

			loadBalancingData.addColumn('date', 'Date');
			loadBalancingData.addColumn('number', 'StackPath');
			loadBalancingData.addColumn({ type: 'string', role: 'style' });
			loadBalancingData.addColumn('number', 'Cloudflare');
			loadBalancingData.addColumn({ type: 'string', role: 'style' });
			loadBalancingData.addColumn('number', 'KeyCDN');
			loadBalancingData.addColumn({ type: 'string', role: 'style' });
			loadBalancingData.addColumn('number', 'Quantil');
			loadBalancingData.addColumn({ type: 'string', role: 'style' });
			loadBalancingData.addRows(stats.cedexis.decisions);

			numberFormatter.format(loadBalancingData, 1);
			numberFormatter.format(loadBalancingData, 2);
			numberFormatter.format(loadBalancingData, 3);
			numberFormatter.format(loadBalancingData, 4);

			var loadBalancingChart = new google.visualization.AreaChart($('#load-balancing')[0]);
			loadBalancingChart.draw(loadBalancingData, lineChartDefaults);

			// DNS.
			var dnsData = new google.visualization.DataTable();

			dnsData.addColumn('date', 'Date');
			dnsData.addColumn('number', 'Requests');
			dnsData.addColumn({ type: 'string', role: 'style' });
			dnsData.addRows(stats.dns.chart);

			numberFormatter.format(dnsData, 1);

			var dnsChart = new google.visualization.AreaChart($('#dns-requests')[0]);
			dnsChart.draw(dnsData, $.extend(true, {}, lineChartDefaults, {
				legend: {
					position: 'none',
				},
				colors: [ cdnColors[1] ],
			}));

			// Load balancing map.
			var mapData = new google.visualization.DataTable();

			mapData.addColumn('string', 'Country');
			mapData.addColumn('number', 'Decisions');
			mapData.addColumn({ type: 'string', role: 'tooltip', p: { html: true } });
			mapData.addRows(stats.cedexis.map);

			numberFormatter.format(mapData, 1);

			var mapChart = new google.visualization.GeoChart($('#load-balancing-map')[0]);
			mapChart.draw(mapData, $.extend(true, {
				colorAxis: {
					colors: [ '#46a3d5', '#a9edd9', '#ffee99', '#f9a674', '#f08c6b', '#dc5559' ],
					maxValue: 60000000,
				},
			}, mapChartDefaults));

			// Performance map.
			var perfMapData = new google.visualization.DataTable();

			perfMapData.addColumn('string', 'Country');
			perfMapData.addColumn('number', 'HTTP load time');
			perfMapData.addRows(stats.cedexis.perfmap);

			perfFormatter.format(perfMapData, 1);

			var perfMapChart = new google.visualization.GeoChart($('#performance-map')[0]);
			perfMapChart.draw(perfMapData, $.extend(true, {
				colorAxis: {
					colors: [ '#46a3d5', '#a9edd9', '#ffee99', '#f9a674', '#f08c6b', '#dc5559' ],
					maxValue: 200,
				},
			}, mapChartDefaults));
		}
	}

	function formatDate (date) {
		return new Date(date).toLocaleString('en', {
			hour12: false,
			month: 'short',
			day: 'numeric',
			year: 'numeric',
			hour: 'numeric',
			minute: 'numeric',
		});
	}

	function formatNumber (number) {
		return number.toString().replace(/\d(?=(?:\d{3})+$)/g, '$&,');
	}
</script>
