<link rel="ractive" href="./version-dropdown.html" name="c-version-dropdown">

<div class="c-stats-table">
	<table class="stats-table-table">
		<colgroup>
			{{#each columns}}
			<col style="width:{{width}};">
			{{/each}}
		</colgroup>

		<thead>
			<tr>
				<th colspan="3">
					{{#if title}}
					{{title}}
					{{else}}
					{{>header}}
					{{/if}}
				</th>
			</tr>
		</thead>

		<tbody>
			{{#each ~/data}}
			<tr>
				<td>{{>column1}}</td>
				<td class="hits">{{formatValue(this[valueKey])}}</td>
				<td>
					<div class="table-chart" style-width="{{this[valueKey] / data[desc ? 0 : data.length - 1][valueKey] * 100}}%"></div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<script>
	const _ = require('../../public/js/_');
	const tooltip = require('../../public/js/decorators/tooltip');

	component.exports = {
		data () {
			return {
				columns: [
					{ width: '50%' },
					{ width: '22%' },
					{ width: '28%' },
				],
				desc: true,
				formatValue: _.formatNumber,
				valueKey: 'hits',
			};
		},
		decorators: {
			tooltip,
		},
	};
</script>
