<label class="c-tags-input {{classList}} {{#if inputIcon}}with-input-icon{{/if}} {{#unless value}}no-values{{/unless}}">
	<div class="c-tags-input_info">
		<span class="c-tags-input_info_label">
			{{labelText}}
			{{#if @this.partials.labelIcon}}
				{{>labelIcon}}
			{{/if}}
		</span>

		{{#if error}}
			<span class="c-tags-input_info_errorMsg">
				{{error}}
			</span>

			<img class="c-tags-input_err-icon"
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/globalping/alert-icon.svg">
		{{/if}}

		{{#if !value && inputIcon}}
			<img class="c-tags-input_input-icon"
				width="20"
				height="20"
				src="{{@shared.assetsHost}}/img/globalping/{{inputIcon}}">
		{{/if}}
	</div>

	{{#if id}}
		<input id="{{id}}"
			type="text"
			placeholder="{{placeholder}}"
			class="{{#if error}}has-error{{/if}}"
			autofocus>
	{{else}}
		<input
			type="text"
			placeholder="{{placeholder}}"
			class="{{#if error}}has-error{{/if}}"
			autofocus>
	{{/if}}
</label>

<script>
	const debounce = require('../../assets/js/utils/debounce');
	const throttle = require('../../assets/js/utils/throttle');
	const tooltip = require('../../assets/js/decorators/tooltip');

	component.exports = {
		decorators: {
			tooltip,
		},
		data () {
			return {
				invalidValue: null,
				errMsgTopPos: false,
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observeOnce('error', () => {
					this.set('invalidValue', this.get('value'));
				}, { init: false });

				this.observe('screenWidth', (screenWidth) => {
					if ((screenWidth || innerWidth) < 768) {
						this.set('errMsgTopPos', true);
					} else {
						this.set('errMsgTopPos', false);
					}
				});

				// TODO: temp 592
				this.observe('value', (value) => {
					console.log("+++++ value", value);
					console.log("__________________");
				});
			}
		},
		onrender () {
			// detect window resize
			window.addEventListener('resize', debounce(throttle(() => this.set('screenWidth', innerWidth), 200)));
		},
		oncomplete () {
			if (!Ractive.isServer) {
				let inputElm = document.querySelector('label.c-tags-input input');

				let tagifyInst = new Tagify (inputElm);

				tagifyInst.on('add', (e) => {
					let addedTagValue = e.detail.data.value;
					let currValue = this.get('value');
					// TODO: temp, replace it later with an array flow
					let newValue = currValue ? currValue + ', ' + addedTagValue : addedTagValue;

					this.set('value', newValue);
				});

				tagifyInst.on('remove', (e) => {
					let removedTagValue = e.detail.data.value;
					let currValue = this.get('value');
					// TODO: temp, replace it later with an array flow
					let newValue = currValue.includes(', ') ? currValue.replace(', ' + removedTagValue, '') : currValue.replace(removedTagValue, '');

					this.set('value', newValue);
				});
			}
		},
	};
</script>
