<div class="c-tiles">
	{{#each tilesData}}
		<div class="c-tiles_tile {{#if status}}disabled{{/if}}">
			<div class="c-tiles_tile_img" class="{{imgClass}}">
					<img
						width="{{imgW || defaultImgW}}"
						height="{{imgH || defaultImgH}}"
						src="{{@shared.assetsHost}}{{baseImgSrc}}/{{imgName}}{{imgExt}}"
						{{#if has2x}}
							srcset="{{@shared.assetsHost}}{{baseImgSrc}}/{{imgName}}@2x{{imgExt}} 2x"
						{{/if}}>
			</div>
			<div class="c-tiles_tile_header">{{header}}</div>
			<div class="c-tiles_tile_descr">{{descr}}</div>
			{{#if status}}
				<div class="c-tiles_tile_status">{{status}}</div>
			{{else}}
				<a href="{{href}}" class="c-tiles_tile_link" {{#if externalLink}}target="_blank" rel="noopener noreferrer"{{/if}}>
					{{defaultLinkText}}
				</a>
			{{/if}}
		</div>
	{{/each}}
</div>

<script>
	component.exports = {
		data () {
			return {
				defaultLinkText: 'Learn more',
				defaultImgW: '48',
				defaultImgH: '48',
				has2x: false,
			};
		},
	};
</script>
