<div class="c-tiles">
	{{#each tilesData}}
		<div class="c-tiles_tile">
			<img
				class="c-tiles_tile_img"
				width="{{imgW || defaultImgW}}"
				height="{{imgH || defaultImgH}}"
				src="{{@shared.assetsHost}}{{imgSrc}}">
			<div class="c-tiles_tile_header">{{header}}</div>
			<div class="c-tiles_tile_descr">{{descr}}</div>
			{{#if status}}
				<div class="c-tiles_tile_status">{{status}}</div>
			{{else}}
				<div href="{{href}}" class="c-tiles_tile_link">{{defaultLinkText}}</div>
			{{/if}}
		</div>
	{{/each}}
</div>

<script>
	component.exports = {
		data () {
			return {
				defaultLinkText: 'Learn more',
				defaultImgW: '48',
				defaultImgH: '48',
			};
		},
	};
</script>
