<div class="c-top-stats-table">
	<div class="table-wrapper">
		<div class="table-header">
			{{#if title}}
				{{title}}
			{{else}}
				{{>header}}
			{{/if}}
		</div>

		<div class="table-body">
			{{#each ~/data}}
				<div class="table-row">
					<div>{{>column1}}</div>
					<div class="hits">{{formatValue(this[valueKey])}}</div>
					<div>
						<div class="table-chart" style-width="{{this[valueKey] / data[desc ? 0 : data.length - 1][valueKey] * 100}}%"></div>
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>

<script>
	const _ = require('../../public/js/_');

	component.exports = {
		data () {
			return {
				desc: true,
				formatValue: _.formatNumber,
				valueKey: 'hits',
			};
		},
	};
</script>
