<div class="c-top-platform-browser">
	<div class="table-info">
		<h3>Top {{ topDataType }}s</h3>

		<div class="switch-block">
			<label class="switch">
				<input type="checkbox" on-click="@this.set('isVersionGrouped', !isVersionGrouped)" disabled='{{selectedItem}}' checked>
				<span class="slider round"></span>
			</label>
			<span class="name">Group {{ topDataType }} versions</span>
		</div>
	</div>

	<div class="table-wrapper">
		<div class="table-wrapper_chosen-platform">
			{{#if !selectedItem}}
				<img class="table-wrapper_chosen-platform_choose-icon"
					width="20"
					height="20"
					src="{{@shared.assetsHost}}/img/statistics/information.svg"
					loading="lazy">

				<span class="table-wrapper_chosen-platform_choose-msg">Choose {{ topDataType }} below to check more data</span>
			{{else}}
				<div class="table-wrapper_chosen-platform_selected">
					<div class="chosen-name" on-click="@this.set('selectedItem', '')">
						<img src="{{@shared.assetsHost}}/img/statistics/left.svg" loading="lazy">

						{{#if selectedItem.icon}}
							<img class="icon"
								width="24"
								height="24"
								src="{{@shared.assetsHost}}/img/statistics{{selectedItem.icon}}"
								loading="lazy">
						{{/if}}

						<span class="chosen-name_platform-name">{{ selectedItem.displayName }}</span>
						&nbsp;
						<span class="chosen-name_platform-share">({{ selectedItem.share }}%<span>&nbsp;globally</span>)</span>
					</div>

					<div class="btn-group">
						<button type="button"
							class="btn dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">

							<span class="breakdown">
								{{ breakdownList[breakdownIdx].name }}
								<span>&nbsp;breakdown</span>
							</span>

							<img width="20" height="20" src="{{@shared.assetsHost}}/img/statistics/left.svg" loading="lazy">
						</button>

						<ul class="dropdown-menu">
							{{#each breakdownList:idx}}
								<li>
									<a on-click="@this.handleBreakdownSelect(idx, breakdownList[idx].disabled)"
										class="{{#if breakdownList[idx].disabled}}disabled{{/if}}">
										{{ breakdownList[idx].name }}
										<span>&nbsp;breakdown</span>
									</a>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			{{/if}}
		</div>

		<div class="table-wrapper_content">
			<div class="table-wrapper_content_header">
				<div class="cell cell_one">Name</div>

				<div class="cell cell_two">
					Market share
					<img width="14" height="14" src="{{@shared.assetsHost}}/img/statistics/left.svg">
				</div>

				<div class="cell cell_three">
					Changes
					<img width="16"
						height="16"
						as-tooltip="'Compared to the previous 30 day period', 'bottom'"
						src="{{@shared.assetsHost}}/img/statistics/information.svg"
						loading="lazy">
				</div>
			</div>

			<div class="table-wrapper_content_scrollable">
				{{#each topListByPage.list as one}}
					<div class="table-wrapper_content_row">
						<div class="cell cell_one {{#unless selectedItem}}cell_one_active{{/unless}}">
							<span class="platform-index">{{ index + 1 }}</span>

							{{#if icon}}
								<img class="platform-icon" width="24" height="24" src="{{@shared.assetsHost}}/img/statistics{{icon}}" loading="lazy">
							{{/if}}

							{{#if !selectedItem}}
								<span class="platform-name" on-click="@this.set('selectedItem', one)">{{ displayName }}</span>
							{{else}}
								<span class="platform-name">{{ displayName }}</span>
							{{/if}}
						</div>

						<div class="cell cell_two text-table-number">{{ share }}%</div>

						<div class="cell cell_three text-table-number {{ changes >= 0? 'positive': 'negative' }}">{{ @this.toSignedPercentage(changes) }}</div>
					</div>
				{{/each}}
			</div>
		</div>

		<div class="table-wrapper_pagination">
			<div class="table-wrapper_pagination_range">{{ pageRange }}</div>

			<div class="table-wrapper_pagination_ctrls">
				<button on-click="@this.prevPage()"
					class="table-wrapper_pagination_ctrls_btn table-wrapper_pagination_ctrls_btn-prev {{#if page === 1}}disabled{{/if}}">
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/statistics/left.svg" loading="lazy">
				</button>

				<div class="table-wrapper_pagination_ctrls_limit">
					<span>Show:</span>

					<div class="btn-group">
						<button type="button"
							class="btn dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">

							<span>{{ pageLimit }}</span>

							<img width="20" height="20" src="{{@shared.assetsHost}}/img/statistics/left.svg" loading="lazy">
						</button>

						<ul class="dropdown-menu">
							{{#each paginationLimits}}
								<li><a on-click="@this.set('pageLimit', this)">{{ this }}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>

				<button on-click="@this.nextPage()"
					class="table-wrapper_pagination_ctrls_btn table-wrapper_pagination_ctrls_btn-next {{#if page === topListByPage.totalPages}}disabled{{/if}}">
					<img width="20" height="20" src="{{@shared.assetsHost}}/img/statistics/right.svg" loading="lazy">
				</button>
			</div>
		</div>
	</div>

	<div class="table-msg">Changes compared to the previous 30 day period</div>
</div>

<script>
	const _ = require('../../public/js/_');
	const http = require('../../public/js/utils/http');
	const countries = require('../../public/json/countries.json');
	const tooltip = require('../../public/js/decorators/tooltip');

	component.exports = {
		computed: {
			pageRange () {
				let page = this.get('page');
				let pageLimit = parseInt(this.get('pageLimit'));
				let total = this.get('topList').length;

				let start = (page - 1) * pageLimit + 1;
				let end = start + pageLimit - 1;
				end = total > end ? end : total;

				return `Records ${start} - ${end} of ${total}`;
			},
			topListByPage () {
				let page = this.get('page');
				let pageLimit = parseInt(this.get('pageLimit'));
				let topList = this.get('topList');
				let totalRows = topList.length;
				let totalPages = Math.ceil(totalRows / pageLimit) || 1;

				let start = (page - 1) * pageLimit + 1;
				let end = start + pageLimit - 1;
				end = totalRows > end ? end : totalRows;

				return {
					totalPages,
					list: topList.slice(start - 1, end),
				};
			},
		},
		decorators: {
			tooltip,
		},
		data () {
			return {
				topList: [],
				isVersionGrouped: true,
				selectedItem: '',
				breakdown: 'countries',
				breakdownIdx: 0,
				breakdownList: [],
				page: 1,
				pageLimit: '10',
				paginationLimits: [ '10', '20', '30', '40' ],
			};
		},
		oninit () {
			if (!Ractive.isServer) {
				this.observe('topDataType selectedItem country', () => {
					let topDataType = this.get('topDataType');
					let selectedItem = this.get('selectedItem');
					let country = this.get('country');

					let breakdownList = [
						{
							value: 'countries',
							name: 'Country',
							disabled: country || false,
						},
						{
							value: topDataType === 'platform' ? 'browsers' : 'platforms',
							name: topDataType === 'platform' ? 'Browser' : 'Platform',
							disabled: selectedItem.version || false,
						},
						{
							value: 'versions',
							name: 'Version',
							disabled: selectedItem.version || false,
						},
					];

					this.set('breakdownList', breakdownList);
				});

				this.observe('breakdownIdx', (breakdownIdx) => {
					let breakdownList = this.get('breakdownList');
					let { value, disabled } = breakdownList[breakdownIdx];

					if (!disabled) {
						this.set('breakdown', value);
					}
				});

				this.observe('isVersionGrouped selectedItem breakdown __ready period country', function () {
					if (this.get('__ready')) {
						let topDataType = this.get('topDataType');
						let isVersionGrouped = this.get('isVersionGrouped');
						let selectedItem = this.get('selectedItem');
						let breakdown = this.get('breakdown');
						let period = this.get('period');
						let country = this.get('country');

						http.fetchTopPlatformBrowserStats(topDataType, isVersionGrouped, period, selectedItem, breakdown, country).then((response) => {
							this.set('topList', this.processFetchedData(response));
						});
					}
				});

				this.observe('pageLimit', () => {
					this.set('page', 1);
				}, { init: false });
			}
		},
		processFetchedData (data) {
			let topDataType = this.get('topDataType');
			let breakdown = this.get('breakdown');
			let selectedItem = this.get('selectedItem');

			data = data.map((one, index) => {
				let result = {
					index,
					name: one.name,
					version: one.version,
					share: one.share,
					displayName: '',
				};

				Object.keys(one).forEach((key) => {
					if (key === 'share' || key === 'prev' || key === 'links') {
						return;
					}

					// set name
					if (key === 'country') {
						let country = countries.find(country => country.code === one[key]);
						result.displayName += country?.name + ' ';
					} else if (key === 'versionName') {
						result.displayName += `(${one[key]}) `;
					} else {
						result.displayName += one[key] + ' ';
					}

					// set icon
					if (selectedItem) {
						switch (breakdown) {
							case 'platforms':
								result.icon = `/platforms/${one[key]}@2x.png`;
								break;
							case 'versions':
								result.icon = topDataType === 'platform' ? `/platforms/${selectedItem.name}@2x.png` : `/browsers/${selectedItem.name}@2x.png`;
								break;
							case 'countries':
								result.icon = `/flags/${one[key]}.svg`;
								break;
						}
					} else {
						if (key === 'name') {
							result.icon = topDataType === 'platform' ? `/platforms/${one[key]}@2x.png` : `/browsers/${one[key]}@2x.png`;
						}
					}
				});

				result.displayName = result.displayName.trim();
				result.changes = _.calculateGrowth(one.share, one.prev.share);

				return result;
			});

			return data;
		},
		prevPage () {
			let page = this.get('page');

			this.set('page', page > 1 ? page - 1 : page);
		},
		nextPage () {
			let page = this.get('page');
			let pageLimit = parseInt(this.get('pageLimit'));
			let total = this.get('topList').length;

			this.set('page', page * pageLimit + 1 > total ? page : page + 1);
		},
		handleBreakdownSelect (idx, isDisabled) {
			if (isDisabled) { return; }

			this.set('breakdownIdx', idx);
		},
		toSignedPercentage (num) {
			return `${num > 0 ? '+' : ''}${num}%`;
		},
	};
</script>
