<div class="version-dropdown">
	{{#if versions.length > 1}}
		<div class="version-dropdown_selected" on-click="@this.toggleDropdown()">
			<a>{{version}}</a>
			<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/chevron-down.svg" loading="lazy"/>
		</div>

		<div class="version-dropdown_wrapper {{#if dropdownOpened}}opened{{/if}}">
			<div class="version-dropdown_wrapper_filter">
				<img width="20" height="20" src="{{@shared.assetsHost}}/img/icons/magnifier.svg">
				<input value="{{filterBy}}">
			</div>

			<div class="version-dropdown_wrapper_list">
				{{#each filteredVersions}}
					{{#if this !== version}}
						<div class="version-dropdown_wrapper_list_item" on-click="@this.selectItem(this)">
							{{this}}
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	{{else}}
		<span class="version-dropdown-selected-version">
			<a>{{version}}</a>
		</span>
	{{/if}}
</div>

<script>
	component.exports = {
		computed: {
			filteredVersions () {
				let filterBy = this.get('filterBy');
				let versions = this.get('versions');

				if (filterBy) {
					return versions.filter(v => v.includes(filterBy));
				}

				return versions;
			},
		},
		data () {
			return {
				dropdownOpened: false,
			};
		},
		oncomplete () {
			if (!Ractive.isServer) {
				// close dropdown and clear filter on click outside the dropdown el
				document.addEventListener("click", (event) => {
					let el = this.find('.version-dropdown');
					let currDropdownOpened = this.get('dropdownOpened');

					if (currDropdownOpened && !el.contains(event.target)) {
						this.set('filterBy', null);
						this.set('dropdownOpened', false);
					}
				});
			}
		},
		toggleDropdown () {
			this.set('dropdownOpened', !this.get('dropdownOpened'));
		},
		selectItem (version) {
			this.toggleDropdown();
			this.set('version', version);
		},
	};
</script>
