.p-purge {
	font-family: Lexend, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

	.heading {
		display: flex;
		flex-direction: column;
		align-items: center;

		.page-title {
			font-weight: 600;
			font-size: 32px;
			line-height: 44px;
			letter-spacing: .2px;
			color: #fff;
			margin: 62px 0 16px;
		}

		.subtitle {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			line-height: 26px;
			color: #fff;
		}

		.error {
			color: @alert-danger-text;
			margin-top: 14px;
		}

		.purge-form {
			display: flex;
			flex-wrap: wrap;
			width: 1014px;
			height: 248px;
			padding: 48px;
			background: #fff;
			box-shadow: 0 4px 4px rgba(23, 35, 59, .06), 0 0 1px 1px rgba(23, 35, 59, .11), 0 10px 22px -2px rgba(23, 35, 59, .08);
			border-radius: 8px;
			margin-top: 80px;

			textarea {
				margin-right: 48px;
				resize: none;
				width: 758px;
				height: 60px;
				padding: 10px 16px;
				background: #fff;
				border: 1px solid #cfd6dd;
				box-sizing: border-box;
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #79849a;

				&.loading {
					border-color: @brand-success;
				}
			}

			>a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 112px;
				height: 40px;
				background: #f65128;
				border-radius: 6px;
				font-size: 14px;
				line-height: 20px;
				color: #fff;
				text-decoration: none;

				&.loading {
					background-color: @brand-success;
					border-color: @brand-success;
				}

				.load-animation {
					margin: 0 auto;
					width: 22px;
					height: 22px;
					border-radius: 50%;
					background: transparent;
					background: linear-gradient(24deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
					position: relative;
					animation: spin 1.4s infinite linear;
					transform: translateZ(0);

					&:before {
						width: 50%;
						height: 50%;
						background: rgba(255, 255, 255, .3);
						border-radius: 100% 0 0;
						position: absolute;
						top: 0;
						left: 0;
						content: "";
					}

					&:after {
						background: @brand-success;
						width: 66%;
						height: 66%;
						border-radius: 50%;
						content: "";
						margin: auto;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
					}
				}
			}

			.g-recaptcha {
				margin-top: 16px;
			}
		}
	}

	.results {
		table {
			margin: 40px auto 80px;
			width: 100%;
			max-width: 800px;
			position: relative;

			td, th {
				padding: 10px 20px;
				width: 50%;
				display: inline-block;
			}

			tr:nth-of-type(even) {
				background-color: #efefef;
				border-radius: 6px;
			}

			.failed, .success {
				font-size: 16px;
				position: relative;
				top: 1px;
				padding-right: 6px;
			}

			.failed {
				color: @brand-danger;
			}

			.success {
				color: @brand-success;
			}
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}
