include partials/header
.container(ng-if='lib')
  .panel.panel-detail
    .panel-heading
      .pull-right
        ul.panel-links
          li
            a(ng-href='{{lib.homepage}}', ng-class='{disabled: !lib.homepage}', title='Homepage').panel-btn
             i.fa.fa-home
          li
            a(ng-href='{{lib.github}}', ng-class='{disabled: !lib.github}', title='Github').panel-btn
              i.fa.fa-github
          li
            a(ng-href='{{zip_url()}}', title='Download Zip').panel-btn
             i.fa.fa-download
          li
            .dropdown.dropdown-menu-left
              a(href='').dropdown-toggle.panel-btn {{lib.selected_version}} #[i.fa.fa-caret-down]
              ul.dropdown-menu
                li(ng-repeat='version in lib.versions')
                  a(ng-href='/library/{{lib.name}}?version={{version}}', ng-click='select_version(version)') {{version}}
      .name {{lib.name}}
    .panel-body
      p {{lib.description}}

    ul.list-group
      li.list-group-item(ng-repeat='file in lib.assets[lib.selected_version].files')
        .input-group
          input(type='text', ng-value='file_url()', readonly, select-on-click).form-control.copy-url
          span.input-group-btn
            span(di-clip, data-clipboard-text="{{file_url()}}", tooltip='{{tooltip}}', tooltip-placement='left').btn.btn-default: i.fa.fa-copy
            a(href='', tooltip='Add to Collection').btn.btn-default: i.fa.fa-plus
