include partials/header
.container-fluid.detail-page
  h1 {{lib.name}} #[small {{lib.author}}]
  ul.list-inline
    li
      a(ng-href='{{lib.homepage}}', ng-class='{disabled: !lib.homepage}'): i.fa.fa-home.fa-2x
    li
      a(ng-href='{{lib.github}}', ng-class='{disabled: !lib.github}'): i.fa.fa-github-square.fa-2x
    li
      a(ng-href='{{zip_url()}}', title='Download Zip'): i.fa.fa-download.fa-2x
  p {{lib.description}}
  .panel.panel-default.clearfix
    .pull-right
      select(ng-model='lib.selected_version', ng-options='version for version in lib.versions', style='margin: 6px;')
    .panel-heading #[b CDN Files] (#[a(href='https://github.com/jsdelivr/jsdelivr#load-multiple-files-with-single-http-request') mainfile]:{{lib.mainfile}})
    ul.list-group
      li.list-group-item(ng-repeat='file in lib.assets[lib.selected_version].files')
        .input-group
          input(type='text', ng-value='file_url()', readonly, select-on-click).form-control.copy-url
          span.input-group-btn
            span(di-clip, data-clipboard-text="{{file_url()}}", tooltip='{{tooltip}}', tooltip-placement='left').btn.btn-default: i.fa.fa-copy
