nav.navbar.navbar-default
  .container-fluid
    a.navbar-brand.logo(href='')
      img(src='/img/jsdelivr-logo.png')

    ul.nav.navbar-nav.navbar-right.sponsors
      li: a(href='http://tracking.maxcdn.com/c/47243/36539/378'): img(src='/img/maxcdn.png', alt='Maxcdn')
      li: a(href='https://www.cloudflare.com/'): img(src='/img/sponsors/Cloudflare.png', alt='Cloudflare')
      li: a(href='http://www.cedexis.com/'): img(src='/img/sponsors/cedexis.png', alt='Cedexis')

.container-fluid
  .form-group.search
    input(type='search', placeholder='Search', ng-model='search', ng-change="select('q', search)").form-control
    small
      | Realtime search provided by&nbsp;
      a(href=''): img(src='/img/algolia128x40.png', height='15px', alt='Algoli Realtime Search')

.container-fluid(ng-if='hits')
  div Showing #[b {{info.start}}] - #[b {{info.stop}}] of #[b {{info.total}}] Results #[small.text-muted ({{info.time}}ms)]
  table.table.table-striped
    thead
      tr
        th Name
        th Description
        th Latest Version
    tbody
      tr(ng-repeat='lib in hits')
        td: a(ui-sref='detail(lib)', ng-bind-html='lib._highlightResult.name.value')
        td.text-justify {{lib.description}}
        td.text-right {{lib.lastversion}}

  ul.pager
    li.previous(ng-class='{ disabled: !page.hasPrev }')
      a(href='', ng-disabled='!page.hasPrev', ng-click='select_page(page.prev)') #[i.fa.fa-arrow-left] Previous Page
    li.next(ng-class='{ disabled: !page.hasNext }')
      a(href='', ng-disabled='!page.hasNext', ng-click='select_page(page.next)') Next Page #[i.fa.fa-arrow-right]
.container-fluid(ng-if='hits.length == 0')
  .text-center
    p No Results
    a(href='', ng-click='reset()') Reset

.container-fluid(ng-if='!hits')
  .text-center Loading...
