include partials/header

.container
  .form-group.search
    input(type='search', placeholder='Search', ng-model='search', ng-change="select('q', search)").form-control.input-lg
    small
      | Realtime search provided by&nbsp;
      a(href=sponsors.algolia.home): img(src=sponsors.algolia.img, height='15px', alt=sponsors.algolia.name)

.container(ng-if='hits')
  .panel.panel-default
    .panel-heading Showing #[b {{info.start}}] - #[b {{info.stop}}] of #[b {{info.total}}] Results #[small.text-muted ({{info.time}}ms)]
    table.table.table-striped
      tbody
        tr(ng-repeat='lib in hits')
          td
            h4
              a(ui-sref='detail(lib)', ng-bind-html='lib._highlightResult.name.value')
              small @{{lib.lastversion}}
            p {{lib.description}}
          td
            .github-btn
              a.btn(href='#', target='_blank')
                i.fa.fa-github
                | &nbsp;Star
              .gh-count {{lib.gh.stargazers_count}}

  ul.pager
    li.previous(ng-class='{ disabled: !page.hasPrev }')
      a(href='', ng-disabled='!page.hasPrev', ng-click='select_page(page.prev)') #[i.fa.fa-arrow-left] Previous Page
    li.next(ng-class='{ disabled: !page.hasNext }')
      a(href='', ng-disabled='!page.hasNext', ng-click='select_page(page.next)') Next Page #[i.fa.fa-arrow-right]

.container(ng-if='hits.length == 0')
  .text-center
    p No Results
    a(href='', ng-click='reset()') Reset

