navbar.navbar-default.navbar-fixed-top
  .container
    a.navbar-brand.logo(href='')
      img(src='/img/jsdelivr-logo.png')
    form.navbar-form.navbar-left
      .form-group
        input(type='search', placeholder='Search', ng-model='search', ng-change="select('q', search)").form-control
.navbar-push
.container-fluid(ng-if='hits')
  div Showing #[b {{info.start}}] - #[b {{info.stop}}] of #[b {{info.total}}] Results #[small.text-muted ({{info.time}}ms)]
  table.table.table-striped
    thead
      tr
        th Name
        th Description
        th Latest Version
    tbody
      tr(ng-repeat='lib in hits')
        td: a(ui-sref='detail(lib)', ng-bind-html='lib._highlightResult.name.value')
        td.text-justify {{lib.description}}
        td.text-right {{lib.lastversion}}

  ul.pager
    li.previous(ng-class='{ disabled: !page.hasPrev }')
      a(href='', ng-disabled='!page.hasPrev', ng-click='select_page(page.prev)') #[i.fa.fa-arrow-left] Previous Page
    li.next(ng-class='{ disabled: !page.hasNext }')
      a(href='', ng-disabled='!page.hasNext', ng-click='select_page(page.next)') Next Page #[i.fa.fa-arrow-right]
.container-fluid(ng-if='hits.length == 0')
  .text-center
    p No Results
    a(href='', ng-click='reset()') Reset

.container-fluid(ng-if='!hits')
  .text-center Loading...
